[2017-01-11 14:09] alexandra-gsoftware commented on #3903
ой, в этом гитхабе еще и лайки есть. Ужас.

[2017-01-11 17:42] ShlTanya commented on #3878
Поле "Кол-во десятичных знаков" отсутствует как в системных полях, так и в ПИ.

[2017-01-11 17:57] alexandra-gsoftware commented on #3878
может, оно добавлено для конкретного клиента?
@NikolayUkleyko , на какой БД ты смотришь?

[2017-01-11 18:45] alexandra-gsoftware opened #3905 "удаление объекта, на который есть ссылки, при установке ПИ"
Только что столкнулась с такой ситуацией. Грузится ПИ. Гедымин пытается удалить какой-то устаревший объект. Вылазит окошко, говорящее, что на объект ссылаются другие объекты. Там же список этих ссылок, с возможностью их  удалить. Удаляю их. Остается висеть само окошко с пустым списком зависимостей. Сам объект удалить из него нельзя.  Если бы я удаляла объект из его формы просмотра, то я бы закрыла

[2017-01-11 19:41] gsbelarus commented on #3905
Не только можно, но и нужно.

On Jan 11, 2017 9:45 PM, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-01-12 08:44] NikolayUkleyko commented on #3905
@alexandra-gsoftware , это случаем не Береза МКК и ОС ?

[2017-01-12 09:25] NikolayUkleyko commented on #3878
Суть в том, что я изложил материал.
Обсудили.
Потом была выполнена доработка. Кто делал - не знаю.
:smile:

[2017-01-12 10:19] ShlTanya commented on #3878
На текущий момент в этом есть неоходимость??

[2017-01-12 11:30] NikolayUkleyko commented on #3878
Да.
Надо сделать качественно.

[2017-01-12 11:36] gsbelarus commented on #3878
@shltanya
http://gsbelarus.com/gs/wiki/index.php/%D0%9C%D0%BE%D0%B4%D0%B8%D1%84%D0%B8%D0%BA%D0%B0%D1%86%D0%B8%D1%8F_%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%82%D1%83%D1%80%D1%8B_%D0%B1%D0%B0%D0%B7%D1%8B_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85

On Jan 12, 2017 2:30 PM, "NikolayUkleyko" <notifications@github.com> wrote:

[2017-01-12 13:44] alexandra-gsoftware commented on #3905
да, именно))

[2017-01-12 15:18] alexandra-gsoftware commented on #3830
Сегодня повторилось у меня и Жанны. Исчезла половина путей((

[2017-01-12 15:45] NikolayUkleyko commented on #3830
Спросите, Мишу Васильева - может он подскажет.

[2017-01-12 16:03] NikolayUkleyko commented on #3732
Выполнена доработка.

На Windows 10 работает.
На Windows 7 не работает.

[2017-01-12 16:57] gsbelarus commented on #3830
Databases.ini локально лежит или где-то в сети?

On Jan 12, 2017 18:45, "NikolayUkleyko" <notifications@github.com> wrote:

[2017-01-12 17:01] alexandra-gsoftware commented on #3830
локально

[2017-01-13 12:16] gsbelarus opened #3906 "Интервал дат для ТП"
1. Добавить в **AT_TRRECORD** два необязательных поля ссылки на таблицу **GD_CONST**: cdbkey, cdekey. Добавить поля в соответствующее диалоговое окно.
2. Первое -- дата начала действия типовой проводки. Второе -- дата окончания.
3. Дата берется из поля **documentdate** записи, для которой формируется проводка. Т.е. для сложного докумена, для шапки -- берется из записи шапки. Для каждой позиции --

[2017-01-13 12:36] MIchaelShoihet commented on #3906
А зачем ссылка на константу? Может просто период в типовую проводку добавить? Не усложняем ли мы этим? Я если честно даже не совсем представляю как будет это использоваться?

[2017-01-13 12:42] gsbelarus commented on #3906
Некоторые говорят что без этого прямо невозможно жить.

ТП, зависящих от даты может быть много, поменял в одной константе и везде отразилось сразу.

[2017-01-13 13:08] MIchaelShoihet commented on #3906
Посовещались и решили все-таки просто добавить дату начала и дату окончания в таблицу AC_TRRECORD. Все остальное как описано выше можно делать.

[2017-01-13 13:10] ShlTanya commented on #3906
Принято

[2017-01-14 21:40] ShlTanya commented on #3906
Можно ли уточнить, что Вы имеете в виду под понятием "сложный документ" :
- документ, имеющий 1 "детайл", а позиции - это строки в документе-позиции
или
- документ, имеющие несколько детайлов.

[2017-01-15 04:31] gsbelarus commented on #3906
Шапка и несколько позиций (в частном случае может быть и ноль, и одна).

[2017-01-16 07:46] NikolayUkleyko commented on #3906
Необходимо уточнить следующее.

1.

Если оба поля не заполнены, то ТП проводка формируется (если она не отключена).
Если заполнено только поле cdbkey, проводка формируется начиная с указанной даты.
Если заполнено только поле cdekey, проводка формируется до указанной даты.

На практике достаточно одного поля **Дата**. Обычно, с даты >= действует такой-то набор проводок (новый), иначе - другой (преж

[2017-01-16 08:05] NikolayUkleyko commented on #3896
@ShlTanya , хорошо бы и это реализовать.

[2017-01-16 08:11] NikolayUkleyko commented on #3889
Пожалуйста, посмотреть можно, подключившись на удаленный рабочий стол **Береза МКК**.

[2017-01-16 08:17] ShlTanya commented on #3906
1. Обычно - не значит всегда. А вдруг надо будет реализовать ситуацию.. когда совсем не проводятся проводки.
2. Достаточно кнопки Провести проводки по документам.

[2017-01-16 08:18] gsbelarus commented on #3906
Делаем **ДВЕ ДАТЫ**. Как описано в постановке.

[2017-01-16 08:23] gsbelarus commented on #3906
Единственная корректировка, которую внесли -- вместо ссылок на константы две непосредственных даты.

Поля:

[code]

Хотя, я считаю, что вариант с константами более гибок и позволит группе ТП назначить период и легко менять его в одном месте, вместо того, чтобы лазить по каждой ТП и менять для нее одной.

[2017-01-16 08:26] gsbelarus commented on #3889
У нас в офисе повторяется? Какая версия экзешника у них?

[2017-01-16 08:53] NikolayUkleyko commented on #3889
Пробовал моделировать подобное на офисной БД - работает четко и без проблем.

----

На удаленном рабочем столе:
Дата файла           = 14.11.2016
Версия файла         = 2.9.2.8890

[2017-01-16 09:06] AliakseiDanilchyk commented on #3889
Полоса прокрутки появится, если подвигать границу между проводником и редактором функции

[2017-01-16 09:57] NikolayUkleyko commented on #3889
Пробовали такое. Не всегда помогает и полоса прокрутки может снова скрыться.
По итогу это нездоровое явление, которое следует полностью устранить.

[2017-01-17 08:45] gsbelarus commented on #3871
Новым экзешником переформировать код.

[2017-01-17 08:45] #3871 closed, assigned to ShlTanya

[2017-01-17 13:26] alexandra-gsoftware commented on #3871
все проводки перекомпилировать, или какие-то конкретные?

[2017-01-17 13:33] YRozmysl commented on #3871
у меня, например, такое было в одной, которую заметили бухгалтера, сколько их и есть ли еще не знаю даже.

[2017-01-17 13:34] alexandra-gsoftware commented on #3871
ок, тогда чуть позже перекомпилирую все....

[2017-01-17 14:49] NikolayUkleyko commented on #3871
Только, ЗП и ОК ?

[2017-01-17 15:00] alexandra-gsoftware commented on #3871
нет, всё что в эталоне

[2017-01-17 15:13] NikolayUkleyko commented on #3871
Хорошо.
Их там немало, но и нельзя сказать, что огромное множество.

[2017-01-18 09:47] gsbelarus commented on #3906
Берите новейший экзешник. Тестируйте.

[2017-01-18 09:47] #3906 closed, assigned to ShlTanya

[2017-01-18 12:48] kovli commented on #3860
После подключения к базе новым EXE (18.01.2017) эти поля (amount и value) не появились. Их нужно добавлять вручную или все-таки это будет сделано централизовано в процессе модификации структуры базы?

[2017-01-18 12:54] gsbelarus commented on #3860
Это еще в работе. На днях будет.

On Jan 18, 2017 15:48, "kovli" <notifications@github.com> wrote:

[2017-01-18 13:32] NikolayUkleyko commented on #3860
Добавлю, что по этой тематике есть еще документ *Исследователь / Бухгалтерия / Взаиморасчеты / Перевод валют*.
Он позволяет отражать *погашение* задолженности в валюте отличной от валюты *возникновения* задолженности.

[2017-01-18 16:42] NikolayUkleyko opened #3907 "Общее. Ограничить одновременное подключение к БД с gedemin.exe разных версий"
На практике довольно часто встречаются ситуации, когда к одной БД пользователи подключаются с разных gedemin.exe.
Это они могут делать по незнанию и потому, что местные специалисты корректно не настроили всем пользователям работу с **единого** gedemin.exe.
Порой это может привести к некоторым поломкам в БД (интервальные деревья) и другим нежелательным последствиям.

Для решения данного вопроса пре

[2017-01-18 16:43] YRozmysl commented on #3907
Полностью поддерживаю.

[2017-01-18 16:51] alexandra-gsoftware commented on #3907
да.

[2017-01-18 17:26] ShlTanya commented on #3878
Куда на форме добавить новое поле "Кол-во десятичных зн.", так чтобы не возникло наложение с уже добавленными полями пользователей.
И что будет с конфигурациями, где это поле уже создано как пользовательское.

[2017-01-18 17:36] gsbelarus commented on #3878
А где оно создано как пользовательское?

Я таких не видел баз.

On Jan 18, 2017 8:26 PM, "ShlTanya" <notifications@github.com> wrote:

[2017-01-18 17:40] ShlTanya commented on #3878
1-й скриншот
И поле "Код для электр. документов" тоже не системное, но есть комплексной конфигурации, например.

[2017-01-18 17:43] MIchaelShoihet commented on #3878
Раз в стандартных настройках нет этого поля, то это будет локальная проблема конкретного клиента и будет решена в частном порядке. Об этом можно не волноваться.

[2017-01-18 17:46] gsbelarus commented on #3878
Выше я вижу поле Код для электронного документа. Это случайно не ЭСЧФ?

On Jan 18, 2017 8:43 PM, "MIchaelShoihet" <notifications@github.com> wrote:

[2017-01-18 17:52] ShlTanya commented on #3878
Код электронного документа есть в ПИ, значит м.б. у многих

[2017-01-18 17:53] gsbelarus commented on #3878
Это плохо. В каком пи?

On Jan 18, 2017 8:52 PM, "ShlTanya" <notifications@github.com> wrote:

[2017-01-18 17:53] gsbelarus commented on #3878
Надо было и его в гедымине делать.

On Jan 18, 2017 8:53 PM, "AK" <gs1994@gmail.com> wrote:

[2017-01-18 17:54] ShlTanya commented on #3878
GS.Общее.Единицы измерения

[2017-01-18 18:13] gsbelarus commented on #3878
Надо разобраться. Где то же это поле используется. Надо найти автора. Пока
делать другой вопрос.

On Jan 18, 2017 8:54 PM, "ShlTanya" <notifications@github.com> wrote:

[2017-01-18 18:14] ShlTanya commented on #3878
хорошо.. пока это отложила

[2017-01-18 19:24] alexandra-gsoftware commented on #3878
есть 2 кода: для электронных документов и для ЭСЧФ. В розничной торговле есть еще свои коды для ед.изм., т.е. везде в GD_VALUE есть юзерские поля, как и в GD_GOOD, и в GD_DOCUMENT, и в GD_CONTACT.

[2017-01-18 19:59] aer1k commented on #3878
Код для электронных документов -- не моё.
Код для ЭСЧФ - моё.

[2017-01-18 20:39] alexandra-gsoftware commented on #3878
Код для электронных документов - моё.

[2017-01-19 07:55] ShlTanya commented on #3834
NikolayUkleyko можно ли уточнить.. данная ситуация появляется Всегда при переходе на проводку (в больших базах) или только при первом вызове данной функции.
И можно ли как то получить копию такой базы.. На имеющейся у меня проблемы не увидела.

[2017-01-19 08:02] NikolayUkleyko commented on #3878
В справочник единиц измерения я ничего не добавлял.
Я делал постановку задачи, а кто-то ее реализацию. Неизвестно.
Надо сделать едино и верно: требуемые поля создать на уровне gedemin.exe, а дублирующиеся поля удалить.

[2017-01-19 08:18] NikolayUkleyko commented on #3834
Привет, @ShlTanya !

Всегда.

Смотреть это лучше на больших БД.
Размер которых зашкаливает за 100 Гб.
На офис и скинуть на внешний HDD.

[2017-01-20 10:58] NikolayUkleyko opened #3908 "Общее. После отмены глобальной блокировки данных и ее активации не сохраняется дата блокировки (Q)"
**Сервис / Параметры / Аудит и безопасность**.

После отмены глобальной блокировки данных и ее активации не сохраняется до этого веденная дата блокировки.
По умолчанию дата становится равной 10.10.2003. ???
В случае временного отключения блокировки это крайне неудобно.

![2017-01-20_135428](https://cloud.githubusercontent.com/assets/11497453/22147123/42beb44c-df18-11e6-80c0-8ab0bcb9fdd3.png)

[2017-01-24 13:13] YRozmysl opened #3909 "Ошибка модифая на СМК новым exe"
На тестовой базе СМК при модифае последним exe  возникает ошибка
![default](https://cloud.githubusercontent.com/assets/11507129/22248522/fee755c2-e24f-11e6-8dc3-41b04864be53.jpg)

[2017-01-24 13:19] gsbelarus commented on #3909
А точно под 3 фб идет модифай?

On Jan 24, 2017 4:13 PM, "Yury Rozmysl" <notifications@github.com> wrote:

[2017-01-24 13:29] YRozmysl commented on #3909
Странно, судя по всему тот exe, который у их на рабочем столе запускается под 2.5  Возможно из-за этого и проблема.

[2017-01-24 14:40] YRozmysl commented on #3909
На Гомельобоях тестовой тоже самое, и  тоже модифай идет  под 3 фб

[2017-01-25 06:48] kovli commented on #3860
Попробовал как работает новая функция. System.GetCurrRate. Загрузил курсы валют по 24.01.2017 включительно. USD, EUR.  Взял предложенный пример
 ' Курс Доллара США в белорусских рублях
 ' MsgBox System.GetCurrRate(Date, 31, -1, 200020, 200010, -1, 1, False, False, False)
Все работает, выдает курс USD на 24.01.2017. Потом решил перевести 10000 BYN в USD.
MsgBox System.GetCurrRate(Date, 31, -1, 2000

[2017-01-25 07:01] kovli commented on #3860
Скажу больше. Задать курс BYN по отношению к BYN тоже не получится. Триггер на дает.

[2017-01-25 09:23] gsbelarus commented on #3860
естественно, у вас в базе нет курса рубля к доллару. Поставьте параметр UseInverted = True и система, если не найден курс из одной валюты в другую, попытается найти обратный курс и разделить единицу на него. Это в документации описано.

[2017-01-25 10:40] kovli commented on #3860
С параметром UseInverted согласен. Не дочитал. Но, вот нужно перевести 1 рос.рубль в доллар США.
Если обратиться так
MsgBox System.GetCurrRate(Date, 31, -1, 200050, 200020, -1, 1, True, True, True)
то кинет ошибку: не найден курс. Если обратиться вот так (указали валюту кросс-курса)
MsgBox System.GetCurrRate(Date, 31, -1, 200050, 200020, 200010, 1, True, True, True),
то все нормально.
А если надо

[2017-01-25 13:38] gsbelarus commented on #3860
Значит так:

1. Я переписал процедуру загрузки курсов. Теперь работает быстро и подхватывает параметр Scale так, как его задает НацБанк.

http://gsbelarus.com/gs/wiki/index.php/%D0%97%D0%B0%D0%B3%D1%80%D1%83%D0%B7%D0%BA%D0%B0_%D0%BA%D1%83%D1%80%D1%81%D0%BE%D0%B2_%D0%B2%D0%B0%D0%BB%D1%8E%D1%82_%D1%81_%D1%81%D0%B0%D0%B9%D1%82%D0%B0_%D0%9D%D0%91%D0%A0%D0%91_(XML)

2. Надо обновить экзешник.

3. Прове

[2017-01-25 13:38] #3860 closed, assigned to gsbelarus

[2017-01-25 15:43] gsbelarus commented on #3860
В данном случае цифры условные. И, пожалуйста, имейте совесть, заключите хотя бы минимальный договор на абонентское сопровождение на вашем предприятии. Так совсем некрасиво получается...

[2017-01-25 15:45] gsbelarus commented on #3878
Пока ничего не делать по этому вопросу.

[2017-01-25 15:48] #3849 closed, assigned to gsbelarus, stasgm, MIchaelShoihet, ilonaand

[2017-01-25 15:59] YRozmysl commented on #1685
можно закрывать

[2017-01-25 16:00] YRozmysl commented on #1763
закрывайте

[2017-01-25 16:01] YRozmysl commented on #1890
закрывайте

[2017-01-25 16:01] YRozmysl commented on #2052
закрывайте

[2017-01-25 16:01] YRozmysl commented on #2582
закрывайте

[2017-01-25 16:02] YRozmysl commented on #2594
закрывайте

[2017-01-25 16:03] YRozmysl commented on #3343
это я не знаю, имеет ли актуальность. Едва ли..

[2017-01-25 16:03] YRozmysl commented on #3436
закрывайте

[2017-01-25 16:04] YRozmysl commented on #3485
касаемо зп  , все сделано, остального не знаю

[2017-01-25 16:04] YRozmysl commented on #3529
закрывайте

[2017-01-25 16:05] YRozmysl commented on #3537
закрывайте

[2017-01-25 16:05] YRozmysl commented on #3332
Это вопрос НОМЕР ОДИН среди всех. Пусть еще повисит

[2017-01-25 17:32] #1685 closed, assigned to gsbelarus

[2017-01-25 17:33] #1763 closed, assigned to gsbelarus

[2017-01-25 17:33] #1890 closed, assigned to gsbelarus

[2017-01-25 17:33] #2582 closed, assigned to gsbelarus

[2017-01-25 17:33] #2594 closed, assigned to gsbelarus

[2017-01-25 18:35] #3537 closed, assigned to gsbelarus

[2017-01-25 18:35] #2052 closed, assigned to gsbelarus

[2017-01-25 18:35] #3485 closed, assigned to gsbelarus

[2017-01-25 18:36] #3343 closed, assigned to gsbelarus

[2017-01-25 18:59] #3529 closed, assigned to gsbelarus

[2017-01-25 18:59] #3436 closed, assigned to gsbelarus

[2017-01-25 19:02] YRozmysl commented on #1892
закрываем

[2017-01-25 19:17] #1892 closed, assigned to gsbelarus

[2017-01-27 09:37] gsbelarus commented on #3834
Тогда ясно. Проблема, что фильтры неправильно реализованы. Они подключаются в цепочке операций конструктора и влезть туда возможно, не придумав какой-то костыль. По хорошому, они должны активироваться позже формы и через посылку сообщения. Но... что есть то есть. Вариант с новым конструктором плох тем, что любой другой код про этот конструктор ничего не знает....

Я переделал через глобальный флаг

[2017-01-27 10:24] ShlTanya commented on #3834
Единственное, у Вас после открытия проводок из документа при вызове  Журнала из Исследователя не применяется последний фильтр..

[2017-01-27 10:35] gsbelarus commented on #3834
а так?

[2017-01-27 10:41] ShlTanya commented on #3834
А так хорошо

[2017-01-27 12:39] ShlTanya commented on #3900
Кнопка Удалить активна при выполнении условий:
1. Кол-во проводок  больше 1
и
2. Сумма по проводке = 0 (пусто)

[2017-01-27 12:42] MIchaelShoihet commented on #3900
Так и было задумано. Возможно удалить только сложную часть проводки

[2017-01-30 06:11] YRozmysl opened #3910 "Ошбка в Control Center при синхронизации"
При синхронизации ПИ (не загрузки) сразу возникает ошибка на новом exe.
Повторить можно просто, выбрав, например, D:\golden\gedemin-apps\  и нажать синхронизация.
![1](https://cloud.githubusercontent.com/assets/11507129/22413822/049e9ffe-e6cc-11e6-86a2-1080129a32d6.jpg)

[2017-01-30 06:57] NikolayUkleyko commented on #3910
На Береза МКК аналогичная ошибка при загрузке ПИ по ОС.
По итогу ПИ установлены успешно.

[2017-01-30 06:58] YRozmysl commented on #3910
Да, на установку это не повлияет, просто это окно вываливается каждый раз когда грузится очередное пи

[2017-01-30 06:59] gsbelarus commented on #3910
Сейчас гляну.

On Jan 30, 2017 08:58, "Yury Rozmysl" <notifications@github.com> wrote:

[2017-01-30 06:59] YRozmysl commented on #3910
Если грузит пакетом, то она раз 50 будет (50 пространств)

[2017-01-30 07:58] NikolayUkleyko commented on #3900
Проверено.
Так и есть.

[2017-01-30 07:58] #3900 closed, assigned to MIchaelShoihet, ShlTanya

[2017-01-30 08:10] ShlTanya commented on #3902
Выполнено

[2017-01-30 09:39] #3910 closed, assigned to gsbelarus

[2017-01-30 13:26] alexandra-gsoftware opened #3911 "перемещение объектов из одного пи в другое"
мы можем в форме просмотра ПИ выделить несколько позиций, нажать "редактировать" и выбрать другое ПИ. Можно ли сделать так, чтобы в новое ПИ они переместились в том порядке, в каком следуют в исходном ПИ (т.е. в соответствии с objectpos) ?

[2017-01-30 13:28] NikolayUkleyko commented on #3834
Проверено.
В первом приближении работает корректно.
Тему, пока, не закрываем.
Поживем - увидим.

[2017-01-30 13:36] YRozmysl commented on #3911
Да, такая некорректность имеет место быть. Хорошо, что есть отчет неверных последовательностей в котором  неверные последовательности сразу и обнаружились.

[2017-01-31 05:34] gsbelarus commented on #3911
Я могу при переносе группы объектов сохранять их относительный порядок и
помещать в конец списка в новом пи. Это имеется ввиду?

On Jan 30, 2017 15:36, "Yury Rozmysl" <notifications@github.com> wrote:

[2017-01-31 05:51] YRozmysl commented on #3911
Это и имелось ввиду

[2017-02-01 14:11] YRozmysl commented on #3909
на вкл новая база смк, можете экспериментировать

[2017-02-01 14:38] NikolayUkleyko commented on #3909
Скорее всего проблема именно в разных версиях FB.

[2017-02-01 15:34] #3909 closed, assigned to nobody

[2017-02-01 15:34] #3911 closed, assigned to gsbelarus

[2017-02-01 16:57] NikolayUkleyko opened #3912 "Бухгалтерия. Отображение нулевых сумм в сложной проводке"
**Исследователь / Бухгалтерия / Журнал-ордер, Карта счета, Анализ счета, Журнал хоз. операций и т. д.**

Например, создана сложная проводка (два и более счета по дебету и один счет по кредиту, или наоборот):

Дт  |  Кт | Сумма
------------ | ------------- | -------------
10....            | 60....              | Сумма без НДС
18....            |                      | Сумма НДС

В случае, если пол

[2017-02-01 17:32] gsbelarus commented on #3904
Я закрою. Так всегда работало. Лишняя проверка потребует выполнение запроса, что скажется плохо на производительности.

[2017-02-01 17:32] #3904 closed, assigned to nobody

[2017-02-01 17:38] #3754 closed, assigned to gsbelarus

[2017-02-01 18:36] stasgm opened #3913 "Пропало свойство FirstColumn у CheckBox грида"
Куда-то пропало свойство FirstColumn у CheckBox грида

В коде использовать нет возможности
![image](https://cloud.githubusercontent.com/assets/8355925/22520562/d9fa8456-e8c5-11e6-9e3f-8b55edc86c05.png)

А в дизайнере есть
![image](https://cloud.githubusercontent.com/assets/8355925/22520586/f0bb7038-e8c5-11e6-9d99-d56bfb355fd9.png)

[2017-02-02 06:51] MIchaelShoihet commented on #3912
Простые проводки с 0 суммами не сохраняются. В сложной проводке сохраняются все ее части, даже с нулями и мне кажется что ничего страшного в этом нет. Более того видно, что проводка формируется правильно.

[2017-02-02 06:52] MIchaelShoihet commented on #3912
Если в сложной проводке общая сумма = 0 то она то же не сохранится. И нигде не будет отображаться

[2017-02-02 07:06] gsbelarus commented on #3913
Не могло пропасть то, чего не было. Но теперь будет.

[2017-02-02 07:06] #3913 closed, assigned to gsbelarus

[2017-02-02 08:01] NikolayUkleyko commented on #3912
Тему закроем.
Но, пожалуйста, еще раз взгляните на нулевые суммы:

![2017-02-02_105438](https://cloud.githubusercontent.com/assets/11497453/22541310/aa1cd02e-e936-11e6-9a4e-de884fd4f5ce.png)

![2017-02-02_105521](https://cloud.githubusercontent.com/assets/11497453/22541311/aa3893ae-e936-11e6-8072-73ef9c724fde.png)

![2017-02-02_105638](https://cloud.githubusercontent.com/assets/11497453/22541312/a

[2017-02-02 09:12] MIchaelShoihet commented on #3912
Я писал про саму проводку. А в отчетах это надо поправить.

[2017-02-02 09:12] MIchaelShoihet commented on #3912
Поэтому открыл еще раз.

[2017-02-02 09:23] PiuPauTralala opened #3914 "Action для SpeedButton"
По клику не заходит в action, привязанный к speedbutton.
Тот же action на BitBtn отлично работает.
Что делаю не так?

[2017-02-02 09:49] gsbelarus commented on #3914
Кинул на форму TSpeedButton. Выбрал Action. Проверяю -- все срабатывает нормально.

[2017-02-02 10:11] NikolayUkleyko commented on #3912
То есть, и в форме Журнала хоз. операций не будут отображаться нулевые значения ?

[2017-02-02 10:13] MIchaelShoihet commented on #3912
Нет в самом журнале будет отображаться, то что есть в базе. А в отчетах нулевые суммы не нужны.

[2017-02-02 10:26] NikolayUkleyko commented on #3912
Отлично.
Тогда, не будем откладывать в долгий ящик данный немаловажный вопрос.

[2017-02-02 10:29] NikolayUkleyko commented on #3912
Попутно можно поправить и это
https://github.com/GoldenSoftwareLtd/gedemin/issues/3896

[2017-02-02 11:20] PiuPauTralala commented on #3914
Значит, глюк какой-то был.

[2017-02-02 11:20] #3914 closed, assigned to nobody

[2017-02-02 12:49] alexandra-gsoftware commented on #3913
вроде было, и из кода доступно было....

[2017-02-02 14:07] alexandra-gsoftware commented on #1667
неактуально

[2017-02-02 14:07] #1667 closed, assigned to gsbelarus

[2017-02-02 14:07] alexandra-gsoftware commented on #1665
неактуально

[2017-02-02 14:07] #1665 closed, assigned to gsbelarus

[2017-02-02 14:07] alexandra-gsoftware commented on #1664
неактуально

[2017-02-02 14:07] #1664 closed, assigned to gsbelarus

[2017-02-02 14:07] alexandra-gsoftware commented on #1663
неактуально

[2017-02-02 14:07] #1663 closed, assigned to gsbelarus

[2017-02-02 14:08] alexandra-gsoftware commented on #1662
неактуально

[2017-02-02 14:08] #1662 closed, assigned to gsbelarus

[2017-02-02 14:08] alexandra-gsoftware commented on #1661
неактуально

[2017-02-02 14:08] #1661 closed, assigned to gsbelarus

[2017-02-02 14:08] alexandra-gsoftware commented on #1588
неактуально

[2017-02-02 14:08] #1588 closed, assigned to gsbelarus

[2017-02-02 14:08] alexandra-gsoftware commented on #1584
неактуально

[2017-02-02 14:08] #1584 closed, assigned to gsbelarus

[2017-02-02 14:08] alexandra-gsoftware commented on #1583
неактуально

[2017-02-02 14:08] #1583 closed, assigned to gsbelarus

[2017-02-02 14:09] alexandra-gsoftware commented on #1582
неактуально

[2017-02-02 14:09] #1582 closed, assigned to gsbelarus

[2017-02-02 14:09] alexandra-gsoftware commented on #1581
неактуально

[2017-02-02 14:09] #1581 closed, assigned to gsbelarus

[2017-02-02 14:09] alexandra-gsoftware commented on #1577
неактуально

[2017-02-02 14:09] #1577 closed, assigned to gsbelarus

[2017-02-02 14:09] alexandra-gsoftware commented on #1576
неактуально

[2017-02-02 14:09] #1576 closed, assigned to gsbelarus

[2017-02-02 14:10] alexandra-gsoftware commented on #1575
неактуально

[2017-02-02 14:10] #1575 closed, assigned to gsbelarus

[2017-02-02 17:20] YRozmysl commented on #3909
На базе гомельобоях тестовой под фб 3.0 при модифае на самом последнем exe вот такие вот вещи
![1](https://cloud.githubusercontent.com/assets/11507129/22560373/62c757cc-e985-11e6-8c19-eca0cbb856f5.jpg)
![2](https://cloud.githubusercontent.com/assets/11507129/22560383/68cbe390-e985-11e6-9041-e4ade9d58e42.jpg)

[2017-02-03 07:50] ShlTanya commented on #3896
Николай. Воспроизвела Вашу ситуацию, описанную в п.1
1. Сальдо на конец декабря по валюте нулевое:
![3896-1](https://cloud.githubusercontent.com/assets/24572314/22583501/fb35e4ba-e9fd-11e6-9107-acd14489f53a.JPG)

2. Журнал-ордер за январь.. не вижу я строку с нулевым сальдо и нулевыми оборотами (если их не было) по валюте:
![3896-2](https://cloud.githubusercontent.com/assets/24572314/22583571/6fb3

[2017-02-03 08:30] NikolayUkleyko commented on #3896
@ShlTanya , сейчас разберемся.

----

Конечно, живое обсуждение вопросов не заменит облачное. :-)

[2017-02-03 08:41] NikolayUkleyko commented on #3896
Почему-то 90 и более % пользователей, кто желает сформировать Журнал-ордер по умолчанию в качестве аналитики выбирают **Месяц**.
Убеждаюсь не первый раз. :smile:

Следует помнить, что есть особенности формирования Журнала-ордера по аналитикам, носящим периодический (временнОй) характер.

----

@ShlTanya , у себя еще раз смоделировал изложенный здесь пример. На новейшем gedemin.exe вопрос не решен.

[2017-02-03 09:11] ShlTanya commented on #3896
![3896-4](https://cloud.githubusercontent.com/assets/24572314/22585553/6f24fa04-ea09-11e6-878b-13175c272e36.JPG)
 А у Вас нет нулевых проводок ??  по валюте

[2017-02-03 09:16] NikolayUkleyko commented on #3896
@ShlTanya , может удаленно могу к тебе подключиться ?

[2017-02-03 11:41] ShlTanya commented on #3896
Мне лучше увидеть на Вашей базе. Можно скрины..

[2017-02-03 13:04] NikolayUkleyko commented on #3896
Для полноты картины в качестве аналитики выбрал:
- Счет;
- Клиент.

![2017-02-03_155926](https://cloud.githubusercontent.com/assets/11497453/22592276/f561ccb2-ea29-11e6-9073-066acaa21984.png)

Отображение сумм **в рублях и и валюте**.
Период: октябрь 2016 г.

----

![2017-02-03_155957](https://cloud.githubusercontent.com/assets/11497453/22592309/2f18875c-ea2a-11e6-8c73-58536b83a98b.png)

Отображен

[2017-02-03 13:28] ShlTanya commented on #3896
И последний вопрос.. что показывает Карта счета по этой строке.

[2017-02-03 13:37] YRozmysl commented on #3895
На последнем фб 3 вопрос решился

[2017-02-03 13:37] #3895 closed, assigned to nobody

[2017-02-03 13:39] YRozmysl commented on #3909
На последнем exe вопрос решился положительно.

[2017-02-03 13:50] NikolayUkleyko commented on #3896
![2017-02-03_164929](https://cloud.githubusercontent.com/assets/11497453/22593671/ca304d5a-ea30-11e6-8eb1-d58abfbe8f78.png)

[2017-02-06 19:19] alexandra-gsoftware opened #3915 "невозможно добавить объект в ПИ"
есть простая таблица с полями USR$CODE, USR$NAME. Оба НЕ имеют атрибут not null.

В таблице есть несколько записей. Поле USR$CODE заполнено, поле  USR$NAME - нет. Выделяем несколько записей, пытаемся добавить в ПИ, получаем ошибку "Internal error."

Пытаемся добавить одну запись в ПИ, получаем ошибку "Поле "OBJECTNAME" ("AT_OBJECT"."OBJECTNAME") должно быть заполнено."

Делаем поле USR$CODE Requir

[2017-02-07 08:10] ShlTanya commented on #3534
Хочется конкретики:
На данный момент:
1. В Плане счетов есть реквизит Аналитика для развернутого сальдо (активен только для активно-пассивного счета), в который можно ввести только 1 значение.
2. Данный реквизит влияет на построение Журнал-ордера из Оборотной ведомости. К самой оборотной ведомости он отношения не имеет.

Что необходимо (как я поняла):
1. Сделать возможность выбора нескольких значе

[2017-02-07 08:18] NikolayUkleyko commented on #3834
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-02-07 08:18] #3834 closed, assigned to MIchaelShoihet, ShlTanya

[2017-02-07 08:24] MIchaelShoihet commented on #3534
Как это к оборотной ведомости не имеет отношение - всегда имело. По счетам по которым указана главная аналитика сальдо строится в разрезе этой аналитики. И оно так работает. Запрос в оборотной ведомости формируется с учетом этой информации. На самом деле - это его главная функциональность (переход в журнал-ордер - это побочная функциональность). А хотят сделать, что бы была возможность указания не

[2017-02-07 08:47] NikolayUkleyko commented on #3534
Полностью согласен с @MIchaelShoihet .

----

Небольшое уточнение.

Какие аналитические признаки будет доступны при выборе значений по аналитике для развернутого сальдо:

**1.** Согласно выбранного перечня общих аналитических признаков.

**2.** Независимо от выбранного перечня общих аналитических признаков.

Я, предполагаю, что согласно пункта 1.

[2017-02-07 08:52] ShlTanya commented on #3534
А можно мне скрин оборотки с учетом главной аналитики. Я не нашла.

[2017-02-07 09:04] MIchaelShoihet commented on #3534
![default](https://cloud.githubusercontent.com/assets/11498750/22684464/885af254-ed2d-11e6-8668-b0d755510d7f.png)

[2017-02-07 09:05] MIchaelShoihet commented on #3534
Посмотрите на счета 60 и 62 по ним есть и дебетовое и кредитовое сальдо. Т.к. оно рассчитано как сумма дебетовых и кредитовых сальдо по клиентам.

[2017-02-07 09:06] MIchaelShoihet commented on #3534
Согласен c @NikolayUkleyko именно 1-й пункт.

[2017-02-07 09:08] ShlTanya commented on #3534
Вот как.. Но сами клиентов не видно. Тогда понятно. Я думала что здесь должна отображаться и сама аналитика.

[2017-02-07 09:09] MIchaelShoihet commented on #3534
Нет. Главная аналитика здесь участвует только для формирования сальдо.

[2017-02-07 09:09] MIchaelShoihet commented on #3534
Она еще используется в главной книге.

[2017-02-07 09:11] ShlTanya commented on #3534
Я видела оборотки, в которых раскрывается и аналитика.

[2017-02-07 09:12] MIchaelShoihet commented on #3534
У нас нет. Для это есть журнал ордер.

[2017-02-07 09:12] ShlTanya commented on #3534
Спасибо. Все понятно.

[2017-02-08 18:01] ShlTanya commented on #3896
Выполнила.

[2017-02-09 15:57] alexandra-gsoftware opened #3916 "Парсер скриптов: Array() vs end sub"
Вот такая конструкция работает:
[code]

И такая - тоже:
[code]

А вот такая
[code]

выдает ошибку:  Синтаксическая ошибка "  End Sub: Call Debugger.SetVariable("FITEMS", FItems)"

[2017-02-09 16:03] alexandra-gsoftware opened #3917 "TSynEdit доступен в редакторе форм, но не в редакторе скриптов"
В редакторе форм в списке компонентов есть страничка SynEdit, но в инспекторе классов нет соответствующих классов. Если на форму добавить один из этих компонентов, то в скриптах он определится как TWinControl

Сделайте плз эти классы доступными и в скриптах.

[2017-02-09 16:19] alexandra-gsoftware opened #3918 "TFilesFrame - можно ли сделать его доступным в скриптах?"
TFilesFrame используется для сравнения текстов (например, на панели истории ф-й).
Сделайте его доступным из скриптов и редактора форм, плз.

[2017-02-13 11:28] gsbelarus opened #3919 "В диалоговых окнах применяются значения ИД удаленных записей"

[2017-02-13 11:33] AliakseiDanilchyk opened #3920 "Ограничение в параметре типа Множество ссылок"
Если в отчет добавлен параметр типа "Ссылка на элемент", то в поле "Таблица" для этого параметра мы можем указать что-то типа
`gd_contact c join gd_contact cp on cp.id = <RUID XID = "147052176" DBID = "2033878884"/>`
При этом все будет работать.
Если что-то подобное сделать для параметра типа "Ссылка на множество", то при попытке заполнить такой параметр в отчете получим ошибку
![error](https://cl

[2017-02-13 12:56] alexandra-gsoftware commented on #3919
ИДшник сохранился после Ctrl + Alt + E в форме.
Да, это известная проблема, лучше вообще не сохранять значение ссылок.

[2017-02-13 13:10] alexandra-gsoftware commented on #3920
Да, для параметра Множество свои правила построения запроса, хитрые и нелогичные. Например, в запросе таблица получает алиас gg1 (не спрашивайте, почему)
Обходится так:
Таблица: gd_contact
Поля: id, name
Условие: ID IN (тут любой запрос)
или
EXISTS( SELECT * FROM GD_CONTACT c......... WHERE c.ID = gg1.ID)

[2017-02-13 13:12] gsbelarus commented on #3919
А где он мог сохраниться по Ctrl + Alt + E? Я имею ввиду в каком свойстве какого компонента?

[2017-02-13 13:13] gsbelarus commented on #3920
Тогда трогать пока ничего не надо. Тронем -- еще перестанет работать то, что работает сейчас.

[2017-02-13 13:16] alexandra-gsoftware commented on #3920
добавьте это в описание paramwindow, плз.

[2017-02-13 13:21] alexandra-gsoftware commented on #3919
Уже не помню, давно такое видела, у меня везде эта галочка снята.
И вот, в примере странно такое: Problematic key value is ("USR$MGAZ_CALCUL" = 21)"
"21" не похоже на идшник, даже удаленный.

[2017-02-13 14:10] stasgm opened #3921 "Скорректировать печатные формы приходного кассового ордера."
1) Как я упоминал в issue #3919, если написано в форме подписи "фио", то выводить фио из полей sure name firsname middlename, а не gd_contact.name.

2) Не влазит в правой части ПКО фио в поле "Принято от", сделать на 2 строки

3) Ставка НДС если отсутствует, то не писать 0%, а ставить прочерк

![image](https://cloud.githubusercontent.com/assets/8355925/22885688/93ed75a0-f20b-11e6-8240-b316f89181b5

[2017-02-14 07:42] ShlTanya commented on #3534
Михаил, помогите разобраться. Я все сделала, но меня смущает :
1 -  оборотная ведомость формируется Всегда с учетом объектов аналитики развернутого сальдо (например, в Главной книге можно выбрать режим)
2 - внутренние функции Гедымина тоже всегда учитывают это, если не указана аналитика.

Это правильно??

И еще. Удалять ли сразу поле analyticalfield из ac_account в пакете с обновлением. Это поле у

[2017-02-14 08:33] NikolayUkleyko commented on #3534
Вставлю свои 5-ть копеек.

Развернутое сальдо имеет силу только для **активно-пассивных счетов**.
В плане счетов можно задать, а можно и не задавать аналитику для активно-пассивных счетов. С учетом этого и будет сформирована оборотная ведомость: развернутой или свернутой.

----

На сколько мне известно алгоритм работы бухгалтерской формы **Оборотная ведомость** базируется на функционале заложенном

[2017-02-14 08:45] ShlTanya commented on #3534
Будет отдельная таблица

[2017-02-14 08:46] MIchaelShoihet commented on #3534
Старое поле вообще удалять не надо. На больших предприятиях возможна работа разных exe поэтому пусть работают. Как правильно написал @NikolayUkleyko развернутое сальдо должно формироваться только для активно-пасивных счетов если у них указана соответствующая аналитика. В оборотной ведомости и внутренних функциях (для @NikolayUkleyko внутренние функции - это функции расчета сальдо, и оборотов, кото

[2017-02-14 08:48] ShlTanya commented on #3534
Так и реализовано. Значит поле не удаляю.

[2017-02-14 08:48] ShlTanya commented on #3534
Спасибо.

[2017-02-14 08:53] ShlTanya commented on #3534
Николай.. по поводу "внутренних функций". Возможно, я неверно их назвала. Имелось в виду то, что вы используете в скриптах. Например, gs.SK (SD) и т.п.

[2017-02-14 14:02] YRozmysl commented on #3905
точно с такой же проблемой сталкивался  при обновления пакета ПИ. Ей решили в последнем exe. По крайнем  мере, в моем случае разрешилось.

[2017-02-16 07:59] PiuPauTralala commented on #3921
Ветка не та. Это в apps.

[2017-02-16 09:18] NikolayUkleyko opened #3922 "Бухгалтерия. Валютные счета. Бухгалтерские формы. Конструктор функций"
**Исследователь / Бухгалтерия / План счетов / Типовые хоз. операции / Автоматические хоз. операции / Журнал-ордер / Карта счета и другие**.

В плане счетов есть реквизит **Валютный счет (субсчет)**.

В **_Журнале хоз. операций_** при выборе счета с данным реквизитом будут доступны поля для ввода данных по валюте. В противном случае - не будут доступны. Это вполне логично и  работает корректно.

В

[2017-02-16 09:22] MIchaelShoihet commented on #3922
Журнал-хозяйственных операций  - форма ввода данных, где важно обеспечить максимально возможный контроль данных. Остальные формы такими не являются и я не вижу необходимости их усложнять.

[2017-02-16 09:41] #3921 closed, assigned to nobody

[2017-02-16 09:52] NikolayUkleyko commented on #3922
@MIchaelShoihet , благодарю за беседу.

[2017-02-16 09:52] #3922 closed, assigned to nobody

[2017-02-17 10:16] stasgm opened #3923 "В ЖХО некорректно работает добавление\редактирование ручных проводок"
В ЖХО некорректно работает добавление\редактирование ручных проводок, если на форме установлена галка **группировать по документу**.

Или запретить добавление\редактирование в таком случае, или корректно обработать эти операции.

[2017-02-17 10:24] stasgm commented on #3923
@gsbelarus В обычном работает корректно, проблема возникает только при "группировать по документу"

[2017-02-17 22:04] NikolayUkleyko commented on #3923
Проверил, есть такое:

1. При отключенных фильтрах (предопределенный и автофильтр) в случае редактирования ручной записи открывается **пустая диалоговая форма**.
2. При включенных фильтрах (предопределенный **_ЗА ПЕРИОД_** и автофильтр **_ПО СЧЕТУ_**) и добавлении и последующем сохранении программа отображает **окно с сообщением об ошибке**.

![2017-02-18_010213](https://cloud.githubusercontent.co

[2017-02-20 10:21] NikolayUkleyko opened #3924 "Бухгалтерия. Журнал-ордер. Выбор раздела плана счетов (Q)"
**Исследователь / Бухгалтерия / Журнал-ордер, Карта счета, Анализ счета.**

Пожалуйста, предусмотрите в данных формах по кнопке выбора счетов еще и выбор раздела (ов) (любой длины) плана счетов.

----

Сейчас в плане счетов можно скопировать **краткое наименование (при этом не слишком длинное)** раздела плана счетов и вставить его в параметры формы и успешно ее сформировать.
Это не удобно.
На прак

[2017-02-20 17:35] stasgm commented on #3923
@NikolayUkleyko Коля, проверь, пожалуйста. И закрой вопрос если всё ок.

[2017-02-20 17:37] ShlTanya commented on #3917
Александра, можно увидеть скрин Вашей ситуации??

[2017-02-20 20:01] alexandra-gsoftware commented on #3917
я сейчас без компа, поэтому могу только на словах рассказать
главное меню гедымина - редактор форм. Здесь можно редактировать формы и добавлять компоненты. на панели компонентов есть вкладка tsynedit, там 3 компонента, их можно добавить на форму.

в редакторе скрипт-объектов есть инспектор классов. Он показывает все классы, доступные в гедымине. tsynedit и подобных там нет. Т.е. добавить на форму

[2017-02-21 09:21] NikolayUkleyko commented on #3534
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

У меня возникли следующие вопросы:

1. В плане счетов в блоке для развернутого сальдо, @MIchaelShoihet, есть ли смысл добавить еще и возможность задания **очередности** выбранных аналитических признаков, как это реализовано на панели инструментов в Журнале-ордере.

Смоделировал несколько примеров - как, результат, очередность не влияет

[2017-02-21 09:43] NikolayUkleyko commented on #3923
Проверено.

По вопросу:

Работает корректно.

----

По вопросу:

Ошибка не устранена.
Реально она изрядно напрягает не только нас, но и пользователей.

@ShlTanya , пожалуйста, разберись раз и навсегда с этой проблемой.
Подскажу, что она стала появляться, когда в грид записей Журнала хоз. операций добавили автоматическое обновление данных после выхода из диалоговой формы записи.
Ранее без такого об

[2017-02-21 09:48] MIchaelShoihet commented on #3534
1. Очередность вроде как не важно.
2. Да согласен.

[2017-02-21 10:54] ShlTanya commented on #3534
1. Очередность проверяла. Не увидела разницу.
2. Реквизит переименую.

[2017-02-21 10:55] ShlTanya commented on #3896
Николай, проверьте, пожалуйста этот вопрос.

[2017-02-21 11:20] ShlTanya commented on #3923
Николай, что значит автофильтр по счету.  И можете проверить при просто включенном фильтре.

[2017-02-21 12:22] NikolayUkleyko commented on #3896
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-02-21 12:22] #3896 closed, assigned to MIchaelShoihet, ShlTanya

[2017-02-21 12:33] NikolayUkleyko commented on #3923
![2](https://cloud.githubusercontent.com/assets/11497453/23164920/ad957ec2-f84a-11e6-8f8a-1ac8d8257bf5.png)

Где:

1. В правом нижнем углу заглавия колонки нажать на треугольник (как в Excel).
2. Из списка выбрать искомое значение.
Это и есть автофильтр.

3. Предопределенные фильтры.

[2017-02-21 13:24] NikolayUkleyko opened #3925 "Общее. Предусмотреть горячие клавиши для сворачивание/разворачивания грида"
Пожалуйста, предусмотрите горячие клавиши (например, Ctrl + курсор) для быстрого сворачивание/разворачивания грида.
Сейчас это можно сделать только при помощи мышки, что не совсем удобно.
Не всегда можно быстро найти этот мелкий компонент.

![2017-02-21_161418](https://cloud.githubusercontent.com/assets/11497453/23166522/03b02e4a-f852-11e6-93af-f8cce14f3950.png)

![2017-02-21_161525](https://cloud

[2017-02-21 13:30] MIchaelShoihet commented on #3925
Насколько часто это необходимо, что бы делать горячие клавиши? Потом пользователи как посворачивают будем только отвечать куда делись их таблицы.

[2017-02-21 13:47] NikolayUkleyko opened #3926 "Форма выбора из множества. 'Enter' и кнопка 'Поиск'"
Пожалуйста, предусмотрите в форме выбора из множества при заполненном поле **Наименование** после нажатия на **Enter** выбор кнопки **Поиск**, то есть, отображение отфильтрованных значений.
Сейчас, при нажатии на кнопку **Enter** форма выбора выбирается кнопка **OK**, что ведет к закрытию формы выбора из множества.

Я про это уже давно писал и общался с @iamchrisep , @zholnerovich .
Вроде, было сд

[2017-02-21 13:48] gsbelarus commented on #3925
сворачивание сомнительная операция. если убрать мастер, то тогда не
очевидно чьи именно записи отображаются в дитэйле. если дитэйл, то
возникает вопрос а зачем он вообще нужен. может стоит перепроектировать
форму?

2017-02-21 16:30 GMT+03:00 MIchaelShoihet <notifications@github.com>:

[2017-02-21 13:58] MIchaelShoihet commented on #3925
Иногда просто надо посмотреть весь список позиций или всех клиентов (без групп). Но это бывает достаточно редко и достаточно имеющейся функциональности.

[2017-02-21 14:01] NikolayUkleyko commented on #3925
очевидно чьи именно записи отображаются в дитэйле. если дитэйл, то
возникает вопрос а зачем он вообще нужен. может стоит перепроектировать
форму?

По поводу перепроектирования формы скажу, что не надо убирать возможность ручного сворачивание/разворачивания.
Это очень удобный функционал.
Можно быстро выяснить какому Parent (группе) принадлежит та или иная запись.

----

Пример № 1.
Береза МКК / Усл

[2017-02-21 14:02] NikolayUkleyko commented on #3925
Не скажу, что редко я этим пользуюсь.
Хорошо.
Обсудили - не будем ничего делать по данной теме.

[2017-02-21 14:02] #3925 closed, assigned to nobody

[2017-02-21 14:04] NikolayUkleyko commented on #3925
ОК.

[2017-02-23 13:55] alexandra-gsoftware commented on #3830
а к имени компа пароли привязаны? Позавчера были проблемы с сетью, переименовали комп, обновили винду. В database.ini исчезли все пароли....

[2017-02-23 13:58] gsbelarus commented on #3830
конечно привязаны. иначе похитил .ini файл и все пароли у тебя в руках. так
сделано специально. на другом
компе пароли уже не расшифруются.

2017-02-23 16:55 GMT+03:00 alexandra-gsoftware <notifications@github.com>:

[2017-02-23 13:59] alexandra-gsoftware commented on #3830
тогда отдельное спасибо за переименование компа)))

[2017-02-23 14:07] gsbelarus commented on #3830
нормальные люди пароли на бумажке пишут и на монитор клеят.

[2017-02-23 14:09] alexandra-gsoftware commented on #3830
у нормальных людей есть скрипт быстрого считывания паролей))

[2017-02-24 11:30] ShlTanya commented on #3923
Исправила:
1) при включенном фильтре грида после редактирования ручной хоз. операции появлялась ошибка Record not found
2) после изменения счета в ручной хоз. операции в журнале отображались записи до и после изменений.

[2017-02-24 11:41] alexandra-gsoftware opened #3927 "Невозможно обновить метаданные при установке ПИ"
Я знаю два случая, когда метаданные не обновляются при установке пи.
1) поменялся тип поля, домена, признак not null и т.д.
2) поменялась процедура, с которой работают юзеры. Если мы вручную попытаемся поменять ее, то получим сообщение о конфликте. Но если она меняется через ПИ, то никакого сообщения не будет, а процедура не обновится.

Можно ли в этих случаях добавить предупреждение в контрол цен

[2017-02-24 12:48] gsbelarus commented on #3927
1. тип поля не всегда можно изменить. тоже и с доменами.
2. ставить пи надо в монопольном режиме

[2017-02-24 12:49] ShlTanya commented on #3918
Александра, я добавила в редактор форм на палитру Дополнительно.

[2017-02-24 12:52] ShlTanya commented on #3917
Александра, сделайте мне, пжста, скрин.. где бы вы хотели их видеть.

[2017-02-24 12:59] gsbelarus commented on #3917
просто эти компоненты не зарегистрированы в TLB, для них не созданы оболочки. надо ли сейчас этим заниматься??

[2017-02-24 14:12] alexandra-gsoftware commented on #3927
я не предлагаю менять, я предлагаю добавить в лог сообщение, что изменить невозможно.

только если есть поля-ссылки

[2017-02-24 18:30] NikolayUkleyko opened #3928 "GDCC. Усовершенствование (Q)"
**1**. Можно ли предусмотреть по-умолчанию активный параметр **Параметры / Обновлять лог автоматически** ?

### На практике постоянно вручную выбираешь данный параметр + кнопка **Обновить**.
Как вариант предусмотреть дополнительно настраиваемый параметр в gdcc.exe.

**2**. Можно ли в строке подключений дополнительно через **( ) или /** отображать наименование БД из списка БД в Гедымине ?

### Так

[2017-02-27 13:25] ShlTanya commented on #3918
И в скриптах уже доступен

[2017-02-27 13:49] alexandra-gsoftware commented on #3918
мерси @ShlTanya !

[2017-02-28 15:37] alexandra-gsoftware commented on #3918
спасибо, все работает! можно еще сделать доступным в скриптах его методы поиска FindClick, FindNextClick и класс TCodeEdit ? (но это совершенно не срочно, если время будет)

[2017-02-28 16:17] NikolayUkleyko commented on #3885
Рассмотрим стандартную приходную накладную по товарам.
В типовом документе указано, что возможен выбор товаров **как из справочника ТМЦ, так и из справочника остатков по ТМЦ**.
Раз предусмотрен выбор товаров из **остатков** значит речь идет не только **о признаках новой карточки, но и о признаках существующей карточки.**

----

При выбранных признаках существующей карточки, выбрали признак новой к

[2017-02-28 16:25] NikolayUkleyko opened #3929 "Бухгалтерия. Конструктор функций. В блоках запросов слетает очередность параметров"
**Исследователь / Бухгалтерия / Автоматические хоз. операции, Типовые хоз. операции....**

В блоках типа SQL-запрос, SQL-цикл и т.д. ввели запрос с перечислением ряда параметров.
При переключении закладок (**_SQL-запрос / Параметры / SQL-запрос_**) очередность параметров на закладке **Параметры** становится наоборот по отношению к очередности параметров в тексте запроса.
Неудобно.

Пожалуйста, исп

[2017-03-01 13:41] NikolayUkleyko commented on #3767
У Евгения сейчас как раз такая ситуация по предприятию **Пицца-Лисица**.
У них сейчас 5 и будет больше филиалов. Работа на отдельной БД, а не как новая рабочая организация.
Необходимо на основании основной БД создать новую БД идентичной структуры, но без данных.
То есть, справочную информацию сохранить, а записи в документах удалить.

@gsbelarus , скажите, пожалуйста, как решить данный вопрос ?

[2017-03-01 16:49] gsbelarus commented on #3767
Все изменения должны включаться в ПИ и переноситься с помощью ПИ. Никакого другого механизма не будет.

[2017-03-01 17:23] alexandra-gsoftware commented on #3767
эта штука нужна как раз для баз, где пи не стоят

ты имеешь в виду, должны остаться тмц, сотрудники, автомобили, etc?
в старые времена база заново собиралась из настроек, а нужные справочники\документы переносились потоком (ясное дело, это была не база бмкк)

[2017-03-01 17:30] YRozmysl commented on #3767
Да, имеется это ввиду. И еще, чтобы весь функционал и доработки для этой новой чистой  базы остались точно такими же, как и на той с которой делается вот такая вот пустая (без данных по бухгалтерии, ЖО, складу и т.д.)

[2017-03-01 17:36] alexandra-gsoftware commented on #3767
есть несколько вариантов решения
1) создается новая бд, и на нее грузятся недостающие данные
1.1)переносить все метаданные (под метаданными имеются в виду еще и макросы, хранилище и тд) на голый эталон.
1.2) или на старой бд добавить все метаданные, макросы и тд, которые никуда не входят, в новое пи, и снять пи
Первый вариант красивый, но его никто не будет делать, хотя второй вариант тоже никто н

[2017-03-01 17:37] gsbelarus commented on #3767
Данные -- это богатство предприятия. Во всем мире системы [BI](https://en.wikipedia.org/wiki/Business_intelligence) стоят огромных денег. Мы же, своими руками, собираемся эти данные удалить? В чем тогда суть нашей работы. Ведь и она при таком подходе полностью невелируется. Получается, что все чем мы занимаемся это херня, так как ее можно абсолютно безболезненно удалить.

Я против таких механизмов

[2017-03-01 17:49] gsbelarus commented on #3767
Еще раз:

1. Если для лисицы сделано что-то такое, что будет полезным всем в общепите -- это должно быть оформлено в ПИ и включено в стандартный пакет **Ресторан Бэк**.
2. Если сделано что-то специфическое именно для этого клиента -- оно должно быть включено в ПИ, в отдельный пакет, назовем его **Лисица**, который зависит от пакета **Ресторан Бэк**.
3. Когда надо будет тиражировать, берем чистую Б

[2017-03-01 18:00] alexandra-gsoftware commented on #3767
@gsbelarus  это как в анекдоте про сферического коня в вакууме. Вы живете в идеальном мире.
У гипотетической лисицы могут быть свои пересчеты в документах, перекрывающие стандартные пи; могут быть вещи, сделанные 10 лет назад, которые кто-то не добавил в пи или настройку. Могут быть скрипты с прописанными там ид-шниками. Если бы на момент начала Гедымина у нас были пи, наследование, сравнение баз,

[2017-03-01 18:02] gsbelarus commented on #3767
Это как сказать "я пил десять лет назад и буду продолжать...". мало ли что там было (конкретно лисица, чтоб ей икалось, это не старый клиент). если мы не разгребем сейчас, то будем и через следующие 10 лет причитать. Когда то надо начинать жить по новому.

[2017-03-01 18:13] alexandra-gsoftware commented on #3767
я не спорю, но чтобы начать жить по-новому, нужно
1) переписать все документы через наследование. Пересмотреть все скрипты и процедуры, где используются руиды док-тов, ведь теперь мы должны выбирать не из приходной накладной, а из накладной и всех наследников. И это все равно не решит основную проблему: у всех сумма считается как цена на кол-во, а у гипотетической лисицы - как цена на кол-во на *

[2017-03-01 19:14] ShlTanya commented on #3916
можно проверить

[2017-03-01 19:15] ShlTanya commented on #3918
Александра, для каких целей класс TCodeEdit. Остальное доделала.

[2017-03-02 00:54] alexandra-gsoftware commented on #3916
спасибо, завтра проверю!

[2017-03-02 00:56] alexandra-gsoftware commented on #3918
да можно без него,  спасибо! Остальное завтра проверю.

[2017-03-02 06:58] gsbelarus opened #3930 "Все объекты в окне редактора скрипт-объектов должны добавляться в ПИ по-отдельности"
Сделать:

1. Добавление в ПИ группы (папки) макросов. Соответствующую команду добавить в контекстное меню.

2. Добавление в ПИ TgdcDelphiObject (объекты, скрывающиеся в ветке Методы)

3. Добавление в ПИ шаблона отчета (добавить команду на панель инструментов, на вкладке отчет)

4. Добавление в ПИ только скрипт-функции (добавить команду в контексное меню, которое вызывается по правой кнопке мыши пр

[2017-03-02 07:44] NikolayUkleyko commented on #3767
ПИ это замечательная штука.
В теории все хорошо ложится.
На практике никто не делает детальное формирование ПИ под каждого клиенту (под его специфику).
Повседневные доработки делаются вручную по частям.
Это имеет силу абсолютно для любого предприятие одной сферы деятельности.
На каждом мясокомбинате полно своей специфики.
@MIchaelShoihet подтвердит.

[2017-03-02 07:46] gsbelarus commented on #3767
И ничего хорошего в этом нет. Надо делать как правильно.

[2017-03-02 09:10] NikolayUkleyko opened #3931 "Общее. Редактор экранных форм. Предусмотреть возможность поиска"
**_Сервис / Редактор экранных форм_**

Пожалуйста, предусмотрите возможность поиска (**Ctrl + F или Ctrl + S**).
Сейчас крайне неудобно искать формы.

![2017-03-02_120738](https://cloud.githubusercontent.com/assets/11497453/23500435/119885a2-ff41-11e6-87ee-380d0d7be69f.png)

[2017-03-02 09:17] NikolayUkleyko commented on #3912
В бухгалтерских отчетах по-прежнему отображаются проводки на нулевые суммы по сложным проводкам.

[2017-03-02 20:09] hirurg-lybitel commented on #3928
4. Или хотя бы вынести их на отдельную вкладку. А то люди не могут отличить закладки активных подключений от неактивных.

[2017-03-03 06:41] NikolayUkleyko commented on #3928
Согласен.
Крайне неудобно.
Обращались по данному вопросу неоднократно.
Надо решить данный вопрос.

[2017-03-03 09:08] NikolayUkleyko opened #3932 "Бухгалтерия. Автоматические проводки. Отображение входимости"
**Исследователь / Бухгалтерия / Автоматические хоз. операции.**

Пожалуйста, добавьте поле для отображения входимости Автоматической проводки в Автоматическую хоз. операцию.
Сейчас неудобно.

![2017-03-03_115423](https://cloud.githubusercontent.com/assets/11497453/23544806/83aceeee-0009-11e7-82c1-5ae154ef0a13.png)

Подобное реализовано в Типовых проводках .

![2017-03-03_115513](https://cloud.gith

[2017-03-03 09:14] NikolayUkleyko commented on #3907
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-03-07 16:49] ShlTanya commented on #3930
По п.2.. Я сделала вот так:
![ns](https://cloud.githubusercontent.com/assets/24572314/23667431/de633ed4-036e-11e7-8fc3-f936402736c4.JPG)
 В данном случае я ПИ для TgdcInvBaseRemains. Вы так хотели?

[2017-03-07 17:38] alexandra-gsoftware commented on #3918
Спасибо, поиск работает, только выделяет как-то странно (я меняла размеры шрифта. может поэтому). На картинках: искалось слово "upper":
![find1](https://cloud.githubusercontent.com/assets/11487200/23669599/ccbc1a6e-0375-11e7-914b-5420e0c94b6f.png)
![find2](https://cloud.githubusercontent.com/assets/11487200/23669602/ce59286c-0375-11e7-8534-96f9ecb5a37d.png)

[2017-03-07 17:40] ShlTanya commented on #3918
Действительно странно. Я проверю что может быть.

[2017-03-07 17:44] alexandra-gsoftware commented on #3918
я пользовалась вот так:

[code]

Может, чего-то не хватает?
В любом случае, еще раз большое спасибо, @ShlTanya !

[2017-03-10 14:50] AliakseiDanilchyk opened #3933 "Ошибки в карточке ТМЦ"
Если в параметрах карточки ТМЦ задать параметры "Документы прихода" или "Документы расхода", то при построении карточки получим ошибку
![error](https://cloud.githubusercontent.com/assets/11484894/23799522/e0e5411e-05b9-11e7-8cbb-9c481be16781.jpg)
При этом выбор документа работает только через лукап. Если нажать кнопку для выбора нескольких документов ![button](https://cloud.githubusercontent.com/a

[2017-03-10 14:51] alexandra-gsoftware commented on #3933
а еще она очень медленно открывается.

[2017-03-10 14:52] AliakseiDanilchyk commented on #3933
Это такая форма (gdv_frmInvCard), в которой можно задать параметры и получить список движений по ТМЦ в виде грида.
Конфигурации настраиваются в "Исследователь - Сервис - Складские параметры - Настройка карточки товара"

[2017-03-10 16:08] NikolayUkleyko opened #3934 "Общие. Организации. Предусмотреть полноценный справочник типов (Q)"
Сейчас для контактов, рабочих организаций можно выбрать соответствующий тип.
При этом поле **Тип** не ссылка, а просто выбор фиксированных значений из текстового файла.
На практике встречаются отчеты, в которых данные выбираются по одному из типов контактов, рабочих организаций, например, ИП.
В отчетах прописывается условие через **Like**.
Это не совсем надежный и верный вариант.
Поэтому, предлага

[2017-03-10 18:11] ShlTanya commented on #3929
Исправила

[2017-03-11 13:01] ShlTanya commented on #3933
Попутный вопрос Как должно быть:
Если определен документ Прихода и Не определен Документ Расхода, то в отбор попадают:
- по приходу записи по документу Прихода
 - по расходу.. Все записи.
И наоборот также.

Сейчас отбираются только записи по документу Прихода. По расходу движения не видно.

[2017-03-12 17:49] ShlTanya commented on #3933
Исправила ошибки.
+ При множественном выборе ТМЦ отображалась только 1 выбранная запись. Исправила.

[2017-03-13 07:02] NikolayUkleyko commented on #3933
Дополнительно выявлено следующее.
При нажатии на квадрат для множественного выбора документов **нет складских документов**.

![2017-03-13_095632](https://cloud.githubusercontent.com/assets/11497453/23844534/c961e77e-07d3-11e7-99a3-cf1bd3b907f1.png)

По-моему это неверно.

@ShlTanya , пожалуйста, посмотри.

[2017-03-13 08:30] gsbelarus commented on #3905
@alexandra-gsoftware решилась проблема? проверить

[2017-03-13 08:31] #3844 closed, assigned to gsbelarus

[2017-03-13 08:51] NikolayUkleyko commented on #3844
Я бы не торопился закрывать данную тему, так как на Береза МКК (gedemin.exe / Дата файла = 27.01.2017 / Версия файла = 2.9.3.8971), Витебск МК и на других предприятиях с актуальным gedemin.exe встречается такое сообщение мешающее работе.

[2017-03-13 09:26] gsbelarus commented on #3844
Уже решено. Надо обновить экзешник сегодняшним послеобеденным.

[2017-03-13 12:10] NikolayUkleyko opened #3935 "Общие. Свойства. Добавить прокрутку списка полей скроллом мышки"
@ShlTanya , пожалуйста, добавь для свойств записи возможность прокрутки списка полей скроллом мышки.

![1](https://cloud.githubusercontent.com/assets/11497453/23853688/c58ed578-07fe-11e7-945e-d4e583711774.png)

![2](https://cloud.githubusercontent.com/assets/11497453/23853689/c78d1650-07fe-11e7-81b8-d64a53a3574d.png)

Шрифт мелкий.
Так будет удобнее искать требуемые поля.

Вопрос !
Подскажите, пож

[2017-03-13 13:08] NikolayUkleyko opened #3936 "Справочники. Валюты. Назначение реквизита 'Эквивалент' (Q)"
**Исследователь / Справочники / Курсы валют / Валюты.**

@MIchaelShoihet , пожалуйста, подскажите, для чего в справочнике валют предусмотрен реквизит **Эквивалент** ?
В руководства пользователя информации мало.

![2017-03-13_155412](https://cloud.githubusercontent.com/assets/11497453/23855522/0278e3fe-0807-11e7-916c-ae738ca26812.png)

В Журнале-ордере и других бухгалтерских формах не предусмотрен

[2017-03-13 13:13] NikolayUkleyko commented on #3403
@ShlTanya , пожалуйста, посмотри.
Возможно ли это реализовать с минимальными трудозатратами ?

[2017-03-13 13:17] MIchaelShoihet commented on #3936
Эквивалент выбран - как возможность ведения учета в параллельной валюте одной конкретной. В справочнике она выбирается и затем при надлежащей настройке все можно пересчитывать в эту валюту, уже больше нигде ее явно не выбирая. К сожалению - надлежащей настройки не было создано до конца. Хотя в стандартной торговле есть практически все для этого...

[2017-03-13 13:21] NikolayUkleyko opened #3937 "Бухгалтерия. Типовые хоз. операции. Отображение входимости списком, а не деревом"
**Исследователь / Бухгалтерия / Типовые хоз. операции.**

Почему-то сейчас в типовых хоз. операциях в поле **Входит в** записи отображаются списком, а не деревом ?

![1](https://cloud.githubusercontent.com/assets/11497453/23856047/1fd4556c-0809-11e7-9ec2-b72814b2bb0e.png)

По-моему ранее было в виде дерева.
Не забыть предусмотреть сортировку по возрастанию.

@ShlTanya , пожалуйста, посмотри.

[2017-03-13 13:32] NikolayUkleyko commented on #3936
Например, учет в RUB, EUR и в других.
В качестве эквивалентной (параллельной) валюты выбрана USD.
@MIchaelShoihet , так ведь ?

Может ли быть несколько эквивалентных (параллельных) валют для одной основной валюты ?

[2017-03-13 13:37] MIchaelShoihet commented on #3936
Эквивалент может быть только один. Обычно раньше он выбирался USD, Но практически это ни где не использовалось. Смысла нескольких эквивалентов нет и поддержки их ведения в программе то же нет. Впрочем возможно исходя из истории использования нет смысла и в одном эквиваленте.

[2017-03-13 13:43] alexandra-gsoftware commented on #3936
мне кажется, есть клиенты, которые им активно пользуются, но их не очень много...

[2017-03-13 15:34] ShlTanya commented on #3933
Николай, а посмотрите внимательно в Сервисе Типовые документы. Может у Вас так заведена структура??

[2017-03-13 15:53] ShlTanya commented on #3932
Форма автоматической проводки небольшая.. за ней видно на какой ветке дерева стоим.
Но.. если неудобно.. можно посмотреть.

[2017-03-13 16:32] ShlTanya commented on #3937
Исправила

[2017-03-14 07:40] NikolayUkleyko commented on #3932
@ShlTanya , пожалуйста, посмотри.

[2017-03-14 07:42] NikolayUkleyko commented on #3933
Татьяна, смотрю на эталонной тестовой демо БД.
Реально в вышеприведенной форме не отображаются складские типовые документы.

![2017-03-14_104212](https://cloud.githubusercontent.com/assets/11497453/23890510/380e5aa2-08a3-11e7-912c-962548739d1b.png)

[2017-03-14 07:55] NikolayUkleyko commented on #3534
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

@gsbelarus , пожалуйста, закройте тему.

[2017-03-14 07:58] NikolayUkleyko commented on #3902
Проверено.
Работает корректно.

----

Возник вопрос.
Например, по документу сформированы 3-и **простые** бухгалтерские проводки.
Затем, в Журнале хоз. операций через соответствующий макрос выполняем сторнирование таких проводок с выбором реквизита **Все проводки по документу**.
Удаляем одну из сторнирующих проводок - удаляются все сторнирующие проводки.
Не совсем понятен алгоритм работы программы.

[2017-03-14 08:01] NikolayUkleyko commented on #3923
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

@gsbelarus , пожалуйста, закройте тему.

[2017-03-14 08:06] #3534 closed, assigned to ShlTanya

[2017-03-14 08:23] MIchaelShoihet commented on #3902
Аналитика документ здесь не играет никакой роли. При сторнировании необходимо для каждой проводки свой документ делать. Тогда можно будет удалить одну проводку.

[2017-03-14 08:29] NikolayUkleyko commented on #3902
OK !

Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-03-14 08:29] #3902 closed, assigned to ShlTanya

[2017-03-14 09:29] #3916 closed, assigned to gsbelarus, ShlTanya

[2017-03-14 09:29] #3923 closed, assigned to ShlTanya

[2017-03-14 12:48] alexandra-gsoftware commented on #3933
люди, у меня по-прежнему сама карточка очень медленно открывается, и не поймешь по профайлеру, почему. У кого-то есть похожая проблема?

[2017-03-15 08:12] NikolayUkleyko opened #3938 "Наследование. Не переносятся предопределенные фильтры (Q)"
При наследовании документа не переносятся предопределенные фильтры.
По-моему это надо учесть.
@gsbelarus , не так ли ?

[2017-03-15 08:18] gsbelarus commented on #3938
Тут спорный вопрос. Можно много примеров привести, когда такой перенос автоматом будет плох.

[2017-03-15 08:34] NikolayUkleyko commented on #3938
У меня на Витебск МК создан наследуемый документ по учету входящих услуг.
Скажу, что в данном случае, как раз, не хватает переноса всех предопределенных фильтров.
Если, вопрос спорный, то может быть, предусмотреть выбор - переносить фильтры или нет ?

[2017-03-15 08:47] MIchaelShoihet commented on #3938
Чаще всего фильтры нужны.

[2017-03-15 08:59] NikolayUkleyko commented on #3938
Если, отчеты перенеслись, то, почему бы и фильтры не перенести.

[2017-03-15 09:06] gsbelarus commented on #3938
@ShlTanya надо изучить вопрос и предложить решение. возможны варианты:

1. При формировании меню фильтров мы учитываем наследование классов и добавляем в меню фильтры из наследованных классов.
2. То же, что и предыдущее, но реализуем возможность скрыть наследованный фильтр в меню класса наследника, чтобы он не появлялся.
3. При создании нового класса однократно предлагаем скопировать фильтры из кл

[2017-03-17 10:19] NikolayUkleyko opened #3939 "Общие. В позиции документа предусмотреть возможность выбора точного документа 'Ctrl + D'"
В диалоговых формах, в частности в шапке документа в полях типа **Документ** предусмотрена замечательная возможность выбора конкретной записи по выбранному типовому документу через команду **_Ctrl + D_**.
В позициях документа такое сочетание не работает.
Не во всех документах для позиции есть отдельная настроенная диалоговая форма.
Если, можно, пожалуйста, предусмотрите такую возможность.

----

В

[2017-03-17 14:47] NikolayUkleyko opened #3940 "Общие. Реквизит 'Разрешать более одного подключения под одним логином'"
**Сервис / Параметры / Аудит и безопасность / Разрешать более одного подключения под одним логином.**

Скажите, пожалуйста, на учетную запись Administrator такая опция не распространяется ?
У Жанны к этому режиму есть вопросы.

[2017-03-17 14:55] NikolayUkleyko opened #3941 "Наследование. В базовом документе предусмотреть сортировку по документу"
Пожалуйста, предусмотрите в базовом документе сортировку по наименованию добавляемого документа.

![2017-03-17_174833](https://cloud.githubusercontent.com/assets/11497453/24048653/9bb2c856-0b3a-11e7-905c-2ef14d838dc6.png)

![2017-03-17_175010](https://cloud.githubusercontent.com/assets/11497453/24048654/9bb9903c-0b3a-11e7-83db-1170a0a73890.png)

[2017-03-17 18:17] stasgm commented on #3941
И хорошо бы табулляцию сохранять

[2017-03-19 14:26] gsbelarus commented on #3930
Теперь всё можно добавлять по-отдельности. Чтобы добавить СФ ивента (или макроса, или метода), откройте панель ивента, переместитесь на вкладку **Скрипт** и по правой кнопке мыши -- **Добавить в ПИ**. Чтобы добавить сам объект (ивент, макрос и т.п.) надо:
1. выделить его в дереве и выбрать команду из контекстного меню
2. или открыть его панель и выбрать команду из контекстного меню на любой вкладк

[2017-03-19 14:26] #3930 closed, assigned to ShlTanya

[2017-03-20 08:36] gsbelarus commented on #3918
Шрифт обязательно должен быть моноспейс. Например Courier New и т.п.

[2017-03-20 08:40] gsbelarus commented on #3940
Скорее всего нет. На то он и администратор, чтобы иметь всегда возможность вмешаться и разрешить возникшие проблемы. У простых пользователей **НЕ ДОЛЖНО** быть доступа к этой учетной записи.

[2017-03-20 08:40] #3940 closed, assigned to nobody

[2017-03-20 09:01] NikolayUkleyko commented on #3940
По непривилегированным пользователям понятно.
Вопрос в том, стоит ли запретить **несколько подключений к БД под Администратором** ?

[2017-03-20 09:06] YRozmysl commented on #3940
@NikolayUkleyko А для чего нужно такое вот ограничение для администратора? на практике именно, если. Просто, вот взять ту же удаленную нашу работу с мк, там же могут сидеть ОДНОВРЕМЕННО много наших сотрудников и всем нужны права админа, как быть в такой ситуации?

[2017-03-20 09:07] NikolayUkleyko commented on #3940
Вопросы к Жанне.

[2017-03-20 09:14] #3931 closed, assigned to gsbelarus

[2017-03-20 14:58] gsbelarus commented on #3919
Проверил. Повторить не могу.

[2017-03-20 14:58] #3919 closed, assigned to gsbelarus

[2017-03-21 06:39] arthur-latunov opened #3942 "Режим редактирования формы: показать и закрепить панель компонентов и инспектор объектов"
Трудно найти панель компонентов и  инспектор объектов, если производилось редактирование на большем экране и было смещение далеко вправо. Повесить на **Ctrl+F11** приведение панели компонентов и  инспектора объектов _примерно_ в следующее положение и размер  с включением признаков 'Всегда сверху'.
![image](https://cloud.githubusercontent.com/assets/11484233/24135254/0f0a3adc-0e1a-11e7-9ca4-8873320

[2017-03-21 06:52] gsbelarus commented on #3942
Лишних горячих клавишь не надо. Даже существующие известны не более 10% пользователей. Достаточно просто проверять формы помещаются на экран или нет, и, при необходимости, автоматом менять их позиции.

[2017-03-21 07:21] NikolayUkleyko commented on #3942
@arthur-latunov ,
**_Сервис / Хранилище / Администратор / Поиск / Inspect / dlg_gsResizer_ObjectInspector._**

![2017-03-21_101603](https://cloud.githubusercontent.com/assets/11497453/24136477/0544c3d6-0e20-11e7-9eba-bab04724f81b.png)

**Внести правки в координаты с наибольшими значениями / Сохранить / Проверить.**

[2017-03-21 07:24] MIchaelShoihet commented on #3942
Только без включения признака "Всегда сверху". Я постоянно его отключаю, мне лично он совсем не удобен.

[2017-03-21 07:50] arthur-latunov commented on #3942
@MIchaelShoihet тоже не против, я согласен на без включения признака "Всегда сверху".
@gsbelarus для разработчиков, а не пользователей. Да даже, если и не выходит за границы, то положение и размеры к некоторому '_по умолчанию_' привести было бы удобно.
Давайте послушаем ещё мнения...

[2017-03-21 07:58] arthur-latunov commented on #3942
@NikolayUkleyko Инспектор понятно, а панель компонентов?

[2017-03-21 08:00] PiuPauTralala commented on #3942
Да, было бы здорово, если бы были места и размер "по умолчанию" для  инспектора и панельки.

[2017-03-21 08:10] NikolayUkleyko commented on #3942
Было бы хорошо.

[2017-03-21 09:39] kovli commented on #3907
Да, надо сделать. А то может быть совсем плохо. Сейчас вот конструктор проводок сделали дата-зависимым. Чувствительным к дате проводки. Если им пользоваться и работать со старым EXE, то могут быть задвоенные проводки. Это совсем плохо и трудно отыскивается. Или как-то дайте возможность из скрипта получить версию запущенного EXE-шника. Дальше мы сами вычислим негодяев.

[2017-03-21 12:58] alexandra-gsoftware commented on #3942
Кстати, было бы неплохо про настройки инспектора в хранилище сделать документацию, а то вечно вспоминаешь, как эта ветка называлась..

[2017-03-21 13:52] NikolayUkleyko commented on #3929
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-03-21 13:52] #3929 closed, assigned to ShlTanya

[2017-03-21 13:55] NikolayUkleyko commented on #3931
Проверено.
Работает корректно.
Только еще очень не хватает возможности поиска по регулярным выражениям.

[2017-03-21 14:34] yoannawx commented on #3459
@ShlTanya очень актуально. касается не только ндс, но и торговой надбавки. такое ощущение, что при редактировании через карандаш переподставляется ид товара

[2017-03-22 10:22] ShlTanya commented on #3938
У меня при 1 и 2 варианте сразу возник вопрос: Есть фильтр родителя, открываем наследника видим его там.. меняем значение фильтра.. открываем Родителя и видим измененный фильтр?? Насколько удобно такое наследование для пользователя.. не думаю, что  они знают о наследовании документов.
По реализации 1 и 2 пункт можно сделать.. но наверное с оговоркой на изменение наследуемых фильтров. Еще вызывает

[2017-03-22 11:29] NikolayUkleyko commented on #3938
Моя точка зрения на это следующая.
Достаточно **по требованию** перенести фильтры базового документа в наследуемый.
При этом, все внесенные изменения в фильтры наследуемого документа не должны отразиться в фильтрах базового документа.

----

При обновлении ПИ в части функционала базового документа **могут добавиться новые фильтры**.
Соответственно, необходимо учесть возможность по требованию копир

[2017-03-24 10:27] NikolayUkleyko commented on #3673
Взвесив все **за** и **против**, решил все же предложить вариант, при котором в Журнале-ордере и других бухгалтерских формах при выборе одного или нескольких значений предопределенной аналитики **_Типовой документ_** будут представлены **только обороты без отображения сальдо или с нулевым отображением сальдо**.

Следует предусмотреть вышеизложенные изменения и при работе с конфигурациями бухгалтер

[2017-03-24 10:38] NikolayUkleyko commented on #3746
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-03-24 10:43] NikolayUkleyko opened #3943 "Бухгалтерия. Журнал-ордер. Эквивалент и группировка колонок (QQ)"
**Исследователь / Бухгалтерия / Журнал-ордер.**

При формировании формы по национальной валюте, иностранной валюте и эквиваленту колонки группируются **_друг над другом_**.
Для анализа это удобная компоновка данных.

При формировании формы по иностранной валюте и эквиваленту колонки группируются **_одна за одной_**.
Это неудобная компоновка данных.

[2017-03-29 09:26] NikolayUkleyko opened #3944 "Прочие. Редактор скрипт-объектов. Неконтрастное начертание выделенного метода в проводнике"
![2017-03-29_121000](https://cloud.githubusercontent.com/assets/11497453/24447825/e9cec230-147a-11e7-9533-ac1781bca9ed.png)

По-умолчанию в редактор скрипт-объектов неконтрастное начертание выделенного метода в проводнике.
То есть, не читается вовсе.
После перевыбора метода начертание выделенного метода становится контрастным.

@ShlTanya , пожалуйста, поправь.

[2017-03-29 09:40] gsbelarus commented on #3944
Ничего не править! Я только вернул чтобы работало нормально! Надо зайти в настройки цветовой схемы виндоуз и выставить нормальные цвета для выделенного текста и фона. Это не проблема Гедымина. Так настроены цвета на конкретном компьютере, значит человеку так нравится.

[2017-03-29 09:40] #3944 closed, assigned to gsbelarus

[2017-03-29 09:41] gsbelarus commented on #3944
Для примера, так это выглядит у меня на компьютере:

![image](https://cloud.githubusercontent.com/assets/5175764/24448465/f9979c44-147c-11e7-83a0-a613a698dff4.png)

[2017-03-29 10:19] NikolayUkleyko commented on #3944
Значит что-то было ?

[2017-03-31 12:13] NikolayUkleyko opened #3945 "Общие. Адаптация интерфейса Гедымина к разрешению 1920x1080 и выше"
У Евгения на экране с разрешением 1920x1080 интерфейс Гедымина очень мелкий.
Впрочем это естественно.
Делая разрешение экрана меньше и при необходимости используя другие настройки не удается получить интерфейс платформы нормального размера с четкой прорисовкой.
При этом интерфейс других приложений и программ не мелкий и с четкой прорисовкой.

Такое же замечено и у Михаила Васильева.
Такое все мелк

[2017-03-31 12:57] gsbelarus commented on #3945
И так будет. Именно поэтому в операционной системе есть режим масштабирования. Миллионы программ (к которым относится и Гедымин) полагаются на размер экранных объектов в пикселях. Можно централизованно увеличить размер шрифта, но при этом все экранные формы будут искажены. Весь код, который внутренне полагается на определенные отступы в пикселях перестанет работать. Можно долго спорить плохо это и

[2017-03-31 12:57] #3945 closed, assigned to nobody

[2017-03-31 13:04] alexandra-gsoftware commented on #3945
у меня на одном из новых компов была та же проблема не только с гедымином, но и с большинством программ, т.ч. это везде так.

[2017-04-04 13:46] ShlTanya commented on #3942
Андрей, можно узнать решение по этому вопросу. Сейчас панельки возвращаются при выходе за экран левой (верхней) границы.

[2017-04-08 13:50] alexandra-gsoftware opened #3946 "добавление в ПИ с зависимыми"
Добавляю в ПИ табличку со всеми связанными объектами. Все события компонентов на форме просмотра добавляются, а события самой формы (типа OnLoadSettingsAfterCreate, OnShow, etc) - не добавляются.

[2017-04-08 14:05] alexandra-gsoftware commented on #3946
также не добавились
- настройки гридов
- MacrosGroup и ReportGroup  (напоминаю, что добавить их руками отдельно достаточно проблематично)

Кроме того, два объекта имеют порядковый номер "2" - таблица и ее первое поле

[2017-04-08 14:23] alexandra-gsoftware commented on #3946
триггеры таблиц также не добавляются

[2017-04-08 17:40] gsbelarus commented on #3946
Новым экзешником макрос гроуп и репорт гроуп прекрасно добавляются

On Apr 8, 2017 16:23, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-04-08 17:56] alexandra-gsoftware commented on #3946
проверила еще раз - да, макросгрупы и репортгруппы добавляются. часть событий и триггеры - нет.

[2017-04-09 00:51] alexandra-gsoftware commented on #3946
Еще такое. Ставлю 2 ПИ:
1) C:\Golden\gedemin-apps\Категории\GS.Категории ТМЦ.Сохраненные параметры.yml
2) C:\Golden\gedemin-apps\Прочее\GS.Общие.Запросы к RDB-таблицам.yml
без зависимых. (1) зависит от (2), но Гедымин все равно ставит его первым. Мне кажется, раньше он разбирал зависимости в этом случае....

[2017-04-09 01:32] alexandra-gsoftware commented on #3946
Настраиваю гриды. Сохраняю ПИ. Проверяю на другой БД - Гриды не изменились. Переподключаюсь к исходной БД. Запускаю сравнение ПИ. У моего ПИ стоит значок =>, но если нажать Сравнить, видно, что на базе гриды новее.

[2017-04-10 06:48] NikolayUkleyko commented on #3946
@alexandra-gsoftware , недавно с таким столкнулся.

[2017-04-10 17:04] ShlTanya commented on #3941
Сделано

[2017-04-11 10:39] NikolayUkleyko commented on #3943
@MIchaelShoihet и @ShlTanya , пожалуйста, изложите свои точку зрения.

[2017-04-11 11:53] MIchaelShoihet commented on #3943
Я согласен... Но может есть что-то более важное на данный момент. Я не знаю сейчас клиентов, которые используют эквивалент...

[2017-04-11 13:55] ShlTanya commented on #3939
Сделано

[2017-04-11 13:57] ShlTanya commented on #3933
Добавлены кнопки Ok, Отмена. Сохранение введенных параметров.

[2017-04-11 13:58] ShlTanya commented on #3933
И остались ли еще вопросы, связанные с карточкой ТМЦ.

[2017-04-11 14:23] NikolayUkleyko commented on #3943
Я тщательно проверяю корректность работы заложенного бухгалтерского функционала в платформу.
Мне не все равно.
Есть недоработки и их стоит устранить.
Речь не идет о высоком приоритете данной темы.
Но, при возможности будет не лишним внести доработки.

[2017-04-11 14:26] alexandra-gsoftware commented on #3943
Можно поставить priority-low, и пусть ждет своего часа.

[2017-04-11 14:51] NikolayUkleyko commented on #3943
Конечно.

[2017-04-11 15:03] NikolayUkleyko commented on #3933
Как-то специфично работает форма карточки, задав ограничение по конкретному документу, как в приходе, так и в расходе.
Указав документ, данные должны быть отображены строго по нему.
@ShlTanya , пожалуйста, проверь.

[2017-04-11 15:09] NikolayUkleyko commented on #3933
@ShlTanya , можно ли предусмотреть вызов главной формы карточки,

![2017-04-11_180440](https://cloud.githubusercontent.com/assets/11497453/24916064/c0091aec-1ee1-11e7-932f-63206d9b47ad.png)

минуя первичную форму

![2017-04-11_180524](https://cloud.githubusercontent.com/assets/11497453/24916085/d27dfbfc-1ee1-11e7-9676-1c12f2ca6eeb.png)

?

[2017-04-11 16:20] ShlTanya commented on #3933
Это то о чем я спрашивала ранее:
Если определен документ Прихода и Не определен Документ Расхода, то в отбор попадают:
- по приходу записи по документу Прихода
- по расходу.. Все записи.
И наоборот также.

На Вашей картинке как раз такая ситуация: указан документ Прихода - переоценка и не указан документ Расхода - отобрались все записи по расходу.

Михаил, как Вы считаете. Как в таком случае д.б.

[2017-04-11 16:45] MIchaelShoihet commented on #3933
Логика правильная. Но возможно надо добавить возможность указания, что строим только по документам прихода или только по документам расхода.

[2017-04-11 17:17] ShlTanya commented on #3933
Если вместо знака равно выбрать Не существует.. то как раз и получится исключить Приход или Расход.

[2017-04-14 08:12] ShlTanya commented on #3920
Посмотрела код. Для построения формы множественного выбора **важно**, чтобы в поле "Таблица" было чистое название таблицы, которому присваивается алиас gg1. Поэтому правильный вариант Александры.

[2017-04-14 10:32] NikolayUkleyko commented on #3935
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-14 10:35] NikolayUkleyko commented on #3884
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-14 10:35] NikolayUkleyko commented on #3908
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-14 10:36] NikolayUkleyko commented on #3926
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-14 10:37] NikolayUkleyko commented on #3821
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-14 10:38] NikolayUkleyko commented on #3781
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-14 10:39] NikolayUkleyko commented on #3771
Проверено.
Работает корректно.

Хорошо бы предусмотреть поиск по регулярным выражениям.
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-14 10:41] ShlTanya commented on #3746
исправлено

[2017-04-14 10:45] NikolayUkleyko commented on #3758
Проверено.
Работает корректно.
Спасибо ! :trophy:

[2017-04-14 10:45] #3758 closed, assigned to nobody

[2017-04-14 10:47] NikolayUkleyko commented on #3742
@ShlTanya , пожалуйста, изложи свою точку зрения.
Для начала, хотя бы пункт **b**.

[2017-04-14 10:53] NikolayUkleyko commented on #3706
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-14 10:54] NikolayUkleyko commented on #3852
@ShlTanya , пожалуйста, изложи свою точку зрения.
Может это и сделано.
Пожалуйста, проверь в gedemin.exe.

[2017-04-14 18:07] ShlTanya commented on #3459
У меня получилось вот что:
1. Редактирование товара через карандаш и через F4 (выпадающий список скрыт) не изменяют запись.
2. Редактирование товара через F4 (выпадающий список открыт) и просто Tab с открытым выпадающим списком меняют запись. По поводу НДС. В накладную попадали ставки, даты установки которых, меньше даты накладной.

Проверьте, пожалуйста, еще раз ситуацию.

[2017-04-19 09:38] NikolayUkleyko opened #3947 "Бухгалтерия. Не формируется проводка по количественным показателям без суммы"
**Исследователь / Бухгалтерия / Типовые хоз. операции.**

Сейчас не формируются бухгалтерские проводки по документам только по количественным показателям без суммы.
При этом в гриде проводок не отображаются корреспонденции счетов.
Однако, аналогичная ручная проводка в Журнале хоз. операций корректно обрабатывается в бухгалтерских формах: Журнал-ордер, Карта счета и т.д.
Раньше это обсуждалось.

Не

[2017-04-19 13:50] NikolayUkleyko opened #3948 "Общие. Копирование значений ячеек из Excel и вставка в Гедымин"
Можно ли предусмотреть возможность копирования значений ячеек из Excel и вставки в Гедымин (позиция документа) ?
Ведь, в Гедымине есть возможность копирования значений ячеек в буфер и последующий вставки в Excel.
Следует отметить, здесь идет речь не о простом копировании строк, а о копировании конкретных выделенных данных из ячеек.
Все это предусмотреть через горячие клавиши Ctrl + C и Ctrl + V и

[2017-04-19 14:23] hirurg-lybitel commented on #3948
Лейбл **Фантастика** прикрепить забыл

[2017-04-20 07:44] NikolayUkleyko commented on #3948
@hirurg-lybitel , а чего бы и нет ?

[2017-04-20 11:55] stasgm commented on #3459
@ShlTanya В документ копируются значения из карточки ТМЦ некоторых полей. Нас интересует ндс и торговая надбавка.
Клиенты, порой, не вносят значения в карточку ТМЦ, а вбивают напрямую в документ.
Потом они редактируют карандашиком, например название товара, и для них ндс\надбавка "слетает". Это мы знаем, что подставляются значения из карточки. Но поступают претензии, что программа затирает значени

[2017-04-20 13:35] ShlTanya commented on #3907
Пункт 1. Ограничение запуска программы не совсем хороший вариант. Возможно изменение Exe-шника без существенных изменений, влияющих на работу. И не всегда есть в нужный момент сисадмин, готовый заменить файл.

Пункт 2. Хороший вариант.
Для его реализации можно использовать **Журнал событий**. Сейчас в нем регистрируется событие Log on (с почти всей необходимой информацией). Но д.б. соотв. настройк

[2017-04-20 14:44] alexandra-gsoftware commented on #3884
пока у меня есть ПИ GS.Общее.Форма с текстом
выглядит так:
![image](https://cloud.githubusercontent.com/assets/11487200/25236548/c9daf1f6-25f0-11e7-8637-d8d5f2ea09d2.png)
В мемо пишешь что хочешь. Юзер может менять этот текст. Можно обрабатывать ОК и отмена, можно сохранять в текстовый файл....

[2017-04-21 07:05] NikolayUkleyko commented on #3884
@alexandra-gsoftware , хороший вариант.
Только сделать размер формы шире.
Необходимо взвесить все **за** и **против**.
Принять решение: создать глобальную форма ошибок (error list) в gedemin.exe или в ПИ.
Надо не откладывать решение данного вопроса.

[2017-04-21 07:12] NikolayUkleyko commented on #3907
Спорный вариант.
Если, один раз выполнили корректную настройку, то преимущественно не потребуется старый gedemin.exe.

Для его реализации можно использовать Журнал событий....

Журнал событий увеличивает размер БД.
Отчасти это может сказаться на скорости работы БД.
К тому же потребуется проанализировать записи в Журнале событий.
Это время и не так наглядно, как было бы гораздо нагляднее в окне Под

[2017-04-21 08:58] stasgm commented on #3907
А что понимается под "старым" gedemin.exe? У нас каждую неделю идёт сборка exe файла.

[2017-04-21 09:00] stasgm commented on #3907
На скорость работы Гедымина журнал никак не повлияет. Если, конечно, не подключить просмотр журнала из всех документов

[2017-04-21 09:02] YRozmysl commented on #3907
Тут  суть не "старый - новый", а в том, чтобы все работали с одного и того же exeю И в том, чтобы оперативно  все это видеть в **Подключенные пользователи**

[2017-04-21 09:13] NikolayUkleyko commented on #3907
@stasgm , реально на крупных промышленных комбинатах (МК) в отличие от мелких торговых и общепитовских препдриятий бардак в части файлов Гедымина (exe и прочие), Firebird на сервере.

[2017-04-21 09:17] kovli commented on #3907
А может сделать так. Запускается самый первый Гедымин. Он вычисляет свою версию (версия EXE-шника) и записывает ее (версию) в спец.табличку.  Запускается второй или  очередной Гедымин. Он сравнивает свою версию с версией в той спец.табличке. Если его версия меньше, то он выдает сообщение пользователю, что в системе есть версии более свежие и советует обратиться к сисадмину. Дальше можно продолжать

[2017-04-21 09:20] kovli commented on #3907
Да, забыл еще. Если версия очередного запущенного Гедымина больше, чем версия в спец.табличке, то он ее (версию) обновляет своей. Таким образом в этой спец.табличке будет храниться максимальная версия, т.е. самого свежего EXE-шника.

[2017-04-21 09:26] kovli commented on #3907
Можно еще в то спец.табличке хранить дату записи версии. И дать пользователю, работающему со старой версией, фору дней на 5. Если в течении 5 (или сколько придумаем) дней он не заменил EXE-шник, то принудительно завершать работу старого EXE.

[2017-04-21 10:37] NikolayUkleyko opened #3949 "Мастер установок. Ошибка при сохранении в шаблон при использовании расширенного отображения"
В Мастере установок выявлена ошибка при сохранении в шаблон настроек грида при **использовании расширенного отображения**.

![2017-04-21_133354](https://cloud.githubusercontent.com/assets/11497453/25274186/99d74c0a-2697-11e7-8ec8-23acfd8a5a07.png)

Без **использовании расширенного отображения** сохранение шаблона выполняется успешно.

@ShlTanya , пожалуйста, реши данный вопрос.

[2017-04-21 10:43] NikolayUkleyko opened #3950 "Мастер установок. Сплющивание грида при использовании расширенного отображения"
При вызове из Исследователя документа, в котором в гриде шапки используется расширенное отображение получаем сплющенный грид.
Принудительно нажав F5 (Обновить), грид приходит в нормальное состояние.
Так, приходится делать каждый раз.

![2017-04-21_134041](https://cloud.githubusercontent.com/assets/11497453/25274373/71065180-2698-11e7-8088-e3d8e984db97.png)

![2017-04-21_134054](https://cloud.githu

[2017-04-21 10:53] NikolayUkleyko opened #3951 "Мастер установок. Одновременное использование расширенного отображения и 2-х и более строчек (E/V)"
![2017-04-21_134730](https://cloud.githubusercontent.com/assets/11497453/25274632/a007a9a6-2699-11e7-8aea-e7176e846c53.png)

@ShlTanya , пожалуйста, предусмотри возможность одновременного использования расширенного отображения и 2-х и более строчек.

На практике реально необходимо.
Удобно, когда в гриде много колонок с длинными названиями (даже сокращенными).
Данную проблему обсуждали много-много

[2017-04-21 14:28] ShlTanya commented on #3907
1. Важно знать какой пользователь, когда, с какой машины и с какого каталога запускал программу. Для таких целей необходимо хранить историю подключений(хотя бы за какой то период), т.е. по сути делать такую же таблицу как журнал операций. Можно ограничить период хранения подключений.
2. Можно реализовать оповещение пользователей о более новой версии в сети.

[2017-04-21 14:33] kovli commented on #3907
А для чего "Важно знать какой пользователь, когда, с какой машины и с какого каталога запускал программу"?  Как я понимаю, нужно добиться того, чтобы все пользователи работали с одним EXE. Одной версии. Пусть и не самой современной, но с одной. Меньше знаешь - крепче спишь.

[2017-04-21 14:36] ShlTanya commented on #3907
А если в данный момент не запущена программа. Как узнать что там плохо.

[2017-04-21 14:37] YRozmysl commented on #3907
@kovli  Совершенно верно! Тут не важно хранить все эти вещи и знать   что, где , когда. Нужно добиться того, чтобы все пользователи работали с одним EXE  У нас же не следственное бюро.

[2017-04-21 14:37] kovli commented on #3907
А если не запущена программа, то и проблем нет. Как начнут работать, так и увидим проблемы.

[2017-04-21 14:40] YRozmysl commented on #3907
Как правило узнается, что плохо спустя время, 1-3 месяца, Когда что-то делалось сторонним exe, после чего приходится разгребать авгиевы конюшни.

[2017-04-21 14:49] kovli commented on #3907
А чем старый EXE-шник может нагадить в базе? Новые EXE-шники, как я понимаю, приводят к созданию новых таблиц, новых полей в таблицах. Может, поддерживают новые бизнес-процессы, классы и т.д. Старый просто не будет работать с новыми структурами. Что он может нагадить? Я не сталкивался с такой проблемой, хотя не все мои работают с одним EXE. Вот с последней версией появились новые поля (долгота, ши

[2017-04-21 14:51] stasgm commented on #3907
После раздумий я пришёл к выводу, что доработка gedemin.exe не требуется.
Выход такой.

1. Заводится юзерская таблица, например,USR$LOGINFO со следующими полями
- дата\время входа в систему
- ip\имя компьютера
- Версия гедымина
- Путь к gedemin.exe

2. Перекрывается метод frmGedeminMainOnCreate в котором идёт заполнение вышеуказанных данных в таблицу.

[2017-04-22 03:24] gsbelarus commented on #3907
Не надо так усложнять простой вопрос. Есть автообновление в экзешнике, есть
сисадмины на предприятии.

Не тратьте дорогое время на ерунду. Максимум что можно предложить в пи
добавить мин версию экзе и если она не соблюдается, то блокировать загрузку
программы и давать инструкции как обновить.

Пожалуйста, есть первоочередные, горящие задачи, а таких мелочей можно
придумать миллион и тысячи жизней

[2017-04-22 03:33] gsbelarus commented on #3884
Есть отдельный инструмент, который не блокируется и выполняется в отдельном
процессе -- gdcc. Что еще надо?

Любое окно в гедымине зависнет, когда зависнет и сама программа.

On Apr 21, 2017 09:05, "NikolayUkleyko" <notifications@github.com> wrote:

[2017-04-22 10:43] stasgm commented on #3884
Наверное @NikolayUkleyko  имеет в виду вывод журнала после выполнения операции, а не отображение какого-либо процесса.
Например, у нас есть операция выдачи сырья со склада в производство под заданные блюда. И если не хватает остатков то мы записываем сколько и чего не хватило в txt файл и открываем пользователю в конце этот список в блокноте.
Использовать gdcc в данном случае не лучший вариант, т.

[2017-04-25 16:31] ShlTanya commented on #3821
Данная ситуация возникает при выборе товаров из Остатков ТМЦ. Для исключения данной ошибки установите соответствующий формат поля Количество  в таблице  с выбранными значениями в форме  Остатков ТМЦ.

[2017-04-26 07:24] NikolayUkleyko commented on #3907
добавить мин версию экзе и если она не соблюдается, то блокировать загрузку
программы и давать инструкции как обновить.

Просто и понятно.

[2017-04-26 07:35] NikolayUkleyko commented on #3884
Верно.
На практике никто из пользователей не полезет в Gdcc.
К тому же, в Gdcc для рядового пользователя информация сугубо по предметной части ненаглядная.
Gdcc хороша для продвинутых пользователей.

----

В gedemin.exe создан замечательный унифицированный Progress bar.
Почему бы не создать и Error list ?

[2017-04-26 11:21] alexandra-gsoftware commented on #3884
я доработала форму с текстом,  добавила класс.  если хотите, могу сделать настраиваемым размер и скроллы

[2017-04-26 11:29] NikolayUkleyko commented on #3884
да

[2017-04-26 12:06] gsbelarus commented on #3884
давайте пока сконцентрируемся на самых приоритетных вещах.

все равно у этого списка будет существеннейший недостаток. он привязан к основной нити визуального интерфейса гедымина. т.е. он зависнет вместе с гедамином или в процессе выполнения долгих операций.

по этому и создавался gdcc -- как отдельный процесс.

может его стоит доработать под эту задачу. это будет лучше, чем отдельное окно из макр

[2017-04-26 14:02] alexandra-gsoftware opened #3952 "Не работает поиск в скриптах. Опять."
Ищем так:
![image](https://cloud.githubusercontent.com/assets/11487200/25437916/897b77e8-2aa0-11e7-94fc-c93a7c1e859e.png)
Получаем
![image](https://cloud.githubusercontent.com/assets/11487200/25437952/9f2760de-2aa0-11e7-903e-d37b6f021be3.png)

А теперь так
![image](https://cloud.githubusercontent.com/assets/11487200/25437990/cab13eaa-2aa0-11e7-9bc8-73888b59c864.png)

Получаем
![image](https://clou

[2017-04-26 14:09] gsbelarus commented on #3952
А что не так? запрос вроде нашел тоже самое что и в окне показывается.

[2017-04-26 14:14] alexandra-gsoftware commented on #3952
самый первый вариант (который с галкой слово целиком) не находит один результат, который htConst

[2017-04-27 07:54] NikolayUkleyko commented on #3947
@ShlTanya , пожалуйста, изложи свою точку зрения.
Это важный вопрос.
Раньше работало, теперь - нет.

[2017-04-27 09:20] NikolayUkleyko commented on #3821
@ShlTanya , проверил.
Ничего не помогает.
Пожалуйста, для примера можно посмотреть здесь
**Исследователь / Основные средства / ОС. Начисление амортизации.**

Обрати внимание на значения в колонках:
- Баланс. цена;
- Старый износ;
- Начисленный износ;
- Новый износ.

@ShlTanya , учти, что по документам по учету основных средств фигурирует количество равное 1.
Соответствующая колонка скрыта.

[2017-04-27 09:36] ShlTanya commented on #3821
Николай.. проверила.. Работает все хорошо, когда формат редактируемой колонки в документе совпадает с форматом такой же колонки в таблице **Выбранные значения** (внизу формы Остатки ТМЦ)

[2017-04-27 09:44] NikolayUkleyko commented on #3821
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

----

Вот все дело было в настройках грида **Выбранные записи** (внизу формы Остатки ТМЦ).

[2017-04-27 09:44] #3821 closed, assigned to nobody

[2017-04-27 11:26] ShlTanya commented on #3947
Смоделировала ситуацию.. Поправьте, если не так. Делаем документ, по которому проводки Только по  количественным показателям. В гриде с проводками действительно нет проводок.
![1](https://cloud.githubusercontent.com/assets/24572314/25481331/556debf6-2b55-11e7-82e9-520fa2eb2331.JPG)

Но по Переходу на данную проводку видим ее присутствие
![2](https://cloud.githubusercontent.com/assets/24572314/2548

[2017-04-27 11:30] NikolayUkleyko commented on #3947
@ShlTanya , теперь, пожалуйста, сформируй Журнал-ордер по счету 10.11 (10.12) за 30.11.2016 по аналитике Счета и субсчета и укажи количественный показатель Кол-во (это условно универсальный количественный показатель).
Будет пусто по количеству.
Это не есть верно.
Здесь необходимо очень аккуратно предусмотреть отображение таких данных.
Чтобы не испортить формирование Журнала-ордера без количественн

[2017-04-27 11:40] ShlTanya commented on #3947
![3](https://cloud.githubusercontent.com/assets/24572314/25481775/60a0b2e0-2b57-11e7-84cc-57783940918b.JPG)

[2017-04-27 11:45] NikolayUkleyko commented on #3947
@ShlTanya , а чего в колонках не отображаются корреспондирующие счета ?
Сейчас **К -**.
Здесь надо **К - 10.12**.

[2017-04-27 11:47] ShlTanya commented on #3947
Я ужимала колонки

[2017-04-27 12:09] NikolayUkleyko commented on #3947
@ShlTanya , теперь надо проверить Журнал-ордер на проводках во всех вариантах:
- только сумма;
- только количество;
- сумма и количество.

Для точности сравни результат на одной БД под разными gedemin.exe (с учетом сегодняшних изменений и без изменений).

На всякий случай это надо будет учесть в других бухгалтерских формах (Карта счета, Анализ счета и т.д.).

[2017-04-27 13:55] ShlTanya commented on #3947
Проблема есть, если делать выборку только по **Количественным показателям** (без сумм).
![4](https://cloud.githubusercontent.com/assets/24572314/25486363/9553270e-2b69-11e7-8528-b7ef25bd840d.JPG)
Обсудите и скажите как д.б.

[2017-04-27 14:36] NikolayUkleyko commented on #3947
Согласно вышеприведенного скриншота значение по количественному показателю без суммового должно быть.
Сейчас пусто.
Форма Журнал-ордер, как и другие бухгалтерские формы универсальные.

@ShlTanya , я, то, писал, как должно быть.
Бухгалтерские формы должны одинаково хорошо работать как с суммовыми, так и с количественными показателями.
Ведь наряду с суммовыми показателями, количественные показатели

[2017-04-28 07:12] NikolayUkleyko commented on #3932
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-04-28 07:12] #3932 closed, assigned to nobody

[2017-04-28 07:18] ShlTanya commented on #3932
:) я тут ничего не делала.

[2017-04-28 07:20] NikolayUkleyko commented on #3868
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-28 07:22] #3817 closed, assigned to nobody

[2017-04-28 07:23] #3770 closed, assigned to gsbelarus

[2017-04-28 07:47] NikolayUkleyko commented on #3706
Вопрос решен.
Смотрите здесь https://github.com/GoldenSoftwareLtd/gedemin/issues/3706

[2017-04-28 07:47] #3706 closed, assigned to nobody

[2017-04-28 07:51] ShlTanya commented on #3732
Я отправила изменения. Ждем проверки Андрея.

[2017-04-28 07:51] NikolayUkleyko commented on #3732
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-28 08:00] NikolayUkleyko commented on #3746
Проверено на следующем gedemin.exe:
Дата файла           = 27.04.2017
Версия файла         = 2.9.3.9088

Изменений не выявлено.

[2017-04-28 08:03] NikolayUkleyko commented on #3700
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-28 08:04] ShlTanya commented on #3746
да.. там еще нет

[2017-04-28 08:04] NikolayUkleyko commented on #3678
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-28 08:04] NikolayUkleyko commented on #3665
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-28 08:14] NikolayUkleyko commented on #3633
Проверено.
Все пункты работают корректно.
За исключением 4-го.
Сейчас при отсутствии записи в гриде **_Показатель на дату_** не активны кнопки на панели инструментов грида **_Составляющие показателя_**.
При этом, можно добавить новую запись, нажав на клавишу **Ins** или дважды кликнув мышкой.

@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-04-28 15:11] ShlTanya commented on #3742
Сделано: а, b (удаление через контекстное меню на поле), e

[2017-04-28 15:12] ShlTanya commented on #3951
Исправлено

[2017-04-28 15:12] ShlTanya commented on #3950
Исправлено

[2017-04-28 15:13] ShlTanya commented on #3935
Исправлено

[2017-04-28 15:14] ShlTanya commented on #3746
Проверьте

[2017-04-28 15:15] ShlTanya commented on #3732
Сделано

[2017-04-28 15:16] ShlTanya commented on #3459
Исправлено

[2017-04-28 15:19] ShlTanya commented on #3926
Сделано

[2017-05-02 09:03] NikolayUkleyko commented on #3926
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-05-02 09:03] #3926 closed, assigned to nobody

[2017-05-02 09:05] NikolayUkleyko commented on #3935
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

----

@ShlTanya , пожалуйста, подскажи, зачем здесь предусмотрен реквизит **Параметры** ?

[2017-05-02 09:05] #3935 closed, assigned to nobody

[2017-05-02 09:05] NikolayUkleyko commented on #3951
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-05-02 09:05] #3951 closed, assigned to nobody

[2017-05-02 09:14] NikolayUkleyko commented on #3950
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-05-02 09:14] #3950 closed, assigned to nobody

[2017-05-02 09:14] NikolayUkleyko commented on #3746
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

----

Вообще отлично сделано !

[2017-05-02 09:15] NikolayUkleyko commented on #3732
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-05-02 09:15] #3732 closed, assigned to nobody

[2017-05-02 09:16] NikolayUkleyko commented on #3937
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-05-02 09:16] #3937 closed, assigned to ShlTanya

[2017-05-02 09:17] NikolayUkleyko commented on #3459
@yoannawx подтвердила, что проверила.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-05-02 09:18] NikolayUkleyko commented on #3459
@gsbelarus , пожалуйста, закройте тему.

[2017-05-02 09:49] ShlTanya commented on #3947
@MIchaelShoihet , посмотрите, пожалуйста, мой коммит по 3947.

[2017-05-02 15:10] NikolayUkleyko opened #3953 "Грид. Редактирование в таблице. Прокрутка скроллом мышки"
Пожалуйста, предусмотрите в гриде в режиме редактирования в таблице возможность прокрутки данных скроллом мышки:
![1](https://cloud.githubusercontent.com/assets/11497453/25624572/74281966-2f62-11e7-96ce-cd1404e63944.png)

_Рис. 1._

@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-02 15:18] NikolayUkleyko opened #3954 "Бухгалтерия. Журнал-ордер. Предусмотреть реквизит 'Только обороты' (Q)"
**Исследователь / Бухгалтерия / Журнал-ордер.**

Пожалуйста, предусмотрите реквизит для формирования формы только по оборотам.
То есть, строки с оборотами с сальдо или без **отображать**.
А строки с сальдо без оборотов **не отображать**.
Такой режим формирования пользователей интересует.
Это удобно, так как за период убираем лишние данные в виде сальдо.

Пока это только для Журнала-ордера.

----

[2017-05-02 15:26] NikolayUkleyko commented on #3759
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-02 15:31] NikolayUkleyko commented on #3742
Проверено.
Пункты **a, b, e** работают корректно.
Взвесил все **за** и **против** пункты **c, d** можно не делать.
@ShlTanya , спасибо ! :trophy:

----

Отличная реализация !

[2017-05-02 16:10] NikolayUkleyko commented on #3794
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-02 16:12] NikolayUkleyko commented on #3907
Просто добавьте в окно подключенных пользователей версию gedemin.exe без блокировок и этого будет достаточно.

[2017-05-02 17:16] MIchaelShoihet commented on #3759
Что бы сортировка не слетала надо использовать фильтр. А так сортировка работает с записями в памяти и естественно что она будет слетать.

[2017-05-03 06:14] kovli commented on #3907
И добавьте возможность получения из скрипта номера текущей версии Gedemin.exe. Типа IbLogin.CurrentExeVersion.

[2017-05-03 06:34] NikolayUkleyko commented on #3759
@MIchaelShoihet , получается, что данную тему можно смело закрыть ?

[2017-05-03 06:37] MIchaelShoihet commented on #3759
Да. Есть нужда в какой-то постоянной сортировке - сделали фильтр и все

3 мая 2017 г. 9:34 ДП пользователь "NikolayUkleyko" <
notifications@github.com> написал:

[2017-05-03 06:39] NikolayUkleyko commented on #3759
OK !

[2017-05-03 06:39] #3759 closed, assigned to nobody

[2017-05-03 06:59] ShlTanya commented on #3907
В подключенных пользователях отображается информация о пользователях самого Fireberda. Для того, чтобы туда добавить еще и информацию о версии Гедемина.. надо ее как минимум записать в базу.. поэтому и предлагала вариант Журнал событий. Но не учла, что работать будет только на обновленном экзе.

Поэтому вариант получения номера текущей версии из скрипта более оптимальный в данной ситуации. Пример,

[2017-05-03 07:07] kovli commented on #3907
За скрипт большое спасибо! Дальше мы сами вычислим негодяев!

[2017-05-03 07:20] kovli commented on #3907
А как из скрипта завершить работу Гедымина? Вот запустили Гедымин, проверили версию EXE, нам она не понравилась и нужно текущий Гедымин закрыть.

[2017-05-03 07:22] MIchaelShoihet commented on #3907
Application.terminate

3 мая 2017 г. 10:20 ДП пользователь "kovli" <notifications@github.com>
написал:

[2017-05-03 07:55] gsbelarus commented on #3907
В журнал событий версия пишется и сейчас, если установлено в параметрах Гедымина **Регистрировать действия** пользователя и соответствующая галка установлена для учетной записи пользователя.

Для того, чтобы ее извлечь придется в окне со списком пользователей, для каждого выполнять запрос к журналу. Это замедлит работу.

Если писать информацию о версии всегда и для каждого пользователя -- это тоже

[2017-05-03 08:25] NikolayUkleyko opened #3955 "Бухгалтерия. Формирование форм по нескольким планам счетов (Q)"
**Исследователь / Бухгалтерия / Оборотная ведомость, Главная книга, Журнал-ордер.**

В рабочей компании доступны следующие планы счетов:

![4](https://cloud.githubusercontent.com/assets/11497453/25652715/3f56cc06-2ff2-11e7-991a-0ddd699d4a87.png)

Выбраны следующие планы счетов:

![2017-05-03_111113](https://cloud.githubusercontent.com/assets/11497453/25652758/724f8a6c-2ff2-11e7-8159-27e87b38539b.p

[2017-05-03 08:28] kovli commented on #3907
А если рабочее место не подключено к интернету? Что даст автообновление? Да и каждая новая версия EXE - это кот в мешке. Сейчас, правда, получше, но все равно, нужно самому потестировать, прежде чем предложить пользователю.

[2017-05-03 08:29] NikolayUkleyko commented on #3907
OK !

[2017-05-03 08:33] NikolayUkleyko commented on #3810
Пока закроем тему.
Если, снова будет выявлена указанная проблема - снова вернемся.

[2017-05-03 08:33] #3810 closed, assigned to nobody

[2017-05-03 08:34] NikolayUkleyko commented on #3879
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-03 08:36] NikolayUkleyko commented on #3912
Изменений на gedemin.exe

Дата файла = 01.05.2017
Версия файла = 2.9.3.9100

не выявлено.

[2017-05-03 09:50] NikolayUkleyko opened #3956 "Фильтры. Доработки по настройке при использование формул (Q)"
Пожалуйста, предусмотрите следующие возможности по настройке фильтров при использовании формул:

**1**. Необрезанное отображение наименований кнопок в форме **Условие пользователя**.
![1](https://cloud.githubusercontent.com/assets/11497453/25694267/7d27d812-30b6-11e7-94fc-b4928b046a71.png)
![2](https://cloud.githubusercontent.com/assets/11497453/25694303/a68ad36c-30b6-11e7-9253-822d64569df2.png)

[2017-05-03 12:33] NikolayUkleyko commented on #3763
@ShlTanya , пожалуйста, изложи свою точку зрения на следующий материал ?

Сохранение параметров грида — GedeminWiki
http://gsbelarus.com/gs/wiki/index.php/%D0%A1%D0%BE%D1%85%D1%80%D0%B0%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5_%D0%BF%D0%B0%D1%80%D0%B0%D0%BC%D0%B5%D1%82%D1%80%D0%BE%D0%B2_%D0%B3%D1%80%D0%B8%D0%B4%D0%B0

[2017-05-03 13:37] NikolayUkleyko commented on #3762
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-03 15:44] gsbelarus opened #3957 "Регистрация ошибок и пожеланий, обратная связь с пользователем"
1. Периодически, при загрузке Гедымина, мы спрашиваем у пользователя доволен ли он работой с программой. Если пользователь отвечает да, то пишем ответ в базу и на некоторое время не тревожим его, до следующего опроса.

2. Если пользователь ответил нет, то спрашиваем его, что именно не так: ошибка в программе, неудобно/медленно, пожелание/замечание, запрос на новый функционал.

3. В зависимости от

[2017-05-03 16:06] gsbelarus commented on #3948
В гедымине ссылка, в экселе строка. Дальше что делать? искать? создавать объект? Это можно делать чистый человеко-месяц разработчика. Это действительно так надо?

[2017-05-04 07:21] NikolayUkleyko commented on #3957
Идея весьма интересная и оригинальная.
Я предполагаю, что @ShlTanya это сделает без особых вопросов.

Я изложу свою точку зрения.

----

Существующая система регистрирования ошибок и отправки на e-mail.
По идее каждый сотрудник должен прорабатывать свои вопросы.
Я предполагаю, что эти письма сотрудникам не интересны по ряду причин (нет времени, не удобно представлены данные и т.д.).
Следует учесть

[2017-05-04 07:23] NikolayUkleyko commented on #3948
Я исхожу из разумных соображений.
Пообщались и выяснили что да как.
Если, предполагаемая разработка весьма трудоемка, тогда ее не реализуем.

[2017-05-04 07:23] #3948 closed, assigned to nobody

[2017-05-04 07:34] ShlTanya commented on #3957
Задание приняла.. Вопросов уже много. Буду по мере необходимости их задавать.

[2017-05-04 08:24] NikolayUkleyko opened #3958 "Бухгалтерия. Конструктор функций. Доработка блока по количественным показателям (Q) (E/V)"
**Исследователь / Бухгалтерия / Типовые хоз. операции, Автоматические хоз. операции, Настройка функций.**

Пожалуйста, предусмотрите следующие возможности при работе с количественными показателями:

1. Сортировка записей с количественными показателями по возрастанию (или вариант с кликом по заголовку колонки и изменении сортировки ASC-DESC).

2. При возможности кнопка **Дубликат**:

![1](https://c

[2017-05-04 08:46] NikolayUkleyko opened #3959 "Бухгалтерия. Конструктор функций. Позиционирование курсора и alias счета в наименовании (Q)"
**Исследователь / Бухгалтерия / Типовые хоз. операции, Автоматические хоз. операции, Настройка функций.**

Пожалуйста, предусмотрите следующие возможности при работе с конструктором функций:

1. В редакторе выражений по умолчанию позиционирование курсора в конце введенных символов.
Даже в случае, если строк 2-е и более.

![1](https://cloud.githubusercontent.com/assets/11497453/25696024/37fb88e4-30

[2017-05-04 08:51] gsbelarus commented on #3957
Issue со всей своей перепиской должно быть б/о. Механизм передачи должен
быть обобщен. Потом его применим к другим б/о, например, справочникам
товаров, клиентов, валют и т.п.

On May 4, 2017 10:34 AM, "ShlTanya" <notifications@github.com> wrote:

[2017-05-04 08:53] ShlTanya commented on #3957
б/о ??

[2017-05-04 09:24] gsbelarus commented on #3957
Бизнес объект

On May 4, 2017 11:53 AM, "ShlTanya" <notifications@github.com> wrote:

[2017-05-04 09:26] NikolayUkleyko commented on #3742
Есть замечание по пункту **b**.

Если, одно или несколько полей заполнены, то при удалении любого поля (заполнено или нет) очищаются данные из всех полей.
Неудобно.
Приходиться заново вводить данные.
В данном случае данные не должны удаляться.

[2017-05-04 09:31] YRozmysl commented on #3957
Вот хорошая задумка  реализована, как связь конечного пользователя ПО и специалиста https://charter97.org/ru/news/2017/5/4/248808/

[2017-05-04 09:41] NikolayUkleyko commented on #2222
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-04 09:42] NikolayUkleyko commented on #1744
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-04 09:48] YRozmysl commented on #1744
Конкретно для ГСМ, оказалось не актуально, для ЗП  решено. Для других модулей не знаю

[2017-05-04 09:48] NikolayUkleyko commented on #1363
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-04 09:50] NikolayUkleyko commented on #2415
Юра, пожалуйста, посмотри, актуальна ли данная тема ?
Если, нет - закрой ее.

[2017-05-04 09:54] YRozmysl commented on #2415
Можно закрывать,

[2017-05-04 09:56] NikolayUkleyko commented on #211
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-04 09:56] NikolayUkleyko commented on #140
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-04 10:00] NikolayUkleyko commented on #237
На текущий момент созданы новые переработанные оборотные ведомости:
- Оборотная ведомость (полная);
- Оборотная ведомость (счета и субсчета, цена учета).

Я предполагаю, что данную тему можно закрыть.
?

[2017-05-04 10:04] NikolayUkleyko commented on #581
Весьма актуальны вопрос.
Как вариант, предусмотреть глобальный режим настройки.
У кого какие будут предложения ?

[2017-05-04 10:05] NikolayUkleyko commented on #687
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-04 10:06] NikolayUkleyko commented on #810
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-04 10:06] NikolayUkleyko commented on #867
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-04 10:07] NikolayUkleyko commented on #937
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-04 10:08] NikolayUkleyko commented on #1036
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-04 10:10] YRozmysl commented on #937
закрываем

[2017-05-04 10:11] NikolayUkleyko commented on #1016
@gsbelarus , пожалуйста, изложите Вашу точку зрения.

[2017-05-04 10:21] gsbelarus commented on #1016
В существующие гриды невозможно добавить. Надо всё с нуля переписывать.

[2017-05-04 10:21] #937 closed, assigned to gsbelarus

[2017-05-04 10:54] gsbelarus commented on #3957
Со скриншотом идея отличная.

Нет. Нельзя будет полностью выключить этот механизм. В известных пределах
можно будет регулировать период.

У нас постоянные конфликты с клиентами, когда высшее руководство не хочет
подписывать договора. Нас обвиняют, что "ничего не работает". Теперь у нас будет
технический механизм спокойно парировать такие выпады. Вот вам отчет:
95% рабочих мест не высказали никаких

[2017-05-04 14:06] NikolayUkleyko opened #3960 "Грид. В позиции в выпадающем списке команда 'Слияние' (Q) (E/V)"
В позиции в выпадающем списке есть кнопка в виде листочков.
По идее это похоже на команду **Дубликат**.
На самом деле это команда **Слияние**.
На практике пользователи часто намеренно нажимают такую кнопку в ожидании дублирования записи в справочнике ТМЦ.

![1](https://cloud.githubusercontent.com/assets/11497453/25707180/69139638-30eb-11e7-8dd1-e616f7083ede.png)

![2](https://cloud.githubuserconte

[2017-05-04 14:13] NikolayUkleyko opened #3961 "Витебск МК. Склад. Формирование остатков по организации с холдингом"
По основной рабочей организации на закладке **Холдинг** выбрано дочернее предприятие.
В диалоге дочернего предприятия не заполнены реквизиты **Головное предприятие** и **Холдинг**.
При формировании остатков на дату по основной рабочей организации **пусто**.
Аналогично и по новым созданным формам остатков.

По идее так быть не должно.
Результат должен быть положительный.

----

В данной ситуации до

[2017-05-05 08:56] NikolayUkleyko commented on #3746
Сегодня увидел, что сформировав Журнал-ордер за год без выбора счета (то есть, по всем счетам), местами имеет место некорректное отображение значений в итоговых строках.
В Оборотной ведомости, сформированной за год также есть такое.
@ShlTanya , пожалуйста, при возможности посмотри.

[2017-05-05 09:47] gsbelarus commented on #3746
Не трогайте это! 3 часа вчера потерял возвращая код обратно. Со сделанными
изменениями грид иногда попадает в бесконечный цикл перерисовки.

On May 5, 2017 11:56 AM, "NikolayUkleyko" <notifications@github.com> wrote:

[2017-05-05 09:58] NikolayUkleyko commented on #3746
изменениями грид иногда попадает в бесконечный цикл перерисовки.

Вот, собрались и обсудили.
Теперь понятно что да как.
@gsbelarus , спасибо !

[2017-05-05 13:52] gsbelarus commented on #3957
Задача спокойно разбивается на две подзадачи. Первая: реализация б/о и пользовательского интерфейса. Эту часть спокойно можно будет ставить и работать в автономном режиме. Т.е. в таком режиме, когда все записи остаются в самой базе. В режиме администратора можно просматривать, давать ответыпользователям и т.п.

Вторая часть -- реализация обмена данными через интернет, синхронизация с центральной б

[2017-05-06 04:07] alexandra-gsoftware opened #3962 "доделать по RaChart"
Важно и очень нужно:
- день может быть закрашен не полностью. Клетка может быть частично закрашена двумя днями (с двух сторон), но принадлежать только одному дню. Треугольнички.
- кажется, подглючивает комментарий (отображается на пустых клеточках тоже с данными ближайшей заполненной клеточки)
- а можно раскрашивать клетки, не присваивая интервалы? Я хочу визуально выделить какую-то часть клеток,

[2017-05-06 09:40] NikolayUkleyko opened #3963 "Общие. Добавить бизнес-класс для отображение только подразделений и сотрудников (Q)"
Давно с @MIchaelShoihet решили уйти от одновременного использования 2-х дублирующихся аналитических признаков **_Подразделение_**, **_Сотрудник_**.
Взяли за основу аналитику **Подразделение (Сотрудник)** (бывшее Подразделение).

По аналитике **Подразделение (Сотрудник)** прописан бизнес-класс **TgdcBaseContact**.
При работе с Журналом хоз. операций (Журналом-ордером и т.д.) в поле Подразделение (С

[2017-05-06 10:01] gsbelarus commented on #3962
Переписал внутренности с целочисленного типа на произвольный. По идее это откроет дорогу для использования типа дата-время напрямую и соответственно к интервалам, которые частично перекрывают клетку. Приду -- буду тестить.

[2017-05-06 11:54] NikolayUkleyko opened #3964 "Витебск МК. Услуги оказываемые. Древовидный справочник. Доработки (Q)"
**Исследователь / Услуги оказываемые / 02. Акт выполненных работ.**

В **_данном документе_** при нажатии на кнопку **Главный** отображается следующий перечень и порядок полей:

![1](https://cloud.githubusercontent.com/assets/11497453/25772049/8b68dcea-326a-11e7-89f1-e8b0fd27bf3e.png)

![2](https://cloud.githubusercontent.com/assets/11497453/25772050/8f8b73f0-326a-11e7-9aa5-b66f1f1cd85d.png)

В сп

[2017-05-06 12:14] NikolayUkleyko opened #3965 "Общие. При установке ПИ и настроек двойное переподключение к БД (Q)"
При установке ПИ и настроек двойное переподключение к БД.
Пожалуйста, при возможности устраните это явление.
При работе с большими БД МК переподключение выполняется не так быстро.
Достаточно же одного переподключения к БД.

Раньше такого не было.

[2017-05-06 12:19] NikolayUkleyko opened #3966 "Бухгалтерия. Журнал хоз. операций. Дублирование записи и позиционирование грида (Q)"
**Исследователь / Бухгалтерия / Журнал хоз. операций.**

При дублировании записи и нажатии на кнопку OK курсор автоматически произвольно становится на середину грида.
В данном случае курсор должен автоматически позиционироваться на новую добавленную запись.

Данная тема особенно актуальна для Витебск БПФ, эталона и для всех других БД.

----

@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-06 13:02] NikolayUkleyko opened #3967 "Сервис. Настройка остатков. Ограничение отображаемых групп ТМЦ (Q)"
**Исследователь / Сервис / Складские параметры / Настройка  остатков.**

На практике для каждого профиля можно выделить свои соответствующие группы ТМЦ.
Пожалуйста, добавьте необязательный реквизит типа выбор из множества **Отображать группы ТМЦ**.
С формой остатков будет удобнее работать.

[2017-05-06 13:28] NikolayUkleyko opened #3968 "Сервис. Типовой документ. Ограничение отображаемых групп ТМЦ (Q)"
**Исследователь / Сервис / Типовые документы.**

На практике для каждого документа при отображении остатков можно выделить свои соответствующие группы ТМЦ.
Пожалуйста, добавьте необязательный реквизит типа выбор из множества **Отображать группы ТМЦ**.
С со складскими документами будет удобнее работать.

[2017-05-06 15:01] NikolayUkleyko opened #3969 "Общие. Исследователь. Поиск по биноклю (Ctrl + S). Доработки (Q)"
В окне Исследователя при использовании горячих клавиш **_Ctrl + S_** следует доработать следующее:

1. При активной панели поиска добавить кнопку **Закрыть**.

2. При активной панели поиска при нажатии на клавишу **Enter** должна срабатывать команда **Найти**.

При работе с большими БД МК поиск по биноклю очень и очень удобен.

В отличие от горячих клавиш **_Ctrl + F_** поиск по биноклю имеет след

[2017-05-06 15:22] NikolayUkleyko commented on #3742
Выявлена еще недоработка.

1. Например, выполняем поиск по 2-м полям.
2. В одно поле введем реально существующую искомую запись, а во второе - произвольный набор данных.
3. В гриде ничего не будет отображен. Верно.
3. Через контекстное меню удаляем поле, в которое была введена некорректное значение.
4. Закрываем поиск по биноклю.

**В гриде пусто.
Помогает только закрыть-открыть форму документа.**

[2017-05-06 16:51] alexandra-gsoftware commented on #3962
+ сделайте плз возможность выделять область

[2017-05-06 18:52] gsbelarus commented on #3962
Доступ к выделенным ячейкам:

http://gsbelarus.com/gs/wiki/index.php/GsRAChart.TgsRAChart.GetSelected

Количество выделенных ячеек:

http://gsbelarus.com/gs/wiki/index.php/GsRAChart.TgsRAChart.SelectedCount

Очистка массива выделенных ячеек:

http://gsbelarus.com/gs/wiki/index.php/GsRAChart.TgsRAChart.ClearSelected

[2017-05-06 23:06] alexandra-gsoftware commented on #3962
О, так намного лучше!
только цвета интервалов поломались - они у меня щас все фиолетовые

[2017-05-06 23:11] alexandra-gsoftware commented on #3962
и текст иногда выводится, иногда нет (но хинт показывает правильный)

[2017-05-06 23:45] alexandra-gsoftware commented on #3962
выделение слетает по клику мышки... а мне нужно выбрать пункт в выпадающем меню :(

[2017-05-07 12:57] alexandra-gsoftware commented on #3962
Поняла. когда не выводится текст. Если текст не помещается. он и не выводится.

[2017-05-08 17:07] gsbelarus commented on #3962
1. Теперь для интервала можно указывать цвета и оконцовки:

http://gsbelarus.com/gs/wiki/index.php/GsRAChart.TgsRAChart.AddInterval

2. с мышкой разобрались
3. с выделением области тоже. Про то, что пока на интервале не прорисовывается выделенный курсор, я знаю. Будет в следующей версии.
4. Высота и ширина клетки.
5. http://gsbelarus.com/gs/wiki/index.php/GsRAChart.TgsRAChart.FindIntervalID

[2017-05-09 12:10] alexandra-gsoftware commented on #3962
Вроде работает, только цвет шрифта вдруг стал белым

[2017-05-09 12:34] gsbelarus commented on #3962
Так зима же.

On May 9, 2017 3:10 PM, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-05-09 12:51] alexandra-gsoftware commented on #3962
ха-ха.

[2017-05-09 16:33] alexandra-gsoftware commented on #3962
можно пример, как работает GetSelected из VBS?

[2017-05-09 16:35] alexandra-gsoftware commented on #3962
Такой код
[code]
 кидает ошибку

[2017-05-09 18:47] gsbelarus commented on #3962
Пока поставьте

`for i = 0 to Draw.SelectedCount - 2`

затвра скину исправленный код и перекомпилирую.

[2017-05-09 19:09] alexandra-gsoftware commented on #3962
Сейчас:
1) иногда инвертируются цвета шрифта
2) название интервала не выводится, если не помещается
3) проблема с ситуацией, когда клеточка принадлежит двум интервалам. Это лучше показать на примере. Тест выселился 24-го, Унитазов вселился 25-го, всё хорошо:
![image](https://cloud.githubusercontent.com/assets/11487200/25866634/c6e73cf2-34ff-11e7-8634-badcceefd89e.png)
Теперь Унитазова переселили н

[2017-05-10 15:30] NikolayUkleyko opened #3970 "Мастер установок. Недоработки (Q)"
Несмотря на то, что была анонсирован новейший механизм работы с визуальными настройками программы (http://gsbelarus.com/gs/wiki/index.php/Сохранение_параметров_грида) изложу очередные выявленные недоработки в отношении Мастера установок:

**1**. Не работает выделение цветом всей колонки. Не заголовка, а ячеек.

**2**. Если, есть условие на выделение и оно используется, то при удалении данного усло

[2017-05-10 15:52] alexandra-gsoftware commented on #3962
можно ли узнать начало и конец интервала, зная его ИД?

[2017-05-10 17:14] ShlTanya commented on #3742
Исправила

[2017-05-10 17:44] gsbelarus commented on #3962
Это визуальный компонент. Он не должен хранить данные. Есть ид -- по нему получите данные из базы данных.

[2017-05-10 18:13] alexandra-gsoftware commented on #3962
я передвинула - у него сменилось положение - я хочу записать новое положение в бд, иначе зачем я его двигаю? или мне рассчитывать координаты курсора?

[2017-05-10 18:15] alexandra-gsoftware commented on #3962
и кстати, рассчитать координаты курсора мне надо при начале перетаскивания тогда, но такого события нет

[2017-05-10 18:34] alexandra-gsoftware commented on #3962
может, я чего-то не понимаю
вот у нас есть интервал 10.05 - 14.05. я его беру за клеточку 13.05 и двигаю вертикально вниз. У интервала визуально даты не сместились, правильно? должно быть 10.05-14.05, но другой ресорс-ид. Но начало перетаскивания нигде не фиксируется, а в конце я могу получить только новый ресорс-ид и клеточку 13.05. Как мне определить, что в базу нужно записать 10.05 - 14.05?

[2017-05-10 18:41] gsbelarus commented on #3962
Ok. Завтра сделаю ивент по этому поводу.

On May 10, 2017 9:34 PM, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-05-11 02:45] alexandra-gsoftware commented on #3952
Вот вам еще картинка
![image](https://cloud.githubusercontent.com/assets/11487200/25930090/dec1c46a-360c-11e7-8067-9b9bc19d9506.png)
Поиск нашел все инклюды ф-и Rebuild, но не нашел ни ее саму, ни где она вызывается

[2017-05-11 06:42] gsbelarus commented on #3952
@ShlTanya гляньте что там с этим поиском не так

[2017-05-11 17:40] alexandra-gsoftware commented on #3962
просят
- цвета шапки помягче
- возможность выводить текст не только на итервале, но и после. Например, интервал заканчивается, и сразу после него - кол-во дней до след интервала
- подсказку к выделенной области, как сейчас есть подсказки к к интервалам
- текст по-прежнему не выводится, если не помещается

[2017-05-11 20:40] alexandra-gsoftware commented on #3962
еще они просят (не связано с шахматкой) компонент Дата с календарем для полей дат

[2017-05-12 02:20] alexandra-gsoftware commented on #3962
Добавьте плз собыие на выделение области

[2017-05-12 06:11] gsbelarus commented on #3962
а куда его выводить? не хватает же места. он в этом случае добавляется в хинт.

[2017-05-12 07:48] NikolayUkleyko opened #3971 "Витебск БПФ. Очень длительная синхронизация ПИ"
На БД Витебск БПФ очень длительная синхронизация ПИ.

![2017-05-12_104323](https://cloud.githubusercontent.com/assets/11497453/25988357/52401e5c-3700-11e7-8224-0c0a5edadf6b.png)

Данный процесс занимает часы.
Это нездоровое явление.
На других БД МК синхронизация выполняется в течение нескольких минут.
@gsbelarus , пожалуйста, решите данный вопрос.

----

Добавлю.
Ситуация.
Необходимо установить оп

[2017-05-12 07:53] gsbelarus commented on #3971
Что-то же уже правили в данном направлении. Там последний экзешник?

[2017-05-12 08:00] NikolayUkleyko commented on #3971
Предположительно ничего не меняли.
Скинул Вам путь к офисной БД.
Для примера можно выбрать папку **Основные средства**.

[2017-05-12 09:49] NikolayUkleyko opened #3972 "Бухгалтерия. Конфигурации. Исключаемые значения (Q)"
**Исследователь / Сервис / Складские параметры / Настройка карточки товара.**

Обратите внимание на закладку **Значения отображаемых признаков**.
Программа позволяет не только указать знак **=** на конкретное значение, но и другие варианты (**исключить и прочие**).

![1](https://cloud.githubusercontent.com/assets/11497453/25993773/dd5bf64c-3713-11e7-825e-84755e112e16.png)

**Исследователь / Бухгал

[2017-05-12 09:59] NikolayUkleyko opened #3973 "Бухгалтерия. Конфигурации. Запрос значения и сохраненное выбранное значение (Q)"
**Исследователь / Бухгалтерия / Журнал-ордер.**

Сохранили конфигурацию с запросом значения.
Сформировали форму.
На панели инструментов выбрали значение.
Пересохранили форму в существующую конфигурацию.
При запуске конфигурации программа предложит заполнить параметр.
Форму будет сформирована не по введенному значению в параметрах, а по значению сохраненному в конфигурации.
При этом в свойствах кон

[2017-05-12 11:59] alexandra-gsoftware commented on #3971
буквально вчера синхронизировали на бро по удаленке - минут 20.

[2017-05-12 12:01] alexandra-gsoftware commented on #3962
на сколько хватает - столько и выводить

[2017-05-12 12:13] NikolayUkleyko commented on #3971
Юра, подтвердит, что долго на офисе и на удаленке.
20 минут это тоже не вариант.
Предусмотреть простой вариант установки ПИ.

[2017-05-12 12:26] YRozmysl commented on #3971
да, не быстро, но тут зависит еще и того какие объекты в ПИ.

[2017-05-12 12:36] gsbelarus commented on #3971
Сейчас уже не будет  зависеть. Экзешник надо будет обновить. Скоро выложу.

[2017-05-12 12:36] #3971 closed, assigned to gsbelarus

[2017-05-12 13:11] NikolayUkleyko commented on #3971
Ждем с нетерпением.

[2017-05-12 15:07] NikolayUkleyko commented on #3633
5. При нажатии на кнопку **Дубликат** на панели инструментов грида **Показатель на дату**, пожалуйста, предусмотрите копирование записей из грида составляющие показателя.
Можно сказать, копирование с позициями.

6. В гриде **Показатель на дату** в контекстное меню добавить команду **Свойства**.

[2017-05-12 15:44] alexandra-gsoftware commented on #3962
вывод текста на интервале - работает
перетаскивание - работает, спасибо.

когда шахматка теряет фокус, все ячейки выделяются почему-то.

[2017-05-12 15:47] gsbelarus commented on #3962
Они не выделяются, а затеняются. Фокуса то нет.

On May 12, 2017 6:44 PM, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-05-12 16:50] alexandra-gsoftware commented on #3962
а, ну ок тогда.

[2017-05-12 17:28] ShlTanya commented on #3952
Исправила.. попробуйте.

[2017-05-13 06:39] alexandra-gsoftware commented on #3962
На вот это
`возможность выводить текст не только на итервале, но и после. Например, интервал заканчивается, и сразу после него - кол-во дней до след интервала`
пока можно забить.

Сделайте, если можно, какое-то событие на смену активной клеточки

[2017-05-13 07:01] gsbelarus commented on #3962
Onchange

On May 13, 2017 9:39 AM, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-05-13 10:45] alexandra-gsoftware commented on #3962
мне кажется, он на все подряд вызываетя, не только на смену клеткі. А как узнать, что клетка сменілась?

[2017-05-13 12:25] alexandra-gsoftware commented on #3962
а сделайте плз цвета шапки регулируемыми, а те что есть - пусть по умолчанию будут

[2017-05-13 19:15] gsbelarus commented on #3962
клетка сменилась, вызвался OnChange. В чем тут проблема. Вы напишите что вы хотите сделать -- я подскажу как.

[2017-05-13 21:11] alexandra-gsoftware commented on #3962
есть массив объектов, описывающих интервалы. мне нужно (в идеале):
- выводить на отдельной панельке всю инфу по объекту.
- выводить ресорс и вэлью,  на которых стоит курсор
- выводить информацию по выделенной области (какие ресорсы, вэлью и  интервалы попали в выделение)

[2017-05-14 05:29] gsbelarus commented on #3962
Onchange сработал -- вся информация у вас под рукой. Выводите.

On May 14, 2017 12:11 AM, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-05-14 11:01] ShlTanya commented on #3966
исправлено

[2017-05-14 12:33] alexandra-gsoftware commented on #3962
а что с возможностью задавать цвета шапки?

[2017-05-14 13:43] gsbelarus commented on #3962
А какие надо? Я не хочу выносить свойство, потому как будпт совсем другой
механизм.

On May 14, 2017 15:33, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-05-14 13:49] alexandra-gsoftware commented on #3962
говорят, серенькие надо. хотя мне нравится как есть.

[2017-05-14 18:03] alexandra-gsoftware commented on #3962
есть небольшая проблема
При перетаскивании интервала я использую Draw.IntervalId, однако он не может однозначно определить нужный мне интервал, т.к в клетке может быть несколько интервалов (в моем случае - 2)
Пример:
я хочу подвинуть интервал без имени 30-31 влево
![image](https://cloud.githubusercontent.com/assets/11487200/26036415/fb4ca7ea-38e5-11e7-873c-9695256a6efd.png)

Интервал "Скарри Ричар

[2017-05-15 00:19] gsbelarus commented on #3962
С такими программистами и отдела тестирования не надо.

On May 14, 2017 9:03 PM, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-05-15 00:29] alexandra-gsoftware commented on #3962
отдел тестирования мы еще обсудим, если переживем эту жесть

[2017-05-15 17:46] gsbelarus commented on #3962
Попробуйте использовать в OnDragDrop свойство **DragIntervalID** вместо IntervalID.

[2017-05-15 20:35] alexandra-gsoftware commented on #3962
DragIntervalId = -1

[2017-05-16 07:25] gsbelarus commented on #3962
Я уточнил поведение IntervalID и DragIntervalID.

http://gsbelarus.com/gs/wiki/index.php/GsRAChart.TgsRAChart.DragIntervalID

надо потестить теперь. особенно с дробными интервалами.

[2017-05-16 09:25] NikolayUkleyko opened #3974 "Грид. Позиция документа. Выпадающий список с древовидной структурой данных"
**Исследователь / Зарплата и Отдел кадров / Зарплата / Ручной ввод.**

Напомню, что это пользовательский документ.

На gedemin.exe
Дата файла           = 27.01.2017
Версия файла         = 2.9.3.8971

В позиции документа в поле при вызове выпадающего списка получаем **_древовидную структуру данных_**:

![1](https://cloud.githubusercontent.com/assets/11497453/26098453/7580d1f8-3a30-11e7-9702-33c5038

[2017-05-16 09:41] NikolayUkleyko opened #3975 "Грид. Позиция документа. ColumnEditors. Добавить описание колонок и поиск"
![1](https://cloud.githubusercontent.com/assets/11497453/26099881/c8cbedda-3a34-11e7-80d3-6209a907946e.png)

Абсолютно не информативно.
На практике крайне неудобно искать требуемое поле.

@ShlTanya , пожалуйста добавь описание колонок и предусмотри возможность поиска.

[2017-05-16 09:47] NikolayUkleyko opened #3976 "Грид. Позиция документа. Поведение программы при не найденном значении (Q)"
В позиции документа выполняем поиск.
В результате не находим искомое значение.
При этом программа отобразит информационное следующее окно:

![1](https://cloud.githubusercontent.com/assets/11497453/26100085/88728ae0-3a35-11e7-9657-0d948f2afea9.png)

Нажав на кнопку **Да**, программа отобраpит следующее информационное окно:

![2](https://cloud.githubusercontent.com/assets/11497453/26100104/9aed070e-

[2017-05-16 12:48] alexandra-gsoftware commented on #3962
DragIntervalID вроде работает, спасибо.

[2017-05-16 13:27] NikolayUkleyko commented on #3954
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-16 13:50] MIchaelShoihet commented on #3961
Надо исправить. Если в настройках остатков, документов стоит ограничение на рабочую компанию, то ни к какому холдингу мы обращаться не должны.

[2017-05-16 20:21] alexandra-gsoftware commented on #3962
хотя нет.... иногда кидает invalid resource or interval id на GetIntervalData

[2017-05-16 21:05] gsbelarus commented on #3962
Значит нет такого ресурса или такого интервал ид у него

On May 16, 2017 11:21 PM, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-05-17 01:29] alexandra-gsoftware commented on #3962
так это происходит после перетаскивания, я смотрю по DragIntervalID  и ResourceID

[2017-05-17 05:28] gsbelarus commented on #3962
DragIntervalID имеет смысл только в паре DragResourceID.

Интервал только один. В ивенте перетаскивания он уже на новом месте и
принадлежит уже новому ресурсу, если пользователь перетащил на другкю
строку.

Естественно, что если попытаться искать его в старом ресурсе, его там уже
не будет.

On May 17, 2017 4:29 AM, "alexandra-gsoftware" <notifications@github.com>
wrote:

так это происходит после п

[2017-05-17 06:48] NikolayUkleyko commented on #3976
### Следует разобраться.
### Внимательно посмотрите.

При нажатии кнопки **Да** - программа информирует о том, что список для выбора пуст.
На самом же деле список не пуст.
**_По идее в данном случае программа должна отобразить весь существующий список._**

При нажатии кнопки **Отмена** - программа информирует о том, что список для выбора пуст.
На самом же деле список не пуст.
**_По идее в данном с

[2017-05-17 07:24] NikolayUkleyko commented on #3961
@ShlTanya , пожалуйста, не откладывай данный вопрос в долгий ящик.
Он приоритетный.

----

Не всегда на предприятии есть возможность часто обновлять gedemin.exe.
Все текущие правки и данная правку войдут в устанавливаемый gedemin.exe.

[2017-05-17 12:40] alexandra-gsoftware commented on #3962
есть ресурс 1, ресурс 2.
есть интервал 666, с датой начала 01.05.2017 и датой окончания 03.05.2017, принадлежащий ресурсу 1.
я перетаскиваю интервал 666 с ресурса 1 на ресурс 2, на даты с 08.05.2017 по 10.08.2017
DragResourceID = 1 (ид ресурса, откуда мы перетащили)
ResourceID = 2
DragIntervalID = 666 (ид интервала, который мы перетаскиваем)
IntervalID = 666 (ид интервала, который находится в клет

[2017-05-17 16:49] gsbelarus commented on #3962
Интервал не создается и не удаляется. Т.е. ид перетаскиваемого интервала сохранится и будет в свойстве DragIntervalID. По нему и новому ResourceID можно узнать новые границы.

[2017-05-17 16:56] alexandra-gsoftware commented on #3962
Еще раз. В некоторых случаях в DragIntervalID сохраняется не ИД интервала, который перетянивают, а того, который был рядом.

[2017-05-17 17:00] gsbelarus commented on #3962
это я проверю

2017-05-17 19:56 GMT+03:00 alexandra-gsoftware <notifications@github.com>:

[2017-05-17 17:04] alexandra-gsoftware commented on #3962
проверьте ситуацию:
есть интервал 555. Он заканчивается, и в этот же день начинается интервал 666. Мы тянем 666й за левый бок (за начало). Он (666) перетягивается. Но в DragIntervalID окажется 555, а НЕ 666.

[2017-05-17 17:54] gsbelarus commented on #3962
Обновите экзе. вроде исправил это.

2017-05-17 20:04 GMT+03:00 alexandra-gsoftware <notifications@github.com>:

[2017-05-17 19:06] alexandra-gsoftware commented on #3962
о, вроде сейчас ок.

[2017-05-17 19:36] alexandra-gsoftware commented on #3962
зеленая полоса по-прежнему есть под шахматкой. Они просили убрать.

[2017-05-18 16:51] ShlTanya commented on #3961
Посмотрела. Поправьте как д.б.
Рабочая организация является холдингом (содержит дочерние предприятия):
Ситуация 1. В настройках остатков установлен признак Ограничение на раб. компанию - в остатках отображаются данные только по раб. организации (без дочерних)
Ситуация 2. В настройках остатков НЕ установлен признак Ограничение на раб. компанию - в остатках отображаются данные и по раб. организации

[2017-05-18 19:46] MIchaelShoihet commented on #3961
Все правильно!

[2017-05-19 08:07] NikolayUkleyko commented on #3961
OK !

[2017-05-19 14:00] ShlTanya commented on #3961
Прошу еще 1 уточнение. Рабочая организация - это что??? (организация, которая выбрана в форме остатков или "основная" организация в программе (указана на главной форме)). Почему спрашиваю.
Признак в настройках остатков  Ограничение на раб. компанию  ограничивает выбор остатков именно по "основной" организации (с главной формы).
Насколько я понимаю, в качестве холдинга может выступать любая организ

[2017-05-19 14:16] MIchaelShoihet commented on #3961
Рабочая организация и холдинг имеется ввиду только наш. Т.е. список организаций gd_ourcompany. Если выбрана любая другая организация, то остатки по ней строятся как по подразделению. Отдельно обрабатывается только наша организация.

[2017-05-19 14:24] NikolayUkleyko commented on #3961
@ShlTanya , данный реквизит предназначался для того, чтобы при формировании остатков по верхнему подразделению исключить вложенные подразделения.
Это в силу специфики структуры справочников подразделений (сотрудников) на том или ином предприятии.

[2017-05-19 16:21] alexandra-gsoftware commented on #3962
1) зеленая полоса уверенно угнездилась в нижней части шахматки
2) можно ли подумать над выгрузкой компонента куда-нибудь (чтобы можно было распечатать)?

[2017-05-19 16:32] gsbelarus commented on #3962
выгрузить не проблема. но вам же захочется чтобы оно еще и выглядело как в программе.

[2017-05-19 16:44] alexandra-gsoftware commented on #3962
бинго.

[2017-05-21 05:53] ShlTanya commented on #3961
Исправлено

[2017-05-21 05:54] ShlTanya commented on #3974
Исправлено

[2017-05-22 14:36] NikolayUkleyko commented on #3961
Проверено.
Теперь, остатки формируются по текущей рабочей организации с холдингом.
Если, в настройке остатков снять галку с реквизита **Ограничение на рабочую компанию** и программа выдаст следующее окно с сообщение об ошибке:

![2017-05-22_172935](https://cloud.githubusercontent.com/assets/11497453/26313930/11e4c8ea-3f15-11e7-97d1-f2c14e7f3a72.png)

[2017-05-22 15:36] ShlTanya commented on #3961
Николай... опишите, пожалуйста, ситуацию с ошибкой подробно.. Не могу ее повторить у себя.

[2017-05-23 06:43] NikolayUkleyko commented on #3974
Проверено.
Теперь структура данных в выпадающем списке соответствует заданным параметрам.

----

@ShlTanya , скажи, пожалуйста, работает ли сортировка ?
Указал **SotrOrder - SoAsc**.
Сортировки нет.
Должно работать корректно.

----

@ShlTanya , что по фильтрации данных с указанием условия в **Condition** ?

[2017-05-23 07:05] NikolayUkleyko commented on #3961
1. По рабочей организации добавил на закладке **Холдинг** выбрал некую организацию.

2. В настройках остатков снял галку с реквизита **Ограничение на рабочую компанию**.

3. При формировании форма остатков программа выдает вышеприведенное окно с сообщением.

[2017-05-23 13:56] NikolayUkleyko commented on #1564
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-23 13:57] NikolayUkleyko commented on #1403
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-23 13:58] NikolayUkleyko commented on #1159
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
Юра , пожалуйста, изложи свою точку зрения.

[2017-05-23 13:59] YRozmysl commented on #1159
можно закрывать

[2017-05-23 13:59] NikolayUkleyko commented on #1148
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-23 13:59] NikolayUkleyko commented on #1050
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-23 14:01] NikolayUkleyko commented on #753
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-23 14:02] NikolayUkleyko commented on #237
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-23 14:03] NikolayUkleyko commented on #3457
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-23 14:03] NikolayUkleyko commented on #3449
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-23 14:04] NikolayUkleyko commented on #3075
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
Юра , пожалуйста, изложи свою точку зрения.

[2017-05-23 14:04] NikolayUkleyko commented on #3099
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-23 14:04] NikolayUkleyko commented on #3100
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-23 14:05] NikolayUkleyko commented on #2898
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-05-23 14:05] NikolayUkleyko commented on #2415
@gsbelarus , пожалуйста, закройте тему.

[2017-05-23 14:06] YRozmysl commented on #3075
А, что тут излагать.  Проект закрыт по реализации на гмк, можно и тут закрывать

[2017-05-23 14:06] NikolayUkleyko commented on #2249
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@ilonaand , пожалуйста, изложи Вашу точку зрения.

[2017-05-23 14:08] NikolayUkleyko commented on #25
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2017-05-23 14:08] NikolayUkleyko commented on #3775
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@alexandra-gsoftware , пожалуйста, изложи свою точку зрения.

[2017-05-23 14:10] NikolayUkleyko commented on #2062
Тема перенеса в
Слетают параметры складского учета · Issue #358 · GoldenSoftwareLtd/gedemin-apps
https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/358

----

@gsbelarus , пожалуйста, закройте тему.

[2017-05-23 14:10] #1403 closed, assigned to gsbelarus

[2017-05-23 14:13] NikolayUkleyko commented on #3075
@gsbelarus , пожалуйста, закройте тему.

[2017-05-23 15:34] ShlTanya commented on #3961
Николай,  можете запрос получившийся мне дать??

[2017-05-23 15:51] NikolayUkleyko commented on #3961
@ShlTanya , не получится, так как в форме остатков при нажатии на кнопку **Сформировать (F5)** программа тут же выдает вышеприведенное окно с сообщением об ошибке.

[2017-05-23 16:06] NikolayUkleyko commented on #3419
Проверено.
Обновлений не выявлено.

@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-23 16:20] NikolayUkleyko commented on #3780
Сейчас реально неудобно искать требуемый бизнес-класс.

@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-23 16:31] NikolayUkleyko commented on #3947
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-05-23 16:31] #3947 closed, assigned to nobody

[2017-05-24 09:31] ShlTanya commented on #3961
Посмотрела демо БД. Для ОС надо изменить скрипт **GetFromClause**. Достаточно след. кода:
option explicit
function TgdcInvRemains147470194_50219829GetFromClause(Self, ARefresh)
  TgdcInvRemains147470194_50219829GetFromClause = _
    Inherited(Self, "GetFromClause", Array(Self, ARefresh))

  **dim Result
  Result = TgdcInvRemains147470194_50219829GetFromClause
  Result = Result & _
    " LEFT JOIN

[2017-05-24 13:18] NikolayUkleyko commented on #3961
Проверено.
Работает корректно.
@ShlTanya , большое спасибо ! :trophy:

[2017-05-24 13:18] #3961 closed, assigned to ShlTanya

[2017-05-24 16:38] NikolayUkleyko opened #3977 "Общие. Свойства. Закладка 'Данные'. Неполное отображение наименований полей (Q)"
В свойствах записи на закладке **Данные** отображаются неполные наименования полей:

![1](https://cloud.githubusercontent.com/assets/11497453/26414613/64f8b47a-40b8-11e7-9205-7d184feb5cbd.png)

@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-24 16:50] NikolayUkleyko commented on #3742
**f**. Выявлено неполное отображение наименований полей:

![1](https://cloud.githubusercontent.com/assets/11497453/26415147/275c5f0c-40ba-11e7-90fe-ed5362ad6d30.png)

@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-24 16:54] ShlTanya commented on #3742
Думаю в данном случае надо установить "читаемое" заглавие колонки в Мастере установок (F10)

[2017-05-24 16:55] NikolayUkleyko opened #3978 "Бухгалтерия. Предусмотреть унифицированный механизм добавления кнопки 'Проводки' (Q) (E/V)"
Пожалуйста, предусмотрите стандартный механизм добавления кнопки **Проводки**.
Предположительно, в типовой документ добавьте реквизит **Отображать кнопку 'Проводки'**.
Так, будет проще при разработке документов и выполнении настроек по данной кнопке.

[2017-05-24 17:08] NikolayUkleyko commented on #3742
@ShlTanya , скажи, пожалуйста, можно ли предусмотреть поиск среди полей, отображаемых при поиске по **Биноклю (Ctrl+S)** ?

[2017-05-24 17:10] ShlTanya commented on #3742
Поиск по поиску?? Не уверена, что это стоит делать..

[2017-05-24 17:15] NikolayUkleyko commented on #3742
У других коллег было аналогичное предложение.
Вся проблема в том, что не хватает режима отображения только тех колонок, которые отображаются в гриде.
@ShlTanya , можно ли это предусмотреть ?

[2017-05-24 17:30] ShlTanya commented on #3742
Я посмотрю как это можно реализовать.

[2017-05-24 17:33] NikolayUkleyko commented on #3742
Так, будет очень-очень удобно.
Коллеги подтвердят.

[2017-05-25 09:24] YRozmysl opened #3979 "GETCOMPLEXCASE не определяет мужской род прилагательного по окончанию -ой"
Есть база конкретная на которой некорректно склоняется наименование. Причем  непонятна закономерность, например, "**по 12.Кишечному участку**", НО почему-то  **"по 14.Жировому участок"**   Как поиск причины, и цифра из наименования убиралась, и копировалось слово целиком из того наименования в котором    все корректно.  Результат тот же - неверный.

[2017-05-25 12:22] gsbelarus commented on #3979
Это же тебе не искусственный интеллект.

[2017-05-25 12:32] YRozmysl commented on #3979
так и отвечу на ММК)

[2017-05-25 15:42] NikolayUkleyko opened #3980 "Общие. SQL-редактор. Как работает кнопка 'Заменить РУИД'"
**SQL-редактор / кнопка 'Заменить РУИД'**

![2017-05-25_183457](https://cloud.githubusercontent.com/assets/11497453/26457661/af224a68-4179-11e7-9986-38da1e490915.png)

Пожалуйста, подскажите, как работает данная кнопка ?

[2017-05-26 09:20] NikolayUkleyko commented on #3980
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-05-26 12:06] hirurg-lybitel opened #3981 "Кнопка "Только отмеченные""
@ShlTanya

Не в первый раз сталкиваюсь с тем, что клиенты открывают документ, а в нём либо не все записи, либо нет их вовсе.  И всё из-за того, что активна кнопка **Только отмеченные**.
Хотелось бы, чтобы при открытии формы эта кнопка сбрасывалась.
Ну или выдавать сообщение вроде того, что выпадает при активном фильтре.

[2017-05-26 12:50] stasgm commented on #3981
О, да. Истерики "у нас все пропало!!!" не один раз слышал)

[2017-05-26 14:10] NikolayUkleyko commented on #3981
Не соглашусь.
Не будем делать поспешных выводов.
Ведь на практике некоторым пользователям удобно, чтобы по умолчанию отображались только отмеченные записи.
Кому-то удобно, а кому-то нет.
Необходимо найти общий вариант решения вопроса.

----

По кнопке **Только отмеченные** могу сказать то, что в случае добавления некоторых записей в отмеченные, а потом удаление таких записей из документов (не из о

[2017-05-26 14:14] hirurg-lybitel commented on #3981
Это уже перебор.

Тогда просто информационное сообщение об активности этой кнопки.

[2017-05-26 14:23] NikolayUkleyko commented on #3981
Момент.
У нас есть параметр **Всегда запрашивать параметры для текущего фильтра и предупреждать о фильтрации данных**.

![2017-05-26_171731](https://cloud.githubusercontent.com/assets/11497453/26498456/c7a0a15c-4237-11e7-8fa8-ce64a1d10271.png)

В случае ее активации, при загрузке рабочего стола и открытии форм документов программа будет выдавать окно с параметрами фильтрации.
Это в случае, когда ф

[2017-05-28 09:30] #3979 closed, assigned to gsbelarus

[2017-05-28 09:34] gsbelarus commented on #3979
И чтобы два раза не ходить:

http://www.gsbelarus.com/gs/wiki/index.php/Gedemin_TLB.IgsApplication.GetComplexCase

[2017-05-28 09:42] gsbelarus commented on #3980
http://gsbelarus.com/gs/wiki/index.php/%D0%A0%D0%B5%D0%B4%D0%B0%D0%BA%D1%82%D0%BE%D1%80_SQL

[2017-05-28 09:42] #3980 closed, assigned to gsbelarus

[2017-05-29 09:35] PiuPauTralala commented on #3978
Да, это было бы отлично, а то сейчас множество примерно одинаковых функций в разных модулях. Это нужно и полезно как признак типового д-та. Возможно неплохо бы, вывести эту галку для доступа в коде.

[2017-05-29 15:00] NikolayUkleyko opened #3982 "Витебск БПФ. Витебск МК. Основные средства. Некорректная прорисовка грида (Q)"
**Исследователь / Основные средства / ОС. График лизинговых платежей.**

Выявлено отсутствие вертикальных линий в гриде:

![2017-05-29_175414](https://cloud.githubusercontent.com/assets/11497453/26554375/7a39c534-4498-11e7-8fed-0db6793fefa0.png)

В Мастере установок выполнены следующие настройки:

![2017-05-29_175522](https://cloud.githubusercontent.com/assets/11497453/26554376/7a4ce902-4498-11e7-

[2017-05-31 13:13] NikolayUkleyko commented on #3444
@ShlTanya , пожалуйста, изложи свою точку зрения.

Кто плотно занимается бухгалтерий понимает.

[2017-05-31 15:07] NikolayUkleyko opened #3983 "Грид. В подножии таблицы неформатированное отображение количества записей (Q)"
Пожалуйста, предусмотрите в гриде в подножии таблицы форматированное отображение количества записей.

![2017-05-31_180319](https://cloud.githubusercontent.com/assets/11497453/26638901/058acb08-462c-11e7-8613-3937f66e686b.png)

Пожалуйста, поправьте.

[2017-05-31 15:15] NikolayUkleyko opened #3984 "Фильтры. Не верно отображается количество записей при конструкции Rows ... To ... (Q)"
Если, в фильтрах использовать формулы и запросы, указав в конце SQL-запроса **Rows ... To ...**.
То, при нажатии на кнопку **_Количество записей_** будет выведено общее количество записей.
Грид реально отфильтрован по количеству записей.
Проверил через количество отображаемых записей в подножии таблицы.

@gsbelarus , @ShlTanya , пожалуйста, изложите, ваши, точки зрения.

[2017-06-02 17:08] NikolayUkleyko opened #3985 "Основные средства. Выбор из остатков в документах. Не показывать уже выбранные позиции (Q)"
В подсистеме **Материальный склад** при выборе из остатков в документах **_предусмотрено скрытие_** уже выбранных позиций.
Это логично и понятно.
Работает корректно.
В данном случае в основе лежит таблица INV_CARD.

В подсистеме **Основные средства** при выборе из остатков в документах (**ОС. Изменение свойств, ОС. Допоступление/Списание затрат, ОС. Начисление амортизации и т.д.** ) **_не предусмо

[2017-06-02 20:14] MIchaelShoihet commented on #3985
Абсолютно не понятно что вы имеете ввиду под скрытием позиций. ОС и материальный склад и спецоджеда работают на одних и тех же документах. Позиции ни где специально не скрываются, все с чем вы работаете это остатки и если на указанном подразделении их нет, то они не отображаются, если они есть то они отображаются и нет больше никаких ограничений. Поэтому естественно при выборе в документах не изме

[2017-06-03 14:58] PiuPauTralala commented on #3985
Имеется ввиду, что один и тот же ОС можно выбрать бесконечное количество раз в одном и том же документе, например, амортизации. Это дает просторное поле для ошибок пользователям. Если как-то разрешить такую ситуацию, то и форма выбора остатков станет логичнее: мы в ней не будем видеть уже выбранные ОС, и ошибочно выбрать дважды один и тот же объект будет нельзя.

[2017-06-03 15:03] MIchaelShoihet commented on #3985
Я понимаю, что имеется в виду. Но решения в общем виде я не вижу... Форма отображает остатки и выбор товара в форму еще не означает, что его нельзя выбрать еще раз в общем случае. В документе можно настроить проверку,  что бы не выбирать. А любое вмешательство в форму просмотра остатков может привести к еще большему замедлению их построения

[2017-06-03 15:09] PiuPauTralala commented on #3985
Получается как с ускорением построения остатков на старом exe - придётся писать костыли.

[2017-06-03 15:13] MIchaelShoihet commented on #3985
Что значит костыли? В данном случае - это функциональность конкретного документа. Если в документе нельзя выбрать одну позицию два раза, то это функциональность конкретного документа и обрабатывать ее надо нормально, программируя нормальный код.

[2017-06-03 15:39] ShlTanya commented on #3985
Можно сделать в форме выбора из остатков проверку на добавление позиции в выбранные значения на уже существующую позицию.

[2017-06-03 19:17] MIchaelShoihet commented on #3985
В общем случае как вы это сделаете? Ведь можно выбрать не весь остаток, а только часть. Можно выбрать из одного остатка несколько позиций с разными значениями и это тоже может иметь место...
Плюс сама идентификация, что этот остаток соответствует выбранной позиции в общем случае не простая задача.

[2017-06-05 06:56] NikolayUkleyko commented on #3985
В части ОС проверка на количество = 1.

[2017-06-05 07:21] MIchaelShoihet commented on #3985
В части ОС да. Но гедемин про ОС ничего не знает. Это надо выносить уже на уровень самого документа.

[2017-06-05 08:53] ShlTanya commented on #3985
Михаил, а если ставить задачу не полной идентификации позиции.. а сравнение только по Goodkey или Cardkey. И при наличии выводить только сообщение (не запрещать). И данную проверку сделать как опцию в настройках типовых документов.
Либо можно подумать про вариант проверки на дубли позиций при выходе из выбора из остатков. А не на каждую позицию. И при наличии тоже выводить только сообщение.

[2017-06-05 09:03] NikolayUkleyko commented on #3985
Хороший вариант тем, что он включаемый/отключаемый и только информативный.
То есть, нет жесточайшего запрета.

[2017-06-05 09:11] NikolayUkleyko opened #3986 "Бухгалтерия. Создать блокировку периода только по бухгалтерским счетам (Q)"
Можно ли предусмотреть простую блокировку данных до даты по всем бухгалтерским счетам кроме указанных, как исключение ?
Существующая блокировка периода по документа и группам пользователям менее удобна.

Коллеги, какова, ваша, точка зрения ?

[2017-06-05 09:28] NikolayUkleyko opened #3987 "Бухгалтерия. Конструктор функций. Множественное отображение окна результата поиска (Q)"
**Исследователь / Бухгалтерия /  Типовые хоз. операции, Автоматические хоз. операции, Настройка функций / Конструктор функций.**

При неоднократном нажатии на кнопку поиска каждый раз появляется дублирующееся окно с результатами поиска.

![2017-06-05_121703](https://cloud.githubusercontent.com/assets/11497453/26778545/5f1ddf18-49ea-11e7-815b-32b203996d07.png)

Для выхода из конструктора функций не

[2017-06-05 10:18] gsbelarus commented on #3987
Так может один раз нажимать?

[2017-06-05 10:19] NikolayUkleyko commented on #3987
Для точности приходится нажимать несколько раз.
В других программах такого нет.
Если, это очень сложно - не делайте.

[2017-06-05 11:32] MIchaelShoihet commented on #3985
Скажем так идентификацию можно проводить по полю, которое мы указали для ускорения вывода остатков и goodkey, в случае когда поля откуда и куда совпадают, (если они не совпадают, у нас это контролируется количеством и проверка будет лишней) и только с выводом сообщения.

[2017-06-07 12:22] NikolayUkleyko commented on #3445
1. Если, в документе инвентаризации отражен **излишек или отклонение вовсе не отражено**, то при попытке удаления такой позиции из приходной накладной программа отобразит окно с сообщением об ошибке:

![2017-06-07_150157](https://user-images.githubusercontent.com/11497453/26877768-9f815ddc-4b93-11e7-8fb8-adcc40c6cf7d.png)

В случае отсутствия отклонения по инвентаризации в карточке ТМЦ документ ин

[2017-06-07 12:34] NikolayUkleyko commented on #3445
@MIchaelShoihet , @ShlTanya , пожалуйста, изложите, ваши, точки зрения.

[2017-06-07 12:38] MIchaelShoihet commented on #3445
На самом деле кроме инвентаризации, это может быть любой документ, который не сформировал движение (документ у которого в позиции кол-во = 0 или отложенный документ).

[2017-06-07 12:52] NikolayUkleyko commented on #3445
Тогда, напрашивается нормальное сообщение для пользователей.
Например,
#### Выбранные записи удалить нельзя !
#### Возможно удаляемые ТМЦ выбраны в документе у которого в позиции кол-во = 0 или отложенный документ.

Согласитесь, что это куда понятнее для пользователей, чем INV_CARD и/или ID ?
Станет понятно, где и что посмотреть.

@MIchaelShoihet , все же, каково предназначение кнопок **Переместит

[2017-06-07 13:02] MIchaelShoihet commented on #3445
Согласен. Кнопки Переместить все или переместить позицию подразумевались для того что бы расход который шел по удаляемой позиции переместить на существующий другой остаток. Но сложно определить на какой можно переместить, поэтому она пытается переместить на полностью по признакам совпадающий остаток, а такого обычно нет...

[2017-06-07 13:22] NikolayUkleyko commented on #3445
Так, может это скрыть ?

[2017-06-07 19:44] ShlTanya commented on #3742
Добавила опцию режима поиска только по видимым полям таблицы. Режим поиска сохраняется для каждой формы.

[2017-06-08 14:45] NikolayUkleyko commented on #3969
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-06-08 14:46] NikolayUkleyko commented on #3742
@ShlTanya , данная доработка commit ?

[2017-06-08 14:53] gsbelarus commented on #3742
Не надо никаких опций. Про них 99.999999999999999999% ничего не знают. Поступайте как Apple -- минимум настроек, минимум непонятного для конечного пользователя.

Я против:

[code]

[2017-06-08 14:54] gsbelarus commented on #3742
Если правильнее искать только по видимым -- ищите по ним.

[2017-06-08 14:56] gsbelarus commented on #3742
Не надо мусорить хранилище. В крайнем случае сделайте переключатель "только видимые". Он включен при открытии формы. Его можно переключить, но состояние его нигде не сохраняется.

[2017-06-08 15:05] NikolayUkleyko commented on #3742
Про это и шла речь.
?

[2017-06-08 15:40] ShlTanya commented on #3742
Тогда может лучше Всегда показывать видимые поля таблицы + историю поиска??

[2017-06-08 16:03] NikolayUkleyko commented on #3742
Если, показывать всегда видимые поля, то это уже включает в себя уже выбранные поля, по которым выполнялся поиск.
?
Противоречие.

Сейчас фильтрация по Биноклю работает корректно.
Я бы вместо стандартной кнопки **_Все поля_** предусмотрел кнопку **_Видимые поля_**.
Нажав которую, отображались бы поля строго из грида формы.
Это поля, по которым в **_Мастере установок_** проставлена галка по реквизи

[2017-06-08 16:08] ShlTanya commented on #3742
Поле будет отображаться 1 раз. Либо оно было уже в истории поиска, либо видимо в таблице.

[2017-06-08 16:09] NikolayUkleyko commented on #3742
Хорошо.
Посмотрим на практике.

[2017-06-08 16:10] gsbelarus commented on #3742
1. Сделайте две кнопки **Видимые** и **Все**.
2. Сразу панель открывается только с полями, которые ранее были задействованы в поиске.
3. Нажатие на Видимые выводит список видимых полей.
4. Нажатие на Все выводит список всех полей.

[2017-06-08 16:19] ShlTanya commented on #3742
Хорошо

[2017-06-09 12:21] NikolayUkleyko opened #3988 "Бухгалтерия. Журнал-ордер. Предусмотреть прокрутку панели параметров скроллом мышки (Q)"
**Исследователь / Бухгалтерия / Журнал-ордер, Карта счета, Анализ счета, Оборотная ведомость, Главная книга.**

Пожалуйста, предусмотрите следующее:

1. **Добавить** возможность прокрутки панели параметров скроллом мышки

![2017-06-09_145654](https://user-images.githubusercontent.com/11497453/26975027-bf343d22-4d26-11e7-9cc0-c682842c2ab8.png)

----

2. **Убрать** возможность прокрутки значение в п

[2017-06-09 12:31] NikolayUkleyko commented on #3963
@gsbelarus , пожалуйста, изложите, Вашу, точку зрения.

[2017-06-09 12:47] PiuPauTralala commented on #3988
Прокрутка скроллом не так уж и плоха, если сделать ее в выпадающем списке, а не в выделенном поле.

[2017-06-09 15:03] NikolayUkleyko commented on #3988
@MBurakina , я так и имею в виду: убрать прокрутку из поля, оставить ее в списке.

[2017-06-12 11:43] NikolayUkleyko commented on #3988
Сейчас можно случайно прокрутить скролл мышки на любом реквизите параметров формирования формы: Счет, Аналитика и другие.
Что не есть хорошо.
Так как, будет разница между уже сформированной формой и указанными параметрами.

[2017-06-12 12:03] NikolayUkleyko commented on #3986
Предполагаемая здесь

Блокировка периода (постановка) — GedeminWiki
http://gsbelarus.com/gs/wiki/index.php/%D0%91%D0%BB%D0%BE%D0%BA%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0_%D0%BF%D0%B5%D1%80%D0%B8%D0%BE%D0%B4%D0%B0_(%D0%BF%D0%BE%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BA%D0%B0)

блокировка периода имеет массу настроек.
Можно ли сюда добавить блокировку по критерию **Бухгалтерский счет** ?

На практике

[2017-06-12 14:27] NikolayUkleyko commented on #3954
Коллеги, что, вы, думаете по данной теме ?

[2017-06-12 14:27] NikolayUkleyko commented on #3794
Коллеги, что, вы, думаете по данной теме ?

[2017-06-12 14:34] YRozmysl commented on #3794
Да, вот лично для меня было бы актуально, если бы был какой то параметр в котором можно было указать корреспонд. счета и по им бы и построилось. А если там пусто, режим построения остается, как и теперь на данный момент. Можно было бы и сообщение  с предупреждением, что при построении выбраны корр. счета конкретные

[2017-06-12 17:41] MIchaelShoihet commented on #3794
Это вопрос на перспективу и достаточно не простой. Мне в 99% случаев хватает и текущего. Иногда хочется большего, но это слишком дорого.

[2017-06-13 06:51] NikolayUkleyko commented on #3794
В тоже время, в **Карте счета** предусмотрен реквизит **Корреспондирующий счет**.
Как это понимать ?

[2017-06-13 06:52] MIchaelShoihet commented on #3794
Что это уже сделано.

[2017-06-13 07:09] NikolayUkleyko commented on #3794
ОК.
Спасибо, всем за общение.

[2017-06-13 07:09] #3794 closed, assigned to nobody

[2017-06-13 16:10] NikolayUkleyko opened #3989 "Мастер установок. Искажение на форме параметров (Q)"
В форме Мастера установок при изменении масштаба в блоке **Расширенное отображение** дублируются параметры

![2017-06-12_165933](https://user-images.githubusercontent.com/11497453/27092403-db766df0-506b-11e7-8125-2a9fc0d6fbd5.png)

Это напрягает.
Пожалуйста, устраните недоработку.

[2017-06-13 16:55] NikolayUkleyko commented on #3757
@MIchaelShoihet , пожалуйста, предусмотрите аналогичную возможность и для **Главной книги**.

![2017-06-13_194655](https://user-images.githubusercontent.com/11497453/27094241-1ec130c6-5072-11e7-9274-ee7b55676043.png)

[2017-06-13 16:58] NikolayUkleyko commented on #3767
Если, у СУБД Firebird большие возможности, то не может быть, что нет запроса или прочих инструментов для получения чистой БД с сохраненной структурой и данными в справочниках ?

[2017-06-13 16:59] NikolayUkleyko commented on #3881
@MIchaelShoihet , Вы, обещали.
Пожалуйста, решите вопрос.

[2017-06-13 17:03] alexandra-gsoftware commented on #3767
есть. Но в гедымине же еще хранилище, макросы, отчеты и тд, и тп, которые тоже нужно сохранить\перенести

[2017-06-13 17:06] ShlTanya commented on #3742
Исправила

[2017-06-13 17:11] NikolayUkleyko opened #3990 "Firebird v.2.5. Назначение PDB-файлов"
@gsbelarus , пожалуйста, подскажите, зачем в Snapshot Firebird v.2.5 следующие **PDB-файлы**:

![2017-06-13_200653](https://user-images.githubusercontent.com/11497453/27094937-881fa67c-5074-11e7-8af8-6cbe07696816.png)

[2017-06-13 17:22] NikolayUkleyko opened #3991 "Бухгалтерия. Скорость формирования 'Оборотной ведомости, Главной книги' на крупных БД (Q)"
**Исследователь / Бухгалтерия / Оборотная ведомость / Главная книга.**

На практике на БД крупных предприятий скорость формирования таких форм невысокая.
Да, у нас предусмотрен режим **Переход на новый месяц**:

![2017-06-13_201333](https://user-images.githubusercontent.com/11497453/27095214-86986572-5075-11e7-85d0-e099858059f3.png)

В случае внесения изменений в месяце, то, как обновить результат

[2017-06-13 17:30] NikolayUkleyko commented on #3767
Если, мы знаем, что необходимо отдельно сохранить данные в таких категориях, как:

хорошо бы предусмотреть данную возможность.

[2017-06-13 17:31] NikolayUkleyko commented on #3742
Приятно, слышать @ShlTanya .
Татьяна, скажи, пожалуйста, данная новация commit ?

[2017-06-13 17:36] MIchaelShoihet commented on #3991
Каким образом. Во всех ситемах скорость работы достигается только за счет именно расчета промежуточного сальдо, что и делает переход на новый месяц. Я им пользуюсь на бройлерах и скорость построения стандартных отчетов на порядок быстрее. Другие методики могут убыстрить на проценты все равное везде где надо считать сальдо - его надо посчитать.

[2017-06-13 17:38] ShlTanya commented on #3985
Что делать с документами, в которых отсутствует поле куда или откуда.

[2017-06-13 17:40] MIchaelShoihet commented on #3985
Поля такие всегда есть они либо в шапке либо в позиции и проверять вы можете только на то, если поле откуда и куда одно и то же.

[2017-06-13 17:50] ShlTanya commented on #3985
Немного не так спросила. Я имела в виду, например, Отпуск на сторону. Куда - это Клиент.. В данном документе откуда не будет равно куда. Значит в таких документах не делать проверку??

[2017-06-13 17:57] MIchaelShoihet commented on #3985
в таких документах у нас остаток списывается и это само отражается. Проблема только там где остаток не изменяется, а меняются только свойства.

[2017-06-13 17:58] ShlTanya commented on #3742
да

[2017-06-13 18:01] ShlTanya commented on #3985
Спасибо. Я поняла.

[2017-06-13 20:56] stasgm commented on #3990
Это не сборка такая. Это ты скачал архив с файлами для отладки (64\32-bit Debug Kits (Binary + PDB components))
А качать надо из раздела 64\32-bit Classic, Superclassic & Superserver

[2017-06-14 05:49] gsbelarus commented on #3767
Перенос/тиражирование функционала только через ПИ. Иначе мы на всю жизнь останемся на уровне детского сада.

[2017-06-14 05:49] #3767 closed, assigned to nobody

[2017-06-14 07:35] NikolayUkleyko commented on #3767
Хорошо бы предусмотреть возможность нажатия по одной кнопке для сохранения всех объектов БД в ПИ.
Кроме записей по документам, разумеется.
@gsbelarus , скажите, пожалуйста, это реально ?

[2017-06-14 08:01] NikolayUkleyko commented on #3990
@stasgm , это понятно.
Snapsot брался именно этот:

![2017-06-14_105242](https://user-images.githubusercontent.com/11497453/27121641-c8c7f8d8-50f0-11e7-9658-2632d5102e04.png)

[2017-06-14 08:04] NikolayUkleyko commented on #3991
Как удалить расчет за месяц ?
Или как обновить данные за месяц ?

[2017-06-14 09:30] stasgm commented on #3990
Чтобы было понятно, что за сборка качай отсюда https://www.firebirdsql.org/en/firebird-2-5/

[2017-06-14 09:43] NikolayUkleyko commented on #3990
@stasgm , я веду речь про Snapshot, а не инсталляцию.
Меня интересует именно Snapshot.
Я могу скинуть архивы с файлами и разница очевидна.

[2017-06-14 09:49] gsbelarus commented on #3990
Это отладочная информация. В повседневной работе она не нужна, но и ничем не мешает.

[2017-06-14 09:49] #3990 closed, assigned to nobody

[2017-06-14 09:53] gsbelarus commented on #3767
Нет.

[2017-06-14 09:59] NikolayUkleyko commented on #3990
Это я и хотел узнать.
@gsbelarus , большое спасибо !

[2017-06-14 10:10] NikolayUkleyko commented on #3767
OK.

[2017-06-15 06:59] NikolayUkleyko commented on #3742
Проверено.
В целом работает корректно.
Необходимо предусмотреть следующее:

1. При нажатии на кнопку **Видимые** очередность полей поиска должна соответствовать очередности полей в гриде.
Так удобнее воспринимать данные и их анализировать.

2. Если, уже была нажата кнопка **Видимые**, то делать ее неактивной для выбора.

3. В случае корректных названий колонок в гриде некоторые названия колонок на

[2017-06-15 07:44] ShlTanya commented on #3742
1. Можно сделать.
2. Нажали кнопку Видимые (по Вашему варианту кнопка скрылась ).. Изменили в гриде колонки. Что сделать пользователю чтобы отобразить заново видимые поля??
3. Надо обсуждать. Сделать то можно, но все равно д.б. ограничение.. например максимум 2 строки.

[2017-06-15 07:47] ShlTanya commented on #3742
По 3 пункту.. на поле есть хинт.. думаю его и достаточно.

[2017-06-15 08:00] NikolayUkleyko commented on #3742
По пункту № 1.
Решили, что это можно сделать.
Хорошо.

По пункту № 2.
Случай, когда пользователь меняет очередность колонок в гриде связано и с пунктом № 1.
Хорошо, @ShlTanya , можно придумать дополнительные проверки на изменения.
Не будем усложнять конструкцию.
@ShlTanya меня убедила.
Поэтому, данный пункт оставляем без изменений.

По пункту № 3.
Пожалуйста, скриншот **Исследователь / Основные ср

[2017-06-15 08:56] gsbelarus commented on #3742
Давайте поставим здесь точку. Перенос невозможен.

[2017-06-15 08:56] #3742 closed, assigned to nobody

[2017-06-15 09:35] NikolayUkleyko commented on #3742
Хорошо.
Только не забудьте пункт № 1.
Обновите gedemin.exe.

[2017-06-15 15:20] NikolayUkleyko opened #3992 "Бухгалтерия. Оборотная ведомость. Реквизит ”Включать субсчета в главный”. Неверный расчет итогов"
**_Исследователь / Бухгалтерия / Оборотная ведомость._**

При формировании формы
с галкой по реквизиту **Включать субсчета в главный**
 и без галки по реквизиту **Только главные счета**
задвоение итоговых сумм на суммы по главным счетам.

@MIchaelShoihet , @ShlTanya , пожалуйста, изложите, ваши, точки зрения.

[2017-06-16 07:58] NikolayUkleyko commented on #3691
Продолжение данной темы в теме
https://github.com/GoldenSoftwareLtd/gedemin/issues/3992

[2017-06-21 09:17] hirurg-lybitel opened #3993 "FastReport 4 и моб. устройства"
При отправке отчёта FastReport 4 в PDF формате и попытке открыть его на моб. устройстве, русские буквы исчезают. Хотя при открытии этого же файла на компьютере всё хорошо.

@stasgm
@ShlTanya
@gsbelarus

[2017-06-21 09:32] arthur-latunov commented on #3993
при экспорте в PDF признак [Встроить шрифты] была "птица"?

21 июня 2017 г., 12:17 пользователь hirurg-lybitel <notifications@github.com

[2017-06-21 13:51] hirurg-lybitel commented on #3993
Речь идёт об отправке на email. Там такого признака нет.

[2017-06-21 14:05] gsbelarus commented on #3993
На мобильном есть разные просмотрщики. Во всех неправильно выводится?

On Jun 21, 2017 16:51, "hirurg-lybitel" <notifications@github.com> wrote:

Речь идёт об отправке на email. Там такого признака нет.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/GoldenSoftwareLtd/gedemin/issues/3993#issuecomment-310084924>,
or mute the

[2017-06-21 14:18] hirurg-lybitel commented on #3993
Все стандартные

[2017-06-21 21:37] stasgm commented on #3993
У меня на в pdf на месте текста пустота

[2017-06-27 16:55] NikolayUkleyko commented on #3742
@ShlTanya , привет !
Проверил на Newest gedemin.exe не выявил соответствие **очередности** колонок на панели поиска и в гриде.
@ShlTanya , скажи, пожалуйста, вносила ли, ты, правки ?
Если, да, то они commit ?

[2017-06-28 14:10] NikolayUkleyko opened #3994 "Витебск БПФ. Бухгалтерия. Ошибка External exception..."
**Исследователь / Бухгалтерия / Типовые хоз. операции.**

На RDP-подключении ошибка при работе с типовыми проводками:

![2017-06-28_170730](https://user-images.githubusercontent.com/11497453/27641435-772754a8-5c24-11e7-84f7-2303b3ff1a4b.png)

Такое часто замечал на Витебск БПФ и при работе с другими объектами.
Подобное иногда имеет место и для других МК.

Gedemin.exe на данном предприятии не совсе

[2017-06-28 14:17] gsbelarus commented on #3994
Много раз обсуждалось:

http://gedemin.blogspot.com.by/2016/12/external-exception-c0000006.html

[2017-06-28 15:00] #3994 closed, assigned to gsbelarus

[2017-07-05 09:00] NikolayUkleyko opened #3995 "Бухгалтерия. Журнал-ордер. Конфигурация с запросом параметра и сохранение настроек таблицы (Q)"
**Исследователь / Бухгалтерия / Журнал-ордер.**

1. Создали конфигурацию без расшифровок по дебету и по кредиту.
2. Отредактировали конфигурацию. По одной из аналитик проставили галку по реквизиту **Запрашивать параметры**.
3. Запустили конфигурацию на выполнение. Программа запросила параметр для аналитики. Выбрали значение. OK. Получили сформированный Журнал-ордер.
4. Внесли правки в грид и нажал

[2017-07-05 14:38] NikolayUkleyko opened #3996 "Витебск БПФ. Бухгалтерия. Журнал хоз. операций. Сторнирование проводок за период (Q)"
**Исследователь / Бухгалтерия / Журнал хоз. операций / Сторнировать проводку.**

Пожалуйста, предусмотрите возможность формирования сторнирующих проводок по выделенным записям (проводкам).
Хорошо бы дополнительно предусмотреть параметр **Период сторнируемых проводок**.
На практике, например, для расчетов по расходам будущих периодов по лизингу такие возможности очень кстати.

[2017-07-05 14:42] PiuPauTralala commented on #3996
т.е. сначала они насоздают доки на пять лет вперед, а потом хотят сторно за период.
на практике это усложнение, неизбежно приводящее к ошибкам.

[2017-07-05 14:48] NikolayUkleyko commented on #3996
Доки они создавали еще в 2010 г. и позже.
Это был другой бухгалтер и методика была иная.

Если, это делать аккуратно, то результат верный.

[2017-07-06 08:10] NikolayUkleyko commented on #3996
Скажу проще.
Есть такая ситуация.
В принципе нормальная, исходя из вышеизложенных данных.

----

Если, нет, то есть ли иное решение подобных вопросов ?

[2017-07-06 08:11] NikolayUkleyko commented on #3996
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.
Это же все-таки Витебск БПФ.

[2017-07-06 15:15] NikolayUkleyko commented on #3996
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-07-06 15:37] gsbelarus commented on #3996
Она в отпуске до 25.

On Jul 6, 2017 6:15 PM, "NikolayUkleyko" <notifications@github.com> wrote:

[2017-07-06 17:39] NikolayUkleyko commented on #3996
Хорошо.
Позже продолжим.

[2017-07-11 07:04] NikolayUkleyko opened #3997 "Проверка допустимого сабтайпа в лукапе раньше, чем присваивается класс"
На новейшем gedemin.exe выявлены следующие ошибки:

![2017-07-11_095807](https://user-images.githubusercontent.com/11497453/28055006-de2f1f00-661f-11e7-9969-c47663d48c97.png)

![2017-07-11_095849](https://user-images.githubusercontent.com/11497453/28055013-e0ee9f68-661f-11e7-96a8-6658c0707ea8.png)

при добавлении/редактировании записей в следующие документы Взаимозачет, 01. Накладная на получение

[2017-07-11 07:31] gs7600300 commented on #3997
Актуально на СКХП.

[2017-07-11 07:48] NikolayUkleyko commented on #3997
Городок ПФ и другие клиенты, обновившие gedemin.exe до новейшего с вопросами.

[2017-07-11 07:56] NikolayUkleyko opened #3998 "Банк. Разноска выписка. Сообщение о добавлении счета"
Загрузили выписку.
Редактируем записи по позиции (проставляем счет и прочие реквизиты).
Программа отображает окно с сообщением о добавлении нового счета.
Так понимаю счет в некорректный банк занесен?

![2](https://user-images.githubusercontent.com/11497453/28056987-460f805e-6627-11e7-825d-15b7dae2d8dd.JPG)

Данный вопрос также поднимал и Владимир Иванович.

[2017-07-11 08:13] gsbelarus commented on #3997
есть у нас бд где проверить?

On Tue, Jul 11, 2017 at 10:48 AM, NikolayUkleyko <notifications@github.com>
wrote:

[2017-07-11 08:17] NikolayUkleyko commented on #3997
Абсолютно любая БД.

[2017-07-11 09:17] alexandra-gsoftware commented on #3997
С этім контрактом всекда былі проблемы. Там есть два договора, и два домена, и настройки доменов постоянно слетали, один договор менялся на другой...

[2017-07-11 09:22] NikolayUkleyko commented on #3997
То есть, сами по себе ?

[2017-07-11 09:24] NikolayUkleyko commented on #3997
Не первый раз замечаю у нас дублирующиеся поля.
Как в тех же бланках и услугах оказанных.

[2017-07-11 09:25] alexandra-gsoftware commented on #3997
да, сами по себе. В настройках домена или поля, где выбирался бизнес объект.

[2017-07-11 09:55] gsbelarus commented on #3997
А есть такой тип документа в базе?

Если нет, то смотреть что прописано в домене и в поле таблицы. Экзешник тут
не причем. Раньше просто игнорировали несуществующий тип, с теперь выдаем
предупреждение.

On Jul 11, 2017 12:25 PM, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-07-11 10:02] NikolayUkleyko commented on #3997
Как не причем.
Если, я сравнил на разных exe.
Разница очевидна.
Теперь надо все всем везде перепроверить ?

[2017-07-11 10:07] gsbelarus commented on #3997
Еще раз. Такого типа нет в бд. Это ошибка. Раньше она игнорировалась.
Теперь выдается предупреждение. Надо поправить ошибку.

On Jul 11, 2017 1:02 PM, "NikolayUkleyko" <notifications@github.com> wrote:

[2017-07-11 10:07] alexandra-gsoftware commented on #3997
да есть

[2017-07-11 15:15] gsbelarus commented on #3997
На какой базе можно посмотреть?

[2017-07-11 15:18] sunnycreature commented on #3997
brutto/3053:k:Bases\Westa\WESTA.FDB форма бронирования..например

On Jul 11, 2017 18:15, "Andrej Kirejeŭ" <notifications@github.com> wrote:

[2017-07-11 15:22] NikolayUkleyko commented on #3997
Можно на Эталоне:
india/3053:k:\Etalon\ETALON_COMPLETE.FDB

**Исследователь / Материальный склад / 01. Накладная на получение материалов, ОС, МБП.**

**Исследователь / Услуги входящие / 01. Расчеты за услуги оказанные.**

[2017-07-11 15:27] NikolayUkleyko commented on #3998
Разобрались.
Некорректный макрос по импорту банковской выписки.

[2017-07-11 15:27] #3998 closed, assigned to gsbelarus

[2017-07-11 15:41] gsbelarus commented on #3997
Обновить экзе. Проверяйте.

Там где ошибка будет выскакивать внимательно проверить тип-подтип. например, если создан на базе подтип MY_TABLE к типу TgdcContact, то если в лукапе прописать TgdcBaseContact - MY_TABLE -- это будет ошибка, так как MY_TABLE подтип к TgdcContact, но не к TgdcBaseContact.

Для полей атрибутов класс-подтип берется из домена или из поля таблицы. Чуть что проверяйте там.

[2017-07-11 15:43] #3997 closed, assigned to gsbelarus

[2017-07-12 06:57] NikolayUkleyko commented on #3997
Проверено.
Работает корректно.

@gsbelarus , спасибо !

[2017-07-13 07:28] NikolayUkleyko opened #3999 "Общие. Предусмотреть отображение названий дополнительных таблиц (Q)"
**Исследователь / Торговля / 01. Накладная на получение товара.**

По данному документу основной таблицей является USR$INV_ADDWBILL.
В данном документе присутствуют другие закладки, среди которых **Реквизиты ТТН**.
Данные по этой закладке хранятся в дополнительной таблице USR$INV_ADDINFO.

При необходимости увидеть название дополнительных таблиц нельзя.
В свойствах такой информации нет.
@gsbelarus

[2017-07-13 07:39] NikolayUkleyko opened #4000 "Общие. Мастер установок. Закладка 'Запрос'. Предусмотреть поиск по тексту запроса и переход в SQL-редактор (Q)"
**_Мастер установок / Запрос._**

@gsbelarus , пожалуйста, предусмотрите возможность поиска по тексту запроса и переход в SQL-редактор.

Да, можно в свойствах использовать команду **_Данные / Показать SQL_**.
Но, не всегда доступно контекстное меню с командой **Свойства**.

[2017-07-13 15:02] NikolayUkleyko opened #4001 "Общие. В справочник 'Файлы' добавить реквизит 'Запись отключена' (Q)"
**Исследователь / Сервис / Файлы.**

@gsbelarus , пожалуйста, предусмотрите реквизит **Запись отключена**.
Как для диалоговой формы родителя, так и для дочерней записи.
При работе с импортом банковской выписки хорошо иметь доступ только к актуальным записям.
При этом, хранить неактуальные файлы.
В других случаях такая возможность будет не лишней.

[2017-07-13 15:09] NikolayUkleyko opened #4002 "ПИ. Предусмотреть локализованное сообщение о дублировании наименования записи (Q)"
Пространства имен.

@gsbelarus , пожалуйста, предусмотрите локализованное сообщение при дублировании наименования записи.

Сейчас не совсем красиво:
![2017-07-13_180749](https://user-images.githubusercontent.com/11497453/28173227-6bab0dc6-67f6-11e7-853b-aaaa219c086d.png)
_Рис. 1._

[2017-07-13 15:15] NikolayUkleyko opened #4003 "Бухгалтерия. Журнал-ордер. Некорректное обновление формы параметров аналитик (Q)"
**Исследователь / Бухгалтерия / Журнал-ордер.**

Ввели счет, нажали Enter, потом перешли к выбору аналитик, нашли **Счета и субсчета**, выбрали.
При выборе выполняется обновление формы, что приводит к передергиванию формы и как результат будет выбрана не та аналитика, что требовалась.
Потом, удаление лишней аналитики.

Размер формы выбора аналитик очень мал, что еще усложняет работу.
Это замечания

[2017-07-24 15:32] NikolayUkleyko commented on #3442
Проверено.
Работает корректно.

@ShlTanya , пожалуйста, предусмотри следующее:

1. При открытии формы по умолчанию позиционирование курсора в поле **Наименование**.

2. Не отображать выбранные записи в блоке доступных записей.

3. В заголовке каждого блока дописать **Доступные записи**, **Выбранные записи**.

Так будет удобнее работать с формой выбора из множества.

[2017-07-25 20:33] alexandra-gsoftware commented on #3962
а можно получить доступ к списку ИД интервалов, которые попадают в клетку, где стоит курсор? Типа IntervalID, но IntervalIDs?
(проблема в том, что курсор может захватывать одновременно несколько интервалов)

[2017-07-26 12:10] NikolayUkleyko opened #4004 "Общие. Файлы. Управление сообщением при просмотре файлов (Q)"
Пожалуйста, подскажите, как по необходимости отключить отображение следующего информационного окна с сообщением:

![2017-07-26_142056](https://user-images.githubusercontent.com/11497453/28620176-82ea21ac-7214-11e7-8196-97043d5fec03.png)

[2017-07-27 16:38] NikolayUkleyko opened #4005 "Грид. Поиск среди колонок"
Хорошо бы предусмотреть возможность поиска среди колонок и переход на искомую колонку в гриде документа, справочника, формы и т. д.
Предлагаю следующие варианты:

**1.** В Мастере установок предусмотреть кнопку, нажав на которую, будет выполнен переход в грид на найденную колонку.

**2.** В гриде документа предусмотреть возможность поиска среди колонок.
Здесь необходимо предусмотреть поиск среди л

[2017-07-28 09:34] gsbelarus opened #4006 "Добавить поддержку DATABASE TRIGGERS"
Научить бизнес-объект работать с дб триггерами, как определено тут:

https://firebirdsql.org/file/documentation/reference_manuals/fblangref25-en/html/fblangref25-psql-triggers.html#fblangref25-psql-dbtriggers

Для этого надо:

1. В структуре таблицы at_triggers убрать обязательную привязку к таблице
2. Адаптировать хранимые процедуры синхронизации триггеров at_p_sync...
3. Создать БО (TgdcDBTrigge

[2017-07-28 09:41] NikolayUkleyko commented on #4006
@gsbelarus , звучит красиво.
Каковы преимущества данного функционала на практике ?

[2017-07-28 13:48] gsbelarus commented on #4006
https://gedemin.blogspot.com.by/2017/07/database-triggers.html

[2017-07-28 14:32] NikolayUkleyko opened #4007 "Витебск МК. Банковская выписка. Одинаковые реквизиты. Добавить проверку на код филиала (Q)"
**Исследователь / Банк и касса / Банковская выписка.**

Обновили gedemin.exe.
В БД в справочниках контактов много подведомственных контрагентов с абсолютно одинаковыми **банковскими счетам, кодом (БИКом) и УНП**.
Только различные **коды филиалов**.

Успешно загрузили банковскую выписку в БД Гедымина.
Далее, редактируем позиции выписки (проставляем бухгалтерские счета и прочее).
При сохранении прог

[2017-07-28 14:44] gsbelarus commented on #4007
Проверка сделана как предлагал В.И. У таких организаций (филиалов) надо выставить единую головную организацию в справочнике клиентов.

[2017-07-28 14:58] NikolayUkleyko commented on #4007
Хорошо.
Будем пробовать.
@gsbelarus , спасибо !

----

Как проверим, тогда и закроем данную тему.

[2017-07-31 16:33] NikolayUkleyko commented on #4007
На Витебск МК следующая ситуация.
Оплата процентов осуществляется с банковского счета предприятия и специального банковского счета банка.
При этом, по рабочей организации и по некоторым банкам абсолютно одинаковые пары банковских счетов, БИК.
Реквизит **Код филиала** не заполняем, так как это не филиалы.
Это сделано намеренно.

@gsbelarus , пожалуйста, решите данную проблему.
Просто, отключите про

[2017-08-01 13:06] NikolayUkleyko commented on #4007
@gsbelarus , скажите, пожалуйста, как быть на Витебск МК (очень сильно ругаются):

- ждать нового gedemin.exe без проверки на дублирование IBAN, BIC;
- вернуться на старый gedemin.exe ?

[2017-08-01 14:33] gsbelarus commented on #4007
старый экзе тут не причем. проверка на сервере бд в триггере. если мега срочно -- отключить триггер. если нет, то завтра будет экзе.

[2017-08-02 06:50] NikolayUkleyko commented on #4007
По-хорошему, лучше новый gedemin.exe.

[2017-08-02 14:07] NikolayUkleyko commented on #3949
Снова столкнулся с данной проблемой при настройке форм и документов по учету основных средств.

[2017-08-02 14:48] gsbelarus opened #4008 "Экспорт данных из таблицы"
У нас есть команда **добавить ячейки в буфер**. Переработать её следующим образом:

1. при вызове на экране открывается диалоговое окно, где показаны все поля в двумерной матрице. Пользователь может выбрать как выводить имена полей: имя поля в таблице, его метка из структуры базы данных или название колонки в гриде. Если выбраны имена полей, то в хинте -- локализованное название. Если локализованн

[2017-08-03 08:45] gsbelarus commented on #4008
Один из сценариев использования. У нас есть режим в форме просмотра **Только отмеченные** и, соответственно, команда **Добавить в отмеченные**. Расширить данную команду, чтобы на вход можно было подать список ИД. Тогда, выполняем запрос в SQL редакторе, вызываем экспорт, выбираем колонку с ИД, формат экспорта -- список ИД и копируем в буфер. Переходим в форму просмотра и добавляем в отмеченные спи

[2017-08-03 13:35] NikolayUkleyko commented on #3697
Очередной раз столкнулся с данным функционалом.

[2017-08-04 10:43] gsbelarus opened #4009 "Проверить работу gdcc в терминальном режиме"
Если на терминальном сервере несколько пользователей одновременно работают с гедымином, то, говорят, что gdcc отображает прогресс действий только одного из них.

[2017-08-04 10:56] AliakseiDanilchyk commented on #4009
Точнее только у одного (скорее всего первого подключившегося) пользователя gdcc работает. При этом показывает логи и прогресс-бары и от всех Гедыминов запущенных под другими пользователями. У остальных пользователей gdcc запускается но не показывает подключения к Гедымину в сеансе этого пользователя.

[2017-08-06 20:12] gsbelarus commented on #4009
Да. Проблема в обработке WM_GDCC_CONNECT в методе TgdccClient.ProcessMessage.

Надо:

1. Проверить не в терминальной ли мы сессии
2. Если да, то сначала пытаемся связаться с gdcc по номеру порта. Возможно он уже запущен в другой терминальной сессии. Для проверки надо будет реализовать команду ping в нашем протоколе и ответ на нее сервера.
3. Если запущен, то надо брать следующий номер порта пока н

[2017-08-14 13:52] NikolayUkleyko commented on #3996
На Витебск БПФ снова подняли данный вопрос.
Нам крайне очень не хватает возможности сторнирования проводок за указанный период.
Существующего функционала сторнирования проводок по документу недостаточно, так как сторнируются все проводки, а удаление лишних сторнирующих проводок приводит к удалению всех созданных сторнирующих проводок.

[2017-08-14 14:11] ShlTanya commented on #4006
Выполнила

[2017-08-14 14:44] NikolayUkleyko commented on #3996
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2017-08-14 14:58] NikolayUkleyko opened #4010 "Витебск БПФ. Основные средства. Ошибка при просмотре грида (Q)"
**Исследователь / Основные средства / ОС. График лизинговых платежей.**

При перемещение нижней полосы прокрутки вправо программа отображает окно с сообщением о нехватке ресурсов:

![2017-08-14_175224](https://user-images.githubusercontent.com/11497453/29277298-eef24ff0-8119-11e7-8dfa-e45a81bb7bc2.png)

На удаленном рабочем столе под пользователем программа отображает окно с сообщением о прерывани

[2017-08-17 14:33] NikolayUkleyko commented on #3996
Хм, интересно, а это же просит Витебск БПФ, а не другие менее приоритетные клиенты.

[2017-08-17 14:42] NikolayUkleyko commented on #4010
@gsbelarus , что же сказать пользователю по данной ошибке ?

[2017-08-17 18:41] stasgm opened #4011 "На последнем exe не открывается форма в Positive Cash"
Фронт Для розницы. С сайта.
usrf_select_good как DFM для просмотра открывается, а как форма нет. В старый exe всё работает.

![image](https://user-images.githubusercontent.com/8355925/29428055-7b08a486-8394-11e7-9a8a-d1b968858e25.png)

[2017-08-17 19:07] gsbelarus commented on #4011
Смотри в тексте dfm что указано как subtype

On Aug 17, 2017 9:41 PM, "Stanislau Shliakhtsich" <notifications@github.com>
wrote:

[2017-08-17 19:08] alexandra-gsoftware commented on #4011
может там сабтайп маленькімі буквамі, ему надо чтоб капслоком

[2017-08-18 07:52] NikolayUkleyko opened #4012 "Общие. Типовые документы. Расположение документов разных типов в одной ветке (Q)"
В типовых документах предусмотрена привязка к определенным веткам:
1. Документы пользователя.
2. Складские документы.

Мы не можем создать пользовательский документ и перенести его в ветку складских документов.

----

На практике есть пользовательские документы, относящиеся к существующей складской подсистеме.
При обращении к типовым документам удобно видеть все документы (пользовательские и склад

[2017-08-18 08:03] stasgm commented on #4011
Вот и представьте, делается обновление и у клиента беда. Как бы заранее нам надо знать, что в exe ограничения добавляются несрвместимые с предыдущими версиями

[2017-08-18 15:29] NikolayUkleyko commented on #3343
@YRozmysl , теперь, ты, уже другого мнения по данной теме.
Не так ли ?

[2017-08-18 15:30] YRozmysl commented on #3343
Да, такое недавно было на БМКК.

[2017-08-18 16:35] NikolayUkleyko opened #4013 "Общие. Не работает метод GetNotCopyField при наличии пробелов в тексте"
В случае наличия пробелов в методе **GetNotCopyField** метод не работает.
При этом окон с ошибками программа не выдает.
Наличие пробелов в тексте запроса нормальное явление: по отношению 2-х кавычек и при перечислении через запятую полей.

Виталий, Инна подтвердят.

@gsbelarus , пожалуйста, исправьте.

[2017-08-19 20:59] gsbelarus commented on #4011
Раньше была ошибка

On Aug 18, 2017 11:03 AM, "Stanislau Shliakhtsich" <notifications@github.com>
wrote:

[2017-08-21 08:38] NikolayUkleyko opened #4014 "ПИ. Переименование файла. Изменение места хранения файла. Перенос каталога"
Через контекстное меню TortoiseGit выполнено **переименование файла**.
Затем, сохранение изменений.
Все прошло успешно.

Перечитали файлы.
При этом, в проводнике наименование файла отображается с учетом изменений, а в Гедымине без учета изменений.
В окне синхронизации наименование файла отображается без учета изменений, а в диалоговом окне синхронизации с учетом изменений.
Я считаю, что наименован

[2017-08-21 16:44] hirurg-lybitel commented on #4011
@gsbelarus  Нет, не было.

Вот dfm, который прекрасно открывается на exe версии 2.9.3.9032.

Сейчас последняя версия 2.9.3.9379 кидает ошибку из описания.

[code]

[2017-08-21 16:52] alexandra-gsoftware commented on #4011
странно, мне кажется, это не прокатывает уже года два

[2017-08-21 17:19] gsbelarus commented on #4011
TgdcAttrUserDefined это класс для пользовательских справочников. Имя таблицы должно начинаться с USR$. Сабтайп GD_GOOD тут явная ошибка. Для таблицы GD_GOOD есть класс TgdcGood. Используй его, а не TgdcAttrUserDefined.

[2017-08-21 18:38] hirurg-lybitel commented on #4011
@gsbelarus  Что некорректно написано - это понятно. Вопрос в том, что это резко вылезло.
Что-то поменяли в новой версии ехе? Если да, то что ещё поменялось, чтобы  не было таких сюрпризов?

[2017-08-21 19:24] gsbelarus commented on #4011
это не резко а уже пол года минимум или год. сейчас система проверяет
подтипы на корректность.
например у TgdcAttrUserDefined подтип только пользовательская таблица,
которая реально существует в БД.

у документа подтип -- реально существующий РУИД в таблице GD_DOCUMENTTYPE и
т.п.

2017-08-21 21:38 GMT+03:00 hirurg-lybitel <notifications@github.com>:

[2017-08-21 19:32] alexandra-gsoftware commented on #4011
Вот та же проблема, только в банке.
https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/236
Была выявлена 4 ноября 2016 г.

[2017-08-21 19:33] alexandra-gsoftware commented on #4011
не понимаю, как эта штука в меню до сих пор работала, если ехе поменялся год назад...

[2017-08-22 18:52] gsbelarus commented on #4014
Откуда гедымин знает что там на диске поменялось. Надо перечитать.

[2017-08-23 07:46] ShlTanya commented on #4008
Андрей.. сделала почти все. Остановилась на Расширить команду Добавить в отмеченные. Как Вы это видите: сделать отдельный пункт в контекстном меню Добавить в отмеченные из буфера.. или спрашивать текущая запись/буфер.

[2017-08-23 08:03] gsbelarus commented on #4008
наверно отдельную.

Добавить выделенные в отмеченные
Добавить из буфера в отмеченные

2017-08-23 10:46 GMT+03:00 ShlTanya <notifications@github.com>:

[2017-08-23 17:09] NikolayUkleyko commented on #4014
Это само собой разумеется.
Даже несколько раз на БД устанавливал ПИ с измененным наименованием.
На выходе следующая картина:

![2017-08-23_200123](https://user-images.githubusercontent.com/11497453/29628568-91be0a3c-883e-11e7-9bd6-7e44a444c675.png)

В БД и на диске имя файла старое, а в диалоговом окне имя файла новое.
Везде должно быть актуальное наименование файла.

[2017-08-23 17:32] gsbelarus commented on #4014
Так может тут дело в том, что имя файла одно, а имя пи (оно записано в
файле) другое

On Aug 23, 2017 20:09, "NikolayUkleyko" <notifications@github.com> wrote:

[2017-08-24 17:00] ShlTanya commented on #4008
Андрей, уточните еще, пожалуйста, пункт 9. По какому принципу выбрать уникальную запись по 1 полю, если для экспорта выбрано несколько полей.

[2017-08-25 07:04] NikolayUkleyko commented on #4014
Переименование файла в проводнике было выполнено через TortoiseGit при помощи контекстного меню и команды **Rename**.
Принудительно наименование файла в проводнике не менялось.
То есть, корректно.

По идее, помимо изменения наименования файла для ПИ, изменение наименования файла должно быть и для формы синхронизации ПИ.
Ведь на выходе наименование файла в проводнике тоже измененное.

Видим одно, н

[2017-08-25 08:19] gsbelarus commented on #4014
Имя файла это одно,имя пи, которое хранится в бд и записано внутри этого
файла -- другое. Поменяй имя в бд и созрани файл с новым именем а старый
удали.

On Aug 25, 2017 10:04, "NikolayUkleyko" <notifications@github.com> wrote:

[2017-08-28 09:30] NikolayUkleyko commented on #4014
файла -- другое.

Это само собой разумеется.

удали.

Поменял имя в БД.
Такой файл при сохранении автоматически перетер существующий файл ПИ.
То есть, в данном случае при сохранении вариантов выбора пути сохранения не было.

Поэтому через контекстное меню TortoiseGit удалил файл (можно с каталогом).
Потом, заново его пересохранил с соответствующим указанием пути.

Вывод:
**Rename** корректно не ра

[2017-08-28 09:30] #4014 closed, assigned to nobody

[2017-08-29 08:22] ShlTanya commented on #4008
Андрей, вопрос по **SQL (SELECT запрос, который можно выполнить в SQL редакторе и получить аналогичную выборку)**.
Есть 2 варианта:
- используя sql-запрос самого датасета  (ограничить выборку допустим по ключевому полю ID)
или
- вернуть выборку типа: Select Знач1, Знач2 union Select Знач3, Знач4
или Ваш вариант.
Сейчас реализовала 2 вариант.. но там есть ограничения по количеству экспортируемых за

[2017-08-29 16:20] gsbelarus commented on #4008
а зачем тут юнион? вы же при экспорте только колонки можете указывать, а не строки. т.е. это запрос SQL  у которого в SELECT части будут те колонки, которые выбраны в диалоговом окне.

[2017-08-29 17:08] ShlTanya commented on #4008
Значит 1-ый вариант. В результате д.б. SQL-запрос с отмеченными полями и ограничением по выбранным записям (если выбран режим текущая запись или выделенная).
2-й вариант предполагал экспорт уже самих данных. Например:
select 'Иванов', '01.01.2012' from RDB$DATABASE
union
select 'Петров', '01.01.2013' from RDB$DATABASE и т.д.

[2017-08-29 17:12] gsbelarus commented on #4008
первый

2017-08-29 20:08 GMT+03:00 ShlTanya <notifications@github.com>:

[2017-08-31 10:22] NikolayUkleyko commented on #3996
Мне не первый раз звонит бухгалтер с Витебск БПФ и просит предусмотреть данную возможность.
Сейчас они не могу нормально работать с НДС по 18-м счетам.
Соответственно здесь задействованы и ЭСЧФ.
Им необходимо ежемесячно отражать данные.
Сейчас они сводно вводят данные вручную предварительно посчитав.
Объем данных увеличивается, что только усложняет ситуацию.

@gsbelarus дайте @ShlTanya отмашку на

[2017-09-01 13:50] NikolayUkleyko opened #4015 "Основные средства. В полной карточке ТМЦ предусмотреть отображение поля 'Инв. номер' (Q)"
При работе с основными средствами часто приходится формировать полную карточку ТМЦ.
Она показывает все движения основного средства.
При этом, если на основании одной карточки ТМЦ было создано несколько актов ввода ОС с разными инвентарными номерами, то полная карточка ТМЦ покажет их все сразу.
Это затрудняет анализ данных в разрезе конкретных инвентарных номеров.

Поэтому, для большего  удобства а

[2017-09-01 14:28] NikolayUkleyko commented on #4015
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2017-09-04 12:04] NikolayUkleyko opened #4016 "Общие. Использование 2-х кавычек при написании XID и DBID"
Пожалуйста, подскажите, какой вариант написания наиболее правильный:
1.     " doc.DOCUMENTTYPEKEY = <RUID XID = ""147004989"" DBID = ""45137928""/> "
2.     " WHERE d.DOCUMENTTYPEKEY = <RUID XID = 147023202 DBID = 3974129/> "

Какое предназначение 2-х кавычек в первом варианте ?

@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.