[2017-09-04 13:03] NikolayUkleyko commented on #4016
@gsbelarus , @alexandra-gsoftware, все же, как верно ?

[2017-09-04 13:10] alexandra-gsoftware commented on #4016
мне второй больше нравится

[2017-09-04 13:16] NikolayUkleyko opened #4017 "Бухгалтерия. Конструктор функций. Предусмотреть проверку на наименования блоков SQL-запросов"
Не первый раз сталкиваемся с тем, что в конструкторе функций можно успешно добавить 2-а и более блока SQL-запроса с одинаковыми наименованиями.
Потом, полученные переменные используются в других блоках.
В результате настроенный алгоритм работает некорректно.
Поэтому, настоятельно предлагаю добавить проверку на наименования блоков SQL-запросов.

[2017-09-04 14:13] MIchaelShoihet commented on #4017
А вот не надо. Надо контролировать что делаешь.. Я специально пользуюсь этой возможностью. Просто надо проверять, после того как изменяешь такой важный механизм как проводка.

[2017-09-04 14:46] NikolayUkleyko commented on #4017
OK !

[2017-09-04 14:46] #4017 closed, assigned to nobody

[2017-09-04 16:46] gsbelarus commented on #4016
только 1-й вариант. так определено стандартом:

https://www.w3schools.com/xml/xml_attributes.asp

[2017-09-04 16:46] #4016 closed, assigned to gsbelarus

[2017-09-05 14:22] NikolayUkleyko commented on #4016
@gsbelarus , спасибо !
Будем придерживаться стандарта.

[2017-09-05 16:31] NikolayUkleyko commented on #3742
Выявлено следующее.
При поиске по биноклю по шапке и по позиции при нажатии в **шапке** кнопки **Найти** курсор в гриде шапки и в гриде позиции уходит с найденной записи вверх списка.

Добавлю к этом.
Если, в позиции дважды нажать на кнопку **Enter**.

Соответственно теряются найденные записи не только по шапке, но и по позиции.

[2017-09-07 23:36] gsbelarus opened #4018 "Несколько детальных датасетов в диалоговом окне БО"
Поставить эксперимент и проверить. Похоже, что в ситуации, когда на диалоговом окне расположены дополнительные датасеты, связанные м-д с главным, atContainer будет полностью уничтожать и пересоздавать все компоненты при каждом подключении и\или переоткрытии детального датасета.

Есть форма, где контролов столько, что пересоздание занимает секунду даже на быстром компьютере. Когда дополнительных да

[2017-09-08 01:39] alexandra-gsoftware commented on #4018
Все так. Если датасет, связанный с контейнером,  закрыт, компоненты пропадут с формы.

[2017-09-13 13:59] alexandra-gsoftware commented on #3962
можно ли добавить ф-ю удаления интервала, где не надо указывать resourceid, а только intervalid?

[2017-09-13 14:43] gsbelarus commented on #3962
там боюсь, что логика заложена, что уникальна пара ресурс ид - интервал ид

On Wed, Sep 13, 2017 at 4:59 PM, alexandra-gsoftware <
notifications@github.com> wrote:

[2017-09-13 14:44] alexandra-gsoftware commented on #3962
те ид интервала может быть не уникальным ?

[2017-09-13 15:05] gsbelarus commented on #3962
надо перепроверить по исходникам

On Wed, Sep 13, 2017 at 5:44 PM, alexandra-gsoftware <
notifications@github.com> wrote:

[2017-09-15 08:14] hirurg-lybitel commented on #3993
@gsbelarus так что с решением этой проблемы? Клиенты негодуют

[2017-09-15 08:21] gsbelarus commented on #3993
решения не будет. надо пробовать другие шрифты. и на чем я могу потестить?

[2017-09-15 08:25] gsbelarus commented on #3993
ну и 25 секундное гугление приводит сюда:

https://stackoverflow.com/questions/6844831/any-good-pdf-export-filter-that-works-with-fast-report

[2017-09-15 08:33] gsbelarus commented on #3993
простого решения нет. не простое:

1. купить фр 5 и посмотреть может иэ экспортер подойдет к четвертому. может и не подойти.
2. купить https://www.gnostice.com/nl_article.asp?id=249&t=Export_From_FastReport_To_PDF_And_Other_Formats и встроить их экспортер. Не известно на сколько это утяжелит экзешник.

[2017-09-15 09:18] hirurg-lybitel commented on #3993
Так если сохранять в файл pdf с признаком **Встроенные шрифты**, то всё нормально отображается.

Нельзя ли просто при отправке по почте из фастрепорта делать тоже самое?

[2017-09-15 09:53] gsbelarus commented on #3993
конечно можно. посмотрю сегодня-завтра

2017-09-15 12:18 GMT+03:00 hirurg-lybitel <notifications@github.com>:

[2017-09-15 10:17] NikolayUkleyko commented on #3690
@gsbelarus , пожалуйста, доработайте механизм фильтрации.
Необходимо отображать результат не только по файлам, хранящимся на диске, но и по файлам, хранящимся в БД.

[2017-09-15 13:39] NikolayUkleyko commented on #3993
Если, это нам требуется для работы, то почему нет ?

[2017-09-19 15:29] NikolayUkleyko opened #4019 "Бухгалтерия. Конструктор функций. Предусмотреть скрытие незаполненных полей"
**Исследователь / Бухгалтерия / Типовые хоз. операции, Автоматические хоз. операции, Настройка функций.**

Пожалуйста, предусмотрите кнопку для скрытия незаполненных полей **при указании счета, как переменная**.
Сейчас, программа автоматически скрывает неиспользуемые аналитики только **при выборе конкретного счета**.
Сейчас программа отображает весь перечень аналитик.
По умолчанию данная кнопка не

[2017-09-20 09:11] NikolayUkleyko commented on #4019
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2017-09-20 09:12] MIchaelShoihet commented on #4019
Я не вижу смысла тратить на это время и деньги.

[2017-09-20 11:43] NikolayUkleyko commented on #4019
Хорошо.
Пришли к общей точке зрения.

[2017-09-20 11:43] #4019 closed, assigned to nobody

[2017-10-06 13:39] gsbelarus commented on #4008
Надо или запретить растягивать окно, или растягивать его внутренности:

![image](https://user-images.githubusercontent.com/5175764/31280390-db4ae2f4-aab4-11e7-8b8a-e49ec6d3ac09.png)

[2017-10-06 13:53] gsbelarus commented on #4008
1. Объекты остаются в памяти. Проверил с помощью memproof. Вы точно уверены, что все что создается у вас потом удаляется? Вот, например, где этот iWriter удалится?

`  iWriter:= TExportWriterFactory.CreateWriter(TExportWriter(Writer), Filename, SMTPKey, Recipients, Subject, Body, true);`

вообще, мы избегаем такого кода, как очень не надежного. Не надо использовать интерфейсы. Только объекты с чет

[2017-10-06 14:14] gsbelarus commented on #4008
3. если экспортировать в HTML кириллические строки, то откроются кракозябры. Надо в заголовке укаказывать кодировку WIN1251.

[2017-10-09 17:47] NikolayUkleyko commented on #3912
Еще раз сталкиваюсь с данной проблемой на Витебск МК.
Приходится перенастраивать типовые проводки со сложных на простые.
Тема-то, очевидная и актуальная.

[2017-10-09 17:52] NikolayUkleyko opened #4020 "Общие данные. Глобальное управление состоянием записей по документам (Q)"
Не первый раз сталкиваюсь с тем, что для надежного хранения данных пользователи просят по тому или иному документу предусмотреть реквизит для отметки, что запись по документу проверена и изменению не подлежит.
Приходится для каждого документа для шапки и для позиции вручную создавать исключение и триггеры.
@gsbelarus , пожалуйста, предусмотрите данный механизм на уровне gedemin.exe.

----

Подобну

[2017-10-11 08:30] MIchaelShoihet opened #4021 "Рассчетные счета"
В окне редактирования компании расчетные счета выводятся с фильтром, который установлен в разделе справочники Расчетные счета. Соответственно счетов не видно, пока там не снимешь фильтр.

[2017-10-11 09:07] NikolayUkleyko commented on #4021
С такой проблемой я тоже сталкивал, только не мог идентифицировать причину.
Фильтры для справочника банковских счетов добавлял я.
Так удобнее анализировать и при необходимости вносить изменения в записи.

----

Вот то, что имеет место связь между фильтрованием данных в справочнике банковских счетов и в гриде банковских счетов по рабочей организации это очень интересно.
На мой взгляд данную проверк

[2017-10-12 07:00] NikolayUkleyko commented on #3742
@ShlTanya , пожалуйста, скажи, можно ли предусмотреть вышеприведенное ?

[2017-10-12 07:01] NikolayUkleyko commented on #3969
@ShlTanya , ?

[2017-10-12 07:29] NikolayUkleyko commented on #3949
@ShlTanya , скажи, пожалуйста, что, ты, можешь сказать по данному вопросу ?

[2017-10-13 10:23] NikolayUkleyko commented on #3949
В частности вышеприведенное имеет силу для грида позиции документа.

[2017-10-13 15:38] PiuPauTralala opened #4022 "TgdvParamPanel"
Пожалуйста, сделайте TgdvParamPanel и все её компоненты доступной из скриптов.

[2017-10-17 08:33] NikolayUkleyko opened #4023 "Гомельобои. gdcc.exe. Удаленный доступ. Отключение приложения через командную строку (Q)"
Вопрос возникает при удаленном доступе, если прописывать автоматический запуск Гедымина в свойствах соединения.
Выскакивает еще окно про запуск gdcc.exe, а при завершении сеанса, сеанс и окно удаленного доступа автоматически не закрываются, приходится закрывать принудительно.
При повторном подключении (сразу после закрытия) сервер не успевает сбросить сеанс и клиент попадает в пустой голубой экран

[2017-10-18 07:05] NikolayUkleyko commented on #4023
Данная тема случайно не связана с
https://github.com/GoldenSoftwareLtd/gedemin/issues/4009
?

[2017-10-18 07:30] gsbelarus commented on #4023
Скорее всего она.

On Oct 18, 2017 10:05, "NikolayUkleyko" <notifications@github.com> wrote:

[2017-10-24 15:59] PiuPauTralala opened #4024 "Наименование триггеров в таблице"
1. Выделено красным цветом на рисунке: ТРИ разных варианта наименования триггеров. Сделайте единообразно, пожалуйста (таблица называется USR$BN_ORDERTRIPSUBLINE).
2. Выделено синем цветом. Раньше позиция автоматически подставлялась.
3. Наверное, преобразование из дерева в грид обоснованно как-то, но раньше было удобнее. Визуально лучше воспринималось.

![untitled](https://user-images.githubusercon

[2017-10-24 16:02] gsbelarus commented on #4024
1. Позицию разработчик должен выбирать обдумано, так как есть случаи когда надо солюдать очередность.
2. грид правильно, дерево лишнее.
3. имя сейчас формируется корректно, раньше в него просачивался лишний префикс.

[2017-10-24 16:02] #4024 closed, assigned to gsbelarus

[2017-10-24 16:09] alexandra-gsoftware commented on #4024
В дереве было сразу видно, какие триггеры есть (например, что есть after insert & before delete). Теперь, чтобы определить тип триггера, надо его открыть (ведь назвать его могли как угодно), а триггер тайп -  интежер.

[2017-10-31 08:33] #4020 closed, assigned to nobody

[2017-10-31 08:34] #4012 closed, assigned to nobody

[2017-10-31 08:39] #4015 closed, assigned to nobody

[2017-10-31 08:39] #4010 closed, assigned to nobody

[2017-10-31 08:39] #3977 closed, assigned to nobody

[2017-10-31 08:40] #3978 closed, assigned to nobody

[2017-10-31 08:40] #3982 closed, assigned to nobody

[2017-10-31 08:40] #3983 closed, assigned to nobody

[2017-10-31 08:40] #3984 closed, assigned to nobody

[2017-10-31 08:40] #3987 closed, assigned to nobody

[2017-10-31 08:41] #3967 closed, assigned to nobody

[2017-10-31 08:41] #3968 closed, assigned to nobody

[2017-10-31 08:58] #3970 closed, assigned to nobody

[2017-10-31 08:59] #3969 closed, assigned to nobody

[2017-10-31 08:59] #3973 closed, assigned to nobody

[2017-10-31 08:59] #3989 closed, assigned to nobody

[2017-10-31 08:59] #3991 closed, assigned to nobody

[2017-10-31 09:00] #4007 closed, assigned to nobody

[2017-10-31 09:00] #4004 closed, assigned to nobody

[2017-10-31 09:00] #4000 closed, assigned to nobody

[2017-10-31 09:00] #3996 closed, assigned to nobody

[2017-10-31 09:01] #4001 closed, assigned to nobody

[2017-10-31 09:01] #3999 closed, assigned to nobody

[2017-10-31 09:01] #3995 closed, assigned to nobody

[2017-10-31 09:08] #3936 closed, assigned to nobody

[2017-10-31 09:14] #3985 closed, assigned to nobody

[2017-10-31 09:14] #3988 closed, assigned to nobody

[2017-10-31 09:14] #3976 closed, assigned to nobody

[2017-10-31 09:14] #3972 closed, assigned to nobody

[2017-10-31 09:15] #3891 closed, assigned to nobody

[2017-10-31 09:16] #3934 closed, assigned to nobody

[2017-10-31 09:16] #3958 closed, assigned to nobody

[2017-10-31 09:16] #3959 closed, assigned to nobody

[2017-10-31 09:16] #3965 closed, assigned to nobody

[2017-10-31 09:16] #3964 closed, assigned to nobody

[2017-10-31 09:18] #3963 closed, assigned to nobody

[2017-10-31 09:20] #3954 closed, assigned to nobody

[2017-11-14 07:20] gs7600300 commented on #4021
Сегодня столкнулся с этой проблемой на БММК. Я так понимаю в данной проблеме уже разбирались, сообщите решение...

[2017-11-14 09:43] NikolayUkleyko commented on #4021
Кирюша, мало разбираться с проблемой, необходимо еще и решить ее на 100 %.

[2017-11-14 17:25] YRozmysl opened #4025 "Создание процедуры"
Если к базе подключено более 1 пользователя, то нельзя создать процедуру.  Это все имеет место быть на последнем exe, на более старом таких проблем нет и не было никогда.

[2017-11-15 07:09] NikolayUkleyko commented on #4025
Юра, я предполагаю, что такое наблюдается из-за того, что мы не отключая пользователей в таблицу добавили поле-ссылку.
Программа при переподключении не просила отключить всех пользователей от БД.

----

Юра, не забудь вопрос к обсуждению, когда в Гедымине при редактировании процедуры не работает добавление новых строк через кнопку **Enter**.

[2017-11-15 07:12] YRozmysl commented on #4025
Я еще раз проверял на простой чистой базе, причем перед созданием процедуры я не создавал поля ссылки. Просто сделал 2 коннеекта и попробовал создать процедуру.

[2017-11-15 07:18] YRozmysl commented on #4025
нее, снимаем вопрос, муть какая-то, все ок теперь, и на локальной и рабочей цбк

[2017-11-15 08:29] YRozmysl commented on #4025
Эта ошибка есть.

[2017-11-15 08:55] NikolayUkleyko opened #4026 "Общие. Редактирование процедуры"
В Гедымине при редактировании процедуры не работает добавление новых строк через кнопку **Enter**.
Раньше работало.

[2017-11-15 08:56] NikolayUkleyko commented on #4025
Продолжение обсуждения в https://github.com/GoldenSoftwareLtd/gedemin/issues/4026

[2017-11-15 08:56] NikolayUkleyko commented on #4025
Юра, закрывай данную тему.

[2017-11-15 08:58] #4025 closed, assigned to nobody

[2017-11-16 12:06] NikolayUkleyko opened #4027 "Общие. Фильтр по биноклю. Добавить сортировку отображаемых полей согласно грида"
Пожалуйста, в фильтр по биноклю, добавьте сортировку отображаемых полей согласно грида.
Поле в начале списка.
Если полей очень много, то для поиска требуемого поля приходится прокручивать весь список полей.
@ShlTanya  сделает, если позволите.

[2017-11-16 12:08] NikolayUkleyko opened #4028 "Общие. В справочник констант добавить тип 'Ссылка'"
Пожалуйста, в справочник констант добавьте тип **Ссылка**.

[2017-11-16 12:09] YRozmysl commented on #4028
Да, не помешало бы.

[2017-11-16 12:37] ShlTanya commented on #4027
Я посмотрю...

[2017-11-17 09:05] YRozmysl opened #4029 "AT_P_SYNC_TRIGGERS_ALL после добавления триггеров уровня БД"
При модифае и поеследующем подключении к базе БМКК последним exe возникает ошибка.
![modifai](https://user-images.githubusercontent.com/11507129/32939102-8cca82b4-cb8f-11e7-855e-063e491e079b.jpg)

[2017-11-17 09:14] YRozmysl commented on #4026
Исправлено. Можно закрывать.

[2017-11-17 10:07] #4026 closed, assigned to nobody

[2017-11-17 13:44] ShlTanya commented on #4027
Поправила

[2017-11-20 08:20] NikolayUkleyko opened #4030 "Общие. Бухгалтерия. Работа с бизнес-классами"
1. Можно ли на прикладном уровне (не gedemin.exe) создавать новые бизнес-классы ?
Если, да, то - как ?
Если, нет, то - почему ?

2. Давно обращался с просьбой создания бизнес-класса для отображение только подразделений и сотрудников.
Изменений нет.
Технически сложно реализовать ?

----

Давно с @MIchaelShoihet решили уйти от одновременного использования 2-х дублирующихся аналитических признаков По

[2017-11-20 08:21] NikolayUkleyko commented on #4021
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-11-20 08:49] NikolayUkleyko opened #4031 "Общие. Бухгалтерия. Склад. Некорректная работа выпадающего списка древовидного типа (Q)"
1. Добавляем новую запись в справочник **_Исследователь / Бухгалтерия / Справочник аналитики /Статьи затрат_**.

![1](https://user-images.githubusercontent.com/11497453/33009269-6364caba-cde7-11e7-83de-eb950dd2cffe.png)

----

2. Для того, чтобы не закрывать каждую ветку и искать головную на панели инструментов выпадающего списка предусмотрена кнопка **Закрыть дерево...**.

![2](https://user-image

[2017-11-20 08:52] NikolayUkleyko commented on #4031
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-11-20 10:12] YRozmysl opened #4032 "Проблема с восстановлением базы"
gbak: do not recognize table attribute 0

[2017-11-20 10:17] gsbelarus commented on #4032
1. отключить пользователей
2. обновить фб до новейшей версии (если у них 2.5, то до 2.5.7)
3. прогнать gfix -mend для устранения ошибок
4. сделать бэкап бд
5. еще раз попытаться восстановить

[2017-11-20 11:47] YRozmysl commented on #4029
исправлено, данной ошибки больше нет

[2017-11-20 13:47] NikolayUkleyko commented on #4032
А такое как раз можно было не исключить.
Ведь когда возле gedemin.exe расположены файлы Firebird более актуальные, чем в папке С / Program Files / Firebird.
Я про это писал не раз.
Файлы Firebird должны быть одной версии в обеих папках.

----

Список обновляемых файлов в папке рядом с gedemin.exe указан в пункте № 5

http://gsbelarus.com/gs/wiki/index.php/%CF%E5%F0%E5%F5%EE%E4_%ED%E0_Firebird_2.5.

[2017-11-20 13:49] YRozmysl commented on #4032
ок, актуализируем еще dll и около exe

[2017-11-20 13:53] NikolayUkleyko commented on #4032
OK !

[2017-11-20 14:42] YRozmysl commented on #4029
пока осталась ошибка, судя по всему это касается конкретной базы, а именно последней бмкк

[2017-11-20 14:51] NikolayUkleyko commented on #4029
Это рабочая БД или нет ?

[2017-11-20 14:53] YRozmysl commented on #4029
это не рабочая база, локальная, последняя. В том то все и дело, чтобы менять exe на рабочей базе, надо устранить ее тут и разобраться в причине, чтобы на рабочей не было проблем.

[2017-11-20 16:08] ilonaand commented on #4029
Надо в процедуре AT_P_SYNC_TRIGGERS_ALL в запросе, который добавляет новые тригеры сменить условие  WHERE
     (t.triggername IS NULL) and (r.id IS NOT NULL)  на
 WHERE
     (t.triggername IS NULL)
     and (((r.id IS NOT NULL) and (rdb$trigger_type <=114))
       or (rdb$trigger_type >=8192))

и ошибка исчезнет. Я так делала на нашей локальной базе brutto/3053:k:\Bases\BMKK\GDBASE_2017_08_24.FDB

[2017-11-20 16:20] YRozmysl commented on #4029
так это, наверное, лучше делать на уровне exe, эта процедура же системная какая-то, не входит ни в какие ПИ.

[2017-11-21 06:44] NikolayUkleyko commented on #4029
Пожалуйста, @MIchaelShoihet , @gsbelarus , @alexandra-gsoftware , изложите Ваши точки зрения и примите решение.

[2017-11-21 08:22] YRozmysl commented on #4032
Вопрос снят. Скорее всего был поврежденный архив. Последний bk восстановился без проблем.

[2017-11-21 08:22] #4032 closed, assigned to nobody

[2017-11-21 08:51] gsbelarus commented on #4029
Пробуем новейшим экзешником.

[2017-11-21 08:51] #4029 closed, assigned to gsbelarus

[2017-11-21 10:13] NikolayUkleyko commented on #3992
Кто-нибудь звук подаст ?
Речь об одной из основных подсистем.

[2017-11-21 11:22] MIchaelShoihet commented on #3992
Я не вижу пока решения, кроме того, что не обращать на них внимание...

[2017-11-21 11:57] NikolayUkleyko commented on #3992
Общий итог = сумма данных по субсчетам, по которым есть головной счет (субсчет) + сумма данных по счетам, по которым нет активных субсчетов.

Что скажете, @MIchaelShoihet ?

[2017-11-21 14:20] YRozmysl opened #4033 "Опция "Экспорт данных""
В последнем exe появилась опция "Экспорт данных".  В данной функциональности она конечно же неплохая и может быть удобна, и полезна. Но, можно еще немного пойти дальше. Если бы при помощи ее можно было бы загружать из одной таблицы в другую, например, предварительно указав соответствие полей одной и другой таблицы (документов). Это всего лишь. мысли вслух, не более того.
Часто в зарплате надо разо

[2017-11-21 15:43] NikolayUkleyko commented on #4033
<Если бы при помощи ее можно было бы загружать из одной таблицы в другую, например, предварительно указав соответствие полей одной и другой таблицы (документов).

Удобный универсальный функционал.
Например, когда БД перевалит планку в 1 Tb, придет время перебросить сальдовые (и другие требующиеся) данные из одной в БД (старой и огромной) в другую (новую и чистую).

Нечто подобное реализовано в IBE

[2017-11-21 16:11] #4006 closed, assigned to ShlTanya

[2017-11-21 16:36] ShlTanya commented on #4033
1. В Экспорте есть формат SQL(insert), который формирует sql-запрос для вставки.
2. Такая задача больше подходит к категории Импорта данных. Но тут все сложнее. Если таблица плоская.. то все вроде и просто. Во всех остальных случаях надо вести контроль целостности данных.

[2017-11-22 11:37] NikolayUkleyko commented on #4033
Татьяна, ты, имеешь в виду простые таблицы и поля типа текст (VARCHAR) ?

Например, в одной БД выгрузка перечня сотрудников из одной таблицы в другую ?
Аналогично и в разных БД.

[2017-11-22 11:47] gsbelarus commented on #4033
1. Между бд данные переносятся с помощью ПИ.
2. другого механизма перенести реляционные данные нет.
3. "выгрузка перечня сотрудников из одной таблицы в другую" -- wtf?

[2017-11-22 11:47] #4033 closed, assigned to nobody

[2017-11-22 11:49] gsbelarus commented on #4033
4. для больших бд есть механизм "обрезки", но всегда следует помнить, что данные -- такой же актив предприятия как например, сырье на складе или автомобили в автопарке.

[2017-11-22 11:57] NikolayUkleyko commented on #4006
@ShlTanya , пожалуйста, поправь соответствие пиктограмок в следующих пунктах:

![1](https://user-images.githubusercontent.com/11497453/33126345-38e82d7c-cf95-11e7-90c3-858670eb6b5a.png)

![2](https://user-images.githubusercontent.com/11497453/33126346-3918dcb0-cf95-11e7-9c4c-e1dd9e956e2f.png)

![3](https://user-images.githubusercontent.com/11497453/33126347-394f0006-cf95-11e7-8a14-00bafdffce5d.png

[2017-11-22 12:04] NikolayUkleyko opened #4034 "Общие. Скрыть неактуальную команду 'Системный лог...'"
Пожалуйста, скройте неактуальную команду **Системный лог...**:

![1](https://user-images.githubusercontent.com/11497453/33126639-3fecaa16-cf96-11e7-9eb0-d8e112a2245e.png)

Сейчас за этот функционал отвечает утилита **gdcc.exe** со своим окном сообщений.

[2017-11-22 12:05] gsbelarus commented on #4034
Команда системный лог сейчас открывает окно gdcc.

[2017-11-22 12:12] NikolayUkleyko commented on #4034
Не заметил, так как, при открытых формах и нажатии на кнопку **Системный лог...** окно gdcc.exe скрыто под всеми формами.

[2017-11-22 12:14] gsbelarus commented on #4034
Это зависит от версий виндоуз. В последних ОС не дает одному процессу открыть в foreground окно другого процесса. Но, по крайней мере, появится панелька на панели задач и подмигнет.

[2017-11-22 12:17] ShlTanya commented on #4021
Проблема есть.. Исправила.

[2017-11-22 12:22] NikolayUkleyko commented on #4033
@YRozmysl , пожалуйста, приведи примеры.

----

Это да.
Сравнение разных категорий.
В случае сбоя на МК не хватает 8-и часов для выполнения восстановления БД из архива.

На практике ни на одном из МК БД не была сжата при помощи соответствующей утилиты и полученная БД принята к работе.
На сколько мне известно была выполнено очищение данных из таблиц INV_CARD, GD_DOCUMENT и  т.д.
Это полумеры.
Тольк

[2017-11-22 12:29] MIchaelShoihet commented on #4033
Вообще обрезать базу до размера быстрого восстановления не возможно, потому что даже несколько последних лет содержат большой объем информации. Поэтому на больших комбинатах реализована система сохранения самого файла базы данных на резервном сервере и именно на нее предприятие переключается в случае сбоя работы основного сервера или проблем с рабочей базой данных. Я вообще не понимаю сути обсужде

[2017-11-22 14:13] NikolayUkleyko commented on #4033
Юра, спросил про:

Хорошо.
Обсудили.
Закрываем тему.

[2017-11-23 09:20] NikolayUkleyko commented on #4028
Как вариант в справочник констант добавить тип ссылка с последующим выбором **бизнес-класса**.
Это позволяет выбирать требуемую запись практически из любой таблицы.
Подобное реализовано в конструкторе функций:

![1](https://user-images.githubusercontent.com/11497453/33165610-7ca4ffb4-d048-11e7-978f-ff318a1618b5.png)

![2](https://user-images.githubusercontent.com/11497453/33165611-7cd15b0e-d048-11

[2017-11-23 17:16] alexandra-gsoftware opened #4035 "Переподстановка фром-карточки"
Пример можем показать на базе ВМК.

Добавляем в док-те типа изменения свойств позицию из остатков,
ИД позиции осатков - **1165631241**.
Этот документ работает с ОС (ОС.Изменение свойств). Если посмореть баланс по этому ОСу, то получим ту же самую карточку **1165631241**, она единственная.
ищем
[code]

получаем
[code]
У этой карточки нет наследников и нет дальнейших движений.
При выборе никакие ТО-

[2017-11-23 17:19] alexandra-gsoftware commented on #4035
* если сделать апдейт поля FROMCARDKEY, то никаких триггеров не вызывается, запись "исправляется"

[2017-11-24 07:09] NikolayUkleyko commented on #4035
Александра, пожалуйста, подскажи, в данном случае триггеры не должны вызываться ?

[2017-11-24 07:24] NikolayUkleyko opened #4036 "Материальный склад. Хронологическое хранение информации о настройках типовых документов в момент отражения движения ТМЦ (Q)"
В нашей программе достаточно хорошо реализован складской функционал и функционал типовых документов.
Однако, на практике не первый раз сталкиваемся с ситуациями, когда последовательно разбираем складское движение того или иного ТМЦ (ОС, спецодежды и прочих).
Для полноты анализа нам не хватает данных о том, какие были настройки (складские признаки, данные на закладках "Приход" и "Расход", справочни

[2017-11-24 08:04] NikolayUkleyko opened #4037 "Отчеты. В параметрах отчетов для полей типа 'Ссылка на элемент' задание значения для параметра 'DropDownCount' (Q)"
Уважаемые коллеги, пожалуйста, подскажите, как в параметрах отчетов для полей типа **_Ссылка на элемент_** задать значение параметра **DropDownCount** ?
По-умолчанию это значение = 16.
Необходимо задать меньшее значение.
На практике поля  могут быть составными.
В свою очередь выпадающий список становится громоздким.
Хорошо бы предусмотреть такой функционал для удобства работы на мониторах с разной

[2017-11-24 12:09] alexandra-gsoftware commented on #4035
Не должны. Это я к тому, что никаких доп.  триггеров там нет...

[2017-11-24 12:10] MIchaelShoihet commented on #4035
На следующей неделе будет представлена новая система складского учета. По идее все эти проблемы там решены.

[2017-11-24 12:49] NikolayUkleyko commented on #4035
Такие хорошие новости не могут не радовать.

----

Снова на Витебск МК с ОС что-то не то.
В остатках двоятся инвентарные номера.
В документа остатки другие.
Записи по документам ОС без ссылок и дальнейшего движения не удаляются.
Бухгалтера в недоумении.

[2017-11-24 12:55] alexandra-gsoftware commented on #4035
ой, в том документе и другие позиции кривые

[2017-11-24 14:04] NikolayUkleyko commented on #4035
Для примера можно рассмотреть инвентарный номер 10088 на 30.09.2017 г.

[2017-11-27 07:57] NikolayUkleyko commented on #4035
На Витебск МК ожидают новый gedemin.exe с новой системой складского учета.

[2017-11-27 14:57] NikolayUkleyko commented on #1148
@gsbelarus , судя по всему данный вопрос не прост, так как он связан еще и с мастером установок, и прочим функционалом.
Была дискуссия.
Пришли к тому, чтобы решить вопрос на совесть, то необходимо полностью переписывать соответствующий функционал.
Сейчас этого делать не будем.

@gsbelarus , имеет смысл закрыть данную тему и рассмотреть данный вопрос в новой платформе (Gedemin v.3.0 Web).

[2017-11-28 07:41] NikolayUkleyko opened #4038 "Бухгалтерия. Попытка перехода в Журнал хоз. операций при отсутствии проводок по документу (QQ)"
При отсутствии проводок по документу и попытке перехода в Журнал хоз. операций через кнопку **Перейти на проводку** программа отобразит следующее окно:

![1](https://user-images.githubusercontent.com/11497453/33307546-f1471a4a-d427-11e7-8942-2535daf5e53f.png)

С одной стороны, такое сообщение уместно, когда сформированы проводки по документу и выполняется на них переход в Журнал хоз. операций с вы

[2017-11-29 08:34] NikolayUkleyko opened #4039 "Общие. Экспорт данных. Совершенствование"
Пожалуйста, изложите свои взгляды на следующее.
Необходимо скопировать из таблицы сумму из одной ячейки.

![2](https://user-images.githubusercontent.com/11497453/33365383-1582dc74-d4f9-11e7-93c5-1a518fb1082a.png)

По умолчанию в параметрах экспорта в блоке **_Уникальность записей_** не выбрано ни одного варианта.
Экспорт данных проходит без ошибок.
Здесь напрашивается исходный вариант **Не учитыва

[2017-11-30 10:24] AliakseiDanilchyk opened #4040 "Выбор множества для таблицы типа Простое дерево"
Так специально сделано, что для таблицы типа "Простое дерево" в форме выбора множества записи выводятся простым списком? Для интервального дерева выводятся деревом.

![default](https://user-images.githubusercontent.com/11484894/33426020-81fcd2aa-d5d1-11e7-9520-f5d094fd13a5.jpg)

[2017-11-30 10:46] NikolayUkleyko commented on #4040
Да, кстати интересно.

[2017-11-30 11:08] NikolayUkleyko commented on #4022
@ShlTanya , пожалуйста, реши данный вопрос.
Это необходимо для решения вопроса https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/378.

[2017-11-30 11:28] NikolayUkleyko commented on #4027
Проверено.
Сортировка работает корректно.

----

Выявлено следующее.
Не правильно работает табуляция: **Tab, Shift+Tab**.
На практике удобен переход по близко расположенным поля без мышки.
Сейчас **_произвольный_** переход с поля на поле.
@ShlTanya , пожалуйста, по возможности, поправь это.

![2017-11-30_142222](https://user-images.githubusercontent.com/11497453/33428633-9ab6aaec-d5da-11e7-8945-a4

[2017-12-13 16:57] NikolayUkleyko opened #4041 "Типовые документы. Создание таблиц и их выбор с переподключением к БД"
Сейчас при создании нового типового документа можно создать новые таблицы и **нельзя их выбрать**.
Для этого необходимо переподключиться к БД и только тогда их выбрать.
Раньше такого не было.
@gsbelarus , скажите, пожалуйста, это так задумано ?

----

Про создание полей не спрашиваю, так как к этому добавили gdcc.exe.

[2017-12-13 17:04] NikolayUkleyko opened #4042 "Параметры. Выбор из множества. Двойной клик (Q)"
Сейчас в параметре типа Выбор из множества при двойном клике **выбирается запись и открывается/закрывается ветка**.
На практике удобнее, чтобы при намеренном выборе главной записи ветка не открывалась/закрывалась, а просто выбиралась.

У кого, какие предложения ?

[2017-12-13 17:17] NikolayUkleyko opened #4043 "Конструктор функций. В функциях выбор переменной SQL-запроса (цикла), как переменной или как выражения (Q)"
Замечено, что в конструкторе функций при выборе функции и последующем выборе параметра, как **Выражения** и как **Переменной** выводятся разные результаты:

- [SF.MatInv_GetVatType(SQLCycle_1.FieldByName("USR$INV_SELLNDS").Value)]

- [SF.MatInv_GetVatType(SQLCycle_1_USR$INV_SELLNDS)]

Вариант с выбором **Выражения** правильный.

@MIchaelShoihet , скажите, пожалуйста, это так задумано ?

[2017-12-13 17:31] YRozmysl commented on #4041
Да, не совсем понятно для чего сделано такое ограничение. Раньше такого не было. Уже и спрашивали не раз меня клиенты по этому вопросу, кто сам программирует. Такие есть, да.

[2017-12-14 07:38] NikolayUkleyko commented on #4041
@YRozmysl , нормальная тема.
Пообщались.
Как будто мы это сделали.

[2017-12-14 10:23] gsbelarus commented on #4041
Посмотрю.

[2017-12-18 17:57] NikolayUkleyko opened #4044 "Грид. Работа с составными полями"
Можно ли предусмотреть в нашей программе предусмотреть работу с составными поля ?
Мастер установок в какой-то мере позволяет настроить отображение совмещенных ячеек в одной колонке.
Остается вопрос гибкого выбора записей в таких ячейках.
Сейчас возможно заполнение только первой ячейки.

[2017-12-20 10:06] gsbelarus opened #4045 "Номер документа в позиции не соответствует номеру в шапке"
У нас не гарантируется точная синхронизация номера документа в позиции и в шапке. Технически это сделать сложно и затратно по ресурсам. Нужны триггеры и на изменении позиции и на изменение шапки, да еще и с защитой от зацикливания. Такие триггеры будут выполнять SELECT из GD_DOCUMENT, а это таблица с десятками миллионов записей.

На практике обнаружено, что люди используют номер документа из позиц

[2017-12-20 10:10] alexandra-gsoftware commented on #4045
Мне кажется, все отчеты, где был номер из позиции, уже поправили...

[2017-12-20 10:17] gsbelarus commented on #4045
@yoannawx во всю использует и теперь огребает.

[2017-12-20 10:29] yoannawx commented on #4045
не @yoannawx вовсю использует, а ac_record.DOCUMENTKEY, если проводки формируются по позициям

[2017-12-20 10:31] MIchaelShoihet commented on #4045
Но в ac_record есть специально masterdockey и он всегда ссылается на шапку.

[2017-12-20 10:32] NikolayUkleyko commented on #4045
@gsbelarus привел очевидные вещи в отношении GD_DOCUMENT: номер (дата) в шапке и позиции.

Напрашивается вопрос: зачем изначально сделали так, чтобы в позиции документа вообще был NUMBER и DOCUMENTDATE и при этом заполнялся аналогичным значением из шапки документа ?
Как преследовалась при этом цель ?
Это же было сделано намеренно ?

Как, написала @yoannawx , пользователи анализируют **Карту счета*

[2017-12-20 10:37] MIchaelShoihet commented on #4045
Ну где-то в начале ошиблись... Вообще есть как минимум два документа у которых должны различаться номера в шапке и позиции - это банковская выписка и кассовая книга... Как проектировали отталкивались от этого. Для других документов предполагали, что с вопросом синхронизации справится триггер. Но не учли не которых особенностей... Т.е. сейчас это уже свершившийся факт и работать надо из текущих реа

[2017-12-20 11:47] NikolayUkleyko commented on #4045
Я понял.

----

Следует учесть еще и такие документы, как кредитный договор, график лизинговых платежей и т. д.
Отличительной особенностью таких документов является то, что в позиции хранятся суммы соответствующие каждой отдельной дате.

На некоторых БД МК предусмотрен функционал, который позволяет в позиции документа намеренно указать NUMBER отличный от указанного в шапке документа.
В данном случ

[2017-12-20 11:53] NikolayUkleyko commented on #4045
Дополнительно по рассматриваемой теме в части формирования **Карты счета** давным-давно просил сделать следующую небольшую доработку:
https://github.com/GoldenSoftwareLtd/gedemin/issues/3665

@MIchaelShoihet и @ShlTanya , пожалуйста, изложите ваши точки зрения.

[2017-12-20 12:59] NikolayUkleyko commented on #2839
Данная тема рассматривается в https://github.com/GoldenSoftwareLtd/gedemin/issues/4028
@gsbelarus , пожалуйста, закройте здесь тему.

[2017-12-20 13:06] NikolayUkleyko commented on #4028
Очередной раз подтверждается актуальность данной тему.
Пример: на дату для конкретного подразделения задать значение ставки рассчитанного ТН и НДС.
При этом на одну может быть несколько различных подразделений с разными ставками ТН и НДС.
Коллеги, пожалуйста, изложите ваши точки зрения.

[2017-12-20 13:08] yoannawx commented on #4028
хотелось бы ускорить рассмотрение данного вопроса. очень актуально

[2017-12-20 14:39] NikolayUkleyko commented on #4028
@stasgm тоже интересуется данной темой.

[2017-12-20 14:43] MIchaelShoihet commented on #4028
Я не совсем понимаю, как вы это себе представляете. Что такое ссылка на произвольный справочник?

[2017-12-20 14:47] NikolayUkleyko commented on #4028
Пример.
Подсистема ЗП и ОК.
Формирование бухгалтерских проводок по счету **_76.02 (Расчеты по имущественному и личному страхованию)_**.
В типовой проводке по счету 76.02 по аналитике **Клиент** задается конкретное значение (Белгосстрах...области...району).
Со временем с определенной даты может быть выбрана совершенно другая организация.
Для того, чтобы в типовой проводке не прописывать условия на

[2017-12-20 14:50] MIchaelShoihet commented on #4028
В том то и дело. Если это ссылка значит надо контролировать целостность данных. А это значит на каждую ссылку нужно создавать отдельное поле с ссылкой. Это усложнит данный справочник и сам механизм. Поэтому для таких вещей давайте другие варианты использовать.

[2017-12-20 14:57] alexandra-gsoftware commented on #4028
Нет, ну можно хранить не ссылку в прямом смысле, а класснэйм + сабтайп + ИД

[2017-12-20 16:45] MIchaelShoihet commented on #4028
Тогда не будет целостности... Но конечно можно... Но это не передашь настройкой, ПИ...

[2017-12-20 17:01] alexandra-gsoftware commented on #4028
Ок, руид вместо ид хранить. Мы такое на кисе делали.

[2017-12-20 17:11] MIchaelShoihet commented on #4028
Да так наверное возможно... Что в принципе можно делать и сейчас (правда не визуально) :)

[2017-12-20 17:28] alexandra-gsoftware commented on #4028
Народ требует визуально😁

[2017-12-21 06:41] NikolayUkleyko commented on #4028
Это уже весьма интересно.

[2017-12-21 08:48] alexandra-gsoftware commented on #4028
Там можно было сделать ф-ю которая запускалась по таймеру, типа нашей автозадачи, и к ней любые параметры, в том числе, ссылки. Они так хранились.

[2017-12-21 12:26] gsbelarus opened #4046 "Очистка ненужных уже РУИДов после обрезки БД"
Чуть позже я закину сюда запрос для быстрой очистки с использованием G_HIS_ARRAY. Надо будет добавить в программу.

[2017-12-21 12:27] gsbelarus opened #4047 "Сохранение порядка объектов (индексов) после пересоздания"
Оказалось, что принципиально важно сохранить порядок в котором располагались индексы в исходной БД. Тоже самое сделать и для других объектов.

[2017-12-21 12:29] gsbelarus commented on #4047
Вообще протестируйте:

1. Исходная база. Подключаетесь IBExpert и скидываете ВСЕ метаданные в скрипт. Сохраняете файл.
2. Выполняете процедуру обрезки.
3. На обрезанной базе подключаетесь IBExpert и скидываете все метаданные в файл. Сохраняете.
4. Сравниваете два файла. Они ничем не должны отличаться.

[2017-12-21 12:34] #4047 closed, assigned to cognitivim

[2017-12-21 12:37] gsbelarus opened #4048 "Сохранение порядка полей в сложных PK, FK, индексах"
Сейчас порядок полей теряется и база становится не рабочей. Так как по порядку полей определяется принадлежность атрибута-множества объекту. Т.е. вместо атрибута "Товары" у клиента, как бы появляется атрибут "Клиенты" у товара. Естественно, что это лажа.

Вообще, должен выполняться тест:

1. Исходная база. Подключаетесь IBExpert и скидываете ВСЕ метаданные в скрипт. Сохраняете файл.
2. Выполняете

[2017-12-22 15:35] gsbelarus opened #4049 "Уникальность ИД"
Платформа предполагает, что значение идентификатора, которое хранится в поле **ID** с доменом **dintkey** удовлетворяет следующим условиям:

1. Уникально в пределах файла базы данных
2. Положительное число
3. Значения в диапазоне 0 <= id < 147 000 000 -- это системные ИД. Такие объекты одинаковы во всех БД (за исключением п.4)
4. ИД в диапазоне 1..32 это идентификаторы групп пользователей.

Если м

[2017-12-22 15:50] alexandra-gsoftware commented on #4049
записи из мувмента не сохраняются в пи, я не представляю как он может сгенерировать руид и для чего

[2017-12-22 15:58] gsbelarus commented on #4049
Он наследник TgdcBase. И ему пофиг -- придет время сгенерит. Просто сейчас мы превращаемся в рукожопых индусов с говнокодом. А говнокод -- это то что сейчас мне меньше всего хочется писать.

Современное ПО не пишется по принципу "скорее всего никогда не будет генерироваться". Оно пишется по четкой концепции. И в этой концепции ИД уникален.

У меня уже ушло пол дня, чтобы найти, что ошибка не в мое

[2017-12-22 16:02] gsbelarus commented on #4049
Если INV_MOVEMENT не БО, то

1. Убрать TgdcInvMovement из системы
2. Заменить домен с dintkey на что-нибудь другое

[2017-12-22 16:04] alexandra-gsoftware commented on #4049
1) я спрашивала, можно ли это сделать, вы сказали можно
2) я вам сама сказала про то, что там свой генератор, когда вы обнаружили дублирование ид
3) я сказала, как это можно обойти
4) можно записать в базу хоть руид 666_666, это не приведет ни к каким последствиям.

[2017-12-22 16:04] gsbelarus commented on #4049
И есть еще идея, что те несколько десятков записей в GD_DOCUMENT с задвоенными ИД как-то связаны (приводят к) тем самым ошибкам, когда один тип документа превращается вдруг в другой и все рушится.

[2017-12-22 16:05] alexandra-gsoftware commented on #4049
а с чем они задвоены? можно узнать?

[2017-12-22 16:17] gsbelarus commented on #4049
я не хочу ничего "обходить", вставлять "костыли" и "подпорки".

[2017-12-22 16:19] gsbelarus commented on #4049
сейчас это лезет изо всех щелей. даже этот код с интервалами, который я делаю сейчас. у меня ушло два дня на его написание. и ТРИ уже я пытаюсь его адаптировать к ситуации когда ИД могут двоиться. Этого не может быть по условиям платформы но есть...

[2017-12-22 16:36] alexandra-gsoftware commented on #4049
кстати, тут другая проблема. Есть поля, где хранятся ид, которые не ссылки. Они все потеряют смысл.

[2017-12-22 16:46] gsbelarus commented on #4049
ибо не х@й.

все поля ссылки должны:

1. иметь домен **dforeignkey** или **dintkey**
2. иметь внешний ключ

Если это случай, когда надо в одном поле хранить ссылку на разные таблицы, то:

1. _скорее всего это ошибка проектирования. Надо переделать через наследование._
2. если уже так сделали и переделать нельзя, то хранить **РУИД**

[2017-12-22 16:48] gsbelarus commented on #4049
Еще раз, по ИД гарантируется то, что написано в самом начале этого ISSUE.

По ИД не гарантируется:

1. Последовательность. Даже два полученных один за одним ИД могут быть как один больше другого, так и меньше.
2. Сохранение с течением времени. Процедура обрезки БД или уплотнения ИД может менять идентификаторы. Привет всем любителям вписать ИД в текст SQL запроса в отчете.

[2017-12-24 15:04] gsbelarus opened #4050 "Дублирование ИД и утилита сжатия"
Вынесу в отдельную запись ввиду важности проблемы.

У нас утилита сжатия построена на использовании **G_HIS_ARRAY**, который не допускает дублирования ИД в разных таблицах, хотя никак их не детектирует и не ругается.

Надо внимательно просмотреть алгоритм и **подумать** к каким последствиям приведет появление дублирующихся ИД. Вполне возможно, что утилита перестанет работать, а точнее будет выдава

[2017-12-24 15:42] MIchaelShoihet commented on #4050
На таблицу inv_movement нет ни одной ссылки. При закрытии периода из нее просто удаляются и добавляются данные. Больше никоим образом в закрытии периода эта таблица не участвует. БО TgdcInvMovement на самом деле псевдо бизнес объект, он вызываетя только внутри TgdcInvDocumentLine, не сохраняется в поток и напрямую его использовать нельзя. В новой системе складского учета, он вообще не используется

[2017-12-24 15:44] MIchaelShoihet commented on #4050
Дубликаты в других таблицах присутствуют, скорее всего в связи с тем что были случаи когда летел генератор (в самом начале) и ошибка вылавливалась, только при дублировании ID в одной таблице...

[2017-12-24 15:46] MIchaelShoihet commented on #4050
Такая же ситуация в AC_ENTRY нет ни одной таблицы, которая бы ссылалась на AC_ENTRY,

[2017-12-25 10:00] gsbelarus opened #4051 "Нет процедур складского движения в эталоне"
В модуле **mdf_ModifyInvent**, в процедуре **CreateNewException** создаются\меняются триггеры по складскому движению. Но их нет в эталоне. Например, процедуры **INV_INSERT_CARD**.

Т.е. на старых базах, которые пройдут модифай они появятся, а на новых их нет.

[2017-12-25 10:01] MIchaelShoihet commented on #4051
Да добавлю.

[2017-12-26 13:06] gsbelarus opened #4052 "Разделение генераторов"
Все БО должны быть на одном генераторе. Остальное можно перевести на свои генераторы. Соберем здесь их список:

1. INV_MOVEMENT, поле ID
2. AC_AUTOENTRY, поле ID
3. USR$TEMPREMAINS
4. GD_JOURNAL -- это БО, но на больших предприятиях лог может быть очень большим и он периодически чистится.

[2017-12-26 20:33] MIchaelShoihet commented on #4052
На бройлерах нашел таблицу USR$TEMPREMAINS она конечно USR$ но используется только для временного хранения информации в момент построения отчета. Сколько раз отчет строится, столько раз удаляются и добавляются данные. Я ее перевел на отдельный генератор пока.

[2017-12-27 09:06] gsbelarus commented on #4052
Надо собрать всю информацию по генераторам в одном месте.

http://gsbelarus.com/gs/wiki/index.php/%D0%9A%D0%B0%D1%82%D0%B5%D0%B3%D0%BE%D1%80%D0%B8%D1%8F:%D0%93%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%82%D0%BE%D1%80%D1%8B

[2017-12-28 17:31] NikolayUkleyko opened #4053 "Свойства объекта-сcылки. Добавить отображение локализованного наименования документов (QQ)"
При работе с типовыми документами, таблицами, механизмом наследования выявлено следующее.

Пример.
Таблица USR$INV_ADDWBILL.
В свойствах-ссылки указано много ссылок, среди которых GD_DOCUMENTTYPE	147078227.
Для наглядности не хватает отображения локализованного наименования таблицы.
Сейчас необходимо последовательно открывать каждую запись на просмотр.

----

В типовые документы добавить отображен

[2017-12-28 18:03] alexandra-gsoftware commented on #4050
Я тут подумала, если вы решите "сдвигать ИД", может, сдвинуть его только в объектах, на которые нигде нет ссылок? И посмотреть, сколько это будет работать.

[2017-12-28 18:44] gsbelarus commented on #4050
Это ничего не даст.

On Dec 28, 2017 9:03 PM, "alexandra-gsoftware" <notifications@github.com>
wrote:

[2017-12-29 09:21] gsbelarus commented on #4046
Соответствующий EXECUTE BLOCK приведен [здесь](http://gsbelarus.com/gs/wiki/index.php/%D0%A3%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5_%D0%B8%D0%B7_GD_RUID_%D0%B7%D0%B0%D0%BF%D0%B8%D1%81%D0%B5%D0%B9_%D0%B4%D0%BB%D1%8F_%D0%BD%D0%B5%D1%81%D1%83%D1%89%D0%B5%D1%81%D1%82%D0%B2%D1%83%D1%8E%D1%89%D0%B8%D1%85_%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%BE%D0%B2).

[2017-12-29 09:22] gsbelarus commented on #4042
Надо проверить. Если это стандартное поведение дерева Windows то вряд ли что-то исправим.

[2017-12-29 09:24] gsbelarus commented on #4021
Проверить. Закрыть.

[2017-12-29 09:26] gsbelarus commented on #3962
Что еще из этого списка осталось?

[2017-12-29 09:26] gsbelarus commented on #3952
Проверить. Закрыть.

[2017-12-29 10:13] NikolayUkleyko commented on #4021
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-12-29 10:16] NikolayUkleyko commented on #4042
Хорошо.

[2017-12-29 10:20] NikolayUkleyko commented on #4046
Ранее я предполагал, что при **BK-FDB** помимо всего еще и выполняется чистка RUID.
Теперь выяснилось, что - нет.
Как вариант, предлагаю добавить соответствующую опцию в параметры формы **создания архивной копии БД** и в параметры формы **восстановления БД их архива**.

@gsbelarus , что скажете ?

[2017-12-29 10:21] gsbelarus commented on #4046
на больших бд эта процедура может занять от часа и выше. хотя как опцию...

[2017-12-29 10:25] NikolayUkleyko commented on #4046
Да, как опцию.
По-умолчанию опция **не активна**.

[2017-12-29 10:28] NikolayUkleyko commented on #4038
Коллеги, пожалуйста, изложите ваши точки зрения.

[2017-12-29 10:29] NikolayUkleyko commented on #4027
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-12-29 10:35] NikolayUkleyko opened #4054 "Бухгалтерия. Журнал хоз. операций. Поле Number сделать обязательным для заполнения"
Не первый раз возвращаемся к данной теме.
Пожалуйста, предусмотрите в Журнале хоз. операций поле **Number** обязательным для заполнения.
Сейчас любая запись (проводка) с активной, но незаполненной аналитикой **Документ** заполняется пустой записью.
Это казалось бы мелочь, но - нет.
В результате затрачивается немало времени на поиски ошибок в данных.

[2017-12-29 10:43] NikolayUkleyko commented on #3955
Коллеги , пожалуйста, изложите ваши точки зрения.

[2017-12-29 10:44] NikolayUkleyko commented on #3949
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2017-12-29 10:45] NikolayUkleyko commented on #3939
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2017-12-29 10:45] #3939 closed, assigned to ShlTanya

[2017-12-29 10:46] NikolayUkleyko commented on #3780
Коллеги , пожалуйста, изложите ваши точки зрения.

[2017-12-29 10:46] NikolayUkleyko commented on #3768
Коллеги , пожалуйста, изложите ваши точки зрения.

[2017-12-29 11:57] ShlTanya commented on #4027
Видела. Исправлю.

[2017-12-31 14:27] #140 closed, assigned to gsbelarus

[2018-01-03 13:14] alexandra-gsoftware commented on #3962
пока что вопросы:
1) уникален ли id интервала в пределах rachart или только в пределах ресурса?
2) как получить доступ к интервалам в клетке, если их там несколько?

[2018-01-03 13:18] alexandra-gsoftware commented on #3952
вроде ошибка больше не была замечена, поиск работает.

[2018-01-03 13:18] #3952 closed, assigned to gsbelarus, ShlTanya

[2018-01-03 13:21] alexandra-gsoftware commented on #3780
а можно еще заодно сделать эту штуку  (окно выбора) доступной из скриптов?

[2018-01-03 14:26] NikolayUkleyko commented on #4030
Коллеги, пожалуйста, подскажите и создайте бизнес-класс для отображения только подразделений и сотрудников.
На Береза МКК и не только это весьма актуально.

[2018-01-08 09:04] NikolayUkleyko opened #4055 "Общие. Запретить дублирование записей при множественном выделении (QQ)"
Сейчас можно выделить несколько записей в любом типе документа, справочнике и выполнить дублирование записей.
В результате будет сдублирована только последняя запись из списка.
Это не совсем хорошо, так как при дублировании записи выбирается только одна исходная запись.
Не всегда очевидно, какая запись была выбрана за основу.
Поэтому, предлагаю добавить запрет на дублирование записей при множестве

[2018-01-09 09:45] YRozmysl opened #4056 "Установка хранилища vs. ПИ"
Возможно ли выводить  информационно при обновлении ПИ название документа, например под PARENT, например, "Штатное расписание". Мне, например, кто обновляет ежегодно профилактически зарплату, было бы очень удобно это.
![default](https://user-images.githubusercontent.com/11507129/34714594-f9dc8d6e-f53a-11e7-8afd-9192b9d82728.jpg)

[2018-01-09 09:53] NikolayUkleyko commented on #4056
Хорошо бы.
Стоит только настроить грид документа и тогда при обновлении ПИ вышеприведенных сообщений будет целый набор.
Необходимо каждое сообщение подтверждать.
По сути алгоритм документа не меняется, а только визуализация.

[2018-01-09 09:56] YRozmysl commented on #4056
Тут даже не столько грида настройка, а формы. так как на ей могут быть сделаны какие -то специфические компоненты, и просто если знаешь в каком это было сделано документе, можно выбрать оставить   хранилище, то, которое в базе. В противном случае, приходится снимать хранилище со старой базы и загружать на обновленную базе.

[2018-01-09 09:57] NikolayUkleyko commented on #4056
Форма тоже.

[2018-01-09 09:59] YRozmysl commented on #4056
Ничего городить не надо, просто информационно выводить в окне , которое выслал выше название документа и все. механизм загрузки и прочее  категорически не надо трогать

[2018-01-09 10:05] NikolayUkleyko commented on #4056
Не намеревались.

[2018-01-09 10:17] NikolayUkleyko commented on #3907
**_База данных / Подключенные пользователи_**.

Просто добавьте в окно подключенных пользователей **информационное отображение версии gedemin.exe без блокировок**.
Это же не должно сказаться на быстродействии работы программы.

@gsbelarus  , пожалуйста, изложите Вашу точку зрения ?

[2018-01-09 10:42] gsbelarus commented on #3907
Так ее там просто не откуда взять.

[2018-01-11 10:48] YRozmysl opened #4057 "Обновление базы последним exe"
При обновлении клиентской базы последним exe возникает вот такая вот ошибка. База выслана, реквизиты ее сброшены на почту @gsbelarus
![err](https://user-images.githubusercontent.com/11507129/34821845-047141ba-f6d6-11e7-86a5-fee924b3e54f.jpg)

[2018-01-11 11:42] #4057 closed, assigned to gsbelarus

[2018-01-19 11:24] NikolayUkleyko opened #4058 "Общее. Форма списка баз данных. Группировка по ярлыкам названий серверов. Слэш в пути к БД (Q)"
Если, в списке баз данных прописать следующее:

1. **Brutto**/3053:k:\Bases\VitebskMK\GDBASE.FDB.
2. **brutto**/3053:k:\Bases\VitebskMK\GDBASE.FDB.

То, 2-й вариант не будет вообще отображен в ярлыке названий серверов.

----

Если, прописать путь к базе данных, указав **слэш направо**, то подключение к БД пройдет успешно (k:/Bases/VitebskMK/GDBASE.FDB.).
По идее, подключения не должно быть выполне

[2018-01-19 13:19] stasgm opened #4059 "Блокировать в документах кнопки "открыть К.Карту" если курсор на штучном товаре (или если нет ссылки на КК)"
Дополнительно сделать выделение, например, зелёным\синим цветом шрифт с штучным товаром. Поставить по приоритету условия выделения штучного выше чем "без кк"

[2018-01-19 15:53] YRozmysl opened #4060 "Редактирование процедур vs ВВОД"
Снова нельзя при редактировании процедуры нажать ВВОД.  Вроде же это было исправлено ранее...

[2018-01-19 16:00] gsbelarus commented on #4060
Это было исправление по подписке. Ты за какой срок уплатил? Вот год истек -- все, исправление откатилось.

[2018-01-19 16:01] YRozmysl commented on #4060
В том-то все и дело, что это гарантийный случай еще и года не прошло еще

[2018-01-20 08:52] stasgm commented on #4059
ошибся репо

[2018-01-20 08:52] #4059 closed, assigned to stasgm, yoannawx

[2018-01-20 11:48] NikolayUkleyko opened #4061 "Бухгалтерия. Отчеты бухгалтерии. Не корректно работает дублирование функций"
**Исследователь / Бухгалтерия / Отчеты бухгалтерии / Настройка функций / Расчет.**

**1**. Создали новую функции **сдублировав** существующую (2017 г.), указав дату действия (2018 г.).

**2**. Выполнили расчет по новой функции (2018 г.).

**3**. Проверяем отчеты. По функции (2018 г.) доступен отчет функции от 2017 г.
Такого быть не должно.
Отчеты к новой функции вручную не привязываем. Автоматичес

[2018-01-20 11:54] NikolayUkleyko opened #4062 "Бухгалтерия. Конструктор функций. При дублировании предусмотреть автоматическую генерацию RUID"
**Исследователь / Бухгалтерия / Типовые хоз. операции, Автоматические хоз. операции.**

Пожалуйста, предусмотрите при дублировании новой функции **автоматическую генерацию RUID**.
Такое со своими особенностями работает в **Исследователь / Бухгалтерия / Отчеты бухгалтерии / Настройка функций / Расчет.**

@ShlTanya , пожалуйста, изложи свою точку зрения.

[2018-01-20 17:22] PiuPauTralala opened #4063 "Эксепшн в DoBeforePost срабатывает но Post проходит"
На BeforePost объекта не работает call Exception.Raise("Exception", "Сообщение").

[2018-01-20 17:23] gsbelarus commented on #4063
On Error Resume Next ??

[2018-01-20 17:24] alexandra-gsoftware commented on #4063
нет. Эксепшн срабатывает но пост проходит

[2018-01-20 19:51] ShlTanya commented on #4027
Исправлено

[2018-01-20 19:52] ShlTanya commented on #4039
Исправлено

[2018-01-22 08:19] NikolayUkleyko opened #4064 "Бухгалтерия. Журнал хоз. операций. Сторнировать проводку. Количественные показатели"
**Исследователь / Бухгалтерия / Журнал хоз. операций**.

![2017-01-09_171353](https://cloud.githubusercontent.com/assets/11497453/21769629/c11ad55e-d690-11e6-9f83-7338c3731650.png)

![2018-01-22_111115](https://user-images.githubusercontent.com/11497453/35211068-e7dec552-ff65-11e7-9df0-8a96d8f90749.jpg)

@ShlTanya , пожалуйста, предусмотри сторнирование проводок еще и по **количественным показател

[2018-01-22 08:28] NikolayUkleyko commented on #4054
Само собой разумеется не делать поле Number **Not Null**.
Сделать по аналогии **CreateFields**.

[2018-01-22 09:00] MIchaelShoihet commented on #4054
А если там будет 1 - будет легче? Поле Number как раз not null, и если он не заполнен то заполняется пробелом. Но смысл в его заполнении будет только тогда когда он будет осмысленным. Если человек будет просто ставить 1 то это будет то же самое что и пробел...

[2018-01-22 09:33] NikolayUkleyko commented on #4054
@MIchaelShoihet , проблематика в том, что визуально пустой Number воспринимается пользователями, как реально пустое поле.
Для программы это заполненное поле, выглядещее, как пустое поле.
Пользователям не интересно, как устроена программа, им необходимо просто работать и понимать очевидные вещи, выходя на результат.

Раз в GD_DOCUMENT поля Number и Documentdate по умолчанию Not Null, то почему  изн

[2018-01-23 15:36] NikolayUkleyko opened #4065 "Общие. Отмеченные. Вопросы по формам остатков и справочников (E/V)"
**Исследователь / Основные средства / ОС. Остатки на дату.**

1. Выделяем несколько записей и в контекстном меню (правая кнопка мышки, можно и через главное меню формы **_Остатки / Добавить в отмеченные_**) выбираем пункт **Добавить выделенные в отмеченные**.
Выбираем **Только отмеченные** - будет отображена только последняя запись из выделенных.
Такого быть не должно.
В отмеченные должны быть доб

[2018-01-23 15:46] NikolayUkleyko opened #4066 "Общие. Некорректное выделение записей в гриде через кнопку Shift"
В нашей программе в любом гриде выделение записей работает следующим образом.

При помощи кнопки Ctrl - выделение **только выбранных записей**.
Это верно.

При помощи кнопки Shift - выделение только выбранных записей.
Так быть не должно.
Сейчас крайне неудобно.
Пользователи часто путаются.
Выделятся должен диапазон записей **от начально выделенной записи до конечной**.

Scroll мышки не рассматрива

[2018-01-23 15:47] YRozmysl commented on #4056
Какие-нибудь есть подвижки по этому вопросу, обновление просто идет полным ходом у клиентов

[2018-01-23 15:58] gsbelarus commented on #4056
Побыстрому пробовал, но не получилось. Буду смотреть позже.

[2018-01-23 17:34] MIchaelShoihet commented on #4065
Все просто иногда запросом можно получить некоторый набор ID и скопировать его в буфер и на основании его сформировать отмеченные...

[2018-01-23 17:54] NikolayUkleyko commented on #4027
Проверено.
На какой-то из версий gedemin.exe рассматриваемый функционал работал корректно.
Сейчас, снова не работает.
@ShlTanya , пожалуйста, посмотри.

[2018-01-23 18:06] NikolayUkleyko commented on #4039
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

----

@ShlTanya , что по 1-у вопросу ?

[2018-01-23 18:50] ShlTanya commented on #4065
1. Исправлено в формах остатков  и древовидных формах
2. Можно добавить в отмеченные из буфера строку, содержащую список ID (через запятую). Можно проверить: Экспорт данных - формат Поле в строку -  Получатель Буфер.

[2018-01-23 18:53] ShlTanya commented on #4066
Такая доработка с разрешения @gsbelarus

[2018-01-23 19:24] MIchaelShoihet commented on #4066
Я против того, что бы что-то менять. На это мне не жаловался никто... А менять функциональность, которая работала 15 лет и на которую никто не жаловался, только потому что это не по фэншую... Мне кажется у нас есть чем заняться.

[2018-01-24 06:48] NikolayUkleyko commented on #4066
Не надо.
Просто услышал точки зрения коллег.
Это радует.
Порой на вопросы и предложения в ответ тишина.

Но, как говорил @gsbelarus , что Microsft с Windows является неким эталоном.
У нас противоречиво.

Это само собой разумеется.
Вопросов очень много.

[2018-01-24 06:48] #4066 closed, assigned to nobody

[2018-01-25 13:57] NikolayUkleyko commented on #4039
@ShlTanya , хорошо бы еще добавить поиск по **Ctrl+F3** и **F3** (включая вызов через контекстное меню) по выбираемым полям по:
- полю;
- локализованному наименованию;
- заголовку колонки.

[2018-01-25 17:42] NikolayUkleyko commented on #4023
Данная проблема вновь весьма актуальна.
На Гомельобоях наладили работу с БД коллегам из Минска.
Есть технические вопросы приведенные выше.
@gsbelarus , пожалуйста, решите.

[2018-01-26 06:59] MIchaelShoihet opened #4067 "Журнал хозяйственных операций."
В диалоговом окне ввода проводке надо сделать, что бы в лукапы (которые создаются для выбора аналитик) в поле Fields подставлялось значение "Поле для расширенного отображения", которое указано для таблицы которая указана в ListTable данного лукапа.

[2018-01-28 13:15] ShlTanya commented on #4067
Выполнено

[2018-01-28 14:02] MIchaelShoihet commented on #4067
То что надо.

[2018-01-28 14:02] #4067 closed, assigned to ShlTanya

[2018-01-29 09:20] NikolayUkleyko commented on #4054
Сегодня столкнулись с такой ситуацией на Береза МКК.
Возникли вопросы у бухгалтера по учета скота.

[2018-01-29 13:51] MIchaelShoihet commented on #4054
Сделали как раз наоборот. Сделали специально, что бы оно могло быть пустым. Предлагаю по умолчанию не пробел добавлять как сейчас а "б\н" тогда всем будет понятно.

[2018-01-29 14:22] NikolayUkleyko commented on #4067
Хотел посмотреть на реализацию и не нашел.
Интересно.

[2018-01-29 14:48] NikolayUkleyko commented on #4054
Очень хорошо.
Б/н.

[2018-01-30 07:14] MIchaelShoihet commented on #4067
Что значит посмотреть? Надо что бы таблица была настроена соответствующим образом.

[2018-01-30 07:15] MIchaelShoihet commented on #4054
@ShlTanya сделайте пожалуйста. При вводе проводки, если номер не введен подставить б\н

[2018-01-30 07:29] MIchaelShoihet commented on #4067
На сайте этих доработок еще нет.

[2018-01-30 07:54] ShlTanya commented on #4054
Ок

[2018-01-30 08:08] NikolayUkleyko commented on #4067
Я предполагал, что gedemin.exe ежедневно компилируется со всеми текущими доработками.
Значит - нет.

[2018-01-30 08:11] MIchaelShoihet commented on #4067
Конечно нет. Доработки сначала проверяются и потом только идут в рабочую ветку.

[2018-01-30 08:21] NikolayUkleyko commented on #4067
Хорошо.
Тогда, не совсем понятно назначение ежедневной компиляции gedemin.exe ?

[2018-01-30 08:27] MIchaelShoihet commented on #4067
Ежедневная компиляция идет из рабочей ветки. Доработки идут в тестовую ветку. В рабочую ветку изменения могут попадать ежедневно, могут реже, могут чаще. Компиляция стоит автоматически и она не проверяет были изменения или нет.

[2018-01-30 09:36] NikolayUkleyko commented on #4067
@MIchaelShoihet , благодарю за информацию.

[2018-01-30 10:09] NikolayUkleyko commented on #4030
@MIchaelShoihet , @ShlTanya , пожалуйста, изложите Ваши точки зрения на данную тему ?
Все просто, но это необходимо, особенно при работе с Журналом хоз. операций.

[2018-01-30 10:40] ShlTanya commented on #4064
Сделала

[2018-01-30 10:41] ShlTanya commented on #4054
Сделала

[2018-01-31 11:13] #4048 closed, assigned to cognitivim

[2018-01-31 12:40] ShlTanya commented on #4030
Есть же отдельно класс подразделений TgdcDepartment и сотрудников TgdcEmployee. Если для аналитики указан в типе правильный класс (не общий TgdcBaseContact).. то и при вводе вручную проводок в аналитике идет правильная выборка (на основе указанного класса). Проверила.

[2018-02-01 08:17] NikolayUkleyko commented on #4030
@ShlTanya , все верно.
Только я прошу добавить бизнес-класс, сочетающий в себе бизнес-классы TgdcDepartment и TgdcEmployee.
То есть, в Look-up отображать и подразделения, и сотрудников.

В чем суть ?
Есть аналитика **Подразделение (Сотрудник)**.
Ранее, данная аналитика называлась **Подразделение**.
В ходе общения с @MIchaelShoihet пришли к тому, с целью избежания неточности при формировании бухгал

[2018-02-02 09:37] NikolayUkleyko commented on #3673
@ShlTanya , сегодня вновь столкнулся с ситуацией, при которой не хватает такого функционала.
@ShlTanya , пожалуйста, изложи свою точку зрения и выполни соответствующие доработки.

[2018-02-02 11:20] ShlTanya commented on #4030
@MIchaelShoihet.. а может в таких случаях можно использовать **Условие выбора значений на языке SQL** (при построении лукап поля).  Т.е. можно проверить.. если Условие по бизнес-классу пустое, использовать условие выбора..

[2018-02-02 12:36] ShlTanya commented on #3673
Насколько я поняла, речь идет именно о группировке по новой аналитике Типовой документ. Иначе я не вижу, чтобы, например, в форме Журнал-ордер в отборе по аналитике можно было выбрать предопределенной аналитике  Валюта, Года, Дата проводки, Месяц, Рабочая компания.

[2018-02-02 15:14] NikolayUkleyko commented on #3673
@ShlTanya , это не совсем аналитика Типовой документ.
Это рассматривается, как некий реквизит, параметр проводки.

В форме Журнала-ордера можно задать конкретную валюту.
Рабочая компания добавлена с целью получения сгруппированных данных в разрезе рабочих предприятий.
При этом не ставилась целью возможность выбора в Look-up конкретного значения рабочей организации.

[2018-02-02 15:15] NikolayUkleyko commented on #4030
@ShlTanya , пожалуйста, уточни на примере.

[2018-02-04 07:06] ShlTanya commented on #3673
Обсудите, пжст, данную тему с MIchaelShoihet. Именно механизм реализации.
Журнал-ордер: достаточно ли только добавить Типовой документ в выбор Группировать по аналитике. Или нужна еще и возможность отбора по данной аналитике (то что я подумала, читая 1-й пост).

[2018-02-05 06:51] NikolayUkleyko commented on #3673
@ShlTanya , здесь все очевидно.
Необходимо добавить **Типовой документ** в выбор **_Группировать по аналитике_** и предусмотреть возможность отбора по данной аналитике.
Необходимо учесть, что при выборе группировки по типовому документу и/или отбору по конкретным документам сальдо на начало и на конец периода формирования не рассчитывать.
Так требуется, ввиду того, что сальдо в данном случае будет

[2018-02-05 07:37] ShlTanya commented on #3673
Если с группировкой все понятно.. то отбор по аналитике в данных журналах строится на основе реальных аналитик по счету. И в этом месте мне надо точные указания по реализации (интерфейсу).

[2018-02-05 07:43] NikolayUkleyko commented on #3673
В Карте счета при существующем функционале выводится типовой документ.
Это не является реальной аналитикой, а дополнительным признаком, свойством проводки.

Все это делается, для того, чтобы не добавлять отдельную аналитику Типовой документ и монотонно настраивать ее по документам.
С перепроведением и прочим.

[2018-02-05 07:51] ShlTanya commented on #3673
Я все это понимаю :)
Но.. отбор по аналитике строится автоматически из реальных аналитик.. (там нет выбора по раб. организации.. году и т.п.). Поэтому и спрашиваю.. Как правильно реализовать.
Очень хотелось, что вы обсудили этот вопрос с @MIchaelShoihet.

[2018-02-05 08:29] NikolayUkleyko commented on #3673
Хорошо, @ShlTanya !

[2018-02-05 12:23] MIchaelShoihet commented on #3673
В отбор добавить наравне с аналитиками Типовой документ и так же в отбор хорошо добавить валюту. Тогда можно построить по конкретной валюте только в бел.рублях. Получается что в отборе всегда будет 2 постоянные группы Типовой документ и Валюта. Единственно, стандартную аналитику делать всегда перед этими группами.

[2018-02-05 12:31] ShlTanya commented on #3673
Хорошо.. Значит в отбор по аналитике всегда добавляем 2 группы..

[2018-02-05 12:32] MIchaelShoihet commented on #3673
Да. Но если по счету есть аналитика, то она сначала должна идти она, а потому уже валюта и типовой документ.

[2018-02-05 12:32] ShlTanya commented on #3673
Хорошо

[2018-02-05 14:39] YRozmysl opened #4068 "При добавлении поля-ссылки в таблицу сразу присваивать локализованное наименование поля"
Нельзя ли сделать при добавлении нового поля-ссылки в таблицу, чтобы сразу присваивалось  наименование поля, какое  и писалось при создании, а не "наименование". Каждый раз надо просто их переименовывать в гриде.

[2018-02-05 14:46] NikolayUkleyko commented on #4030
@MIchaelShoihet , пожалуйста, сориентируйте @ShlTanya.

[2018-02-05 14:57] NikolayUkleyko commented on #4068
@YRozmysl , краткое локализованное название заполняешь ?

![2018-02-05_174715](https://user-images.githubusercontent.com/11497453/35810755-cbe298c2-0a9d-11e8-8645-ef204830119e.jpg)

[2018-02-05 15:04] YRozmysl commented on #4068
Да

[2018-02-05 15:04] MIchaelShoihet commented on #4068
Поле наименование берется из другой таблицы. И в той таблице оно так и называется.

[2018-02-05 15:08] MIchaelShoihet commented on #4030
Бизнес класс такой создать нельзя. Т.к. это совсем разные сущности. И да "Условие выбора значений на языке SQL" нужно использовать при настройки лукапа в окне ввода журнала хозяйственных операций. Тогда для аналитики подразделение (сотрудник) можно указать contacttype in (2, 4) и все будет красиво. При этом в данном поле класс лучше убрать вообще.

[2018-02-05 15:40] NikolayUkleyko commented on #4068
@YRozmysl , все ясно.
Это другая история.
Согласен.
Достоверное наименование поля передается в виде **Key** , как ID.
Локализованное наименование приходится постоянно переименовывать с **_Наименование_** на корректное название поля.
Неудобно.

----

В данном случае локализованные названия полей берутся из домена и связанной таблицы.
Поле в справочнике называется **Наименование**, вот оно, таким об

[2018-02-05 15:42] NikolayUkleyko commented on #3673
Что очень удобно при работе с валютой и расчетом курсовых разниц.
Не так ли, @MIchaelShoihet ?

[2018-02-05 16:02] YRozmysl commented on #4068
только что именно с таким же вопросом с переименование "наименования" в  "доктор" звонила наша "любимая" Веста. Совпадение? Не думаю.

[2018-02-05 16:06] NikolayUkleyko commented on #4068
Все это на первый взгляд кому-то может показаться пустяками.
Не совсем так.
В другом ПО в настройке колонок вообще недоступны служебные поля, типа Key.
Лишнее убрано, чтобы не путать специалиста и пользователя.

[2018-02-05 16:08] NikolayUkleyko commented on #4030
Хорошо.
Какие действия (1, 2, 3...) для того, чтобы в Журнале хоз. операций в поле **Подразделение (Сотрудник)** в выпадающем списке отображались только подразделения и сотрудники ?

[2018-02-05 16:46] ShlTanya commented on #4030
Дело в том, что в коде при построении лукапа в окне ввода хоз. операций Условие выбора значений на языке SQL не учитывается совсем.  Это можно исправить.

[2018-02-05 16:51] MIchaelShoihet commented on #4030
Все правильно. Тогда в домене подразделение достаточно прописать contacttype in (2, 4). И в данном лукапе будут доступны и сотрудники и подразделения.

[2018-02-05 17:09] NikolayUkleyko commented on #4030
Все просто.
В свойствах домена:

**1**. Бизнес-класс не выбираем вовсе.
Чтобы не путал.
Он только удобен при добавлении соответствующей записи в справочник.

**2**. В поле **Условие выбора значений на языке SQL** прописываем **_contacctype in (2, 4)_**.

----

В ходе беседы выяснилось, что требуемые бизнес-классы не так просто создавать.
Порой даже невозможно.
Я уже хотел сам создавать. :-)

[2018-02-06 17:13] NikolayUkleyko opened #4069 "Фильтры. Добавить возможность использования полей, добавленных в методах"
@gsbelarus , @MIchaelShoihet , пожалуйста, подскажите, возможно ли в преодопределенных фильтрах предусмотреть работу с полями, добавленными в методах ?

[2018-02-06 20:05] MIchaelShoihet commented on #4069
Фильтры работают с данными на уровне таблиц, что к методам не имеет отношение. Но он имеет доступ ко всем полям и всем таблицам на которые ссылаются или которые ссылаются на таблицы бизнес объекта, а значит что даже если поле не добавлено в методе, к нему все равно фильтр имеет доступ, за исключением полей которые не являются полями таблиц, а прописаны в запросе как какое-то вычисление...

[2018-02-07 07:03] NikolayUkleyko commented on #4069
Хорошо, @MIchaelShoihet .
Пожалуйста, подскажите, можно ли предусмотреть возможность поиска среди доступных полей фильтра ?
Поиск по оригинальному названию и по локализованному.
Как результат поиска отображать только найденные поля (типа **Ctrl+S**), а не подсвечивать найденные среди всех других полей (типа **Ctrl+F**).
На практике порой не так просто отыскать требуемое поле.
Сложностей добавляет

[2018-02-07 07:45] MIchaelShoihet commented on #4069
Нет. Пока придется пользоваться теми фильтрами что есть.

[2018-02-07 07:45] #4069 closed, assigned to nobody

[2018-02-07 07:56] NikolayUkleyko commented on #4069
Спасибо.

[2018-02-07 10:42] NikolayUkleyko commented on #4069
Хотя бы корректную (без дергания и слетания) прокрутку списка полей скроллом мышки реализовать.
@ShlTanya , пожалуйста, изложи свою точку зрения на данную тему ?

[2018-02-07 11:41] ShlTanya commented on #3673
@MIchaelShoihet нужен Ваш совет.. таблица ac_entry не содержит поля documenttypekey.. 2 выхода:
1. Добавить это поле .. проапдейтить данные (понимаю.. что таблица большаяяя). Плюсы - гораздо меньше изменений в коде и экономия времени выполнения запроса.
2. Обращаться к этому полю через gd_document.

[2018-02-07 12:11] NikolayUkleyko commented on #3673
@ShlTanya , при 2-м варианте скорость формирования будет ли отличаться от 1-го варианта ?
Какие плюсы у 2-го варианта ?

[2018-02-07 12:14] ShlTanya commented on #3673
Не меняем текущую таблицу..

[2018-02-07 12:40] MIchaelShoihet commented on #3673
Работаем через gd_document. При этом надо формировать запрос без расчета остатков.

[2018-02-07 12:55] ShlTanya commented on #3673
ок

[2018-02-08 10:00] NikolayUkleyko commented on #4039
На практике нередко встречаются ситуации, когда необходимо скопировать данные из одной ячейки.
Функционал формы экспорта данных позволяет сделать это.
Для удобства хорошо бы добавить кнопку, которая бы снимала галки со всех полей кроме поля, на котором стоит курсор.
Предусмотреть вариант выделения полей через Ctrl и Shift.
Тогда, отпадет необходимость нажимать полную отмену выделения и поиска нужн

[2018-02-08 10:02] NikolayUkleyko commented on #4041
@YRozmysl вновь столкнулся с вышеприведенной проблемой.
Так не должно быть.

@gsbelarus , пожалуйста, Ваша точка зрения ?

[2018-02-08 10:05] NikolayUkleyko commented on #4069
Пожалуйста, по возможности увеличьте окно выпадающего списка и шрифт отображаемых полей.
Сейчас, как будто в дверной глазок смотришь.

[2018-02-08 14:05] alexandra-gsoftware opened #4070 "Ограничение на рабочую организацию в документах"
У нас сейчас ограничение это выглядит как  z.COMPANYKEY in .... Если документ ведется только в одной рабочей организации, то файрберд игнорирует этот индекс. Если же этот тип документов ведут 2 и больше организаций, то ФБ  индекс использует, в итоге документ подвисает. От этого индекса нет пользы, один только вред. Предлагаю заменить на  z.COMPANYKEY + 0 in...

[2018-02-08 14:19] NikolayUkleyko opened #4071 "Общие. Поиск и удаление записей в GD_DOCUMENT без ссылок (QQ)"
Можно ли найти и удалить записи в GD_DOCUMENT без ссылок ?
@gsbelarus , пожалуйста, изложите, Вашу точку зрения.

[2018-02-08 14:23] alexandra-gsoftware commented on #4071
в смысле без таблиц шапки\позиции?
Вы только автоматические операции не прибейте случайно.

[2018-02-08 14:50] NikolayUkleyko commented on #4071
Я про ситуации, когда создали проводку с аналитикой **Документ**.
Потом, удалили запись из AC_RECORD, а запись в GD_DOCUMENT осталась.
Вот про такие пустышки.

[2018-02-09 14:23] NikolayUkleyko commented on #4065
Проверено.

Не работает.
Очень важный функционал.
Чтобы не создавать однотипные отчеты.

Да и удалить из отмеченных несколько записей нельзя.

Работает корректно.

[2018-02-13 08:31] NikolayUkleyko commented on #4065
@ShlTanya , скажи, пожалуйста, где можно посмотреть функционал по добавлению записей в отмеченные ?
Мне для остатков по ОС крайне важно.

[2018-02-14 16:55] NikolayUkleyko commented on #4041
Сегодня при разработке нового документа столкнулся с такой проблемой.
Создавая типовой документ нельзя создать и выбрать таблицу.
Для сохранения нового типового документа необходимо выбрать левую таблицу и нажать на OK.
Затем, необходимо переподключиться и выбрать уже необходимую таблицу.

----

Не работает возможность добавления очереди полей-ссылок в существующую таблицу при помощи кнопки Новый.

[2018-03-01 17:58] NikolayUkleyko opened #4072 "Параметры. Выбор из множества. Не отображать уже выбранные записи"
Пожалуйста, предусмотрите в форме выбора из множества скрытие уже выбранных записей.
На практике это вызывает неудобства при работе с большим массивом инвентарных номеров по ОС и прочему.
Выбор осуществляется вручную и случайно можно пропустить запись.
Вообще, это очевидно: есть доступные записи и есть выбранные записи.

@gsbelarus , @ShlTanya , пожалуйста, изложите Ваши точки зрения.

[2018-03-01 18:02] alexandra-gsoftware commented on #4072
хм, а еслі я хочу снять выделеніе с запісі?

[2018-03-01 18:04] NikolayUkleyko commented on #4072
Тогда, снова ее вернуть из выбранных записей в доступные.
Как вариант можно предусмотреть реквизит, отвечающий за скрытие/отображение уже выбранных записей.

[2018-03-02 07:39] NikolayUkleyko commented on #4072
Как вариант ничего кардинально не менять, а просто в блок доступных записей добавить выделение **зеленым цветом** уже выбранных записей.

Коллеги ?

[2018-03-02 07:50] NikolayUkleyko commented on #3673
@ShlTanya , привет !
Есть ли новости по данной теме ?

[2018-03-02 07:52] NikolayUkleyko commented on #4062
@ShlTanya ?

[2018-03-02 07:52] NikolayUkleyko commented on #4038
@ShlTanya ?

[2018-03-02 14:40] NikolayUkleyko opened #4073 "Бухгалтерия. В конструкторе функций ошибка 'Stream read error'"
**Исследователь / Бухгалтерия / Отчеты бухгалтерии / Настройка функций.**

Уже давно замечена ошибка **Stream read error**.
При которой полностью блокируется вход в конструктор дорабатываемых актуальных отчетов  бухгалтерии.
Аналогичное может быть и при работе с типовыми проводками.
Это не шутки, когда работаешь с очень большим массивом данных.
При этом пересохранение в ПИ (настройку) не всегда мо

[2018-03-03 16:48] NikolayUkleyko opened #4074 "Склад. Странное отображение в позиции документов признака типа 'Перечисление'"
**_Таблицы / INV_CARD / USR$WC_ACCOUNTINGMETHOD (CO.Способ учета)_**.
**_Редактируем домен USR$D_WC_ACCOUNTINGMETHOD (CO.Способ учета) / Закладка Тип данных_**:

![2018-03-03_193034](https://user-images.githubusercontent.com/11497453/36936777-8dbabd90-1f1a-11e8-8d22-1aedd5eec2ff.jpg)

В складских документах такой признак существующей и новой карточки отображается странно.
В гриде **журнала докумен

[2018-03-03 16:51] NikolayUkleyko opened #4075 "Мастер установок. Не работает цветовое выделение колонки"
**_Мастер установок / Колонки / Визуальные / Колонка / Цвет_**.

Не работает.
Раньше данный функционал работал.

@ShlTanya , пожалуйста, посмотри.

[2018-03-14 10:43] NikolayUkleyko opened #4076 "Бухгалтерия. Конструктор функций. Очередность параметров и способ передачи"
**1**. При изменении очередности параметров **снимается выделение** с текущей записи и соответственно **становятся неактивными кнопки Вверх, Вниз.**

Это крайне неудобно при работе с параметрами.
Хорошо бы еще предусмотреть возможность простого перетаскивания параметров.

![1](https://user-images.githubusercontent.com/11497453/37397730-640d8e98-278d-11e8-9caf-7893a4fd0d66.jpg)

@ShlTanya , пожалуй

[2018-03-16 08:21] NikolayUkleyko opened #4077 "Параметры. Выбор из множества. Предусмотреть отображение нескольких полей по записям (Q)"
На практике уже не первый раз сталкиваюсь, а также и с Витебск МК, Гомельобоев в следующем.

Пожалуйста, подскажите, можно ли в форме параметра **Выбор из множества** предусмотреть отображение нескольких полей по записям.
Например, основное поле **Наименование** может быть в списке одинаковым, а другой реквизит (как 1 или 0, или ссылка на другой справочник, или другие варианты) может быть отличным

[2018-03-20 06:47] NikolayUkleyko opened #4078 "Общие. Установка ПИ (настроек), требующих отключения пользователей"
Очередной раз на Слуцк МК столкнулись со следующей ситуацией.
Устанавливали простейшую настройку (поле ссылка).
При попытке загрузки программы и подключения к БД никакого ответа нет.
Выяснилось, что во время установки ПИ (настроек), к БД было подключено 2-а и более пользователя Administrator.
Кто-то выдвинул предположение о том, что первое подключение к БД может быть сделано под пользователем Admi

[2018-03-20 07:41] gsbelarus commented on #4078
надо с начала точно установить что там произошло.

другого функционала по запрету подключений пока не будет.

[2018-03-20 08:37] NikolayUkleyko commented on #4078
Коллеги, Кирилл, Юра, так что же на Слуцк МК ?

[2018-03-20 08:38] YRozmysl commented on #4078
Если бы я зннал точно причину, написал, а так  только предположения и домыслы.

[2018-03-20 13:44] NikolayUkleyko commented on #3766
Почему-то снова замечена рассматриваемая недоработка.
Вроде бы вопрос уже был решен.

@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2018-03-23 13:30] ShlTanya commented on #3673
@MIchaelShoihet проверьте, пжст, на разных базах. Я проверила на всем что у меня было.

[2018-03-23 16:22] NikolayUkleyko commented on #3673
@ShlTanya , большое спасибо за приятную новость.

[2018-03-27 09:53] NikolayUkleyko commented on #4067
Проверено.
Работает корректно.
Есть, один момент.

По умолчанию количество записей отображаемых в выпадающем списке = 16.
Например, аналитика Клиент.
В поле для расширенного отображения указано ADDRESS.
Поэтому сейчас выпадающий список составит 16 записей NAME + 16 записей ADDRESS.
Итого 32 записи в выпадающем списке.
Сейчас на большинстве мониторов выпадающий список выглядит перегруженным.
В таки

[2018-03-27 12:55] ShlTanya commented on #4077
Можно рассмотреть вариант с выводом нескольких полей из данной таблицы (например, перечислять в настройках имена полей через запятую).
Или вместо таблиц работать с запросом (и тоже имена полей в пределах запроса).
Но для реализации ссылок на другой справочник необходимы еще и данные по связям.. Это достаточно много изменений.

[2018-03-27 13:00] NikolayUkleyko commented on #4077
Большое спасибо, @ShlTanya за отзыв.
Я предполагаю, что с учетом сказанного:

Вряд ли это будет реализовано.

@MIchaelShoihet , @gsbelarus , пожалуйста, изложите ваши точки зрения.

[2018-04-02 10:16] NikolayUkleyko commented on #4039
В ходе использования данного функционала возникли следующие предложения:

**1. Предусмотреть отдельную настройку для формы экспорта данных символа-разделителя ?**
При копировании и вставке в качестве символа-разделителя берется значение из настроек Windows.
У любого пользователя может быть разделитель отличный от точки.
Тогда, при вставке в Excel и попытке дальнейшей обработки получаем сообщения о

[2018-04-03 07:30] NikolayUkleyko opened #4079 "GDCC. Некорректное информирование о выполненных автозадачах (Q)"
В gdcc.exe в логе отражено об успешном выполнении автозадачи.
В тоже время в Гедымине в окне автозадач нет записи об успешном выполнении автозадачи.

@yoannawx  может поделиться более полной информацией.
Витебск МК / магазины.

[2018-04-03 10:29] NikolayUkleyko opened #4080 "Материальный склад. Настройка остатков. Округления в суммируемых полях (Q)"
В форме складских остатков значения в суммируемых полях не округляются.
Сейчас возможно только при помощи мастера установок сделать хоть какое-то округление.
По-хорошему для большей точности необходимо в форме складских остатков предусмотреть возможность настройки корректного округления по суммируемым полям (до 2-х знаков после запятой).
На практике встречаются расхождения.

@MIchaelShoihet , пожа

[2018-04-04 12:30] ShlTanya commented on #4072
Закоммитила вариант выделения (изменение пиктограммы) выбранных значений.

[2018-04-04 12:45] AliakseiDanilchyk opened #4081 "Изменение шрифта в TgsRAChart"
Сделать возможность менять шрифты (Size, Style) в TgsRAChart в области Resource.

[2018-04-04 13:14] NikolayUkleyko commented on #4072
@ShlTanya , большое спасибо !
Ждемс выпуска обновлений в gedemin.exe на сайте.

[2018-04-04 13:29] NikolayUkleyko commented on #4080
Стоимость остатков ТМЦ хранится до 2-х знаков после запятой, а не 4-х.
При сверке данных по бухгалтерскому и складскому учету возникают неточности из наличия 4-х знаков после запятой.

[2018-04-04 13:58] MIchaelShoihet commented on #4080
Просто есть понятие существенное и не существенно ошибки. Часть клиентов ошибки округления возникающие из-за 4 знаков, относят как не существенные и не обращают на них внимание. Часть смотрит не остатки, а оборотную ведомость в которой уже настроено обычно нужное округление. Тем более что как раз оборотная ведомость является тем документом, который подтверждает журналы по 10 счетам.

[2018-04-04 13:59] MIchaelShoihet commented on #4080
Вообще настройку округления можно сделать, но это на уровне платформы, и туда необходимо перенести эту задачу.

[2018-04-04 14:44] NikolayUkleyko commented on #4080
По-хорошему даже очень маленьких расхождений быть не должно.
Со временем они накапливаются.
Раньше, когда не было копеек в программе было фиолетово есть/нет округления и на сколько оно корректны.
Сейчас, когда работаем с копейками округления получают большУю актуальность.

Оборотная ведомость это хорошо.
Это отчет, в котором в коде и/или в шаблоне могут быть округления.

На мой взгляд ко всему име

[2018-04-04 15:19] NikolayUkleyko opened #4082 "Журнал хоз. операций. Перетаскивание проводок (Q)"
**Исследователь / Бухгалтерия / Журнал хоз. операций.**

Активировали опцию **Разрешить перетаскивание**.
Пример, создали головную ветку и входящее в нее дочернюю ветку.
Также создали отдельную внешнюю ветку.
Добавили проводку в дочернюю ветку - в TRANSACTIONNAME указано **Дочерняя ветка**.
Пробуем перенести проводку из дочерней ветки в головную - проводка не перенеслась и ошибок нет.
На мой взгля

[2018-04-04 15:23] NikolayUkleyko commented on #4074
Коллеги, пожалуйста, подскажите ответ на данный вопрос ?
Буквально - Да/Нет.

[2018-04-04 16:09] NikolayUkleyko opened #4083 "Материальный склад. Форма остатков. Пропадают данные при изменении групп ТМЦ и размера (Q)"
В формах складских остатков пропадают данные при изменении групп ТМЦ и размера.
Это необходимо при формировании и сравнении нескольких форм, отчетов и т.д. и т.п.

[2018-04-05 09:43] ShlTanya commented on #4076
Исправлено

[2018-04-05 12:26] ShlTanya commented on #4075
Выделение цветом колонки работает при **выключенном** Режиме отображения полос в таблице.

[2018-04-06 08:17] NikolayUkleyko commented on #4075
@ShlTanya , странно.
Попробовал выполнить такие настройки и не получается целиком выделить колонку (не заголовок).

[2018-04-06 08:17] NikolayUkleyko commented on #4076
@ShlTanya , заранее спасибо.
Ждем обновлений.

[2018-04-06 08:19] NikolayUkleyko commented on #4082
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2018-04-10 14:57] YRozmysl commented on #4041
@stasgm  оно?

[2018-04-10 15:00] stasgm commented on #4041
Новый типовой документ не создать с первого раза.

[2018-04-10 15:02] NikolayUkleyko commented on #4041
@stasgm , это очевидно.

[2018-04-10 15:03] stasgm opened #4084 "Ошибка при сохранении хранимой процедуры"
1) Открываем процедуру
2) Нажимаем OK и получаем
![image](https://user-images.githubusercontent.com/8355925/38565142-3c84fdc2-3ce9-11e8-8a9b-b60252a46332.png)

[2018-04-11 11:42] ShlTanya commented on #4041
исправила

[2018-04-11 11:43] alexandra-gsoftware commented on #4084
это на всех ілі на какой-то конкретной?

[2018-04-11 11:47] ShlTanya commented on #4084
Если не зайти на закладку Текст процедуры и сразу нажать ОК.. то на всех

[2018-04-11 11:54] alexandra-gsoftware commented on #4084
хммм странно, раньше вроде не было... ілі просто нікто так не делал))

[2018-04-11 13:05] ShlTanya commented on #4084
исправила

[2018-04-14 14:16] YRozmysl commented on #4084
Вроде, все ок в последнем exe

[2018-04-26 15:01] NikolayUkleyko commented on #3673
Проверено.
В целом работает корректно.

Однако, выявлен ряд недоработок:
1. При сохранении параметров формы в конфигурацию не сохраняется выбранный (ые) типовые документы.
Только, после запуска конфигурации, выбора типового документа (ов) и пересохранении конфигурации алгоритм работает корректно.
Аналогично и для аналитики **Валюта**.

2. В форме конфигурации на закладке **Значение аналитик** не о

[2018-04-26 15:11] NikolayUkleyko commented on #4065
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-04-26 15:11] #4065 closed, assigned to ShlTanya

[2018-04-26 15:32] ShlTanya commented on #3673
Хорошо.. Все исправлю

[2018-05-02 15:04] NikolayUkleyko commented on #3673
При формировании Журнала-ордера по счету с субсчетами, с расшифровкой по дебету и/или по кредиту, выбранной аналитикой Типовой документ программа отображает окно с ошибкой:

![2018-05-02_175059](https://user-images.githubusercontent.com/11497453/39531002-db430d82-4e32-11e8-9c89-30b79279fe2a.jpg)

[2018-05-02 15:26] NikolayUkleyko opened #4085 "Бухгалтерия. Конструктор функций. Ошибка при выборе бизнес-класса"
**Исследователь / Бухгалтерия / Автоматические хоз. операции, Типовые хоз. операции / Конструктор функций.**

При выборе конкретного значения аналитики через **_Переменная / Свойства блока / Вставить / Добавить аналитику / Прочие справочники_**.

Пример, выбрали бизнес-класс Подразделение с выбором подразделения.
Потом, внесли коррективы, выбрав бизнес-класс Статьи затрат с выбором статьи затрат.

[2018-05-04 12:35] stasgm opened #4086 "В документе в позициях не просчитывается итог по числовому полю"
Видел сам в разных документах такое поведение, но есть база на которой проблема выявляется 100%

Открываем документ. Нет итога по полю выход
![image](https://user-images.githubusercontent.com/8355925/39627992-4218eb0c-4fb0-11e8-8826-493c5176554a.png)

Заходим в "мастер установок". Признак проставлен.
![image](https://user-images.githubusercontent.com/8355925/39627953-26bb55fc-4fb0-11e8-9496-263495

[2018-05-04 15:27] NikolayUkleyko commented on #4086
@stasgm, пожалуйста, выполни единые настройки всех гридов позиции документа.

[2018-05-04 18:10] stasgm commented on #4086
@NikolayUkleyko Не припоминанию такой функции как "выполнить единые настройки")  Или я что-то
 недопонял?

[2018-05-04 18:12] alexandra-gsoftware commented on #4086
Был такой баг: грид в форме редактирования подхватывает некоторые(!) настройки грида с формы просмотра. Может, и сейчас есть. Может, это он и есть.

[2018-05-04 18:12] alexandra-gsoftware commented on #4086
Настрой суммирование в форме просмотра и посмотри, что будет.

[2018-05-04 18:43] stasgm commented on #4086
@alexandra-gsoftware Остался, видимо, баг. В форме просмотра настроил подсчёт и в форме редактирования отобразилось.

[2018-05-05 07:47] MIchaelShoihet commented on #4086
Это не то что бы баг... Просто дата сет у обоих гридов один и тот же. Скажем - так запроектировано...

[2018-05-06 16:44] #4086 closed, assigned to gsbelarus, ShlTanya

[2018-05-07 07:00] NikolayUkleyko commented on #4086
недопонял?

@stasgm , я имею в виду один из следующих вариантов:
1. Сохранить в шаблон настройки позиции грида и загрузить их на всех гридах позиции документа.
2. На каждом гриде позиции выполнить одинаковые настройки форматирования.

Пример, складской документ.
Есть 3-и грида:
- в форме журнала документов;
- непосредственно в диалоговой форме;
- в форме выбора из остатков.

Так вот, настройки чис

[2018-05-07 13:00] ShlTanya commented on #3673
Исправила

[2018-05-11 15:06] AliakseiDanilchyk commented on #4081
@gsbelarus На БМКК надо

[2018-05-15 09:33] NikolayUkleyko opened #4087 "Произвольное отображение окна с сообщением о таблице идентификаторов (Q)"
На различных БД МК при запуске Автоматических хоз. операций, установке ПИ и в любых других случаях не первый раз замечено появление следующего окна:

![default](https://user-images.githubusercontent.com/11497453/40048758-afeb0672-583b-11e8-8b3f-aa743a0a4414.jpg)

Нажав на **Отмена** расчет и прочие команды продолжают корректно выполняться.
@gsbelarus , очевидно, что данное сообщение не должно появ

[2018-05-15 09:34] YRozmysl commented on #4087
Да, встречал такое тоже на некоторых базах, на ГМК в том числе

[2018-05-15 14:09] NikolayUkleyko commented on #3673
@ShlTanya , подскажи, пожалуйста, где можно увидеть сделанные изменения ?
:smile:

[2018-05-15 14:23] YRozmysl commented on #3673
Да, хотелось бы проверить. Как показала практика очень удобная аналитика для работы с ЖО

[2018-05-16 16:59] gsbelarus commented on #4087
это означает, что ИД там перешел за 1.6 миллиарда.

[2018-05-16 17:00] gsbelarus commented on #4085
Где-то там внутри для лукапа при смене класса не очищается поле саб тайп.

[2018-05-16 17:00] #4084 closed, assigned to gsbelarus, stasgm, ShlTanya

[2018-05-17 08:10] gsbelarus commented on #3673
Проверяйте новейшим экзешником и закрывайте.

[2018-05-17 08:11] gsbelarus commented on #4087
как встретите -- говорите мне. хочу посмотреть где у нас еще такие базы взялись. или там какой-то старый экзе.

[2018-05-17 08:13] YRozmysl commented on #3673
,Отлично, все работает, спасибо

[2018-05-17 08:19] NikolayUkleyko commented on #3673
На сайте старая версия.

[2018-05-17 08:21] YRozmysl commented on #3673
Напиши в gedemin.ini
[WEB CLIENT]
Token = BETA
AutoUpdate=1

[2018-05-17 08:26] NikolayUkleyko commented on #3673
[WEB CLIENT]
Token = BETA
AutoUpdate=1

Это я знаю.

[2018-05-17 08:33] gsbelarus commented on #3673
уже должен быть новый

On Thu, May 17, 2018 at 11:26 AM, NikolayUkleyko <notifications@github.com>
wrote:

[2018-05-17 08:48] NikolayUkleyko commented on #3673
@gsbelarus , благодарю !

[2018-05-17 09:28] NikolayUkleyko commented on #3673
@ShlTanya , проверил.
Работает корректно.
:ok_hand: :trophy:
Спасибо, @ShlTanya !

[2018-05-17 10:16] NikolayUkleyko opened #4088 "Бухгалтерия. Сложные проводки и реквизит 'Сохранять нулевую проводку'"
**Исследователь / Бухгалтерия / Конструктор функций.**

Пожалуйста, подскажите, работает ли в сложных типовых проводках реквизит **Сохранять нулевую проводку** ?

[2018-05-17 16:36] MIchaelShoihet commented on #4088
Реквизит работает для любой проводки. Но после его установки надо зайти в конструктор и сохранить. Т.к. это галка влияет на код формирования проводки

[2018-05-17 17:06] alexandra-gsoftware commented on #4087
на эталоне есть такое сообщение.

[2018-05-22 08:25] NikolayUkleyko opened #4089 "Бухгалтерия. Конструктор функций. Ошибка при открытии блоков с указанным счетом"
**Исследователь / Бухгалтерия / Типовые хоз. операции.**

При редактировании в типовых проводках блоков (типовая проводка, позиция типовой проводки) с указанным счетом программа отображает следующее окно:

![2018-05-22_112223](https://user-images.githubusercontent.com/11497453/40350442-7ed8f9f0-5db2-11e8-9a7c-5f2416b645e2.jpg)

Имя файла            = gedemin.exe
Дата файла           = 20.05.2018
В

[2018-05-22 10:30] gsbelarus opened #4090 "AT_P_SYNC не распознает ситуацию, когда в"
когда в поле fieldsource домен отличается от того, что прописан в fieldsourcekey.

[2018-05-22 10:51] NikolayUkleyko commented on #3673
Переговорили с @MIchaelShoihet .
@ShlTanya , пожалуйста, убери из Журнала хоз. операций добавленные реквизиты **Типовой документ**, **Валюта**.
Они не нужны в этой форме.
Так как, любой (ручной и не только) записи в Журнале хоз. операций присваивается тип документа - **Хозяйственная операция**.
Реквизит **Валюта** существует уже давно.

[2018-05-23 07:28] NikolayUkleyko commented on #4072
@ShlTanya , спасибо !
Проверено.
Недоработок я не выявил.
Однако, коллеги выявили случаи, когда при выборе/удалении записей в форме выбора из множества программа отображает окно об ошибке с сообщением **Invalid index...**.
Такое поведение программы может быть обусловлено тем, что при работе с БД на старом gedemin.exe уже был выполнен выбор записей в форме выбора из множества.
Затем, обновили gedem

[2018-05-23 07:32] ShlTanya commented on #4089
Исправила

[2018-05-23 08:12] gsbelarus opened #4091 "Ошибка при выборе в окне множества"
@ilonaand может дать пояснения как ее вызвать.

Пока мне пришлось откатить сделанные изменения. Комит с откатом:

https://github.com/GoldenSoftwareLtd/gedemin-private/commit/3c11c3df2657f754923fb1f58b5282911b3b9433

[2018-05-23 09:20] ShlTanya commented on #4091
@ilonaand расскажите мне, пожалуйста, моменты, при которых возникает ошибка.

[2018-05-23 10:27] ilonaand commented on #4091
Добрый день. Ошибка возникает, если использовать выбор из множества, с которым уже работали до того, и сохранились старые выбранные значения. При попытке нажать стрелку возврата, то есть убрать из выбранных, кидает ошибку out of index Посмотреть можно на любой рабочей базе, где есть отчеты с выбором из множества

[2018-05-23 12:40] ShlTanya commented on #4091
Исправила. Ошибка была, если в источнике не было такой записи.

[2018-05-24 08:30] MIchaelShoihet opened #4092 "Увеличить размер поля cmd в gd_command"
В поле cmd хранится руид отчета (или функции) максимальная длина руида 21 символ (10 + подчеркивание + 10) а длина поля cmd = 20. Надо увеличить, а то руид обрезается и отчет из исследователя не вызывается.

[2018-05-24 12:36] NikolayUkleyko opened #4093 "Материальный склад. Форма 'Карточка ТМЦ'. Не отображаются выбранные ТМЦ..."
**Исследователь / Материальный склад / Отчеты по складу / Карточка ТМЦ (мат. склад).**

Не отображаются выбранные ТМЦ.
Попутно, пожалуйста, предусмотрите в выпадающем списке реквизита **ТМЦ**, **Подразделение** сортировку по возрастанию.
Это имеет силу, как для формы, появляющееся при вызове ярлыка из исследователя, так и для основной формы карточки ТМЦ.

----

Пожалуйста, предусмотрите в реквизит

[2018-06-04 14:28] #4092 closed, assigned to gsbelarus

[2018-06-04 15:54] #3512 closed, assigned to gsbelarus

[2018-06-05 07:53] gsbelarus commented on #4073
нужна конкретная бд, где эта ошибка возникает.

[2018-06-05 08:06] gsbelarus commented on #4063
Проверил. Post после исключения не срабатывает. Надо смотреть конкретную БД, где это проявлялось.

[2018-06-05 14:53] NikolayUkleyko commented on #4073
@gsbelarus , пожалуйста, посмотрите в
Brutto/3053:k:/Bases/Broiler/GDBASE_2018_01_03.FDB

**_Исследователь / Бухгалтерия / Отчеты бухгалтерии / Настройка функций._**

В появившемся окне найти **Финансовый результат - Витебск БПФ (за месяц) - 2**.
В нижней части окна вызвать на редактирование запись и нажать на кнопку **Конструктор**.
Программа отображает следующее окно с сообщением об ошибке:

![2

[2018-06-05 15:14] NikolayUkleyko opened #4094 "Бухгалтерия. AC_ACCT_CONFIG. Добавить ограничение на сохранение записей с одинаковым наименованием"
Пожалуйста, предусмотрите ограничение на сохранение записей с одинаковым наименованием для таблицы AC_ACCT_CONFIG (конфигурация бухгалтерской формы (отчета)).
Сейчас в БД может быть сколько угодно записей с разными настройками, но идентичным  наименованием.

[2018-06-06 11:17] hjamesgs opened #4095 "ОК. Перенос рабочих (выходных) дней"
Необходимо в ОК создать новый документ, в котором будут фиксироваться переносы рабочих дней.
Необходим для корректного формирования табеля отработанного времени.

Республиканские переносы применяются только в отношении работников, которым установлена пятидневная рабочая неделя с выходными днями в субботу и воскресенье, и не распространяются на работников с суммированным учетом рабочего времени или

[2018-06-06 11:19] YRozmysl commented on #4095
Сразу напрашивается вопрос, как и где определять какой учет расчеты зп, вернее график. Ведь, графиков можно создать сколь угодно много.

[2018-06-06 13:47] hjamesgs opened #4096 "ЗП. Осовременивание отпусков, при изменении должности."
Если работник переведен на **иную должность**, зарплата по прежней должности осовременивается исходя из оклада, действующего в месяце, предшествующем месяцу перевода.

**Пример**
Бухгалтеру предоставляется трудовой отпуск с 04.05.2018. На эту должность работник переведен 01.01.2018, а до этого он трудился в этой организации помощником бухгалтера. Средний заработок рассчитывается за период с 01.05.

[2018-06-06 13:48] YRozmysl commented on #4096
Я так понимаю, что речь идет  о переводе с 1 часла месяца? А если в середине то, что ?

[2018-06-06 13:57] #4095 closed, assigned to nobody

[2018-06-06 13:58] #4096 closed, assigned to nobody

[2018-06-07 08:29] stasgm opened #4097 "После сообщения об ошибке, при формировании складского движения, документ можно сохранить."
1) Пользователь делает перемещение с точки А на точку Б.
![image](https://user-images.githubusercontent.com/8355925/41086794-c261c3e4-6a43-11e8-9fbd-8bf4bc403d01.png)
2) Делает списание этого товара с точки Б
![image](https://user-images.githubusercontent.com/8355925/41086844-e0389f82-6a43-11e8-9c20-4df2aac1d059.png)
3) Замечает, что "ой, я не туда передала", и изменяет в перемещении получателя с

[2018-06-07 14:38] NikolayUkleyko commented on #4023
С БД ГомельОбои по RDP-подключению активно работают пользователи из минского филиала.
Люди настойчиво просят.
Данный вопрос сейчас очень актуален:

Выскакивает еще окно про запуск gdcc.exe, а при завершении сеанса, сеанс и окно удаленного доступа автоматически не закрываются, приходится закрывать принудительно.
При повторном подключении (сразу после закрытия) сервер не успевает сбросить сеанс и кл

[2018-06-07 16:02] NikolayUkleyko opened #4098 "Общие. Классификация отчетов (Q)"
Для классификации отчетов можно предусмотреть 2-а реквизита:

1. **Подсистема** (бухгалтерия, материальный склад, заработная плата и т.д.).
2. **Тип** (печать по текущей записи, реестр, оборотная ведомость и т.д. и т.п.).

[2018-06-08 08:15] MIchaelShoihet commented on #3673
Очень надо сделать. Людей раздражает лишняя аналитика.

[2018-06-08 08:32] #4073 closed, assigned to gsbelarus

[2018-06-08 09:49] ShlTanya commented on #3673
А можно мне скрин того, что убрать.. что-то в журнале хоз. операций я такого не вижу.

[2018-06-08 09:55] ShlTanya commented on #3673
Наверное Вы имели в виду Реквизит, который отображается как колонка.. появляется поле Описание( с операцией) и Дебет(кредит), вал ??

[2018-06-08 10:16] MIchaelShoihet commented on #3673
Поля Валюта и Типовой документ
![default](https://user-images.githubusercontent.com/11498750/41153000-1f909eca-6b1e-11e8-9967-155c32ebc6f9.jpg)

[2018-06-10 08:02] ShlTanya commented on #3673
Исправила

[2018-06-11 08:58] ShlTanya commented on #4085
Исправила

[2018-06-18 12:15] NikolayUkleyko commented on #4085
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-06-18 12:15] #4085 closed, assigned to ShlTanya

[2018-06-18 12:34] NikolayUkleyko commented on #4076
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-06-18 12:34] #4076 closed, assigned to nobody

[2018-06-18 12:39] NikolayUkleyko commented on #4072
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-06-18 13:48] NikolayUkleyko commented on #4064
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-06-18 13:48] #4064 closed, assigned to nobody

[2018-06-18 13:56] NikolayUkleyko commented on #4054
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-06-18 13:56] #4054 closed, assigned to MIchaelShoihet

[2018-06-18 13:57] NikolayUkleyko commented on #4027
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-06-18 13:57] #4027 closed, assigned to nobody

[2018-06-18 14:04] NikolayUkleyko commented on #4021
@gsbelarus , пожалуйста, закройте тему.

[2018-06-18 14:06] NikolayUkleyko commented on #3966
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-06-18 14:06] #3966 closed, assigned to nobody

[2018-06-18 14:08] NikolayUkleyko commented on #3673
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-06-26 15:44] NikolayUkleyko commented on #4041
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

----

@ShlTanya , пожалуйста, посмотри по возможности следующее: не работает возможность добавления очереди полей-ссылок в существующую таблицу при помощи кнопки **Новый**.
Необходимо каждое поле добавлять через **OK** и **Добавить (Ins)**.

[2018-06-26 15:44] #4041 closed, assigned to ShlTanya

[2018-06-26 15:49] NikolayUkleyko commented on #3986
@ShlTanya сказала, что у нее есть выполненное задание по теме глобальной блокировки периода (ссылка приведена выше).
@gsbelarus , @MIchaelShoihet , пожалуйста, посмотрите наработки @ShlTanya и по возможности включите данный функционал в gedemin.exe.
На МК данная тема актуальна.
Можно уточнить у коллег.
Сейчас используются различные локальные блокировки, что не есть хорошо.

[2018-06-26 15:50] #3907 closed, assigned to ShlTanya

[2018-06-26 15:51] NikolayUkleyko commented on #3753
Проверено.
Работает корректно.
@MIchaelShoihet , большое спасибо !

[2018-06-26 15:51] #3753 closed, assigned to MIchaelShoihet

[2018-06-26 15:58] NikolayUkleyko commented on #4094
@MIchaelShoihet , @ShlTanya , пожалуйста, изложите ваши точки зрения.

[2018-06-26 15:58] NikolayUkleyko commented on #4093
@MIchaelShoihet , @ShlTanya , пожалуйста, изложите ваши точки зрения.

[2018-06-27 13:40] alexandra-gsoftware commented on #4093
А что значит "Не отображаются выбранные ТМЦ"?
Где они не отображаются?

[2018-06-27 14:35] alexandra-gsoftware opened #4099 "ПИ с данными стандартных справочников, формы редактирования стандартных справочников"
Вроде бы эти вопросы уже поднимались, но есть ли у нас стандартные схемы для следующих случаев:
1) В ПИ находятся данные какого-то стандартного БО (например, группа "все ТМЦ", контакт "комплектовщик материалов" и тд). Данные сохраняются со всеми полями, которые могут быть и пользовательскими. У группы ТМЦ есть поля, относящиеся к складу и торговле, у контакта -к зп и тд. Вопрос, как правильно сохр

[2018-06-28 12:57] alexandra-gsoftware opened #4100 "В форме синхронизации ПИ добавить возможность отображать только переданный список ИД"
Часто бывает, что надо пересохранить пи с определенным признаком. Например, добавилось новое поле в AT_RELATION - надо пересохранить все ПИ, где есть таблицы. Перекомпилировались все ТХО - надо пересохранить все ПИ с ТХО. Сейчас я ищу спиок ПИ, которые надо сохранить, запросом, выбираю их по одному в форме синхронизации и помечаю для сохранения. А хотелось бы передать форме синхронизации список ИД

[2018-06-28 15:30] NikolayUkleyko commented on #4100
В документах, справочниках и в другом подобное реализовано в контекстном меню - команда **Добавить из буфера в отмеченные**.

[2018-06-28 15:55] alexandra-gsoftware commented on #4100
По сути да, но визуально не совсем так:)
В документе я кликаю по записи и добавляю в отмеченные. В данном случае, у меня есть список ИД, которые надо все вместе добавить в отмеченные. Как реализовать с точки зрения интерфейса - не важно. Главное, чтоб где-то можно было внести строку из айдишников.

[2018-06-29 08:10] ShlTanya commented on #3986
:) NikolayUkleyko.. я не говорила про выполненное.. я говорила, о том, что посылала документ для проработки. Там много нюансов.

[2018-07-04 16:04] NikolayUkleyko commented on #3986
Хорошо, @ShlTanya .

[2018-07-06 09:13] NikolayUkleyko opened #4101 "Бухгалтерия. Журнал-ордер. Скорость формирования при использовании уровней аналитики (Сморгонь КХП) (QQ)"
**Исследователь / Бухгалтерия / Журнал-ордер.**

В справочнике организаций в корне есть стандартный раздел ОРГАНИЗАЦИИ (1-й уровень вложенности).
В данный раздел входят разделы по соответствующим районам: Березовский, Витебский и т.д. (1-й уровень вложенности).
В каждой папке расположены предприятия с соответствующими районами.
При формировании Журнала-ордера в качестве аналитики указана только **

[2018-07-06 09:35] NikolayUkleyko opened #4102 "Бухгалтерия. Переход на новый месяц. Ошибка при выполнении расчета (Сморгонь КХП)"
**Исследователь / Бухгалтерия / Переход на новый месяц.**

В параметрах указали только дату 31.05.2018.
В ходе выполнения расчета программа идентифицировала ошибку:

12:27:25: Деактивация триггеров
12:27:25: Вычисление бухгалтерских остатков...
12:27:25: Удаление устаревших данных...
12:27:25: Расчет бухгалтерских остатков...
**12:27:28: Критическая ошибка:
arithmetic exception, numeric overflow,

[2018-07-07 06:54] NikolayUkleyko commented on #4101
Пожалуйста, SQL-запрос:

[code]

[2018-07-09 13:45] NikolayUkleyko opened #4103 "Общие. Фильтр за период. Проверка: Дата окончания периода < Дата начала периода (Q)"
Пожалуйста, подскажите, можно ли предусмотреть проверку на корректное заполнение даты окончания периода в фильтре за период ?
Исключить ситуации заполнения параметров, когда дата окончания периода < даты начала периода.
На практике пользователи не раз просматривают дату окончания периода, а потом задают вопросы.

----

Это имеет силу для параметров с типом **Дата**.
В параметрах с типом **Период**

[2018-07-09 13:51] NikolayUkleyko commented on #4101
При формирования Журнала-ордера по 3-у и более уровню аналитики требуется гораздо больше времени.

[2018-07-23 20:40] alexandra-gsoftware opened #4104 "Наследование vs имя датасета на форме редактирования"
Есть два документа, Родитель и Наследник. Из формы просмотра Родителя можно вызвать диалог добавления как Родителя, так и Наследника. Если мы вызываем диалог добавления Родителя, то у датасета-шапки на форме диалога имя "gdcInvDocument". Если вызываем диалог добавления Наследника (из формы просмотра Родителя), то имя датасета пустое (если добавлять из формы просмотра Наследника, то все хорошо и да

[2018-07-24 08:10] NikolayUkleyko opened #4105 "Бухгалтерия. Журнал-ордер. В расшифровке по Дт и по Кт пропали промежуточные итоги по количественным показателям"
**Исследователь / Бухгалтерия / Журнал-ордер.**

В расшифровке по Дт и по Кт пропали промежуточные итоги по количественным показателям:

![2018-07-24_110501](https://user-images.githubusercontent.com/11497453/43125132-cf5af242-8f31-11e8-9345-274c71dbef80.jpg)

Раньше работало корректно.

@ShlTanya , пожалуйста, поправь.

[2018-07-25 09:21] NikolayUkleyko commented on #4022
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2018-07-30 15:11] NikolayUkleyko commented on #4082
Проблема в том, что из вложенной ветки нельзя перенести проводки в родительскую ветку.
Их можно сперва перенести совершенно в другую ветку, а только потом в родительскую (или любую другую).
Лишние действия, которые могут привести к тому, что проводки могут случайно оказаться не в той ветке.

[2018-07-30 15:13] NikolayUkleyko opened #4106 "Бухгалтерия. Журнал хоз. операций и команда изменить позицию (Ctrl+Alt+L)"
**Исследователь / Бухгалтерия / Журнал хоз. операций.**

Пожалуйста, подскажите, по какой причине в Журнал хоз. операций заблокировали возможность редактирования ручной проводки (записи) через команду **Изменить позицию (Ctrl+Alt+L)** ?
![1](https://user-images.githubusercontent.com/11497453/43405731-2e206e92-9423-11e8-956e-d4519667b04a.png)

То есть, сейчас в диалоговой форме Журнала хоз. операци

[2018-08-10 13:59] NikolayUkleyko commented on #3986
Снова возвращаемся к данной теме.
На Витебск МК и других МК это актуально.
Бухгалтера сверив отчеты, переходят к следующему периоду.
Спустя, некоторое время кто-то из пользователей на производстве меняет цену, что приводит к искажениям в уже проверенном периоде.
Потом начинаются поиски расхождений.

@gsbelarus , пожалуйста, изложите Вашу точку зрения.

[2018-08-10 14:06] gs7600300 commented on #3986
Да, подтверждаю - актуально. И если есть возможность, нужно уделить этому вопросу особое внимание.

[2018-08-10 14:30] NikolayUkleyko commented on #3986
Тем более, что @ShlTanya очень желает доделать данную разработку.
Только ей нужны подсказки для правильной реализации.

[2018-08-29 12:50] alexandra-gsoftware commented on #4100
Есть продвижение по этому вопросу?

[2018-08-29 13:48] NikolayUkleyko commented on #4100
Да, тема актуальна.
Добавив аналитику, например, используемую в материальном складе, приходится пересохранять ПИ с типовыми проводками по заработной плате.
Разные направления.
Хорошо бы видеть перечень соответствующих ПИ с типовыми проводками.

[2018-08-29 13:57] alexandra-gsoftware commented on #4100
SELECT DISTINCT
  o.NAMESPACEKEY ,
  ns.NAME
FROM AT_OBJECT o
LEFT JOIN AT_NAMESPACE ns ON o.NAMESPACEKEY = ns.ID
WHERE o.OBJECTCLASS IN ('TgdcAcctTransactionEntry' , 'TgdcAcctAutoTrRecord', 'TgdcAccount', 'TgdcSubAccount')

Вот так найдешь все, что надо пересохранить при добавлении аналитики новой

[2018-08-29 15:59] NikolayUkleyko opened #4107 "Общие. Нельзя удалить таблицу без записей и ссылок"
Создаем новую таблицу с идентификатором и служебными полями.
Переподключаемся.
Пробуем удалить только что созданную таблицу.
Программа не позволяет это сделать и выдает следующее окно с сообщением об ошибке:

![2018-08-29_185815](https://user-images.githubusercontent.com/11497453/44799839-96aeb200-abbd-11e8-8997-566fdd749e82.jpg)

@ShlTanya , пожалуйста, изложи свою точку зрения.

[2018-09-04 14:33] #4078 closed, assigned to nobody

[2018-09-04 14:33] #4087 closed, assigned to nobody

[2018-09-04 14:34] NikolayUkleyko commented on #4089
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-09-04 14:34] #4089 closed, assigned to ShlTanya

[2018-09-04 14:34] NikolayUkleyko commented on #4102
Проверено.
Работает корректно.
@MIchaelShoihet , спасибо !

[2018-09-04 14:34] #4102 closed, assigned to nobody

[2018-09-04 14:36] #4034 closed, assigned to nobody

[2018-09-04 14:37] NikolayUkleyko commented on #3986
По ходу рассматриваемая тема не будет реализована.
Поэтому, ее закроем.

[2018-09-04 14:37] #3986 closed, assigned to ShlTanya

[2018-09-04 14:40] #3807 closed, assigned to gsbelarus

[2018-09-04 14:41] #3762 closed, assigned to nobody

[2018-09-04 14:41] #3750 closed, assigned to nobody

[2018-09-04 14:42] #3727 closed, assigned to nobody

[2018-09-05 12:08] NikolayUkleyko commented on #4088
Проверено.
Работает корректно.
@MIchaelShoihet , спасибо !

[2018-09-05 12:08] #4088 closed, assigned to nobody

[2018-09-05 12:12] #4079 closed, assigned to nobody

[2018-09-05 12:14] #4023 closed, assigned to gsbelarus

[2018-09-05 12:15] #3928 closed, assigned to nobody

[2018-09-05 12:34] NikolayUkleyko commented on #4093
В простой форме ввода параметров:

![2018-09-05_152015](https://user-images.githubusercontent.com/11497453/45093286-a2035f80-b120-11e8-9b31-7ca33cfc372e.jpg)

----

Выбрав требуемые ТМЦ, проставив CheckBox, сохраняем:

![2018-09-05_152113](https://user-images.githubusercontent.com/11497453/45093311-b5162f80-b120-11e8-855f-5e78916050d5.jpg)

----

Выбранные записи не видны:

![2018-09-05_152126](ht

[2018-09-05 13:30] NikolayUkleyko commented on #3912
Благодарю за беседу, @MIchaelShoihet !

[2018-09-05 13:30] #3912 closed, assigned to MIchaelShoihet

[2018-09-05 13:31] #3884 closed, assigned to nobody

[2018-09-05 13:36] NikolayUkleyko commented on #3941
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-09-05 13:36] #3941 closed, assigned to ShlTanya

[2018-09-05 13:38] #4036 closed, assigned to nobody

[2018-09-05 13:42] NikolayUkleyko commented on #4030
Проверено.
Работает корректно.
@MIchaelShoihet , @ShlTanya , спасибо !

[2018-09-05 13:42] #4030 closed, assigned to nobody

[2018-09-07 14:03] NikolayUkleyko commented on #3673
Существует документ **Банковская выписка**.
У этого документа есть дочерний документ **Разноска выписки**.
При формировании проводки через документ Разноска выписки, а не через документ Банковская выписки (позиция), то в Журнал-ордер в качестве служебной аналитики **Типовой документ** попадает **_Банковская выписка_**.
Это неверно, должен быть документ **_Разноска выписки_**.

Обратите внимание, к

[2018-09-07 14:19] MIchaelShoihet commented on #3673
Это не стандратная ситуация. Потому что на самом деле разноска выписки - это не документ, а позиция позиции выписки. На уровне платформы такую ситуацию сложно обработать.

[2018-09-07 14:56] NikolayUkleyko commented on #3673
Хорошо.

[2018-09-07 15:31] #4037 closed, assigned to nobody

[2018-09-10 15:14] NikolayUkleyko commented on #3802
Благодарю за информацию !
Спасибо !

[2018-09-10 15:14] #3802 closed, assigned to gsbelarus

[2018-09-10 15:15] #3889 closed, assigned to nobody

[2018-09-10 15:18] #3771 closed, assigned to nobody

[2018-09-10 15:23] #3749 closed, assigned to nobody

[2018-09-10 15:24] NikolayUkleyko commented on #3779
Проверено.
Работает корректно.
@gsbelarus , спасибо !

[2018-09-10 15:24] #3779 closed, assigned to gsbelarus

[2018-09-10 15:26] #3722 closed, assigned to nobody

[2018-09-10 15:33] NikolayUkleyko commented on #3974
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-09-10 15:33] #3974 closed, assigned to ShlTanya

[2018-09-11 15:52] NikolayUkleyko commented on #4028
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-09-12 12:13] NikolayUkleyko commented on #3781
Маловероятно, что в грид будут внесены правки.

[2018-09-12 12:15] #3797 closed, assigned to nobody

[2018-09-17 08:40] #4098 closed, assigned to nobody

[2018-09-17 09:13] #3746 closed, assigned to gsbelarus, ShlTanya

[2018-09-19 15:46] #4042 closed, assigned to nobody

[2018-09-27 09:36] NikolayUkleyko commented on #3699
Маловероятно, что гриды будут дорабатываться.

[2018-09-27 09:36] #3699 closed, assigned to nobody

[2018-09-27 09:40] NikolayUkleyko commented on #4093
Реально ж не работает.
Как будто никто не работает с карточкой ТМЦ ?

[2018-09-27 09:40] NikolayUkleyko commented on #4105
Очевидна недоработка.
Раньше работало корректно.

[2018-09-28 13:20] #3678 closed, assigned to nobody

[2018-09-28 13:29] #3768 closed, assigned to nobody

[2018-09-28 13:29] #3743 closed, assigned to nobody

[2018-09-28 13:39] #3739 closed, assigned to nobody

[2018-09-28 13:43] NikolayUkleyko commented on #3881
@MIchaelShoihet , пожалуйста, по возможности посмотрите данный вопрос.

[2018-09-28 13:50] NikolayUkleyko commented on #3870
Большое спасибо за информацию, @MIchaelShoihet !

[2018-09-28 13:50] #3870 closed, assigned to nobody

[2018-09-28 13:53] NikolayUkleyko commented on #3868
Удобный функционал.
Которого нет.

[2018-10-03 09:46] ShlTanya commented on #4100
Если есть список ИД в виде строки с указанием ИД через запятую, то сохранив ее в буфер, можно вызвать команду Добавить из буфера в отмеченные.

[2018-10-03 10:47] ShlTanya commented on #4093
Проверила.. все отображается
![default](https://user-images.githubusercontent.com/24572314/46406034-dd3e8180-c712-11e8-84e0-013fbe43c88b.JPG)

[2018-10-03 12:49] ShlTanya commented on #4107
исправила

[2018-10-03 12:51] alexandra-gsoftware commented on #4100
О, мерси @ShlTanya !

[2018-10-04 08:31] NikolayUkleyko commented on #4093
@ShlTanya , что же было ?

[2018-10-04 08:32] NikolayUkleyko commented on #4107
@ShlTanya , что же было ?

[2018-10-04 10:04] NikolayUkleyko opened #4108 "Бухгалтерия. Журнал-ордер. Аналитика 'Дата проводки', 'Товар' и количественные показатели"
**Исследователь / Бухгалтерия / Журнал-ордер.**

При формировании Журнал-ордера со следующими параметрами:
![2018-10-04_124844](https://user-images.githubusercontent.com/11497453/46466728-bb0d3800-c7d4-11e8-9b9e-3db1f62ab0ff.jpg)

Получаем следующий результат:
![2018-10-04_125047](https://user-images.githubusercontent.com/11497453/46466735-bd6f9200-c7d4-11e8-8721-7c0df8131b9b.jpg)

На конец период

[2018-10-04 10:09] NikolayUkleyko commented on #4108
@MIchaelShoihet и @ShlTanya , пожалуйста, изложите ваши точки зрения.

[2018-10-04 11:24] ShlTanya commented on #4093
Николай, проверьте у себя еще раз

[2018-10-04 11:56] MIchaelShoihet commented on #4108
Уже тысячу раз говорили, о том что нельзя комбинировать временную аналитику с качественной. Дата проводки, месяц, квартал - это временные и сальдо там переходящие... Такие аналитики можно совмещать только для анализа оборотов.

[2018-10-04 13:05] NikolayUkleyko commented on #4093
Как только перекомплируют gedemin.exe, включая данную доработку.

[2018-10-04 13:12] NikolayUkleyko commented on #4108
У меня Жанна про данный вопрос спрашивала.
Я ей изложил аналогичный ответ.
Теперь Жанна будет знать.

Большое спасибо за ответ, @MIchaelShoihet !

[2018-10-04 13:12] #4108 closed, assigned to nobody

[2018-10-04 13:22] ShlTanya commented on #4093
Я ничего не делала. Поэтому и прошу проверьте точно.

[2018-10-05 16:01] alexandra-gsoftware commented on #4093
Проверила. В AT_RELATIONS есть поле LISTFIELD. Если у GD_GOOD внести сюда, например, штрихкод, то в параметрах карточки тмц будут вместо названий штрихкоды, и тд. Кто-нибудь знает, для чего этот LISTFIELD? На что он еще влияет (я не нашла)?

[2018-10-08 09:46] gsbelarus commented on #4093
listfield из at_relations автоматом подставляется в лукапы, там где соответствующее свойство не настроено вручную.

[2018-10-08 10:31] alexandra-gsoftware commented on #4093
Хмм, может, карточка тмц (стандартная екзешная) не должна все же это поое подхватывать?

[2018-10-08 13:52] NikolayUkleyko commented on #4093
Перелопатил руководство пользователя.
Там сказано про использование  расширенного отображения полей таблиц в Журнал-ордере.
Да, это работает замечательно и удобно.
Но, не сказано, что настройки расширенного отображения полей таблиц влияют еще и на работу стандартной формы карточки ТМЦ.
Ведь не исключены ситуации, когда для Журнал-ордера необходимы одни настройки расширенного отображения полей табл

[2018-10-08 14:06] MIchaelShoihet commented on #4093
Вообще расширенноые отображения работают практически везде. Это общая функция для всех режимов. В Журнале-ордере их можно не использовать...

[2018-10-12 18:16] YRozmysl commented on #4070
Вопрос не утратил актуальность

[2018-10-12 19:52] gsbelarus commented on #4070
я поправил уже. обновить завтра экзе и проверить.

[2018-10-15 08:22] YRozmysl commented on #4070
Все ок.

[2018-10-15 12:53] alexandra-gsoftware commented on #4070
Тогда, как сменится ехе на бмкк, надо откатить подмену компаникея на компаникей + 0 в методах
@YRozmysl  @ilonaand

[2018-10-15 13:22] YRozmysl commented on #4070
его сегодня заменили на бмкк в обед, можно править

[2018-10-15 16:27] #4070 closed, assigned to gsbelarus, alexandra-gsoftware, MIchaelShoihet, ilonaand, ShlTanya

[2018-10-17 14:25] NikolayUkleyko commented on #3946
Недавно столкнулись снова с проблемой, при которой с зависимыми не добавляются в ПИ такие объекты, как:

[2018-10-24 09:29] gsbelarus commented on #4104
А какое название должно быть в таком случае? тоже "gdcInvDocument"?

[2018-10-24 09:36] alexandra-gsoftware commented on #4104
Ага. Смысл в том, что откуда бы форма наследника ни открывалась, имена компонентов на ней должны быть одинаковыми

[2018-10-24 16:25] gsbelarus commented on #4104
@yoannawx завтра взять экзешник с сайта и проверить.

[2018-10-25 12:37] NikolayUkleyko commented on #3804
Большое спасибо, @MIchaelShoihet !
Проверено.

Теперь, при вышеприведенной ситуации сперва программа отобразить такое окно:
![2018-10-25_153213](https://user-images.githubusercontent.com/11497453/47500469-8fc5b800-d86b-11e8-951e-f8c8cde60646.jpg)

Затем, программа отобразит такое окно:
![2018-10-25_153243](https://user-images.githubusercontent.com/11497453/47500489-9ce2a700-d86b-11e8-81f4-f9bdd97f

[2018-10-25 12:37] #3804 closed, assigned to nobody

[2018-10-25 12:57] #4003 closed, assigned to ShlTanya

[2018-10-25 14:44] #4058 closed, assigned to nobody

[2018-10-25 14:48] NikolayUkleyko commented on #4077
@ShlTanya , благодарю за изложение своих мыслей.

[2018-10-25 14:48] #4077 closed, assigned to nobody

[2018-10-25 14:49] NikolayUkleyko commented on #4074
@ShlTanya , все же интересно, почему так отображаются рассматриваемые складские признаки ?

[2018-10-25 14:52] #4103 closed, assigned to nobody

[2018-10-25 15:09] NikolayUkleyko commented on #4105
Напоминаю, что данный вопрос относится к реальной повседневной работе бухгалтера по учету ГСМ и другие.
Его следует сделать.

[2018-10-25 15:11] NikolayUkleyko commented on #4093
Большое спасибо всем за беседу.
Узнали много чего интересного.

[2018-10-25 15:11] #4093 closed, assigned to nobody

[2018-10-25 15:12] NikolayUkleyko commented on #4080
@MIchaelShoihet , большое спасибо за беседу.

[2018-10-25 15:12] #4080 closed, assigned to nobody

[2018-10-25 15:54] alexandra-gsoftware opened #4109 "Дублирование веток в исследователе"
Создаю типовой док-т с изменением свойств. Сохраняю. Получаю ошибку, что не заполнено какое-то поле. Заполняю. Сохраняю. Все хорошо, но в исследователе теперь две веточки для вызова этого документа (ид отличается на единицу)

[2018-10-25 16:00] NikolayUkleyko commented on #3845
@gsbelarus , пожалуйста, закройте тему.

[2018-10-25 16:01] NikolayUkleyko commented on #3435
@gsbelarus , пожалуйста, закройте тему.

[2018-10-25 16:02] NikolayUkleyko commented on #3449
@gsbelarus , пожалуйста, закройте тему.

[2018-10-25 16:03] NikolayUkleyko commented on #3546
@gsbelarus , пожалуйста, закройте тему.

[2018-10-25 16:05] NikolayUkleyko commented on #3403
@gsbelarus , пожалуйста, закройте тему.

[2018-10-25 16:06] NikolayUkleyko commented on #3099
@gsbelarus , пожалуйста, закройте тему.

[2018-10-25 16:06] NikolayUkleyko commented on #3075
@gsbelarus , пожалуйста, закройте тему.

[2018-10-25 16:07] NikolayUkleyko commented on #2898
@gsbelarus , пожалуйста, закройте тему.

[2018-10-25 16:08] NikolayUkleyko commented on #2790
@gsbelarus , пожалуйста, закройте тему.

[2018-10-25 16:09] NikolayUkleyko commented on #2415
@gsbelarus , пожалуйста, закройте тему.

[2018-10-25 16:12] NikolayUkleyko commented on #1886
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
Юра ?

[2018-10-25 16:12] NikolayUkleyko commented on #1612
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
Юра ?

[2018-10-25 16:14] YRozmysl commented on #1886
Можно и закрывать.

[2018-10-25 16:15] YRozmysl commented on #1612
Закрываем

[2018-10-25 16:17] NikolayUkleyko commented on #954
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
Юра ?
Недавно данную тему уже поднимали в отдельном разделе
https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/581

[2018-10-25 16:19] YRozmysl commented on #954
Закрываем, проблематика периодически обостряется у клиентов, как психические весенне-осенние обострения.

[2018-10-25 16:20] NikolayUkleyko commented on #687
По данному вопросу было задание.
По ходу - глухо.

Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-10-25 16:38] ShlTanya commented on #4105
Исправлено

[2018-10-26 06:40] #3099 closed, assigned to gsbelarus

[2018-10-26 07:20] #2415 closed, assigned to gsbelarus

[2018-10-26 08:03] NikolayUkleyko commented on #4045
Вопрос проработан.
@gsbelarus , пожалуйста, закройте тему.

[2018-10-26 08:07] NikolayUkleyko commented on #3060
В перечень доступных аналитических признаков добавлен служебный реквизит **Рабочая компания**.
Сохранение в конфигурацию должно работать корректно.

@MIchaelShoihet , Владимир Иванович, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-10-26 08:09] NikolayUkleyko commented on #3444
@gsbelarus , пожалуйста, закройте тему.

[2018-10-26 08:21] #3444 closed, assigned to gsbelarus

[2018-10-26 08:25] NikolayUkleyko commented on #3461
Проверено.
Согласно вышеприведенной информации работает корректно.
@zholnerovich , спасибо ! :gift:

@gsbelarus , пожалуйста, закройте тему.

[2018-10-26 08:33] NikolayUkleyko commented on #2561
@gsbelarus , пожалуйста, закройте тему.

[2018-10-26 08:34] #2561 closed, assigned to gsbelarus

[2018-10-26 08:36] NikolayUkleyko commented on #1564
Приведенная ситуация вполне очевидна для нашей платформы.
Выполнить доработки, чтобы программа автоматически учитывала вышеприведенные условия очень сложно.
Оставляем как есть.

@gsbelarus , пожалуйста, закройте тему.

[2018-10-26 08:38] NikolayUkleyko commented on #1745
Проверено.
Работает корректно.

@gsbelarus , пожалуйста, закройте тему.

[2018-10-26 08:43] NikolayUkleyko commented on #243
Данный вопрос можно рассматривать с позиции функционала **Наследования**.

Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-10-26 08:45] NikolayUkleyko commented on #711
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-10-26 08:54] NikolayUkleyko commented on #3419
Задача сводилась к тому, чтобы при очистке поля **Конфигурация** и/или при задании новых **параметров** при формировании Журнала-ордера не учитывать параметры из уже убранной конфигурации: **Дополнительно / Блок "Поля отображений для группировки по аналитике"**.

Вряд ли это будет правиться.

@gsbelarus , пожалуйста, закройте тему.

[2018-10-26 14:42] #3435 closed, assigned to gsbelarus

[2018-10-26 14:56] #3075 closed, assigned to gsbelarus

[2018-10-26 16:46] #3461 closed, assigned to gsbelarus

[2018-10-26 20:09] #3845 closed, assigned to gsbelarus

[2018-10-26 20:09] #3403 closed, assigned to gsbelarus

[2018-10-26 20:10] #2898 closed, assigned to gsbelarus

[2018-10-27 08:37] #3419 closed, assigned to gsbelarus

[2018-10-27 17:02] #1745 closed, assigned to gsbelarus

[2018-10-27 17:04] #1564 closed, assigned to gsbelarus

[2018-10-27 17:11] #2790 closed, assigned to gsbelarus

[2018-10-29 07:16] NikolayUkleyko commented on #3109
Похожее реализовано в ПИ.
@gsbelarus , пожалуйста, закройте тему.

[2018-10-29 09:54] yoannawx commented on #4104
с новым ехе та же проблема. большая просьба оперативно исправить эту ошибку

[2018-10-29 09:56] #3109 closed, assigned to gsbelarus

[2018-10-31 11:34] NikolayUkleyko commented on #133
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 11:39] NikolayUkleyko commented on #237
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 11:39] NikolayUkleyko commented on #243
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:17] NikolayUkleyko commented on #668
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:19] NikolayUkleyko commented on #1071
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:20] NikolayUkleyko commented on #867
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:20] NikolayUkleyko commented on #810
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:22] NikolayUkleyko commented on #1111
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:24] NikolayUkleyko commented on #1155
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:25] NikolayUkleyko commented on #1154
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:25] NikolayUkleyko commented on #1156
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:27] NikolayUkleyko commented on #1291
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:28] NikolayUkleyko commented on #1363
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:28] NikolayUkleyko commented on #1387
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:29] NikolayUkleyko commented on #1612
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:29] NikolayUkleyko commented on #1688
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:30] NikolayUkleyko commented on #1897
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:30] NikolayUkleyko commented on #1896
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:31] NikolayUkleyko commented on #1886
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:32] NikolayUkleyko commented on #1744
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 12:38] NikolayUkleyko commented on #2245
@stasgm , если, на ,твой, взгляд данная тема уже неактуальна, пожалуйста, закрой ее.

[2018-10-31 12:51] NikolayUkleyko commented on #2092
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 13:15] NikolayUkleyko commented on #2160
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 13:15] NikolayUkleyko commented on #2156
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 13:58] NikolayUkleyko commented on #2204
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 14:31] #2245 closed, assigned to gsbelarus

[2018-10-31 16:00] NikolayUkleyko commented on #2574
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 16:00] NikolayUkleyko commented on #2272
@gsbelarus , пожалуйста, закройте тему.

[2018-10-31 17:12] #2272 closed, assigned to gsbelarus

[2018-10-31 17:12] #2574 closed, assigned to gsbelarus

[2018-10-31 17:13] #2204 closed, assigned to gsbelarus

[2018-10-31 17:19] #2160 closed, assigned to gsbelarus

[2018-10-31 17:20] #2092 closed, assigned to gsbelarus

[2018-10-31 17:21] #1744 closed, assigned to gsbelarus

[2018-11-01 07:50] NikolayUkleyko commented on #2893
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 07:51] NikolayUkleyko commented on #2876
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 07:51] NikolayUkleyko commented on #2862
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 07:53] NikolayUkleyko commented on #2538
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 07:54] NikolayUkleyko commented on #2698
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 07:54] #2538 closed, assigned to gsbelarus

[2018-11-01 07:58] NikolayUkleyko commented on #2834
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 07:58] NikolayUkleyko commented on #2843
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:00] #2834 closed, assigned to gsbelarus

[2018-11-01 08:00] #2843 closed, assigned to gsbelarus

[2018-11-01 08:01] #2698 closed, assigned to gsbelarus

[2018-11-01 08:01] NikolayUkleyko commented on #3272
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:01] NikolayUkleyko commented on #3263
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:02] #3272 closed, assigned to gsbelarus

[2018-11-01 08:03] #3263 closed, assigned to gsbelarus

[2018-11-01 08:03] NikolayUkleyko commented on #3100
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:04] NikolayUkleyko commented on #3060
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:06] NikolayUkleyko commented on #3032
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:08] NikolayUkleyko commented on #3043
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:09] NikolayUkleyko commented on #3299
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:09] #3032 closed, assigned to gsbelarus

[2018-11-01 08:10] NikolayUkleyko commented on #3499
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:11] NikolayUkleyko commented on #3494
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:12] NikolayUkleyko commented on #3464
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:12] NikolayUkleyko commented on #3458
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:13] NikolayUkleyko commented on #3452
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:13] NikolayUkleyko commented on #3449
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:14] NikolayUkleyko commented on #3445
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:16] NikolayUkleyko commented on #3422
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:16] NikolayUkleyko commented on #3415
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:19] NikolayUkleyko commented on #3412
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:19] NikolayUkleyko commented on #3406
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:19] #3499 closed, assigned to gsbelarus

[2018-11-01 08:21] NikolayUkleyko commented on #3387
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:22] NikolayUkleyko commented on #3371
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:24] NikolayUkleyko commented on #3668
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:26] NikolayUkleyko commented on #3589
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:27] NikolayUkleyko commented on #3580
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:28] NikolayUkleyko commented on #3569
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:30] NikolayUkleyko commented on #3541
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:31] NikolayUkleyko commented on #3806
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:32] NikolayUkleyko commented on #3777
@gsbelarus , пожалуйста, закройте тему.

[2018-11-01 08:43] ShlTanya commented on #4109
Исправлено

[2018-11-01 08:58] #3494 closed, assigned to gsbelarus

[2018-11-01 11:16] #3777 closed, assigned to gsbelarus

[2018-11-01 11:19] #3668 closed, assigned to gsbelarus

[2018-11-01 11:39] #3806 closed, assigned to gsbelarus

[2018-11-01 11:52] #2918 closed, assigned to gsbelarus

[2018-11-01 11:53] #3219 closed, assigned to gsbelarus

[2018-11-01 11:53] #3056 closed, assigned to gsbelarus

[2018-11-01 11:54] #3545 closed, assigned to gsbelarus

[2018-11-01 11:55] #3381 closed, assigned to gsbelarus

[2018-11-01 12:55] #3541 closed, assigned to gsbelarus

[2018-11-01 14:21] #3569 closed, assigned to gsbelarus

[2018-11-01 14:42] #3580 closed, assigned to gsbelarus

[2018-11-01 15:02] #3589 closed, assigned to gsbelarus

[2018-11-01 15:04] #2062 closed, assigned to gsbelarus

[2018-11-01 15:04] #2156 closed, assigned to gsbelarus

[2018-11-01 15:04] #2839 closed, assigned to gsbelarus

[2018-11-01 15:04] #2862 closed, assigned to gsbelarus

[2018-11-01 15:04] #2876 closed, assigned to gsbelarus

[2018-11-01 15:04] #2893 closed, assigned to gsbelarus

[2018-11-01 15:04] #3043 closed, assigned to gsbelarus

[2018-11-01 15:04] #3060 closed, assigned to gsbelarus

[2018-11-01 15:04] #3100 closed, assigned to gsbelarus

[2018-11-01 15:04] #3299 closed, assigned to gsbelarus

[2018-11-01 15:04] #3371 closed, assigned to gsbelarus

[2018-11-01 15:04] #3387 closed, assigned to gsbelarus, ShlTanya

[2018-11-01 15:04] #3406 closed, assigned to gsbelarus

[2018-11-01 15:04] #3412 closed, assigned to gsbelarus

[2018-11-01 15:04] #3415 closed, assigned to gsbelarus

[2018-11-01 15:04] #3422 closed, assigned to gsbelarus

[2018-11-01 15:04] #3445 closed, assigned to gsbelarus

[2018-11-01 15:04] #3449 closed, assigned to gsbelarus

[2018-11-01 15:04] #3452 closed, assigned to gsbelarus

[2018-11-01 15:04] #3458 closed, assigned to gsbelarus

[2018-11-01 15:04] #3459 closed, assigned to gsbelarus, ShlTanya

[2018-11-01 15:04] #3464 closed, assigned to gsbelarus

[2018-11-01 15:04] #3546 closed, assigned to gsbelarus

[2018-11-01 15:04] #4021 closed, assigned to ShlTanya

[2018-11-01 15:04] #4045 closed, assigned to gsbelarus

[2018-11-01 15:04] #133 closed, assigned to gsbelarus

[2018-11-01 15:04] #237 closed, assigned to gsbelarus

[2018-11-01 15:04] #243 closed, assigned to gsbelarus

[2018-11-01 15:04] #668 closed, assigned to gsbelarus

[2018-11-01 15:05] #810 closed, assigned to gsbelarus

[2018-11-01 15:05] #867 closed, assigned to gsbelarus

[2018-11-01 15:05] #1071 closed, assigned to gsbelarus

[2018-11-01 15:05] #1111 closed, assigned to gsbelarus

[2018-11-01 15:05] #1154 closed, assigned to gsbelarus

[2018-11-01 15:05] #1155 closed, assigned to gsbelarus

[2018-11-01 15:05] #1156 closed, assigned to gsbelarus

[2018-11-01 15:05] #1291 closed, assigned to gsbelarus

[2018-11-01 15:05] #1363 closed, assigned to gsbelarus

[2018-11-01 15:05] #1387 closed, assigned to gsbelarus

[2018-11-01 15:05] #1612 closed, assigned to gsbelarus

[2018-11-01 15:05] #1688 closed, assigned to gsbelarus

[2018-11-01 15:05] #1886 closed, assigned to gsbelarus

[2018-11-01 15:05] #1896 closed, assigned to gsbelarus

[2018-11-01 15:05] #1897 closed, assigned to gsbelarus

[2018-11-01 15:05] #1148 closed, assigned to gsbelarus

[2018-11-01 15:06] #954 closed, assigned to gsbelarus

[2018-11-01 15:06] #618 closed, assigned to gsbelarus

[2018-11-01 15:06] #2863 closed, assigned to gsbelarus

[2018-11-01 15:06] #3234 closed, assigned to gsbelarus

[2018-11-01 15:06] #3483 closed, assigned to gsbelarus

[2018-11-01 15:06] #4028 closed, assigned to nobody

[2018-11-02 00:33] #3010 closed, assigned to gsbelarus

[2018-11-02 00:35] #3553 closed, assigned to gsbelarus

[2018-11-05 12:51] NikolayUkleyko commented on #3879
Взвесили **за** и **против** - гриды не трогаем.

[2018-11-05 12:51] #3879 closed, assigned to nobody

[2018-11-05 12:54] NikolayUkleyko commented on #4094
Взвесили **за** и **против** - на рабочих БД МК не исключены вопросы из-за наличия дублирующихся и прочих некорректных записей.
Не делаем.

[2018-11-05 12:54] #4094 closed, assigned to nobody

[2018-11-05 12:58] YRozmysl commented on #4060
Странно. Есть 2 базы. На каждой из их есть одна и та же процедура. На одной из баз пробел ставится при нажатии ввод, а на другой  - нет.

[2018-11-05 12:58] #4043 closed, assigned to nobody

[2018-11-05 13:06] alexandra-gsoftware commented on #4060
хмм, а как там глобальный параметр Использовать Энтер как Таб? Может как-то он замешан?

[2018-11-05 13:13] YRozmysl commented on #4060
Да, все именно так и было, Вопрос закрыт

[2018-11-05 13:13] #4060 closed, assigned to nobody

[2018-11-05 13:14] YRozmysl commented on #4060
хотя, правильно ли это, что этот параметр задействован и в редактировании процедуры, ну, да ладно.

[2018-11-05 13:31] alexandra-gsoftware commented on #4060
мне кажется, так всегда было

[2018-11-05 13:33] YRozmysl commented on #4060
ок, вопрос снят с повестки. просто я и не знал про существование таких параметров, теперь буду

[2018-11-05 18:53] gsbelarus commented on #4060
скажи спасибо вале со скота в березе, чтобы ей  на пенсии икалось.

[2018-11-05 18:54] YRozmysl commented on #4060
спасибо

[2018-11-06 07:03] NikolayUkleyko commented on #4107
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-11-06 07:03] #4107 closed, assigned to nobody

[2018-11-12 14:06] NikolayUkleyko commented on #4062
В ходе решения данного вопроса открылись новые обстоятельства.
Закрываем.

[2018-11-12 14:06] #4062 closed, assigned to nobody

[2018-11-16 15:12] NikolayUkleyko commented on #4075
Проверено.
Оказывается, так и есть.
В гриды изменений не вносим.
Большое спасибо, @ShlTanya ! :gift:

[2018-11-16 15:12] #4075 closed, assigned to nobody

[2018-11-16 15:26] #3700 closed, assigned to MIchaelShoihet

[2018-11-16 15:27] NikolayUkleyko commented on #4105
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-11-16 15:27] #4105 closed, assigned to ShlTanya

[2018-11-16 15:32] NikolayUkleyko commented on #4106
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-11-16 15:32] #4106 closed, assigned to nobody

[2018-11-21 15:14] NikolayUkleyko opened #4110 "Бухгалтерия. Карта счета. Предусмотреть возможность отображения пользователя"
**Исследователь / Бухгалтерия / Карта счета.**

Пожалуйста, подскажите, можно ли добавить в данную форму колонки с отображением локализованного имени пользователя, выполнившего **создание** и **редактирование** соответствующей записи ?

[2018-12-06 09:33] NikolayUkleyko opened #4111 "Общие. Справочник ТМЦ. Настройка отображения/скрытия вложенных уровней (Q)"
**Исследователь / Справочники / Справочник ТМЦ.**

По каким соображениям в данном справочнике не предусмотрели возможность настройки  отображения/скрытия вложенных уровней ?
По умолчанию галка по реквизиту **Вложенные уровни** не проставлена, но при этом вложенные уровни отображаются.
Противоречиво получается.

Если, нет технических ограничений, пожалуйста предусмотрите возможность настройки  отоб

[2018-12-13 15:57] NikolayUkleyko commented on #4111
Хммм, странно.
Никто не подскажет ?

[2018-12-22 08:31] #4083 closed, assigned to nobody

[2018-12-22 08:32] #4111 closed, assigned to nobody

[2018-12-22 08:36] NikolayUkleyko commented on #4061
Переговорили с @ShlTanya - есть технические вопросы.
Решили ничего не менять по данному функционалу.

[2018-12-22 08:36] #4061 closed, assigned to nobody

[2018-12-22 08:37] #4082 closed, assigned to nobody

[2018-12-22 08:38] NikolayUkleyko commented on #4091
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2018-12-22 08:43] #4031 closed, assigned to nobody

[2018-12-22 08:48] #3955 closed, assigned to nobody

[2018-12-22 08:50] #3924 closed, assigned to nobody

[2018-12-22 08:50] NikolayUkleyko commented on #3920
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-22 08:58] NikolayUkleyko commented on #3885
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-22 08:58] #3878 closed, assigned to nobody

[2018-12-22 09:01] #3853 closed, assigned to nobody

[2018-12-22 09:01] #3818 closed, assigned to nobody

[2018-12-22 09:07] #3766 closed, assigned to ShlTanya

[2018-12-22 09:08] #3757 closed, assigned to nobody

[2018-12-22 09:12] #3887 closed, assigned to gsbelarus

[2018-12-22 09:12] #3864 closed, assigned to gsbelarus

[2018-12-22 09:15] #3667 closed, assigned to gsbelarus

[2018-12-22 09:20] NikolayUkleyko commented on #3287
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 09:21] NikolayUkleyko commented on #3426
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 09:21] NikolayUkleyko commented on #3457
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 10:52] NikolayUkleyko commented on #2912
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-22 10:54] NikolayUkleyko commented on #3311
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 11:04] NikolayUkleyko commented on #3498
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 11:05] NikolayUkleyko commented on #3547
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 11:14] #3547 closed, assigned to gsbelarus

[2018-12-22 11:45] NikolayUkleyko commented on #2222
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 11:48] YRozmysl commented on #2324
утратило актуальность, можно закрывать

[2018-12-22 11:50] NikolayUkleyko commented on #1749
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-22 11:55] NikolayUkleyko commented on #1232
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-22 11:55] alexandra-gsoftware commented on #1749
Это уже исправили

[2018-12-22 11:55] #1749 closed, assigned to gsbelarus

[2018-12-22 11:55] NikolayUkleyko commented on #1159
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 11:58] NikolayUkleyko commented on #1050
@ilonaand  , пожалуйста, изложите Вашу точку зрения.

----

На волне новой разрабатываемой оборотной ведомости данный вопрос очень интересен.

[2018-12-22 12:01] NikolayUkleyko commented on #1016
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 12:05] NikolayUkleyko commented on #687
На сегодня разработан функционал по блокировке изменений данных по счетам.
ПИ **Блокировка по бухгалтерским счетам**.

----

@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 12:09] NikolayUkleyko commented on #338
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-22 12:10] NikolayUkleyko commented on #251
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 12:15] #251 closed, assigned to gsbelarus

[2018-12-22 12:16] NikolayUkleyko commented on #56
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-22 12:17] NikolayUkleyko commented on #25
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-22 12:18] #56 closed, assigned to gsbelarus

[2018-12-22 12:22] #4109 closed, assigned to gsbelarus, ShlTanya

[2018-12-22 12:25] #3918 closed, assigned to ShlTanya

[2018-12-22 12:27] #3826 closed, assigned to nobody

[2018-12-22 12:36] NikolayUkleyko commented on #2324
@gsbelarus , пожалуйста, закройте тему.

[2018-12-22 13:30] ilonaand commented on #1050
Структура товарных групп должна быть едина для всех, постепенно оно унифицируется, когда отходят от предыдущих программ. Главный вопрос в данном случае- с группировкой, чтобы одни и те же товары не множились в геометрической прогрессии. Сейчас это решается либо созданием отдельных таблиц с привязкой,  конфигураций товаров для отчетов. Но чаще всего, к прискорбию, решается созданием пачки одинаковы

[2018-12-22 14:15] #2205 closed, assigned to gsbelarus

[2018-12-22 15:50] #2324 closed, assigned to gsbelarus

[2018-12-22 20:12] #3498 closed, assigned to gsbelarus

[2018-12-22 20:13] #3311 closed, assigned to gsbelarus

[2018-12-22 20:14] #3457 closed, assigned to gsbelarus

[2018-12-22 20:16] #3426 closed, assigned to gsbelarus

[2018-12-22 20:17] #3287 closed, assigned to gsbelarus

[2018-12-26 14:46] NikolayUkleyko commented on #1050
@gsbelarus , пожалуйста, закройте тему.

[2018-12-26 14:52] NikolayUkleyko commented on #1025
@gsbelarus , пожалуйста, закройте тему.

[2018-12-26 14:55] NikolayUkleyko commented on #4097
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@stasgm ?

[2018-12-26 14:56] NikolayUkleyko commented on #4051
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-26 15:01] #4011 closed, assigned to gsbelarus

[2018-12-26 15:01] NikolayUkleyko commented on #3857
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-26 15:02] stasgm commented on #4097
Тема актуальная. трабл в exe. Получатель в шапке и в позициях отличается.

[2018-12-26 15:05] NikolayUkleyko commented on #3903
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-26 15:18] #3680 closed, assigned to gsbelarus

[2018-12-26 15:21] #3855 closed, assigned to stasgm

[2018-12-26 15:29] NikolayUkleyko commented on #3495
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-26 15:52] NikolayUkleyko commented on #2280
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-26 15:55] NikolayUkleyko commented on #1924
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-26 15:57] NikolayUkleyko commented on #1371
@gsbelarus , пожалуйста, закройте тему.

[2018-12-26 16:01] alexandra-gsoftware commented on #3857
вроде сейчас все правильно?

[2018-12-26 16:02] NikolayUkleyko commented on #1840
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2018-12-26 16:02] alexandra-gsoftware commented on #3962
все забили?

[2018-12-26 16:03] alexandra-gsoftware commented on #3927
п.2 больше не актуален
п.1 актуален

[2018-12-26 16:04] #3782 closed, assigned to gsbelarus

[2018-12-26 16:04] alexandra-gsoftware commented on #3796
вроде исправили

[2018-12-26 16:04] #3796 closed, assigned to gsbelarus

[2018-12-26 18:35] #3003 closed, assigned to gsbelarus

[2018-12-26 18:38] #3046 closed, assigned to gsbelarus

[2018-12-26 18:39] #3225 closed, assigned to gsbelarus

[2018-12-26 18:39] #3413 closed, assigned to gsbelarus

[2018-12-26 18:39] #2765 closed, assigned to gsbelarus

[2018-12-26 18:39] #2670 closed, assigned to gsbelarus

[2018-12-26 18:39] #2189 closed, assigned to gsbelarus

[2018-12-26 18:39] #1348 closed, assigned to gsbelarus

[2018-12-26 18:39] #1549 closed, assigned to gsbelarus

[2018-12-27 11:59] NikolayUkleyko commented on #4097
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2018-12-27 12:23] MIchaelShoihet commented on #4097
Какую точку зрения? Ошибка ее надо исправить. Это в работе

[2018-12-28 14:02] #1941 closed, assigned to gsbelarus

[2018-12-28 14:17] alexandra-gsoftware commented on #1036
не актуально

[2018-12-28 14:17] #1036 closed, assigned to gsbelarus

[2018-12-28 14:18] #1025 closed, assigned to gsbelarus

[2018-12-28 14:18] #1077 closed, assigned to gsbelarus

[2018-12-28 14:19] alexandra-gsoftware commented on #911
не актуально

[2018-12-28 14:19] #911 closed, assigned to gsbelarus

[2018-12-28 14:20] alexandra-gsoftware commented on #609
сделано

[2018-12-28 14:20] #609 closed, assigned to gsbelarus

[2018-12-28 14:24] MIchaelShoihet commented on #4097
Смотреть на последнем exe

[2018-12-28 14:24] #4091 closed, assigned to ShlTanya

[2019-01-03 15:44] NikolayUkleyko opened #4112 "Банк. Валютная выписка без указания рублевого эквивалента"
**Исследователь / Банк и касса / Банковская выписка.**

В gedemin.exe предусмотрена проверка на заполнение рублевых полей при заполнении валютного поля.
На Городок ПФ есть выписка по валютному банковскому счету, в которой проценты по счету указаны в валюте (0.01) и при этом рублевый эквивалент = 0.00.
Хорошо бы отключить такую проверку.

[2019-01-09 15:35] #4112 closed, assigned to nobody

[2019-01-15 10:15] NikolayUkleyko commented on #3946
Недавно разработал новый документ и сохранил в ПИ.
В целом в ПИ все объекты были автоматически добавлены.
Установка ПИ прошла успешно и документ работает корректно.

@alexandra-gsoftware ?

[2019-01-15 12:34] #4101 closed, assigned to nobody

[2019-01-15 12:35] #4074 closed, assigned to nobody

[2019-01-15 13:12] #3679 closed, assigned to gsbelarus

[2019-01-15 13:19] #4038 closed, assigned to nobody

[2019-01-15 13:19] #4055 closed, assigned to nobody

[2019-01-15 13:19] #4071 closed, assigned to nobody

[2019-01-15 13:20] #4053 closed, assigned to nobody

[2019-01-15 13:20] #3943 closed, assigned to nobody

[2019-01-15 18:45] alexandra-gsoftware opened #4113 "Поиск в скриптфункциях с заменой"
Сейчас мы работаем над переходом на новый формат для ключей - int64.
В метаданных БД (триггеры, хранимые процедуры, представления) можно просто заменить INTEGER на BIGINT, и ничего не сломается (в 99% случаев в переменной с типом INTEGER хранится ключ, а если вдруг там хранится день недели - ну будет он BIGINT, ничего страшного.

В макросах не все так однозначно. INTEGER может относится к скрипту

[2019-01-15 19:13] alexandra-gsoftware opened #4114 "Загадочные РУИДы: РУИД генерируется, хотя не должен"
Замечено, что записям из INV_MOVEMENT могут соответствовать данные в GD_RUID!
И на клиентских базах, и на эталоне.
На эталоне я работаю под администратором, создаю\удаляю\редактирую разные документы. По некоторым движениям руиды есть, по другим - нет. От типа документа не зависит. По одной позиции одной шапки руид может быть, по другой - нет.

Вот  есть даже пример. Обратите внимание на выделенную

[2019-01-15 19:20] MIchaelShoihet commented on #4114
Это очень конечно странно. Но будем искать.

[2019-01-15 19:26] ilonaand commented on #4114
Мало того, замечены таблички, судя по виду, создающиеся чисто из скриптов, например в березе какая-то старая табличка для связи накладных и требований( не исп с 2005) года, и с записями в gd_ruid

[2019-01-15 19:30] alexandra-gsoftware commented on #4114
@ilonaand я немного переделаю поиск по руид и поиск по ид. Возможно, это дубликаты ИД.

Кстати-кстати, такие штуки появятся при использовании ИНТЕРВАЛОВ.
Надо как-то уничтожать руиды при удалении объектов.

[2019-01-15 19:41] gsbelarus commented on #4114
если через бо идет удаление, то руид удаляется помойму.

аў, 15 сту 2019, 22:30: карыстальнік alexandra-gsoftware <
notifications@github.com> напісаў:

[2019-01-15 19:46] alexandra-gsoftware commented on #4114
@gsbelarus
хорошо, если так, спасибо.

Я модифицировала Поиск по ИД и поиск по РУИД. Теперь можно исключать из поиска некоторые таблицы. Т.е. можно искать и дубликаты ИД.

Проверила пример с эталона, где по 1 док-ту 4 движения и на них два руида. Один из айдишников, по которым есть руид, используется еще в GD_JOURNAL. Теоретически РУИД мог прийти оттуда. Второй ИД нигде больше не используется.

[2019-01-16 05:04] gsbelarus opened #4115 "Адаптация кода к 64 битному ИД"
Обработаны папки:

* [x] Addressbook
* [ ] DirectoryGood
* [ ] Wage

Проверены папки:

* [ ] Addressbook
* [ ] DirectoryGood
* [ ] Wage

[2019-01-16 06:57] gsbelarus commented on #4115
## Суть проблемы

После перехода на 64 битный ИД:

1. Переменные в коде должны быть типа Int64 вместо Integer.
1. Надо использовать другие методы чтения\записи значений в полях и параметрах AsLargeInt вместо AsInteger.
1. Надо использовать другую функцию преобразования из строки.
1. Преобразования в Делфи5 в или из типа вариант будут неправильными.

Решение:

1. Заводим специальный тип TID. Сейчас

[2019-01-16 09:41] NikolayUkleyko commented on #3946
1. Добавил в ПИ типовой документ со связанными объектами.
2. Из основного ПИ выделил в отдельное ПИ типовые проводки.

В результате в ПИ с типовыми проводками были переброшены не только типовая проводка (типовая хоз. операция) и функция типовой проводки, но и:
- таблицы документа;
- TgdcMacrosGroup;
- TgdcReportGroup;
- TgdcExplorer.

В данной ситуации в ПИ должны были быть добавлены только типова

[2019-01-16 16:19] alexandra-gsoftware commented on #3946
я думаю, это фигня какая-то, так быть не должно.
Раньше вроде работало нормально.

[2019-01-16 16:35] gsbelarus commented on #4113
Поясню задачу. Нам предстоит на некоторых больших базах произвести трансформацию кода макросов в связи с переходом на 64 битные идентификаторы. В связи с этим хочется дать программисту в руки инструмент для упрощения этой работы.

## Улучшения в поиске

1. Поиск по регулярным выражениям
2. Не искать в тексте комментариев

![image](https://user-images.githubusercontent.com/5175764/51263183-cf142880

[2019-01-17 11:31] ksergm opened #4116 "Округление в отпуске на экспорт"
Округляет сумму в рублях до целых, где изменить, чтобы округлялось до копеек, как это есть в счет-фактуре валютной?

[2019-01-20 21:08] gsbelarus opened #4117 "Меняем ТЛБ под Int64"
надо добиваться изменений в ТЛБ. использовать тип double или какой там есть.

надо быть осторожным, так как интерфейсы у нас наследуются один от другого,
т.е. надо заглянуть в файл Gedemin_TLB и установить всю цепочку наследования
и везде поменять аккуратно и не ошибиться.

и учесть что в ТЛБ будет две позиции на set AsInteger и на get AsInteger.

на вскидку менять надо для интерфейса TField, TIBX

[2019-01-21 12:34] alexandra-gsoftware commented on #4117
кроме ID у некоторых есть Parent

[2019-01-21 20:36] MIchaelShoihet commented on #4117
А еще BranchKey, MainBranchKey...

[2019-01-23 19:13] ShlTanya commented on #4113
Выполнено

[2019-01-24 13:17] alexandra-gsoftware opened #4118 "Что можно поменять модифаем под БигИнт"
1) стандартные складские триггеры на таблицах-позициях:
поменять

`DECLARE VARIABLE delayed INTEGER`

на

`DECLARE VARIABLE delayed DBOOLEAN`

2) в проводках  в запросе удаления проводок

execute block (begindate DATE = :begindate, enddate DATE = :enddate, trrecordkey INTEGER = :trrecordkey)

поменять на

execute block (begindate DATE = :begindate, enddate DATE = :enddate, trrecordkey DFOREIGNKEY

[2019-01-24 13:55] alexandra-gsoftware commented on #4113
Спасибо, Татьяна!
Хотелось бы добавить:
1) чтобы новое окошко было доступно в меню редактора скрипт объектов \окна
2) если ф-я , где надо провести замену, сейчас в состоянии редактирования, то замена не произойдет, тк текст ф-и не перечитывается перед заменой, и в итоге после замены заново сохранится старый текст. Поэтому, если ф-я, в оторой надо провести замену, открыта, надо:
а) сохранить ее (ес

[2019-01-24 14:23] ShlTanya commented on #4113
2 пункт. Думала над этим.. Для себя выбрала вариант только оповестить пользователя, что ф- я открыта и предложить сохранить ее. А вдруг вы нечаянно что-то там внесли/удалили и сами не заметили. А я все сохраню.

[2019-01-24 14:25] ShlTanya commented on #4113
Поговорите и скажите правильный вариант действий в данной ситуации.

[2019-01-24 15:01] alexandra-gsoftware opened #4119 "Проблема с отображением параметров в диалоговом окошке процедуры"
Открываю на редактирование рандомную процедуру. Блок параметров выглядит так:
[code]

делаю запрос

[code]

получаю

[code]

Меняю в окне редактирования на
[code]

Проверяю в RDB- параметрах. Там теперь

[code]

Все отлично!

Открываю опять окошко редактирования, и вижу
[code]

Т.е. текст процедуры формируется не по реальным доменам параметров, а по стандартным типам sql.

Исправьте плз!
Ведь если

[2019-01-24 15:13] gsbelarus commented on #4119
пусть @ShlTanya сделает

[2019-01-24 15:38] alexandra-gsoftware opened #4120 "Firebird 3 - новый тип BOOLEAN (RDB$FIELDS.RDB$FIELD_TYPE = 23)"
Наш парсер его не разбирает. А он есть!
Почитать можно здесь: https://www.firebirdsql.org/file/community/conference-2014/pdf/02_fb.2014.whatsnew.30.en.pdf

[2019-01-24 18:13] gsbelarus commented on #4120
этим уже во вторую очередь займемся

[2019-01-24 18:16] alexandra-gsoftware commented on #4120
поэтому приорити-медиум))
на бро в некоторых системных таблицах уже проявил себя этот булеан.

[2019-01-24 18:40] gsbelarus commented on #4120
а где вылезло?

чц, 24 сту 2019, 21:16: карыстальнік alexandra-gsoftware <
notifications@github.com> напісаў:

[2019-01-24 19:07] alexandra-gsoftware commented on #4120
таблицы SEC$.
Юра заметил, когда разбирал структуру БД для новой системы

[2019-01-25 07:00] n-tnv opened #4121 "Доработка для документа "Мат.склад - Отпуск материалов покупателям""
База Беларускалий-Агро
Документ "Мат.склад - Отпуск материалов покупателям". Необходимо выполнить следующие доработки.
Если при создании документа в шапке установлены одновременно признаки "Отпуск физ.лицам" и "Прочая реализация", то:

1. При выборе товара из Остатков ТМЦ в позицию должна загрузиться ставка НДС из Накладной на получение этого товара;

2. Сумма НДС в позиции должна рассчитаться как

[2019-01-25 11:43] gsbelarus opened #4122 "Триггер, возвращающий неиспользованные интервалы ID"
[code]

[2019-01-27 14:47] ShlTanya commented on #4119
Исправила

[2019-01-27 19:33] ShlTanya commented on #4113
Доработано.

[2019-01-28 11:00] #4121 closed, assigned to nobody

[2019-01-28 19:55] alexandra-gsoftware commented on #4119
Спасибо, работает!

[2019-01-28 19:55] #4119 closed, assigned to gsbelarus, MIchaelShoihet, ShlTanya

[2019-01-30 12:47] alexandra-gsoftware commented on #4118
4. Процедуры и триггеры для пересчета границ интервальных деревьев. Там много где нужно использовать домены DFOREIGNKEY, DLB, DRB вместо INTEGER

[2019-01-30 12:48] gsbelarus commented on #4118
я знаю. эти процедуры и триггеры автоматом создаются/пересоздаются

On Wed, Jan 30, 2019 at 3:47 PM alexandra-gsoftware <
notifications@github.com> wrote:

[2019-01-30 16:14] alexandra-gsoftware commented on #4118
Вот эти процедуры еще надо поменять

[code]

[2019-01-30 16:41] NikolayUkleyko commented on #4022
Очень интересно.
Чем может помочь @ShlTanya по данному вопросу :question:

[2019-01-30 18:20] alexandra-gsoftware commented on #4118
В некоторых стандартных полях, на которых нет форейн кея, хранятся ИД. Я предполагаю, что в этих:

[code]

[2019-01-30 20:29] alexandra-gsoftware opened #4123 "Конвертация блоба с dfm'ом в текст"
А сделайте плз ф-ю конвертации доступной из скриптов. Очень надо!

[2019-01-30 20:37] alexandra-gsoftware commented on #4113
Работает, спасибо!

[2019-01-30 20:37] #4113 closed, assigned to gsbelarus, alexandra-gsoftware, ShlTanya

[2019-01-31 16:30] NikolayUkleyko commented on #4110
@gsbelarus , что скажете по данной теме ?

[2019-02-01 04:50] gsbelarus commented on #4110
как только разберемся с ид, сделаем

чц, 31 сту 2019, 19:30: карыстальнік NikolayUkleyko <
notifications@github.com> напісаў:

[2019-02-01 07:40] NikolayUkleyko commented on #4110
@gsbelarus , благодарю.

[2019-02-09 14:52] gsbelarus opened #4125 "Где могут прятаться ИД"
Поскольку мы по-прежнему рассматриваем два варианта, 64 бит и сдвиг ИД, давайте вспомним где могут быть записаны у нас ИД, чтобы автоматизировать их перенос при сдвиге:

1. В тексте макросов. Например `...AsInteger = XXX` или `Const SomeID = XXX`
2. В тексте SQL запросов, внутри текста макросов.
3. В DFM экранных форм. Например, внутри свойства ListTable или Condition компонена TgsIBLookupComboBox

[2019-02-09 15:22] MIchaelShoihet commented on #4125
Если настройщик выбирал руид то и хранится руид, мы бы не могли бы перенести ТХО и АХО на другие базы в противном случае. Конечно если пользователь выбирал ID то он там и будет. Но в ТХО мне кажется не так часто это встречается, потому что там есть достаточно удобный выбор объекта из справочника и он подставляет РУИД.

[2019-02-09 15:23] MIchaelShoihet commented on #4125
Только надо учесть, что если все-таки в ТХО вставили ID, то заменой пользоваться нельзя. Надо заходить в конструктор и там исправлять....

[2019-02-09 15:46] ilonaand commented on #4125
В отчетах в шаблонах - много где тара и что то подобное

[2019-02-09 16:01] alexandra-gsoftware commented on #4125
Если напрямую прописанные ид, то в тхо, метаданных их полно

[2019-02-09 16:02] gsbelarus commented on #4125
в метаданных это где?

[2019-02-09 16:05] alexandra-gsoftware commented on #4125
Процедуры, триггеры, условия вычисляемых полей где-то были.
Или вы другое имеете в виду?

[2019-02-09 16:07] gsbelarus commented on #4125
Это я упустил. Добавлю в список.

[2019-02-09 16:08] alexandra-gsoftware commented on #4125
Я их на эталоне даже нашла немало(

[2019-02-09 16:10] gsbelarus commented on #4125
На эталоне это вообще гамон. Они же получаются не будут работать по определению, после переноса на другую БД. Единственное, если ИД там меньше 147 000 000.

[2019-02-09 17:10] alexandra-gsoftware commented on #4125
На эталоне я все поправила, и ид в коде, и integer на dforeignkey и тд

[2019-02-09 17:37] alexandra-gsoftware commented on #4125
Теоретически, в ограничениях к доменам может быть.

[2019-02-09 17:51] gsbelarus opened #4126 "Возможность указать свой генератор для каждой таблицы"
Необходимо добавить для таблиц возможность для каждой работать на своём триггере:

1. В at_relations добавляем поле triggername.
2. В бизнес-классе, отвечающем за таблицу, добавляем это поле в запрос.
3. Добавляем это поле в диалоговое окно таблицы.
4. При создании таблицы, в процессе создания триггера, смотрим на это поле. Если не заполнено, то создаем как создается сейчас, т.е. с использованием

[2019-02-09 17:54] alexandra-gsoftware commented on #4126
Да! Но я бы еще добавила максимальный контроль на руиды. Такие таблицы нельзя сохранять в пи!

[2019-02-10 03:48] gsbelarus opened #4127 "Поиск и замена идентификаторов в текстах макросов"
У нас в макросах встречаются непосредственно прописанные ИД:

1. В VBS коде. Например:

[code]

2. Внутри SQL запросов, формируемых в VBS коде.

Что надо сделать:

1. Режим полуавтоматического поиска и замены ИД на РУИД.
2. Под ИД мы понимаем целое число больше 147 000 000.
3. ИД, встречающиеся в коде, заменяем на вызов gdcBaseManager.GetIDByRUIDString. При этом создаем соответствующий РУИД.
4. ИД

[2019-02-15 15:06] NikolayUkleyko opened #4128 "Бухгалтерия. Журнал-ордер. Переход на карту счета по аналитике с противоречащими contacttype"
**Исследователь / Бухгалтерия / Журнал-ордер.**

Пример, формируем Журнал-ордер по счету, где есть только аналитика Подразделение (Сотрудник) (contacttype in (2, 4).
При этом, в качестве значения для данной аналитики могут быть выбраны записи с contacttype = 3.
В данном случае при переходе на Карту счета ничего отображено не будет.
Да, логично.
Но, можно ли предусмотреть отображение данных в Карте

[2019-02-15 15:08] MIchaelShoihet commented on #4128
Давайте не будем делать лишнюю работу, а будем настраивать аналитику так как она должна отображаться....

[2019-02-15 15:10] NikolayUkleyko commented on #4128
@MIchaelShoihet , спасибо !

[2019-02-15 15:10] #4128 closed, assigned to nobody

[2019-03-05 17:52] alexandra-gsoftware opened #4129 "обрезка базы vs firebird 3"
Похоже, что обрезка бд не работает под фб3, тк там где-то есть апдейты рдб-таблиц, которые фб3 не разрешает.

[2019-03-06 15:45] alexandra-gsoftware opened #4130 "Quantity в документе трансформации"
В документах типа трансформация Quantity - виртуальное поле, добавляемое экзешником. Но если оно попадает в dofieldchange, документ начинает вести себя непредсказуемо (именно непредсказуемо). Может, что-то с этим можно сделать?

[2019-03-07 06:03] MIchaelShoihet commented on #4130
А что значит не предсказуемо? И зачем его использовать в DoFieldChange

[2019-03-14 15:06] gsbelarus opened #4131 "Двоичные потоки"
1. Экзешник с 64 битным ИД не должен подключаться к 32 битной базе. Сразу же кидать предупреждение и закрываться.
2. Аналогично, 32 битный экзешник сразу должен закрываться при подключении к 64 битной БД.
3. Запись/чтение двоичных потоков без условной компиляции ID64 должна остаться как есть.
4. Под компиляцией ID64 ориентироваться на специальную подпись. Если она есть, то в потоке 64 битные ид. Е

[2019-03-22 14:07] NikolayUkleyko opened #4132 "Бухгалтерия. Журнал-ордер. Ошибка при редактировании конфигурации"
**Исследователь / Бухгалтерия / Журнал-ордер.**

**1.** Сформировали форму со следующими параметрами:
![2019-03-22_170355](https://user-images.githubusercontent.com/11497453/54828145-9a726500-4cc4-11e9-8628-4723d39628d1.jpg)

**2.** Сохранили в конфигурацию.

**3.** При попытке редактирования конфигурации ошибка:
![2019-03-22_170415](https://user-images.githubusercontent.com/11497453/54828186-b5dd

[2019-03-22 14:42] NikolayUkleyko commented on #4132
@ShlTanya , что же скажешь ?

[2019-03-23 17:23] gsbelarus opened #4133 "Утилита Convert64"
Gedemin/Utility/Convert64

Эту утилиту мы собираемся использовать для конвертации базы данных в ИД64, а также для ускорения процедуры бэкап-рестор за счет распараллеливания создания первичных и внешних ключей.

Входящие параметры:

* Имя сервера ФБ и номер порта.
* Полный путь к файлу БД.
* Полный путь к файлу бэкапа.
* Полный путь к файлу обработанной БД.
* Размер страницы новой БД.
* Количество

[2019-03-24 15:11] gsbelarus opened #4134 "Неправильное преобразование к указателю"
Обнаружил я такой код:
[code]
В модуле `gd_attrcb_dlgSelectFSet_unit`.

Это же ошибка. Когда ИД будет 64 бита он к 32-х битному указателю никак не приведется.

Правильно тут написать:

[code]

Весь код Гедымина надо проверить на следующие строки:

1. Pointer(GetTID...
2. TObject(GetTID...
3. Integer(GetTID...
4. Longint(GetTID...

И исправить как указано выше.

[2019-03-24 17:22] gsbelarus opened #4135 "Преобразование Pointer, TObject, Tag"
В существующем коде просто идет преобразование к типу, пользуясь тем, что все перечисленные типы и ИД имеют длину 32 бита.

При переходе на 64 бита мы так поступить не можем.

Для безопасного преобразования реализованы 6 функций:

[code]

Как работает преобразование из TID:

1. Мы ищем массив TID в списке массивов по имени, заданному переменной Context.
2. Если массива нет, то создаем его и добавл

[2019-04-16 09:37] gsbelarus opened #4136 "Многопоточность в утилите перевода БД в 64-битные ИД"
Планировалось сделать так:

1. Создаем класс нити, наследованной от TThread:

[code]
Нить создается с флагами: `FreeOnTerminate := False, CreateSuspended := True`

2. Создаем массив объектов по числу заданных в параметрах программы нитей. В каждом объекте храним объект подключения к базе данных (TIBDatabase) и поле для объекта нити (TWorkerThread). Изначально все коннекты в закрытом состоянии, а п

[2019-04-17 10:55] NikolayUkleyko opened #4137 "Склад. Выбор из остатков. Сообщение ”Недостаточное количество остатков ТМЦ...”"
**_Складские документы → Форма выбора из остатков → Множественный выбор записей._**

При выборе ТМЦ с дальнейшим движением программа отображает окно со следующим сообщением:
![2019-04-17_134831](https://user-images.githubusercontent.com/11497453/56282361-a6144880-6117-11e9-95a4-2d33e9aae96d.jpg)

_Рис. 1._

1. Можно ли на панель инструментов добавить кнопку множественного выбора только доступных о

[2019-05-22 17:07] gsbelarus opened #4138 "Завтра допишу..."
Сейчас у нас не создается эталон на ФБ3 из-за триггеров на изменение метаданных, которые находятся в файле `at_attribute.sql`. Пример такого триггера:
[code]
В ФБ3 нельзя создавать триггеры на системные таблицы. Вместо этого появились триггеры на изменение метаданных.

Алгоритм создания эталонной БД следующий:

1. Запускается файл `cr.bat` в папке SQL.
2. Он собирает из отдельных `.SQL` файлов оди

[2019-05-24 10:34] MIchaelShoihet commented on #4133
Есть замечания по утилите:
1. Хорошо бы сохранять все значения главного окна
2.
3. Возможность указать пароль SYSDBA, У нас сейчас уже у двух клиентов не стандартный пароль. И тоже что бы он сохранялся.
4. Лог файл - может достаточно просто путь (причем если не указан то по умолчанию, путь к exe)

[2019-05-24 10:55] MIchaelShoihet commented on #4133
2-й пункт отменяется. Вам нужна оригинальная база, для считывания структуры базы...

[2019-05-24 12:51] MIchaelShoihet commented on #4133
При возникновении ошибки, в логе не видно что за ошибка, просто написано, что ошибка. Пока у меня не разу не восстановилась база без ошибок. Одна и та же база в разное время при восстановлении разрывалось соединение, один раз практически восстановилась, но была ошибка на процедуре AC_ACCOUNTEXSALDO              ошибка совместного доступа....

[2019-05-24 14:00] MIchaelShoihet commented on #4133
Вроде с отключением от базы, я понял - при большом буфере это возникает. Наверное потому, что памяти у меня на ноуте не хватает. Остается процедура. Но есть идея упростить этот процесс. Не удалять ничего. Просто перед архивированием сохраняем список всех активных индексов, потом делаем ресторе с опцией DeactivateIndexes. И затем по тому же алгоритму активируем индексы ALTER INDEX имя индекса ACTIV

[2019-05-26 15:50] MIchaelShoihet commented on #4133
Ошибка совместного доступа. 3 нити пошли восстанавливать индексы одной таблицы
18:44:41:630  нить: 2 процесс завершен с ошибкой (INV_CARD USR$FK_INV_CARD_USR$FA322867448)  ошибка:
18:44:41:633  нить: 0 процесс завершен с ошибкой (INV_CARD USR$FK_INV_CARD_USR$F2480181635)  ошибка:
18:44:41:647  нить: 1 процесс завершен с ошибкой (INV_CARD USR$FK_INV_CARD_USR$F3439834990)  ошибка:

[2019-05-27 11:09] gsbelarus commented on #4133
Давайте еще раз, чтобы не запутаться окончательно:

1. Утилита нам нужна для однократного процесса апгрейда БД и для многократного быстрого бэкап-рестора (если последнее получится, конечно).
1. Оба процесса одинаковы, за исключением, что в апгрейде появляется еще часть, собственно апгрейда -- alter domain и перекомпиляция процедур и триггеров.
2. Изначальный план был такой -- сделать таблицы дубле

[2019-05-30 14:31] hirurg-lybitel opened #4139 "Зависание при подключении через nssm"
Создана служба через nssm. [Вот ](http://gsbelarus.com/pw/articles/post/zapusk-prilozheniia-gedymin-v-vide-sluzhby-windows/) инструкция, если что.

При её работе, происходит подключение к базе, но почему-то всё на этом и останавливается. Не происходит загрузка списка автозадач, а, следственно, и их выполнение.

![image](https://user-images.githubusercontent.com/11502258/58639587-e7e00380-82ff-11e9

[2019-06-05 20:24] hirurg-lybitel commented on #4139
Проблема в формате даты системной учётной записи.

 Необходимо добавить сообщение об этом в лог, например:

[2019-06-06 05:05] gsbelarus commented on #4139
так, а почему виснет из за формата даты?

ср, 5 чэр 2019, 23:24 карыстальнік hirurg-lybitel <notifications@github.com>
напісаў:

[2019-06-06 05:36] hirurg-lybitel commented on #4139
Из-за этой строки в exe и последующей обработки.
MessageBox понятное дело не выводится

`Pos('dd.mm.yy', AnsiLowerCase(ShortDateFormat)) <> 1`

[2019-06-19 06:04] ShlTanya commented on #4139
Виснет, потому что неверный формат и программа пытается спросить.. нужно ли его менять.. А т.к. запуск службы Гедымина идёт от имени системной учётной записи, то окно с вопросом не отображается, программа ждёт ответа.. а его нет. Я предлагаю менять именно пользователя от имени которого стартует служба. Ведь не только настройки времени могут не совпадать.. ещё денежные единицы..

[2019-06-19 06:22] gsbelarus commented on #4139
нет. лучше все такие места вычислить и не выводить messagebox, а писать в
лог, если мы в режиме службы запускаемся.

запуск от учетной записи не очень хорош тем, что стоит сменить пароль этой
записи или отключить ее, как все перестанет работать.

ср, 19 чэр 2019, 09:04 карыстальнік ShlTanya <notifications@github.com>
напісаў:

[2019-06-19 06:24] gsbelarus commented on #4139
я еще чуть позже допишу, что думаю по этому поводу.

ср, 19 чэр 2019, 09:22 карыстальнік AK <gs1994@gmail.com> напісаў:

[2019-06-19 06:36] ShlTanya commented on #4139
Только как узнать что запускается именно как служба.. в строке подключения нет такой информации.

[2019-06-19 06:38] gsbelarus commented on #4139
надо у юрия спросить как там полностью строка запуска выглядит. а вообще, у
нас есть ключ /q, когда программа работает в тихом режиме и не выводит
ничего на экран.

ср, 19 чэр 2019, 09:36 карыстальнік ShlTanya <notifications@github.com>
напісаў:

[2019-06-19 06:41] ShlTanya commented on #4139
Я пробовала сама.. там нет никакого признака.

[2019-06-19 06:43] gsbelarus commented on #4139
нет возможности определить. просто тот кто настраивает запуск службой
должен прописывать ключ /q. это надо документировать и все.

ср, 19 чэр 2019, 09:41 карыстальнік ShlTanya <notifications@github.com>
напісаў:

[2019-06-19 06:45] ShlTanya commented on #4139
А что делать с неправильным форматом даты.. просто выводить в лог сообщение??

[2019-06-19 08:12] gsbelarus commented on #4139
да

ср, 19 чэр 2019, 09:45 карыстальнік ShlTanya <notifications@github.com>
напісаў:

[2019-06-20 09:33] #3633 closed, assigned to nobody

[2019-06-26 15:07] NikolayUkleyko commented on #4132
Проверено на разных аналитиках.
Аналитика **Тип документа** не является причиной ошибки.
Выбор галки по одной из аналитик **_Договор, Клиент, Тип НДС и т.д._** и редактирование текущей конфигурации как раз и приводит к вышеприведенной ошибке.

[2019-07-18 15:58] NikolayUkleyko opened #4140 "Бухгалтерия. Оборотная ведомость. Отображение пустых строк"
_**Исследователь → Бухгалтерия → Оборотная ведомость.**_

При формировании приведенных форм только по бел. руб., по которому нет сальдо и в случае наличия сальдо и/или оборотов по валюте получаем пустые (нулевые) строки.
Такого быть не должно.
Формируем же строго по бел. руб.
Такое правильно реализовано в Журнале-ордере.

----

Аналогично проверить и для эквивалента.

[2019-07-18 16:07] NikolayUkleyko opened #4141 "Мастер установок. Задублированный формат отображения данных"
Пожалуйста, подскажите, зачем предусмотрено два одинаковых формата отображения данных ?

![2019-07-18_190137](https://user-images.githubusercontent.com/11497453/61473449-163c9f80-a98f-11e9-819a-a7afa59b4009.jpg)

Если, так сделано намеренно-пожалуйста, поясните.
Если, так сделано ошибочно-пожалуйста, внесите правки.

[2019-07-18 16:11] NikolayUkleyko opened #4142 "Типовые документы. Возможность настройки по дате (как в типовых проводках)"
Скажите, пожалуйста, можно ли в типовых документах предусмотреть возможность настройки по дате ?
Так, как реализовано в типовых проводках.

[2019-07-19 07:44] MIchaelShoihet commented on #4142
Нет. Настраивается документ в целом, а не какая-то его часть. Проводке надо просто функцию выбрать, а тут все намного сложнее

[2019-07-22 14:36] NikolayUkleyko commented on #4142
Благодарю за ответ, @MIchaelShoihet !
Теперь порядок.

[2019-07-22 14:36] #4142 closed, assigned to nobody

[2019-07-23 16:12] alexandra-gsoftware opened #4143 "Редактор скрипт-объектов. Некорректная работа поиска по БД"
Ищу в скриптах по базе по слову **RegisterRestaurantOrderOperation**
Находится, например, такое:
`if not FGlobalPrinter.RegisterRestaurantOrderOperation(oParams) then`

Ищу по слову **Restaurant**
Находятся такие строки
[code]
А вот
`if not FGlobalPrinter.RegisterRestaurantOrderOperation(oParams) then`
не находится. Вообще ни одно
**RegisterRestaurantOrderOperation**
не находится.
А  **SaveRestaur

[2019-08-07 09:53] hirurg-lybitel opened #4144 "Поиск в скриптах"
Опции установленные при использовании **Найти и заменить** начинают применяться и к поиску.

Так, например, установив опцию **С учётом регистра** при замене чего-то где-то, при последующем обычном поиске (в котором нет такой опции) в любой скрипт-функции также будет применяться эта опция.

#4143

@ShlTanya

[2019-08-12 15:17] ShlTanya commented on #4141
Формат продублирован. Исправила.

[2019-08-12 15:20] NikolayUkleyko commented on #4141
Предварительно.
Благодарю, @ShlTanya !
:trophy:

[2019-08-12 15:28] ShlTanya commented on #4144
А что значит обычный поиск, в котором нет такой опции. Опция с учетом регистра есть везде.

[2019-08-12 15:29] hirurg-lybitel commented on #4144
Значит, что не установлена

[2019-08-12 16:02] ShlTanya commented on #4144
Не могу повторить ситуацию. Найти и заменить.. это пункт меню Поиск в базе данных или Замена..

[2019-08-12 17:53] hirurg-lybitel commented on #4144
Замена

[2019-09-03 10:19] NikolayUkleyko opened #4145 "Склад. После выполнения конвертации типовых документов очищается значение в поле 'Ограничить отбор остатков по реквизиту' (QQ)"
После выполнения конвертации типовых документов очищается значение в поле **Ограничить отбор остатков по реквизиту**.
Такого быть не должно.
Набор складских признаков и другие реквизиты не очищаются ж.

@MIchaelShoihet , @gsbelarus , @ShlTanya , пожалуйста, поправьте.

[2019-09-13 17:08] NightTramp opened #4146 "Данные в поле таблицы USR$BN_CASHREPORT"
Если возможно, прошу подсказать порядок действий:
Создал два дополнительных поля в таблице USR$BN_CASHREPORT для отображения в шапке документа "Кассовый отчет". В них хочу поместить данные из полей таблицы позиции документа USR$BN_CASHREPORTLINE (а именно: USR$BN_CARDSUMMA и USR$BN_BACKCARDSUMMA). Эти поля заполняются при создании очередного кассового отчета. Но дальше познаний не хватает как связ

[2019-09-20 15:20] NikolayUkleyko commented on #4141
@gsbelarus , можно пожалуйста, перекомпилируйте gedemin.exe, учитывая данную доработку и прочие.

[2019-10-08 15:24] alexandra-gsoftware commented on #4100
А где в форме синхронизации ПИ команда "Добавить из буфера в отмеченные"?
Сейчас ее нет.

[2019-10-11 16:27] gsbelarus opened #4147 "Тестирование на длину строкового RUID"
Во многих местах у нас, где РУИД передается или используется строкой, подразумевается, что его длина не привысит 21 символ. по 10 на `DBID` и `XID` и один на подчеркивание.

При переходе на длинный ID, когда он перевалит за 10 000 000 000, длина может стать 22 символа и даже больше (если выйдет за 100 миллиардов).

Надо,

1. Принять какая будет новая максимальная длина `RUID` в строковом исполнени

[2019-11-08 19:48] gsbelarus commented on #4147
A K, [08.11.19 22:18]
можно попробовать 18 + 1 + 10 = 29.

A K, [08.11.19 22:19]
это даже с запасом. если вдруг мы когда то на настоящие 64 бита перейдем. потому что пока мы привязаны к дабл (из за бейсика) у нас предел по-мойму 15 значащих цифр. но в любом случае удлинять надо и несколько символов тут не принципиально.

A K, [08.11.19 22:20]
предел тут 18 + 1 + 18 = 37 — это если мы и ДБИД сделае

[2019-11-25 14:37] aer1k opened #4148 "Параметр "Окно дат, при проверке на корректность""
"Сервис" → "Параметры..." → Вкладка "Общие" → Параметр "Окно дат, при проверке на корректность"

Пример:
1. Устанавливаем значение равное 5 годам (т. е. система будет выдавать сообщение при попытке сохранить запись с датой больше или меньше, чем 5 лет от текущей даты).
![image](https://user-images.githubusercontent.com/11476517/69547098-0751a380-0fa6-11ea-98ce-9a206afbc59f.png)
2. Пытаемся сохрани

[2019-12-06 09:10] gsbelarus opened #4149 "Ошибка при конвертации процедуры USR$GIVC_RECEPT_REMAINS"
При конвертации бд бро:
[code]

[2019-12-09 09:18] ShlTanya commented on #4148
Исправила

[2020-01-22 13:08] gsbelarus opened #4150 "Тестирование экзешника с ID64"
Берем три экзешника:

1. до начала работ по ид64
2. текущий, откомпилированный без условной компиляции ID_64
3. текущий, откомпилированный с условной компиляцией ID_64

Берем чистую эталонную базу данных и делаем три копии. Будем тестировать на сервере 3.0, так что надо будет еще и бэкап-рестор сделать, так как на сайте лежит FDB файл.

Одну из копий (которую будем тестировать с экзешником ID_64)

[2020-02-04 07:47] NikolayUkleyko opened #4151 "Конструктор функций / Добавить возможность поиска функций по сочетанию клавиш 'Ctrl + F'"
![2020-02-04_104433](https://user-images.githubusercontent.com/11497453/73724067-96640000-473b-11ea-9d34-23619f19b5e9.jpg)

[2020-04-22 07:09] gsbelarus opened #4152 "Возврат параметра типа ссылка из окна запроса параметров в макросах или отчетах"
У нас в макросах и отчетах есть возможность запросить у пользователя параметры с помощью специального диалогового окна.

Если в таком окне применяется параметр типа ссылка и в выпадающем списке ничего не выбрано, то:

1. экзешник с 32-х битными идентификаторами возвращал -1, целое число.
2. экзешник с 64-х битными идентификаторами возвращает строку "-1".

Со строкой перестало работать сравнение сл

[2020-04-22 07:18] gsbelarus commented on #4152
Если переписать условие, как `if CategoryKey(0) > 0 then`, то оно сработает корректно на на любом экзешнике.

[2020-04-22 07:29] MIchaelShoihet commented on #4152
В большинстве отчетов так и написано... Но как-то мы думали об отрицательных id и тогда где-то подправляли на <> -1

[2020-04-22 08:55] gsbelarus opened #4153 "На id64 базе sql редактор кидает ошибки при выполнении запроса"
На id64 базе sql редактор кидает ошибки при выполнении запроса, на обычной базе эти запросы выполняются без проблем:
[code]

[2020-04-23 15:27] MIchaelShoihet opened #4154 "Теряются документы исключения из блокировки периода"
В базе после конвертации нет документов исключения из блокировки периода:
Главное меню Сервис\Параметры В окне Опции системы, закладка Аудит и безопасность.
Нижнее мемо, оно пустое, хотя в оригинале много документов.
![Опции системы](https://user-images.githubusercontent.com/11498750/80117574-042c0500-8590-11ea-9e50-5c989fc34782.jpg)

[2020-04-24 10:52] MAliaksandr opened #4155 "Кнопка справки на форме "Объединение записей""
Можно ли добавить стандартную кнопку "Справка" на "Объединение записей"?
![image](https://user-images.githubusercontent.com/11478712/80205087-ba482b00-8632-11ea-9a9f-9ca38462bc27.png)

[2020-04-24 11:08] gsbelarus commented on #4155
По аналогии, как кнопка Справка сделана в диалоговых окнах.

[2020-04-29 14:37] MIchaelShoihet opened #4156 "Неправильно считываются ID в массив SelectedID"
После конвертации базы в ID64, при открытии любого документа из потока считывается массив ID SelectedID и похоже он считывается не верно... Получаются числа с количеством знаков > 15. Что бы повторить надо взять базу 32, на ней выделить несколько записей, желательно по больше, и добавить в отмеченные. После этого выйти сконвертировать базу и затем смотреть, как идет считывание в этом документе

[2020-04-29 18:13] gsbelarus commented on #4156
надо наверное конвертировать эти потоки утилитой конвертации бд

[2020-05-03 13:02] ShlTanya commented on #4156
Исправлено

[2020-05-04 05:27] MIchaelShoihet commented on #4156
Проверено

[2020-05-04 05:27] #4156 closed, assigned to ShlTanya

[2020-05-04 05:28] MIchaelShoihet commented on #4154
Не работает. Для проверки надо взять базу до конвертации. Посмотреть что там есть документы исключения, если нет добавить, сконвертировать и посмотреть. Сейчас не работает.

[2020-05-06 09:41] NikolayUkleyko commented on #4039
Сейчас по умолчанию подставляется формат из Мастера установок - отлично.
Необходимо предусмотреть параметры по хранению формата данных по числовым полям.
Чтобы по умолчанию было задано определенное форматирование или его не было вовсе.
Вряд ли это реализуете.
Хотя бы, предусмотрите возможность выделения нескольких колонок (кнопка Shift и / или Ctrl) для последующей настройки форматирования.

----

[2020-06-03 08:46] sunnycreature opened #4157 "Ошибка в параметре отчета типа множество с руидом в условии"
Добавила условие в параметр множества в отчете, содержащее руид "EXISTS  (SELECT t.ID FROM GD_DOCUMENTTYPE t  WHERE  t.ID=<RUID XID=147010777 DBID=119560140/> AND t.LB <= gg1.LB AND t.RB >= gg1.RB)". При добавлении значения в форме выбора записей бросает ошибку в запросе, где видно, что экзешник подставляет алиас таблицы, где не надо:  "t.ID=<gg1.RUID XID=147010777 DBID=119560140/>"
![image](https

[2020-06-04 10:08] ShlTanya commented on #4157
Исправила

[2020-06-04 13:07] ShlTanya commented on #4154
исправила

[2020-06-30 08:51] stasgm commented on #4151
@NikolayUkleyko может лучше строку поиска (типа фильтр) добавить сверху как в форме выбора бизнес-объектов?

[2020-06-30 09:26] NikolayUkleyko commented on #4151
@stasgm , пожалуйста, можно сделать поиск по значению в поле **Фильтр**.
Подобное реализовано в **_Сервис / Редактор экранных форм_**:

![2020-06-30_122035](https://user-images.githubusercontent.com/11497453/86109100-adc9ce00-bacc-11ea-8203-b5e78b6b7c66.jpg)

[2020-06-30 12:31] ShlTanya commented on #4151
Сделано

[2020-07-01 07:54] NikolayUkleyko commented on #4151
@ShlTanya , пожалуйста, уточни - без или с регулярными выражениями ?

[2020-07-31 09:53] YRozmysl opened #4158 "Автозадача."
Если в автозадаче выбрана опция, что она должна выполнится при запуске системы, но еще и будет стоять время, то после запуска она еще смотрит и на время. Или такая и была логика? я как понимаю, что задача должна выполнится сразу после ЗАПУСКА системы.  Нет?

[2020-08-07 09:58] gsbelarus opened #4159 "Странная проверка прав в сложном диалоге"
У В. есть пример на БД С. Сложный диалог с несколькими БО внутри. При попытке работы с одним из них права проверяются не от БО, а от класса его диалогового окна. Надо подключиться из компилятора и посмотреть по коду, что там происходит.

[2020-08-25 14:09] NikolayUkleyko commented on #4039
![image](https://user-images.githubusercontent.com/11497453/91184211-098f8c80-e6f5-11ea-885c-89f7fd05c88e.png)

Пожалуйста, предусмотрите следующие возможности:

1. Вариант **без наименований**.

2. Перетаскивание колонок.

3. Снятие форматирования по всем колонкам.

@ShlTanya ?

[2020-09-03 06:53] YRozmysl commented on #4159
на эталоне все нормально, проблема была в частном решении.  можно закрывать

[2020-09-09 08:20] YRozmysl opened #4160 "Загрузка ПИ. Справочник LBRBTree типа"
Есть конкретная настройка, в которой в хранилище прописано:

object Detail: TgdcAttrUserDefinedLBRBTree
            MasterField = 'ID'
            DetailField = 'PARENT'
            SubSet = 'ByParent'
            Active = False

Однако после загрузки ее на базу, в хранилище мы получаем следующее, что сказывается на корректной работе
           object Detail: TgdcAttrUserDefinedLBRBTree

[2020-09-10 08:48] ShlTanya commented on #4160
Смоделировала данную ситуацию на примере GS.Бухгалтерия.Статьи затрат.yml (object gdc_frmAttrUserDefinedLBRBTreeUSR_ACC_EXPENSES):

[2020-09-10 08:48] ShlTanya commented on #4160
object Detail: TgdcAttrUserDefinedLBRBTree
            MasterField = 'ID'
            DetailField = 'PARENT'
            SubSet = 'ByParent'
            Active = False
            Left = 436
            Top = 269
          end

[2020-09-10 08:50] ShlTanya commented on #4160
После загрузки ПИ в хранилище были верные данные. Также как и в ПИ. Можете ли мне дать свои данные для загрузки.

[2020-09-11 11:33] NikolayUkleyko opened #4161 "Материальный склад. Форма остатков. Ошибка при подсчете количества записей"
**Исследователь → Материальный склад →  Отчеты по складу → Остатки по материалам и МБП.**

Для формы указаны следующие методы:

[code]
----
[code]
----
[code]

Дополнительная фильтрация (автофильтр, бинокль) не используется.
При подсчете количества записей программа выдает сообщение об ошибке:

![image](https://user-images.githubusercontent.com/11497453/92921088-1a9e0480-f43c-11ea-974e-d348206627e

[2020-09-11 11:38] MIchaelShoihet commented on #4161
В group by нельзя указывать алиас поля.
вместо строки AddGroupByStr = "PARENT_CONNAME, CON.USR$CODE_CEH" надо
AddGroupByStr = "con.contacttype, con_parent.NAME, CON.USR$CODE_CEH"

[2020-09-14 15:49] NikolayUkleyko commented on #4161
@MIchaelShoihet , большое спасибо !
Работает корректно.

[2020-09-14 15:49] #4161 closed, assigned to nobody

[2020-09-14 15:51] NikolayUkleyko commented on #3069
https://github.com/GoldenSoftwareLtd/gedemin/issues/4074
@gsbelarus , пожалуйста, закройте тему.

[2020-09-15 13:54] NikolayUkleyko commented on #3673
При формировании приведенных форм по аналитике **Типовой документ** и с **количественными показателями** рассчитывается сальдо на начало и на конец периода (по сумме и по количеству).
Такого быть не должно, т.к. приняли за основу, что при использовании аналитики **Типовой документ** сальдо на начало и на конец периода не рассчитывается.

_____

![Рис  1  Количественный показатель](https://user-ima

[2020-09-22 16:01] NikolayUkleyko commented on #4074
Вопрос решен.

[2020-09-24 13:07] NikolayUkleyko opened #4162 "Бухгалтерия. Автоматические проводки. Конструктор функций. Фильтр. Ошибка"
**Исследователь / Бухгалтерия / Автоматические хоз. операции.**

Добавляем блок, например, **Цикл по счету**.
При добавлении значения в фильтр и последующем сохранении блока программа выдает сообщение об ошибке:

![2020-09-24_155126](https://user-images.githubusercontent.com/11497453/94148188-f8b27200-fe7e-11ea-94be-95a966b26fb8.jpg)
![2020-09-24_155255](https://user-images.githubusercontent.com/1

[2020-09-24 13:21] NikolayUkleyko commented on #4162
@ShlTanya , пожалуйста, изложи свою точку зрения.

[2020-09-28 13:44] NikolayUkleyko opened #4163 "Типовые документы. Для складских признаков предусмотреть реквизит EDITIONDATE"
Пожалуйста, предусмотрите в типовых документах для складских признаков отображение реквизита **EDITIONDATE**:
![2020-09-28_164743](https://user-images.githubusercontent.com/11497453/94441747-ccaf2d80-01ab-11eb-8080-d7a674e78b2e.jpg)

[2020-09-28 14:44] alexandra-gsoftware opened #4164 "Параметры процедуры меняются при загрузке из ПИ"
Есть процедуры с входными\выходными параметрами типа DFOREIGNKEY. При перекомпиляции процедур последним ехе параметры превратятся в просто INTEGER.

[2020-10-14 10:33] gsbelarus opened #4165 "Распаковка БД на ФБ 4"
При восстановлении БД из архива на сервере ФБ 4, в конце ругнется на невозможность присвоить новое значение ДБ ИД. Скорее всего надо глянуть под какой учетной записью это происходит. Наверное нет прав на присвоение значения генератора, вроде как в ФБ 4 они отдельно задаются. Надо будет разобраться и поправить. Но, учесть, что у нас сейчас Гедымин работает с ФБ 2.5, ФБ 3.0 и будет с ФБ 4. А у них в

[2020-10-15 14:01] gsbelarus opened #4166 "Добавление записей в GD_RUID"
Похоже, что у нас сейчас в любом случае добавляется запись в GD_RUID. На одной из баз эта табличка уже содержит 474 млн записей! Надо разобраться. Изначальная логика была в том, что РУИДЫ создаются автоматически только при работе под учетной записью Administrator. Под остальными -- не должны.

Как вариант поиска -- сделать триггер на GD_RUID, который бы бросал исключение при добавлении записи и по

[2020-10-16 12:30] gsbelarus commented on #4166
Может вообще отключить автоматическое добавление в таблицу GD_RUID. Зачем оно было надо изначально? Кто помнит?

[2020-10-16 15:00] gsbelarus opened #4167 "Удаление ненужных записей из GD_RUID"
Один из подходов, сформировать список используемых в базе РУИДов и оставить в таблице `GD_RUID` только записи из этого списка. Используемые РУИДы мы можем найти:

1. РУИДы объектов в таблицах пространств имен.
2. РУИДы в строковых константах (`GD_CONST`).
3. РУИДы типов документов.
4. РУИДы в исходных текстах макросов (подробнее -- ниже).
5. РУИДы в текстах DFM.

РУИДы в макросах и текстах SQL зап

[2020-10-28 09:27] NikolayUkleyko opened #4168 "Фильтры. Ошибка при работе с формулами"
1. Создаем новый фильтр.
2. Фильтр → Формула → Условие пользователя.

Программа отображает следующее окно с ошибкой:
![2020-10-28_121957](https://user-images.githubusercontent.com/11497453/97417138-60ddf300-1918-11eb-9b09-2af7a519a4b5.jpg)

В случае нажатия на кнопку **Нет** — фильтр сохраняется и далее работает корректно.
В случае нажатия на кнопку **Да** — программа отображает следующее окно:
![

[2020-10-28 15:49] NikolayUkleyko commented on #3742
**Исследователь / Материальный склад / 04. Отпуск материалов покупателям.**
Такое имеет место быть по формам и гридам других документов, объектов и т.д.

1. В шапке нажать на кнопку поиска **Бинокль**. При этом ничего не прописываем для фильтрации и прочих кнопок не нажимаем.
2. Сдвигаем вверх границу между позицией и шапкой документа.
3. Кликаем по гриду и на экране программа отображает сообщение

[2020-11-03 09:25] NikolayUkleyko commented on #3881
@MIchaelShoihet , пожалуйста, обсуждаемая тема.

[2020-11-03 09:27] NikolayUkleyko commented on #3881
Связанная тема https://github.com/GoldenSoftwareLtd/gedemin/issues/3621.

[2020-11-19 12:07] yoannawx commented on #4164
то же самое происходит при выполнении команды "Обновление статистики индексов"

[2020-12-22 14:58] gsbelarus opened #4169 "Неправильно отображается список подключенных пользователей на ФБ 3"
Показывает два подключения, когда в таблице MON$ATTACHMENTS запросом можно увидеть, что три активных подключения. Третье не под администратором.

Надо заглянуть в окно со списком подключений и посмотреть каким запросом строится этот список. Возможно, дело в нем. Возможно между 2.5 и 3 произошли какие-то изменения в логике MON$ таблиц.

Пример есть у @yoannawx

[2020-12-28 15:07] gsbelarus opened #4170 "Оптимизация"
1) в function `TdfPropertyTree.FindSF(ID: TID; Module: String): TTreeNode` в запрос ID подставляется как строка. Лучше через параметр сделать.

2) аналогично `function TdfPropertyTree.FindPrologSF(Id: TID): TTreeNode`

[2020-12-28 15:29] gsbelarus opened #4171 "Когда нет gudf.dll выдает ошибку совсем в другом месте"
Была БД. Там окно редактора СФ с несколькими открытыми макросами.

На другом компьютере установили сервер ФБ 2.5, но забыли подкинуть gudf.dll. Гедымин запускался и подключался к БД, но при открытии окна редактора СФ появлялась ошибка:

![image](https://user-images.githubusercontent.com/5175764/103224968-e6424b80-4939-11eb-8853-57060069a3d6.png)

Пока не догадались, что дело в отсутствующей библио

[2021-01-04 10:41] gsbelarus opened #4172 "Зацикливается TgdAutoTaskThread.UpdateTaskList"
Экзешник грузится, затем пытаемся открыть меню в главном окне и наблюдаем "зависание". В профайлере регистрируются сотни тысяч раз выполнения запроса:
[code]
Этот запрос находится только внутри `TgdAutoTaskThread.UpdateTaskList`.

Опытным путем было установлено, что зависание связано с автозадачей:

![image](https://user-images.githubusercontent.com/5175764/103526514-19349400-4e92-11eb-8a6a-93cd02

[2021-01-11 12:33] gsbelarus commented on #4172
@sunnycreature надо предоставить @ShlTanya архив бд и последовательность действий, чтобы повторить зацикливание.

[2021-01-11 13:09] sunnycreature commented on #4172
https://drive.google.com/drive/folders/0BzCBacVyOdVsdWI5Z1VJeXRMMVE

[2021-01-12 09:59] ShlTanya commented on #4172
Проблему нашла. Если задача не выполнена вовремя - я делаю ее Отключена?

[2021-01-12 10:00] ShlTanya commented on #4172
Может при этом сделать запись в Control center?

[2021-01-12 10:02] gsbelarus commented on #4172
Да. Отключать и сделать запись.

On Tue, Jan 12, 2021 at 1:00 PM ShlTanya <notifications@github.com> wrote:

[2021-01-12 11:44] ShlTanya commented on #4172
Исправлено

[2021-01-16 12:37] ShlTanya commented on #4169
Уточните: если не виден пользователь в форме вызываемой через База данных/Подключенные пользователи, то есть ли подключение (для невидимого пользователя) в Сервис/Монитор подключений. Если есть, то какое значение стоит в графе Mon$State.

[2021-01-16 13:21] yoannawx commented on #4169
подключение (для невидимого пользователя) в Сервис/Монитор подключений есть.  Mon$State = 0

[2021-01-16 13:46] ShlTanya commented on #4169
Mon$State = 0 это состояние простоя (Idle). А в программе стоит ограничение на отображение активных пользователей Mon$State = 1. Точно ли этот пользователь активен в данный момент. Может у него нет никаких открытых транзакций. Если пользователь действительно находится в состоянии простоя, то надо решить отображать ли их.

[2021-01-27 10:08] gs7600300 opened #4173 "Блокировка операций по счетам либо документам по подразделению"
Актуально для ВолкМК.

[2021-01-28 12:41] MIchaelShoihet commented on #4167
Есть еще ситуации, когда идет синхронизация в рамках нескольких баз данных. Это ситуации работы фронт и бэк офисов. В этом случае в gd_ruid должны быть еще id из справочников, которые участвуют в синхронизации... Это хорошо бы обсудить с Юрием.

Прямо сейчас у нас есть БД на 30 Гб, где больше половины занимают РУИДы и их индексы. Надо понять, в этой базе мы можем сократить список РУИДов?

[2021-01-28 13:31] ShlTanya commented on #4167
Дайте мне, пжст, такую базу.

[2021-01-29 11:04] hirurg-lybitel commented on #4167
О, да! Понимать, в каком документе лежит запись с таким id и руидом было бы просто великолепно!

[2021-01-29 11:35] MIchaelShoihet commented on #4167
`О, да! Понимать, в каком документе лежит запись с таким id и руидом было бы просто великолепно!`

Вообще пока речь идет о том что мы хотим из GD_RUID удалить ненужные руиды. Сейчас они удаляются по описанному выше алгоритму, не учитывая, что может быть настроена синхронизация, и значит какие-то еще РУИДЫ являются нужными. Нужна база для Татьяны и описание как можно узнать, какие справочники и док