[2015-06-30 17:43] gsbelarus commented on #3514
[code]

Reported by `spakovira.moved@tut.by` on 2015-01-15 05:36:41

[2015-06-30 17:43] gsbelarus commented on #3514
[code]

Reported by `M.Burakina` on 2015-01-15 09:49:03

[2015-06-30 17:43] gsbelarus commented on #3514
[code]

Reported by `spakovira.moved@tut.by` on 2015-01-16 13:25:16

[2015-06-30 17:43] gsbelarus commented on #3514
[code]

Reported by `NikolayUkleyko` on 2015-01-16 15:03:37

[2015-06-30 17:43] gsbelarus commented on #3514
[code]

Reported by `IrinaSpakoV` on 2015-01-17 09:57:41

[2015-06-30 17:43] gsbelarus opened #3516 "Кнопка Новый, потом Отмена"
Originally reported on Google Code with ID 3516

[code]

Reported by `gs1994` on 2015-01-20 08:31:16

[2015-06-30 17:43] gsbelarus commented on #3516
[code]

Reported by `PZholnerovich` on 2015-01-20 14:12:12

[2015-06-30 17:43] gsbelarus commented on #3516
[code]

Reported by `NikolayUkleyko` on 2015-01-21 15:00:46

[2015-06-30 17:44] gsbelarus opened #3519 "Электронные накладные"
Originally reported on Google Code with ID 3519

[code]

Reported by `mikleshoihet` on 2015-01-28 14:10:53

[2015-06-30 17:44] gsbelarus commented on #3519
Reported by `mikleshoihet` on 2015-01-28 14:11:59

[2015-06-30 17:44] gsbelarus commented on #3519
Reported by `mikleshoihet` on 2015-01-28 14:13:28
- **Labels added**: Type-Task

[2015-06-30 17:44] gsbelarus commented on #3519
Reported by `gs1994` on 2015-01-29 11:57:23
- **Labels added**: Depot

[2015-06-30 17:44] gsbelarus opened #3523 "Убрать меню!"
Originally reported on Google Code with ID 3523

[code]

Reported by `gs1994` on 2015-02-03 12:16:35

[2015-06-30 17:44] gsbelarus opened #3526 "Бухгалтерия. В Анализе счета не корректно работает реквизит Количественные показатели."
Originally reported on Google Code with ID 3526

[code]

Reported by `NikolayUkleyko` on 2015-02-06 14:44:49

[2015-06-30 17:44] gsbelarus commented on #3526
Reported by `NikolayUkleyko` on 2015-02-06 14:54:20

[2015-06-30 17:44] gsbelarus commented on #3526
Reported by `NikolayUkleyko` on 2015-02-12 07:11:43

[2015-06-30 17:44] gsbelarus commented on #3526
[code]

Reported by `NikolayUkleyko` on 2015-03-31 12:11:13

[2015-06-30 17:44] gsbelarus opened #3527 "Основные средства. Не корректный расчет амортизации по линейному методу."
Originally reported on Google Code with ID 3527

[code]

Reported by `NikolayUkleyko` on 2015-02-06 14:53:46

[2015-06-30 17:44] gsbelarus commented on #3527
[code]

Reported by `NikolayUkleyko` on 2015-02-11 06:39:07

[2015-06-30 17:44] gsbelarus commented on #3527
Reported by `NikolayUkleyko` on 2015-02-12 07:11:32

[2015-06-30 17:44] gsbelarus opened #3529 "Подоходный. Случай льготируемого начисления прошлым периодом."
Originally reported on Google Code with ID 3529

[code]

Reported by `roberto1813` on 2015-02-09 13:03:36

[2015-06-30 17:44] gsbelarus opened #3531 "ОС. После установки ПИ в документах доступны не все отчеты."
Originally reported on Google Code with ID 3531

[code]

Reported by `NikolayUkleyko` on 2015-02-11 15:55:20

<hr>
- _Attachment: [ОС. После установки ПИ в документах доступны не все отчеты.pdf](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3531/comment-0/ОС. После установки ПИ в документах доступны не все отчеты.pdf)_

[2015-06-30 17:44] gsbelarus commented on #3531
[code]

Reported by `M.Burakina` on 2015-03-26 09:40:28

[2015-06-30 17:44] gsbelarus commented on #3531
[code]

Reported by `M.Burakina` on 2015-03-26 10:35:51
- **Labels added**: gedeminEXE

[2015-06-30 17:44] gsbelarus commented on #3531
[code]

Reported by `gs1994` on 2015-03-26 11:47:30

[2015-06-30 17:44] gsbelarus commented on #3531
[code]

Reported by `M.Burakina` on 2015-03-27 12:49:31

[2015-06-30 17:44] gsbelarus opened #3534 "Сделать выбор нескольких признаков в поле счёта Аналитика для развёрнутого сальдо"
Originally reported on Google Code with ID 3534

[code]

Reported by `stasgm` on 2015-02-12 11:14:48

[2015-06-30 17:44] gsbelarus commented on #3534
Reported by `stasgm` on 2015-02-12 11:16:22
- **Labels added**: Accountancy

[2015-06-30 17:44] gsbelarus commented on #3534
[code]

Reported by `NikolayUkleyko` on 2015-02-13 10:09:54

<hr>
- _Attachment: [Рис. 1. Оборотная ведомость. Развернутое сальдо по нескольким аналитикам.jpg](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3534/comment-2/Рис. 1. Оборотная ведомость. Развернутое сальдо по нескольким аналитикам.jpg)_
- _Attachment: [Рис. 2. Оборотная ведомость. Развернутое сальдо по нескольким

[2015-06-30 17:44] gsbelarus commented on #3534
Reported by `gs1994` on 2015-06-29 14:12:38

[2015-06-30 17:44] gsbelarus opened #3536 "Копирование папки в Адресной книге"
Originally reported on Google Code with ID 3536

[code]

Reported by `mikleshoihet` on 2015-02-12 15:49:37

[2015-06-30 17:44] gsbelarus commented on #3536
[code]

Reported by `gs1994` on 2015-02-12 16:36:57
- **Labels added**: GedeminEXE

[2015-06-30 17:44] gsbelarus commented on #3536
[code]

Reported by `mikleshoihet` on 2015-02-12 18:21:38

[2015-06-30 17:44] gsbelarus commented on #3536
[code]

Reported by `alexandra.gsoftware` on 2015-02-12 18:29:32

[2015-06-30 17:44] gsbelarus commented on #3536
[code]

Reported by `kovli.gs` on 2015-02-16 06:24:45

[2015-06-30 17:44] gsbelarus opened #3537 "Сумма вычетов в Расчетном листке и в Отчете Справка о доходах"
Originally reported on Google Code with ID 3537

[code]

Reported by `hjamesGS` on 2015-02-16 15:17:25

[2015-06-30 17:44] gsbelarus commented on #3537
[code]

Reported by `roberto1813` on 2015-02-16 15:30:31

[2015-06-30 17:44] gsbelarus commented on #3537
[code]

Reported by `hjamesGS` on 2015-02-16 15:56:22

[2015-06-30 17:44] gsbelarus commented on #3537
[code]

Reported by `roberto1813` on 2015-02-16 15:59:36

[2015-06-30 17:44] gsbelarus commented on #3537
[code]

Reported by `hjamesGS` on 2015-02-16 16:13:11

[2015-06-30 17:44] gsbelarus commented on #3537
Reported by `gs1994` on 2015-06-29 16:37:11
- **Labels added**: Type-Defect, Priority-Medium, Wage

[2015-06-30 17:44] gsbelarus commented on #3537
Reported by `gs1994` on 2015-06-29 16:48:48

[2015-06-30 17:44] gsbelarus opened #3540 "Бухгалтерия. Конструктор функций. Комбинация клавиш 'Ctrl+A'"
Originally reported on Google Code with ID 3540

[code]

Reported by `NikolayUkleyko` on 2015-02-23 14:58:23

<hr>
- _Attachment: Рис. 1. Конструктор функций. Выделить все..png<br>![Рис. 1. Конструктор функций. Выделить все..png](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3540/comment-0/Рис. 1. Конструктор функций. Выделить все..png)_
- _Attachment: Рис. 2. Конструктор фу

[2015-06-30 17:44] gsbelarus opened #3541 "Контекстное меню и комбинация клавиш Ctrl+A' (выделить все) в документах, справочниках и т. д."
Originally reported on Google Code with ID 3541

[code]

Reported by `NikolayUkleyko` on 2015-02-23 15:15:55

<hr>
- _Attachment: Рис. 1. Контекстное меню и комбинация клавиш 'Ctrl+A' (выделить все)..png<br>![Рис. 1. Контекстное меню и комбинация клавиш 'Ctrl+A' (выделить все)..png](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3541/comment-0/Рис. 1. Контекстное меню и комби

[2015-06-30 17:44] gsbelarus opened #3542 "Бухгалтерия. Конструктор функций. Шрифты"
Originally reported on Google Code with ID 3542

[code]

Reported by `NikolayUkleyko` on 2015-02-23 15:25:51

<hr>
- _Attachment: Рис. 1. Бухгалтерия. Конструктор функций. Шрифты..png<br>![Рис. 1. Бухгалтерия. Конструктор функций. Шрифты..png](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3542/comment-0/Рис. 1. Бухгалтерия. Конструктор функций. Шрифты..png)_
- _Attachment: Р

[2015-06-30 17:44] gsbelarus commented on #3542
Reported by `NikolayUkleyko` on 2015-02-23 15:26:43

[2015-06-30 17:44] gsbelarus commented on #3542
Reported by `NikolayUkleyko` on 2015-02-24 06:46:07

<hr>
- _Attachment: Рис. 3. Бухгалтерия. Конструктор функций. Шрифты..png<br>![Рис. 3. Бухгалтерия. Конструктор функций. Шрифты..png](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3542/comment-2/Рис. 3. Бухгалтерия. Конструктор функций. Шрифты..png)_

[2015-06-30 17:45] gsbelarus opened #3544 "Бухгалтерия. Конструктор функций. Выбор валюты в Редакторе выражений"
Originally reported on Google Code with ID 3544

[code]

Reported by `NikolayUkleyko` on 2015-02-24 06:43:45

<hr>
- _Attachment: Рис. 1. Выбор валюты в Редакторе выражений..png<br>![Рис. 1. Выбор валюты в Редакторе выражений..png](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3544/comment-0/Рис. 1. Выбор валюты в Редакторе выражений..png)_

[2015-06-30 17:45] gsbelarus opened #3545 "Сравнение баз данных запоминает и сравнивает только первую указанную базу"
Originally reported on Google Code with ID 3545

[code]

Reported by `stasgm` on 2015-02-24 14:20:52

[2015-06-30 17:45] gsbelarus opened #3546 "Бухгалтерия. Конструктор функций. SQL переменная в полях типа 'Сумма'"
Originally reported on Google Code with ID 3546

[code]

Reported by `NikolayUkleyko` on 2015-02-24 14:26:08

<hr>
- _Attachment: Рис. 1. SQL переменная в полях типа 'Сумма'..png<br>![Рис. 1. SQL переменная в полях типа 'Сумма'..png](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3546/comment-0/Рис. 1. SQL переменная в полях типа 'Сумма'..png)_

[2015-06-30 17:45] gsbelarus opened #3547 "Материальный склад. Сообщение 'По выбранному ТМЦ недостаточное количество остатков'"
Originally reported on Google Code with ID 3547

[code]

Reported by `NikolayUkleyko` on 2015-02-25 14:35:35

<hr>
- _Attachment: Рис. 1. Сообщение 'По выбранному ТМЦ недостаточное количество остатков'..png<br>![Рис. 1. Сообщение 'По выбранному ТМЦ недостаточное количество остатков'..png](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3547/comment-0/Рис. 1. Сообщение 'По выбр

[2015-06-30 17:45] gsbelarus opened #3548 "Доделать поиск в окне "Изменение позиций объектов" формы ПИ"
Originally reported on Google Code with ID 3548

[code]

Reported by `stasgm` on 2015-02-27 14:54:16

[2015-06-30 17:45] gsbelarus opened #3553 "Не хватает метаданных в ПИ пакета Банк и касса"
Originally reported on Google Code with ID 3553

[code]

Reported by `danilchyk` on 2015-03-04 12:22:35

[2015-06-30 17:45] gsbelarus commented on #3553
[code]

Reported by `alexandra.gsoftware` on 2015-03-04 13:54:41

[2015-06-30 17:45] gsbelarus commented on #3553
[code]

Reported by `alexandra.gsoftware` on 2015-03-04 14:25:57

[2015-06-30 17:45] gsbelarus commented on #3553
Reported by `alexandra.gsoftware` on 2015-03-11 13:35:23
- **Labels added**: Priority-Medium
- **Labels removed**: Priority-Critical

[2015-06-30 17:45] gsbelarus commented on #3553
Reported by `gs1994` on 2015-03-30 12:37:15
- **Labels added**: etalon

[2015-06-30 17:45] gsbelarus opened #3558 "Счета в ПИ"
Originally reported on Google Code with ID 3558

[code]

Reported by `alexandra.gsoftware` on 2015-03-12 16:02:04

[2015-06-30 17:45] gsbelarus commented on #3558
[code]

Reported by `mikleshoihet` on 2015-03-12 16:43:25

[2015-06-30 17:45] gsbelarus commented on #3558
Reported by `gs1994` on 2015-03-30 12:36:21
- **Labels added**: accountancy

[2015-06-30 17:45] gsbelarus commented on #3558
[code]

Reported by `alexandra.gsoftware` on 2015-04-02 18:14:01

[2015-06-30 17:45] gsbelarus commented on #3558
[code]

Reported by `mikleshoihet` on 2015-04-02 18:18:08

[2015-06-30 17:46] gsbelarus opened #3563 "Удаление связанных объектов из ПИ"
Originally reported on Google Code with ID 3563

[code]

Reported by `M.Burakina` on 2015-03-23 12:42:35

[2015-06-30 17:46] gsbelarus opened #3565 "Обработка изменившегося ДФМ"
Originally reported on Google Code with ID 3565

[code]

Reported by `gs1994` on 2015-03-25 11:21:30

[2015-06-30 17:46] gsbelarus commented on #3565
Reported by `gs1994` on 2015-03-30 12:35:15
- **Labels added**: inheritance

[2015-06-30 17:46] gsbelarus opened #3566 "Проблемы с наследованием"
Originally reported on Google Code with ID 3566

[code]

Reported by `PZholnerovich` on 2015-03-30 12:29:55

[2015-06-30 17:46] gsbelarus commented on #3566
[code]

Reported by `gs1994` on 2015-03-30 12:32:17

[2015-06-30 17:46] gsbelarus commented on #3566
Reported by `gs1994` on 2015-03-30 12:35:06
- **Labels added**: GedeminEXE, inheritance

[2015-06-30 17:46] gsbelarus commented on #3566
[code]

Reported by `PZholnerovich` on 2015-03-31 11:13:25

[2015-06-30 17:46] gsbelarus opened #3569 "Удаление произвольной проводки, по которой сделано обнуление сальдо"
Originally reported on Google Code with ID 3569

[code]

Reported by `igor6003` on 2015-04-08 10:31:49

[2015-06-30 17:46] gsbelarus commented on #3569
[code]

Reported by `igor6003` on 2015-04-09 05:55:22

[2015-06-30 17:46] gsbelarus commented on #3569
[code]

Reported by `NikolayUkleyko` on 2015-04-14 12:15:24
- **Status changed**: `New`

[2015-06-30 17:46] gsbelarus commented on #3569
[code]

Reported by `igor6003` on 2015-04-15 10:42:03

[2015-06-30 17:46] gsbelarus commented on #3569
Reported by `gs1994` on 2015-06-29 16:37:51
- **Labels added**: Type-Defect, Priority-Medium, GedeminExe, Accountancy

[2015-06-30 17:46] gsbelarus opened #3571 "Бухгалтерия. Главная книга. Не корректное отображение сумм в валюте"
Originally reported on Google Code with ID 3571

[code]

Reported by `NikolayUkleyko` on 2015-04-14 12:08:55

<hr>
- _Attachment: Рис. 1. Бухгалтерия. Главная книга. Не корректное отображение сумм в валюте.png<br>![Рис. 1. Бухгалтерия. Главная книга. Не корректное отображение сумм в валюте.png](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3571/comment-0/Рис. 1. Бухгалтерия.

[2015-06-30 17:46] gsbelarus commented on #3571
Reported by `NikolayUkleyko` on 2015-04-14 13:05:01

[2015-06-30 17:46] gsbelarus opened #3572 "При добавлении с зависимостями в ПИ типового документа затягиваются данные о рабочей организации"
Originally reported on Google Code with ID 3572

[code]

Reported by `alexandra.gsoftware` on 2015-04-14 17:27:32

[2015-06-30 17:46] gsbelarus opened #3578 "Событие компонента"
Originally reported on Google Code with ID 3578

[code]

Reported by `M.Burakina` on 2015-04-21 14:35:38

[2015-06-30 17:46] gsbelarus commented on #3578
[code]

Reported by `alexandra.gsoftware` on 2015-05-06 12:58:07

[2015-06-30 17:46] gsbelarus opened #3579 "Бухгалтерия. Количество десятичных знаков при переходе по валюте из Журнала-ордера в Карту счета"
Originally reported on Google Code with ID 3579

[code]

Reported by `NikolayUkleyko` on 2015-04-25 13:30:21

<hr>
- _Attachment: [Рис. 1..jpg](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3579/comment-0/Рис. 1..jpg)_
- _Attachment: [Рис. 2..jpg](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3579/comment-0/Рис. 2..jpg)_
- _Attachment: [Рис. 3..jpg](ht

[2015-06-30 17:46] gsbelarus commented on #3579
[code]

Reported by `NikolayUkleyko` on 2015-04-27 06:26:07

[2015-06-30 17:46] gsbelarus opened #3580 "Если в мастере установок формы включено расширенное заглавие колонки"
Originally reported on Google Code with ID 3580

[code]

Reported by `gs1994` on 2015-05-08 09:56:35

[2015-06-30 17:46] gsbelarus commented on #3580
[code]

Reported by `NikolayUkleyko` on 2015-05-11 06:08:39

[2015-06-30 17:46] gsbelarus opened #3581 "Вызов СФ ТО в случае наследования документов"
Originally reported on Google Code with ID 3581

[code]

Reported by `gs1994` on 2015-05-11 11:50:41

[2015-06-30 17:46] gsbelarus commented on #3581
[code]

Reported by `PZholnerovich` on 2015-05-11 13:01:58

[2015-06-30 17:46] gsbelarus commented on #3581
[code]

Reported by `alexandra.gsoftware` on 2015-05-11 13:03:44

[2015-06-30 17:46] gsbelarus commented on #3581
[code]

Reported by `PZholnerovich` on 2015-05-11 17:45:18

[2015-06-30 17:46] gsbelarus commented on #3581
[code]

Reported by `alexandra.gsoftware` on 2015-05-11 18:37:21

[2015-06-30 17:46] gsbelarus commented on #3581
[code]

Reported by `PZholnerovich` on 2015-05-11 18:45:08

[2015-06-30 17:46] gsbelarus commented on #3581
[code]

Reported by `gs1994` on 2015-05-12 07:26:57

[2015-06-30 17:46] gsbelarus commented on #3581
[code]

Reported by `PZholnerovich` on 2015-05-12 14:33:01

[2015-06-30 17:46] gsbelarus commented on #3581
[code]

Reported by `gs1994` on 2015-05-12 14:33:39

[2015-06-30 17:47] gsbelarus opened #3583 "Привязка типовой проводки к типу документа"
Originally reported on Google Code with ID 3583

[code]

Reported by `gs1994` on 2015-05-13 14:53:47

[2015-06-30 17:47] gsbelarus commented on #3583
Reported by `gs1994` on 2015-05-13 15:01:09

[2015-06-30 17:47] gsbelarus commented on #3583
[code]

Reported by `PZholnerovich` on 2015-05-13 15:15:23

[2015-06-30 17:47] gsbelarus opened #3584 "Имена классов в Tdlg_NewForm_Wzrd"
Originally reported on Google Code with ID 3584

[code]

Reported by `gs1994` on 2015-05-13 16:40:58

[2015-06-30 17:47] gsbelarus commented on #3584
[code]

Reported by `PZholnerovich` on 2015-05-13 16:54:09

[2015-06-30 17:47] gsbelarus commented on #3584
[code]

Reported by `PZholnerovich` on 2015-06-12 12:15:04

[2015-06-30 17:47] gsbelarus opened #3585 "Дублирование ивентов в проводнике редактора скрипт-объектов"
Originally reported on Google Code with ID 3585

[code]

Reported by `PZholnerovich` on 2015-05-14 09:44:54

[2015-06-30 17:47] gsbelarus commented on #3585
Reported by `gs1994` on 2015-06-29 16:35:33
- **Labels added**: Type-Defect, GedeminExe

[2015-06-30 17:47] gsbelarus opened #3587 "В чем смысл этого кода?"
Originally reported on Google Code with ID 3587

[code]

Reported by `gs1994` on 2015-05-14 11:46:29

[2015-06-30 17:47] gsbelarus opened #3588 "Адресная книга?"
Originally reported on Google Code with ID 3588

[code]

Reported by `gs1994` on 2015-05-16 18:29:56

[2015-06-30 17:47] gsbelarus commented on #3588
[code]

Reported by `PZholnerovich` on 2015-05-16 18:44:51

[2015-06-30 17:47] gsbelarus opened #3589 "Курсор теряет позицию"
Originally reported on Google Code with ID 3589

[code]

Reported by `gs1994` on 2015-05-16 18:35:34

[2015-06-30 17:47] gsbelarus commented on #3589
[code]

Reported by `PZholnerovich` on 2015-05-16 18:51:14

[2015-06-30 17:47] gsbelarus commented on #3589
[code]

Reported by `alexandra.gsoftware` on 2015-05-16 19:01:24

[2015-06-30 17:47] gsbelarus commented on #3589
[code]

Reported by `PZholnerovich` on 2015-05-16 19:20:00

[2015-06-30 17:47] gsbelarus commented on #3589
[code]

Reported by `PZholnerovich` on 2015-05-16 20:01:11

[2015-06-30 17:47] gsbelarus commented on #3589
[code]

Reported by `gs1994` on 2015-05-16 20:13:46

[2015-06-30 17:47] gsbelarus opened #3590 "Очищать поля с названием таблицы шапки и позиции"
Originally reported on Google Code with ID 3590

[code]

Reported by `gs1994` on 2015-05-17 13:28:12

[2015-06-30 17:47] gsbelarus opened #3591 "Подстановка выпадающего меню для детального объекта"
Originally reported on Google Code with ID 3591

[code]

Reported by `gs1994` on 2015-05-18 11:10:25

[2015-06-30 17:47] gsbelarus commented on #3591
[code]

Reported by `PZholnerovich` on 2015-05-18 13:52:53

[2015-06-30 17:47] gsbelarus commented on #3591
[code]

Reported by `PZholnerovich` on 2015-05-20 07:02:15

[2015-06-30 17:47] gsbelarus opened #3599 "Наследование форм для TgdcValue"
Originally reported on Google Code with ID 3599

[code]

Reported by `alexandra.gsoftware` on 2015-06-08 18:54:19

[2015-06-30 17:47] gsbelarus commented on #3599
[code]

Reported by `PZholnerovich` on 2015-06-09 09:59:25

[2015-06-30 17:47] gsbelarus commented on #3599
[code]

Reported by `gs1994` on 2015-06-09 10:20:58

[2015-06-30 17:47] gsbelarus commented on #3599
[code]

Reported by `alexandra.gsoftware` on 2015-06-09 12:18:33

[2015-06-30 17:47] gsbelarus commented on #3599
[code]

Reported by `PZholnerovich` on 2015-06-12 11:05:13

[2015-06-30 17:47] gsbelarus opened #3601 "Ошибка при дублировании записи"
Originally reported on Google Code with ID 3601

[code]

Reported by `NikolayUkleyko` on 2015-06-25 12:54:29

<hr>
- _Attachment: Рис. 1. Ошибка при дублировании записи.png<br>![Рис. 1. Ошибка при дублировании записи.png](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3601/comment-0/Рис. 1. Ошибка при дублировании записи.png)_

[2015-06-30 17:47] gsbelarus opened #3602 "Проблема с ReadOnly у грида"
Originally reported on Google Code with ID 3602

[code]

Reported by `alexandra.gsoftware` on 2015-06-25 13:38:32

[2015-06-30 17:48] gsbelarus commented on #3602
Reported by `gs1994` on 2015-06-25 14:41:55
- **Labels added**: Component-UI, Grid

[2015-06-30 17:48] gsbelarus commented on #3602
[code]

Reported by `NikolayUkleyko` on 2015-06-26 10:45:20

<hr>
- _Attachment: Рис. 1. Проблема с ReadOnly у грида.png<br>![Рис. 1. Проблема с ReadOnly у грида.png](https://storage.googleapis.com/google-code-attachments/gedemin/issue-3602/comment-2/Рис. 1. Проблема с ReadOnly у грида.png)_

[2015-06-30 17:48] gsbelarus commented on #3602
[code]

Reported by `alexandra.gsoftware` on 2015-06-26 12:43:56

[2015-06-30 17:48] gsbelarus commented on #3602
[code]

Reported by `NikolayUkleyko` on 2015-06-27 19:14:33

[2015-06-30 18:34] #3588 closed, assigned to gsbelarus

[2015-07-02 13:51] NikolayUkleyko commented on #3601
![1](https://cloud.githubusercontent.com/assets/11497453/8478498/8eaa7588-20da-11e5-842c-7f7d59975518.png)

[2015-07-02 14:20] NikolayUkleyko opened #3605 "Бухгалтерия. Отчеты бухгалтерии. Проблемы на gedemin.exe от 06.06.2015 г. и выше"
Исследователь > Бухгалтерия > Отчеты бухгалтерии > Расчет.
  Подключившись к базе данных через gedemin.exe (v.2.8.0.8377) от 06.06.2015 г. и выше в верхнем гриде отображается произвольное количество записей, которых не должно быть вообще. Кликнув по пустому расчету в нижнем гриде данных (результата расчета) нет. Фильтрация данных не используется.
  Пример, был выполнен один расчет по НДС. Здесь до

[2015-07-02 19:06] zholnerovich commented on #3601
Исправлял. Так что в новой версии

[2015-07-03 15:45] gsbelarus commented on #3601
На сайте выложил экзешник с последними изменениями. Проверить на нем. Если повторяется ошибка, то разбираться дальше.

[2015-07-04 19:29] gsbelarus opened #3606 "Кодировать параметры при обмене с веб сервером"
Сейчас веб клиент Гедымин, в момент опроса о достпуности обновления, передает параметры в get запросе веб серверу без кодирования. Конечно, не так много компаний, в названии которых & или =, но тем не менее...

[2015-07-04 21:41] gsbelarus opened #3607 "SuperTabControl uses incorrect font under Windows 8.1"
Cyrillic captions are garbled.

[2015-07-04 21:43] gsbelarus commented on #3607
The same is true for a window with script function error message.

[2015-07-04 22:23] #3607 closed, assigned to gsbelarus

[2015-07-06 09:05] NikolayUkleyko commented on #3601
Проверил на gedemin.exe от 03.07.2015 г. (v.2.8.0.8385).
  Работает корректно.
  Спасибо !

[2015-07-06 09:09] #3601 closed, assigned to gsbelarus

[2015-07-06 09:57] NikolayUkleyko commented on #3605
Запрос SELECT \* FROM GD_TAXDESIGNDATE выдает только одну реально существующую запись.
  На некоторых записях посмотрел Свойства > Ссылки.
  При удалении записей, по которым нет ссылок программа может выдать сообщение: см. рис. № 4. Некоторые записи без ссылок программа позволяет удалить.
  По тем записям, у которых есть ссылки программа отображает ссылки на таблицы: INV_CARD, INV_MOVEMENT, AC_REC

[2015-07-08 06:25] igor6003 commented on #3343
Здесь причина в разных транзакциях.
Если в **gdc_dlgUserOnSetupDialog** добавить:
  `Sender.GetComponent("gsiblcContact").Transaction  = Sender.gdcObject.Transaction`;
а в **gdc_dlgUserOnSetupRecord**:
  `Sender.ActivateTransaction(Sender.gdcObject.Transaction)`;
то всё работает нормально.
Единственное, если нажать “Отмена”, то спрашивает подтверждение, а раньше просто закрывалось.

[2015-07-08 14:39] hirurg-lybitel opened #3608 "Формат сумм"
Надо, чтобы на уровне экзешника присутствовало разбиение вводимого числа на тысячные при вводе его в компонент TxDBCalculatorEdit, т.е. форматирование числа в реальном времени, а не только после его сохранения.

[2015-07-09 12:16] gsbelarus opened #3609 "Не открывается форма просмотра остатков"
Ошибка на не найдено поле LB.

[2015-07-10 06:29] NikolayUkleyko commented on #3608
Знаешь, Юрик, с предложением о доработке компонента TxDBCalculatorEdit я уже выступал. Знаешь, чем закончилось ?...

[2015-07-12 20:26] gsbelarus commented on #3608
Технически это сделать невозможно.

[2015-07-12 20:26] #3608 closed, assigned to gsbelarus

[2015-07-12 20:27] gsbelarus commented on #3608
Это не наш компонент. Это экранный элемент, предоставляемый микрософт виндоуз. Пишите билу гейтсу.

[2015-07-12 20:30] gsbelarus commented on #3608
И, Коля, об этом говорили уже. Зачем еще раз, и еще раз, поднимать один и тот де вопрос? В рамках этого компонента сделать нельзя. Новый компонент с нуля мы делать не будем. Даже если и сделаем, то потом придется ПЕРЕДЕЛАТЬ ВСЕ ЭКРАННЫЕ ФОРМЫ, как в экзешникн, так и в пи.

[2015-07-13 14:56] stasgm commented on #3608
Билл сказал, что очень занят.
Придётся делать средствами Гедымина там, где это необходимо. А часто необходимо отделять тысячные при вводе наших белорусских рублей в кассах (общепит и розница).

[2015-07-13 15:20] gsbelarus commented on #3608
Это другое дело. Не надо под это стандартный эдит использовать. Надо или свой компонент создать, специфический, именно для такого случая. Или выкручиваться на форме самому обрабатывая клавиатурый ввод и отрисовывая (выводя) сумму с разделителями.

PS: кстати, бесплатную идею подогнать могу (сам видел в какой-то программе). Для ввода сумм доступна не только цифровая клавиатура, но и изображения куп

[2015-07-14 14:13] #3584 closed, assigned to gsbelarus

[2015-07-14 16:00] gsbelarus opened #3610 "Формы поменяли свое название при переходе на множественное наследование"
Формы с деревом и гридом теперь называются по мастер объекту, т.е. по дереву, а раньше назывались по детальному или просто название было прописано. Подумать как решить эту проблему. Нужно какое-то понятие главного объекта, который может быть или мастер, как, например в накладной-позиция, или детальным, как в группы товаров-товары.

[2015-07-14 16:27] stasgm commented on #3608
Ок. Примем на вооружение идею

[2015-07-15 08:22] zholnerovich commented on #3610
Было решение, при котором все нормально работало и не возникало никаких логических противоречий.

[2015-07-15 11:04] gsbelarus commented on #3610
Костыль -- это не решение. Тут надо именно решение.

[2015-07-15 11:59] zholnerovich commented on #3610
не было никакого костыля, просто Вы не разобрались. Все было четко и просто.

[2015-07-15 12:00] zholnerovich commented on #3610
и в чем же по вашему костыль?

[2015-07-15 15:00] NikolayUkleyko commented on #3452
Выявил такую недоработку.
  Для того, чтобы сохранить переименованную конфигурацию и настройки грида не слетели на дефолтные необходимо нажать на кнопку Сохранить настройки таблицы в текущую конфигурацию.
  Если, можно убрать это лишнее действие - хорошо. Нет - так нет.

[2015-07-15 15:09] NikolayUkleyko opened #3611 "Бухгалтерия. Журнал-ордер. Сохранение настроек таблицы в текущую конфигурацию"
Исследователь > Бухгалтерия > Журнал-ордер.
  Перестали быть доступными кнопки Сохранить настройки таблицы в текущую конфигурацию и Удалить настройки таблицы в текущую конфигурацию. То есть, нельзя сохранить настройки грида в текущую конфигурацию.
  Раньше все это работало.
  Что случилось ???

[2015-07-15 15:20] NikolayUkleyko opened #3612 "Бухгалтерия. Анализ счета. Оборотная ведомость. Не правильно сохраняются настройки грида"
Исследователь > Бухгалтерия > Анализ счета, Оборотная ведомость.
  Сохраняем в конфигурацию параметры формирования формы. Потом запускаю конфигурацию - все хорошо. Скрываю поле Наименование и нажимаю на кнопку Сохранить настройки таблицы в текущую конфигурацию. Потом, запускаю конфигурацию - тоже все верно. Но, если запустить не конфигурацию, а исходную форму Анализ счета, Оборотная ведомость, то

[2015-07-15 15:38] NikolayUkleyko opened #3613 "Бухгалтерия. Журнал хоз. операций. Автофильтр и сообщение об ошибке"
Исследователь > Бухгалтерия > Журнал хоз. операций.
  При помощи автофильтра (другие инструменты фильтрации не используются) выполнил фильтрацию данных по колонке Счет (62.01). Вызываю запись на редактирование - меняю значение в поле Дата (можно в любом поле). Нажимаю на кнопку Ok и программа выдает сообщение об ошибке (см. рис. 1). Интерпретируя, можно сказать, что грид не может правильно отобраз

[2015-07-15 15:42] NikolayUkleyko commented on #3610
У меня вопрос: практическое применение Наследование нашло ?
  Жанна и Стас уже пользуются ?
  Уже столько было сделано всяких специализированных разработок и почти ни одно из них практического применения не нашло.

[2015-07-15 15:44] NikolayUkleyko commented on #3602
![1 readonly](https://cloud.githubusercontent.com/assets/11497453/8702617/77da2d66-2b21-11e5-832e-43fbb23c9b6c.png)

[2015-07-15 15:48] #3610 closed, assigned to gsbelarus

[2015-07-15 15:55] MIchaelShoihet commented on #3602
Проблема указанная в этом посту никакого отношения к этим галкам не имеет. Надо разбираться с работой либо грида, либо какие-то особенности складских документов. Эти глаки должны стоять обязательно только в приходных накладных и в документах без контроля остатков (если это действительно необходимо). В других документах не надо ставить их. Конечно программа не сломается, но зачем путать людей и дав

[2015-07-15 16:19] MIchaelShoihet commented on #3611
Настройки грида можно сохранить, только если не указана расшифровка по дебету и кредиту. Потому что если она указана, то количество колонок может меняться, а сохранив настройки грида мы новые колонки никогда не увидим, что переодически и происходило у клиентов. Поэтому сейчас это возможность осталась только для фиксированного варианта колонок.

[2015-07-15 16:27] MIchaelShoihet commented on #3612
Да есть такое, т.к. для оборотки и анализа счета грид сохраняется в любом случае при закрытии окна. Я сейчас подправил, если указана конфигурации то настройки грида при закрытии окна не будут сохраняться, они будут сохранены только при нажатии на кнопку Сохранить настройки грида....

[2015-07-15 16:35] MIchaelShoihet commented on #3612
Ага выявилась другая вещь для этих форм, если эти формы открыты без конфигурации то после их построения настройка грида все равно будет стандартная.

[2015-07-16 07:37] YRozmysl opened #3614 "Название справочника "График рабочего времени""
В наименовании отражается TgdcTableCalendar, вместо "График рабочего времени"

[2015-07-16 13:06] #3614 closed, assigned to gsbelarus

[2015-07-16 14:02] gsbelarus opened #3615 "Создание команды в Исследователе, даже если сама таблица создана быть не может"
Если при создании новой наследованной таблицы указать папку в Исследователе, где будет размещена команда вызова, и установить что наследуется от GD_CONTACT, то при охранении появится предупреждение, что от GD_CONTACT наследовать нельзя. Это правильно, но команда вызова в Исследователе создастся при этом и вести она будет в никуда.

[2015-07-17 05:49] zholnerovich commented on #3615
поправим

[2015-07-20 06:26] NikolayUkleyko commented on #3558
1. На сегодняшний день все данные из плана счетов по-прежнему входят в различные ПИ или не входят вовсе ни в какое ПИ. Элементарно установить ПИ с отредактированным планом счетов не получиться.  Получается, как всегда "танцы с бубном".
2. Как закинуть все данные из плана счетов одним кликом в одно ПИ ? Есть такие инструменты ?
   ![1](https://cloud.githubusercontent.com/assets/11497453/8770815/d5a

[2015-07-20 06:28] NikolayUkleyko commented on #3611
Теперь понятно.
  Спасибо за консультацию.

[2015-07-20 06:29] #3611 closed, assigned to MIchaelShoihet

[2015-07-20 06:30] NikolayUkleyko commented on #3602
Галки, как временное решение проблемы.

[2015-07-20 09:32] zholnerovich commented on #3615
Вроде как не создается, может уже поправлено?

[2015-07-20 16:37] gsbelarus commented on #3558
UPDATE-ом @alexandra-gsoftware пусть перенесет из разных ПИ позиции в одно. Только сначала SELECT-ом надо посмотреть что где лежит, чтобы ненужное не подхватить.

[2015-07-20 16:48] alexandra-gsoftware commented on #3558
нужно проверить целостность пи отчетом Неверные зависимости

[2015-07-20 16:50] gsbelarus commented on #3558
тут похоже на другое. в разных ПИ одинаковые счета лежат в разных планах счетов. вот и ругается. но, надо проверить. может это что-то и другое. как именно вызвать ошибку? на какую БД и что ставить?

[2015-07-20 16:55] alexandra-gsoftware commented on #3558
Некоторые счета действительно лежат в нескольких пи (см. описание проблемы из старого баг-бейза), но проблем с установкой не было. Вероятно, в пи Бухгалтерские счета на базе с разработками Николая нарушен порядок их следования. Это проверяется отчетом Неверные зависимости из пи GS.Пространство имен.Отчеты

[2015-07-20 18:13] NikolayUkleyko commented on #3558
ПИ Бухгалтерские счета можно попробовать установить на любую базу данных. На выходе будет ошибка.
  ПИ Бухгалтерские счета проверено при помощи отчета Неверные зависимости - передал Александре.
  Я не спорю, что, предположительно, как указала Александра, нарушен порядок следования счетов в ПИ. Для того, чтобы такого гемора не было необходимо все данные из одного справочника закидывать строго в одн

[2015-07-21 14:35] gsbelarus commented on #3558
Причем здесь 1С. Механизм ПИ позволяет сделать как полностью независимую подсистему, которую ставь куда хочешь, так и зависимую, которая требует для установки других подсистем. Дальше все зависит от разработчика. Это как молоток, можно рамку с фотографией бабушки на стенку прибить, а можно палец себе от*рить. Все зависит от кривизны рук.

Но, даже в случае наличия зависимостей, все ставится как пр

[2015-07-21 14:41] alexandra-gsoftware commented on #3558
нужно просто поменять порядок следования...

[2015-07-21 15:02] alexandra-gsoftware commented on #3558
в продолжение темы. Вот этот запрос
    SELECT
      a.ALIAS,
      a.ID,
      COUNT(ns.ID) AS NSCount,
      LIST(ns.NAME, ', ') AS NSs
    FROM AC_ACCOUNT a
    LEFT JOIN GD_RUID r ON r.ID = a.ID
        LEFT JOIN AT_OBJECT o ON (o.XID = r.XID AND o.DBID = r.DBID ) OR (o.XID = a.ID AND o.DBID = 17)
    LEFT JOIN AT_NAMESPACE ns ON ns.ID = o.NAMESPACEKEY
    GROUP BY 1,2
    HAVING COUNT(ns.ID)

[2015-07-21 20:04] NikolayUkleyko commented on #3558
1. Ошибку выдает, когда я устанавливаю ПИ Бухгалтерские счета со всеми зависимыми ПИ.
2. Хитроумный настройщик не создавал новых ПИ. Все действия выполняются строго с существующими ПИ. Просто, при переводе настроек в ПИ необходимо было подумать, как грамотно сделать. Все данные из одного справочника вкинуть в одно ПИ. Это ж логично.
   На сегодняшний день обновить план счетов на любой базе данных

[2015-07-22 08:21] kovli opened #3616 "Выбор из остатков в акте переработки"
Создаем приход на Контакт1 22.07.2015.  Потом создаем акт переработки 21.07.2015, в шапке указываем один и тот же Контакт1. Идем в остатки, видим то, что ввели в приходе. Выбираем и сохраняем акт переработки. Никаких проблем, хотя на 21.07.2015 остатков еще нет и в установках типового документа стоит птичка "Осуществлять контроль остатков".

[2015-07-22 08:45] MIchaelShoihet commented on #3616
А какие еще галки стоят в типовом документе. Галка контроль остатков на текущую дату может стоит или на конец месца?

[2015-07-22 09:55] kovli commented on #3616
Стоят все галки кроме "Выбор из отрицательных остатков". Т.е. стоит 6  штук.

[2015-07-22 10:05] MIchaelShoihet commented on #3616
Тогда все правильно работает. Галка "Контроль только на текущие остатки" означает что контроль идет на дату последнего движения (только по остаткам inv_balance) без проверки остатка на дату документа. Если вам необходим жесткий контроль остаков (с учетом даты) то не обходимо снять эту галку и снять галку "Контроль остатков на конец месяца" - эта галка отличается от предыдущей тем, что она разрешае

[2015-07-22 10:06] #3616 closed, assigned to MIchaelShoihet

[2015-07-22 10:14] kovli commented on #3616
Точно. Без этой галки все работает правильно.

[2015-07-22 14:09] alexandra-gsoftware commented on #3558
Не всегда. Справочник контактов, справочник ТМЦ, справочник единиц измерения, справочник стран... Данные входят в разные ПИ и это нормально. Конвертация настройки в ПИ = все объекты настройки добавить в ПИ.
Дальше ПИ живет своей жизнью. Иногда данные из ПИ переносятся в другие ПИ, иногда ПИ объединяются, иногда разделяются на два и тд. Это происходит в процессе разработки, когда разработчик видит,

[2015-07-22 14:19] MIchaelShoihet commented on #3558
В случае со счетами, я думаю все счета должны лежать в одном ПИ, и настроены по своему смыслу. Дело в том что план счетов так организован, что за разные виды деятельности отвечают в основном разные счета и их настройка (т.е. виды аналитик) зависит от их названия. Поэтому если мы сразу создадим настройку со всем набором счетов и соответственно аналитик, то ничего плохого в этом не будет.

[2015-07-22 14:21] alexandra-gsoftware commented on #3558
тогда проблемы вообще нет. Найти счета из других пи запросами, которые я написала выше. Закинуть все в План счетов. Проверить на целостность.

[2015-07-22 14:26] MIchaelShoihet commented on #3558
Чудесно. Значит вы знаете что нужно сделать :).

[2015-07-22 16:21] NikolayUkleyko commented on #3558
По хорошему данные из справочника контактов, справочника ТМЦ, справочник единиц измерения, справочника стран и т. д. я бы разместил в общих ПИ. В дальнейшем будет меньше проблем при установке дополнительных подсистем.
  Я вообще не знаю кто придумал идеологию включать несколько одних счетов в одну подсистему, а несколько других - в другую ? Получается бредятина. Вообще, независимо от количества по

[2015-07-23 12:52] alexandra-gsoftware commented on #3558
В общем, счета перенесены в ПИ Бухгалтерские счета. Так же проставлена зависимость от этого ПИ в Торговля-данные и Зарплата-данные

[2015-07-23 14:00] alexandra-gsoftware commented on #3558
Да, вот кстати.
Счет 90.02 превратился 90.04, и не только:
90.02  ->  90.04
90.03  ->  90.02
90.04  ->  _90.04
90.05  ->  90.03
90.06 ->  _90.06
Появились новые счета 90.05, 90.06

91.02  ->  91.04
91.03  ->  91.02
91.04  ->  91.03

Так и надо?

[2015-07-23 14:36] NikolayUkleyko commented on #3558
Привет, Александра !
  Все верно.
  Так как, в новом плане счетов одни и те же счета поменяли числовое
обозначение. Некоторые существующие ушли в неиспользуемые и добавлены новые
счета. Потом, типовые проводки перенастроил.
  Александра, а что собственно ?

23 июля 2015 г., 17:00 пользователь alexandra-gsoftware <
notifications@github.com> написал:

##

С уважением, Николай.

[2015-07-23 14:38] alexandra-gsoftware commented on #3558
надо, может, в скриптах формирования эталона поменять...

[2015-07-23 14:39] NikolayUkleyko commented on #3558
Я переименовывал существующие счета, только при наличии аналогичных по
своему назначению счетов. Если, счет, предназначен для другой функции, то я
его убирал в неиспользуемые и добавлял новый счет со своим предназначением.
Даже, если цифровое обозначение в последних одинаковое.
  :-)

23 июля 2015 г., 17:36 пользователь Николай Уклейко <
nikolayukleyko@gmail.com> написал:

##

С уважением, Николай

[2015-07-23 14:42] NikolayUkleyko commented on #3558
Да, Александра, это нужно сделать.
  Только, пожалуйста, на всякий случай, для уверенности уточни у МЮ и АП.

  Спасибо !

23 июля 2015 г., 17:39 пользователь Николай Уклейко <
nikolayukleyko@gmail.com> написал:

##

С уважением, Николай.

[2015-07-23 14:43] gsbelarus commented on #3558
Надо подумать, чем это вылезет. Счета при загрузке первым делом проверяются по номеру, а потом по РУИДу.

[2015-07-23 14:49] NikolayUkleyko commented on #3558
Александра, не должно. Но, надо уточнить.
  Еще один момент. Добавленные счета можно убрать и оставить существующие
(только эти 2-а счета):
90.04 -> _90.04
90.06 -> _90.06
  Так будет более грамотно.
  Александра, мне это сделать или что скажешь ?

23 июля 2015 г., 17:43 пользователь Andrej Kirejeŭ <notifications@github.com

##

С уважением, Николай.

[2015-07-23 14:51] alexandra-gsoftware commented on #3558
Давайте подождем мнение МЮ.

[2015-07-23 14:54] NikolayUkleyko commented on #3558
Потом, типовые проводки донастрою и пересохраню ПИ.

23 июля 2015 г., 17:49 пользователь Николай Уклейко <
nikolayukleyko@gmail.com> написал:

##

С уважением, Николай.

[2015-07-23 14:54] gsbelarus commented on #3558
Если клиента уже настроены ТХО на эти счета. После загрузки ПИ они переименуются, что произойдет?

Может существующие оставить как есть? Или я тут что-то не понимаю?

[2015-07-23 14:56] gsbelarus commented on #3558
Счета с системными РУИДами создаются в скриптах. Если переименовывать, то надо и там, чтобы чистая начальная база поставлялась с правильными счетами.

Но, остается вопрос, что произойдет у существующих клиентов, с существующими ТХО??

[2015-07-23 14:56] NikolayUkleyko commented on #3558
Лучше оставить существующие и убрать новые аналогичные.

23 июля 2015 г., 17:54 пользователь Andrej Kirejeŭ <notifications@github.com

##

С уважением, Николай.

[2015-07-23 16:31] NikolayUkleyko commented on #3558
В результате всех изменений в плане счетов у существующих клиентов картина будет такова. Для корректности данных необходима будет доработка типовых проводок - добавление условия на дату. То есть, с такой-то даты будет использоваться такой-то счета, а ниже этой даты - другой счет. Типовые проводки я исправил согласно нового плана счетов. Но без всяких условий на дату.

[2015-07-23 16:58] NikolayUkleyko opened #3617 "Бухгалтерия. Выбор документа. Слетает грид"
Исследователь > Бухгалтерия > Журнал хоз. операций.
  В режиме выбора документа, настроенный грид по документам периодически слетает.
![1](https://cloud.githubusercontent.com/assets/11497453/8856619/9593cb88-3174-11e5-8d8a-093f879ceba2.png)
![2](https://cloud.githubusercontent.com/assets/11497453/8856620/95c2672c-3174-11e5-9090-28aee9ebcd60.png)
![3](https://cloud.githubusercontent.com/assets/1149

[2015-07-23 17:11] NikolayUkleyko opened #3618 "Бухгалтерия. Ошибка при отображении документов типа шапка"
Исследователь > Бухгалтерия > Журнал хоз. операций.
В режиме выбора документа типа шапка программа выводит окно с сообщением об ошибке. При этом нажав на кнопку ОК, можно выбрать документ и все сохранить. Ошибка выявлена на gedemin.exe от 16.07.2015 г., версия файла 2.8.0.8394.
![1](https://cloud.githubusercontent.com/assets/11497453/8856927/9eda09e4-3176-11e5-836b-e2f5bdd2dcb2.png)
![2](https://c

[2015-07-23 17:12] NikolayUkleyko commented on #3617
Все вышесказанное имеет силу не только для Журнала хоз. операций, но и для других документов.

[2015-07-23 17:12] NikolayUkleyko commented on #3618
Все вышесказанное имеет силу не только для Журнала хоз. операций, но и для других документов.

[2015-07-23 17:30] NikolayUkleyko commented on #3558
У существующих клиентов 2-а счета в проводках останутся. В бухгалтерских
отчетах они тоже останутся прежними. Необходимо только в типовых проводках
дописать условие на дату, что с такой-то даты вместо такого-то счета, будет
использоваться другой.

23 июля 2015 г., 17:56 пользователь Andrej Kirejeŭ <notifications@github.com

##

С уважением, Николай.

[2015-07-23 17:32] NikolayUkleyko commented on #3558
Подробности.
  В старом плане счетов счет 90.04 - _Акцизы_. В новом плане счетов он
называется _Себестоимость реализованной продукции, товаров, работ, услуг_.
  В старом плане счетов счет 90.06 - _Экспортные пошлины_. В новом плане
счетов он называется _Расходы на реализацию_.
  Как видите, числовое обозначение одно и то же, но назначение счетов
совершенно другое.

23 июля 2015 г., 17:57 пользоват

[2015-07-23 17:57] NikolayUkleyko commented on #3558
Александра, тут всего 2-а счета перекинуть и проводки подчехлить.

2015-07-23 17:51 GMT+03:00 alexandra-gsoftware notifications@github.com:

##

С уважением, Николай.

[2015-07-24 06:53] MIchaelShoihet commented on #3558
Для всех здесь хорошо не сделаешь... У старых клиентов я все счета которые изменили наименование я делал устаревшими (добавлял _ в номер и переносил в отдельную ветку), и добавлял новые.... В этом случае оборотка за предыдущие года сохраняла старые счета, а за новые была с новыми счетами (по 90 счетам хорошо они на конец года закрываются).... И это было хорошо, но с одним условием это делалось в р

[2015-07-24 08:49] NikolayUkleyko commented on #3558
Я так все и сделал.
  Согласен, в приоритете новые клиенты, так как у существующих клиентов все
уже настроено и настраивается в индивидуальном порядке.
  Вот информация, как в 1С Бухгалтерии реализован переход на новый план
счетов http://www.misoft.by/news/detail.php?ID=9982.

24 июля 2015 г., 9:53 пользователь MIchaelShoihet notifications@github.com
написал:

##

С уважением, Николай.

[2015-07-24 11:46] alexandra-gsoftware commented on #3558
значит, оставляем как есть?
Николай, можешь написать список счетов, которые поменялись местами, чтобы обновить скрипты формирования чистого эталона

[2015-07-24 11:59] NikolayUkleyko commented on #3558
Оставляем как есть. Тем более Михаил Юрьевич дал добро.
  По поводу списка отчетов, поменявших места уточни, что к чему ?

24 июля 2015 г., 14:46 пользователь alexandra-gsoftware <
notifications@github.com> написал:

##

С уважением, Николай.

[2015-07-24 12:03] alexandra-gsoftware commented on #3558
ну, такое:
90.02 -> 90.04
90.03 -> 90.02
и тд

[2015-07-24 12:19] NikolayUkleyko commented on #3558
Воспринял, как отчЕтов, а на деле речь о счетАх. )))
  Попробую:
_Было                                                                       Стало_
10.12 (Амортизация МБП)                                         10.13 (Износ инвентаря и хозяйственных принадлежностей, инструментов)
10.13 (Амортизация спецодежды)                            10.14 (Износ спецодежды)

90.02 (Себестоимость реализации)

[2015-07-24 16:34] gsbelarus opened #3619 "Отправка email об успехе/ошибке загрузки ПИ"
Задача: при загрузке пакета из командной строки, по окончании, слать email администратору с сообщением об успехе или со списком ошибок/предупреждений.

Отсылка осуществляется при указании ключа /se.

Параметры smtp и адрес администратора ( или список адресов через запятую) располагаются в gedemin.ini, в разделе [web client].

Поскольку после загрузки из командной строки гедымин сразу завершается,

[2015-07-24 16:59] #3599 closed, assigned to gsbelarus

[2015-07-24 20:55] gsbelarus opened #3620 "Корректная обработка отсылки почты"
и опять непонимание параллельных процессов. postmessage не выполнит код, только лишь добавит сообщение в очередь для указанной нити. выполнится ли оно зависит от многоих условий.
например, как сделано сейчас, если из кода послать имэйл и сразу же выйти из гедымина, то до обработки сообщения может и не дойти. т.е. почта не уйдет, файл останется на диске, объект не удалится из оперативной памяти.

к

[2015-07-27 07:45] gsbelarus commented on #3608
Сделано. Форматирование работает при последовательном вводе символов, т.е. когда курсор в конце числа находится.

[2015-07-28 06:32] gsbelarus commented on #3620
В базе данных надо завести два поля. Одно для ключа группы контактов. Второе -- просто для списка адресов электронной почты, через запятую. При отсылке, результирующий список адресов получать объединением адресов из двух полей.

[2015-07-29 13:02] NikolayUkleyko opened #3621 "Типовой документ. Реквизит 'Движение без поиска остатков'"
Складской типовой документ. Реквизит Движение без поиска остатков.
  Подскажите, зачем предусмотрен данный реквизит ?
![1](https://cloud.githubusercontent.com/assets/11497453/8958061/39ea700c-360b-11e5-918d-734cb346b411.png)

[2015-07-29 13:10] MIchaelShoihet commented on #3621
Для документов изменения свойств, которые работают без контроля остатков, для ускорения работы, когда нам нет необходимости что бы выбиралась карточка именно из остатков. Так работает документ Накладная на реализацию для мясокомбинатов.

[2015-07-29 13:12] #3621 closed, assigned to MIchaelShoihet

[2015-07-29 13:24] NikolayUkleyko commented on #3621
Спасибо !

2015-07-29 16:12 GMT+03:00 MIchaelShoihet notifications@github.com:

##

С уважением, Николай.

[2015-07-30 14:28] NikolayUkleyko opened #3622 "Команды перехода по записям на кнопке Меню"
Пожалуйста, подскажите, по каким критериям в одних документах, справочниках переход по записям возможен при помощи разных комбинаций клавиш: Ctrl + N / Ctrl + Alt + N или Ctrl + P / Ctrl + Alt + P. Необходимо, чтобы везде были единые комбинации Ctrl + N и Ctrl + P. Зачем и спользовать клавишу Alt. Одновременно зажать 3-и клавиши не удобно (не осьминог). Одновременно зажать 2-е гораздо удобнее. Дан

[2015-07-30 14:44] gsbelarus opened #3623 "Определение вхождения объекта по цепочке зависимостей"
Есть ПИ А, содержащее объект О1. Есть ПИ Б, зависящее от А. Есть ПИ С, куда добавляется объект О2, зависящий от О1. Сейчас, в список зависимостей для ПИ С добавится ПИ А, хотя правильнее было бы ничего не делать, так как при загрузке пакетом (с зависимостями) С А загрузится первее через зависимость от Б.

[2015-07-30 14:52] gsbelarus commented on #3623
@alexandra-gsoftware

[2015-07-30 14:56] gsbelarus opened #3624 "Автоматическое удаление нужных объектов"
Добавляем в ПИ объект О1, который зависит от О2. Запись об О2 добавится в позиции ПИ перед записью об О1. Тепепь добавляем О3, который также зависит от О2. Добавится только запись для О3, так как О2 уже есть в списке. Теперь удалим О1. О2 удалится автоматом, через связь. Но, О2 был нужен О3 и теперь ПИ не будет грузится.

[2015-07-30 15:13] gsbelarus opened #3625 "Ошибка при сравнении ПИ с БД"
Сравниваем ПИ с базой, где этого ПИ нет. Например в ПИ есть запись TgdcAttrUserDefined, а таблицы такой нет. Тогда сравнение вылетит.

[2015-07-30 15:20] NikolayUkleyko opened #3626 "ПИ. Реквизит Не удалять объекты, отсутствующие в загружаемом файле"
При установке ПИ с проставленой галкой по реквизиту Не удалять объекты, отсутствующие в загружаемом файле программа все равно выдает сообщения об отсутствующих объектах в загружаемом файле и предлагает удалить / не удалить объекты.
  Так и должно быть ?
![1](https://cloud.githubusercontent.com/assets/11497453/8987158/4c4c2898-36e8-11e5-8c37-a993422e2962.png)
![2](https://cloud.githubusercontent.co

[2015-08-03 08:35] gsbelarus commented on #3619
Наверное в ini файле надо только параметры SMTP сохранять, а адрес указывать в командной строке в формате /se <адрес или адреса через зпт>.

Потому что на разные пакеты могут быть свои администраторы, которым будет интересно получить сведения об ошибках при загрузке.

[2015-08-04 08:49] zholnerovich commented on #3618
Поправлено

[2015-08-05 15:29] NikolayUkleyko opened #3627 "Бухгалтерия. Конструктор функций. Добавить команду 'Выделить все'"
Исследователь > Бухгалтерия > Типовые хоз. операции, Автоматические хоз. операции, Настройка функций
  Пожалуйста, добавьте в контекстное меню команду 'Выделить все'. Встречаются ситуации, когда необходимо выбрать все блоки функции. Сейчас приходится это делать через выделение каждого блока, что не есть удобно (если блоков больше 100). Ситуации, когда необходимо удалить все блоки, чтобы добавить н

[2015-08-05 15:56] NikolayUkleyko opened #3628 "Бухгалтерия. Конструктор функций. К контекстному меню добавить горячие клавиши и другое"
Исследователь > Бухгалтерия > Типовые хоз. операции, Автоматические хоз. операции, Настройка функций.
  Пожалуйста, к контекстному меню добавьте горячие клавиши (с отображением не только команд, но и горячих клавиш):
- Удалить (необходимо Ctrl + Del, сейчас Del);
- Копировать (Ctrl + C);
- Вырезать (Ctrl + X);
- Вставить (Ctrl + V).

  Предусмотрите команду 'Отмена действия (Ctrl + Z)'.
  Необходи

[2015-08-06 13:37] zholnerovich commented on #3625
А можно по подробнее, чтобы понятно было

[2015-08-06 14:09] zholnerovich commented on #3624
Можно уточнить что за объекты, потому что с таблицей и полями все прошло гладко

[2015-08-07 10:32] zholnerovich commented on #3628
Поправлены горячие клавиши

[2015-08-07 11:01] NikolayUkleyko opened #3629 "Бухгалтерия. Конструктор функций. Свойства блока. К контекстному меню добавить горячие клавиши Ctrl + A"
При работе непосредственно с блоком очень не хватает сочетания клавиш Ctrl + A.
  В контекстном меню доступна команда 'Выделить все'. Этого мало. С горячими клавишами работать с блоками (свойства) будет гораздо удобнее.
  Пожалуйста, предусмотрите, для контекстного меню в наименование еще и отображение горячих клавиш в скобках. Если, это возможно.
![1](https://cloud.githubusercontent.com/assets/11

[2015-08-07 13:37] zholnerovich commented on #3629
Тут используется стандартное контекстное меню windows, поэтому что то менять мне кажется не целесообразно.

[2015-08-07 14:23] zholnerovich commented on #3622
поправлено

[2015-08-08 16:21] NikolayUkleyko opened #3630 "Бухгалтерия. Конструктор функций. Переименовать блоки типа 'Позиция отчета'"
Исследователь > Бухгалтерия > Отчеты бухгалтерии > Настройка функций.
  Пожалуйста, переименуйте отображение блоков типа 'Позиция отчета' с 'Переменная' на 'Позиция отчета'. Сейчас блоки типа 'Позиция отчета' и блоки типа 'Переменная' визуально отличаются цветом, это хорошо. Но, для наглядности еще необходимо отображать наименования блоков в соответствии с их типом.
![1](https://cloud.githubuserco

[2015-08-08 16:40] NikolayUkleyko opened #3631 "Бухгалтерия. Конструктор функций. Добавить возможность прокрутки блоков скроллом мышки"
Исследователь > Бухгалтерия > Автоматические хоз. операции, Типовые хоз. операции, Отчеты бухгалтерии > Настройка функций.
  Пожалуйста, добавьте возможность прокрутки блоков скроллом мышки.
  Сейчас в качестве дополнительной прокрутки предусмотрено только контекстное меню на полосе прокрутки. Этого недостаточно для комфортной работы с большим количеством блоков (100 и больше).
![1](https://cloud.

[2015-08-08 17:00] NikolayUkleyko opened #3632 "Бухгалтерия. Конструктор функций. Исправить ошибки в описании параметров функции MonthName"
Пожалуйста, исправьте ошибки в описании параметров функции MonthName. Вместо слова 'Абривиатура' должно быть слово 'Аббревиатура'.
![1 monthname](https://cloud.githubusercontent.com/assets/11497453/9151338/1bd3c118-3e08-11e5-97b6-6f1cea4520b1.png)

[2015-08-08 17:07] NikolayUkleyko commented on #3629
С описанием в контекстном меню понятно. Возможно ли сделать работоспособными горячие клавиши 'Ctrl + A' ?

[2015-08-10 07:58] zholnerovich commented on #3629
'Ctrl + A тож не получится, как вариант написать свое меню, прикрепить его к каждой компоненте, на каждой форме

[2015-08-10 09:05] zholnerovich commented on #3631
Как не странно, но программно управлять позицией скролла не получается, наверное какой то глюк компоненты

[2015-08-10 09:18] zholnerovich commented on #3632
исправлено

[2015-08-10 10:11] zholnerovich commented on #3630
Поправлено

[2015-08-10 10:21] zholnerovich commented on #3605
Вроде уже поправлено

[2015-08-10 10:24] zholnerovich commented on #3591
Надо бы закрывать, то что сделано или не будет делаться

[2015-08-10 10:28] #3590 closed, assigned to gsbelarus

[2015-08-10 10:29] #3587 closed, assigned to gsbelarus

[2015-08-10 10:30] zholnerovich commented on #3585
Исправлено.

[2015-08-10 10:30] #3585 closed, assigned to gsbelarus

[2015-08-10 10:32] zholnerovich commented on #3583
проблема была решена, разрешением использовать родительские проводки

[2015-08-10 10:32] #3583 closed, assigned to gsbelarus

[2015-08-10 10:33] zholnerovich commented on #3581
Сделано

[2015-08-10 10:33] #3581 closed, assigned to gsbelarus

[2015-08-10 12:23] NikolayUkleyko commented on #3631
Необходимо, выяснить, глюк это или так задумано.
  Если, реализуешь это - будет замечательно.

[2015-08-10 17:49] NikolayUkleyko commented on #3629
Если, это возможно (не спеша и качественно сделать) и ничего не затронет будет отлично. При работе с блоками конструктора функций не очень удобно отображать контекстное меню и в нем выбирать нужную команду. Через горячи клавиши гораздо удобнее и быстрее.

[2015-08-10 18:27] NikolayUkleyko opened #3633 "Бухгалтерия. Доработки для формы 'Составляющие показателя' (QQ)"
**_Исследователь / Бухгалтерия / Отчеты бухгалтерии / Справочник показателей / Составляющие показателей_.**

Пожалуйста, решите следующие вопросы по данной форме:

**1**. При добавлении/дублировании записи по-умолчанию выбрано 'Минус'.
Необходимо, чтобы по-умолчанию было 'Плюс'.
Постоянно перебивать ни к чему.
Я часто работаю с этой формой и могу сказать, что в большинстве случаев имеет место поло

[2015-08-10 18:28] NikolayUkleyko commented on #3627
Что-то эта тема пока молчит...

[2015-08-10 18:48] NikolayUkleyko opened #3634 "ПИ. Удаление объектов, отсутствующих в ПИ (ранее они были в ПИ) из базы данных"
При установки ПИ, содержащего отчеты, программа может отобразить окно о том, что ранее такой-то отчет входил в текущее ПИ, а потом его удалили из данного ПИ.
Программа предложит варианты удаления/не удаления таких объектов (отчетов).
Выбрав, удалить все объекты, отсутствующие в ПИ, в исследователе по-прежнему будет отображаться удаленный отчет.
При запуске отчета программы выдает окно с сообщением

[2015-08-11 13:32] zholnerovich commented on #3627
Тема не заглохла. Сделано. "Выделить все" добавлено. Немного своеобразно работает (выделяет все внутри выбранного блока) но этого должно хватить

[2015-08-11 16:14] NikolayUkleyko commented on #3627
Пока не видел.
  Как проверю, так и сообщу что и как.

[2015-08-11 16:42] NikolayUkleyko opened #3635 "Бухгалтерия. Конструктор функций. Выделение блоков через Shift и Ctrl"
Исследователь > Бухгалтерия > Автоматические хоз. операции, Типовые хоз. операции, Отчеты бухгалтерии > Настройка функций.
  При работе в конструкторе функций с блоками не редко приходится выделять некий перечень блоков и их копировать. Например, среди более 100 блоков необходимо выделить блоки с 50 по 85. Сейчас приходится держать клавишу Shift и с 50 блока каждый блок последовательно выделять. Э

[2015-08-11 16:47] NikolayUkleyko commented on #3632
Проверено.
  Работает корректно.
  Спасибо !

[2015-08-11 16:47] #3632 closed, assigned to zholnerovich

[2015-08-11 16:48] NikolayUkleyko commented on #3630
Проверено.
  Работает корректно.
  Спасибо !

[2015-08-11 16:54] NikolayUkleyko commented on #3628
Команду 'Удалить' сделайте одной комбинацией Ctrl + Del. Сейчас блоки можно удалять и при помощи кнопки Del и/или при помощи комбинации клавиш Ctrl + Del. Таким образом, случайно удалить блоки будет затруднительно.
  Что по поводу команды 'Отмена действия (Ctrl + Z)' ?

[2015-08-12 14:51] alexandra-gsoftware commented on #3625
Ну представь. Есть 2 голых эталона, без никаких ПИ. На эталоне 1 ты создаешь таблицу USR$TEST  с единственным полем USR$NAME и функцию test_function. В таблицу добавляешь одну запись. Создаешь новое ПИ. Закидываешь в нее запись из таблицы и ф-ю. Сохраняешь ПИ. Сравниваешь это ПИ  с  базой 2 (где таблицы USR$TEST нет). Получаешь ошибку, потому что Гедымин пытается сравнить запись в таблице, а табли

[2015-08-12 15:12] NikolayUkleyko commented on #3630
А сейчас блоки с типом 'Переменная' отображаются с именем 'Позиция отчета'.

[2015-08-12 16:45] alexandra-gsoftware commented on #3624
например, о1 - отчет формы, о2 - ReportGroup формы, о3 - другой отчет той же формы

[2015-08-12 17:24] zholnerovich commented on #3630
Коля, надо как то все свести по конструктору функций в один иссуй

[2015-08-12 17:31] NikolayUkleyko commented on #3630
Хорошо. Сперва необходимо это решить.

[2015-08-12 17:35] zholnerovich commented on #3630
ок, сделаю. а ты когда к нам вернешься?

[2015-08-13 15:24] NikolayUkleyko commented on #3618
Проверено.
  Работает корректно.
  Спасибо !

[2015-08-13 15:24] #3618 closed, assigned to zholnerovich

[2015-08-13 15:26] NikolayUkleyko commented on #3605
Проверено.
  Работает корректно.
  Спасибо !

[2015-08-13 15:26] #3605 closed, assigned to MIchaelShoihet

[2015-08-13 15:29] NikolayUkleyko commented on #3540
Перенесено в https://github.com/GoldenSoftwareLtd/gedemin/issues/3629.
  Закройте текущую тему.

[2015-08-13 15:35] NikolayUkleyko commented on #3504
Перенесено в https://github.com/GoldenSoftwareLtd/gedemin/issues/3558.
  Закройте эту тему.

[2015-08-17 06:41] zholnerovich commented on #3630
теперь должно работать корректно

[2015-08-17 07:28] NikolayUkleyko commented on #3627
Проверено.
  Работает корректно.
  Но ! В контекстном меню отображается команда 'Выделить все', а в меню, отображаемом при нажатии на кнопку 'Редактировать', такой команды нет. Сделайте, чтобы в контекстном меню отображались пиктограмки для команд 'Свойства', 'Удалить', как в меню по кнопке 'Редактировать'.
![2](https://cloud.githubusercontent.com/assets/11497453/9300027/8e01a5ca-44ca-11e5-8b3e-43

[2015-08-17 08:45] NikolayUkleyko commented on #3622
Проверено.
  Работает корректно.
  Спасибо !

[2015-08-17 08:45] #3622 closed, assigned to zholnerovich

[2015-08-17 09:05] NikolayUkleyko commented on #3612
Проверено.
  Работает корректно.
  Но ! Почему, в Оборотной ведомости нельзя сохранить конфигурацию по разделу (счетам) ?

[2015-08-17 13:17] alexandra-gsoftware opened #3636 "Добавление документа vs Наследование"
Проблемы описаны вот здесь:
https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/45

[2015-08-17 17:46] gsbelarus opened #3637 "Экспорт HTML, ODF, BIFF"
Сейчас недоступен. Проработать вопрос, что нам будет стоить добавить.

[2015-08-17 17:47] gsbelarus opened #3638 "Несколько файлов в атачменте"
Сделать. Имена через запятую. Подсказка -- TStringList разбирает строку с запятыми разделителями.

[2015-08-17 18:31] alexandra-gsoftware commented on #3572
Посмотрите это кто-нибудь плз. Становится все более актуальным.

[2015-08-18 08:44] gsbelarus commented on #3629
Меню стандартное и используется на миллиарде компьютеров под Windows во всем мире. Если билл гейтс не включал туда Ctrl-A, значит на это был особый умысел.

Пользователю известны следующие способы выделения всего текста в поле диалогового окна:

1) При установке на него курсора TAB. Если курсор уже находится в этом поле, то последовательность TAB, Shift-TAB выделит весь текст.

2) Home, Shift-End

[2015-08-18 08:44] #3629 closed, assigned to zholnerovich

[2015-08-18 08:47] #3620 closed, assigned to zholnerovich

[2015-08-18 09:09] NikolayUkleyko commented on #3629
Часто необходимо быстро скопировать все выражение в одном блоке и вставить его в другой.
  Все, не надо.

[2015-08-18 14:21] alexandra-gsoftware opened #3639 "Функция GS.DateAddBank иногда кидает ошибку Transaction is not active"
непонятно, почему

[2015-08-18 14:24] PiuPauTralala commented on #3639
я хочу получать сообщения из этого иссью.

[2015-08-18 14:35] zholnerovich commented on #3637
Добавлены форматы: text, html, ODF, ODS
Нужно добавить мадефай на базу

[2015-08-19 08:33] zholnerovich commented on #3637
если файл один и его формат txt либо htm, то дублируем его в тело сообщения

[2015-08-19 08:49] NikolayUkleyko commented on #3630
Проверено.
  Работает корректно.
  Спасибо !

[2015-08-19 08:49] #3630 closed, assigned to zholnerovich

[2015-08-19 10:20] #3639 closed, assigned to gsbelarus

[2015-08-19 10:30] #3638 closed, assigned to zholnerovich

[2015-08-19 11:11] zholnerovich commented on #3627
Поправлено

[2015-08-19 14:24] zholnerovich commented on #3635
Ctrl теперь работает как Ctrl. Shift + стрелки выделяют группу блоков

[2015-08-20 07:00] PiuPauTralala opened #3640 "Синхронизация ПИ"
Обновила ПИ, синхронизировала с удалением всех отсутствующих объектов.
При повторной попытке синхронизации выдается ошибка
![123](https://cloud.githubusercontent.com/assets/11497771/9377494/391c645a-4722-11e5-894e-f011699bbffc.png)

[2015-08-20 07:08] gsbelarus commented on #3640
Так ясно же пишет. Нет в бд такого класса с таким подтипом. А в файле пи есть запись с данными, которые не могут загрузиться. Это ни разу не ошибка.

[2015-08-20 07:08] gsbelarus commented on #3640
Разработчик должен посмотреть, где находится данный класс, почему он не загружен на базу.

[2015-08-20 07:19] PiuPauTralala commented on #3640
Некорректно написала сначала, сообщение возникает при попытке сравнения содержимого базы с файлами на диске.

[2015-08-20 10:40] #3640 closed, assigned to gsbelarus

[2015-08-20 10:41] #3625 closed, assigned to gsbelarus

[2015-08-20 13:40] alexandra-gsoftware opened #3641 "Синхронизация ПИ vs новое ПИ в пакете"
Было ПИ П. Добавилось ПИ П1, и П от него зависит.
На базе, где есть только П, запускаем сравнение с файлами, чтобы обновить ПИ. П отображается со знаком "<<". П1 отображается без ничего, хотя должно, по идее, со знаком "<", ведь П от него зависит, и П1 нужно поставить. Естественно, П1 не ставится. Раньше все было хорошо... Это может привести к удалению таблиц с данными на работающей базе!

[2015-08-20 13:53] zholnerovich commented on #3602
Поправлено. Если все гуд, то закрываем

[2015-08-20 15:17] #3637 closed, assigned to zholnerovich

[2015-08-20 15:51] alexandra-gsoftware opened #3642 "Невозможно добавить складской документ"
Добавляем складской документ. Таблицы, на которых он базируется, уже подготовлены (они называются USR$INV_ADDWBILL и USR$INV_ADDWBILLLINE). Других складских документов на базе нет (таблицы перенесены с другой базы посредством ПИ).
В момент добавления в диалоговом окне доступны только странички Общие и Нумерация.
Указываем Наименование, Наименование на английском (INV_ADDWBILL), шаблон (обычный скл

[2015-08-20 18:08] gsbelarus commented on #3642
В этом коде явная ошибка:

[code]

Если складской документ добавляется просто в папку, не наследуется от другого складского документа, то Parent -- это ИД папки, а не ИД родительского документа и ничего не работает.

ТАКОЕ ВПЕЧАТЛЕНИЕ, ЧТО КОД НИКТО НЕ ТЕСТИРОВАЛ ПЕРЕД ТЕМ КАК СКИНУТЬ.

Я поправил, но надо теперь сесть и методично протестировать:

1) для простого документа
2) для складского докуме

[2015-08-21 04:33] #3619 closed, assigned to zholnerovich

[2015-08-21 07:35] stasgm opened #3643 "А почему бы не сделать в Справке пункт - открыть документацию в интернете"
Сделать открытие страницы на wiki gedemin - Документация. Golden Software of Belarus, Ltd
И для себя удобно и клиентам не надо ссылки диктовать или отправлять

[2015-08-21 09:41] gsbelarus commented on #3643
Главное окно - Справка - Руководство пользователя -- открывает наш сайт документации.В чем проблема?

[2015-08-21 09:41] #3643 closed, assigned to gsbelarus

[2015-08-21 12:15] gsbelarus opened #3644 "Создание нового типа складского документа"
в идеале:
1. перевести двоичное хранение признаков в текст, в YAML
2. признаки типа документа вычислять как объединение признаков родителя (рекурсивно до самого низа) и признаков текущего типа
3. код создания нового типа вынести из диалогового окна на уровень БО (концепция MVC)

прямо сейчас можно быстро сделать:
1. в момент создания нового типа признаки копируются от родителя (так как и было, тол

[2015-08-21 13:29] alexandra-gsoftware commented on #3644
сделайте тогда чтоб все признаки легко можно было посмотреть из кода, плз.

[2015-08-22 19:34] zholnerovich commented on #3644
План по доработке наследования типовых документов:
1. считывание настроек складских документов в gdClassList при загрузке
2. доработка Б-Классов для работы с настройками из gdClassList
3. доработка диалоговой формы складского документа (типовые документы)
4. тестирование
5. при необходимости провести такую же доработку для прайс листов.

Плюсы:
1. Быстрый доступ к настройкам без дергания БД
2. Лег

[2015-08-22 19:45] gsbelarus commented on #3644
Очень даже может быть критично на сетях с большой латентностью, так как БЛОБы не поступают с данными выборки, а дергаются по отдельности потом. Надо на комплексной автоматизации и на реальной БД большого клиента посмотреть сколько типов складских документов, какой размер суммарный блобов, какой средний.

Возможно стоит загружать только по потребности.

[2015-08-22 19:59] gsbelarus commented on #3644
переведем в YAML и можно будет тогда обращаться к признакам стандартным парсером.

[2015-08-22 20:06] zholnerovich commented on #3644
В настройках не только признаки хранятся. Если будем их переводить на YAML то мне понадобится информация как это сделать

[2015-08-23 12:07] gsbelarus commented on #3644
Плана особого тут не видно. Скорее декларация о намерениях. Вот что надо сделать сначала:
1. Разобраться что такое признаки
2. Когда они возникают, кем, когда создаются
3. Где, когда и как используются
4. Как хранятся в БД. На примере действующих баз оценить сколько их, сколько занимают места.
5. В какой момент и кем считываются. Где хранятся в процессе работы программы. Как идет к ним обращение.

[2015-08-23 12:47] zholnerovich commented on #3644
да это почти как обратная разработка

[2015-08-23 18:42] alexandra-gsoftware commented on #3644
а у нас нигде нет описания структуры блоба, где храняться признаки?

[2015-08-23 18:49] gsbelarus commented on #3644
Во все времена, для НОРМАЛЬНОГО программиста, наилучшей документацией являлось чтение ИСХОДНОГО КОДА. Он у нас, по случаю, открыт.

[2015-08-23 19:31] zholnerovich commented on #3644
Вода кипит при 100 градусах и пельмени варятся при 100 градусах. Как бы мы жили, если бы не это случайное совпадение? извиняюсь что не по теме

[2015-08-23 19:44] MIchaelShoihet commented on #3644
Все настройки складского документа хранятся в двоичном потоке. Сначала идет номер версии - строка, затем строка наименование таблицы шапки, строка наименование таблицы позиции, потом целое число - тип складского документа, ключ на группу отчетов - целое число, потом 4 строки - информация по закладке Приход, Далее 2 списка предустановленных контактов по приходу, Потом 4 строковых поля по расходу, п

[2015-08-24 09:05] gsbelarus commented on #3644
Раскладываем по полочкам как для посетителя воскресного кружка по программированию для младших классов.

Берем тестовую БД и настраиваем складской документ. Задействуем все опции, доступные в окне. Для взамоисключающих опций -- сделаем второй тип документа. В одном настроим так, в другом -- эдак.

Теперь запускаем Гедымин в отладчике, ставим точку останова в начало кода считывания опций и методичн

[2015-08-24 10:16] zholnerovich commented on #3644
Есть проблема с методом TgdcInvDocumentLine.GetSelectClause:
Метод возвращает какие то стандартные поля + поля признаков.

допустим есть такая иерархия складских документов: Inv1 и его наследник Inv2. и они отличаются признаками.

на уровне Inv 1 перекрыт метод GetSelectClause

Если будет вызван метод GetSelectClause на уровне Inv1 то в перекрытый метод Inv1 придет результат  стандартные поля + по

[2015-08-24 10:18] gsbelarus commented on #3644
Почему?

С точки зрения объектно-ориентированного программирования все работает правильно. Нарисуйте схему, подобную этой:

http://gsbelarus.com/gs/images/gs/2014/polymorphism.png

(взято тут: http://gsbelarus.com/gs/wiki/index.php/%D0%9D%D0%B0%D1%81%D0%BB%D0%B5%D0%B4%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5_%D0%B1%D0%B8%D0%B7%D0%BD%D0%B5%D1%81-%D0%BA%D0%BB%D0%B0%D1%81%D1%81%D0%BE%D0%B2_%28%D0%BF%D0%BE

[2015-08-24 11:38] alexandra-gsoftware commented on #3644
если признаки в наследованом док-те  могут меняться (не добавляться, а удаляться), то да, есть проблема. Но разве так может быть?

[2015-08-24 11:39] gsbelarus commented on #3644
В наследованном документе могут ТОЛЬКО ДОБАВИТЬСЯ признаки.

[2015-08-24 11:43] alexandra-gsoftware commented on #3644
и в блобе/ямле будут только добавленные? Тогда все ок.

[2015-08-24 13:30] zholnerovich commented on #3644
Разбор потока складского документа
http://gsbelarus.com/gs/wiki/index.php/%D0%A0%D0%B0%D0%B7%D0%B1%D0%BE%D1%80_%D0%BF%D0%BE%D1%82%D0%BE%D0%BA%D0%B0_%D1%81%D0%BA%D0%BB%D0%B0%D0%B4%D1%81%D0%BA%D0%BE%D0%B3%D0%BE_%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%B0

[2015-08-24 13:39] zholnerovich commented on #3644
http://www.sql.ru/forum/1172213-a/firebird-3-vyborka-i-blob

[2015-08-24 16:11] gsbelarus commented on #3644
В вики нельзя ни удалить, ни переименовать. Согласовывайте название пернд тем как создать страницу. Потому что это никакой не поток складского документа. И описать можно по нормальному, создав страничку юнита, прописав там типы, классы и т.п.

[2015-08-24 16:12] gsbelarus commented on #3644
Сейчас не трогайте. Опять все самому делать придется.

[2015-08-24 16:16] zholnerovich commented on #3644
Как жаль что здесь нет смайлика, который бьется головой о стену

[2015-08-25 08:22] gsbelarus commented on #3644
Я смотрю на данные, и такой вопрос: а зачем нам вообще бинарный поток. Там же не так много параметров -- переделать все в поля в таблице с типами. Или создать доп таблицу для признаков типов складских документов. Тогда и YAML никакой не нужен и в файле ПИ сразу будут видны все настройки и все изменения, и вручную (их макросов) можно спокойно править параметры.

[2015-08-25 08:33] MIchaelShoihet commented on #3644
Да это было бы идеально. Причем не просто сделать отдельную таблицу, но и свой класс, что бы в случае необходимости можно было бы сделать ПИ содержащее только конкретные настройки документа, а не весь документ. Сейчас если необходимо добавить отдельный признак сохраняется весь типовой документ и если у пользователя что-то менялось, то все затрется.

[2015-08-25 08:56] NikolayUkleyko opened #3645 "Банк. Ошибка при добавлении документов в выписку типа 'Платежное поручение'"
Исследователь > Банк и касса > Банковская выписка.
  При попытке добавления документов в выписку типа "Платежное поручение" появляется окно с сообщением об ошибке.
  Пожалуйста, устраните.

  Ошибка выявлена на gedemin.exe:
- Дата файла = 18.08.2015
- Версия файла = 2.9.0.8415

Ошибки нет на gedemin.exe:
- Дата файла = 11.03.2015
- Версия файла = 2.6.19.8358

![1](https://cloud.githubusercontent.c

[2015-08-25 09:06] gsbelarus commented on #3645
У платежного поручения нет позиций. Естественно что при попытке создать TgdcUserDocumentLine -- будет ошибка. Так как она в макросе это не сюда, а к @alexandra-gsoftware в проект gedemin-apps.

[2015-08-25 09:58] alexandra-gsoftware commented on #3645
странно. мы исправляли это несколько  месяцев назад

[2015-08-25 10:22] gsbelarus commented on #3644
Напрашивается создание отдельного бизнес-класса для опции типа документа:

[code]

Тогда отпадают все проблемы с хранением, отображением, переносом через ПИ и т.п. Упрощается, точнее сводится к стандартным манипуляциям, работа с базой данных.

Загружать можно отдельно от типов документов, что ускорит начальную загрузку системы.

Операция A или S будет показывать как опция применяется: добавляется

[2015-08-25 11:18] zholnerovich commented on #3644
Тут надо еще обсудить прайсы, и их опции, возможно тогда надо делать два бизнес-класса

[2015-08-25 11:20] gsbelarus commented on #3644
ЗАЧЕМ? каждая опция хранится отдельной строкой в привязке к типу документа. Никаких отдельных классов не надо. Их вообще не надо привязывать к складскому документу, а просто к типу документа, самому корневому.

[2015-08-25 11:22] zholnerovich commented on #3644
А можно расшифровать поля, а то если честно, то не понятно что это за структура

[2015-08-25 12:03] alexandra-gsoftware commented on #3644
а можно пример?
есть документ. Приход оформляется на usr$todepotkey в позиции, расход - на usr$fromdepotkey в шапке. Используются остатки. Есть выбор из отрицательных остатков. Нет выбора из справочника. Фром-поле -usr$inv_costaccncu. Ту-поля: usr$inv_costretailncu, usr$inv_barcode. Как это будет храниться?

[2015-08-25 12:04] gsbelarus commented on #3644
Подумайте. все же очевидно.

[2015-08-25 12:39] alexandra-gsoftware commented on #3644
Я бы добавила почти все поля в GD_DOCUMENTTYPE, а в дополнительной таблице хранила бы только признаки старой и новой карточки, и признаки для выбора из отрицательных остатков.

[2015-08-25 12:43] gsbelarus commented on #3644
Для каждого признака отдельная запись в таблице gd_documenttype_option. Т.е. для ОДНОГО типа складского документа в этой таблице будет 5-7-20... записей.

[2015-08-25 12:43] MIchaelShoihet commented on #3644
Если уже делать отдельную таблицу так выносить туда все признаки. Тогда вы сможете сделать отдельное ПИ и убрать у документа скажем контроль остатков и точно не затронув никакие другие настройки.

[2015-08-25 12:49] alexandra-gsoftware commented on #3644
А как перенести с эталонной базы куда-нибудь факт, что признак "вычитается"? В любом другом механизме мы бы просто удалили его из ПИ, а теперь его всегда надо хранить с признаком "S" или Disabled?

[2015-08-25 12:51] gsbelarus commented on #3644
в обычной жизни -- просто удалить. это такой же бо, как и все остальное. признак S задумывается как возможность принудительно убрать признак у клиента, даже если до этого он там, непосредственно на базе клиента, был установлен.

[2015-08-25 12:55] alexandra-gsoftware commented on #3644
мне кажется это не нужно. С клиентами, которые уже есть, все равно придется руками что-то править, а с новыми договорились использовать наследование. Кстати, в этом случае вызывает сомнение факт, что у наследника признаки только добавляются....

[2015-08-25 13:00] MIchaelShoihet commented on #3644
Какая разница где оно хранится, более того в этом случае контроль можно сделать и на уровне базы данных и потом поля настройки складского документа совсем не нужны простому документу или прайс-листу. Я однозначно за предложенную структуру.

[2015-08-25 13:03] alexandra-gsoftware commented on #3644
я про признак S

[2015-08-25 13:50] gsbelarus commented on #3644
Пока план такой:
1. таблица для бизнес класса TgdcDocumentTypeOption в скриптах
2. делаем бизнес-класс
3. при загрузке списка типов документов Options не грузим. даже из запроса его исключить надо.
4. делаем TgdInvDocumentEntry = class(TgdDocumentEntry) где определяем и храним все признаки. При этом, при обращении к признаку проверяем а были ли признаки прочитаны из бд. Если нет, то смотрим: а ест

[2015-08-25 14:24] gsbelarus commented on #3644
Остается вопрос с множествами. Точнее, надо ли нам манипулировать отдельными элементами множества? Например, к тому что установлена у клиента вручную, установить настройкой еще какой-то флаг.

Если не надо, то формируем строку из имен элементов множества, через запятую, и храним как один параметр. Соответственно, при загрузке из ПИ будет устанавливаться строго значение, которое есть в ПИ.

Если на

[2015-08-25 14:25] alexandra-gsoftware commented on #3644
Если Использовать справочник и Использовать остатки - это сейчас элементы множества, сделайте их отдельными записями

[2015-08-25 14:27] gsbelarus commented on #3644
Скорее всего все лучше булевскими флагами хранить и не дурить себе голову с преобразованием в строку и обратно.

[2015-08-26 08:56] NikolayUkleyko commented on #3645
Исправляли в ПИ, а не gedemin.exe ?
  Суть в том, что в некоторых случаях не желательно устанавливать новые ПИ (в данном случае по Банку): все затрет. А здесь просто gedemin.exe обновили.
:worried:

[2015-08-26 09:11] gsbelarus commented on #3644
Признаки складского документа будут оформлены ввиде свойств класса TgdInvDocumentEntry. Скорее всего внутри следует держать флаг прочитаны они или нет, и исчитывать при знаки для конкретного типа складского документа при первом обращении к ним. Хотя тут надо эксперементировать, и, в первую очередь, знать общее количество признаков на рабочих базах. Поскольку, возможно, окажется быстрее считать все

[2015-08-26 10:05] zholnerovich commented on #3644
1) Предлагаю создать отдельный класс для признаков TgdInvOptions, в TgdInvDocumentEntry добавить свойство InvOptions: TgdInvOptions и метод GetInvOptions(т.е если объекта нет, то он создается)
плюсы:
  один объект будет спокойно обслуживать два объекта шапку и позицию, не надо для них        держать дубляж
  вся реализация будет вынесена за пределы TgdInvDocumentEntry, где она собственно и не нужн

[2015-08-26 10:15] gsbelarus commented on #3644
Можно и так. Только все равно надо держать новое и старое значение. Чтобы сохранять в БД только то, что надо.

[2015-08-26 18:01] alexandra-gsoftware commented on #3645
там косяк в пи. Старый экзешник гасил ошибку в этом месте

[2015-08-27 09:10] alexandra-gsoftware opened #3646 "Сортировка полей объекта в ПИ"
Можно ли при сохранении объекта в ПИ сортировать его поля по имени? И при выгрузке его для сравнения - тоже? А то постоянно файл и база отличаются тем, что в одном случае
DISABLED
EDITIONDATE,
а в другом -
EDITIONDATE
DISABLED....

[2015-08-27 15:36] NikolayUkleyko commented on #3636
Хорошо, что много и красиво написано про СОЗДАНИЕ документов при помощи механизма наследования. Про ИСПОЛЬЗОВАНИЕ документов, созданных при помощи механизма наследования написано мало.
  Есть документ исходный "Книга покупок" и есть от него наследуемый документ "Книга продаж". Не надо, чтобы в документе "Книга покупок" отображались записи по документу "Книга продаж".

[2015-08-27 16:12] zholnerovich commented on #3636
у меня возникло чувство, что используете наследование не по назначению, отсюда и проблемы возникают. Запрос и кнопку поправить пять сек, только вот надо ли?

[2015-08-27 16:30] NikolayUkleyko commented on #3635
Проверил.
  Shift + стрелки хорошо. Но, когда необходимо выделить блоки с 50 по 80 и все это через стрелки, то не очень удобно. Придется 30 раз выделять каждый блок. Можно ли сделать выделение группы блоков через Shift (50-й блок) и клик мышкой по последнему выделяемому блоку (80-й блок) ?

[2015-08-27 16:51] NikolayUkleyko commented on #3636
Механизм наследования мы используем корректно. На сколько мне известно, что одна из основных возможностей механизма наследования это БЫСТРОЕ и ПОЛНОЕ создание нового документа, справочника и прочего на базе существующего документа, справочника и прочего. Использование наследуемых документов, справочников и прочего будет отличаться от исходных документов, справочников и прочего.
  Пример, есть доку

[2015-08-27 16:54] NikolayUkleyko commented on #3636
Про это уже писали. Необходимо предусмотреть ГИБКУЮ настройку таких параметров.

[2015-08-27 17:23] zholnerovich commented on #3636
А как общепит собирается использовать документ "01. Накладная на получение товара"? Зачем он ему?

[2015-08-28 06:52] NikolayUkleyko commented on #3636
Я привел пример. Если, не общепит, то можно рассмотреть реализацию и такие документы, как:
- 03. Отпуск товара на сторону (оптовая торговля);
- 03. Отпуск товара на сторону (реализация).

[2015-08-28 07:10] MIchaelShoihet commented on #3636
Книга продаж это первый опыт и он не совсем корректный. Должен быть базовый класс Книги (предположим) от которого должны наследоваться классы Книга покупок и Книга продаж. При проектировании Общепита, мы об этом как раз и подумали. Нельзя делать наследование и потом предполагать что оно будет какое-то не много не такое.

[2015-08-28 07:13] NikolayUkleyko commented on #3636
По данному вопросу с Александрой не спорю.

[2015-08-28 07:16] gsbelarus commented on #3636
Реализован механизм объектно-ориентированного наследования. В природе другого нет. Перед тем как использовать, хотя бы в википедии почитайте что это такое и не дергайте Павла.

Еще раз:
1. Есть накладная просто. Есть список накладных.
2. Делаем наследника Накладная-общепит.
3. Накладная общепит ЯВЛЯЕТСЯ накладной просто, точно также, как, например, кошка ЯВЛЯЕТСЯ млекопитающим,  а панельный жилой

[2015-08-28 11:35] flakekun opened #3647 "ReadOnly у полей новой карточки в гриде складского документа"
В конце 2013 года были сделаны изменения в форме `gdc_dlgInvDocument_unit` из-за которых у приходного документа, выбирающего позиции из справочника ТМЦ недоступны для редактирования поля с префиксом `CARD_` (хотя эти поля созданы для ссылок из `TO_` признаков). Чтобы появилась возможность изменять их необходимо поставить галочку `Разрешить изменять признаки существующей карточки`.
Так и задумывало

[2015-08-28 11:48] MIchaelShoihet commented on #3647
Галка вообще не влияет на to признаки. Изменения являются исправлением. Теперь поведение программы полностью отвечает названию признаков, что бы их можно было изменять надо поставить соответствующие галки и правильная настройка приходной накладной как раз в том что бы их поставить. Тут конечно было разночтение - в приходной накладной эти признаки являются признаками новой карточки, но так было сде

[2015-08-28 11:50] MIchaelShoihet commented on #3647
Согласитесь, что если переделать в приходной накладной FROM признаки на TO это приведет к тому что придется переписать половину кода, а так только поставить галки...

[2015-08-28 12:00] flakekun commented on #3647
Хм. Но в приходной накладной и есть `TO_` признаки (новой карточки). `FROM_` полей в гриде там нет (не выбираем из остатков). И даже если эту галочку ставить обязательно, то смущает ее поведение:
- снята - простые `TO_` можно менять, ссылки `TO_` (`CARD_`) - нельзя
- поставлена - все можно менять

Странно что 'Разрешить изменять признаки **существующей карточки**' влияет на принаки новой карточки.

[2015-08-28 12:50] #3647 closed, assigned to nobody

[2015-08-28 14:41] NikolayUkleyko opened #3648 "Бухгалтерия. Уровни аналитики. Предупреждение о некорректных параметрах"
**_Исследователь > Бухгалтерия > Журнал-ордер**_.
  Пожалуйста, предусмотрите возможность отображения соответствующего сообщения (до нажатия на кнопку F5 или "Построить отчет") при вводе некорректных параметров в блоке **Уровни аналитики**. Сейчас при вводе некорректных значений параметров в блок **Уровни аналитики** программа отображает очень страшное сообщение об ошибке. Не каждому пользователю

[2015-08-28 15:38] NikolayUkleyko commented on #3613
Продолжаем тему.
  При попытке удаления записей при активном фильтре "Поиск" (бинокль), да и при предопределенном фильтре программа выдает сообщение об ошибке. Как раз-таки никаких ссылок нет - это обычная ручная проводка. Такого быть не должно.
![2](https://cloud.githubusercontent.com/assets/11497453/9550337/4aa3b2ea-4db3-11e5-92b2-be0eadb02295.png)

[2015-08-28 15:48] MIchaelShoihet commented on #3613
Ясное дело что фильтр и поиск для удаления документа никакой роли не играет. Я скажу больше даже проводка созданное по документу к такому сообщению не приведет. А вот если в какой-то другой проводке в качестве аналитики документ будет выбран данный документ (например при создании ручной проводки), то тогда будет такое сообщение и оно будет верным. Так что внимательно проверьте проводки. К первому

[2015-08-28 15:49] MIchaelShoihet commented on #3613
Я забыл написать, что ручная проводка - это то же документ, просто не явный. И этот документ, то же может быть объектом аналитики

[2015-08-28 21:09] NikolayUkleyko commented on #3613
Я Вас понял.
  Еще раз проверил, что ссылок на документы нет (как аналитики). Добавил новые записи в Журнале хоз. операций. При использовании фильтра "Поиск" при попытке удаления некоторых записей программа выдает аналогичное сообщение. Без фильтра "Поиск" записи удалятся без проблем.

  Это другая история, но также по Журналу хоз. операций.

[2015-08-29 09:13] MIchaelShoihet commented on #3613
Не получается смоделировать такую ситуацию. Ввожу ручную проводку потом использую фильтр поиск по одному из счетов проводки получаю выборку удаляю введенную проводку, замечательно удаляется. Необходимо более  подробный набор действий при котором проводка не удаляется.

[2015-08-31 14:05] gsbelarus commented on #3644
Как давно у нас headerrelkey, linerelkey переместились из потока опций в отдельные поля в таблице gd_documenttype? Т.е. можно ли их игнорировать при считывании потока, полагаясь на значения из полей таблицы?

[2015-08-31 18:34] MIchaelShoihet commented on #3644
Они туда переместились очень давно, когда появились документы пользователя. Исторически у нас сначала были только складские документы, потом появились прайсы и только потом документы пользователя, тогда и появились отдельные поля, т.к. для документа пользователя ничего больше не надо было.

[2015-09-01 16:42] NikolayUkleyko commented on #3627
Проверено.
  Работает корректно.
  Спасибо, Паша !

[2015-09-01 16:52] NikolayUkleyko commented on #3579
Пожалуйста, подправьте.

[2015-09-01 16:53] NikolayUkleyko commented on #3571
Пожалуйста, подправьте.

[2015-09-01 16:56] NikolayUkleyko commented on #3547
Можно ли это реализовать ?

[2015-09-01 16:58] NikolayUkleyko commented on #3526
Здесь также необходимы правки.

[2015-09-01 17:16] MIchaelShoihet commented on #3547
Про карточку можно добавить. Вставить ОС конечно нельзя, gedemin не знает про тип ТМЦ по которому идет движение.

[2015-09-01 20:18] gsbelarus commented on #3644
Надо ли делать возможность устанавливать на клиентской бд признаки типа складского документа, которые нельзя будет затереть/переопределить загружая ПИ?

[2015-09-02 07:06] gsbelarus commented on #3644
На предыдущий вопрос надо дать ответ.

И еще вопрос: в признаках, которые массивы (полей, контактов), порядок имеет значение или нет?

[2015-09-02 10:00] MIchaelShoihet commented on #3644
По второму вопросу - значения нет, по первому теоретически такого не должно быть, что бы были такие признаки,

[2015-09-03 07:46] NikolayUkleyko commented on #3547
Хорошо. Так будет лучше.

[2015-09-04 12:36] gsbelarus opened #3649 "Не срабатывает ивент из родительской формы"
Есть наследованная форма. В родительской для кнопки определен ивент. В наследованной он не срабатывает, пока мы не определим ивент (хотя бы и пустой).

[2015-09-04 12:47] gsbelarus opened #3650 "Наследованные типы и TgsIBLookupCombobox"
Проверить, работает ли.

[2015-09-04 12:50] alexandra-gsoftware commented on #3649
иногда срабатывает. Там более сложная комбинация.

[2015-09-04 12:54] gsbelarus commented on #3649
какая?

[2015-09-04 13:02] alexandra-gsoftware commented on #3649
а чтоб я знала)) Я так и не поняла, но там надо было открыть родительскую форму, а потом наследованную форму, и еще какой-то неизвестный фактор. А на последнем ехе точно осталась эта проблема? Может, уже починили?

[2015-09-10 09:12] PiuPauTralala opened #3651 "Relation и RelationLine у документа."
У объекта типового пользовательского документа есть два свойства Relation и RelationLine.
На старом exe там были имена таблиц шапки и позиций соответственно. Сейчас пусто.

[2015-09-14 09:43] MIchaelShoihet commented on #3651
Имеется ввиду наверное класс TgdcUserDocument, потому что у класса типового пользовательского документа TgdcUserDocumentType эти свойства называются DocRelationName DocLineRelationName и они работают

[2015-09-14 11:46] PiuPauTralala commented on #3651
Вы правы.

[2015-09-15 12:23] gsbelarus opened #3652 "RelationName vs DocRelationName"
На уровне TgdcBaseDocumentType есть свойства:

[code]

На уровне TgdcInvDocumentType:

[code]

Они могут отличаться чем-то? В чем смысл свойст и там, и там?

[2015-09-15 18:55] alexandra-gsoftware opened #3653 "Создание наследованного складского документа"
Попытка 1. Добавляем новый типовой документ. Наследуется от существующего. Автоматически подставились имя таблицы, шаблон, таблица шапки, таблица позиции. В этом документе будут дополнительные поля и в шапке, и в позиции, поэтому надо бы создать доп. таблицы. Указываем новое имя таблицы. Таблица шапки и таблица позиции автоматически очистились - все верно. По F2 создаем новые таблицы шапки и позиц

[2015-09-16 07:28] MIchaelShoihet commented on #3652
Я так понимаю чисто исторически. Т.к. класс TgdcInvDocumentType был создан раньше... конечно надо оставить только одно свойство... Но возможно для совместимости лучше уже ничего не трогать.

[2015-09-18 08:26] MIchaelShoihet opened #3654 "Неработает подстановка типовой операции в позиции банковской выписки"
Если для позиции банковской выписки в типовых документах была прописана функция установки типовой операции, то на новом exe она не работает. Вообще не вызывается. Для других документов все нормально.

[2015-09-28 06:56] MAliaksandr commented on #3654
+

[2015-09-28 16:17] gsbelarus opened #3655 "Проверить TgdClassList.LoadRelation"
Проверить, чтобы в TgdClassList.LoadRelation наследованная таблица документа не подхватилась, как основная таблица пользовательского класса.

[2015-10-01 15:01] YRozmysl opened #3656 "Системные поля и триггеры в справочниках"
Возможно ли в следующие справочники добавить системные поля и триггеры, чтобы в будущем  при обновлении ПИ избежать проблемы затирания:
1. Тип отработанных часов USR$WG_HOURTYPE
2. Виды отпуска USR$WG_VACATIONTYPE
3. Должности
4. Типы больничных USR$WG_ILLTYPE

[2015-10-02 14:47] igor6003 opened #3657 "Не перепроводится документ при удалении позиции"
Если проводка в складском документе настроена по шапке, то при удалении позиции не из диалоговой, а из основной формы проводка не изменяется.

[2015-10-02 16:34] YRozmysl opened #3658 "Обновления функций, методов через ПИ"
Хотелось бы знать четкие правила и условия по которых при обновлении ПИ происходит обновление ф-ций "по-тихому". Так как на практике, есть вопросы. Пример. Есть база, в которой ф-ция имеет editiondate 01.02.2014 и которая входит в  ПИ версии 100 от 01.03.2014. Далее.  Через некоторое время на базе обновляется это же ПИ, версия которого 101 от 01.01.2015, а функция о которой идет речь в этом новом

[2015-10-03 14:36] MIchaelShoihet commented on #3657
Да есть такое. Вы сами должны отслеживать такую ситуацию.

[2015-10-05 08:49] NikolayUkleyko commented on #3657
Можно попробовать воспользоваться макросом **Перепровести количество**.

[2015-10-05 08:53] MIchaelShoihet commented on #3657
Макрос - это понятно. Если проводка настроена на шапку и сумма проводки зависит от позиции (это не всегда бывает так), То на удаление позиции (DoAfterCustomProcess или DoAFterDelete позиции) надо вызывать метод CreateEntry для шапки.

[2015-10-05 09:00] gsbelarus opened #3659 "GetBaseClassForRelation"
Сейчас сканирует все дерево классов. Причем в процессе определения GetDistinctRelation дергается atDatabase для поиска таблицы по ИД (тоже перебор).

[2015-10-05 13:28] AliakseiDanilchyk commented on #3656
Вероятно, имеются в виду поля EDITIONDATE, EDITORKEY

[2015-10-05 13:31] YRozmysl commented on #3656
Да, именно эти поля. Но, чтобы при редактировании они соответственно менялись, на триггерах или как то-то там еще

[2015-10-06 16:23] gsbelarus opened #3660 "Уточняем возможности по логу"
Здесь просматриваются несколько подходов:
1. Лог хранится внутри гедымина. В сервер (или назовем его монитор?) передается информация об активных процессах. Когда сервер (монитор) хочет отобразить записи лога он запрашивает их из Гедымина. Сам сервер (монитор) только отображает. Ничего не хранит, в БД, на диск не пишет и т.п.
2. Внутри Гедымина, в нити TgdLog, хранится только буфер для передачи на

[2015-10-07 07:15] MIchaelShoihet commented on #3660
Было бы хорошо, если логируются действия Администратора то к пользователю добавлять имя компьютера, возможно пользователя Windows...

[2015-10-07 11:17] igor6003 commented on #2574
Если в функции acc_scr_CalcSaldo этой формы в формировании WHERE части
заменить
 `if not IsMain then`
  `  `qry.SelectSQL.Text = qry.SelectSQL.Text + MDWhere`
  `end if`
на
 ` if not IsMain then`
  ``qry.SelectSQL.Text = qry.SelectSQL.Text + _`
`     ``" and e.usr$gs_customer = :usr$gs_customer " + MDWhere`
  `end if`,
то перемещение по строкам идёт быстро.

[2015-10-07 11:26] MIchaelShoihet commented on #2574
Но тогда пустая аналитика не учитывается....

[2015-10-07 11:45] igor6003 commented on #2574
Почему?
Проверил, вроде всё работает и с галкой и без.
Если конечно стыковать мастер и деталь не по клиенту, тогда да.
Но врядли у кого-то это используется (это тоже можно проверять если надо).

[2015-10-07 11:53] MIchaelShoihet commented on #2574
Если клиент пустой. Разноска это общий механизм и клиент там не обязательное поле.

[2015-10-07 11:59] igor6003 commented on #2574
Ну, у нас разноска делается по клиентам. А вообще можно проверять, если клиент
пустой, то условие старое, если нет - с ограничением по клиенту.

[2015-10-08 13:30] alexandra-gsoftware opened #3661 "данные в ПИ vs циклические ссылки"
у нас есть ситуации, когда 2 объекта зависят друг от друга циклично. Пример:
Компания ссылается на директора, который ссылается на подразделение, которое ссылается на компанию.
Компания ссылается на главный счет, который ссылается на компанию.
Как развязать эти зависимости при сохранении в пи?

[2015-10-08 13:33] gsbelarus commented on #3661
Сохраняйте в одном ПИ. Циклические ссылки нормально обрабатываются.

[2015-10-13 08:30] NikolayUkleyko commented on #3656
Вопрос ?
  Если, пользователь вызвал на редактирование запись в справочнике и ничего не меняя, нажал клавишу **ОК**. В результате поменяются значения в полях EDITIONDATE, EDITORKEY. В ходе разработки ЗП и ОК выполнены некоторые доработки для данного справочника и прочих расчетов. То есть, необходимо обновить записи в справочнике. При очередной установке ПИ, такая запись в справочнике не обновится.

[2015-10-13 08:31] gsbelarus commented on #3656
В этом и вопрос, что автоматически сделать невозможно. Или так, или так будет плохо. А не автоматически -- ну, кто будет читать сотни предупреждений/вопросов в процессе загрузки?

[2015-10-13 08:33] YRozmysl commented on #3656
При обновление будет  сервисное окно "Конфликт обновления данных" в данном случае, где будет все видно, что поменялось в репозитории, а что в базе. И пользователь, которые устанавливает ПИ сам выбирает, оставить или затереть. Это гораздо лучше, чем просто молча все затрет.

[2015-10-13 08:41] NikolayUkleyko commented on #3656
Когда будет это сделано, тогда и посмотрим.

[2015-10-13 08:46] YRozmysl commented on #3656
В твоем примере все будет хорошо. При обновлении ПИ сравниваются версия ПИ + editiondate. Т.е. если на базе поменяется просто только editiondate  версия ПИ на базе в которое оно входит не сменится. Следовательно, при загрузке нового ПИ, версия которого будет выше, все эти ситуации сразу будут отслеживаться.

[2015-10-13 09:52] NikolayUkleyko commented on #3656
ОК !

[2015-10-13 09:55] NikolayUkleyko commented on #3558
Данная тема рассмотрена в других темах.
  Поэтому, если ни у кого нет вопросов, то эту тему можно закрыть.

[2015-10-13 10:00] NikolayUkleyko commented on #3504
Если, ни у кого нет вопросов, тему можно закрыть.

[2015-10-13 12:51] NikolayUkleyko commented on #3429
Закройте тему.

[2015-10-15 10:11] NikolayUkleyko commented on #3661
Все сделано согласно инструкции. Александра проверила.
  По-прежнему, при установке ПИ со справочниками Гедымин ругается:
![1](https://cloud.githubusercontent.com/assets/11497453/10510680/ffaec644-733c-11e5-8408-81538dd6ed4f.png)

  Посмотрите, что в отчете Неверные зависимости:
![2](https://cloud.githubusercontent.com/assets/11497453/10510833/ea1c1b0a-733d-11e5-90e1-0fa45c2579fe.png)

  Данная пр

[2015-10-19 07:45] NikolayUkleyko commented on #3661
По данной теме есть какие-нибудь новости и пути решения проблемы ?
  Сохранили в ПИ клиенты и банковские счета (пробовали с зависимым и без). При попытке установки данного ПИ программа выдает сообщение об ошибке.

[2015-10-20 14:04] gsbelarus commented on #3661
В пространстве имен для банка указан тип TgdcCompany. Зайти, найти в позициях ПИ такую запись, поправить тип на TgdcBank. Пересохранить ПИ и все будет работать ОК.

[2015-10-20 14:09] gsbelarus commented on #3661
Говорят, что банк может сохраниться в ПИ как TgdcCompany. Если кто сможет повторить -- проставлюсь. У меня не получилось.

[2015-10-20 14:15] NikolayUkleyko commented on #3661
Пожалуйста, две базы данных:
1. i...\Etalon\Demobase\DB\BUSINESS2015071620151006_12_02.FDB - эталонная демобаза. Содержит данные за 2014 г. На данной БД сохраняются данные в ПИ.
2. i...\Etalon\Demobase\DB\Clear\BUSINESS20151008_11_42.FDB - эталонная база данных без данных. Специально для установки ПИ с данными и дальнейшей проверки.
  Простой пример: сохранение клиентов и их расчетных счетов в одн

[2015-10-20 14:19] alexandra-gsoftware commented on #3661
у меня только что поставились о_О
счета и клиенты в одном пи. Счета идут после клиентов.

[2015-10-20 14:28] NikolayUkleyko commented on #3661
Очень интересно, как это удалось ?

[2015-10-20 14:35] alexandra-gsoftware commented on #3661
еще раз проверила.
если в ПИ идут компания, потом счет - то ставится
если счет, потом компания - то нет (кстати, именно так сам гедымин добавляет, если добавлять компанию с зависимыми)

[2015-10-20 15:38] gsbelarus commented on #3661
Все. Теперь будут и такие кольцевые ссылки нормально обрабатываться. При условии, что все связанные в кольцо объекты в одном файле ПИ находятся.

[2015-10-20 15:38] #3661 closed, assigned to nobody

[2015-10-21 06:36] NikolayUkleyko commented on #3661
А где новый gedemin.exe ?

[2015-10-21 08:43] gsbelarus commented on #3659
В продолжение темы о внутренней оптимизации. Нуждаются во внутреннем ускорении:

atDatabase:
- Relations.ByRelationName
- Relations.ByRelationID
- RelationFields.ByFieldName
- Fields.ByFieldName

gdClassList:
- DocByTypeID
- DocByRUID

[2015-10-21 14:35] NikolayUkleyko commented on #3661
На новейшем gedemin.exe пересохранил ПИ с данными. При дальнейшей установке таких ПИ возникли другие ошибки. Завтра с Александрой проработаем такие вопросы.

[2015-10-22 07:17] NikolayUkleyko opened #3662 "Перечень файлов рядом с gedemin.exe"
Здесь http://gsbelarus.com/gs/wiki/index.php/%D0%9F%D0%B5%D1%80%D0%B5%D1%85%D0%BE%D0%B4_%D0%BD%D0%B0_Firebird_2.5._%D0%9C%D0%BD%D0%BE%D0%B3%D0%BE%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B9_%D1%80%D0%B5%D0%B6%D0%B8%D0%BC указано, что для работы программы рядом с gedemin.exe необходимо расположить следующие файлы:

**fbclient.dll
icuuc30.dll
icuin

[2015-10-22 07:27] NikolayUkleyko opened #3663 "Архивное копирование"
Старый способ настройки архивного копирования предусматривал следующее: **_Сервис > Параметры > Архивное копирование**_.
![1](https://cloud.githubusercontent.com/assets/11497453/10659212/d62f60f2-78a6-11e5-8810-25d068861ddb.jpg)

  Новый способ архивного копирования предусматривает следующее: **_Исследователь > Сервис > Администратор > Автозадачи**_.
![2](https://cloud.githubusercontent.com/assets

[2015-10-22 08:23] gsbelarus commented on #3662
http://gsbelarus.com/gs/wiki/index.php/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D1%84%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2_%D0%B4%D0%B8%D1%81%D1%82%D1%80%D0%B8%D0%B1%D1%83%D1%82%D0%B8%D0%B2%D0%B0_%D0%BF%D0%BB%D0%B0%D1%82%D1%84%D0%BE%D1%80%D0%BC%D1%8B_%D0%93%D0%B5%D0%B4%D1%8B%D0%BC%D0%B8%D0%BD

Это библиотеки SSL. Используются когда Гедымин в качестве веб сервера работает.

https://ru.wikipedia.org/wiki/SSL

[2015-10-22 08:23] #3662 closed, assigned to gsbelarus

[2015-10-23 11:38] NikolayUkleyko commented on #3579
Пожалуйста, подправьте.
  Это самым прямым образом относится к типовому решению **Бухгалтерия**.

[2015-10-23 12:38] YRozmysl commented on #3579
Так, может, есть смысл вообще в числовых полях в документах сделать разрядность при отображении? Это гораздо лучше воспринимается визуально.

[2015-10-26 10:29] NikolayUkleyko opened #3664 "В Карту счета добавить поле 'Дата изменения'"
**_Исследователь > Бухгалтерия > Карта счета**_.
  Пожалуйста, добавьте в **Карту счета** поле **Дата изменения**.
  Так будет гораздо удобнее и быстрее анализировать и редактировать проводки за необходимый период и за указанное количество дней внесения изменений. Достаточно указать отчетный период, не указывая счета и в Карту счета попадут все проводки. Затем, через автофильтр выявить требуемые п

[2015-10-26 10:40] NikolayUkleyko opened #3665 "В Карте счета съезжает поле 'Дата документа' (Q)"
**_Исследователь / Бухгалтерия / Карта счета._**
При формировании Карты счета с выбранной галкой по реквизиту **Расширенное отображение полей** поле **_Дата документа_** отображается в самом конце формы.
Это не есть удобно.
Необходимо, чтобы в данном случае поле **_Дата документа_** отображалось сразу за полем **Дата проводки**.
Так будет гораздо удобнее анализировать и редактировать проводки.

[2015-10-26 12:23] NikolayUkleyko commented on #3664
![1](https://cloud.githubusercontent.com/assets/11497453/10728731/657d74dc-7bf5-11e5-9a21-61e45268c6cd.jpg)

[2015-10-26 12:37] NikolayUkleyko commented on #3665
![1](https://cloud.githubusercontent.com/assets/11497453/10728963/2cf7467c-7bf7-11e5-8277-4d7af11a216b.jpg)
![2](https://cloud.githubusercontent.com/assets/11497453/10728965/2dfb0068-7bf7-11e5-9e13-2085f544307b.jpg)

  В Карте счета поле с наименованием **Дата** много. Пожалуйста, для удобства и наглядности выводите поле именно с датой документа с заголовком **Дата документа**.

[2015-10-28 15:32] #3646 closed, assigned to gsbelarus

[2015-10-28 15:36] gsbelarus opened #3666 "ПИ. Загрузка данных со ссылкой на рабочую организацию"
Все ссылки на gd_contact, gd_company, gd_ourcompany проверять на ИД рабочей организации и сохранять в файл ПИ не РУИД, а метасимвол (или специальный, зарезервированный РУИД), который на целевой базе заменять на ИД тамошней рабочей организации.

[2015-10-28 15:37] YRozmysl opened #3667 "Обновление ПИ"
При обновлении ПИ на базе, на котрой они уже были установлены ранее возникают ошибки. Вот одна из их.

18:22:09  Добавляется объект: TgdcAttrUserDefinedUSR_MONTH_CHARGESLINE_SUBCheckSubSet, 157706968_1912201015, GD_FUNCTION
[Предупреждение] 18:22:09  Для поля MODULECODE использовано временное значение 1010001
18:22:09  Создан объект: TgdcAttrUserDefinedUSR_MONTH_CHARGESLINE_SUBCheckSubSet (TgdcFun

[2015-10-28 15:39] gsbelarus opened #3668 "Options для TgdcDocumentType"
Не писать данное поле в файл ПИ.

[2015-10-28 15:50] alexandra-gsoftware commented on #3667
Возможно, не подтянулось ПИ Зарплата - Evt_Object

[2015-10-28 16:11] gsbelarus opened #3669 "Показывать наличие файлов ПИ с разными статусами"
После сравнения с каталогом с ПИ файлами в окне синхронизации как-то показывать, что есть файлы со статусами ?, >>, <<.

[2015-10-28 16:25] YRozmysl commented on #3667
Возможно, ставил я отдельно ПИ Зарплата -макросы, при котором возникла эта ошибка. но даже если я ставлю все зависимые ПИ из папки Зарплата (23 ПИ), то возникает все равно ошибка и ругается уже вот на это
8:29:07
Поиск объекта по потенциальному ключу:
SELECT id FROM gd_function WHERE UPPER(name) = UPPER(:name) AND modulecode = :modulecode
NAME: wg_RoundHourWage
MODULECODE: 1010001
18:29:07  Изменя

[2015-10-28 16:28] YRozmysl commented on #3667
Если надо, есть весь лог обновления ПИ  ЗПиОК

[2015-10-28 22:58] alexandra-gsoftware commented on #3667
кстати, такое еще видела. В одном ПИ два тмц с одинаковым названием (но из разных групп). При установке Гедымин будто бы пытается их объединить (один руид пытается заменить на другой). Разве это правильно?

[2015-10-29 05:59] gsbelarus commented on #3667
Надо посмотреть какой там CheckTheSameStatement.

[2015-10-30 12:10] alexandra-gsoftware opened #3670 "ПИ vs складское движение"
попробовала сохранить демо данные по складу в ПИ. Шапки складских документов перенесла отдельным ПИ. Позиции  отсортированы по movementdate,movementkey. Специфические случаи (инвентаризация, когда кол-во не изменилось) вставлены руками в нужное место ПИ. И вот что в итоге:
1) в файле ПИ сохранены руиды карточек,  более того, при установке в логе можно видеть поиск карточек по руидам. Разве это пра

[2015-10-30 12:43] gsbelarus commented on #3670
Теоретически карточки, движение никоим образом не должны попадать в пи. Только сам док и его позиции. Вы же когда ввводите документ вручную не вводите inv_card, inv_movement. Они формируются автоматом. Точно так же и при загрузке из пи.

[2015-10-30 12:49] alexandra-gsoftware commented on #3670
Теоретически не должны, я про то и говорю.

[2015-10-30 13:16] alexandra-gsoftware commented on #3670
По пункту 2: https://github.com/GoldenSoftwareLtd/gedemin/issues/3010
карточки подставляются новые, но их руиды все равно сохраняются.
при повторной загрузке ПИ ссылки на позицию прихода все равно не обновились (возможно, из-за editiondate)

[2015-10-30 15:00] alexandra-gsoftware opened #3671 "ПИ vs триггер vs метод БО"
В позиции приказа о приеме на работу (отдел кадров) есть поле USR$FIRSTMOVE. Это поле заполняется на _DoOnNewRecord значением Self.FieldByName("documentkey").AsInteger.

На таблицу позиции приказа о приеме на работу есть триггер AfterInsert, который обращается к USR$FIRSTMOVE. При загрузке документа из ПИ поле USR$FIRSTMOVE в триггере NULL.

Можно это как-то обойти (не меняя ПИ ЗП и ОК)?

[2015-11-02 08:39] gsbelarus commented on #3656
При создании таблицы справочника разработчик выбирает: создавать со служебными полями, в числе которых EDITIONDATE, EDITORKEY или без них.

Я могу сделать апгрейд, чтобы изменить тип указанных выше таблиц. Если есть еще такие -- напишите.

Меняет бизнес-объект. Триггером менять не всегда желательно.

Если в окне ничего не менялось, то указанные поля меняться не будут. Однако, стоит учесть, что:
1.

[2015-11-02 08:54] gsbelarus commented on #3656
Можно и вручную сделать:
1. В окне SQL редактора добавляем поля в таблицу-справочник:

[code]
1. В позиции ПИ находим данную таблицу и меняем ее класс с **TgdcPrimeTable** на **TgdcSimpleTable**.
2. Меняем дату редактирования объекта (или окно диалоговое открываем, что-нибудь меняем и сохраняем, или в таблицe at_relations для нужной записи увеличиваем дату).
3. Пересохраняем ПИ.

[2015-11-02 10:22] gsbelarus commented on #3670
Только что сохранил в ПИ шапку, сохранил пощзицию. Все ок. В файле только две записи.

Вы с зависимыми сохраняли.

НЕ НАДО ЭТОГО ДЕЛАТЬ!

[2015-11-02 10:23] gsbelarus commented on #3670
С зависимыми -- это галка для ВДУМЧИВОГО разработчика, который понимает что делает.

Нормальный стиль работы с ПИ подразумевает, что объекты разработчик включает вручную. только те что надо.

[2015-11-02 10:41] NikolayUkleyko commented on #3670
Я уточнял про эту галку - мне сказали, сохранять данные в ПИ с этой галкой.
  Тогда, зачем по умолчанию проставлена галка **Включить связанные объекты (для объектов из других ПИ будут добавлены ссылки)** ? Может где-то предусмотреть параметры сохранения объектов в ПИ - по умолчанию с галкой или без ?

[2015-11-02 11:10] alexandra-gsoftware commented on #3670
у вас 1 позиция, а у меня 2500. Из них около 300 загрузились без проблем. Ссылка на позицию прихода где-то проставилась, а где-то нет. В ПИ только TgdcInvDocumentLine'ы, отсортированные по порядку. Отдельное спасибо за "вдумчивого разработчика":-D

[2015-11-02 11:43] alexandra-gsoftware commented on #3670
По поводу галочки. У нас сейчас нет никакого очевидного способа для добавления evt-object'ов и report-group'ов отдельно от событий, методов, отчетов. Даже при попытке добавить ф-ю события вылазит добавление всего события. И самый быстрый способ добавить эти объекты, если кто-то не воспользовался галочкой - это select \* from gd_function where id =:id, щелчок мышкой по ид - вылазит окошко редактиро

[2015-11-02 11:44] alexandra-gsoftware commented on #3670
macros-group'ов, а не report-group'ов, конечно же.:-)

[2015-11-03 07:15] NikolayUkleyko commented on #3670
Еще раз перепроверил не только сохранение данных из документа в ПИ (создал записи в документе **01. Накладная на получение материалов, ОС, МБП** без дальнейшего движения) без галки **Включить связанные объекты...**, но и самое главное (суть этого) - **загрузку полученных ПИ**.
Пробовал по-разному, включая сохранение шапки и позиции в отдельные ПИ.
В результате программа не позволяет **загрузить**

[2015-11-03 07:58] NikolayUkleyko commented on #3665
Добавлю, что в Журнале-ордере с выбранной галкой по реквизиту **Расширенное отображение полей** поле **_Дата (документа)_** отображается рядом с другими полями аналитики.
![3](https://cloud.githubusercontent.com/assets/11497453/10903347/c8f691fe-8219-11e5-842b-25492eae32fe.jpg)

[2015-11-03 09:14] NikolayUkleyko opened #3672 "Бухгалтерия. Форма 'Оборотная ведомость'. Округление сумм"
**_Исследователь > Бухгалтерия > Оборотная ведомость**_.

  Сформировал форму за первый месяц - получил на конец периода одни суммы. Сформировал за форму за следующий месяц - получил на конец периода суммы, расходящиеся с суммами на конец предыдущего периода. Расхождение около 1-2 рублей. Сформировал форму с 4-я знаками после запятой - суммы без расхождений. В результате расхождения за периоды нак

[2015-11-03 09:45] MIchaelShoihet commented on #3672
Оно так не задумано, это простая математика. Если было три суммы с остатком скажем 0,4 то в итоге это даст 1,2 к сумме, если же мы округлим до целого то получим везде 0 и в итоге то же 0.
Для примера - 60, 10 0,4 60 - 76 0,4 60 62 0,4 в итоге на 60 1,2 в сумме при округлении останется 1 а на 10 останется 0, 76, 0 и 62 0. Если округлять каждую проводку, то баланс наверное сохранится, но тогда общая

[2015-11-03 09:45] #3672 closed, assigned to nobody

[2015-11-03 11:31] NikolayUkleyko commented on #3672
Благодарю Вас за ответ !

[2015-11-03 14:04] NikolayUkleyko opened #3673 "Бухгалтерия. В формы 'Журнал-ордер', 'Анализ счета' и 'Карта счета' добавить аналитику 'Типовой документ' (E/V)"
**_Исследователь / Бухгалтерия / Журнал-ордер, Анализ счета и Карта счета_.**

Для удобства формирования бухгалтерских отчетов по определенным типам документов предлагаю добавить аналитику **Типовой документ**.

Это будет очень удобно при создании конфигураций по определенным типам документов.
Не будет необходимости создавать отчеты с нуля и т. д.
Например, конфигурация по амортизации ОС (будут вы

[2015-11-03 15:13] gsbelarus opened #3674 "Автозадача, отчет в XLS"
Кидает ошибку.

[2015-11-05 10:10] #3663 closed, assigned to gsbelarus

[2015-11-06 07:23] zholnerovich commented on #3674
Для генерации отчета в XLS должен быть установлен excel, по крайней мере так было

[2015-11-06 16:30] gsbelarus commented on #3671
Заполняется в VBScript?

[2015-11-06 19:04] alexandra-gsoftware commented on #3671
да

[2015-11-09 08:46] gsbelarus commented on #3651
Восстановлено, но для совместимости со складскими документами лучше использовать RelationName и RelationLineName.

[2015-11-09 08:46] #3651 closed, assigned to gsbelarus

[2015-11-09 08:47] gsbelarus opened #3675 "Все 16 форматов создаются/удаляются каждый раз. А зачем?"
[code]

[2015-11-09 09:17] NikolayUkleyko opened #3676 "Бухгалтерия. Форма 'Оборотная ведомость'. Не корректно работает опция 'Масштаб'"
**_Исследователь > Бухгалтерия > Оборотная ведомость**_.

  При выборе масштаба 1 000 или 1 000 000 сальдо на конец периода по дебету счетов и сальдо по кредиту счетов отображаются не корректно. Сравните суммы при выборе масштаба 1 и все станет очевидно.
![1](https://cloud.githubusercontent.com/assets/11497453/11029923/5bbed53a-86db-11e5-9b7f-867efa8c7ffb.jpg)
![2](https://cloud.githubusercontent.

[2015-11-09 09:36] gsbelarus commented on #3675
В момент создания фильтра он прописывается в коллекции, которая затем используется для построения меню. Т.е. их создание надо отложить до построения меню или непосредственного использования.

[2015-11-09 09:43] MIchaelShoihet commented on #3676
Да сальдо на конец масштабировалось дважды... Подправил. Будет в новом exe.

[2015-11-09 14:52] gsbelarus commented on #3674
http://gedemin.blogspot.com.by/2015/11/excel.html

[2015-11-09 14:52] #3674 closed, assigned to gsbelarus

[2015-11-10 09:08] NikolayUkleyko opened #3677 "Бухгалтерия. Форма 'Главная книга'. Масштабирование сумм оборотов в корреспонденциях по счетам"
**_Исследователь > Бухгалтерия > Главная книга**_.

  При выборе в параметре Масштаб значений 1 000 или 1 000 000 суммы оборотов **в корреспонденциях по счетам** соответственно не пересчитываются. При этом сальдо на начало и конец периода по дебету и по кредиту, а также общие обороты по дебете и по кредиту пересчитываются корректно.
  Пожалуйста, исправьте.

[2015-11-10 09:29] NikolayUkleyko commented on #3673
Что думаете по данной теме ?

[2015-11-10 09:35] MIchaelShoihet commented on #3673
Возможно. Но не прямо сейчас.

[2015-11-10 09:36] NikolayUkleyko commented on #3673
ОК !

[2015-11-10 09:49] NikolayUkleyko commented on #3403
Подобное реализовано в ЗП и ОК. А именно при нажатии кнопки **Начисления** или **Движения**. Это очень удобно.

[2015-11-10 09:51] NikolayUkleyko commented on #3390
Я предполагаю, что все вышеизложенное устранено. Можно ли закрыть тему ?

[2015-11-11 08:26] NikolayUkleyko commented on #2464
Для того, чтобы быть в курсе обновлений форм, отчетов и прочего из законодательства и их реализации в Гедымине необходимо установить **_платное**_ программное обеспечение **Бизнес-инфо** или **Консультант-плюс**. В интернете найти ничего актуального бесплатного не получится. Так как, все ресурсы платные. В программном обеспечение **_Бизнес-инфо**_ или **Консультант-плюс** очень удобно реализована

[2015-11-11 12:51] NikolayUkleyko opened #3678 "Бухгалтерия. Конструктор функций. В свойства блоков добавить реквизит 'Блок отключен' (Q)"
**Исследователь / Бухгалтерия / Типовые хоз. операции, Автоматические хоз. операции, Настройка функций**.

На практике встречаются ситуации, когда в конструкторе функций по тем или иным причинам необходимо не удалять блок, а временно его отключить. То есть, блок настроен, много аналитик, условий и т. д. Сейчас приходиться в if прописывать 1=0 или переносить блок во временную типовую проводку и т.

[2015-11-11 14:02] NikolayUkleyko commented on #3627
Выявлена недоработка.
  При повторном нажатии комбинации клавиш **Crtl + A** снимается выделение со всех блоков и становится выделенным самый нижний блок в конструкторе функций. Такого быть не должно. То есть, при повторном нажатии комбинации клавиш **Crtl + A** выделение на всех блоках должно остаться.
  Пожалуйста, исправьте.

[2015-11-17 14:04] NikolayUkleyko opened #3679 "Бухгалтерия. При удаление записей с ссылками не отображаются используемые таблицы (QQ)"
**Исследователь / Бухгалтерия / Журнал хоз. операций**.

В документ **Журнал хоз. операций** добавили ручную проводку Дт 18.03.02 - Кт 18.03.01 с указанием в верхней части номера документа.
Затем, сформировали книгу покупок за соответствующий период.
В Журнале хоз. операций выделяем вышеуказанную ручную проводку и при нажатии на **Правая кнопка мышки / Свойства** видим ссылки только на эту же пров

[2015-11-17 15:15] alexandra-gsoftware opened #3680 "alter column vs ПИ"
Можно поменять домен у поля запросом ALTER TABLE таблица
ALTER COLUMN поле TYPE новый_домен.

Может, можно сделать, чтоб такое изменение переносилось через ПИ?

[2015-11-18 14:23] NikolayUkleyko commented on #3679
Третий предыдущий скриншот характерен для **локального подключения** к базе данных.
  При **сетевом подключении** к базе данных программа отображает следующее более понятное окно с ссылками:
![4](https://cloud.githubusercontent.com/assets/11497453/11243390/c670aebe-8e18-11e5-9e26-add74c8c04ee.png)

  В данном окне можно без проблем удалить любую ссылку.
  Но, все же, почему программа себя так веде

[2015-11-18 14:43] NikolayUkleyko commented on #3676
Программа выдает сообщение об ошибке.
  Проверено на gedemin.exe:
Дата файла           = 18.11.2015
Версия файла         = 2.9.1.8459
![4](https://cloud.githubusercontent.com/assets/11497453/11243892/b86515dc-8e1b-11e5-8381-aa28205186ef.jpg)

[2015-11-18 15:37] NikolayUkleyko opened #3681 "Нельзя сохранить типовой документ - конвертация"
Что-то стряслось, что сохранение изменений (да и без внесения изменений) в типовых документах невозможно из-за окна со следующим сообщением:
![1](https://cloud.githubusercontent.com/assets/11497453/11245325/3e955e08-8e23-11e5-8c2b-0a2e36cde711.png)

  Проверено на gedemin.exe:
Дата файла = 18.11.2015
Версия файла = 2.9.1.8459

  Пожалуйста, изложите порядок действий в связи с инновациями в области

[2015-11-18 18:17] alexandra-gsoftware commented on #3681
Кстати, создать новый типовой документ можно. Но поменять потом нельзя.

[2015-11-18 18:24] alexandra-gsoftware commented on #3653
На всякий случай: проблема до сих пор есть: в настройках прихода\расхода показываются только поля дополнительных таблиц (а надо бы и основных).

Если доп. таблиц нет, то все работает корректно.

[2015-11-18 19:25] alexandra-gsoftware opened #3682 "Синхронизация ПИ: грид"
А можно сделать, чтоб сохранялись настройки грида в форме синхронизации ПИ?
Очень нужно:)

[2015-11-19 06:29] NikolayUkleyko commented on #3681
**Beta** версия, как минимум подразумевает новый не корректно работающий функционал и при это корректно работающий существующий функционал. В данном случае все очевидно.

[2015-11-19 06:33] NikolayUkleyko commented on #3682
Я за.

[2015-11-19 06:37] NikolayUkleyko commented on #3676
Форма **Оборотная ведомость** не функционирует и в обычном режиме (без масштабирования).

[2015-11-19 08:24] MIchaelShoihet commented on #3676
Исправлено.

[2015-11-19 10:06] gsbelarus commented on #3676
Код скидывали в гит?

[2015-11-19 10:10] MIchaelShoihet commented on #3676
Да вчера именно его я скинул

[2015-11-19 10:44] #3682 closed, assigned to gsbelarus

[2015-11-19 11:09] gsbelarus commented on #3681
На днях будет сообщение по этому поводу и подробная инструкция что делать.

[2015-11-19 14:34] NikolayUkleyko opened #3683 "Склад. В карточке ТМЦ баланс по документу инвентаризации"
Пожалуйста, подскажите, почему в стандартной карточке ТМЦ баланс ТМЦ по документам инвентаризации отображается только как **приход** без отображения **расхода** на одно тоже количество ? Хотя, в карточке ТМЦ по холдингу баланс ТМЦ отображается и как **приход**, и, как **расход** на одно и тоже количество ? Ведь в настройках типового документа на закладках **_Приход**_, **_Расход**_ указано одно и

[2015-11-23 14:40] NikolayUkleyko commented on #3683
**_Карточка по ТМЦ**_:
![1](https://cloud.githubusercontent.com/assets/11497453/11338975/2adf2e1e-9208-11e5-9212-d9aef46bcb59.png)

  **_Карточка по холдингу**_:
![2](https://cloud.githubusercontent.com/assets/11497453/11338995/45ae4cfc-9208-11e5-8748-05593320085a.png)

  Суть в том, что по документу **09. Переоценка товаров** одновременно отражается и приход и расход на одно и то же количество на

[2015-11-23 18:30] MIchaelShoihet commented on #3683
Все очень просто. Первая карточка строится по товару в разрезе признаков существующей карточки документа из которого она строится (или в разрезе признаков карточки которые указаны в настройке остатков, если строится оттуда), и если в признаке есть цена, то в документе переоценка она изменилась и соответственно товар со старой ценой закончился. Вторая карточка строится без привязки к признакам, а т

[2015-11-23 18:31] MIchaelShoihet commented on #3683
Плюс еще первая карточка строится в привязке к конкретному подразделению, а вторая в целом по предприятию или если есть холдинг, то в целом по холдингу (только если ее строить из холдинга).

[2015-11-25 06:34] NikolayUkleyko commented on #3683
Напрашивается вопрос, а зачем в программе существует 2-е карточки ТМЦ ? Была б одна карточка по холдингу и не было б вопросов. Все это вводит пользователей в заблуждение.

[2015-11-25 06:53] MIchaelShoihet commented on #3683
Смотреть карточку по холдингу очень часто не удобно, удобней смотреть то что происходило именно с данным товаром в разрезе его значимых признаков. Лично я в основном пользуюсь этой карточкой. И кстати она была изначально, вторая карточка появилась именно для холдинга. А пользователям просто надо объяснять что происходит если кого-то это путает.

[2015-11-25 06:53] #3683 closed, assigned to nobody

[2015-11-25 11:35] alexandra-gsoftware commented on #3572
То же самое с типовой операцией

[2015-11-25 11:51] alexandra-gsoftware commented on #3572
вот посмотрите, что затянулось в ПИ https://github.com/GoldenSoftwareLtd/gedemin-apps/commit/316e89e347e3e4f37fb364e2c689e361613f3ae2

[2015-11-25 12:35] gsbelarus opened #3684 "Проверять все три возможных кода ошибки"
У нас в тех местах по коду, где соответствующая проверка осуществляется, рассматривается только код дедлока, а надо все три проверять.

Подробнее:

http://tracker.firebirdsql.org/browse/CORE-4473

[2015-11-25 14:31] gsbelarus commented on #3572
Через GD_LASTNUMBER лезет. Сейчас я его прибью.

[2015-11-25 15:31] alexandra-gsoftware commented on #3572
можно и без особой жестокости, просто поправьте, ибо достала эта побочная функциональность

[2015-11-27 13:12] NikolayUkleyko opened #3685 "В форме документов не с первого раза открываются 'Свойства'. Прочие ошибки"
В форме **пользовательских документов** не с первого раза открываются **Свойства**. Например, для просмотра и копирования данных.
  Такая проблема выявлена давно.
  Пожалуйста, устраните недоработку.

[2015-11-30 07:51] NikolayUkleyko commented on #3676
Проверено.
  Работает корректно.
  Большое спасибо !

[2015-11-30 07:51] #3676 closed, assigned to MIchaelShoihet

[2015-11-30 08:30] NikolayUkleyko commented on #3685
Аналогично и для **складских документов**.

[2015-11-30 08:47] gsbelarus opened #3686 "Лишний JOIN"
В подзапросе       JOIN GD_CONTACT CON, который никак нигде не используется.

[code]

[2015-11-30 09:03] NikolayUkleyko commented on #3685
Давно замечено, что по складским документам, созданным на основе шаблонов **Обычный складской документ, Инвентаризационный документ, Документ трансформации ТМЦ** меню отличное от всех других складских документов, созданных на основе шаблона **Документ и с изменением свойств ТМЦ**:
![1](https://cloud.githubusercontent.com/assets/11497453/11467468/54f35256-9759-11e5-8fdc-8efadbcf12fa.png)
![2](https

[2015-12-01 16:27] alexandra-gsoftware commented on #3682
работает, спасибо!

[2015-12-02 07:09] NikolayUkleyko commented on #3682
Проверено.
  Работает корректно.
  Спасибо !

[2015-12-02 14:40] kovli opened #3687 "Форма Подразделения"
Исследователь - Справочники - Организации - Подразделения. Открываешь форму, справа в верхнем углу задаешь организацию и созерцаешь ее подразделения и сотрудников, привязанных к подразделению. Я так всегда и думал. А оказалось, что не все так просто. Если организация является холдингом, то в список подразделений попадают подразделения этой организации, а также подразделения организаций, входящих в

[2015-12-02 16:29] #3687 closed, assigned to gsbelarus

[2015-12-03 06:53] NikolayUkleyko commented on #3685
Исправьте эти небольшие недоработки.

[2015-12-04 09:00] NikolayUkleyko opened #3688 "Бухгалтерия. План счетов. При добавлении субсчета нельзя выбрать родительский счет"
**_Исследователь > Бухгалтерия > План счетов**_.

  При добавлении субсчета нельзя выбрать родительский счет. В результате нельзя добавить субсчет.
  Работало-работало и сломалось.

[Гедымин]
Имя файла            = gedemin.exe
Дата файла           = 25.11.2015
Версия файла         = 2.9.1.8463

[2015-12-04 09:10] NikolayUkleyko opened #3689 "Бухгалтерия. Журнал-ордер. Предусмотреть параметр для скрытия повторяющихся значений аналитики"
**_Исследователь > Бухгалтерия > Журнал-ордер**_.

  Пожалуйста, предусмотрите параметр для скрытия повторяющихся значений аналитики.
  Например, при формировании Журнала-ордера по счетам 60, 62 не надо отображать на каждой строке одно и тоже значение аналитики (счет, наименование счета). **Если, значения аналитики повторяются одно за одним, тогда необходимо отображать только первое значение**. По

[2015-12-04 09:18] NikolayUkleyko opened #3690 "ПИ. Окно синхронизации ПИ. В поле 'Поиск' предусмотреть обработку регулярных выражений"
Пожалуйста, предусмотрите в окне синхронизации ПИ в поле **Поиск** обработку регулярных выражений. Так удобнее и быстрее искать необходимые файлы, чем при использовании традиционного автофильтра.

![1](https://cloud.githubusercontent.com/assets/11497453/11585982/f0f6913e-9a80-11e5-925b-f163329b82e5.png)

[2015-12-04 12:05] MIchaelShoihet commented on #3689
Я понимаю что есть некоторое неудобство, но затраты на реализацию превзойдут полученную пользу. Я не думаю, что этим надо заниматься. Если только в печатной форме.

[2015-12-04 12:25] NikolayUkleyko commented on #3689
Я, так и предполагал, что доделать форму это не просто. Хотя бы реализуйте это в отчетах.

[2015-12-07 12:43] NikolayUkleyko opened #3691 "Бухгалтерия. Оборотная ведомость. Предусмотреть параметр 'Отобразить только главные счета'"
**_Исследователь / Бухгалтерия / Оборотная ведомость_**.

Пожалуйста, предусмотрите параметр **Отобразить только главные счета**. При выборе данного параметра будут отображены только главные счета без отображения входящих в них субсчетов.
![1](https://cloud.githubusercontent.com/assets/11497453/11627051/ccae8b0e-9cf8-11e5-8ea8-7dd4b16ea4dd.png)

Таким образом, будет проще и нагляднее анализировать

[2015-12-08 13:13] NikolayUkleyko commented on #3689
А вообще, жаль, что так получается.

[2015-12-10 07:29] NikolayUkleyko commented on #3688
Неужели это так фиолетово ?

[2015-12-10 10:40] MIchaelShoihet commented on #3688
Исправлено.

[2015-12-16 09:23] NikolayUkleyko opened #3692 "Бухгалтерия. Форма 'Результат расчета автоматической операции'. Добавить отображение количественных показателей"
**_Исследователь > Бухгалтерия > Автоматические хоз. операции.**_

  Пожалуйста, в форму **Результат расчета автоматической операции** добавьте отображение количественных показателей. Так, как в форме абсолютно не виден результат по количественным показателям. Отображение количественных показателей реализовано в **Журнале хоз. операций**.

![1](https://cloud.githubusercontent.com/assets/11497453/1

[2015-12-18 14:33] alexandra-gsoftware opened #3693 "ПИ на базе помечены знаком >>, хотя сравнение с файлом показывает, что разницы нет"
Дата, версия, мд5, текст - все совпадает...
сейчас можно посмотреть на эталоне на примере мат.склад - метаданные

[2015-12-21 13:20] NikolayUkleyko commented on #3688
Проверено.
  Работает корректно.
  Большое спасибо !

[2015-12-21 13:20] #3688 closed, assigned to MIchaelShoihet

[2015-12-21 13:24] NikolayUkleyko commented on #3685
Баг с открытием свойств документа не с первого раза устранили. Устраните остальные недоработки согласно вышеприведенной информации.

[2015-12-21 13:27] NikolayUkleyko commented on #3654
Проверено.
  Работает корректно.
  Закройте тему.

[2015-12-22 08:38] gsbelarus opened #3694 "Долго открывается конструктор функции для ТХО"
Проблема возникающая систематически  при открытии ТО через конструктор .

![image](https://cloud.githubusercontent.com/assets/11496938/11950819/a72a9894-a894-11e5-9335-57dae1ec99eb.png)
Влияющая на работоспособность всего сервера . Допустим есть отчет "Х" который формируется меньше 1 минуты , то при открытии Администратором ТО на редактирование , этот же отчет "Х" может грузиться до 5 минут .
- Вр

[2015-12-22 08:49] NikolayUkleyko commented on #3694
Все это имеет место любом на gedemin.exe: новом, новейшем и любом старом.

[2015-12-22 09:52] #3694 closed, assigned to gsbelarus

[2015-12-22 10:28] gsbelarus commented on #3693
Взять новейший экзешник. Те ПИ, которые уже получили такой статус надо или сохранить (можно без инкремента номера версии) или вручную, SQL запросом, снять у них флаг CHANGED. В будущем такого уже не должно быть, но на всякий случай стоит проверить.

Пока закрываю.

[2015-12-22 10:29] gsbelarus commented on #3671
Проверить еще раз новешим экзешником.

[2015-12-22 13:33] alexandra-gsoftware commented on #3693
хммм. На той же базе Учет в автопарке - хранилище. CHANGED = 0, сравнение не показывает разницу, статус = "?".

[2015-12-22 13:36] alexandra-gsoftware commented on #3693
Там, где статус был ">>", снятие флажка CHANGED помогло, статус теперь правильный.

[2015-12-22 14:11] #3689 closed, assigned to nobody

[2015-12-24 11:59] gsbelarus commented on #3624
Я пока закрою, так как не вижу простой технической возможности сделать учет всех связей. Конечно, можно ввести отдельную таблицу, но она будет содержать до N \* N записей, где N -- количество позицийв пространствах имен. Это много. Непонятно, как потом передавать эту инфорацию с Пи на другие базы. И еще более непонятно, как актуализировать в соответствии с изменениями.

Фактически тут то же, что и

[2015-12-24 11:59] #3624 closed, assigned to gsbelarus

[2015-12-24 12:11] gsbelarus commented on #3658
При загрузке на базу из ПИ запоминается editiondate объекта и сохраняется в поле, в таблице AT_OBJECT. Назовем ее исходной датой.

Допустим, через некоторое время грузим ПИ обновилось и мы загружаем его на БД.

Тогда проверяем:

1) если текущая editiondate у объекта в базе данных равна ИСХОДНОЙ ДАТЕ, то значит объект в базе данных не менялся. Тогда смотрим на дату объекта в файле ПИ. Если она равн

[2015-12-24 12:59] alexandra-gsoftware commented on #3624
может, просто при удалении давать человеку выбирать, какие связанные объекты удалить, а какие оставить? Если честно, от этого headobjectkey больше вреда, чем пользы

[2015-12-24 13:38] YRozmysl commented on #3658
А  какое поле в таблице AT_OBJECT будет соответствовать понятию "исходной даты" т.е.  куда будет запоминаться editiondate объекта?

[2015-12-24 13:43] alexandra-gsoftware commented on #3658
1) как называется поле ИСХОДНАЯ ДАТА в AT_OBJECT?
2) что сохраняется в AT_OBJECT.ИСХОДНАЯ_ДАТА, если
а) ПИ обновляется, и на базе объект менялся, а в файле ПИ - нет
б) Объект менялся там и там, и юзер вручную разрешает конфликт (например, обновляет только часть полей данными из файла)?

[2015-12-24 15:37] alexandra-gsoftware opened #3695 "Странное поведение формы остатков"
Если в SelectClause остатков есть ошибка, то при открытии формы вываливается аксес виолейшн, который нельзя закрыть (тут же вылазит новый), и приходится перегружать гедымин. По идее, он должен один раз внятно ругнуться и предложить не сохранять настройки формы, и всё.

[2015-12-24 17:20] alexandra-gsoftware commented on #3693
Опять не работает. Сохранила 4 ПИ. Два из них после этого продолжают иметь статус ">>" ((

[2015-12-28 06:40] NikolayUkleyko commented on #3695
Я с таким сталкивался.
  При этом, при принудительном закрытии программы выполненные настройки будут потеряны, что не есть хорошо.

[2015-12-28 11:00] gsbelarus commented on #3695
TgdcInvRemains -- перекрыл GetSelectClause. Возвращаю неверный запрос. При открытии формы остатков никаких AV.

[2015-12-28 13:19] NikolayUkleyko commented on #3695
На Береза МКК такая ошибка была.

[2015-12-28 13:23] alexandra-gsoftware commented on #3695
TgdcInvRemains -- перекрыла GetSelectClause. Возвращаю неверный запрос - добавляю туда ", www". При открытии формы остатков зацикленный AV, как и раньше

[2015-12-28 14:40] #3695 closed, assigned to gsbelarus

[2015-12-28 15:16] gsbelarus commented on #3693
Не могу повторить. Как будет свежий пример -- сразу зовите. На дату файла не смотрите. она не используется при сравнении, т.к. git внутри своей базы не хранит даты файлов. При чекауте у файла будет дата чекаута. Т.е на каждом компьютере у каждого файла будет своя дата.

[2015-12-28 15:34] gsbelarus commented on #3563
При удалении показывает список зависимых. Есть опция удалить только сам объект, без зависимых.

[2015-12-28 15:34] #3563 closed, assigned to gsbelarus

[2015-12-30 14:17] alexandra-gsoftware commented on #3693
И снова ситуация. Сохраняю два ПИ. У одного остается флажок CHANGED(
У другого все в порядке

[2016-01-02 17:16] gsbelarus commented on #3656
Для TgdcPrimeTable теперь будет создаваться поле editiondate. Апгрейд базы данных создаст такие поля на существующих таблицах.

[2016-01-02 17:16] #3656 closed, assigned to gsbelarus

[2016-01-02 18:26] #3690 closed, assigned to gsbelarus

[2016-01-04 16:54] #3623 closed, assigned to gsbelarus

[2016-01-04 17:00] gsbelarus commented on #3395
Сейчас должно показывать, так как MD5 будет отличаться.

[2016-01-04 17:02] alexandra-gsoftware commented on #3395
да, работает

[2016-01-04 17:02] #3395 closed, assigned to gsbelarus

[2016-01-04 18:22] gsbelarus commented on #3389
Теперь в окне добавления в ПИ, в списке зависимых, выделяем любой объект и по правой кнопке мыши можем открыть окно для добавления в ПИ этого объекта.

Таким образом, при добавлении метода видим в списке СФ. Выделяем и открываем окно для добавления только этой СФ.

[2016-01-04 19:14] gsbelarus commented on #3389
С чекбоксами идея спорная. Закрываем.

[2016-01-04 19:14] #3389 closed, assigned to gsbelarus

[2016-01-05 07:59] #3393 closed, assigned to gsbelarus

[2016-01-05 10:00] #3626 closed, assigned to gsbelarus

[2016-01-11 09:48] NikolayUkleyko commented on #3681
Почему-то нельзя выполнить однократно команду **gedemin.exe / cdo** на одном компьютере для разных баз данных.

[2016-01-11 09:50] gsbelarus commented on #3681
В смысле нельзя? Что пишет?

[2016-01-11 09:54] NikolayUkleyko commented on #3681
Для первой базы данных конвертация типовых документов осуществляется успешно (в таблицу GD_DOCUMENTTYPE_OPTION добавлены записи), а для последующих баз данных по типовым документам ничего не меняется (в таблицу GD_DOCUMENTTYPE_OPTION не были добавлены записи). При успешной и провальной попытке сообщений нет вовсе.

[2016-01-11 09:57] gsbelarus commented on #3681
что значит последующих? надо каждый раз гедымин перезапускать для конвертации.

[2016-01-11 11:55] NikolayUkleyko commented on #3681
Отбой !
  Пока, работает корректно.
  Дальше будет видно.

[2016-01-11 11:55] #3681 closed, assigned to gsbelarus

[2016-01-14 20:35] alexandra-gsoftware opened #3696 "поле не попадает в SelectSQL бизнес-объекта. Почему?!"
Таблица на эталоне USR$ETTN_GOODS.
В ней есть поле-ссылка USR$GOODGROUPKEY. Почему-то оно не попадает в запрос БО для USR$ETTN_GOODS. Два других поля-ссылки нормально себя ведут.
Почему так??

[2016-01-15 08:05] zholnerovich commented on #3685
Раньше меню имело другой вид как на первом скрине. В таком виде оно и сохранилось в перекрытых настройках формы.

[2016-01-15 08:12] MIchaelShoihet commented on #3685
Все правильно.  В exe это уже не исправишь. Меню с такими названиями сохранилась в хранилище. Это надо менять в ПИ.

[2016-01-15 08:34] zholnerovich commented on #3696
Нужна база, чтобы посмотреть в чем дело.

[2016-01-15 08:37] zholnerovich commented on #3686
А откуда этот запрос? В процессе чего он формируется?

[2016-01-15 08:43] MIchaelShoihet commented on #3686
Это уже исправлено. Запрос построения остатков.

[2016-01-15 09:38] alexandra-gsoftware commented on #3696
я сегодня еще сама посмотрю, если не выйдет, то пришлю на почту бэкап.

[2016-01-15 09:49] zholnerovich commented on #3675
Наверное лучший вариант в момент использования. Надо посмотреть исходники FR4. У меня их нет.

[2016-01-15 10:59] gsbelarus commented on #3675
Там надо чтобы они создавались. Из них меню формируется при сохранении.

[2016-01-15 10:59] #3675 closed, assigned to gsbelarus

[2016-01-15 10:59] #3686 closed, assigned to MIchaelShoihet

[2016-01-15 12:45] NikolayUkleyko commented on #3685
Необходимо довести до конца рассматриваемый вопрос.

[2016-01-15 13:14] gsbelarus commented on #3696
IgnoreAliases или как там их?

[2016-01-15 13:21] alexandra-gsoftware commented on #3696
нет. Игнорсы игнорят таблицу, которая приджойнилась во фром клаузе по алиасу. Они не могут пробросить главную таблицу, тем более, ее конкретное поле. Можете заглянуть на эталон...

[2016-01-15 13:33] zholnerovich commented on #3685
"Баг с открытием свойств документа не с первого раза устранили"

Остальное к exe не относится. Костыль никто делать не будет. Здесь надо закрывать. А если вопрос критичный (сомневаюсь) то переносить его в ПИ.

[2016-01-15 13:37] NikolayUkleyko commented on #3685
Хорошо. Переговорим с Александрой.
  Большое спасибо !

[2016-01-15 13:37] #3685 closed, assigned to gsbelarus

[2016-01-15 13:41] zholnerovich commented on #3659
Этим кто-то занимается?

[2016-01-15 13:50] gsbelarus commented on #3659
Там все нормально вроде. Уже оптимизировано.

[2016-01-15 13:50] #3659 closed, assigned to gsbelarus

[2016-01-15 13:52] zholnerovich commented on #3659
Так может тогда закрыть, чтобы в заблуждение не вводило? А то много чего оказывается сделанным, а висит открытое

[2016-01-15 13:54] gsbelarus commented on #3659
Так закрыто же.

[2016-01-15 14:47] NikolayUkleyko opened #3697 "Отчеты. Доработать окно шаблонов параметров (Q)"
1. При открытии окна шаблонов параметров и выборе одного из параметров необходимо предусмотреть сообщение о том, что был выполнен выбор и окно шаблонов параметров должно автоматически закрыться.
Сейчас при выборе параметров программа "молчит" и окно шаблонов параметров "висит".

2. Необходимо добавить поиск по списку шаблонов.

3. Добавить кнопки **Свернуть**, **Развернуть**.
Сейчас размер окна мо

[2016-01-15 15:06] NikolayUkleyko opened #3698 "Файлы. Небольшая правка"
**_Исследователь > Сервис > Файлы**_

 Пожалуйста, исправьте с **Промотреть...** на **Просмотреть...**.

![1](https://cloud.githubusercontent.com/assets/11497453/12356258/b7d4fc6c-bbb2-11e5-8fc0-6fa26906cbfd.png)

[2016-01-15 15:09] #3698 closed, assigned to gsbelarus

[2016-01-15 16:05] zholnerovich commented on #3652
вот что есть во враперах по этому поводу:

function TwrpGdcUserDocumentType.Get_DocLineRelationName: WideString;
begin
  Result := GetGdcUserDocumentType.DocLineRelationName;
end;

function TwrpGdcUserDocumentType.Get_DocRelationName: WideString;
begin
  Result := GetGdcUserDocumentType.DocRelationName;
end;

Больше вроде ничего (100% ручаться не буду)
Так что не вижу проблемы избавиться от любой

[2016-01-15 16:07] gsbelarus commented on #3652
Это уже закрыто.

[2016-01-15 16:07] #3652 closed, assigned to MIchaelShoihet

[2016-01-15 19:36] alexandra-gsoftware commented on #3696
Нашла. Поле не добавляется в SelectSQL, если неудачно записалось блоб-значение для него в AT_RELATION_FIELDS.OBJECTS.
Закрываем.

[2016-01-16 07:58] gsbelarus commented on #3696
Пока не закрываем. Надо найти как туда попало это левое значение.

[2016-01-16 12:17] alexandra-gsoftware commented on #3696
это в скрипте был косяк, я уже исправила

[2016-01-16 12:17] #3696 closed, assigned to gsbelarus

[2016-01-16 15:27] NikolayUkleyko commented on #3648
Сейчас, даже не заполняя реквизит **Уровни аналитики** и формируя **Журнал-ордер** программа выдает окно с сообщением об ошибке:

![3](https://cloud.githubusercontent.com/assets/11497453/12373061/16285996-bc7e-11e5-80dd-cbdeb423a541.png)

  Так не должно быть. По-умолчанию в реквизите **Уровни аналитики** ничего не введено. Соответственно и "ругаться" программе не на что. Только, при вводе некорре

[2016-01-16 15:28] gsbelarus commented on #3648
Новейший экзешник надо взять.

[2016-01-18 06:37] NikolayUkleyko commented on #3648
Проверено.
  Работает корректно.
  Спасибо !

[2016-01-18 06:37] #3648 closed, assigned to gsbelarus

[2016-01-18 06:58] NikolayUkleyko opened #3699 "Бухгалтерия. Журнал-ордер. Некорректное растягивание колонок. Смещение итоговой строки (Q)"
**_Исследователь > Бухгалтерия > Журнал-ордер**_.

  Сформируйте форму со следующими параметрами:
- Счета - 60, 62, 76;
- Включая субсчета;
- Аналитика - Счета и субсчета, Клиент;
- Уровни аналитик - Клиент = 1.

  Недоработки:
1. После одного нажатия на кнопку F5 **первая** колонка **Клиент** будет слишком растянута. При повторном нажатии на кнопку F5 **первая** колонка **Клиент** примет верную ш

[2016-01-20 07:45] NikolayUkleyko opened #3700 "Бухгалтерия. Валютная проводка. Грид проводок по документу и настройка типовых хоз. операций (Q)"
**Исследователь / Бухгалтерия**.

Выявлено следующее.

По документу **Кассовая книга** в типовых хоз. операциях **Прочий приход** и **Прочий расход** заполнены поля по **валюте** только по одной части проводки (по счету 50...).
То есть, где приход - по дебету заполнены поля по валюте без заполнения кредита, где расход - по кредиту без дебета.
В Журнале-ордере по счету 50.04 корректно отображены су

[2016-01-20 07:49] NikolayUkleyko commented on #3645
Проверено.
  Работает корректно.

[2016-01-20 07:49] #3645 closed, assigned to zholnerovich

[2016-01-20 08:44] NikolayUkleyko commented on #3531
Получается следующая ситуация.
  Удалив папку **Obsolete и ее отчеты**, главные отчеты становятся доступны (видны из документа). Но, стоит только обновить ПИ **06 Основные средства печатные формы** и главные отчеты опять недоступны.
  Это Сморгонь. Такое будет на любой БД.

[2016-01-20 14:37] zholnerovich commented on #3692
название формы на первом скрине usrf_acc_viewdelayedentry. это вопрос не к exe. Надо переносить в ПИ.

[2016-01-20 15:01] NikolayUkleyko commented on #3692
Перенесено в https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/81

[2016-01-20 15:01] #3692 closed, assigned to zholnerovich

[2016-01-21 07:28] zholnerovich commented on #3699
Проблема есть, но воспроизвести ее получилось только один раз.

[2016-01-21 08:14] zholnerovich commented on #3531
![qwe](https://cloud.githubusercontent.com/assets/11497757/12474927/083f40f0-c030-11e5-91b8-023004361f9e.jpg)

[2016-01-21 08:15] zholnerovich commented on #3531
это на последних исходниках

[2016-01-21 08:34] NikolayUkleyko commented on #3531
Да.
  Попробуй следующее. По документу **Исследователь > Основные средства > Акт ввода в эксплуатацию > ОС. Акт ввода в эксплуатацию остатков** удали все отчеты и папки отчетов. Потом установи ПИ **06 Основные средства печатные формы**. В результате будут доступны только отчеты, входящие в папку **_Obsolete**_. А вообще, что за хрень такая **_Obsolete**_ ??? Паша, ты не знаешь ?

[2016-01-21 09:33] zholnerovich commented on #3531
Коля, проверил два раза, вроде все работает. Возможно это связано стем, что последние несколько дней проводились доработки по наследованию отчетов и макросов. Насчет "Obsolete" не знаю, по моему это просто папка, каких либо упоминаний о ее исключительности в исходниках не найдено.

[2016-01-21 09:35] gsbelarus commented on #3531
ясное дело. причем тут исходники. кто-то создал папку и запихнул туда ненужные отчеты.

[2016-01-21 10:12] NikolayUkleyko commented on #3531
Какие практические действия по отношению БД Сморгонь КХП ?

[2016-01-21 11:18] gsbelarus commented on #3531
Покажи базу.

[2016-01-21 11:35] gsbelarus commented on #3531
Мне нужна база. Ту, которую дали -- там нет отчетов вообще по указанным документам. Ни в окне, ни в редакторе скрипт-объектов.

[2016-01-21 12:04] NikolayUkleyko commented on #3531
Пока можно взять и эту БД: india/3053:k:\Bases\Smorgon_KHP\GDBASE_2015_03_03.FDB

[2016-01-21 13:47] NikolayUkleyko commented on #3531
Вот и более новый вариант БД: Basel/3053:K:\Bases\SmorgonKhP\gdbase_2016_01_11.FDB

[2016-01-21 19:52] alexandra-gsoftware opened #3701 "Не работает кнопка Прервать выполнение запроса"
Раньше, если запрос выполнялся больше минуты, вылазило окошко с кнопкой "прервать". Сейчас нажатие на нее не прерывает выполнение запроса.

[2016-01-22 08:39] zholnerovich commented on #3701
А можно мне скинуть какой-нибудь долгий запрос?

[2016-01-22 09:04] gsbelarus commented on #3701
Не занимайтесь этим! Там все равно будет переделано.

А по поводу долгого запроса EXECUTE BLOCK с большим циклом не додумались написать?

[2016-01-22 09:11] zholnerovich commented on #3701
С просоня не додумался, попил водички и додумался

[2016-01-22 09:41] NikolayUkleyko opened #3702 "Бухгалтерия. Справочник показателей. Добавить перенос типов аналитик"
**_Исследователь > Бухгалтерия > Отчеты бухгалтерии > Справочник показателей**_.

  Пожалуйста, предусмотрите в диалоговом окне **Составляющая показателя** перенос аналитик. То есть, разные типы аналитик со своими значениями должны начинаться с новой строки. А перечень значений аналитики выводится через запятую. Так, будет гораздо нагляднее.

![1](https://cloud.githubusercontent.com/assets/1149745

[2016-01-22 10:17] zholnerovich commented on #3664
Сделано, Коля проверил.

[2016-01-22 12:35] NikolayUkleyko opened #3703 "Материальный склад. Полная карточка ТМЦ. Ошибка при прокрутке"
При формировании полной карточки ТМЦ с включенным режимом **Редактирование в таблице** и прокрутив вниз мышку или курсор с нижней позиции программа отображает окно с сообщением:

![1](https://cloud.githubusercontent.com/assets/11497453/12510925/8ff3f57e-c11e-11e5-8d15-4b276195f323.png)

[2016-01-22 12:53] NikolayUkleyko opened #3704 "Торговля. Запись удалена, но видна в гриде. Редактирование записи. F5"
**_Исследователь > Торговля**_.

  При работе с документами подсистемы пользователь добавляет запись по документу и ее не сохраняет. В результате эта запись видна в гриде. При нажатии на F5 такая запись пропадает. Вся проблема в том, что пользователь редактирует такую запись, продолжая вводить данные (выбор из остатков) и при этом программа отображает окна с сообщениями об ошибках.
  Замечено не п

[2016-01-22 13:01] alexandra-gsoftware commented on #3704
бывает, но не всегда. Непонятно почему ((

[2016-01-22 15:23] gsbelarus commented on #3668
Пока пишем на случай смешанных систем, где работают и новые и старые экзешники.

[2016-01-22 15:30] gsbelarus opened #3705 "Когда RUID в GD_DOCUMENTYPE не совпадает с GD_RUID"
Документ 03. Акт переработки
входит в пакет Мат_склад.

Subtype = 147872775_59073233
В GD_RUID он 147872775_30358866.

Нужно оставить Subtype, а РУИД в GD_RUID и в ПИ поменять...

[2016-01-22 16:02] NikolayUkleyko opened #3706 "Основные средства. Грид позиции. Слетает форматирование чисел"
**_Исследователь / Основные средства_.**

По документам **ОС. Допоступление/Списание затрат** и **ОС. Переоценка** выявлено следюущее. При открытии формы остатков ТМЦ и нажатии кнопки ОК в гриде числа отображаются без форматирования.
Стоит только нажать F5 и числа примут корректное форматирование.
Хотя, формат чисел был задан заранее и работал корректно - #,##0.##
Такое наблюдается не только по до

[2016-01-22 16:54] gsbelarus commented on #3634
Теперь тригером, при удалении отчета, будет удаляться запись из Исследователя.

[2016-01-22 16:54] #3634 closed, assigned to gsbelarus

[2016-01-22 18:16] alexandra-gsoftware opened #3707 "Имена новых методов теперь генерируются капслоком. Зачем??"
Это же нечитабельно.

[2016-01-22 19:17] alexandra-gsoftware commented on #3692
Эта технология особенная. Форма юзерская, но вызывается в автоматически сгенерированных ф-ях. И во всех этих ф-ях идет вот такой код:
  set usrg_gdcAcctEntryRegister1 = ViewEntryForm.FindComponent("usrg_gdcAcctViewEntryRegister1")
  usrg_gdcAcctEntryRegister1.Transaction = Transaction
  usrg_gdcAcctEntryRegister1.ReadTransaction = Transaction

Не логичнее было бы сначала закрывать usrg_gdcAcctEntr

[2016-01-24 08:45] gsbelarus commented on #3707
Не надо тут ничего делать. В БД хранится в верхнем регистре для быстрого поиска по индексу. Когда все остальное исправим можно тут будет посмотреть.

[2016-01-24 11:04] #3705 closed, assigned to gsbelarus

[2016-01-24 11:13] gsbelarus commented on #3704
F... Outlet\base.fdb Внут.перем. Добавить, Выбрать остатки, потом отмена. Потом в гриде сорт по дате.

[2016-01-24 12:39] alexandra-gsoftware commented on #3707
все ок. там проблема только с одной формой. наверно, она просто неудачная.

[2016-01-25 08:25] NikolayUkleyko commented on #3704
На любой базе это есть. Возможно ли это учесть в gedemin.exe ? Как вариант использовать сортировку при помощи преодпределенных фильтров, или при помощи GetOrderClause.

[2016-01-25 09:10] NikolayUkleyko commented on #3531
Пропала разделяющая черта.
  Было:
![1](https://cloud.githubusercontent.com/assets/11497453/12546661/5f177288-c35c-11e5-8458-92cc77b57406.png)

  Стало:
![2](https://cloud.githubusercontent.com/assets/11497453/12546679/6dea65ea-c35c-11e5-8ff5-a42394755f3f.png)

  Можно ли это реализовать ?

[2016-01-25 09:31] gsbelarus commented on #3531
Нет. сейчас все отчеты выводятся единым списком в алфавитном порядке.

[2016-01-25 09:37] #3704 closed, assigned to gsbelarus

[2016-01-25 09:55] NikolayUkleyko commented on #3531
Это просила Жанна.
  На счет вывода всех отчетов в алфавитном порядке не так. Сортировка какая была, такая и осталась. Внимательно сравните 2-а вышеприведенных скриншота. Очередность осталась прежней.

[2016-01-25 10:56] #3531 closed, assigned to gsbelarus

[2016-01-25 11:50] alexandra-gsoftware commented on #727
работа со сканером полностью переделана

[2016-01-25 11:50] #727 closed, assigned to gsbelarus

[2016-01-25 12:41] MIchaelShoihet commented on #3703
В ближайшем exe будет исправлено.

[2016-01-26 07:13] zholnerovich commented on #3706
Да есть такое. Форматирование слетает в момент открытия формы остатков.

[2016-01-26 08:24] zholnerovich commented on #3706
Поправил, но возможно не тем способом что надо

[2016-01-26 08:26] NikolayUkleyko commented on #3706
Паша, наскоком не надо - уточни и сделай корректно.

[2016-01-26 08:52] zholnerovich commented on #3702
Компоненты на этой форме пользовательские и заполнятся через скрипты. Поэтому это в ПИ.

[2016-01-26 08:55] NikolayUkleyko commented on #3702
Перенесено в https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/85

[2016-01-26 08:55] #3702 closed, assigned to zholnerovich

[2016-01-26 10:11] NikolayUkleyko commented on #3531
В целом работает корректно.
  Мелкая правка. Измените пиктограмку: чистый лист
![3](https://cloud.githubusercontent.com/assets/11497453/12577822/fc76f46e-c42d-11e5-9e73-d128f978b5a8.png)

замените на лист с данными (номер пиктограмки 176)
![4](https://cloud.githubusercontent.com/assets/11497453/12577825/009eda3e-c42e-11e5-952d-f6e6a2e37159.png)

  Подсказка, что это не пустые отчеты (бланки), а от

[2016-01-26 14:32] PiuPauTralala opened #3708 "Ошибка при попытке смены ПИ для объекта"
При попытке сменить ПИ для методов формы gdc_frmInvDocument147080092_570734625OnLoadSettingsAfterCreate вываливается окно с ошибкой.
![untitled](https://cloud.githubusercontent.com/assets/11497771/12583219/adfc604c-c452-11e5-8486-7fa4b687e22c.jpg)

[2016-01-26 14:35] PiuPauTralala commented on #3708
Ошибка возникает при смене ПИ для второго и последующих методов. Для первого все срабатывает.

[2016-01-26 14:48] alexandra-gsoftware commented on #3708
это похоже связано с рекурсией в ПИ.
В том случае, когда перемещение срабатывает, в ПИ тихо добавляется рекурсивная зависимость.

Сейчас проблема такая. Объект А добавляем в ПИ-А. Объект А зависит от объекта Б. Объект Б входит в ПИ-Б, которое зависит от ПИ-А. Гедымин тихо добавляет в ПИ-А зависимость от ПИ-Б. Получаем рекурсию. Добавьте проверку на рекурсию в этот момент.

[2016-01-26 21:14] stasgm opened #3709 "В базе etalon.fdb в исследователе присутствует пункт "Материальный склад""
Наверное, он там не нужен.

[2016-01-27 06:50] NikolayUkleyko commented on #3709
Я думаю, что не нужен.

[2016-01-27 09:47] gsbelarus commented on #3709
Я сам добавлял в скрипты. Уже не помню зачем. Но, помню, что какая-то такая ситуация была, что он нужен.

[2016-01-27 09:47] #3709 closed, assigned to gsbelarus

[2016-01-27 10:16] #3664 closed, assigned to zholnerovich

[2016-01-27 10:18] gsbelarus commented on #3613
Надо проверить на новейшем экзешнике. Возможно это уже исправлено.

[2016-01-27 10:20] #3655 closed, assigned to gsbelarus

[2016-01-27 10:26] NikolayUkleyko commented on #3664
Проверено.
  Работает корректно.

[2016-01-27 10:41] NikolayUkleyko commented on #3613
Проверил.
  При использовании любой фильтрации **изменение даты** осуществляется без проблем.
  При использовании любой фильтрации при **удалении записи** программа отображает окно с ошибкой:

![3](https://cloud.githubusercontent.com/assets/11497453/12610937/6bf1fdc0-c4fb-11e5-8e63-27fa8f2992e8.png)

[2016-01-27 10:44] alexandra-gsoftware commented on #3709
так она останется?

[2016-01-27 17:39] alexandra-gsoftware opened #3710 "Сравнение пи с данными vs дополнительные поля на базе"
Например, на эталоне в таблице Должности есть несколько пользовательских полей из ЗПиОК, и запись из должностей входит в ПИ, но ПИ сохранили с базы, где ЗПиОК не стоит. Если поставить ПИ на эталон, то при сравнении оно отобразится со значком >>.

ПИ и объекты в базе отличаются MD5 и этими полями (они не заполнены, в файле их нет), все даты одинаковые. Почему Гедымин считает, что на базе именно нов

[2016-01-27 17:58] alexandra-gsoftware opened #3711 "Новое окно ПИ - невозможно посмотреть, куда входит объект"
Раньше из окна добавления объекта в ПИ можно было удалить объект из ПИ либо переместить его в другое ПИ (если нет главного объекта). А сейчас даже нельзя увидеть, в какое ПИ объект входит

![ns2](https://cloud.githubusercontent.com/assets/11487200/12622894/a86a5e5e-c538-11e5-8c34-349adf68f0a6.JPG)
![ns](https://cloud.githubusercontent.com/assets/11487200/12622895/a87313d2-c538-11e5-84e1-6bc5b96513

[2016-01-27 18:46] gsbelarus commented on #3710
Даты может и одинаковые, а номера версий?

[2016-01-27 18:51] alexandra-gsoftware commented on #3710
![positions](https://cloud.githubusercontent.com/assets/11487200/12624425/0d60f1d6-c540-11e5-88ba-ca145eea1e4b.JPG)
смотрите сами

[2016-01-27 18:55] gsbelarus commented on #3710
В бд есть данные, а в файле нет. Логично, что он и показывает, что надо бы эти данные записать в файл.

[2016-01-27 18:55] alexandra-gsoftware commented on #3711
UPD: в некоторых случаях все ок, в других - нет.

[2016-01-27 19:01] alexandra-gsoftware commented on #3710
все бы хорошо, но, например, группа ТМЦ "Все ТМЦ" используется и в меню, и в комплексной автоматизации. В меню есть свои поля, в КА есть свои поля. Значит, ПИ с этой группой  будет и мне, и Жанне всегда показываться как более новое. И мы или всегда будем исключать это ПИ из списка на сохранение, или сохранять его и так гонять по кругу до бесконечности.

[2016-01-27 19:04] alexandra-gsoftware commented on #3710
С тем же успехом можно сказать, что в файле данные были удалены.

[2016-01-27 19:11] YRozmysl commented on #3711
Да, согласен. Раньше можно было сразу увидеть, куда входит  объект, что было удобно

[2016-01-27 20:25] alexandra-gsoftware opened #3712 "Невозможно добавить ветку в Типовые документы"
Ошибка - нарушение уникального ключа GD_UNIQ_RUID в GD_RUID, триггер GD_AIU_DOCUMENTTYPE (в GD_RUID такого руида нет, т.е. видимо, он пытается вставиться дважды во время создания...)

[2016-01-28 10:17] #3712 closed, assigned to gsbelarus

[2016-01-28 10:57] NikolayUkleyko commented on #3706
Пока по-старому.
Вышеприведенное выявлено и в документах **_Исследователь / Материальный склад / Доработка сторонними организациями / 10. Отпуск  на доработку (переработку), 11. Возврат с доработки (переработки), 12. Возврат сырья от переработчика_**.
Это напрягает.
Пожалуйста, исправьте.

[2016-01-28 11:09] NikolayUkleyko commented on #3703
Проверено.
  Работает корректно.
  Спасибо !

[2016-01-28 11:09] #3703 closed, assigned to MIchaelShoihet

[2016-01-28 11:14] NikolayUkleyko opened #3713 "Складской учет. Полная карточка ТМЦ. Ограничение на отображение подразделений"
Пожалуйста, предусмотрите в **Полной карточке ТМЦ** в выпадающем списке поля **Подразделение** отображение только тех подразделений / сотрудников, которые отобраны в гриде. Так будет гораздо удобнее работать с данной формой.
  Предусмотрите в выпадающем списке поля **Подразделение** отображение подразделений / сотрудников по возрастанию.

[2016-01-28 11:19] MIchaelShoihet commented on #3713
По возрастанию сделаю, а только тех - это проблематично, потому что карточка может быть очень большой и время затраченное на получение всех подразделений, может быть достаточно большим.

[2016-01-28 11:27] NikolayUkleyko commented on #3713
Жаль...
  Было бы вообще прекрасно. Например, работаю с 5-ю подразделениями приходится вручную вводить искомое наименование. А так бы выбрал - и все.
  Нет, так нет.

[2016-01-28 11:40] NikolayUkleyko opened #3714 "Общие настройки. Настройка шрифта, цвета и прочего в гридах"
Возможно ли предусмотреть в общих настройках платформы параметр для указания настроек шрифта, цвета и прочего в гридах ?
  Предполагается окно параметров, где помимо основных настроек будет предусмотрено обновить настройки грида везде или не обновлять вовсе ? При первичной настроке программы удобно. А потом, по ходу работы каждый пользователь под себя настроит грид.
  Это не моя прихоть, а реальна

[2016-01-28 11:48] gsbelarus commented on #3691
[code]

сначала одно присваивается. затем сразу же False.

и уже есть же чекбокс включать субсчета. в чем смысл еще одного?

[2016-01-28 11:49] alexandra-gsoftware commented on #3714
так да... а потом кто-то будет плакать, что бесценный документик, который он три дня настраивал, поломался

[2016-01-28 12:01] NikolayUkleyko commented on #3714
Предусмотреть, что если, грид менялся под пользователем, тогда ничего не менять. Или параметр и сообщение о **Принудительном применении настроек грида**.
  Это одно.
  Второе. У нас в **Комплексной автоматизации** полным полно документов и справочников, у которых в гридах разные шрифта, цвета и прочее. Числовые поля отображаются без форматирования. Неоднократно просили Юрий по ЗП и ОК.

[2016-01-28 12:08] alexandra-gsoftware commented on #3714
ну, если уж делать, то по списку выбранных док-тов и гридов к ним. У меня, например, многое настроено через цвет/шрифт, я не хочу, чтобы это поломалось.

[2016-01-28 12:13] alexandra-gsoftware commented on #3706
а это именно только с форматированием проблема?

[2016-01-28 12:15] #3711 closed, assigned to gsbelarus

[2016-01-28 12:48] MIchaelShoihet commented on #3713
Для облегчения добавил кнопку, которая подставляет подразделение из текущей строчки.

[2016-01-28 13:50] NikolayUkleyko commented on #3714
Гибкая настройка по каждому документу, справочнику будет очень кстати.

[2016-01-28 13:51] NikolayUkleyko commented on #3706
Александра, скажи, пожалуйста, что имеешь в виду ?

[2016-01-28 13:52] alexandra-gsoftware commented on #3706
в смысле, не слетает ли там ширина колонок, название, шрифт, цвет?

[2016-01-28 13:56] NikolayUkleyko commented on #3706
Нет-нет.
Слетает только форматирование числовых значений.
Стоит только нажать клавишу **F5** и все становится на место.
Могу показать.
:bicyclist:

[2016-01-28 13:57] alexandra-gsoftware commented on #3706
загадочная загадка.

[2016-01-28 13:57] NikolayUkleyko commented on #3713
Как вариант.
  Хорошо.

[2016-01-28 14:17] gsbelarus commented on #3710
Можно, но операция удаления более разрушительна.

Вся проблема тут в том, что ПИ предназначены для работы с объектами, а в данном случае два разных объекта "Группа для общепита" и "Группа из комплексной автоматизации" совмещены в одном. И пока их не разъединишь будет такая чехарда.

[2016-01-28 14:33] alexandra-gsoftware commented on #3710
я не говорю, что их нужно удалить. Я хочу понять, почему именно ">>", а не "?" или "<<"

[2016-01-29 08:34] NikolayUkleyko commented on #3613
Сейчас в **Журнале хоз. операций** без фильтров и сортировок нельзя удалить запись. Вышеприведенное сообщение.

[2016-01-29 09:35] MIchaelShoihet commented on #3613
Разобрались с этим вопросом. Просто нельзя было удалить запись, потому что на нее была ссылка. Тут есть вопрос с визуализацией. Суть проблемы - создаем ручную проводку по счету по которому есть аналитика документ. При создании проводки поле номер оставляем не заполненный. Документ конечно создается (с пустым номером), при этом аналитика документ заполняется автоматически (ссылка на созданный докум

[2016-01-29 11:25] NikolayUkleyko commented on #3613
Предлагаю для документов без номера автоматически присваивать значение **б/н**.

[2016-01-29 14:38] alexandra-gsoftware opened #3715 "Ошибка добавления в ПИ "Групповая операция невозможна""
Пытаюсь добавить новое поле - получаю вместо диалога добавления в ПИ такое сообщение.
Поле выделяю одно. Его таблица и домен уже входят в какие-то ПИ. Еще вчера все работало.

[2016-01-29 14:45] alexandra-gsoftware commented on #3715
UPD: вообще не работает добавление. На любом объекте. Если объект уже входит в ПИ, вылазит диалог добавления\редактирования. Если никуда не входит - получаем ошибку "Групповая операция невозможна"

[2016-01-29 17:15] zholnerovich commented on #3673
Правильно ли я понимаю, что эта аналитика будет всегда доступна для всех счетов?

[2016-01-29 18:24] gsbelarus commented on #3673
Ясное дело.

[2016-02-01 06:35] NikolayUkleyko commented on #3673
Аналитика **Типовой документ** будет всегда доступна для всех счетов, как и аналитики: **_Валюта, Года, Дата проводки, Месяц, Рабочая компания_**. То есть, такая аналитика не задается в плане счетов для счетов.

[2016-02-01 14:48] NikolayUkleyko commented on #3713
Проверено.
  Работает корректно.
  Большое спасибо !

[2016-02-01 14:48] #3713 closed, assigned to nobody

[2016-02-02 09:39] #3715 closed, assigned to gsbelarus

[2016-02-02 09:53] YRozmysl opened #3716 "Обновление базы"
При обновлении клиентской базы новым ехе возникает вот такое сообщение. Это нормальная ситуация, или нет?
![default](https://cloud.githubusercontent.com/assets/11507129/12745736/f15e02e2-c9ab-11e5-8737-1c3c11ad050c.jpg)

[2016-02-02 10:10] gsbelarus commented on #3716
Покажешь эту базу.

[2016-02-02 11:59] alexandra-gsoftware commented on #3716
а склад там на днях не обновлялся?

[2016-02-02 12:12] YRozmysl commented on #3716
Не думаю - это база КИС

[2016-02-02 16:04] zholnerovich commented on #3461
Активный план счетов зависит от выбранной компании. А что должно происходить если стоит галка "все компании холдинга"? Какой тогда план счетов считается активным?

[2016-02-02 16:08] gsbelarus commented on #3461
активный план счетов ТЕКУЩЕЙ компании

[2016-02-02 16:21] zholnerovich commented on #3461
Скинул код. Это должно исправить проблему когда счет не выбран.

[2016-02-03 06:56] zholnerovich commented on #3461
справа от поля "Счета" есть кнопка, которая вызывает диалоговое окно выбора счетов. Мне кажется она работает не правильно. Она выводит план счетов компании выбранной в журнале ордере, а не в главном окне

[2016-02-03 08:59] zholnerovich commented on #3419
Либо я не разобрался либо доработка уже выполнена, потому как в диалоговом окне можно выбрать пустое поле

[2016-02-03 15:21] #3708 closed, assigned to gsbelarus

[2016-02-03 15:22] NikolayUkleyko opened #3717 "ПИ. Окно добавления. Не контрастный шрифт"
Пожалуйста, исправьте шрифт в окне добавления в ПИ. Сейчас шрифт не контрастный - ничего не разобрать. Сделайте шрифт белым или измените цвет фона.

![1](https://cloud.githubusercontent.com/assets/11497453/12786609/e3d2d22c-caa2-11e5-96ba-659952ebd2e8.png)

[2016-02-03 15:27] #3693 closed, assigned to gsbelarus

[2016-02-03 15:27] #3292 closed, assigned to gsbelarus

[2016-02-03 15:31] NikolayUkleyko commented on #3706
Вопрос не решен.
Например, **на любой БД** в **_Исследователь / Материальный склад / 07. Списание материалов_** нажмите на кнопку **Остатки ТМЦ** и **ОК**.
В позиции суммы будут отображены без применения настроек форматирования, то есть слитно. Потом, клавиша **F5** и грид отображается корректно.
Аналогичное в **_Исследователь / Основные средства / ОС. Допоступление/Списание затрат_**.
Все это отн

[2016-02-03 15:49] #3717 closed, assigned to gsbelarus

[2016-02-04 09:55] NikolayUkleyko commented on #3716
Что в итоге ?

[2016-02-04 10:08] gsbelarus commented on #3716
хз. не повторяется больше.

[2016-02-04 10:08] #3716 closed, assigned to gsbelarus

[2016-02-04 12:35] YRozmysl opened #3718 "Пропали отчеты"
На последнем экзе пропали отчеты в списке печатных форм на БМКК. Например, Справочники по ЗПиОК-Технологические операции

[2016-02-04 12:58] gsbelarus commented on #3718
https://youtu.be/CduA0TULnow

[2016-02-04 12:58] #3718 closed, assigned to gsbelarus

[2016-02-04 13:24] AliakseiDanilchyk commented on #3706
Я сталкивался с ситуацией, когда форматирование вывода числового поля в гриде не сохранялось при настройке через мастер установок. Происходило это из-за настройки формата вывода для поля таблицы.
То есть в таблице было поле с типом DCURRENCY. Для этого поля на вкладке "Визуальные" был указан формат вывода #,##0.##
При этом в гриде это поле отображалось без форматирования. При настройке форматирова

[2016-02-04 14:02] NikolayUkleyko commented on #3706
Попробуйте документ **_Исследователь / Материальный склад / 02. Внутренние перемещения материалов, МБП_**.
Домен и формат аналогичные.
Проблем не наблюдается.

[2016-02-05 08:09] YRozmysl opened #3719 "Модифай и замена доменов."
Замечено следующее, что после модифая поменялись тип домена в некоторых полях. Так, например, всегда поле USR$AGELIMIT в таблице USR$WG_CHILDCAT  имело домен USR$WG_D_CHILDCAT,  после модифая стало DCURRENCY

[2016-02-05 08:25] gsbelarus commented on #3719
1. Одно это поле или есть еще поля?
2. точно поменялось? Найти старую БД, к которой не прикасались новым экзешником, подключиться IBExpert и посмотреть тип. Старая БД -- это такая к которой не прикасались актуальным экзешником за последние 12 месяцев.
3. Посмотреть другие БД, которые смодифаены новейшим экзешником. Тот же эталон.

[2016-02-05 08:33] gsbelarus commented on #3719
Это кто-то из разработчиков поменял на домен dcurrency так как появились дробные коэффициенты. Спрашивается: какого лешего? **dcurrency** -- это домен для ДЕНЕГ. Как теперь мы будем проводить деноминацию?

В данной ситуации надо было изменить домен **USR$WG_D_CHILDCAT**.

На ровном месте создаем себе проблемы.

[2016-02-05 08:50] NikolayUkleyko opened #3720 "Бухгалтерия. Доработки для конструктора функций"
**_Исследователь > Типовые хоз. операции > Автоматические хоз. операции > Отчеты бухгалтерии > Настройка функций**_.

  Пожалуйста, для конструктора функций реализуйте следующее:
**а**. Предусмотрите прокрутку списка скроллом мышки. Так будет удобнее работать со списком.
![1](https://cloud.githubusercontent.com/assets/11497453/12841567/984e3272-cbfd-11e5-88f8-7304b66cfad2.png)

**b**. Окно выбора

[2016-02-05 09:16] NikolayUkleyko commented on #3719
Я бы не полагался на домен **DCURRENCY** при деноминации на 100 % Так, как кроме вышеприведенной ситуации полным полно, где этот домен используется не только для денежных средств.

[2016-02-05 09:19] gsbelarus commented on #3719
Так мы и не будем полагаться. Просто зачем усложнять то, что и так сложное. Есть же домен для этой колонки с ним и надо было разбираться.

[2016-02-05 09:20] NikolayUkleyko commented on #3706
Проблема наблюдается не просто при переоткрытии формы, а при открытии **формы выбора остатков** и нажатии на кнопку **ОК**.

[2016-02-05 09:21] gsbelarus commented on #3706
Сейчас вообще поменяем систему визуальных настроек и такие проблемы решатся.

[2016-02-05 09:29] NikolayUkleyko opened #3721 "Бухгалтерия. Отчеты бухгалтерии. Не доступны отчеты"
**_Исследователь > Бухгалтерия > Отчеты бухгалтерии > Расчет**_.

  На новом gedemin.exe стали не доступны ранее доступные отчеты.
  Пожалуйста, исправьте.

[2016-02-05 09:54] #3721 closed, assigned to gsbelarus

[2016-02-05 10:23] alexandra-gsoftware commented on #3719
dcurrency это numeric (15,4). Он используется для любых числовых значений, подпадающих под этот формат.
на эталоне и в пи ни с полем, ни с доменом ничего не делали. если поле поменялось через модифай, то он почему-то не затронул эталон.

и да, в фб можно поменять домен, но через пи это не переносится... а хотелось бы

[2016-02-05 10:25] gsbelarus commented on #3719
Плохо, что используется, потому что изначально:

[code]

[2016-02-05 10:26] gsbelarus commented on #3719
но перенеслось же...

[2016-02-05 11:55] alexandra-gsoftware commented on #3719
если бы перенеслось, то перенеслось бы на эталон, и фигурировало в пи..

[2016-02-05 14:12] YRozmysl commented on #3719
Вопрос снимается. Это поле почему-то на базе КИС еще до модифая уже было DCURRENCY, почему так, я точно не скажу.

[2016-02-05 14:19] NikolayUkleyko opened #3722 "Бухгалтерия. Процедура. Свойства параметров. Искажение формы"
**_Исследователь > Бухгалтерия > Автоматические хоз. операции**_.

  Искажается форма в процедуре > свойства блока.
  Пожалуйста, исправьте.
  **_Искажено:**_
![1](https://cloud.githubusercontent.com/assets/11497453/12848700/82c6843e-cc2c-11e5-8287-57c3d54a5718.png)

  **_Не искажено**_:
![2](https://cloud.githubusercontent.com/assets/11497453/12848705/86de2176-cc2c-11e5-836b-eec5c5247684.png)

[2016-02-05 14:20] NikolayUkleyko commented on #3719
Закрывай тему.

[2016-02-05 14:22] alexandra-gsoftware commented on #3722
мне кажется, обе картинки одинаковые. В чем разница?

[2016-02-05 14:27] #3719 closed, assigned to gsbelarus

[2016-02-05 14:32] NikolayUkleyko commented on #3722
Паша знает о чем речь.
:smile:

[2016-02-05 14:48] NikolayUkleyko opened #3723 "Бухгалтерия. Журнал хоз. операций. Ограничение на ввод значений после запятой"
**Исследователь / Бухгалтерия / Журнал хоз. операций**.

В Журнале хоз. операций для числовых полей **сумма, рубли; сумма, эквивалент; сумма, валюта** предусмотрен домен DCURRENCY (формат 15, 4). На практике введя 4-е цифры до запятой, то после запятой можно ввести только 3-и цифры. Чем больше ввести цифр до запятой, тем меньше можно ввести цифр после запятой. Введя 10 цифр, после запятой уже ниче

[2016-02-05 15:49] NikolayUkleyko opened #3724 "Бухгалтерия. Суммы в эквиваленте"
**_Исследователь > Бухгалтерия > Автоматические хоз. операции, Типовые хоз. операции, Отчеты бухгалтерии > Настройка функций**_.

  Я проверил, программа допускает в конструкторе функций ввод по дебетовой и кредитовой частям **разных** значений в поле **Сумма в эквиваленте**.
  Так задумано или нет ?
  Если нет, тогда имеет смысл в типовых хоз. операциях предусмотреть проверку на заполнение поля *

[2016-02-08 09:28] NikolayUkleyko opened #3725 "Банк. Банковская выписка. Ошибка при сохранении типового документа"
**_Исследователь > Банк и касса > Банковская выписка**_.

  При сохранении типового документам программа выдает окно с сообщение об ошибке:
![1](https://cloud.githubusercontent.com/assets/11497453/12881993/4c5535fa-ce5f-11e5-9bb6-c54f43b2afe7.png)

  Пожалуйста, устраните данную проблему.

[2016-02-08 09:54] #3725 closed, assigned to gsbelarus

[2016-02-08 09:56] gsbelarus commented on #3724
Если делать, то так же как проверяется соответствие сумм в рублях и валюте. Но, может был за этим какой-то смысл? @MIchaelShoihet

[2016-02-08 12:00] MIchaelShoihet commented on #3724
Вообще программа проверяет корректность только рублевых сумм, т.к. только для них относится правило двойной записи. Для валютных сумм это никак не относится. Эквивалент - то же является побочным продуктом и может использоваться настройщиком для его целей, поэтому на него то же ограничение не накладывается.

[2016-02-08 16:24] zholnerovich commented on #3673
Кто-нибудь может мне популярно объяснить что такое уровни аналитики в ЖО?

[2016-02-09 10:14] NikolayUkleyko opened #3726 "Шаблоны. Удаленное подключение. Программа закрывается при попытке обращения к папке"
Подключение к удаленное рабочему столу через RDP.
  При попытке открытия папки с шаблонами программа закрывается без предупреждений. При этом **теряются все выполненные визуальные настройки**. Предполагается, что причиной тому является запрет на доступ к выбираемой папке.
  Пожалуйста, предусмотрите, чтобы в данной ситуации программа отображала окно с сообщением:

**Политикой безопасности доступ к

[2016-02-09 11:05] NikolayUkleyko opened #3727 "Реально ли создать конструктор пересчетов по документу и конструктор отчетов ? (Q)"
Сейчас простейший расчет по позиции документа требует навыков программирования. При этом, если, алгоритм пересчета сложный, то при попытке внесения небольшой доработки, например, округления, может быть нарушена работоспособность существующего алгоритма. Так как, данный алгоритм где-то (документах, функциях, методах) еще используется.
  Напрашивается вопрос: реально ли по аналогии с конструктором б

[2016-02-09 11:28] MIchaelShoihet commented on #3727
Об этом мы сейчас думаем. Но отдельная большая задача.

[2016-02-09 15:05] zholnerovich commented on #3720
Прокрутка диалоговое окно ЖО

[2016-02-10 10:40] zholnerovich commented on #3720
А может наследника на scrollbox создать?

[2016-02-10 10:41] NikolayUkleyko opened #3728 "Бухгалтерия. Журнал-ордер. Округление сумм"
**_Исследователь > Бухгалтерия > Журнал-ордер**_.

  **Минскхлебпром**.

![image](https://cloud.githubusercontent.com/assets/11497453/12944625/5c46363a-cff9-11e5-86ea-8d0d21133cb3.png)

  На предприятии бухгалтера утверждают, что в данном примере сумма должна составить

![image](https://cloud.githubusercontent.com/assets/11497453/12944842/dc69a4fe-cffa-11e5-8429-50e23de1da29.png)

  В Журнале-орде

[2016-02-10 10:42] NikolayUkleyko commented on #3720
Паша, я не сторонник наследников и подобного.
  Лучше уточни у знающих людей.

[2016-02-10 10:45] zholnerovich commented on #3720
Коля это не к тебе вопрос.

[2016-02-10 11:00] gsbelarus commented on #3720
А какой размер окна? Может его увеличить просто?

[2016-02-10 11:02] zholnerovich commented on #3720
увеличил с 400 до 571

[2016-02-10 11:13] gsbelarus commented on #3728
То есть встроить в гедымин ошибку, чтобы потом нас где нибудь на разборках сношали "смотрите какая херовая программа она даже 2+2 правильно сложить не может".

Почему бы не написать официальное письмо, приложить пример, и правила округления. И закрыть этот вопрос.

[2016-02-10 11:18] gsbelarus commented on #3720
800*600 уже не поддерживается гедымином. И тем более на таком экране никто не будет бухучет настраивать. Так что смело можно ставить начальную высоту 768 - высота главн окна \* 2.

[2016-02-10 11:19] gsbelarus commented on #3720
Где то 620-640 будет

[2016-02-10 11:44] zholnerovich commented on #3720
Тут вопрос про ширину а не высоту, ширины не хватает

[2016-02-10 11:49] gsbelarus commented on #3720
1024 не хватает?

[2016-02-10 11:54] zholnerovich commented on #3720
Вполне хватит, даже много, будет пусто смотреться

[2016-02-11 10:56] zholnerovich commented on #3722
на вин 10 не обнаружено

[2016-02-11 10:58] zholnerovich commented on #3723
Есть еще такая вещь как выход за диапазон. Что с этим делать?

[2016-02-11 12:58] alexandra-gsoftware opened #3729 "Документ "Произвольный тип" не соответствует триггеру в GD_DOCUMENTTYPE"
В Комплексной автоматизации лежат три типовых док-та Произвольный тип, Произвольный тип148648702, Произвольный тип151683394. Они используются для АХО. Эти типы лежат в корне GD_DOCUMENTTYPE (у них PARENT IS NULL). Однако в триггере в GD_DOCUMENTTYPE на изменение old.PARENT сохраняется в переменную типа DINTKEY, в результате триггер кидает ошибку при попытке изменить эти типовые док-ты.

Я могу отк

[2016-02-11 12:59] alexandra-gsoftware commented on #3729
еще по этой теме: https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/86

[2016-02-11 13:02] alexandra-gsoftware commented on #3729
Проблема возникла после апдейта, который исправлял ситуацию "сабтайп не равен РУИДу". У этих документов поменялся РУИД, и они теперь пытаются обновиться при установке ПИ. ПИ не ставится.

[2016-02-11 13:05] alexandra-gsoftware opened #3730 "ПИ не поставилось, но номер версии обновился"
Сейчас ПИ GS.Бухгалтерия.Закрытие авансовых платежей не ставится из-за проблемы с типовыми док-тами (см https://github.com/GoldenSoftwareLtd/gedemin/issues/3729 ). Однако версия у ПИ при этом увеличивается.

[2016-02-12 06:31] #3730 closed, assigned to gsbelarus

[2016-02-12 07:56] #3729 closed, assigned to gsbelarus

[2016-02-12 08:00] gsbelarus commented on #3726
Для начала надо выяснить что именно является причиной. Надо посмотреть журнал событий операционной системы на сервере, которому подключаемся через RDP.

Без установления причины что-то сделать невозможно.

[2016-02-12 08:23] MIchaelShoihet commented on #3728
тут ничего не получится. @EugeneFedorov  надо округлять суммы по проводкам по его счетам до рублей и тогда все будет строится красиво.

[2016-02-12 11:19] arthur-latunov commented on #3726
Было такое при попытке сохранить скрипт-объект в файл.
Правая кнопка мыша на иконке Гедымин и Запуск от имени администратора, всё заработало.

[2016-02-12 11:28] MIchaelShoihet commented on #3726
Это скорее всего проблема не Гедемина. Потому что объект открыть файл - это стандартный Windows элемент и именно он закрывает программу

[2016-02-12 11:30] alexandra-gsoftware commented on #3729
а как починили?

[2016-02-12 13:22] NikolayUkleyko commented on #3726
Как настроить Windows, чтобы в подобной ситуации были сообщения о предупреждении и выбор другой папки ?

[2016-02-12 13:40] NikolayUkleyko commented on #2947
Тема переместилась в https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/89
  Можно здесь закрыть.

[2016-02-12 13:47] NikolayUkleyko commented on #2773
Данный вопрос давно решен.
  Пожалуйста, закройте тему.

[2016-02-12 13:49] #2773 closed, assigned to gsbelarus

[2016-02-12 13:53] NikolayUkleyko commented on #2665
Все написано по делу.
  Даже ручная консервация/расконсервация не решает проблемы. Месячная норма амортизации не сходится с реально рассчитанной. Тогда, приходится вручную отражать амортизацию в документе **ОС. Допоступление/Списание затрат**. Все это не автоматизация, а ...
  Тема переместилась в https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/89
  Пожалуйста, закройте здесь.

[2016-02-12 13:55] #2665 closed, assigned to gsbelarus

[2016-02-12 13:58] NikolayUkleyko commented on #2381
Скажите, пожалуйста, это еще актуально ? Не только в части ПИ, но и настроек.

[2016-02-12 13:59] NikolayUkleyko commented on #2360
Данный вопрос давно решен.
  Пожалуйста, закройте тему.

[2016-02-12 14:00] NikolayUkleyko commented on #2055
Пожалуйста, скажите, это еще актуально ?

[2016-02-12 14:05] alexandra-gsoftware commented on #2381
ну, в пи они сохраняются. Например, бух. счета не работали бы без этого...

[2016-02-12 14:08] #2360 closed, assigned to gsbelarus

[2016-02-12 14:09] MIchaelShoihet commented on #2055
Это относиться только к ВМК и надо проверить

[2016-02-12 14:11] NikolayUkleyko commented on #1910
Данная доработка выполнена давно.
  Работает корректно.
  Пожалуйста, закройте тему.

[2016-02-12 14:57] alexandra-gsoftware opened #3731 "Не обновляются пи: ошибка нарушение первичного ключа в AT_NAMESPACE"
проблема с полем NAME

[2016-02-12 16:40] #1910 closed, assigned to gsbelarus

[2016-02-12 20:07] alexandra-gsoftware commented on #1910
6059

2016-02-12 19:40 GMT+03:00 MIchaelShoihet notifications@github.com:

[2016-02-15 08:51] #3731 closed, assigned to gsbelarus

[2016-02-15 09:33] NikolayUkleyko opened #3732 "Бухгалтерия. Журнал хоз. операций. Добавить прокрутку скроллом диалоговой формы"
**Исследователь / Бухгалтерия / Журнал хоз. операций**.

Пожалуйста, добавьте прокрутку **скроллом** диалоговой формы. Сейчас не удобно работать с **минимизированной** формой диалога.

![1](https://cloud.githubusercontent.com/assets/11497453/13044548/ce8a080e-d3df-11e5-8986-fb4c85d7b435.png)

Прокрутка должна работать **только по выделенной части (или дебет, или кредит)**.

[2016-02-15 09:35] NikolayUkleyko commented on #3724
Я так, понимаю, что в части работы **эквивалента** конструктор функций работает корректно. Если, ни у кого нет вопросов, закрываю данную тему.

[2016-02-15 09:35] #3724 closed, assigned to nobody

[2016-02-15 09:39] NikolayUkleyko commented on #1518
Все пункты реализованы.
  Проверено.
  Работает корректно.
  Пожалуйста, закройте данную тему.

[2016-02-15 09:44] NikolayUkleyko commented on #1263
Тема перенесена в https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/89
  Пожалуйста, закройте здесь.

[2016-02-15 09:50] NikolayUkleyko commented on #3
По-моему копирования **DFM как текста** достаточно.
  Решайте, закрыть данную тему или нет ?

[2016-02-15 09:54] #1263 closed, assigned to gsbelarus

[2016-02-15 09:54] #1518 closed, assigned to gsbelarus

[2016-02-15 09:55] #3 closed, assigned to gsbelarus

[2016-02-15 09:58] NikolayUkleyko commented on #400
Мною проделана большая работа по данной теме.
  Пожалуйста, закройте тему.

[2016-02-15 10:00] gsbelarus commented on #400
Закрывать можно, если все это в ПИ и ставится на чистую БД.

@MIchaelShoihet @alexandra-gsoftware

[2016-02-15 10:07] NikolayUkleyko commented on #618
**а**. В программе можно сформировать **только отчеты** по инвентаризации драгоценных металлов. Я не встречал в программе **документы**, в которых можно было бы отразить инвентаризацию драгоценных металлов как по материальному складу, так и по основным средствам.
**б**. Документ **ОС. Изменение свойств** совершенно не подходит для отражения инвентаризации драгоценных металлов.
**в**. На практике д

[2016-02-15 10:13] NikolayUkleyko commented on #751
Данную тему обсуждали неоднократно.
  "Овчинка выделки не стоит".
  Если, ни у кого нет вопросов, пожалуйста, закройте данную тему.

[2016-02-15 10:15] #751 closed, assigned to gsbelarus

[2016-02-15 10:29] NikolayUkleyko commented on #753
Пожалуйста, реализуйте такую возможность.

[2016-02-15 10:31] NikolayUkleyko commented on #400
Все это есть в ПИ. Ставится на чистую БД не первый месяц.

[2016-02-15 10:36] NikolayUkleyko commented on #776
По поводу сохранения кольцевых ссылок в ПИ. По-моему уже это реализовано.
  Данная тема рассматривается здесь https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/60
  Пожалуйста, закройте здесь.

[2016-02-15 10:38] NikolayUkleyko commented on #847
В документе **Книга покупок образца 2015 г.** в шапке документа можно выбрать необходимую конфигурацию.
  Работает корректно.
  Если, ни у кого нет вопрос, пожалуйста, закройте данную тему.

[2016-02-15 10:40] NikolayUkleyko commented on #909
Пожалуйста, скажите, актуальна ли данная тема ?

[2016-02-15 10:43] NikolayUkleyko commented on #1085
Пожалуйста, скажите, актуальна ли данная тема ? Есть, же механизм ПИ.

[2016-02-15 10:46] NikolayUkleyko commented on #1156
В опциях древовидной формы есть пункт **Разрешать перетаскивание**. Что позволяет настраивать перетаскивание. Об этом ли данная тема ?

[2016-02-15 10:49] NikolayUkleyko commented on #1191
Проверено.
  Работает корректно.
  Пожалуйста, закройте данную тему.

[2016-02-15 12:27] alexandra-gsoftware commented on #909
уже нет.
сохранение в поток дорабатываться не будет.

[2016-02-15 12:27] #909 closed, assigned to gsbelarus

[2016-02-15 12:59] NikolayUkleyko commented on #1474
Да. Не везде в свойствах содержится информация о том, кем и когда добавлена запись.
  Макрос для Журнала хоз. операций интересен.

[2016-02-15 13:35] NikolayUkleyko commented on #654
Новейшая версия.
  ПИ **GS.Бухгалтерия.Взаиморасчеты.Перевод Валют**.
  Проверено.
  Работает корректно.
  Пожалуйста, закройте данную тему.

[2016-02-15 13:46] NikolayUkleyko commented on #1383
Проверил.
  На эталоне по документу **Авансовый отчет** в отчете **Авансовый отчет** автоматически не заполнятся пункты 1, 2, 3. В SQL-запросе нет упоминания о выборке данных из документа (**Кассовая книга**) выдачи сумм в подотчет.
  Решите, что делать или закройте данную тему.

[2016-02-15 13:51] MIchaelShoihet commented on #1383
Там нет прямой связи с этими документами и решить какой расходный ордер относится к какому авансовому отчету не возможно, поэтому оно и не печатается... Я думаю это можно закрыть.

[2016-02-15 13:51] #1383 closed, assigned to gsbelarus

[2016-02-15 13:51] NikolayUkleyko commented on #2464
Доработки выполнены давно.
  Проверено.
  Работает корректно.
  Пожалуйста, закройте данную тему.

[2016-02-15 13:53] NikolayUkleyko commented on #2604
Пожалуйста, подскажите, данная тема актуальна ?

[2016-02-15 14:00] NikolayUkleyko commented on #2863
В документе **Путевой лист автомобиля** предусмотрен макрос **_Экспорт данных в документ 'Ручной ввод' для З/П**_ для выгрузки данных по заработной плате в документ учета заработной платы **Ручной ввод**. Впоследствии, в данном документе можно вводить любые данные.
  У кого какие есть предложения ?
  Если, предложений нет, пожалуйста, закройте данную тему.

[2016-02-15 14:02] NikolayUkleyko commented on #2991
Выше я изложил свою точку зрения.
  У кого какие есть предложения ?
  Если, предложений нет, пожалуйста, закройте данную тему.

[2016-02-15 14:02] #2604 closed, assigned to gsbelarus

[2016-02-15 14:04] NikolayUkleyko commented on #3019
Сегодня Юрий вновь столкнулся с данной проблемой.
  Есть ли предложения по устранению вышеизложенной недоработки ?

[2016-02-15 14:12] NikolayUkleyko commented on #3305
Если, по данному вопросу новостей нет, то, пожалуйста, закройте данную тему.

[2016-02-15 14:29] alexandra-gsoftware commented on #618
мне кажется, что все равно нужен док-т, где вносятся реальные данные по ДМ... А Изменение св-в почему не подходит?

[2016-02-15 15:08] MIchaelShoihet commented on #618
На самом деле - что значит реальные данные по драг металлам - они могут быть известны только после переплавки и это идет отдельным отчетом, а пока предмет используется просчитать кол-во драг. металлов в нем не возможно. Поэтому отчетов обычно хватает. Но бывают ошибки, бывает что по какому-то наименованию забыли внести и для того что бы старые отчеты не ломались можно в докменте изменения свойств

[2016-02-15 17:47] hirurg-lybitel opened #3733 "ПИ. Что-то не так..."
Собрал базу.

Сразу лезу в синхронизацию ПИ и вижу такую картину:
![image](https://cloud.githubusercontent.com/assets/11502258/13056085/baeaecc8-d41b-11e5-90c8-8095d782b58b.png)

Как-то многовато хочет сохранить обратно, учитывая, что я базу только собрал и ничего не делал.
Начинаю сравнивать ПИ в базе и на диске.

Картина везде разная:
- то в ПИ на диске есть поля, которые так и не появились в ба

[2016-02-15 17:56] alexandra-gsoftware commented on #3733
По ходу, это одни и те же даты, только по разному представлены. Непонятно, почему так. Может, зависит от настроек винды?

[2016-02-15 17:58] alexandra-gsoftware commented on #3733
С должностями ничего не поделаешь - это долго и нудно обсуждалось, и решили ничего не делать

[2016-02-15 17:59] alexandra-gsoftware commented on #3733
А исчезнувшие макросгруп и репортгруп - мне кажется, что-то не добавлено в пи...

[2016-02-15 18:01] gsbelarus commented on #3733
У нас в минске часовой пояс GMT +3 часа. У тебя на компьютере выбран НЕРАВИЛЬНЫЙ часовой пояс. В чем проблема? Исправь и все будет ок.

[2016-02-15 18:08] hirurg-lybitel commented on #3733
Ладно, живите пока...

[2016-02-15 18:08] #3733 closed, assigned to gsbelarus

[2016-02-15 18:57] alexandra-gsoftware opened #3734 "ПИ: сортировка данных в кросс-таблицах"
Сейчас, если в ПИ сохраняется объект, у которого есть поле-ссылка на множество, то элементы множества не сортируются никак (или непонятно как). Это вызывает проблемы при сравнении базы с ПИ. Может, сортировать их по руидам, или именам?

[2016-02-15 19:15] #3653 closed, assigned to gsbelarus

[2016-02-15 19:16] #3654 closed, assigned to gsbelarus

[2016-02-15 19:17] #3609 closed, assigned to MIchaelShoihet

[2016-02-15 19:17] #3641 closed, assigned to gsbelarus

[2016-02-15 19:17] #3566 closed, assigned to gsbelarus

[2016-02-15 19:19] #3565 closed, assigned to gsbelarus

[2016-02-15 19:19] #3523 closed, assigned to gsbelarus

[2016-02-15 19:19] #3453 closed, assigned to gsbelarus

[2016-02-15 19:20] #3516 closed, assigned to gsbelarus

[2016-02-15 19:24] #3644 closed, assigned to gsbelarus

[2016-02-15 19:26] alexandra-gsoftware commented on #3649
вроде починили.

[2016-02-15 19:26] #3649 closed, assigned to gsbelarus

[2016-02-15 19:34] #3460 closed, assigned to gsbelarus

[2016-02-15 19:36] #3402 closed, assigned to gsbelarus

[2016-02-15 19:36] #3411 closed, assigned to gsbelarus

[2016-02-15 19:38] #2381 closed, assigned to gsbelarus

[2016-02-15 19:39] #3116 closed, assigned to gsbelarus

[2016-02-15 19:47] #3240 closed, assigned to gsbelarus

[2016-02-15 19:50] #3224 closed, assigned to gsbelarus

[2016-02-15 20:27] #3220 closed, assigned to gsbelarus

[2016-02-15 20:41] #3186 closed, assigned to gsbelarus

[2016-02-15 20:41] #3170 closed, assigned to gsbelarus

[2016-02-15 20:42] #3144 closed, assigned to gsbelarus

[2016-02-15 20:42] #3143 closed, assigned to gsbelarus

[2016-02-15 20:45] hirurg-lybitel commented on #3129
это ещё актуально?  А то с 2013-05-31 никто у нас даже  не спрашивал про такой тип скидок

[2016-02-15 20:47] #2917 closed, assigned to gsbelarus

[2016-02-15 20:47] #2915 closed, assigned to gsbelarus

[2016-02-15 20:49] #2399 closed, assigned to gsbelarus

[2016-02-15 20:50] #1590 closed, assigned to gsbelarus

[2016-02-15 20:52] hirurg-lybitel commented on #1587
По-моему, эта тема актуально и сейчас. Какие есть идеи дешёвого и качественного  пиара?

[2016-02-15 20:53] #1580 closed, assigned to gsbelarus

[2016-02-15 20:58] #1574 closed, assigned to gsbelarus

[2016-02-15 21:56] #3215 closed, assigned to gsbelarus

[2016-02-15 22:00] #3006 closed, assigned to gsbelarus

[2016-02-16 05:17] #1191 closed, assigned to gsbelarus

[2016-02-16 05:17] #1085 closed, assigned to gsbelarus

[2016-02-16 07:28] NikolayUkleyko commented on #618
**а**. Документ **ОС. Изменение свойств** предназначен для отражения изменений по **относительным значениям**. Количество драгоценных металлов является **абсолютным значением**. Поэтому, данный документ не к месту.

**б**. По хорошему необходим **реальный документ** инвентаризации драгоценных металлов по основным средствам. Я бы взял за основу из материального склада документ **09. Инвентаризация

[2016-02-16 07:45] MIchaelShoihet commented on #618
Все конечно хорошо, но движение драг металлов у нас не ведется (как складское движение) и я считаю это лишним. Как часто изменяется кол-во драг металлов - единицы, для этого достаточно того что уже есть, в документе изменения свойств мы создаем новую карточку с новыми значениями и этого нам хватит что бы увидеть изменения, которые произошли с драгметаллами. Основное движение драгметаллов это все-т

[2016-02-16 08:50] #847 closed, assigned to gsbelarus

[2016-02-16 09:20] gsbelarus commented on #3019
Теперь при загрузке из ПИ загрузится ТОЛЬКО если в базе соответствующее поле пустое.

[2016-02-16 09:20] #3019 closed, assigned to gsbelarus

[2016-02-16 09:29] NikolayUkleyko commented on #3332
Пожалуйста, подскажите, актуальна ли данная тема ?

[2016-02-16 09:31] NikolayUkleyko commented on #3337
По данной теме вроде бы, как выполнены доработки.
  Если, ни у кого нет вопросов, можно закрыть тему.

[2016-02-16 09:32] NikolayUkleyko commented on #3397
Если, утилита готова к применению и по данной теме нет вопросов, пожалуйста, закройте тему.

[2016-02-16 09:33] #3397 closed, assigned to gsbelarus

[2016-02-16 09:33] YRozmysl commented on #3332
нет, хотя очень хотелось бы , на мелких и средних предприятиях, это не видно, а вот на крупных -это уже не утаишь, как-то вот так.

[2016-02-16 09:33] #3337 closed, assigned to gsbelarus

[2016-02-16 09:33] NikolayUkleyko commented on #3421
Если, вопросов по данной теме нет, пожалуйста, закройте тему.

[2016-02-16 09:34] #3421 closed, assigned to gsbelarus

[2016-02-16 09:40] YRozmysl commented on #3332
Я ошибся, конечно же вопрос очень актуальный. Подумал, что Коля спросил, решена ли проблема. Она очень актуальна. И он не решен.

[2016-02-16 09:49] NikolayUkleyko commented on #3332
Юрий упоминал, что **долгоиграющее** итоговое начисление имеет место быть из-за того, что каждый раз за прошлые периоды пересчитываются данные по всем видам начислений/удержаний. Полученные данные необходимы для выполнения других расчетов.
  Предлагаю выполнить доработки, чтобы каждый раз при расчете итогового начисления не пересчитывались за прошлые периоды данные по всем видам начислений/удержан

[2016-02-16 09:50] YRozmysl commented on #3332
Чтобы расписывать план, тут надо выяснить проблему  точно  из -за чего  замедление,  я лишь высказал предположение.

[2016-02-16 09:52] NikolayUkleyko commented on #3234
Я так понял, что в **древовидных справочниках/документах** крайне не рекомендуется изменять иерархию записей путем **_перетаскивания записей**_. Лучше использовать простое редактирование записей и указывать входимость той или иной записи. Так ли ?
  Если, ни у кого нет предложений, пожалуйста, закройте данную тему.

[2016-02-16 09:55] NikolayUkleyko commented on #3332
Затратив время на данную доработку, выйграем его в будущем.

[2016-02-16 10:01] NikolayUkleyko commented on #3469
В программе механизм формирования бухгалтерских проводок работает корректно.
  Если, по данной теме ни у кого нет вопросов, пожалуйста, закройте тему.

[2016-02-16 10:03] #3469 closed, assigned to gsbelarus

[2016-02-16 10:03] YRozmysl commented on #3332
это все имеет место там, где есть однодневные наряды, число которых может в месяц может доходить и до 1.5 тыс. И, когда идет итоговое перелопачивается много нарядов. Если это в принципе нельзя ускорить за счет оптимизации кода, а только за счет сервера, то надо однозначно это выяснить. И искать другие варианты.
.

[2016-02-16 10:07] #3650 closed, assigned to gsbelarus

[2016-02-16 10:08] #3636 closed, assigned to zholnerovich

[2016-02-16 10:08] NikolayUkleyko commented on #3468
Я считаю, что нынешний механизм удаления проводок от результата предыдущих расчетов  работает корректно.
  Если, ни у кого нет вопросов по данной теме, пожалуйста, закройте тему.

[2016-02-16 10:09] #3496 closed, assigned to gsbelarus

[2016-02-16 10:12] #2603 closed, assigned to gsbelarus

[2016-02-16 10:14] NikolayUkleyko commented on #3332
Если, наряды не рассчитываются, то проблемы в скорости итогового начисления нет ?
  Надо качественный подход (код :bulb:), а не количественный (сервер :truck:).
  Тогда, будет :running::running::running::running::running: ускорение.

[2016-02-16 10:19] YRozmysl commented on #3332
дело в том, что  у нас все большие клиенты ведут однодневные наряды, поэтому проблема заметна в скорости в первую очередь у их. Там где таких нарядов нет - это вообще не заметно, но это организации до 300 человек, а это не показатель. Поэтому вопрос надо решать.

[2016-02-16 10:20] gsbelarus commented on #3714
Сейчас вообще переделываем эту систему.

[2016-02-16 10:20] #3714 closed, assigned to gsbelarus

[2016-02-16 10:26] NikolayUkleyko commented on #3714
И будет "сказка" :green_book:.

[2016-02-16 10:35] NikolayUkleyko commented on #3472
При наличии механизма ПИ, актуальна ли рассматриваемая тема ?

[2016-02-16 10:39] #3472 closed, assigned to gsbelarus

[2016-02-16 12:36] hirurg-lybitel opened #3735 "Изменение прав доступа"
Торговля  - >09 Переоценка товаров -> Свойство объекта

При попытке изменить права доступа:
![image](https://cloud.githubusercontent.com/assets/11502258/13076390/f5ccc3a0-d4c2-11e5-83fb-9869fe6484f7.png)

[2016-02-16 12:56] #3735 closed, assigned to MIchaelShoihet

[2016-02-16 13:03] gsbelarus commented on #3735
Подправили на уровне экзешника.

[2016-02-16 14:17] NikolayUkleyko commented on #618
**а**. Сейчас в документе **ОС. Изменение свойств** присутствует закладка **Драг. металлы**:
![1](https://cloud.githubusercontent.com/assets/11497453/13077872/8e15bf82-d4cc-11e5-8ac8-f00d799041ce.png)

  Работает весьма **_специфично**_. Для того, чтобы ввести **иное количество** драгоценных металлов необходимо нажать на кнопку **Изменить** и кнопка **ОК**. Тогда, в документе **Карточка ТМЦ по дра

[2016-02-16 14:27] NikolayUkleyko commented on #3036
Проверено.
  Работает корректно.
  Если, ни у кого нет вопрос, пожалуйста, закройте данную тему.

[2016-02-16 14:27] #3036 closed, assigned to gsbelarus

[2016-02-16 14:29] NikolayUkleyko commented on #617
Данная тема рассматривается в https://github.com/GoldenSoftwareLtd/gedemin/issues/618#issuecomment-184563033
  Пожалуйста, закройте здесь.

[2016-02-16 14:36] NikolayUkleyko commented on #3483
**а**. Документы **12. Комплектация ТМЦ** и **13. Разукомплектация ТМЦ** работают корректно.

**б**.

  Предлагаю на панель инструментов добавить кнопку **Заполнить количество драг. металлов в приходной части**. При нажатии на данную кнопку, если в приходной части количество = 1, то  берется общее количество драгоценных металлов из расходной части и подставляется в грид оприходывания драгоценных м

[2016-02-16 14:37] #617 closed, assigned to gsbelarus

[2016-02-16 14:47] alexandra-gsoftware commented on #3483
Тут все сложно. Акт может из одного предмета делать несколько, из нескольких - один, и из нескольких несколько... В разукомплектации есть контроль ДМ (т.е. если мы отделили новые детали от комплекта, то сумма их дм не может превышать то, что было у комплекта). Тут тоже нужен контроль.

[2016-02-16 15:37] #3602 closed, assigned to gsbelarus

[2016-02-16 15:43] gsbelarus commented on #3536
Оставляем копирование с позициями только для документа.

[2016-02-16 15:43] #3536 closed, assigned to gsbelarus

[2016-02-16 15:44] #3417 closed, assigned to gsbelarus

[2016-02-16 15:45] #1249 closed, assigned to gsbelarus