[2022-04-17 07:51] MIchaelShoihet opened #4269 "Окно подключенных пользователей"
![изображение](https://user-images.githubusercontent.com/11498750/163705640-1a8327ba-987e-4e86-809f-1e4d92fcb602.png)
При попытке сортировки по последней колонке выдается ошибка
![изображение](https://user-images.githubusercontent.com/11498750/163705663-0740be41-54ec-4cac-83ff-5e2a01fc86b7.png)
Что бы не листать весь список, хочется видеть сразу самую старую транзанкцию...

[2022-04-17 08:58] #4238 closed

[2022-04-18 14:47] #4039 closed

[2022-04-18 15:13] #4196 closed

[2022-04-18 15:37] NikolayUkleyko opened #4270 "Общие. Мастер установок. Хранение формата колонки при неактивном параметре"
_**Мастер установок → Колонки → Свойства колонки → Формат.**_

Указали вариант формата, **сняли → установили** галку на реквизите **Формат**, вариант формата не сохранен.
Пожалуйста, предусмотрите хранение указанного варианта формата:
![image](https://user-images.githubusercontent.com/11497453/163832697-32b84b0f-3552-4f29-abf9-ecca55a00a07.png)

[2022-04-18 17:26] #4146 closed

[2022-04-20 14:00] #4268 closed

[2022-04-20 14:08] MIchaelShoihet opened #4271 "Ввод счета в ЖО, карта-счета"
Такая тема уже была. Сейчас при вводе счета сразу идет поиск и настройка доступных аналитик, что приводит к паузе после ввода каждого символа, из-за чего срабатывает стандартная функциональность ComboBox который пытается найти и подставить счет из списка, что представляет большое неудобство. На данный момент я бы отказался от поиска и настройки и оставил, как было раньше ввели счет ушли с этого по

[2022-04-27 14:42] #3572 closed

[2022-04-27 14:55] #2029 closed

[2022-04-28 11:40] #3784 closed

[2022-05-13 13:35] gsbelarus opened #4272 "присвоение asinteger строковому параметру"
Обнаружилась проблема на ВБПФ.
Не знаю был это баг или фича, но на старых экзешниках такой запрос для отчетов выполнялся и выдавал данные:

[code]

В поле TAXID с доменом DTEXT20 передаем параметр с типом INT.
На новом exe запрос после выполнения пустой (q.EoF = True).

[2022-05-18 14:27] gsbelarus opened #4273 "Можно зациклить ветку в исследователе"
В окошке редактирования элемента исследователя можно выбрать в поле **Входит в папку** вышележащий по дереву элемент и зациклить ветвь:

![image](https://user-images.githubusercontent.com/5175764/169065292-1c94c503-6431-498a-b61e-ead8e61acc91.png)

Надо проверку добавить.

[2022-05-20 12:37] NikolayUkleyko commented on #4214
С учетом наших разработок существует несколько отдельных настроек по функционалу блокировки данных на дату:

1. Сервис → Параметры → Аудит и безопасность → Блокировка периода.
2. Исследователь → Сервис → Администратор → Блокировка операций по счетам.
3. Исследователь → Бухгалтерия → Рабочий период. **Применяется на БД Витебск БПФ**.
4. Прочий функционал.

-----

Для разрабатываемой формы хорошо бы

[2022-06-16 12:14] NikolayUkleyko opened #4274 "Бухгалтерия. Ахо. Неверно работает параметр "Не удалять результаты предыдущих расчетов""
Выполняем расчет по Ахо с выбранным параметром **Не удалять результаты предыдущих расчетов** — пустой результат.
Последующий запуск Ахо за аналогичный период также приводит к пустому результату.

Выполняем расчет по Ахо без выбранного параметра **Не удалять результаты предыдущих расчетов** — результат с данными.
Последующий запуск Ахо за аналогичный период приводит к результату с данными.

**Такое

[2022-07-13 09:17] YRozmysl opened #4275 "установка ПИ"
При установке ПИ на базу СлМК не устанавливается Пи  Зарплата-Данные, причем нет ошибок, а rollback, Что это может быть и с чем связано?
На других базах ничего такого не наблюдается с этим ПИ, устанавливается.

![data](https://user-images.githubusercontent.com/11507129/178697961-88bb18b6-46c1-4206-a1e8-310c31390a68.jpg)

[2022-07-13 15:29] #4275 closed

[2022-07-19 11:24] NikolayUkleyko opened #4276 "Общие. В таблицу MON$DATABASE добавить поле с датой создания архива базы данных"
В таблице MON$DATABASE предусмотрено поле MON$CREATION_DATE, отображающее дату и время восстановления из архива файла базы данных.
@gsbelarus , пожалуйста, подскажите, можно ли предусмотреть поле, например, MON$BACKUP_DATE, отображающее дату и время формирования архива файла базы данных ?
Смотрел и такой информации не нашел.
Возможно такая информация хранится в других таблицах ?

[2022-08-02 09:14] NikolayUkleyko commented on #4194
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-08-02 09:25] #4151 closed

[2022-08-03 09:34] YRozmysl opened #4277 "Склонение ФИО"
В FastReport4 есть ф-ция GETFIOCASE (фамилия, имя, отчество, пол, падеж) и в случае, когда у человека нет отчества кидается ошибка.  На самом деле есть случаи, когда по паспорту нет отчества. Реально ли доработать эту ф-цию?

[2022-08-03 15:14] #3956 closed

[2022-08-03 15:19] #4242 closed

[2022-08-03 15:22] #4276 closed

[2022-08-03 15:28] #3799 closed

[2022-08-03 21:58] #4277 closed

[2022-08-04 10:08] #4216 closed

[2022-08-04 10:08] #4145 closed

[2022-08-04 12:21] #3763 closed

[2022-08-04 12:51] #4056 closed

[2022-08-05 09:50] YRozmysl opened #4278 "GDCC"
Если во вкладке **Просмотр** выбрать **Лог**, то в поле **источник** можно сделать выбор и отфильтровать, либо воспользоваться **Фильтром**. Однако, если выбрать **Профайлер**, то фильтр не работает и **Источник**.

1.Лог

![11111](https://user-images.githubusercontent.com/11507129/183051927-407a1ffb-020e-4362-9b5f-c33226a487b6.jpg)

2. Профайлер

![profiler](https://user-images.githubusercontent.

[2022-08-11 08:38] NikolayUkleyko opened #4279 "Общие. Хранилище. Сделать более крупную строку поиска"
**_Сервис → Хранилище → Поиск:_**

![image](https://user-images.githubusercontent.com/11497453/184095056-6ab4f55a-f392-45ec-b7d0-235ee5c0352c.png)

Пожалуйста, предусмотрите более вместительную и наглядную строку поиска.

[2022-08-11 09:17] MIchaelShoihet opened #4280 "Слетают права доступа после загрузки ПИ/настроек"
На бройлерах очень жалуются, что после каких-то действий (предполагают загрузку настроек или ПИ) слетают права доступа на отдельные ветки. При этом визуально они остаются, но не действуют, т.е. надо удалить нужную группу, сохранить и потом опять добавить

[2022-08-13 19:12] #4269 closed

[2022-08-15 16:30] NikolayUkleyko opened #4281 "Общие. Инспектор объектов. Увеличить диалоговое окно поиска объектов"
**_Ctrl + Alt + M → Инспектор объектов → Поиск:_**

![image](https://user-images.githubusercontent.com/11497453/184675517-37e6a6bd-2f33-425a-b261-33da6fcc7a34.png)

Пожалуйста, предусмотрите более вместительную строку поиска и окно результата поиска.

[2022-08-15 16:37] NikolayUkleyko opened #4282 "Общие. Таблицы. При последовательном добавлении полей не работает кнопка ”Новый”"
При добавлении в таблицу поля при помощи кнопки **Новый** после нажатия на кнопку **_OK_** добавляется только одной предыдущее поле.
В результате при добавлении ряда полей они не сохраняются.
Пожалуйста, сделайте неактивной или скройте кнопку **Новый**.

[2022-08-15 16:53] NikolayUkleyko opened #4283 "Общие. Таблицы. Предусмотреть ограничение наименования поля с учетом добавления префикса 'USR$'"
При добавлении полей можно указать наименование в 32 символа.
После нажатия на кнопку **_OK_** добавляется префикс 'USR$' и крайние 4-е символа не сохраняются.
При добавлении большого количества полей что-то можно просмотреть.
Пожалуйста, предусмотрите ограничение наименования поля при вводе с учетом добавления префикса.

[2022-08-16 16:28] NikolayUkleyko opened #4284 "Общие. Формы. При сворачивании окна настройки хранилища выполняется ее закрытие"
**_Сервис → Хранилище._**

При сворачивании окна настройки хранилища выполняется ее закрытие.
Были открыто несколько окон настройки хранилища, введены параметры поиска, после сворачивания они закрылись.
Пожалуйста, подскажите можно ли поправить ?

[2022-08-18 07:54] yoannawx opened #4285 "Настройки ЭТТН не добавляются в ПИ"
При добавлении настроек ЭТТН в пространство имен - ошибка

![image](https://user-images.githubusercontent.com/11497358/185340484-dd504da9-f2df-44a2-b710-4345a72fb4be.png)

![image](https://user-images.githubusercontent.com/11497358/185341539-c07c5ed3-01ea-4df5-a74b-8dd12371c90a.png)

[2022-08-18 08:20] YRozmysl opened #4286 "загрузка ПИ. Неизвестное имя."
Делалась разработка на клиентской базе для табеля мастера. Все работает там, проблем нет. Я решил перенести эту доработку в гит. Сформировал настройку ПИ, которую загрузил на  чистую эталонную базу с уже установленной  настройкой по ЗПиОк.
При загрузке ПИ ошибок не было. Однако при добавлении документа табеля мастера вот такая ошибка. С чем это связано и куда тут надо копать, что искать?
![Screens

[2022-08-22 07:08] AliakseiDanilchyk opened #4287 "Функция SUMCURRSTR2 возвращает результат в нижнем регистре"
Например, в справочнике валют указано "долларов США", а функция возвращает результат "долларов сша".

[2022-08-26 13:10] NikolayUkleyko opened #4288 "Общие. Добавление в отмеченные. Некорректное добавление записей"
Не первый раз наблюдаю, что при добавлении в отмеченные добавляются лишние записи.

[2022-08-26 15:30] NikolayUkleyko opened #4289 "Типовые документы. Недоработки по функционалу создания копии документа"
_Типовые документы → Полная копия документа._

![image](https://user-images.githubusercontent.com/11497453/186939187-5f5c5690-7d88-469c-8229-0105fd7b070a.png)

Создал копию складского документа.

1. Не скопировались настройки типового документа.
2. Не скопировались настройки хранилища документа.
3. Ошибки при добавлении записи по документу.

[2022-08-26 15:43] NikolayUkleyko commented on #4289
4. При копировании документа программа отображает окна с сообщениями о копировании функций:

     а. Функций может быть немало.
Хорошо бы предусмотреть еще и возможность выбора варианта копирования или не копирования всех функций.
То есть, _**Да для всех**_, _**Нет для всех**_.

     б. Формулировка сообщений и наличие кнопок не совсем понятны:
![image](https://user-images.githubusercontent.com/11

[2022-08-29 10:52] supportkkc opened #4290 "Ошибка при редактировании столов в программе POSitive Check v2.9"
Скачал menufront_portable 29.08.2022, обнаружил ошибку при редактировании столиков в Карта Зала, ошибка появляется, когда я пытаюсь изменить больше чем один стол. Нажимаю сохранить, выхожу из редактора и захожу заново, так для каждого отдельного стола.

![image](https://user-images.githubusercontent.com/20512230/187185246-7a7b47a5-20fa-4d90-8228-9629b540bac0.png)
![image](https://user-images.githu

[2022-08-29 11:12] supportkkc opened #4291 "Некорректное отображение товара на дисплее покупателя в ПО POSitive Cash"
Скачивал установщик POSitive Cash 24.08.2022 и устанавливал у клиента.
Дисплей покупателя ATOL PD 2800 USB (Virtual COM Mode) https://clck.ru/vtQSF
Дисплей имеет две строки, но товар отображается только в одной.
При этом Итоговая сумма чека и "Добро Пожаловать!" используют две строки.

![image](https://user-images.githubusercontent.com/20512230/187188193-903faba2-0699-47a2-9ad6-1b8d2f93f12a.png)
!

[2022-08-29 11:14] supportkkc opened #4292 "Некорректная работа Денежного ящика"
POSitive Cash работа с денежным ящиком, проблема в том, что он открывается при нажатии на кнопку F6, так во всех новых версиях, может быть и в старых, не знаю. Из-за того, что он открывается при вызове окна оплат, нет смысла в настройке открытия денежного ящика, для каждого отдельного типа оплат. То есть мне надо, чтобы он открывался только при расчете Наличными, я это настраиваю дескрипторами в Ф

[2022-08-29 13:45] NikolayUkleyko opened #4293 "Отчеты. Макросы. Предусмотреть цветовое выделение записей не отображаемых в меню"
_Редактор скрипт-объектов → Макросы, Отчеты._

1. Для удобства и быстроты систематизации отчетов, макросов, пожалуйста, предусмотрите цветовое выделение записей не отображаемых в меню:
![image](https://user-images.githubusercontent.com/11497453/187214679-4472ad4d-2699-4dfe-80a7-135e5e2473cf.png)

Для записей, не отображаемых в меню предусмотреть синий цвет шрифта или другие варианты.

-----

2. Хо

[2022-08-29 14:52] YRozmysl opened #4294 "визуальные настройки в диалоговой форме документов (кнопки)"
На последнем exe в диалоговых формах документов вот так
![Безымянный](https://user-images.githubusercontent.com/11507129/187230128-688f8b3a-cf62-45e5-90f7-35d3e3fc6723.jpg)

[2022-08-30 08:13] NikolayUkleyko opened #4295 "Общие. Новый gedemin.exe в Исследователь к пиктограммкам добавляет лишние символы"
_Исследователь._

![image](https://user-images.githubusercontent.com/11497453/187385185-fbf34c0f-0852-4212-a807-0fc488215c1b.png)

Раньше такого не было.
@gsbelarus , пожалуйста, поправьте.

[2022-08-30 10:50] NikolayUkleyko opened #4296 "Бухгалтерия. Карта счета и другие. После обновления gedemin.exe появились вопросы по формам"
_Исследователь → Бухгалтерия → Журнал-ордер, Карта счета, Оборотная ведомость, Анализ счета, Главная книга._

![image](https://user-images.githubusercontent.com/11497453/187417749-450456ed-29e6-4fc1-acc8-ad692c19f037.png)

Высвеченные кнопки.
Проведите курсором.
![image](https://user-images.githubusercontent.com/11497453/187417843-36bd53df-d114-464b-8e7a-620968827868.png)

Позже это пропадает.
Ран

[2022-08-30 15:49] gsbelarus opened #4297 "Возврат к исходникам от 22 августа 2022 года."
я не могу распутать баги, которые полезли у коли.

1) состояние исходников в мастере я вернул на 22 августа 2022 года
2) текущее состояние мастера зафиксировано в ветке 30_08_2022
3) самые последние изменения в ветке Issue4199
4) все закрытые issue начиная с 22 августа я открыл заново

что теперь:

1) павел должен аккуратно ПО ОДНОМУ перенести все изменения в мастер.
2) для этого следует выгрузить

[2022-08-30 17:24] #4267 closed

[2022-08-30 17:29] #4286 closed

[2022-08-30 17:30] #4294 closed

[2022-08-30 20:50] YRozmysl opened #4298 "обновление exe и дата файла"
При обновлении exe билд видно, что поменялся на актуальный, а дата файла осталась прежней. так и должно быть? При автоматическом обновлении, что происходит с прежним файлом?

![555](https://user-images.githubusercontent.com/11507129/187540148-aa998fee-7f3c-4349-aa53-b22762c550d1.jpg)

[2022-08-31 06:49] #4298 closed

[2022-08-31 07:46] AliakseiDanilchyk opened #4299 "Ограничение максимальной ширины главного окна"
У нас для формы frmGedeminMain установлено ограничение максимальной ширины 2000. На 5K мониторе уже не разворачивается на всю ширину экрана.

[2022-08-31 09:41] #4155 closed

[2022-08-31 09:52] #4299 closed

[2022-08-31 15:04] #4284 closed

[2022-08-31 15:06] #4280 closed

[2022-08-31 15:27] #3920 closed

[2022-08-31 15:59] #3993 closed

[2022-09-01 06:24] #4248 closed

[2022-09-01 12:26] #4250 closed

[2022-09-01 18:18] YRozmysl opened #4300 "пропала пиктограмма"
было:
![Screenshot 2022-09-01 211621 old](https://user-images.githubusercontent.com/11507129/187985002-1f267e32-d66c-4206-a29c-f2b7cd3fad7e.png)

стало:
![Screenshot 2022-09-01 211514](https://user-images.githubusercontent.com/11507129/187985055-73d21bc7-ad93-4247-9c01-04e576f3ccc7.png)

[2022-09-01 18:56] #4300 closed

[2022-09-02 07:28] NikolayUkleyko commented on #4281
Да.
На мой взгляд будет хорошо.

[2022-09-02 08:36] #4123 closed

[2022-09-02 09:10] YRozmysl opened #4301 "& _ VS & vbCrLf & _"
Это как пожелание  и просто спросить. Можно ли, при копировании и вставке SQL запроса в макрос сделать, чтобы вставлялось, не так
![Screenshot 2022-09-02 120328_old](https://user-images.githubusercontent.com/11507129/188105144-65d30623-fc75-45eb-8310-8d3ae617fc82.png)
 а вот так
![Screenshot 2022-09-02 120454_now](https://user-images.githubusercontent.com/11507129/188105190-3162d3e9-b5c2-4f3c-ae63

[2022-09-02 09:12] YRozmysl commented on #4301
я вот про это имею ввиду
![Безымянный](https://user-images.githubusercontent.com/11507129/188106428-21d3eb61-dbd4-44bd-9f45-97ebf6f5d984.jpg)

[2022-09-02 09:19] MIchaelShoihet commented on #4301
Поддерживаю

[2022-09-02 09:20] NikolayUkleyko commented on #4301
@YRozmysl , разница в переносе на новую строку:
[code]

[2022-09-02 13:27] YRozmysl commented on #4301
Все хорошо. Работает

[2022-09-02 13:27] #4301 closed, assigned to DonPhantom000

[2022-09-02 19:43] #4297 closed

[2022-09-03 19:54] gsbelarus commented on #4296
можно закрывать? исходники мы откатили

[2022-09-03 19:55] gsbelarus commented on #4295
можно закрывать?

[2022-09-03 20:01] gsbelarus commented on #4279
увеличить окно по высоте. надпись "Текст для поиска:" расположить над полем ввода поиска. Соответственно длину поля можно будет увеличить.

можно даже "текст для поиска" и поле взять в рамку и растянуть на всю ширину окна, а кнопки Найти, Закрыть опустить ниже на уровень рамки Просмотреть.

[2022-09-03 20:02] gsbelarus commented on #4272
Сейчас не стоит это трогать. Как на Делфи 7 перейдем AsInteger снова станет работать с целыми числами и решится эта проблема.

[2022-09-04 06:09] #4232 closed

[2022-09-04 06:11] gsbelarus opened #4302 "Улучшения по добавлению контактов в группу"
* [x] При нажатии на кнопку добавления записей в группу и хорошо бы для удобства выбора 2-х и более записей предусмотреть CheckBox. Так реализовано при редактировании группы и выборе записей.
* [x] При удалении записи из группы немного поправить сообщение:  *Сама запись удалена не будет → Запись останется в базе данных.*

[2022-09-04 08:58] gsbelarus commented on #3830
Надо в коде глянуть где идет сохранение databse.ini. По идее, должно идти только при выборе другой БД или при изменении списка зарегистрированных БД. Надо перед любой операцией изменения списка поставить его перечитывание с диска и это решит проблему с перезаписью файла, когда несколько гедыминов локально открыты из одной папки.

[2022-09-04 09:18] #3332 closed

[2022-09-05 14:30] NikolayUkleyko commented on #4296
Проверено.
Работает корректно.
@gsbelarus , спасибо !

[2022-09-05 14:30] #4296 closed

[2022-09-05 14:31] NikolayUkleyko commented on #4295
Проверено.
Работает корректно.
@gsbelarus , спасибо !

[2022-09-05 14:31] #4295 closed

[2022-09-05 15:46] NikolayUkleyko opened #4303 "Общие. Добавить горячую команду для приведения Исследователя к исходному состоянию"
При подключении к БД по RDP часто открыто немало документов, форм и т.д., что не видно верхней панели инструментов Гедымина.
В такой ситуации удобно последовательное применение следующих команд:

1. **Shift+Ctrl+F4** — закрытие всех окон.
2. **Ctrl+F11** — переключение на Исследователь.
3. **Ctrl+Q** — закрытие всех деревьев.

Возможно ли добавление горячих клавиш (например, **Ctrl+F12**) для выпо

[2022-09-05 15:59] NikolayUkleyko commented on #4293
![image](https://user-images.githubusercontent.com/11497453/188485831-3207d40d-1182-495f-95c6-dfe442986e51.png)

Проверено.
Замечательно !
Работает корректно.
Небольшое пожелание — можно ли для <ins>выбранных</ins> записей не отображаемых в меню сделать шрифт немного контрастнее ?

[2022-09-12 07:39] Polfath commented on #4287
убрал приведение к нижнему регистру в gd_convert

[2022-09-12 09:08] Polfath commented on #4279
Изменил форму в st_dlgFind_unit

[2022-09-12 10:18] Polfath commented on #3830
Взял в работу

[2022-09-12 12:07] NikolayUkleyko opened #4304 "Общие. Сервис → Параметры. Пересохранить форму на закладке 'Общие'"
_**Сервис → Параметры.**_

Сейчас по умолчанию открывается закладка **Аудит и безопасность**:
![image](https://user-images.githubusercontent.com/11497453/189649196-bd9d56e2-9599-48fd-b425-74796ef7727f.png)

Пожалуйста, пересохраните форму на закладке **Общие**.

[2022-09-12 14:18] NikolayUkleyko opened #4305 "Бухгалтерия. Журнал хоз. операций. Перестала работать команда 'Дубликат'"
_**Исследователь → Бухгалтерия → Журнал хоз. операций.**_

![image](https://user-images.githubusercontent.com/11497453/189676919-220d5702-60d2-4c75-bbf6-eacdb0da1460.png)
![image](https://user-images.githubusercontent.com/11497453/189676945-6b69f669-442b-4e60-8f5d-3cb03cedb599.png)

Пожалуйста, восстановите работоспособность стандартной команды **Дубликат (Ctrl+D)**.

[2022-09-12 14:22] NikolayUkleyko opened #4306 "Фильтры. Ошибка при выборе команды 'Создать' и 'Изменить'"
На любом документе, справочнике и т.д. открываем меню фильтров:
![image](https://user-images.githubusercontent.com/11497453/189680304-66d54e05-545e-4137-8941-b1af903b15e8.png)
![image](https://user-images.githubusercontent.com/11497453/189680343-7651a93a-a866-4988-a88e-ddee344fb5fc.png)
![image](https://user-images.githubusercontent.com/11497453/189680360-d32aaeb9-bbba-498f-8975-18255e75abdf.png)

[2022-09-13 06:13] Polfath commented on #3830
В Tgd_DatabasesList.ShowViewForm добавил загрузку из database.ini перед отображением списка БД

[2022-09-13 12:56] NikolayUkleyko commented on #4279
Проверено.
Работает корректно.
![image](https://user-images.githubusercontent.com/11497453/189906699-b5037bb5-08de-4998-ba7b-9d1e25630c98.png)
@Polfath , спасибо !

[2022-09-13 12:56] #4279 closed

[2022-09-14 12:18] Polfath commented on #4281
Добавление возможности растягивания диалога "Поиск  объектов"

[2022-09-14 12:21] Polfath commented on #4281
Сделано

[2022-09-14 12:36] NikolayUkleyko commented on #4289
Хорошо бы посмотреть постановку задачи по данной теме.

[2022-09-14 12:50] NikolayUkleyko commented on #4282
@gsbelarus , с кнопкой **Новый** не так все однозначно.
Одно дело, когда применяем кнопку **Новый** при работе с данными по документам, а другое – при работе с метаданными (создание внешних ключей, индексов).

Могу предположить, что описываемое поведение кнопки **Новый** при добавлении полей в таблицу появилось в **gedemin.exe** несколько лет назад.

[2022-09-14 12:51] MIchaelShoihet commented on #4289
Идея была в создании точной копии типового документа, полностью со своими функциями, событиями, методами и хранилищем. На данный функционал недоработан, в частности не копируется хранилище и есть проблема с копированием папки локальных макросов. Пользоваться не рекомендуется пока. Это ситуация когда наследование не подходит из-за различных причин...

[2022-09-14 13:01] NikolayUkleyko commented on #4289
Да, хорошо, @MIchaelShoihet .
Простое копирование типового документа со своим функционалом.

[2022-09-14 13:09] NikolayUkleyko commented on #3908
Проверено.
Работает корректно.
@DonPhantom000 , спасибо !

[2022-09-15 05:57] Polfath commented on #4252
@NikolayUkleyko Нельзя ли скриншотики, чтобы понятней было? Спасибо.

[2022-09-15 09:19] YRozmysl opened #4307 "перевод настройки из gsf в NS через кнопку OneSet2NS"
Поставил настройку (поле в документ) в формате gsf все установилось, все ок.

![изображение](https://user-images.githubusercontent.com/11507129/190365350-a08d75c8-4094-4ef1-a3fd-b868c5c8a7cc.png)

После этого я  из этой настройки делаю namespace  через кнопку OneSet2NS и получается вот что

![Screenshot 2022-09-15 121602](https://user-images.githubusercontent.com/11507129/190365771-0ab74c0d-3a15-4

[2022-09-15 10:39] NikolayUkleyko commented on #4252
Пожалуйста, @Polfath .

1. _**Исследователь / Материальный склад / 01. Накладная на получение материалов, ОС, МБП**_.
Проверено и на пользовательских документах.
2. Устанавливаем курсор на <ins>позицию</ins> документа.
3. Нажимаем клавишу **F11** и получаем данные по шапке документа, а не позиции — не верно:
![image](https://user-images.githubusercontent.com/11497453/190381291-4cfa782e-4c65-424e-a

[2022-09-15 10:44] NikolayUkleyko commented on #4307
Вероятно подтягиваются связанные объекты или объекты, которые прямо не входят в настройку (не видны), но они учитываются.
@YRozmysl , пробовал ли, ты, установить сконвертированное ПИ без правок на базу данных ?
Нет ли ошибок при установке и в целом ?

[2022-09-15 10:51] Polfath commented on #4226
Если сплиттер сдвигается до левого края формы, кнопка "Добавить" Disabled. (неактивна)

[2022-09-15 10:59] NikolayUkleyko commented on #4233
@Polfath , пожалуйста, посмотрите данную тему.
Основные моменты:

1. Корректная ширина блоков.
2. Задержка при переходе с блока на блок.

[2022-09-15 12:54] Polfath commented on #4233
@NikolayUkleyko Как через UI туда попасть?

[2022-09-15 13:00] NikolayUkleyko commented on #4233
@Polfath , пожалуйста:
_**Исследователь → Бухгалтерия → Типовые хоз. операции, Автоматические хоз. операции**_.
Далее, в гриде выбираем запись (типовая проводка или автоматическая проводка) → Редактирование → Конструктор.

[2022-09-16 13:24] NikolayUkleyko commented on #4307
@YRozmysl , что можешь добавить по данной теме ?

[2022-09-16 13:25] YRozmysl commented on #4307
эта ошибка странная, вот именно с этой настройкой такое, а вот если  другие какие -то  - все норм

[2022-09-19 11:40] Polfath commented on #4252
Посмотрю

[2022-09-19 11:50] NikolayUkleyko commented on #4252
_> Посмотрю_

Хорошо, @Polfath .

[2022-09-19 13:36] Polfath commented on #4252
Попробовал открыть двумя способами.
F11:
---------------
Наименование         = Документ 01. Накладная на получение материалов, ОС, МБП, № 245973 от 19.09.2022
Идентификатор        = 237047430
RUID                 = 237047430_1906620546
Метка типа           = Документ 01. Накладная на получение материалов, ОС, МБП
Тип текущей записи   = TgdcInvDocument 147012468_486813904
Тип объекта          = Tg

[2022-09-19 13:59] NikolayUkleyko commented on #4252
![image](https://user-images.githubusercontent.com/11497453/191034821-185a88aa-f5e8-41df-bc34-adbf95cf208d.png)

Нажимаем клавишу **F11** → открываются свойства **шапки** документа:
![image](https://user-images.githubusercontent.com/11497453/191033881-00c0b519-ceab-4dda-ac69-dd672007b02a.png)

Должны были открыться свойства записи по **позиции** документа:
![image](https://user-images.githubuserco

[2022-09-19 14:05] Polfath commented on #4252
Извиняюсь. Не то посмотрел.

[2022-09-19 14:10] gsbelarus commented on #4252
Я же писал, что сам посмотрю. Если делать, то в gsDBGrid проверять, есть ли в привязанном Pop up menu команда с горячей клавишей и, если есть то дизэйблить ее, а вместо этого обрабатывать нажатие F11 уже в самом гриде и вызывать окно свойст. Все это, естественно, только в том случае, когда подключен бизнес объект и он открыт и в нем есть записи.

[2022-09-19 17:32] gsbelarus commented on #3830
Надо протестировать сделанные изменения.

У нас возможна загрузка, когда считывается только из ini файла список баз и активная база, а возможно когда база прописана в командной строке.

Надо протестировать:

1. при работе с .ini файлом: добавление, изменение, удаление баз.
2. при работе из командной строки. чтобы возникало окно ввода логина и пароля, но сама база не попадала в список, в ini файл.

[2022-09-19 17:45] gsbelarus commented on #4305
Поскольку раньше работало, то я бы сравнил PAS и DFM файлы с предыдущей версией и попытался понять из-за чего отвалилось. Возможно в DFM просто action отвалился.

[2022-09-20 06:31] MIchaelShoihet opened #4308 "Не работает кнопка дубликат в журнале хозопераций"
При нажатии на кнопку не происходит никакого действия. Копирование именно проводки.

[2022-09-20 07:17] Polfath commented on #4305
В actDetailDuplicateExecute не было inherited

[2022-09-20 07:29] gsbelarus commented on #4305
Дубликат: https://github.com/GoldenSoftwareLtd/gedemin/issues/4308

[2022-09-20 07:29] #4305 closed, assigned to Polfath

[2022-09-20 07:29] #4308 closed, assigned to Polfath

[2022-09-20 07:46] Polfath commented on #4306
Посмотрю

[2022-09-20 08:27] Polfath commented on #4306
@NikolayUkleyko Попробовал на нескольких справочниках и документах получить ошибку. Не вышло. Может на каком-то конкретном попробовать?

[2022-09-20 09:00] NikolayUkleyko commented on #4306
Проверено на актуальном **gedemin.exe**.
Работает корректно.
Спасибо, @Polfath , @gsbelarus .
Правок не было, а заработало.
Хммм, странно. 😃

[2022-09-20 09:00] #4306 closed, assigned to Polfath

[2022-09-20 09:05] NikolayUkleyko commented on #4305
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-09-20 11:48] Polfath commented on #4226
Сделал возможным добавлять записи при крайнем левом положении разделителя

[2022-09-20 14:54] NikolayUkleyko commented on #4293
@yoannawx посмотрела следующее:
1. При копировании и вставке отчетов, макросов с выбранной галкой отображения в меню цвет шрифта серый.
После обновления (**F5**) списка отчетов, макросов цвет шрифта стандартный.

2. При добавлении отчетов, макросов в ПИ, настройку с выбранной галкой отображения в меню цвет шрифта серый.
После обновления (**F5**) списка отчетов, макросов цвет шрифта стандартный.

[2022-09-20 15:25] NikolayUkleyko commented on #3830
Проверено:
1. при работе с .ini файлом: добавление, изменение, удаление баз.
2. Два гедымина параллельно к одному ini файлу подключены и что происходит при его одновременном изменении.

Моделирование с командной строкой не выполнялось.

В результате.
Данные сохраняются в .ini файле корректно.
В форме списке баз данных информация верная.

[2022-09-21 09:29] gsbelarus commented on #4226
Так работает Гедымин. Не надо это менять. Потому что в одном месте будет одна логика, а в другом, другая. Закрываю.

[2022-09-21 09:29] #4226 closed

[2022-09-21 11:59] Polfath commented on #3881
Посмотрю

[2022-09-21 12:13] NikolayUkleyko opened #4309 "Общие. Редактор скрипт-объектов. Ошибки при закрытии всех объектов и закрытии формы"
**_Редактор скрипт-объектов_**

При выполнении команды **Закрыть все** на экране отображается окно со следующей ошибкой:
![image](https://user-images.githubusercontent.com/11497453/191499200-a5876b30-3b4b-4c35-b15e-bac15239d4bd.png)

-----

Call stack:
:004045D0 [gedemin.exe] LStrAsg
:009A51F4 [gedemin.exe] TBaseFrame::GetName (prp_BaseFrame_unit.pas, line 1031)
:009A54ED [gedemin.exe] TBaseFrame:

[2022-09-21 13:02] NikolayUkleyko commented on #4309
При этом подключение к базе данных не закрывается.
:man_shrugging:

[2022-09-22 06:16] Polfath commented on #3881
@NikolayUkleyko я поправил, посмотрите пожалуйста правильно ли.

[2022-09-22 06:18] Polfath commented on #4175
посмотрю

[2022-09-22 08:03] Polfath commented on #4175
@NikolayUkleyko Попробовал воспроизвести ситуацию:
1.  Выполнил синхронизацию в каталог c:\Gedemin\Sync\
2.  Перенес БД
3.  Запустил синхронизацию в тот же каталог
4.  "Выполнена успешно"

или последовательность действий не такая?

[2022-09-22 08:13] gsbelarus commented on #4175
николай имеет ввиду, что пути уже нет такого. он синхронизировал на флэшку, а потом достал флэшку из компьютера. и нет пути. просто посмотрите что там по выборе этой команды происходит. диалоговое окно открывается или что? тогда try except взять и при возникновении исключения просто брать другой каталог. например текущий.

[2022-09-22 09:38] gsbelarus commented on #3946
@alexandra-gsoftware @NikolayUkleyko разработчик не может приступить, так как из описания выше не ясно что работает, а что нет. там в коментариях то все ок, то что-то не ок, но что не понятно. пожалуйста, или закрываем оба ишью как неактуальные, или конкретно пропишем список что надо человеку сделать, какие еще объекты должны быть добавлены.

жду пару дней, потом, если нет движения, то закрываю.

[2022-09-22 09:54] gsbelarus commented on #4309
Не повторяется. Надо хотя бы приблизительно какие вкладки открыты, что делалось до этого.

[2022-09-22 11:01] Polfath commented on #4288
Дефект подтвердился. Посмотрю.

[2022-09-22 11:09] NikolayUkleyko commented on #4309
Смоделировал ситуацию — ошибка не повторяется.
Были открыты отчеты по документам _**Исследователь → Основные средства → Акт ввода в эксплуатацию или Акты ввода в эксплуатацию (новые) → ОС. Акт ввода в эксплуатацию, ОС. Акт ввода в эксплуатацию остатков**_.

[2022-09-22 11:09] #4309 closed, assigned to Polfath

[2022-09-22 11:20] NikolayUkleyko commented on #4175
Смоделировал ситуация на новом компьютере с новым путем к файлам — ошибка не повторяется, работает верно.

[2022-09-22 11:20] #4175 closed

[2022-09-22 12:36] NikolayUkleyko commented on #4191
Смоделирована ситуация на базе документа с **гридом отображения бухгалтерских проводок**.
При сохранении в ПИ типового документа не добавляются следующие объекты:

№ п/п  | OBJECTCLASS  | OBJECTNAME
------------ | ------------- | -------------
1                 | TgdcEvent | ONCREATE
2                 | TgdcFunction  | gdc_frmUserComplexDocument148990521_1153275497OnCreate.
3                 |  Tg

[2022-09-22 12:38] NikolayUkleyko commented on #3946
https://github.com/GoldenSoftwareLtd/gedemin/issues/4191#issuecomment-1254962912

[2022-09-22 12:39] YRozmysl commented on #4191
так, может,  они уже входят в какие-то другие ПИ?

[2022-09-22 12:40] NikolayUkleyko commented on #4191
Нет.
Они не входят в другие ПИ.

[2022-09-22 12:55] NikolayUkleyko commented on #4281
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-09-22 12:55] #4281 closed

[2022-09-22 14:34] Polfath commented on #4288
Поправил

[2022-09-23 12:28] gsbelarus commented on #3933
@NikolayUkleyko закрываем?

[2022-09-23 12:32] NikolayUkleyko commented on #3933
Да, пожалуйста, @gsbelarus .

[2022-09-23 12:38] #3933 closed

[2022-09-23 12:38] #3830 closed

[2022-09-23 12:39] gsbelarus commented on #4288
@NikolayUkleyko проверь и закрой

[2022-09-23 12:40] gsbelarus commented on #3456
@alexandra-gsoftware будет пример? или закрываем?

[2022-09-23 14:33] NikolayUkleyko commented on #4288
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-09-23 14:33] #4288 closed

[2022-09-23 15:09] #1261 closed

[2022-09-26 14:03] Polfath commented on #4191
Постарался исправить. Нужно попробовать.

[2022-09-26 14:22] NikolayUkleyko commented on #3881
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-09-26 14:22] #3881 closed

[2022-09-26 14:27] NikolayUkleyko commented on #4304
@Polfath , пожалуйста, поправь.

[2022-09-26 15:22] NikolayUkleyko commented on #3975
Следующие замечания и предложения для поиска колонок для **ColumnEditors**:
1. Предусмотреть поиск колонок.
2. Предусмотреть команду **F3** для выполнения перехода к следующей найденной колонке.
3. Найденные колонки выделяются светло-серым цветом и едва заметны. Предусмотреть выделение цветом по аналогии как в Мастере установок или другой вариант.

Для примера можно рассмотреть документ:
_**Исслед

[2022-09-26 15:40] NikolayUkleyko commented on #4191
Проверено.
Методы, функции документа теперь подтягиваются.
Хранилище грида проводок и фильтры по документу еще нет.

[2022-09-26 15:51] NikolayUkleyko opened #4310 "Типовой документ. После удаления документа в Исследователе сохраняется ярлык"
@yoannawx смоделировала пример, я проверил.
При удалении типового документа в Исследователе остается ярлык документа.
Применимо для пользовательских и складских документов.
При создании и удалении таблиц ярлык в Исследователе не сохраняется.

[2022-09-27 08:57] NikolayUkleyko opened #4311 "Фильтры. Клавиша ”Esc”"
1. В списке фильтров нажатие клавиши **Esc** выполняет команду <ins>редактирования</ins> текущего фильтра, а не закрытие формы.
2. При создании, редактировании фильтра нажатие на клавишу **Esc** выполняет команду <ins>удаления</ins> настроек текущей закладки, а не выход из настроек фильтра.

[2022-09-27 16:20] NikolayUkleyko commented on #4253
Проверено.
Работает корректно.
@DonPhantom000 , спасибо !

[2022-09-27 16:24] NikolayUkleyko commented on #4253
Проверено.
Работает корректно.
Хорошо бы дополнительно предусмотреть аналогичную проверку и при редактировании позиций документов.

[2022-09-27 16:30] NikolayUkleyko commented on #4247
Вероятно такое реализовать проблематично, так как РУИД для текущей записи еще не сформирован.

[2022-09-27 19:14] gsbelarus commented on #4253
Лучше делать отдельный issue.

[2022-09-28 06:02] Polfath commented on #4304
Поменял

[2022-09-28 06:21] gsbelarus commented on #4304
проверяйте, пожалуйста, такие вещи перед комитом. прямо в тексте DFM файла TortoiseGit покажет вам что изменилось и вы сразу поймете что это правильное изменение или случайное. Если не знаете как, спросите меня. Это уже не первый раз, когда неверный DFM идет в комит. Вообще, если в DFM ничего специально не менялось, то скидывать его не надо. Делайте REVERT.

[2022-09-28 08:12] Polfath commented on #4191
Сделал для проводоки и фильтры

[2022-09-28 08:42] NikolayUkleyko opened #4312 "Бухгалтерия. Карта счета. Сообщение при редактировании позиций нескольких выделенных записей"
**_Исследователь → Бухгалтерия → Карта счета._**

Пожалуйста, при редактировании **позиций** нескольких выделенных записей
![image](https://user-images.githubusercontent.com/11497453/192732444-aba07322-da63-419f-a237-875ee405ff63.png)
_Рис. 1._

![image](https://user-images.githubusercontent.com/11497453/192732463-e6a1c21b-a058-4ecd-b4e8-3ed7c11c4c0c.png)
_Рис. 2._

предусмотрите сообщение **Множе

[2022-09-28 08:43] NikolayUkleyko commented on #4253
Хорошо, @gsbelarus .

Пожалуйста, https://github.com/GoldenSoftwareLtd/gedemin/issues/4312.

[2022-09-28 10:00] YRozmysl opened #4313 "Шрифт в лукапе путевого листа"
Шрифт  в лукапе, а конкретно путевого листа, выглядит некорректно, в именно вот так, на более поздней версии exe все было корректно.

![Screenshot 2022-09-28 125709](https://user-images.githubusercontent.com/11507129/192750349-d9e6b256-ca01-4342-9fd3-48b7c8761e81.png)

[2022-09-28 10:41] NikolayUkleyko commented on #2663
@gsbelarus , пожалуйста, посмотрите и при необходимости закройте данную тему.
В Гедымине уже есть немало похожего функционала.

[2022-09-28 10:52] NikolayUkleyko opened #4314 "Бухгалтерия. Журнал хоз. операций. Сообщение при редактировании позиций нескольких выделенных записей"
_**Исследователь / Бухгалтерия / Журнал хоз. операций.**_

Пожалуйста, при редактировании **позиций** нескольких выделенных записей
![image](https://user-images.githubusercontent.com/11497453/192761006-dcc16bbc-ab24-44eb-af40-29f05993a59f.png)
_Рис. 1._

![image](https://user-images.githubusercontent.com/11497453/192761039-ed12c9d1-af16-4214-a99e-9f4097ee3193.png)
_Рис. 2._

предусмотрите сообщени

[2022-09-28 11:03] Polfath commented on #4303
Посмотрю

[2022-09-28 11:05] #4234 closed

[2022-09-28 11:06] NikolayUkleyko commented on #4234
Похоже выбрали вариант:
_Не сортировать. Оставить без доработок._

[2022-09-28 14:15] Polfath commented on #4303
Сделал

[2022-09-29 07:01] Polfath commented on #4233
Попробую разобраться

[2022-09-29 08:22] Polfath commented on #4233
Сделал. Сэмулировал клик по блоку при открытии формы.

[2022-09-29 08:31] Polfath commented on #4251
Посмотрю

[2022-09-29 08:55] NikolayUkleyko commented on #4191
Проверено.
Фильтры автоматически не добавляются в ПИ.

[2022-09-29 08:58] NikolayUkleyko commented on #4303
Проверено.
Работает замечательно.
@Polfath , большое спасибо !

[2022-09-29 08:58] #4303 closed, assigned to nobody

[2022-09-29 09:04] #4257 closed

[2022-09-29 09:05] NikolayUkleyko commented on #4304
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-09-29 09:05] #4304 closed, assigned to Polfath

[2022-09-30 08:58] NikolayUkleyko commented on #4233
Проверено.
Сейчас ширина блоков не смещается, как при открытии конструктора функций, так и при клике по блоку.

При этом, в режиме конструктора функций нажать на клавишу **Ok** и в форме типовой проводки нажать на клавишу **Ok** — программа отображает окно со следующей ошибкой:
![image](https://user-images.githubusercontent.com/11497453/193233360-4baf9c6e-3978-41b8-9137-1f2d344e4201.png)

[2022-09-30 09:01] NikolayUkleyko commented on #4255
По пункту № 2, как вариант можно предположить дополнительную команду для перехода на форму Журнала-ордера и его формирования по счетам и субсчетам.

[2022-10-02 12:14] gsbelarus opened #4315 "SSL 1.1"
Сейчас Indy, которую мы используем в Гедымине не поддерживает SSL 1.1 и выше.

Здесь дискуссия по этому поводу:

https://github.com/IndySockets/Indy/pull/299

[2022-10-03 08:38] nemir1007 commented on #4231
добрый день) добавьте пожалуйста заставку в бету
ОАО "ЦБК-Консалт"

[2022-10-03 08:41] YRozmysl commented on #4231
с сайта по ссылке взять новый exe   https://gsbelarus.com/pw/downloads/gedemin-beta/gedemin-noid64/ там уже есть заставка

[2022-10-03 10:29] Polfath commented on #4233
Исправил

[2022-10-03 10:30] Polfath commented on #4251
Поправил.

[2022-10-03 10:58] Polfath commented on #4255
ОК посмотрю

[2022-10-04 08:33] Polfath commented on #4255
Сделал @NikolayUkleyko Коля, посмотри пожалуйста

[2022-10-04 08:34] NikolayUkleyko commented on #4255
Хорошо, Андрей.

[2022-10-04 08:34] Polfath commented on #4266
Посмотрю

[2022-10-05 07:33] NikolayUkleyko commented on #4255
Проверено.
Необходимо поправить следующее:
1. При переходе из оборотной ведомости в анализ счета подставлять соответствующее значение дат. Сейчас в анализ счета подставляется предыдущее значение.
2. При переходе из оборотной ведомости в журнал-ордер подставлять аналитики в алфавитном порядке. Сейчас они подставляются в обратном порядке.

[2022-10-05 08:14] gsbelarus commented on #4313
а сейчас как? со шрифтами не трогали ничего.

[2022-10-05 08:15] gsbelarus commented on #4313
это во всех лукапах или одном?

[2022-10-05 08:18] YRozmysl commented on #4313
это конкретно я наблюдаю в одном лукапе, в конкретном документе

[2022-10-05 08:20] gsbelarus commented on #4313
тогда надо в дизайнере открыть и смотреть что за шрифт там прописан

On Wed, Oct 5, 2022 at 10:18 AM Yury Rozmysl ***@***.***>
wrote:

[2022-10-05 08:33] YRozmysl commented on #4313
вопрос можно снимать, наверное.  Я перекомпелирвоал конкретную процедуру, которая используется в этом конкретно проблемном лукапе, все стало ок. Но, как такое получилось, не знаю.

[2022-10-05 08:35] #4313 closed, assigned to gsbelarus

[2022-10-05 14:41] Polfath commented on #4310
Посмотрю

[2022-10-05 14:41] Polfath commented on #4314
Сделал

[2022-10-05 14:41] Polfath commented on #4312
Сделал

[2022-10-05 14:54] Polfath commented on #4255
Исправил

[2022-10-06 08:37] NikolayUkleyko commented on #4314
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-10-06 08:37] #4314 closed, assigned to Polfath

[2022-10-06 08:39] NikolayUkleyko commented on #4312
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-10-06 08:39] #4312 closed, assigned to nobody

[2022-10-06 08:55] NikolayUkleyko commented on #4005
Реализован вариант № 1.
Проверено.
Работает замечательно. 👍
@Polfath , большое спасибо !

[2022-10-06 08:55] #4005 closed

[2022-10-06 11:11] NikolayUkleyko commented on #3665
Решили пока не делать.
Поле **Дата** может быть и для документа, и для договора и т.д.
Это усложняет решение задачи.

[2022-10-06 11:11] #3665 closed

[2022-10-06 11:45] NikolayUkleyko commented on #4251
Проверено.
@Polfath , пожалуйста, поправь автоматическую очистку поля конфигурации при создании новой конфигурации с выбранной галкой для аналитики **Запрашивать значение**.

[2022-10-06 11:48] NikolayUkleyko commented on #4110
Пока решили не делать.
Предусмотрены макросы отображающие свойства записи (проводки) с указанием имени пользователя и другой информации.

[2022-10-06 12:09] NikolayUkleyko commented on #4293
@gsbelarus , пожалуйста, поправьте, если, можно следующее:
1. Для выделенных мышкой записей не отображаемых в меню сделать шрифт немного контрастнее. Название не читается.
2. При добавлении, копировании отчетов, макросов в ПИ и/или настройку с выбранной галкой отображения в меню цвет шрифта серый. Необходимо установить стандартный цвет.

[2022-10-06 12:16] NikolayUkleyko commented on #4252
@gsbelarus , пожалуйста, посмотрите следующее, если, можно:
1. Вопрос по просмотру свойств позиции документа при помощи кнопки **F11**.
2. В редакторе скрипт-объектов предусмотреть возможность просмотра свойств отчетов (свойства, основная функция, шаблон и т.д.) и макросов (свойства) на **_выбранной закладке_**.

[2022-10-06 12:23] NikolayUkleyko commented on #4199
Хорошо.
Оставляем.

Из перечня пожеланий остается:

@gsbelarus , пожалуйста, посмотрите.

[2022-10-07 07:34] Polfath commented on #4310
Сделал. Только реализовал в 4266.

[2022-10-07 15:06] YRozmysl opened #4316 "Column Editors. Поиск"
Если я правильно понял, тут должна быть кнопка поиска, или что-то в этом роде? Или для чего это поле?

![444](https://user-images.githubusercontent.com/11507129/194585952-78059bb4-500f-4ea7-8217-0edf33c3bb2f.jpg)

[2022-10-07 15:40] gsbelarus commented on #4316
а она как фильтр не работает?

On Fri, Oct 7, 2022 at 5:06 PM Yury Rozmysl ***@***.***> wrote:

[2022-10-07 15:44] YRozmysl commented on #4316
Я полагаю, что нет.

![Screenshot 2022-10-07 184246](https://user-images.githubusercontent.com/11507129/194594287-f57ee96c-56ab-491f-beb2-dd78759b6830.png)

[2022-10-07 15:47] gsbelarus commented on #4316
тогда баг

[2022-10-07 15:55] MIchaelShoihet commented on #4316
На сколько я понял набираешь и нажимаешь Enter и он ищет без кнопки

[2022-10-07 15:56] MIchaelShoihet commented on #4316
Просто переходит на найденное поле. По хорошему конечно надо предусмотреть поиск следующего...

[2022-10-07 15:58] MIchaelShoihet commented on #4316
Ищет не по вхождению а по начальным символам и только первое, хотелось бы что бы искало по вхождению и можно было бы искать следующее. Если уже есть такой функционал

[2022-10-07 16:08] gsbelarus commented on #4316
надо искать по вхождению. добавить кнопку Поиск, которая работает от текущего положения курсора в списке  вперед. Если доходит до конца списка, то начинает просмотр сначала. Если найдено значение, то курсор помещается на него.

Если при нажатии на кнопку значение не найдено, то выводится MessageBox с соответствующим сообщением.

[2022-10-10 11:39] Polfath commented on #4251
@NikolayUkleyko Проверь

[2022-10-10 11:44] gsbelarus commented on #4251
@Polfath проверьте пожалуйста вместе с @MIchaelShoihet что-то много кода вы там закоментировали, который раньше работал. не пойму.

[2022-10-10 14:32] Polfath commented on #4251
@gsbelarus Проверили. Коля сказал, что нормально.

[2022-10-10 16:31] NikolayUkleyko commented on #4316
Данная тема рассматривается и здесь https://github.com/GoldenSoftwareLtd/gedemin/issues/3975.

[2022-10-11 07:20] Polfath commented on #3449
Посмотрю

[2022-10-11 07:56] gsbelarus commented on #4287
нет. никаких полей добавлять не будем

On Wed, Aug 31, 2022 at 10:52 AM NikolayUkleyko ***@***.***>
wrote:

[2022-10-11 08:40] NikolayUkleyko commented on #4310
Проверено.

1. При удалении типового документа программа отображает окно со следующим сообщением:
![image](https://user-images.githubusercontent.com/11497453/195040659-23e52d00-c165-479c-a852-34a1a755ca92.png)

Call stack:
:00D588F1 [gedemin.exe] TgdClassList::Get (gd_ClassList.pas, line 2909)
:7596CC12 [KERNELBASE.dll]_
:00D588F1 [gedemin.exe] TgdClassList::Get (gd_ClassList.pas, line 2909)
:00D5

[2022-10-11 09:05] gsbelarus commented on #4252
не трогайте этот пункт.я сам посмотрю.

чц, 15 вер 2022, 12:39 карыстальнік NikolayUkleyko ***@***.***>
напісаў:

[2022-10-11 10:53] NikolayUkleyko commented on #4252
Да.
Не трогаем.

[2022-10-11 12:54] NikolayUkleyko commented on #4310
Проверено.
Работает корректно.
@Polfath , спасибо !

Необходимо в модифай включить обновленный триггер **GD_AD_DOCUMENTTYPE** с сообщениями в верной кодировке.

[2022-10-11 13:23] NikolayUkleyko commented on #4266
Необходимо в модифай включить новые триггеры **AC_BI_ENTRY_IN_BALANCE**, **AC_BUD_ENTRY_IN_BALANCE** с сообщениями в верной кодировке.

[2022-10-11 13:36] NikolayUkleyko commented on #2564
Смоделировать пример не удалось.
Актуальна ли данная тема ?

[2022-10-11 13:50] NikolayUkleyko commented on #4191
@Polfath , пожалуйста, поправь, чтобы в ПИ добавлялись фильтры.

[2022-10-11 15:39] NikolayUkleyko commented on #4251
Проверено.
Работает корректно.
@Polfath , большое спасибо !

[2022-10-11 15:39] #4251 closed

[2022-10-12 08:27] NikolayUkleyko commented on #4233
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-10-12 08:27] #4233 closed

[2022-10-14 10:55] Polfath commented on #3697
Сейчас посмотрю

[2022-10-14 12:56] Polfath commented on #3697
Сделал

[2022-10-14 13:11] Polfath commented on #4191
Гляну

[2022-10-17 07:36] AliakseiDanilchyk opened #4317 "Сохранение ошибочного пользователя в databases.ini"
Запускаем Гедымин.
В окне "Вход в систему" вводим не существующего в базе данных пользователя и нажимаем "Войти".
Введенный ошибочный пользователь сохраняется в списке пользователей.
Правильное поведение - сохранять пользователя при успешном подключении к базе данных.

Особенно неприятная ситуация, когда ввели пользователя и его пароль в поле "Пользователь" и нажали "Войти". В этом случае раскрыва

[2022-10-17 08:29] NikolayUkleyko commented on #4317
Это замечательное предложение.
Это усовершенствование существующего функционала.
При необходимости приведения в порядок перечня пользователей можно выполнить редактирование строки **_Data0_** в файле **databases.ini**.

Может имеет смысл добавить проверку на заглавные буквы при вводе наименования пользователя ?
Пользователь **Иванов**.
Гедымин пропускает ввод наименования пользователя **иванов**.

[2022-10-17 09:04] gsbelarus commented on #4317
а у нас разве чувствительно к регистру имя пользователя?

[2022-10-17 10:36] NikolayUkleyko commented on #4317
_> а у нас разве чувствительно к регистру имя пользователя?_

Нет.
Предусмотрено только при вводе пароля.

[2022-10-17 10:45] gsbelarus commented on #4317
это так и запроектировано в гедымине, что имена пользователей не
чувствительны к регистру.
не надо ничего менять в этом плане.

On Mon, Oct 17, 2022 at 12:36 PM NikolayUkleyko
***@***.***> wrote:

[2022-10-17 10:59] NikolayUkleyko commented on #4317
Хорошо, @gsbelarus .

[2022-10-17 11:01] NikolayUkleyko opened #4318 "Общие. Восстановление базы данных из архива. Добавить кнопку быстрой вставки путей"
_База данных → Восстановление из архива._

Пожалуйста, предусмотрите кнопку для удобного заполнения полей формы восстановление БД из архива.
Пример:
1. Скопировали путь к **.bk** файлу.
2. Открыли форму восстановления базы данных их архива.
3. Нажали на предполагаемую кнопку вставки расположения архива БД.
4. Автоматически заполнились следующие поля:
• **_Архивные файлы → Имя файла_** — вставка ск

[2022-10-17 12:37] MIchaelShoihet commented on #4318
Нет. Эта операция не такая частая, требует вдумчивости, и ничего здесь добавлять не будем.

[2022-10-17 12:37] #4318 closed, assigned to nobody

[2022-10-17 12:49] NikolayUkleyko commented on #4318
Хорошо, @MIchaelShoihet .

[2022-10-17 13:39] NikolayUkleyko commented on #4259
@gsbelarus , пожалуйста, посмотрите, есть ли возможность закрыть рассматриваемую тему ?
С включением в модифай соответствующих обновлений.

[2022-10-17 15:43] NikolayUkleyko commented on #4231
Проверено.
Работает корректно.
@gsbelarus , спасибо !
Пожалуйста, закройте тему.

[2022-10-17 15:51] #4231 closed

[2022-10-18 08:05] NikolayUkleyko commented on #4310
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-10-18 08:05] #4310 closed, assigned to Polfath

[2022-10-18 08:07] NikolayUkleyko commented on #2577
@gsbelarus , пожалуйста, посмотрите актуальна ли данная тема ?

[2022-10-18 08:16] NikolayUkleyko opened #4319 "Общие. Модифай базы данных при выполненном модифае"
После выполнения обновления структуры базы данных и последующем подключении к такой базе данных программа снова отображает окно с сообщением о необходимости обновления структуры базы данных:
![image](https://user-images.githubusercontent.com/11497453/196374661-16eba181-7508-49a1-b408-1d29c7f46dc6.png)

В таблице **FIN_VERSIONINFO** следующие данные:
![image](https://user-images.githubusercontent.c

[2022-10-18 08:42] NikolayUkleyko commented on #4266
Проверено.
Работает корректно.
@Polfath , большое спасибо ! :trophy:

[2022-10-18 08:46] NikolayUkleyko commented on #1397
@MIchaelShoihet , пожалуйста, посмотрите.
Если, рассматриваемый функционал работает верно и не требуется доработок, то данную тему можно закрыть.

[2022-10-18 12:35] NikolayUkleyko commented on #4255
Проверено.
Работает корректно.
@Polfath , большое спасибо ! 🏆

[2022-10-18 12:35] #4255 closed

[2022-10-19 10:54] hirurg-lybitel commented on #4291
Абсолютно неожиданное место для подобных вопросов.
Вроде же все знают, что по кассовым решениям есть отдельный репозиторий [check-and-cash](https://github.com/gsbelarus/check-and-cash/issues?q=is%3Aopen+is%3Aissue).

Туда и переношу этот вопрос

[2022-10-19 10:54] #4291 closed

[2022-10-20 12:43] NikolayUkleyko commented on #4319
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-10-20 12:43] #4319 closed, assigned to Polfath

[2022-10-20 12:51] NikolayUkleyko commented on #4293
@yoannawx просит посмотреть данную тему.

[2022-10-20 14:49] #4292 closed

[2022-10-20 14:49] #4290 closed

[2022-10-21 08:21] NikolayUkleyko commented on #4293
Актуальный **_gedemin.exe_** и рабочая база данных Береза Мкк.
Не читается наименование отчета:
![image](https://user-images.githubusercontent.com/11497453/197148043-508c6e43-1f7d-4dbd-b56a-91afbaba9771.png)

@gsbelarus , пожалуйста, поправьте https://github.com/GoldenSoftwareLtd/gedemin/issues/4293#issuecomment-1269919516.

[2022-10-21 15:24] NikolayUkleyko commented on #3960
Посмотрели данный вопрос.
Пока решили не делать.

[2022-10-21 15:24] #3960 closed

[2022-10-25 08:57] NikolayUkleyko commented on #4293
Проверено.
Работает корректно.
@Polfath , большое спасибо !

[2022-10-25 09:00] NikolayUkleyko commented on #4317
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-10-25 09:06] NikolayUkleyko commented on #4190
@gsbelarus , пожалуйста, поправьте (**_DebibValue → DebitValue_**) и тему можно закрывать.

[2022-10-25 10:27] #4317 closed, assigned to Polfath

[2022-10-25 10:40] YRozmysl commented on #4316
Все Ок. Работает корректно

[2022-10-25 10:40] #4316 closed, assigned to Polfath

[2022-10-25 11:14] NikolayUkleyko commented on #1315
_> Уточните, пожалуйста, кнопку доложить на форму Свойства объекта?_

Добавить к существующим кнопкам **Методы класса**, **Методы родителя**.

[2022-10-25 11:21] NikolayUkleyko commented on #3697
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-10-25 11:21] #3697 closed

[2022-10-28 10:44] NikolayUkleyko commented on #4154
@MIchaelShoihet , пожалуйста, подскажите верно ли работает рассматриваемый функционал ?

[2022-10-28 11:17] YRozmysl opened #4320 "Слетела кодировка в названиях колонок в ЖО"
![жо](https://user-images.githubusercontent.com/11507129/198574807-22112bee-e0ca-46d8-9caf-8da732606ed4.png)

вот так отображается на последнем exe

[2022-10-28 11:22] NikolayUkleyko commented on #4320
Да, есть такое.
@Polfath поправит.

[2022-10-31 06:55] MIchaelShoihet opened #4321 "Блокировка периода"
При добавлении нового типа документа в исключение, оно не срабатывает (и не выдает ошибки). На самом деле идет изменение процедуры, которую можно изменить только в однопользовательском режиме... Надо выдавать сообщение хотя бы... Или придумать что-то другое....

[2022-10-31 11:27] MIchaelShoihet opened #4322 "Стандартные бухгалтерские функции"
Наши стандартные функции расчета сальдо и оборотов всегда считают с учетом вложенных субсчетов. Иногда необходимо получить результат только по счету без учета субсчетов... Надо либо добавить параметр (но это наверное плохо, сломаются все существующие настройки) либо сделать новый набор этих функций с каким-то одинаковым префиксом(суффиксом) который будет считать только по счету...  Интересно мнени

[2022-10-31 11:56] MIchaelShoihet commented on #4322
@NikolayUkleyko

[2022-10-31 12:00] gsbelarus commented on #4322
старое трогать не надо. новые функции сделать уже с параметром и их использовать везде и в документации прописать. заодно подумать какие еще параметры могут быть полезны и востребованы.

[2022-10-31 12:01] NikolayUkleyko commented on #4322
Для большей гибкости лучше предусмотреть отдельный набор функций с префиксом "**M**" (main, основной счет).
В _Конструктор функций → Функции → GS-функции_ добавить новые функции для работы только с указанным счетом без субсчетов.
Новых параметров не надо, так как существующих достаточно.

Например для рублевых функций:
• **MO**;
• **MOD**;
• **MOK**;
• **MSD**;
• **MSK**.

Аналогично и для других

[2022-10-31 13:26] NikolayUkleyko commented on #4321
Проверять, подключены ли к базе данных пользователи кроме только одного Администратора.
Тогда, предусмотреть отображение сообщения:
[code]

@MIchaelShoihet , возможно ли реализовать такую блокировку на уровне триггеров ?

[2022-11-01 16:05] NikolayUkleyko commented on #3673
Проверено.
Работает корректно.
@Polfath , большое спасибо !

[2022-11-01 16:05] #3673 closed

[2022-11-02 08:12] NikolayUkleyko commented on #4191
Проверено.
Фильтры и связанные объекты добавляются.
В целом функционал работает корректно.
@Polfath , большое спасибо !

[2022-11-02 08:12] #4191 closed

[2022-11-03 06:37] gsbelarus commented on #4321
у нас же в таком случае записывает скрипт в таблицу и потом при перезагрузке в однопользовательском режиме выполняет?

[2022-11-03 08:29] NikolayUkleyko commented on #4321
@gsbelarus , пожалуйста, уточните, что под этим понимается:
1. База данных → Однопользовательский режим → добавление в ограничения типового документа → переход в многопользовательский режим.
2. Подключение к базе данных только под одним пользователем **Администратор** → добавление в ограничения типового документа.

[2022-11-03 12:00] NikolayUkleyko opened #4323 "Databases.ini и подстановка пароля со снятой галкой ”Запомнить пароль”"
При выборе базы данных со снятой галкой **_Запомнить пароль_** подставляется пароль из предыдущей базы данных.
В такой ситуации необходимо очищать поле **_Пароль_**.

[2022-11-04 08:03] YRozmysl commented on #4320
Все ок.

[2022-11-04 08:03] #4320 closed, assigned to Polfath

[2022-11-04 09:11] NikolayUkleyko commented on #4323
@Polfath , пожалуйста, посмотри.

[2022-11-04 09:13] NikolayUkleyko commented on #4320
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-11-04 09:24] NikolayUkleyko commented on #4194
Проверено.

_”1 — в контекстном меню необходимо поправить наименование (как сделано в карте счета) Журнал документов → Перейти в журнал документов.”_
Сделано.

_”2 — необходимо уточнение.
Смоделировал переход из карты счета в журнал документов 01. Накладная на получение материалов, ОС, МБП — зависаний нет.”_
Зависание есть, как по приходной накладной, так и по другим документам.

[2022-11-04 14:05] NikolayUkleyko commented on #3508
@Polfath , пожалуйста, посмотри.

[2022-11-08 09:40] Polfath commented on #3938
сделал

[2022-11-08 09:42] gsbelarus commented on #4287
Перепроверить и закрыть. Окончательное решение не трогать регистр и выводить как введено в базе данных.

[2022-11-08 09:44] gsbelarus commented on #4285
В документацию добавить обязательное требование наличия поля NAME или USR$NAME для объектов, добавляемых в ПИ. Возможно, при добавлении стоит проверять в программе и при отсутствии такого поля -- предупреждать и останавливать добавление.

[2022-11-08 09:46] Polfath commented on #4191
сделано

[2022-11-08 10:30] NikolayUkleyko commented on #4287
@AliakseiDanilchyk , пожалуйста, посмотри.

[2022-11-08 10:35] NikolayUkleyko commented on #4285
Хороший вариант.

[2022-11-08 10:42] NikolayUkleyko commented on #3915
При добавлении записей в ПИ из таблиц без полей типа **NAME** можно ли вручную выбрать другое(ие) поле(я) таблицы для заполнения поля **Наименование** ?

[2022-11-08 10:46] NikolayUkleyko commented on #4194
2-й вопрос пока не будем смотреть.
Доработки выполнены и работают корректно.
@Polfath , спасибо !

[2022-11-08 10:46] #4194 closed

[2022-11-08 10:50] NikolayUkleyko commented on #4243
@gsbelarus , пожалуйста, закройте данную тему.

[2022-11-08 11:07] NikolayUkleyko commented on #3975
Проверено.
Работает корректно.
@Polfath , большое спасибо !

[2022-11-08 11:13] NikolayUkleyko commented on #4259
https://github.com/GoldenSoftwareLtd/gedemin/issues/4259#issuecomment-1094847868
В gedemin.exe разные модифаи.
Желательно включить в платформу автоматический модифай для рассматриваемой темы.

[2022-11-08 11:40] #4243 closed

[2022-11-08 12:17] Polfath commented on #4243
сделано

[2022-11-08 12:44] #4287 closed

[2022-11-08 13:10] MIchaelShoihet opened #4324 "Документ трансформации"
При создании документа трансформации не добавляется поле VIEWMOVEMENTPART DVIEWMOVEMENTPART в таблице позиция документа

[2022-11-08 13:47] MIchaelShoihet commented on #4266
В триггере надо сделать проверку на объединение записей
IF (RDB$GET_CONTEXT('USER_TRANSACTION', 'GD_MERGING_RECORDS') IS NULL) THEN

[2022-11-09 12:07] Polfath commented on #4324
сделал

[2022-11-09 14:00] Polfath commented on #4302
сделано

[2022-11-10 06:57] Polfath commented on #1315
Сделано

[2022-11-10 08:22] kirillpro1001 opened #4325 "Error connecting with SSL"
Здравствуйте, не подключается к smtp серверу яндекса. Протокол безопасности так же меняли. В чем может быть проблема? К почтовым клиентам подключается без сбоев
![Снимок](https://user-images.githubusercontent.com/36133569/201038427-762d7d56-a086-457e-a29f-9ecf18574047.PNG)

[2022-11-10 10:39] NikolayUkleyko commented on #1315
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-11-10 10:59] #1315 closed

[2022-11-10 11:01] gs7600300 commented on #4325
Попробуйте обновить exe. В конце прошлого года/начале этого были доработки по настройкам почтовых серверов. Как минимум ваша форма отличается от того, что я вижу на эталоне.
![image](https://user-images.githubusercontent.com/13334057/201074339-39b9c9fe-16ad-4d07-bc2a-0a4f7ada5cf7.png)

[2022-11-10 11:26] NikolayUkleyko opened #4326 "Типовые документы. При создании документа наследника параметры хранилища не переносятся"
_**Типовые документы.**_
При создании документа наследника параметры хранилища не переносятся.
Распространяется на все гриды документа.
@gsbelarus , пожалуйста, посмотрите.

[2022-11-10 11:38] NikolayUkleyko commented on #4241
Проверено.
Работает корректно.
@Polfath , большое спасибо !

[2022-11-10 11:38] #4241 closed

[2022-11-10 11:45] NikolayUkleyko opened #4327 "Типовые документы. При создании документа наследника не все отчеты сохраняют входимость в папке"
_**Типовые документы.**_
При создании документа наследника:
• отчеты из раздела _**Отчеты TgdcInvDocument…**_ отображаются в папке с наименованием базового документа – верно;
• отчеты из раздела _**Отчеты формы**_ отображаются в корне перечня отчетов – необходимо их отображать в папке с наименованием базового документа.

Может задумка была иная.
@gsbelarus , пожалуйста, посмотрите.

[2022-11-10 11:48] NikolayUkleyko commented on #4270
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-11-10 11:48] #4270 closed

[2022-11-10 11:52] NikolayUkleyko commented on #3938
Проверено.
В целом функционал работает корректно.
Необходимо внести некоторые правки.

[2022-11-10 11:57] NikolayUkleyko commented on #4252
https://github.com/GoldenSoftwareLtd/gedemin/issues/4252#issuecomment-1269931076

[2022-11-10 12:00] NikolayUkleyko commented on #2864
@gsbelarus , пожалуйста, посмотрите данную тему.
Возможна ли реализация или нет ?

[2022-11-10 12:00] NikolayUkleyko commented on #4190
https://github.com/GoldenSoftwareLtd/gedemin/issues/4190#issuecomment-1290229792

[2022-11-10 12:02] NikolayUkleyko commented on #4302
Проверено.
В целом функционал работает корректно.
Возможны некоторые правки.

[2022-11-10 20:54] gsbelarus commented on #4302
какие?

[2022-11-11 07:15] Polfath commented on #3938
Поправил

[2022-11-11 07:17] Polfath commented on #4324
Сделал

[2022-11-11 08:07] Polfath commented on #4237
так нужно?
![image](https://user-images.githubusercontent.com/112748962/201294608-f12ec3ae-c8f4-4bf3-ac45-5bf43852493c.png)

[2022-11-11 08:09] Polfath commented on #4237
так нужно?
![image](https://user-images.githubusercontent.com/112748962/201295019-c3494c7c-a886-4bad-8c34-f1214fd2104b.png)

[2022-11-11 08:21] Polfath commented on #4237
сделал

[2022-11-11 08:25] NikolayUkleyko commented on #4302
_> какие?_

При смещения грида при попытке удаления записи (контакта) появляется следующее сообщение:
![image](https://user-images.githubusercontent.com/11497453/201297234-dbd1bafd-a082-4f25-a002-bae6e5729bde.png)
Группа не определяется.
При попытке удаления запись не удаляется.
Решили в такой ситуации делать неактивной команду удаления записи.

-----

В исходном режиме при нажатии на клавишу удал

[2022-11-11 08:27] gsbelarus commented on #4302
Надо поправить.

[2022-11-11 08:45] NikolayUkleyko commented on #4263
@gsbelarus , пожалуйста, подскажите, актуальна ли данная тема ?

[2022-11-11 08:51] Polfath commented on #4302
так попросил сделать @NikolayUkleyko
Вернуть как было?

[2022-11-11 09:01] Polfath commented on #4302
поправил

[2022-11-11 09:05] gsbelarus commented on #4302
Не TgdcGroup должно быть, а название группы.

[2022-11-11 12:30] Polfath commented on #4323
сделал

[2022-11-14 08:45] NikolayUkleyko commented on #4323
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-11-14 08:45] #4323 closed, assigned to Polfath

[2022-11-14 08:59] NikolayUkleyko commented on #2864
Пообщались с @Polfath .
Пока решили ничего не менять по данной теме.

[2022-11-14 11:14] NikolayUkleyko commented on #3938
https://github.com/GoldenSoftwareLtd/gedemin/issues/3938#issuecomment-1019500196

Проверено.

Пункты 1 и 2 – так и реализовано.
Пункт 3 – в документе наследнике предусмотрена деактивация клавиш редактирования и удаления фильтров базового документа без отображения дополнительных сообщений.
Пункт 4 – в документе наследнике предусмотрена деактивация клавиш добавления в ПИ фильтров базового документа

[2022-11-14 11:14] #3938 closed

[2022-11-15 06:39] NikolayUkleyko opened #4328 "Бухгалтерия. Журнал-ордер. Не сохраняется очередность выбранных аналитик"
_**Исследователь → Бухгалтерия → Журнал-ордер.**_

В блоке **Группировать по аналитике** выбранные аналитики не подставляются в той <ins>очередности</ins>, в которой они выбраны.
Пример, выбираем аналитики _Счета и субсчета_, _Подразделение_.
Сохраняем в конфигурацию.
В настройках конфигурации указана верная очередность аналитик _Счета и субсчета_, _Подразделение_.
В сформированном Журнале-ордере

[2022-11-15 06:42] NikolayUkleyko commented on #2864
Реализация данного функционала не простая.
Пока закрываем данную тему.

[2022-11-15 06:47] NikolayUkleyko commented on #4252
@gsbelarus , пожалуйста, посмотрите.

[2022-11-15 11:32] Polfath commented on #3508
сделал

[2022-11-15 12:53] Polfath commented on #4328
сделал

[2022-11-15 20:04] gsbelarus commented on #4190
1. существующую функцию не трогаем
2. добавляем новую функцию DebitValue

[2022-11-16 07:21] NikolayUkleyko commented on #4219
Пообщались с коллегами.
Решили не вносить правки по рассматриваемой теме.

[2022-11-16 07:21] #4219 closed

[2022-11-17 10:08] Polfath commented on #4311
Сделал

[2022-11-17 11:40] NikolayUkleyko commented on #4328
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-11-17 11:40] #4328 closed, assigned to nobody

[2022-11-17 11:48] NikolayUkleyko commented on #4302
Проверено.
@Polfath , пожалуйста, посмотри следующее:
1. При смещении грида отображаем все дочерние записи по всем группам.
2. При попытке удаления дочерней записи по группе <ins>иногда (через раз)</ins> программа отображает окно с сообщением об ошибке:
![image](https://user-images.githubusercontent.com/11497453/202437656-ccbbb114-0e22-491c-9fc4-05f4f66d1527.png)
3. Поправить сообщение при добавле

[2022-11-17 11:57] gsbelarus commented on #4302
тут надо добавить проверку, что для оператора IN есть какие то ИД. если нет, то и запрос не стоит выполнять.

[2022-11-17 12:17] NikolayUkleyko commented on #3962
Интересная тема.
Для реализации доработок может потребоваться больше времени.
Ее можно переместить: **_2.9.6 → 3.0_**.

[2022-11-17 12:21] NikolayUkleyko commented on #4212
Проверено.
Работает корректно.

[2022-11-17 12:29] NikolayUkleyko commented on #4271
Проверено.
Работает корректно.

[2022-11-17 12:32] NikolayUkleyko commented on #4259
Проверено.
Работает корректно.

[2022-11-17 12:37] NikolayUkleyko commented on #4190
Проверено.
Работает корректно.
@Polfath , спасибо !

[2022-11-17 12:37] #4190 closed

[2022-11-17 13:07] NikolayUkleyko commented on #4237
Проверено.
При добавлении в ПИ одного из фильтров добавляются еще и лишние фильтры и пользователи базы данных.
Такое происходит в случае, когда по документу есть ряд фильтров и <ins>ни один их них не входит в ПИ</ins>.

[2022-11-17 14:13] gsbelarus commented on #4237
пользователи точно ни в коем случае не должны попадать

чц, 17 ліс 2022, 14:07 карыстальнік NikolayUkleyko ***@***.***>
напісаў:

[2022-11-17 14:15] NikolayUkleyko commented on #4237
Лишние (не выделенные для добавления в ПИ) фильтры также не должны попадать в ПИ.

[2022-11-18 09:10] NikolayUkleyko commented on #4212
Данную тему можно закрыть.

[2022-11-18 09:10] NikolayUkleyko commented on #4259
Данную тему можно закрыть.

[2022-11-18 09:10] NikolayUkleyko commented on #4271
Данную тему можно закрыть.

[2022-11-23 11:12] NikolayUkleyko commented on #4285
Рассмотрение данной темы продолжено в теме https://github.com/GoldenSoftwareLtd/gedemin/issues/3915.
Данную можно закрыть.

[2022-11-23 11:16] #4285 closed

[2022-11-23 15:15] #4271 closed

[2022-11-24 09:06] YRozmysl opened #4329 "Двойной поиск в лукапе"
Есть такие случаи, когда поиск в лукапе происходит по двум полям, например, стандартно по наименованию  организации и второй режим по УНП там же в том же поле. Джоинится таблица для этого, в поле feilds добавляем cc.taxid.  тут, вроде, все как понятно.

![Screenshot 2022-11-24 120402](https://user-images.githubusercontent.com/11507129/203741506-0d04d0dc-33e7-489c-9426-836691728b63.png)

Когда в эт

[2022-11-24 12:57] MIchaelShoihet opened #4330 "Галка Сохранять значения полей в диалоговых окнах"
Если установлен режим "Сохранять значения полей в диалоговых окнах", то значения этих полей сохраняются в хранилище при сохранении документа, а потом, при создании нового, достаются из хранилища.
Создаем документ, заполняем поле, сохраняем документ.
Это - первый шаг.
Создаем новый документ, в нем это поле заполняется автоматически предыдущим содержанием.
Пока нормально.
Очищаем это поле.
Сохраняем

[2022-11-25 09:13] NikolayUkleyko commented on #4329
Подобную тему рассматривали с @Polfath .
Такой функционал применяется во многих объектах программы и является взаимосвязанным.
Вряд ли это будет дорабатываться. :shrug:

[2022-11-25 15:03] NikolayUkleyko opened #4331 "Общие. Таблицы. INV_CARD. Предусмотреть ограничение наименования поля"
Корректная работа со складскими признаками возможна при максимальной длине наименования поля в 24 символа.
Пожалуйста, предусмотрите соответствующую проверку при добавлении полей с наименованием более 24 символов в таблицу **INV_CARD**.

[2022-11-25 15:07] #4329 closed, assigned to nobody

[2022-11-25 15:25] NikolayUkleyko commented on #4331
В руководстве пользователя и других источниках такой информации не нашел.
В ходе разработки такое интересное нашлось.

[2022-11-29 16:03] NikolayUkleyko commented on #4252
_**Исследователь → Бухгалтерия → План счетов.**_

1. Выбираем любой счет (субсчет).
2. Нажимаем клавишу **F11**.
3. Открывается окно свойств раздела плана счетов входимого счета (субсчета).
    Необходимо открывать окно свойств выбранного счета (субсчета).

[2022-11-29 16:13] NikolayUkleyko commented on #4311
Проверено.
Пункт 1 – работает корректно.
Пункт 2 – при активной закладке **_Сортировка_** нажатие клавиши **Esc** очищает настройки параметров текущей закладки.