[2021-02-01 13:02] hirurg-lybitel commented on #4167
куда базу кидать?

[2021-02-01 13:05] gsbelarus commented on #4167
на имэйл отправил ФТП

On Mon, Feb 1, 2021 at 4:02 PM hirurg-lybitel <notifications@github.com>
wrote:

[2021-02-02 21:12] hirurg-lybitel commented on #4167
Закинул в папку RUID_Synchronization_Example с описанием

[2021-03-10 17:50] gsbelarus opened #4174 "Увеличился размер gdcc"
Обратил внимание, что увеличился размер gdcc.exe. Эта утилита никак не завязана на код гедымина, т.е. ее размер не должен был увеличиваться. Похоже, что дело в том, что gdKeyAssoc.pas теперь включает gdcBaseInterface, который в свою очередь тянет весь интербейз. В gdKeyAssoc нужен только тип TID из gdcBaseInterface. Собственно, сам по себе gdcBaseInterface с самого начала и планировался как легкий

[2021-04-01 15:17] NikolayUkleyko opened #4175 "Файлы. Корневой каталог. Ошибка при смене накопителя"
**Исследователь / Сервис / Файлы.**

Сменили накопитель.
Путь сохранился прежний и нельзя указать новый.
При двойном клике по корневому каталогу или при выборе _Сервис → Корневой каталог_:

![image](https://user-images.githubusercontent.com/11497453/113315435-f6414100-9315-11eb-8c3d-8676cc104e64.png)
![image](https://user-images.githubusercontent.com/11497453/113315462-fb05f500-9315-11eb-973a-8656

[2021-04-03 17:06] gsbelarus opened #4176 "Восстановление БД на ФБ4"
Не восстанавливаются триггеры и нет некоторых UDF. Надо подумать, что не будет работать без этих тригеров. На вскидку, они инкрементируют генератор версии структуру БД и от этого зависит перечитывать структуру или брать ее из кэшированного файла.

По идее триггеры на изменение метаданных остались, чтолько они теперь имеют другой синтаксис.

[code]

[2021-04-03 17:15] MIchaelShoihet commented on #4176
Так эти триггеры уже под 3.0 не восстанавливаются

сб, 3 апр. 2021 г., 20:06 Andrej Kirejeŭ ***@***.***>:

[2021-04-05 06:13] YRozmysl commented on #4176
при нажатии на "Справка" - ошибка

![Безымянный](https://user-images.githubusercontent.com/11507129/113543523-3bec5b00-95ef-11eb-8754-7f09c8db95ef.jpg)

[2021-04-05 06:53] YRozmysl commented on #4176
при открытии формы многих документов, например расчета отпуска - ошибка.

![444](https://user-images.githubusercontent.com/11507129/113546522-d3a07800-95f4-11eb-8d10-58e9dccc43e1.jpg)

[2021-04-05 07:20] gsbelarus commented on #4176
надо будет флаг совместимости с пред версиями выставить в конф файле

пн, 5 кра 2021, 09:54 карыстальнік Yury Rozmysl ***@***.***>
напісаў:

[2021-04-05 07:41] YRozmysl commented on #4176
во многих процедурах  ошибка

![proc](https://user-images.githubusercontent.com/11507129/113550298-8673d480-95fb-11eb-8e01-db60a98f4e6f.jpg)

[2021-04-05 09:41] YRozmysl commented on #4176
режим совместимости решил  ошибку в Справке, остальные ошибки остались

[2021-04-05 09:51] YRozmysl commented on #4176
совместимость также решила вопрос с открытием форм документов.

[2021-04-08 14:40] NikolayUkleyko opened #4177 "Константы. Добавление новой записи в режиме редактирования"
**Исследователь → Сервис → Константы.**

При редактировании записи и добавлении новой (кнопка **Новый**) становятся неактивными реквизиты с типом **CheckBox**.

[2021-04-23 13:14] gsbelarus opened #4178 "GD_G_MOVEMENT что за генератор?"
Сейчас на ветке мастер не формируется эталонная БД. Ругается на генератор. Не припомню раньше такого.
[code]

[2021-04-23 13:37] #4178 closed, assigned to MIchaelShoihet, ShlTanya

[2021-04-28 11:26] gsbelarus opened #4179 "Не работает кнопка Очистить в gdcc.exe для лога"
Эта кнопка работает только для профайлера, а надо еще и подключить ее для лога записей.

[2021-04-28 11:27] gsbelarus opened #4180 "Расширить поля с количеством записей"
В gdcc.exe внизу, в панели состояния есть раздел с количеством записей. Надо его расширить пикселов на 80, т.к. у нас могут быть миллионы записей.

[2021-05-28 11:31] gsbelarus commented on #4164
исправлено в бета версии

[2021-05-28 11:55] gsbelarus commented on #4172
исправлено в бета версии. надо проверить.

[2021-05-28 13:11] gsbelarus commented on #4171
Исправлено в бета версии.

[2021-06-01 09:07] NikolayUkleyko commented on #3673
@ShlTanya , пожалуйста, поправь.

[2021-06-11 16:29] #4180 closed, assigned to gsbelarus

[2021-06-14 10:15] NikolayUkleyko opened #4181 "Общие. Цвет файла gedemin.exe"
![2021-06-14_131100](https://user-images.githubusercontent.com/11497453/121876710-80dcee00-cd12-11eb-9825-31a6e65e4c2d.jpg)

Для файла gedemin.exe не задан цвет.

[2021-06-14 10:17] NikolayUkleyko opened #4182 "Общие. Заставка при подключении к БД"
При подключении к БД не отображается заставка.

[2021-06-14 10:24] NikolayUkleyko opened #4183 "Общие. Сервис. actShowSQLObjects и локализованное наименование"
![2021-06-14_132049](https://user-images.githubusercontent.com/11497453/121877658-82f37c80-cd13-11eb-90e9-f5747072298c.jpg)

Пожалуйста, пропишите локализованное наименование для _Сервис → actShowSQLObjects_.

[2021-06-14 10:29] YRozmysl opened #4184 "Очередность выполнения скрипта инициализации в АХО."
При формировании АХО у которой установлен параметров не удалять результаты предыдущих периодов, для корректной обработки предлагается скрип инициализации делать раньше. Так как скрипт удаления проводок прописан выше в АХО.

[2021-06-14 10:30] NikolayUkleyko commented on #4141
Проверено.
Работает корректно.
@ShlTanya , спасибо !

[2021-06-14 10:30] #4141 closed, assigned to nobody

[2021-06-14 10:50] NikolayUkleyko commented on #4151
Проверено.
Работает корректно.
@ShlTanya , подскажи, возможно ли предусмотреть поиск по регулярным выражениям ?

[2021-06-15 11:08] gsbelarus opened #4185 "Не работает модифай базы"
1. Ставим комплексную автоматизацию с сайта. При установке выбираем установить демо базу данных.
2. Новейшим экзешником (скомпилированным без символа ID64) подключаемся к ней.
3. Он предложит обновить структуру.
4. Соглашаемся.
5. В процессе обновления будет ошибка.

[2021-06-15 13:03] NikolayUkleyko opened #4186 "Типовые документы. Пользовательский документ и поле CHECKREMAINS"
Создали пользовательский документ и сразу добавили таблицу шапки документа и таблицу позиции документа.
В результате в таблице позиции документа существует поле **CHECKREMAINS**.
Пожалуйста, подскажите, каково его назначение для пользовательского документа ?

[2021-06-15 13:16] MIchaelShoihet commented on #4186
Пока это поле не используется (имеется в виду складской документ). а в пользовательском документе оно и не нужно, я посмотрю как оно туда попало.

[2021-06-15 13:26] NikolayUkleyko commented on #4186
@MIchaelShoihet , благодарю за информацию.

[2021-06-16 06:44] gsbelarus commented on #3519
@MIchaelShoihet что с этим? можно закрывать?

[2021-06-16 07:41] gsbelarus opened #4187 "Перестал работать режим показать сетевые имена компьютеров"
![image](https://user-images.githubusercontent.com/5175764/122178242-14d3c480-ce8f-11eb-87d5-b10e2edf300e.png)

Очевидно, проблема из-за того, что теперь в адресе файреберд передает еще и порт подключения. Перед определением имени компьютера порт надо убрать из строки.

[2021-06-16 07:49] gsbelarus opened #4188 "Добавить колонку "Старейшая транзакция""
![image](https://user-images.githubusercontent.com/5175764/122178950-ba873380-ce8f-11eb-9b4f-2e9e40e41259.png)

После колонки **Время подключения** добавить колонку **Старейшая тр.** где выводить возраст старейшей активной транзакции на изменение данных. Информация извлекается из таблицы `MON$TRANSACTIONS` вкупе с `MON$ATTACHMENTS`. Форматировать строку как `HH:MM:SS`. Часов может быть и больше че

[2021-06-16 15:20] NikolayUkleyko opened #4189 "Параметры. Выбор из множества. Ошибка"
_Отчет → Параметры → Выбор из множества → Условие и сортировка → Условие отбора → accounttype in ('A', 'S')._

Где, таблица и поля:
• таблица → AC_ACCOUNT;
• поле для отображения → ALIAS;
• поле ИД → ID.

Программа отображает окно с сообщением об ошибке:
![image](https://user-images.githubusercontent.com/11497453/122245152-26888c80-cece-11eb-8e80-90cbf4ca5274.png)

-----
На предыдущем **gedemin.ex

[2021-06-16 15:31] NikolayUkleyko opened #4190 "Конструктор функций. Наименование функции DebibValue"
_Конструктор функций → Редактор выражений → Добавить функцию → DebibValue._

Пожалуйста, переименуйте функцию в **DebitValue**.

[2021-06-17 09:30] ShlTanya commented on #4187
Исправлено

[2021-06-17 09:31] ShlTanya commented on #4188
Выполнено

[2021-06-17 11:44] ShlTanya commented on #4185
Исправлено

[2021-06-18 05:29] ShlTanya commented on #4190
А что делать с кодом, в котором уже есть DebibValue? Может добавить DebitValue  с таким же функционалом.

[2021-06-18 05:42] gsbelarus commented on #4190
да, наверное так будет лучше всего. чтобы не полезли ошибки.

пт, 18 чэр 2021, 08:29 карыстальнік ShlTanya ***@***.***>
напісаў:

[2021-06-18 06:59] ShlTanya commented on #4189
Исправлено

[2021-06-18 07:32] ShlTanya commented on #4184
Уточните. Скрипт инициализации делать раньше чего.. удаления проводок? Так если стоит параметр Не удалять, то и скрипта удаления проводок нет.

[2021-06-18 07:47] YRozmysl commented on #4184
Вот примет АХО. Если использовать стандартный конструктор формирования АХО, то она имеет след вид
![aho_miss](https://user-images.githubusercontent.com/11507129/122525792-44ff9c80-d022-11eb-8492-88cd679181ed.jpg)
и при таком варианта, если не стоит галка, то проводки каждый раз создаются новые при повторном выполнении АХО.

А если сделать вот такой вот искусственный прием,
![aho_corr](https://user

[2021-06-18 07:54] NikolayUkleyko commented on #4190
Для наглядности: существует аналогичная функция, но для кредита — **CreditValue**.

[2021-06-18 08:11] NikolayUkleyko commented on #4184
Когда не проставлена галка по реквизиту **Не удалять результаты предыдущих расчетов**, то проводки удаляются и формируются снова.
Это верно.

На сколько я знаю, @MIchaelShoihet несколько лет назад поправлял алгоритмы работы АХО.
Наглядно было на БД Витебск БПФ.

----

@ShlTanya , попутно посмотри назначение реквизита **Возвращает результат** — только меняет _Sub → Function_ ?

[2021-06-18 08:31] YRozmysl commented on #4184
В том -то все и дело, галка не проставлена, а проводки создаются и создаются, не удаляются.

[2021-06-18 08:38] NikolayUkleyko commented on #4184
В данной ситуации наверное лучше отправить Татьяне БД или у нее удаленно смоделировать рассматриваемую ситуацию.

[2021-06-18 09:10] YRozmysl commented on #4184
@ShlTanya  как будет удобно так и  сделаем, могу удаленно у меня на примере, а могу и базу выслать.

[2021-06-18 09:14] gsbelarus commented on #4166
Вроде исправили. Надо снести ненужные РУИДы и понаблюдать, так как возможны другие места где необосновано добавляются РУИДы.

[2021-06-18 09:41] gsbelarus commented on #3830
это еще актуально?

[2021-06-18 09:43] gsbelarus commented on #3830
единственное что я могу представить это несколько одновременно загруженных гедыминов, каждый из которых перезаписывает INI файл другого.

[2021-06-18 09:45] YRozmysl commented on #3830
я, вроде, с таким не сталкивался

[2021-06-18 09:59] MIchaelShoihet commented on #4184
Проблема в следующем: В данной автоматической операции убраны параметры Дата начала и Дата окончания вместо них добавлен параметр Итоговый расчет и дата начала и окончания получаются на основании этого итогового расчета уже в самой операции. Это было добавлено в скрипт инициализации операции, но оказалось, что данный скрипт выполняется уже после удаления проводок, т.е. когда они удаляются, дата на

[2021-06-18 10:06] yoannawx commented on #3830
у меня периодически проблема возникает

[2021-06-18 10:09] NikolayUkleyko opened #4191 "ПИ. При сохранении в ПИ типового документа не все его объекты добавляются"
При сохранении типового документа в ПИ не все объекты хранилища сохраняются.
Можно посмотреть грид проводок.

[2021-06-18 13:17] ShlTanya commented on #4184
![Снимок](https://user-images.githubusercontent.com/24572314/122566817-a63e6480-d050-11eb-9c4b-23f7e6311d10.JPG)
Вот так сделала

[2021-06-18 14:15] NikolayUkleyko opened #4192 "Бухгалтерия. Карта счета. Возможность перехода в журнал документов"
**Исследователь → Бухгалтерия → Карта счета, Журнал хоз. операций.**

Пожалуйста, предусмотрите возможность перехода в журнал документов на соответствующую запись.
Добавить новую кнопку к существующим.

![image](https://user-images.githubusercontent.com/11497453/122574536-67aca800-d058-11eb-93ae-bf99961adb12.png)
![image](https://user-images.githubusercontent.com/11497453/122574559-6da28900-d058-1

[2021-06-18 18:04] gsbelarus commented on #3830
скорее всего когда одновременно несколько гедыминов загружены, которые с
одним ini работают. тут ничего простого не сделаешь, а сложности городить
не будем.

On Fri, Jun 18, 2021 at 1:07 PM yoannawx ***@***.***> wrote:

[2021-06-22 07:08] NikolayUkleyko commented on #4189
Проверено.
Работает корректно.
@ShlTanya , спасибо !

[2021-06-22 07:08] #4189 closed, assigned to ShlTanya

[2021-06-23 13:46] NikolayUkleyko commented on #4175
![image](https://user-images.githubusercontent.com/11497453/123107757-7e7d4100-d442-11eb-9444-cd6f2a68535d.png)
![image](https://user-images.githubusercontent.com/11497453/123107780-84732200-d442-11eb-9ca5-ce16c97701c7.png)

[2021-06-23 14:45] NikolayUkleyko opened #4193 "Склад. Карточка ТМЦ. Не отображается движение по документам"
На панели инструментов любого складского документа нажимаем на кнопку **Карточка ТМЦ** и в форме не отображается движение по документам.

-----
На предыдущем **gedemin.exe** работает корректно.

[2021-06-23 14:55] NikolayUkleyko opened #4194 "Склад. Карточка ТМЦ. Возможность перехода в журнал документов"
**Складские документы → Карточка ТМЦ.**

Пожалуйста, предусмотрите возможность перехода в журнал документов на соответствующую запись.
Добавить новую кнопку к существующим.

![image](https://user-images.githubusercontent.com/11497453/123119081-e2583780-d44b-11eb-8735-6f5830e8756f.png)
![image](https://user-images.githubusercontent.com/11497453/123119103-e71ceb80-d44b-11eb-9425-afacb3967ea2.png)

[2021-06-24 14:01] NikolayUkleyko opened #4195 "Оптимизация структуры базы данных"
Очень интересная информация:
http://gsbelarus.com/pw/site/forums/viewtopic.php?f=5&t=168

-----

_...уменьшить размер поля description или вообще сделать его БЛОБом..._
такое поле всего 180 символов
не стоит его уменьшать, т.к., на практике можно поле и шире

-----

_...убрать поля суммы из gd_document..._
на практике такие поля часто используются
необходимо подробнее смотреть

-----

_...такие по

[2021-06-25 13:50] NikolayUkleyko commented on #4193
Ошибки при формировании карточки нет, но она пустая.

[2021-06-28 07:44] ShlTanya commented on #4179
Выполнила

[2021-06-28 08:44] ShlTanya commented on #4177
Дайте, пжст, картинку происходящего

[2021-06-28 09:13] NikolayUkleyko commented on #4177
@ShlTanya , пожалуйста.

![image](https://user-images.githubusercontent.com/11497453/123611357-337c7880-d80a-11eb-860f-e33c90235a43.png)
Исходная константа.

![image](https://user-images.githubusercontent.com/11497453/123611380-38d9c300-d80a-11eb-86a7-9a365185da98.png)
Новая константа, созданная из исходной при помощи кнопки **Новый**.

[2021-06-28 09:34] ShlTanya commented on #4177
Исправила

[2021-06-28 09:52] ShlTanya commented on #4175
Не могу смоделировать данную ситуацию.  Дайте более подробную информацию, что меняли.

[2021-06-28 10:39] NikolayUkleyko commented on #4175
БД хранилась на одном USB-накопителе.
В параметрах синхронизации указали путь для сохранения файлов (кнопка 1) и периодически выполняли синхронизацию (кнопка 2).

![image](https://user-images.githubusercontent.com/11497453/123621868-52800800-d814-11eb-8ada-ef118440ba7b.png)
**Рис. 1**
![image](https://user-images.githubusercontent.com/11497453/123621356-c8d03a80-d813-11eb-9e75-aea6d43a92f0.png)
**

[2021-06-29 07:40] NikolayUkleyko commented on #4177
Проверено.
Работает корректно.
@ShlTanya , спасибо !

[2021-06-29 07:40] #4177 closed, assigned to ShlTanya

[2021-06-29 07:44] NikolayUkleyko commented on #4183
Проверено.
Работает корректно.
@ShlTanya , спасибо !

[2021-06-29 07:44] #4183 closed, assigned to ShlTanya

[2021-06-30 08:32] NikolayUkleyko opened #4196 "ПИ. Синхронизация. Сравнение. Ошибка"
Синхронизировали ПИ.
При нажатии на кнопку **Сравнить** программа отображает окно с сообщением об ошибке:

![image](https://user-images.githubusercontent.com/11497453/123928552-afa3c700-d996-11eb-8798-88d73b0ab4f2.png)
Рис. 1.

![image](https://user-images.githubusercontent.com/11497453/123928577-b5011180-d996-11eb-8a1c-6d8971db17cc.png)
Рис. 2.

[2021-06-30 08:38] NikolayUkleyko commented on #4193
@ShlTanya , пожалуйста.

[2021-07-01 10:56] NikolayUkleyko opened #4197 "Бухгалтерия. Заполнение аналитики "Документ""
В типовой проводке в SQL-запросе определяем наличие аналитики **Документ** по счету.
В условии на аналитику **Документ** прописали, что она заполняется соответствующим значением, иначе Null.
При формировании _Журнала-ордера_, _Журнале хоз. операций_ видно, что аналитика **Документ** заполняется и по тем счетам, по которым она не выбрана.

Пожалуйста, подскажите, в чем смысл заполнения аналитики, в

[2021-07-01 11:03] MIchaelShoihet commented on #4197
Аналитика документ заполняется автоматически по тем счетам по которым стоит
она настроена и в этом и есть смысл, что она не должна быть пустой, если
она не нужна надо снять галку

чт, 1 июл. 2021 г., 13:57 NikolayUkleyko ***@***.***>:

[2021-07-01 11:04] MIchaelShoihet commented on #4197
Если она заполняется по всем счетам, значит кто-то свой триггер написал

чт, 1 июл. 2021 г., 13:57 NikolayUkleyko ***@***.***>:

[2021-07-01 11:24] NikolayUkleyko commented on #4197
@MIchaelShoihet , хорошо.

В случае, если:
• дополнительного триггера нет;
• в типовой проводке аналитика **Документ** не заполняется вовсе;
• в плане счетов не установлена галка по аналитике **Документ**.

В параметрах Журнал-ордер не указывая счет (т.е., по всем счетам) по аналитике _Счета и субсчета_, _Документ_ (можно еще указать конкретный типовой документ).
В результате, по конкретному счету

[2021-07-01 11:29] MIchaelShoihet commented on #4197
Exe сам эту аналитику не заполняет. Может вы путаете аналитику с документом который создал проводку поле documentkey,  а аналитика usr$gs_document

[2021-07-01 11:30] MIchaelShoihet commented on #4197
Типовой документ берется не по аналитике, а по документу который его создал

[2021-07-01 11:31] MIchaelShoihet commented on #4197
В любом случая аналитка документ заполняется только в ТХО или на триггере в AC_ENTRY. ну либо кто-то запросом заполнил

[2021-07-01 11:34] NikolayUkleyko commented on #4197
Про аналитику **USR$GS_DOCUMENT**.

[2021-07-01 14:22] NikolayUkleyko commented on #4197
@MIchaelShoihet , по триггерам посмотрели еще.
Есть информация.
Получается, что для всех типов документов заполнение аналитики **Документ** определяется не в типовой проводке, а наличием соответствующей галки в плане счетов.
Это хорошо для ручных проводок в Журнале хоз. операций.
Для других документов такое условие не совсем нужно.
@MIchaelShoihet , пожалуйста, подскажите, можно ли поправить нижеп

[2021-07-01 14:26] MIchaelShoihet commented on #4197
Николай вы же сами знаете, что не заполненная аналитика это плохо. В ТО вы
можете заполнить не стандартно эту аналитику и это так и останется, но если
кто-то забыл прописать программа сама заполнит. В общем случае это
правильно, если в частном случае у вас другая ситуация правьте триггер

чт, 1 июл. 2021 г., 17:22 NikolayUkleyko ***@***.***>:

[2021-07-01 14:36] NikolayUkleyko commented on #4197
Благодарю за информацию, @MIchaelShoihet .

[2021-07-01 14:36] #4197 closed, assigned to nobody

[2021-07-02 09:36] NikolayUkleyko opened #4198 "ПИ. При сохранении файлов проверять на корректность зависимости по Include"
_**Пространства имен → Отчеты → Зависимости по Include.**_

Входит в ПИ:

- GS.Общие.Запросы к RDB-таблицам
- GS.Общие.Метаданные.Домены
- GS.Общие.Хранилище
- GS.Пространство имен.Отчеты

В очередности объектов ПИ связанная функция в _**'#include**_ указана после функции, в которой она используется – тогда, при сохранении ПИ выводить соответствующее сообщение, как в вышеприведенном отчете.

Прави

[2021-07-05 12:31] NikolayUkleyko opened #4199 "ПИ. Доработки по загрузке и сохранению файлов"
Пожалуйста, предусмотрите следующие возможности при работе с пространствами имен:

1. Отображение пути расположения файла:
а. В окне ПИ для загрузки не отображать путь к файлу и отображать только имя файла.
б. Отображаемые файлы сортировать по возрастанию.

![image](https://user-images.githubusercontent.com/11497453/124471260-53c9ab80-dda5-11eb-94ec-c44bb2c83b1e.png)
![image](https://user-images.g

[2021-07-05 12:41] NikolayUkleyko opened #4200 "Прочие. При закрытии программы сообщение TheMethodInherited"
Иногда при закрытии программы на экране отображается окно со следующим сообщением:

![2021-07-01_175521_При закрытии программы](https://user-images.githubusercontent.com/11497453/124472707-1c5bfe80-dda7-11eb-8f33-8d8622ba128f.jpg)

-----
На предыдущем **gedemin.exe** работает корректно.

[2021-07-05 14:57] YRozmysl opened #4201 "GDCC vs log"
Обрезается текст запроса на gedemin64
![GDCC](https://user-images.githubusercontent.com/11507129/124490094-5f739d00-ddba-11eb-91c8-434abcfdc95c.png)

[2021-07-06 15:23] NikolayUkleyko commented on #4022
@ShlTanya , :+1:

[2021-07-07 07:34] YRozmysl opened #4202 "Namespace. Сравнение"
На gedemin64 при сравнение NS ошибка
![NS_1](https://user-images.githubusercontent.com/11507129/124718548-e043ad80-df0e-11eb-9d48-ea09f080c437.jpg)
![NS_2](https://user-images.githubusercontent.com/11507129/124718568-e5086180-df0e-11eb-9715-3247f0109903.jpg)

[2021-07-07 07:55] NikolayUkleyko commented on #4202
Юра, про это еще есть одна заметка:
https://github.com/GoldenSoftwareLtd/gedemin/issues/4196

[2021-07-07 07:57] YRozmysl commented on #4202
точно, не заметил.

[2021-07-07 07:57] #4202 closed, assigned to nobody

[2021-07-07 07:58] YRozmysl commented on #4196
причем замечено, что если  сделать двойной клик по ПИ, то сравнение работает (открывается окно сравнения)

[2021-07-07 08:01] NikolayUkleyko commented on #4196
иначе, в окне с ошибкой нажимаем на кнопку **OK** и переходим к окну сравнения

[2021-07-07 13:25] NikolayUkleyko opened #4203 "Отчеты, макросы. Не отображаются папки"
Было так:
![image](https://user-images.githubusercontent.com/11497453/124766485-a343df00-df3f-11eb-8eae-c9824ec15773.png)
Рис. 1.

Сейчас так:
![image](https://user-images.githubusercontent.com/11497453/124766518-ad65dd80-df3f-11eb-8e08-a85bcc012367.png)
Рис. 2.

-----
На предыдущем **gedemin.exe** работает корректно.

[2021-07-08 15:16] NikolayUkleyko commented on #4193
@yoannawx , пожалуйста.

[2021-07-15 11:21] gsbelarus opened #4204 "На базе ВМК не проходит процедура апгрейда"
На запросе:

```UPDATE USR$SSG_PROCESSINGLINE SET VIEWMOVEMENTPART = case when inquantity <> 0 t...```

Кидает ошибку:

[code]

[2021-07-15 13:40] gsbelarus commented on #4201
увеличил до 160 символов. помещать в лог весь запрос целиком мы не можем, т.к. может не хватить памяти. весь текст запроса можно посмотреть на вкладке профайлер.

[2021-07-15 13:40] #4201 closed, assigned to gsbelarus

[2021-07-15 14:34] NikolayUkleyko commented on #4200
![image](https://user-images.githubusercontent.com/11497453/125805905-61b531dd-3723-46e9-9371-328a2ca7718a.png)

[2021-07-16 10:41] NikolayUkleyko opened #4205 "Бухгалтерия. Журнал хоз. операций. Сторнировать проводку. Не заполняется поле "Дата создания""
**Исследователь → Бухгалтерия → Журнал хоз. операций → Сторнировать проводку.**

При выполнении данной команды не заполняется поле **Дата создания**.
Необходимо его заполнять.

[2021-07-16 11:51] NikolayUkleyko commented on #4145
@ShlTanya , пожалуйста, посмотри.

[2021-07-19 08:22] gsbelarus opened #4206 "Модификация механизма отключения внешних ключей. Часть 1"
Есть у нас [механизм замены внешних ключей](http://gsbelarus.com/gs/wiki/index.php/%D0%9E%D1%82%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D0%B5_%D0%B2%D0%BD%D0%B5%D1%88%D0%BD%D0%B8%D1%85_%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%B9) на систему контролирующих целостность триггеров.

В двух словах он работает так:

1. Закидывает в таблицу `gd_ref_constraints` информацию о существующих внешних ключах.
2. Дае

[2021-07-27 12:43] NikolayUkleyko commented on #4184
@YRozmysl , пожалуйста, подскажи, не смотрел ?

[2021-07-27 13:45] YRozmysl commented on #4184
Теперь все ок, закрываю

[2021-07-27 13:45] #4184 closed, assigned to ShlTanya

[2021-08-06 13:37] AliakseiDanilchyk opened #4207 "Загрузка процессора событием OnUpdate стандартных Action-ов окон"
Для того, чтобы сделать недоступными стандартные кнопки в окнах Гедымина, широко практикуется перекрытие события OnUpdate для Action-а соответствующей кнопки.

Чаще всего код в таком случае выглядит так:

[code]

Если открыта (и не свернута) форма, где такое сделано, то сильно грузится процессор. Конкретно у меня полностью грузится один из 4-х логических процессоров. При этом, если посмотреть Gede

[2021-08-06 13:39] AliakseiDanilchyk commented on #4207
Например, на эталонной базе Ресторана, такое есть в документе Заказ. "Исследователь - Ресторан - 06. Служебное - 01. Заказ"

[2021-08-06 13:59] NikolayUkleyko opened #4208 "Бухгалтерия. Кнопка "Перейти на проводку" и позиционирование курсора в Журнале хоз. операций"
При нажатии на кнопку **Перейти на проводку**, пожалуйста, предусмотрите по умолчанию позиционирование курсора непосредственно на проводке (записи в Журнале хоз. операций) вместо позиционирования на типовой хоз. операции.

[2021-08-06 15:00] gsbelarus commented on #4207
Если поискать в интернете, то получается, что так и задумано.

https://stackoverflow.com/questions/28792745/does-taction-onupdate-event-degrade-the-performance

выход, или менять наш код перемещая присваивание enabled/disabled в другое место. или как-то влезть в код на стороне гедымина, чтобы он ограничивал частоту вызова onupdate. тут надо смотреть.

В рассматриваемом примере логика такая, чтобы

[2021-08-10 18:02] gsbelarus commented on #4206
Следующие проблемы выявились:

1. При открытии окна с внешними ключами выполняется запрос:
[code]
Он выполняется КРАЙНЕ медленно. Почти два часа на базе бро. Этого не должно быть, так как работать с программой становится просто невозможно. Суть запросов на открытии окна -- синхронизировать содержимое таблицы gd_ref_constraints с фактическим состоянием внешних ключей в БД. Надо подправить.

2. Кноп

[2021-08-16 13:19] #3903 closed, assigned to nobody

[2021-08-18 06:59] AliakseiDanilchyk commented on #4207
Тогда подскажите кто-нибудь оптимальный вариант для деактивации кнопок, потому что на OnCreate формы вот такой код не срабатывает.

[code]

[2021-08-18 07:01] MIchaelShoihet commented on #4207
Тогда надо перекрыть OnUpdate и закоментировать inherited

ср, 18 авг. 2021 г., 09:59 Aliaksei Danilchyk ***@***.***>:

[2021-08-30 13:07] hirurg-lybitel opened #4209 "Утечка памяти"
Пролебма с утечкой памяти при работе в течение дня на одной, открытой с утра форме, с которой вызываются различные функции.

Непонятно? Пример (в режиме **без отладки**):

- запускаем код
[code]
- открывается форма

![image](https://user-images.githubusercontent.com/11502258/131342808-9425cb8f-0bee-4945-9f33-b45281d0b7c4.png)

- нажимаем кнопку **New TCreator**. Её код:
[code]

- деструкторы всех

[2021-08-30 13:12] hirurg-lybitel commented on #4209
Также не совсем понятно что происходит с объектами, созданными экземпляром TCreator.

Если в  коде кнопки **New TCreator** добавить явный `Call Creator.DestroyAllObjects`, то объекты, созданные классом вроде удаляются, но при закрытии форма они снова удаляются.

Но это второстепенная проблема.

[2021-08-31 21:51] hirurg-lybitel commented on #4209
**Временное решение:**
проблема пропадает, если главную форму открыть не через `frm.ShowModal`, а через `frm.Show`.

[2021-09-01 14:24] YRozmysl opened #4210 "Гомельобои. Перевод с ФБ 2.5 на ФБ 4.0"
Местный АСУ сам изъявил желание протестировать базу под ФБ 4.0  При восстановлении базы вылезли вот такие вот ошибки и предупреждения. Возможно, будет полезно

Закончен процесс восстановления базы данных: 17:23:59, 01 Сентябрь 2021
Ошибка при присвоении нового идентификатора базы данных
gbak: WARNING:    module name or entrypoint could not be found
gbak: WARNING:function ABS is not defined
gbak: W

[2021-09-02 11:09] NikolayUkleyko commented on #3772
Есть такая проблематика.
У Жанны недавно отменились фильтры после установки ПИ на БД.
Пробовал моделировать ситуации, устанавливая определенные ПИ.
Не так однозначно: на одной базе фильтры отменяются, а на другой нет.

Как вариант, может есть возможность узнать количество активных фильтров до и после установки ПИ.
С указанием типового документа и/или таблицы.
Далее выяснять, какие фильтры в какие

[2021-09-02 15:05] gsbelarus commented on #4210
я бы делал в последовательности:

1) бэкап ФБ 2.5
2) рестор ФБ 3
3) бэкап ФБ 3
4) рестор ФБ 4

не перепрыгивал бы через версию

[2021-09-02 15:09] MIchaelShoihet commented on #4210
Триггера отвалятся еще на 3 ФБ

[2021-09-02 15:09] MIchaelShoihet commented on #4210
И это нормально

[2021-09-02 15:11] YRozmysl commented on #4210
ок, так и попробуем

[2021-09-02 16:12] gsbelarus commented on #4209
но, при этом, она не будет модальной

[2021-09-03 07:40] YRozmysl commented on #4210
И при последовательном переходе, без перескакивания версий, получаем такую же картину.

Закончен процесс восстановления базы данных: 10:39:27, 03 Сентябрь 2021
Ошибка при присвоении нового идентификатора базы данных
gbak: WARNING:    module name or entrypoint could not be found
gbak: WARNING:function ABS is not defined
gbak: WARNING:    module name or entrypoint could not be found
gbak: WARNING:fu

[2021-09-03 07:42] NikolayUkleyko commented on #4210
@YRozmysl , в результате к базе данных можно подключиться и работает ли она ?

[2021-09-03 07:42] gsbelarus commented on #4210
триггеры на системные таблицы в 3 и 4 нельзя создавать. так что это не ошибки. а функцию ABS надо глянуть. она же вроде встроенная теперь, а там наверное из UDF подулючается. Надо убрать ее DROP FUNCTION и перекомпилировать тригера и процедуры где она используется.

[2021-09-03 07:43] YRozmysl commented on #4210
нет, к базе нельзя подключится, только  экспертом

[2021-09-03 07:52] gsbelarus commented on #4210
что значит нельзя? какую ошибку выдает?

[2021-09-03 07:56] YRozmysl commented on #4210
При подключении бета экзе (gedemin noId64 вот такая вот
![miss_4](https://user-images.githubusercontent.com/11507129/131972092-ec6a3769-19fc-41da-86fe-7bc1cc934703.jpg)

Однако, при подключении текущим стандартным,  подключается

[2021-09-03 08:07] YRozmysl commented on #4210
при нажатии справка, о системе вот такая вот

![system](https://user-images.githubusercontent.com/11507129/131972641-c47ba594-8a66-49ea-96ef-70eb5bee93e4.jpg)

[2021-09-03 08:32] NikolayUkleyko commented on #4210
Ясно.
Только для экспериментов - не более.
Уже и FB v.5 есть: http://web.firebirdsql.org/download/snapshot_builds/win/5.0/

[2021-09-03 09:41] YRozmysl commented on #4210
Если сделать уже потом бк под ФБ 4 и восстановить, то ненужные триггеры открутились,  и осталось только с ABS разобраться, там у ее 3 зависимости, это уже надо смотреть и править эти процедуры после комментирования.

Закончен процесс восстановления базы данных: 12:37:18, 03 Сентябрь 2021
Присвоен новый идентификатор базы данных
gbak: WARNING:    module name or entrypoint could not be found
gbak: W

[2021-09-03 11:38] YRozmysl commented on #4210
@gsbelarus  В config совместимость  вот тут надо устанавливать?
DataTypeCompatibility = 2.5
Или тут надо сделать переход на 3.0 и сделать вот так?
DataTypeCompatibility = 3.0

[2021-09-03 11:44] gsbelarus commented on #4210
да

On Fri, Sep 3, 2021 at 2:38 PM Yury Rozmysl ***@***.***>
wrote:

[2021-09-03 11:57] NikolayUkleyko opened #4211 "Отчеты. Ошибка при удалении"
![image](https://user-images.githubusercontent.com/11497453/132001116-50b2de7e-867c-4e6c-808a-e166b83db929.png)

Пожалуйста, поправьте или оставьте, как есть.
:wink:

[2021-09-10 07:29] #4173 closed, assigned to nobody

[2021-09-10 09:29] NikolayUkleyko commented on #3938
При создании документов-наследников фильтры не перенесены и настройки грида тоже.
Проверено на различных gedemin.exe.

[2021-09-23 11:38] MAliaksandr commented on #4155
Кнопка пока так и не появилась.

[2021-09-23 11:48] MAliaksandr opened #4212 "Кнопка "Справка" из основных бух.форм не перенаправляет на соответствующий раздел в WIKI"
Кнопка "Справка" из основных бухгалтерских форм, таких как: журнал ордер, карта счета, анализ счета, главная книга, оборотная ведомость не работает.

![image](https://user-images.githubusercontent.com/11478712/134500760-b5d73cc3-b584-4107-9156-5ffb765850d2.png)

Хотелось бы, чтобы "Справка" работала аналогично стандартного варианта.
Пример:
![image](https://user-images.githubusercontent.com/114787

[2021-09-23 12:01] NikolayUkleyko opened #4213 "Общие. Признак проверки документов"
Данная тема обсуждалась много раз.
Речь про функционал, предусматривающий признак – документ **Проверен** или **Не проверен**.
С установленным признаком нельзя изменить/удалить весь документ и/или его позиции.
Не могу найти ссылку на интересный материал по данной теме от @gsbelarus .
Сейчас, что не база данных, так на каждой своя реализация такого функционала.

Желательно учитывать не только склад

[2021-09-23 12:03] NikolayUkleyko commented on #4110
@ShlTanya , пожалуйста, посмотри.

[2021-09-23 12:29] NikolayUkleyko commented on #4039
@ShlTanya , пожалуйста, посмотри.

[2021-09-23 12:30] NikolayUkleyko commented on #3780
@ShlTanya .

[2021-09-27 12:46] NikolayUkleyko commented on #4132
@ShlTanya , пожалуйста, поправь.

[2021-09-28 05:48] ShlTanya commented on #4193
Исправила

[2021-09-28 09:14] gsbelarus commented on #4193
@NikolayUkleyko экзешник на сайте. надо проверять и закрывать.

[2021-09-28 09:21] NikolayUkleyko commented on #4193
@gsbelarus , благодарю.
По ходу посмотрим.

[2021-09-28 10:29] gsbelarus commented on #4206
@arthur-latunov поправили в экзешнике. проверяйте и если все ок -- закрывайте.

[2021-09-28 10:40] ShlTanya commented on #4203
Уточните, пжст, откуда вызывается это контекстное меню.

[2021-09-28 10:54] gsbelarus commented on #4203
я так понимаю, это меню со списком отчетов, которое вызывается с любой формы просмотра по нажатию на принтер на панели инструментов. уже как-то раньше было, что вывод древовидных папок слетал и все выводилось просто списком.

[2021-09-28 11:15] ShlTanya commented on #4205
Исправлено

[2021-09-28 11:19] NikolayUkleyko commented on #4203
_> ... это меню со списком отчетов, которое вызывается с любой формы просмотра по нажатию на принтер на панели инструментов ..._

Да, так.
Такое меню доступно и при нажатии на кнопку **Макросы и события** на панели инструментов любого документа, объекта и т.д.

[2021-09-28 12:06] arthur-latunov commented on #4206
![image](https://user-images.githubusercontent.com/11484233/135081859-328d04a4-a48c-45b8-9d96-1b93f4d716d6.png)
После **Прервать**
![image](https://user-images.githubusercontent.com/11484233/135081947-53b385f0-2ff9-4f0c-ab3e-3cdd8378f8c9.png)
![image](https://user-images.githubusercontent.com/11484233/135082167-31ff9f30-207d-433f-ba8c-142f54eff161.png)
При предварительном запуске того, что указано

[2021-09-28 12:35] ShlTanya commented on #4206
Когда вы просто запускаете тот скрипт.. то вставка данных не происходит, т.к. таблица уже заполнена. В программе же перед запуском этого скрипта идет очистка данных. Поэтому вы и получаете такое разное время выполнения.

[2021-09-28 12:37] ShlTanya commented on #4206
Я бы предложила, открыть трасерт и посмотреть что в этот момент происходит на стороне бд. Т.к. идет построчная вставка, можно увидеть какие то проблемы.

[2021-09-28 12:40] ShlTanya commented on #4206
Просмотрите таблицу GD_REF_CONSTRAINTS на наличие индексов.. для эксперимента удалите их.

[2021-09-28 12:48] gsbelarus commented on #4206
а как идет очистка? каким запросом? после нее комит делается? в любом
случае это очень маленькие объемы. всего тысячи записей. это доли секунды
для сервера и извлечь их и вставить.я могу только гадать, что проблема
может быть в том, что идет вставка в таблицу, которая участвует и в самой
выборке и это как-то не нравится фб.

On Tue, Sep 28, 2021 at 3:40 PM ShlTanya ***@***.***> wrote:

[2021-09-28 12:52] ShlTanya commented on #4206
Идет последовательное выполнение скриптов, обернутое в 1 транзакцию ( и скрипт вставки в ней):
      'DELETE FROM gd_ref_constraints WHERE constraint_rel NOT IN ' +
      '  (SELECT rdb$relation_name FROM rdb$relations) ';

      'DELETE FROM gd_ref_constraints WHERE ref_rel NOT IN ' +
      '  (SELECT rdb$relation_name FROM rdb$relations) ';

      'DELETE FROM gd_ref_constraints WHERE constraint

[2021-09-28 12:53] ShlTanya commented on #4206
У вас проблема на 1 базе.. или нескольких.. У меня и предыдущий вариант выполняется моментально.

[2021-09-28 12:58] ShlTanya commented on #4203
Исправлено

[2021-09-28 13:07] ShlTanya commented on #4211
Опишите более подробно ошибку, откуда и что удаляете.

[2021-09-28 13:33] NikolayUkleyko commented on #4193
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2021-09-28 13:33] #4193 closed, assigned to ShlTanya

[2021-09-28 13:36] NikolayUkleyko commented on #4203
Проверено.
Изменений нет.
@ShlTanya , пожалуйста, глянь.

[2021-09-28 13:41] NikolayUkleyko commented on #4211
@ShlTanya , пожалуйста:

1. Открываем редактор скрипт-объектов.
2. Создаем новый отчет и коммитим его.
3. Пробуем выполнить удаление созданного отчета.

[2021-09-28 13:53] NikolayUkleyko opened #4214 "Общие. Блокировка периода"
Давно обсуждалась тема по совершенствованию механизма блокировки данных.
Помимо блокировки на уровне платформы (**_Сервис → Параметры → Аудит и безопасность → Блокировка периода_**) существуют другие виды блокировок на уровне ПИ (настроек).
Необходимо, чтобы функционал блокировки был единый и встроен в платформу.
Пожалуйста, раньше уже была постановка задачи по такой тематике:
_http://gsbelarus.co

[2021-09-28 14:08] NikolayUkleyko commented on #4192
@ShlTanya .

[2021-09-29 08:34] NikolayUkleyko commented on #4203
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2021-09-29 08:34] #4203 closed, assigned to ShlTanya

[2021-09-29 09:03] NikolayUkleyko opened #4215 "Общие. Ошибка при двойном клике на выпадающих списках"
В любой форме, документе и т.д. на любом выпадающем списке пробуем дважды кликнуть мышкой.

![image](https://user-images.githubusercontent.com/11497453/135237794-a062f33e-16e8-49db-8fd4-dcd0519b4e83.png)

[2021-09-29 09:23] NikolayUkleyko commented on #4186
@ShlTanya , пожалуйста, посмотри, если, можно.

[2021-09-29 09:30] NikolayUkleyko commented on #3975
@ShlTanya .

[2021-09-30 07:10] NikolayUkleyko opened #4216 "Общие. В свойства объекта добавить отображение IP-адреса (Q)"
_**Запись по документу → Контекстное меню → Свойства... → Общие.**_

@ShlTanya , пожалуйста, для реквизитов **Кто создал**, **Кто изменил** добавь отображение IP-адреса:
![image](https://user-images.githubusercontent.com/11497453/135404146-f9a7f6a2-b1ed-49e9-89b7-dd14376e173b.png)

[2021-09-30 15:13] NikolayUkleyko commented on #4072
В случае, если, в параметре выбора из множества указана ссылка на простую таблица (не древовидной структуры), то:

1. Для доступных записей неправильно отображаются пиктограммки. Белые (как для выбранных записей), а необходимо отображать желтые.
2. При удалении записей из выбранных по ним в блоке доступных записей по ним неправильно отображаются пиктограммки. Сперва желтые, после переоткрытия форм

[2021-09-30 15:34] NikolayUkleyko commented on #3949
Данный вопрос актуален.

![image](https://user-images.githubusercontent.com/11497453/135485447-4c653dc6-db26-462c-9171-291f4c65def3.png)

На мой взгляд возможен один из 2-х вариантов:

1. Доработать алгоритм сохранения настроек расширенного грида в шаблон.
2. Выводить следующее сообщение: _Нельзя выполнить сохранение настроек расширенного грида в шаблон. Пожалуйста, снимите галку по использованию

[2021-10-03 16:00] ShlTanya commented on #4216
Думаю, что это невозможно. Пользователь программы никак не связан с компьютером, на котором он работает.

[2021-10-04 07:40] NikolayUkleyko commented on #4216
Хорошо, Татьяна.
Андрей Петрович уточнял, если в табличке **GD_JOURNAL** хранится IP (да, IP хранится в поле **CLIENTADDRESS**), то можно отображать IP.

[2021-10-04 08:02] NikolayUkleyko commented on #4205
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2021-10-04 08:02] #4205 closed, assigned to nobody

[2021-10-04 13:12] NikolayUkleyko opened #4217 "Общие. Заголовок в свойствах записи"
В **диалоговой форме** любого типа документа (складской, пользовательский, прайс) поправьте заголовок в свойствах записи:

сейчас так →
![image](https://user-images.githubusercontent.com/11497453/135856569-8263db69-bec6-42d4-a7f9-cbbbd8adac7b.png)

было так →
![image](https://user-images.githubusercontent.com/11497453/135856979-e3d76c4c-7a24-43f2-9731-5ae27149b492.png)

[2021-10-04 13:43] gsbelarus commented on #4217
не надо поправлять. сейчас экзешник компилируется с ключем DEBUG. Поэтому и
данная запись появляется. как закончим тестирование, мы ее уберем.

On Mon, Oct 4, 2021 at 4:12 PM NikolayUkleyko ***@***.***>
wrote:

[2021-10-04 13:43] #4217 closed, assigned to nobody

[2021-10-04 13:51] NikolayUkleyko commented on #4217
@gsbelarus , хорошо.
Не было информации по отличительным признакам gedemin.exe debug, поэтому и не знали. :smiley:

[2021-10-04 14:05] gsbelarus commented on #4217
![image](https://user-images.githubusercontent.com/5175764/135865722-eddea6a0-a097-4725-85f8-eb78dc0d1743.png)

[2021-10-07 08:43] NikolayUkleyko opened #4218 "Общие. Ошибка при добавление поля с доменом DBOOLEAN и пустом значении для существующих записей"
1. В любую таблицу добавляем поле с доменом **DBOOLEAN**.
2. При появлении сообщения об установке значения поля для существующих записей нажимаем на кнопку **Да**.
3. Очищаем поле со значением.
4. На экране программа отображает сообщение об ошибке.
При этом можно продолжить сохранение нового поля, нажав на кнопку **OK**.

Если, при появлении сообщения об установке значения поля для существующих за

[2021-10-07 13:00] NikolayUkleyko opened #4219 "Грид. Добавление записи и сообщение "Список для выбора пуст""
**а.** Формируем документ, добавляем несуществующую запись в справочник и нажимаем на **кнопку выпадающего списка (треугольник)** — программа выдаст сообщение:
![image](https://user-images.githubusercontent.com/11497453/136386348-43f3dffa-dd64-4330-ab84-8d01ac53d64b.png)

Нажимаем на кнопку **Нет**.
Вносим данные в справочник.
После сохранения записи в справочник программа выдаст сообщение:
![imag

[2021-10-12 09:04] ShlTanya commented on #4218
А зачем вы очищаете поле со значением, если отвечаете на вопрос Да.. какое значение тогда должно проставиться для существующих записей. Соглашусь, что в таком случае вообще программа не должна пустить дальше.

[2021-10-12 09:12] NikolayUkleyko commented on #4218
@ShlTanya , по ходу добавления поля подумали, что необходимо не заполнять значение нового поля для существующих записей и наверняка очистили значение — **Null**.
При этом, программа позволяет это сделать.

Как вариант **0**.

@ShlTanya , пожалуйста, предложи варианты.

[2021-10-12 09:40] NikolayUkleyko opened #4221 "ПИ. Окно хода загрузки и количество файлов"
Выполняем установку только выбранных ПИ.
В данном примере их количество составляет 12.
В окне синхронизации ПИ выводится количество файлов для загрузки - 12.
В окне хода загрузки указано другое количество - 48.
Вероятно указано общее количество ПИ: выбранные ПИ и связанные ПИ.
Пусть.

Пожалуйста, для большей наглядности добавьте еще строку для только выбранных ПИ - согласно примера, установлено ..

[2021-11-26 14:21] #4182 closed, assigned to nobody

[2021-11-26 14:23] #4181 closed, assigned to nobody

[2021-12-07 14:03] NikolayUkleyko opened #4222 "ПИ. Окно входимости объектов в несколько ПИ"
![image](https://user-images.githubusercontent.com/11497453/145042605-d0c68cfb-ff4d-44a6-bbe9-25befe5aec20.png)
Пожалуйста, для наглядного отображения ПИ предусмотрите в окне входимости объектов в несколько ПИ отображение каждого файла с новой строки.

Пример:
[code]

Сейчас файлы расположены в строку друг за другом.

[2021-12-09 13:13] NikolayUkleyko commented on #4199
С функционалом ПИ работаем постоянно.
Почему бы не посмотреть данную и другие доработки по теме ПИ ?

[2021-12-20 12:43] gsbelarus opened #4223 "Ошибка при поиске с регулярными выражениями"
Заходим в Редактор скрипт-объектов. Вызываем поиск по базе данных. Ставим галку Регулярные выражения. Запускаем и получаем ошибку.

[2021-12-21 09:54] gsbelarus opened #4224 "На вкладке с множеством в гриде не отображаются колонки"
Сейчас в диалоговых окнах, где есть атрибуты типа множество на вкладке с элементами множества грид по умолчанию отображается со всеми невидимыми колонками. Например, окно группа компаний:

![image](https://user-images.githubusercontent.com/5175764/146909382-cf602484-bfa5-424c-bb57-88ab75784ea4.png)

Надо посмотреть по коду. По умолчанию должна быть видима колонка с полем наименование для бизнес-кл

[2021-12-21 15:12] gsbelarus opened #4225 "Все равно создаются РУИДы на проводки"
На базе А. после всех манипуляций и с бета экзешником. Надо сделать тригер на AC_ENTRY AFTER INSERT который будет проверять есть ли такой ИД в таблице GD_RUID и кидать исключение, если есть. Запустить Гедымин и делать разные действия, пока не будет исключение. Тогда поймем в какой именно момент и где создаются РУИДы.

[2021-12-21 15:38] gsbelarus commented on #4196
Какая-то ошибочная проверка в коде. Так как это не класс бизнес объекта и его и не должно быть в списке gdcClassList.

[2021-12-21 18:03] dmitranoid commented on #4223
не воспроизводится.
можно подробнее настройки поиска и скрин ошибки

[2021-12-21 18:09] gsbelarus commented on #4223
Ок. Завтра попробую повторить. Пока можно другое делать.

аў, 21 сне 2021, 21:03 карыстальнік dmitranoid ***@***.***>
напісаў:

[2021-12-22 08:17] yoannawx commented on #4225
на базе А руиды создаются на AC_ENTRY при вызове из макроса метода .CreateEntry

[2021-12-22 08:56] gsbelarus opened #4226 "Нельзя создать контакт, когда скрыто дерево папок в форме просмотра"
Если в справочнике Контактов скрыть дерево (т.е. задвинуть разделитель максимально влево):

![image](https://user-images.githubusercontent.com/5175764/147064398-88e2e757-b7e3-4e43-9609-eb070c749e69.png)

чтобы получилось вот так:

![image](https://user-images.githubusercontent.com/5175764/147064458-cc3e1412-62f3-4809-af61-d7e5089eaba3.png)

То на панели инструментов не доступна команда создания но

[2021-12-22 09:05] gsbelarus opened #4227 "Создание контактов сразу из формы просмотра групп"
При создании контакта (организации) из формы просмотра Групп надо чтобы созданный контакт сразу добавлялся в группу, которая выбрана в левом списке:

![image](https://user-images.githubusercontent.com/5175764/147066295-23c67673-3b12-477a-88f8-0367d8d6babf.png)

@AliakseiDanilchyk
@Helgi2021

[2021-12-23 08:46] gsbelarus commented on #4223
Да. На моем компьютере тоже не повторяется. Пока снимаем вопрос. Наверное что-то локальное. Единственное глянуть как там идет поиск. Если через внешний COM объект, то try..except-ом надо обрабатывать его создание и, если не создался, то выдавать на экран сообщение.

[2021-12-23 09:09] gsbelarus commented on #4223
Но, зато другая проблема вылезла. Если задать условие поиска которое приведет к очень большому количеству найденных значений (например, ищем просто букву a через регулярные выражения), то Гедымин зависнет на большой базе.

Надо ограничивать количество найденных значений разумным числом. Например, 1000. И в процессе поиска проверять. Как только перешли за порог, останавливаем поиск и на экран выдае

[2021-12-24 07:53] gsbelarus opened #4228 "При удалении группы контактов удаляются все входящие в нее контакты"
Такого не должно быть ни в коем случае! При удалении группы должна удаляться ТОЛЬКО сама группа и больше ничего.

[2021-12-24 09:08] Helgi2021 opened #4229 "Ошибка с удалением группы контактов (!)"
При удалении группы контактов программа автоматически удаляет привязанные к данной группе контакты.

[2021-12-24 09:09] #4229 closed, assigned to nobody

[2021-12-24 09:31] Helgi2021 commented on #4229
Duplicated.

[2021-12-24 09:46] gsbelarus commented on #4227
Есть предложение вообще не создавать новые контакты из этой формы. А перекрыть кнопку и при ее нажатии выводить форму просмотра контактов в режиме выбора многих записей.

[2021-12-27 16:32] dmitranoid commented on #4228
что должно произойти с контактами

[2021-12-27 16:34] gsbelarus commented on #4228
должны просто остаться в базе данных

[2021-12-27 16:36] gsbelarus opened #4230 "Редактор скрипт-объектов. Некорректный вывод результатов поиска"
Задал поиск -- строки содержащие латинскую "a". В результатах какие-то лишние пробелы:

![image](https://user-images.githubusercontent.com/5175764/147490634-7d617839-7a0f-4b08-b4f2-0abed1afc134.png)

[2021-12-27 16:36] gsbelarus commented on #4228
Надо сначала глянуть кто их удаляет. Это в коде бизнес-объекта группы такое или триггер у нас есть.

[2021-12-28 11:24] gsbelarus opened #4231 "Поставить новую заставку"

[2021-12-28 18:04] dmitranoid commented on #4228
![изображение](https://user-images.githubusercontent.com/3066236/147593933-25533004-85d4-4200-ae0e-86e989809cb2.png)
![изображение](https://user-images.githubusercontent.com/3066236/147594224-3ab98dba-3076-4dde-b876-a27db7fca48b.png)
на той версии базы что есть у меня, не дает папку если в ней есть контакты, там ли я смотрю ?

[2021-12-28 18:18] gsbelarus commented on #4228
Да, если контакт где-то задействован, то его не удастся удалить.

Вы создайте совершенно новый контакт (человека или организацию). Потом создайте новую группу. Включите этот контакт в группу. Удалите группу.

[2021-12-28 18:42] dmitranoid commented on #4230
не получилось воспроизвести,
проблема в одном скрипте ? если да, откуда он взят, попробовать его скопировать- вставить через блокнот, поможет ли

[2021-12-28 18:59] gsbelarus commented on #4230
Ок. Я перепроверю.

аў, 28 сне 2021, 21:42 карыстальнік dmitranoid ***@***.***>
напісаў:

[2021-12-29 08:05] NikolayUkleyko commented on #4230
Посмотрел.
Есть такое.

![image](https://user-images.githubusercontent.com/11497453/147640434-b4c3b453-6e94-45c4-8e46-fd46365dc66d.png)
**Рис. 1. Поиск по английской букве "a".**

![image](https://user-images.githubusercontent.com/11497453/147640473-08457b1d-17cf-4ee5-b789-d9f680941b00.png)
**Рис. 2. Результат поиска.**

[2021-12-29 09:03] dmitranoid commented on #4230
@NikolayUkleyko смущает что только в одной строке, чем она отличается от других, попробуйте скопировать - вставить обратно эту строку через блокнот и повторить поиск

[2021-12-29 11:00] NikolayUkleyko commented on #4230
@dmitranoid , выполнил копирование буквы "a" (английская) и новый поиск.
Результат, как на рисунке 2, но дополнительно следующее:

![image](https://user-images.githubusercontent.com/11497453/147655319-afea8f28-f1c6-4a0a-a269-c864f1b2cf8a.png)
**Рис. 3. Результат поиска.**

[2021-12-29 13:16] NikolayUkleyko commented on #4214
Пожалуйста, при реализации такого функционала рассмотрите следующие пожелания:

№ п/п  | Наименование | Описание
------------ | ------------- | -------------
1                 | Блокировка для любого типа документа | Для существующих документов, новых и т.д. Чтобы не приходилось дописывать методы и т.д. для каждого документа.
2                 | Добавить дату создания, изменения (и по возможности

[2021-12-29 16:18] dmitranoid commented on #4230
@NikolayUkleyko не буквы a, вот эту строку целиком в блокнот и обратно в скрипт чтобы привести ее к ascii, сохранить, повторить поиск
![изображение](https://user-images.githubusercontent.com/3066236/147682284-cf97bf84-6f8f-4a83-b4f6-7617e2d3f355.png)

[2021-12-29 16:21] gsbelarus commented on #4230
Николай имеет ввиду, что поиск был задан просто по одной букве a. К
найденому нет претензий, есть вопросы к отображению. Обратите внимание,
зачем-то перед а появились пробелы лишние. Вместо Values -- V   alues.

On Wed, Dec 29, 2021 at 7:18 PM dmitranoid ***@***.***> wrote:

[2021-12-29 16:31] dmitranoid commented on #4230
да, и это только в одной строке, как и у в вашем примере, у меня было похожее в одном из скриптов был перенос строки CR вместо CR LF и обе строки отображаются в результатах
возможно и эти строки скопированы из источника например в unicode, я не вижу как они хранятся в бд
скопировав скрипт в блокнот и обратно будем уверены что что там только ascii символы, и если это поможет будет понятно что лечит

[2021-12-29 16:34] gsbelarus commented on #4230
точно ascii. у нас БД в однобайтовой кодировке Win1251 и весь Гедымин. Это
же Делфи 5, там еще не было вменяемого
юникода. единственное место, где в Гедымин есть поддержка юникода это всего
две функции, доступные из
скриптов. одна кодирует из Win1251 в UTF-8 -- другая обратно. они нам нужны
для считывания и записи в JSON.

On Wed, Dec 29, 2021 at 7:31 PM dmitranoid ***@***.***> wrote:

[2021-12-29 16:37] gsbelarus commented on #4230
у меня большое подозрение что там был поиск по регулярным выражениям,
например [a], а при выводе на экран
оно пытается выделить кусочек текста для отрисовки жирным шрифтом и берет
длину регулярного выражения,
как буд-то это была подстрока для поиска. Если так, то при включенном флаге
регулярных выражений можно
просто не подсвечивать жирным. так как определить именно подстроку, которая
удовлетворил

[2021-12-29 16:53] dmitranoid commented on #4230
но у @NikolayUkleyko поиск рез regexp (рис.1)
уже думал пересмотреть этот кускок, чтобы показывать всю строку со вхождениями одной строкой, а не как сейчас, каждое вхождение отдельно

[2021-12-30 07:09] AliakseiDanilchyk commented on #4228
@dmitranoid Вы не там смотрите. Проблема возникает не при удалении папки, а при удалении группы.
![group](https://user-images.githubusercontent.com/11484894/147729470-83be340d-7dc7-4031-8048-9ee92689b11a.jpg)

[2021-12-30 09:01] NikolayUkleyko commented on #4230
Обычно поиск выполняется по нескольким символам, фрагменту слова и т.д.
Какой смысл поиска по одному символу, если он может встречаться во многих объектах ?

[2021-12-30 09:11] NikolayUkleyko commented on #4228
Дополнительно по рассматриваемой теме.
Контакт (организация) удаляется из базы данных даже при его удалении из правой части формы групп контактов.
В данном случае, контакт должен быть удален только из привязанной группы контактов и остаться в базе данных.

[2021-12-30 12:52] NikolayUkleyko commented on #4214
@dmitranoid

[2021-12-30 13:33] NikolayUkleyko commented on #1948
В SQL редакторе предусмотрено отображение бизнес-классов:
![image](https://user-images.githubusercontent.com/11497453/147756279-3c6e8ac9-f015-4cf2-95ed-35540accb9fa.png)

Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2021-12-30 13:34] NikolayUkleyko commented on #1933
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2021-12-30 13:40] #1933 closed, assigned to gsbelarus

[2021-12-30 13:44] NikolayUkleyko commented on #1541
Проверено.
Работает корректно.
@gsbelarus , пожалуйста, закройте тему.

[2021-12-30 13:48] NikolayUkleyko commented on #1052
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2021-12-30 13:50] NikolayUkleyko commented on #1226
Построитель запросов реализован в IBExpert: _Инструменты → Построитель запросов_.
В Гедымине его делать нет смысла.

@gsbelarus , пожалуйста, закройте тему.

[2021-12-30 14:06] NikolayUkleyko commented on #687
Такая доработка рассматривается здесь https://github.com/GoldenSoftwareLtd/gedemin/issues/4214.
@gsbelarus , пожалуйста, закройте тему.

[2021-12-31 08:41] #1541 closed, assigned to gsbelarus

[2021-12-31 08:42] #1052 closed, assigned to gsbelarus

[2021-12-31 08:42] #1226 closed, assigned to gsbelarus

[2022-01-03 08:05] NikolayUkleyko commented on #732
@MIchaelShoihet , пожалуйста, расскажите подробнее.
Эталонный функционал разноски предусматривает отдельную форму просмотра разноски с возможностью удаления выбранных записей.

[2022-01-03 08:08] NikolayUkleyko commented on #935
@gsbelarus , пожалуйста, закройте тему.

[2022-01-03 11:00] gsbelarus opened #4232 "Доработки по форме просмотра Группы контактов"
Группа контактов и Папка это разные вещи. Каждый контакт в Гедымине (юридическое лицо, физическое лицо, сотрудник предприятия и т.п.) должен и может находиться ТОЛЬКО в одной папке. Собственно, в таблице `GD_CONTACT` поле `PARENT` будет ссылаться на папку в которой находится контакт. Папка это тоже особый вид контакта. Т.е. для каждой папки есть запись в таблице GD_CONTACT. Папки могут образовыват

[2022-01-03 11:00] gsbelarus commented on #4228
Перенес в отдельную запись:

https://github.com/GoldenSoftwareLtd/gedemin/issues/4232

[2022-01-03 11:00] #4228 closed, assigned to dmitranoid

[2022-01-03 11:01] gsbelarus commented on #4227
Перенес в отдельную запись:

https://github.com/GoldenSoftwareLtd/gedemin/issues/4232

[2022-01-03 11:01] #4227 closed, assigned to dmitranoid

[2022-01-03 11:45] NikolayUkleyko commented on #2275
@gsbelarus , пожалуйста, закройте тему.

[2022-01-03 12:18] NikolayUkleyko commented on #905
Из не сложных вариантов можно в инспекторе объектов на форме **gdc_acct_dlgAnalysis** очистить значение в реквизите **gdClassName**.
Сейчас выбран бизнес-класс **TgdcField**.

[2022-01-03 12:49] NikolayUkleyko commented on #868
В режиме выбора документов на форме в правом нижнем углу расположены кнопки **Ok**, **Отмена** и **Удалить**.
Необходимо переименовать кнопку **Удалить** в **Исключить**.

[2022-01-03 13:08] NikolayUkleyko commented on #737
Функционал ПИ предусматривает подобную защиту.

[2022-01-03 18:44] dmitranoid commented on #4232
беру в работу

[2022-01-04 12:03] NikolayUkleyko commented on #3177
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-05 12:08] NikolayUkleyko commented on #4122
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-05 13:20] #4122 closed, assigned to MIchaelShoihet

[2022-01-05 13:21] NikolayUkleyko opened #4233 "Бухгалтерия. Конструктор функций. Ширина блока по наименованию"
1. Открываем конструктор функций.
Неполное наименование блока.
![image](https://user-images.githubusercontent.com/11497453/148223933-916caf48-5ab0-4f4a-abad-0d4fe9aaf1c9.png)

2. Кликаем по блоку.
Полное наименование блока.
![image](https://user-images.githubusercontent.com/11497453/148223954-b351261a-4660-47fd-920d-c8762bcdad2c.png)

Пожалуйста, внесите доработку, чтобы ширина блоков была коррект

[2022-01-05 16:15] NikolayUkleyko opened #4234 "Конструктор функций. Свойства параметров. Упорядочить типы данных по возрастанию"
![image](https://user-images.githubusercontent.com/11497453/148250611-f84e63f4-4b6d-4c80-8a75-73454babfb46.png)
Пожалуйста, упорядочите типы данных по возрастанию.
@dmitranoid

[2022-01-11 07:46] NikolayUkleyko commented on #2730
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-12 10:09] NikolayUkleyko opened #4235 "Общие. Мастер установок. Условия. Отображение параметров"
Выполняем следующие действия:
1. **_Использовать условия → Название и колонка условия и т.д. → Шрифт и цвет колонки._**
![image](https://user-images.githubusercontent.com/11497453/149108662-cbb05753-786e-435f-9ea5-269541f9415e.png)

2. Закладка **_Шрифт и цвет, колонки_**
![image](https://user-images.githubusercontent.com/11497453/149121803-d710965f-de12-4ca8-b58e-f4d73839af49.png)

Кнопки выбора

[2022-01-12 10:26] #2730 closed, assigned to gsbelarus

[2022-01-12 10:27] #3177 closed, assigned to gsbelarus

[2022-01-12 14:41] NikolayUkleyko commented on #4188
Доработка выполнена.
Если, вопросов нет, то данную тему можно закрыть.

[2022-01-12 15:04] #4188 closed, assigned to ShlTanya

[2022-01-12 15:37] NikolayUkleyko commented on #4151
@gsbelarus , пожалуйста, подскажите можно ли предусмотреть такую возможность ?

[2022-01-12 16:24] NikolayUkleyko commented on #3920
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-12 16:31] NikolayUkleyko commented on #3843
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-12 16:34] NikolayUkleyko commented on #3836
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-12 16:35] NikolayUkleyko commented on #3915
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-12 16:39] NikolayUkleyko commented on #3548
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:21] NikolayUkleyko commented on #3329
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@alexandra-gsoftware @yoannawx

[2022-01-13 10:21] NikolayUkleyko commented on #3129
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@hirurg-lybitel

[2022-01-13 10:23] NikolayUkleyko commented on #2792
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@ilonaand

[2022-01-13 10:23] NikolayUkleyko commented on #2766
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:24] NikolayUkleyko commented on #2671
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:25] NikolayUkleyko commented on #2667
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:26] NikolayUkleyko commented on #2626
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:26] NikolayUkleyko commented on #2610
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:27] NikolayUkleyko commented on #2575
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:27] NikolayUkleyko commented on #2524
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:28] NikolayUkleyko commented on #2278
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:29] NikolayUkleyko commented on #2277
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:30] NikolayUkleyko commented on #2295
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:30] NikolayUkleyko commented on #2374
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:33] NikolayUkleyko commented on #2402
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:35] NikolayUkleyko commented on #2481
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@ilonaand

[2022-01-13 10:35] NikolayUkleyko commented on #2484
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:35] NikolayUkleyko commented on #2491
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:36] NikolayUkleyko commented on #2498
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:37] NikolayUkleyko commented on #2216
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 10:40] NikolayUkleyko commented on #2089
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@alexandra-gsoftware

[2022-01-13 10:46] NikolayUkleyko commented on #1841
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@ilonaand

[2022-01-13 10:50] NikolayUkleyko commented on #1296
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@yoannawx

[2022-01-13 10:57] NikolayUkleyko commented on #1075
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-13 11:09] NikolayUkleyko opened #4236 "Общие. Мастер установок. Условия. Возможность отдельного хранения в ПИ"
Можно ли предусмотреть возможность отдельного хранения данных в ПИ данных по закладкам в мастере установок:
• Таблица и / или Колонки;
• Условия.

@yoannawx спрашивала про такую возможность.
Выполняет обновление у клиента грида документа в части условий, но с сохранением основных настроек (таблица, колонки).

[2022-01-13 11:29] #3329 closed, assigned to gsbelarus

[2022-01-13 12:34] gsbelarus opened #4237 "При добавлении фильтра в ПИ затягиваются лишние записи"
Например, пользователи системы. При добавлении фильтра, только сам фильтр и должен попасть в ПИ. Больше ничего.

[2022-01-13 15:09] #2667 closed, assigned to gsbelarus

[2022-01-13 15:19] NikolayUkleyko commented on #4237
Смоделировал ситуацию.
Под пользователем Administrator.
С проставленной или снятой галкой по реквизиту **_Включить связанные объекты_**.
Кроме объектов фильтра ничего другого в ПИ не добавилось: TgdcSavedFilter, TgdcComponentFilter.

-----

Под пользователем отличным от Administrator.
С проставленной галкой по реквизиту **_Включить связанные объекты_**.
При добавлении в ПИ под пользователем отличн

[2022-01-13 16:36] NikolayUkleyko commented on #1292
Как вариант выбор банковского счета можно предусмотреть не в диалоговой форме документа, а в параметрах формируемой печатной формы.
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 07:55] ShlTanya commented on #4235
Исправлено. Сортировку колонок не меняли, т.к. отсортировано по отображению колонок на форме (удобно).

[2022-01-14 07:55] yoannawx commented on #4237
фильтр добавлялся в пи новый, только что созданный под администратором, для всех, с галкой "включить связанные объекты", поскольку нет возможности включать только нужные из списка (а именно TgdcComponentFilter).

![image](https://user-images.githubusercontent.com/11497358/149470023-7a3b3eb1-c820-4290-b469-3b89c6d03c6a.png)

![image](https://user-images.githubusercontent.com/11497358/149471151-094e

[2022-01-14 07:57] yoannawx commented on #4237
ехе
![image](https://user-images.githubusercontent.com/11497358/149471786-231f591d-5617-4d77-bc3d-25bc25054016.png)

[2022-01-14 08:24] NikolayUkleyko commented on #4235
Замечательно, @ShlTanya !
Можно ли по выпадающему списку колонок внести некоторые доработки:
1. Сделать окно выбора больше. Много колонок в маленьком окне.
2. Добавить признак, что колонка не отображается. Так сделано в Мастере установок на закладке **_Колонки_** или в форме экспорта данных.
3. Добавить возможность поиска колонок по наименованию.

[2022-01-14 08:58] ShlTanya commented on #4224
исправлено

[2022-01-14 09:02] NikolayUkleyko commented on #4237
Хорошо бы посмотреть конкретный фильтр — **_ЭТТН за период_**.
Пока не могу на тестовую БД установить ПИ **_Электронный документооборот.Атлант_**.

[2022-01-14 09:03] ShlTanya commented on #4235
2. Это же просто список колонок для составления условия. Действительно ли здесь нужен признак, что колонка не отображается? Это все-таки разные понятия.

[2022-01-14 09:11] NikolayUkleyko commented on #4235
Если, есть возможность при минимальных правках как-то выделять неактивные колонки.
То есть, не прямой признак, а выделять цветом.
При настройке условий для грида, например, 10 колонок активные, а другие 50 неактивные.

[2022-01-14 09:19] NikolayUkleyko commented on #4039
@ShlTanya @dmitranoid, хорошо бы предусмотреть такую возможность.

[2022-01-14 09:26] NikolayUkleyko commented on #4225
Актуально, когда по документу настроены проводки и по шапке, и по позиции.

[2022-01-14 09:28] #4097 closed, assigned to yoannawx

[2022-01-14 09:28] #2498 closed, assigned to gsbelarus

[2022-01-14 12:03] gsbelarus commented on #4225
https://github.com/GoldenSoftwareLtd/gedemin-private/pull/40

[2022-01-14 12:03] #4225 closed, assigned to yoannawx, MIchaelShoihet

[2022-01-14 12:18] NikolayUkleyko commented on #581
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 12:24] NikolayUkleyko commented on #1139
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@yoannawx

[2022-01-14 12:25] NikolayUkleyko commented on #1110
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@ilonaand

[2022-01-14 12:28] NikolayUkleyko commented on #1428
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 12:33] NikolayUkleyko commented on #1801
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 12:35] NikolayUkleyko commented on #2637
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 12:36] NikolayUkleyko commented on #2622
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@stasgm @yoannawx

[2022-01-14 12:37] NikolayUkleyko commented on #2584
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 12:37] NikolayUkleyko commented on #2536
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 12:42] #2536 closed, assigned to gsbelarus

[2022-01-14 12:43] NikolayUkleyko commented on #3495
Актуальна ли данная тема ?

[2022-01-14 12:44] NikolayUkleyko commented on #3486
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 12:46] #3486 closed, assigned to gsbelarus

[2022-01-14 12:49] NikolayUkleyko commented on #3442
@ShlTanya , пожалуйста, посмотри пункты:
1, 3 - если, нет противоречий, то сделать;
2 - сделано.

[2022-01-14 12:51] NikolayUkleyko commented on #2939
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@hirurg-lybitel

[2022-01-14 12:56] NikolayUkleyko commented on #3670
Соответствующие ПИ сформированы и загружены в Git.
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@alexandra-gsoftware

[2022-01-14 12:57] NikolayUkleyko commented on #3657
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 12:58] NikolayUkleyko commented on #3857
Актуальна ли данная тема ?

[2022-01-14 13:00] NikolayUkleyko commented on #3828
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@ShlTanya @hirurg-lybitel

[2022-01-14 13:01] NikolayUkleyko commented on #3780
@ShlTanya , пожалуйста, посмотри.

[2022-01-14 13:02] NikolayUkleyko commented on #3885
Актуальна ли данная тема ?

[2022-01-14 13:13] NikolayUkleyko commented on #3927
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@alexandra-gsoftware

[2022-01-14 13:29] NikolayUkleyko commented on #4123
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@alexandra-gsoftware @ShlTanya

[2022-01-14 13:35] NikolayUkleyko commented on #4072
@ShlTanya , пожалуйста, посмотри.

[2022-01-14 13:35] NikolayUkleyko commented on #4090
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 13:39] NikolayUkleyko commented on #4100
@ShlTanya , пожалуйста, посмотри.

[2022-01-14 13:41] NikolayUkleyko commented on #4114
Актуальна ли данная тема ?

[2022-01-14 13:42] NikolayUkleyko commented on #3942
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 13:44] NikolayUkleyko commented on #4164
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 13:46] NikolayUkleyko commented on #4159
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 13:47] NikolayUkleyko commented on #4157
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@sunnycreature @alexandra-gsoftware

[2022-01-14 13:48] NikolayUkleyko commented on #4149
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 13:49] NikolayUkleyko commented on #4145
@ShlTanya , пожалуйста, посмотри.

[2022-01-14 13:49] NikolayUkleyko commented on #4139
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@hirurg-lybitel

[2022-01-14 13:53] NikolayUkleyko commented on #4143
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@alexandra-gsoftware @hirurg-lybitel

[2022-01-14 13:53] NikolayUkleyko commented on #4144
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@hirurg-lybitel @ShlTanya

[2022-01-14 13:56] NikolayUkleyko commented on #4199
@ShlTanya , пожалуйста, посмотри.

[2022-01-14 13:57] NikolayUkleyko commented on #4169
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@yoannawx @ShlTanya

[2022-01-14 13:58] NikolayUkleyko commented on #4167
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.
@hirurg-lybitel @ShlTanya

[2022-01-14 14:00] NikolayUkleyko commented on #4166
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 14:01] NikolayUkleyko commented on #2029
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-14 16:34] hirurg-lybitel commented on #2939
Ну никто пока не жаловался за эти годы.
Будет спрос - поправим отчёт ы немного. Все данные в ПО для этого есть

[2022-01-14 16:37] #4139 closed, assigned to nobody

[2022-01-14 16:39] hirurg-lybitel commented on #4143
актуально вроде всё

[2022-01-17 07:41] NikolayUkleyko commented on #4143
@ShlTanya , пожалуйста, посмотри.

[2022-01-17 08:23] NikolayUkleyko commented on #2102
Для документа **_Доверенность_** предусмотрены различные печатные формы, включающие возможность печати как по ТМЦ из позиции документа, так и в виде бланка для ручного заполнения.

@gsbelarus , пожалуйста, закройте тему.

[2022-01-17 08:24] #2102 closed, assigned to gsbelarus

[2022-01-17 08:32] NikolayUkleyko commented on #4235
@ShlTanya , проверено:
1. Добавление пустого условия — решено.
2. Видимость значений параметров условий при снятой галке с реквизита **_Использовать условия_** — при **закрытии → открытии** Мастера установок значения параметров условий не отображаются.

Все остальные пункты без изменений.

[2022-01-17 08:36] NikolayUkleyko commented on #2090
В стандартных ПИ похожей выгрузки нет.
Алгоритмы выгрузки данных по платежных поручениям усовершенствовались.

@gsbelarus , пожалуйста, закройте тему.

[2022-01-17 09:07] NikolayUkleyko commented on #4224
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :gift:

[2022-01-17 15:22] NikolayUkleyko commented on #3933
@ShlTanya , пожалуйста, подскажи, каково функциональное различие кнопок **_Автоматически (1)_** и **_В виде дерева (2)_**:
![image](https://user-images.githubusercontent.com/11497453/149796188-1e961b73-8123-4e84-ab5e-d6a927f5ab87.png)

[2022-01-17 15:25] NikolayUkleyko commented on #4210
Актуальна ли данная тема ?

[2022-01-17 15:58] NikolayUkleyko commented on #4148
Проверено.
Работает корректно.
@aer1k , пожалуйста, проверь.

[2022-01-17 17:43] #4210 closed, assigned to nobody

[2022-01-17 18:13] #4148 closed, assigned to ShlTanya

[2022-01-18 11:03] NikolayUkleyko opened #4238 "Грид. Добавить форматирование в подножие таблицы"
Пожалуйста, если, возможно, предусмотрите форматирование данных в подножии таблицы:
![image](https://user-images.githubusercontent.com/11497453/149925177-6180296c-65fd-4dfb-9188-e73814cf5bf7.png)
![image](https://user-images.githubusercontent.com/11497453/149924706-2bf940de-f2ad-4bbc-af30-61208ad18a8a.png)

[2022-01-18 11:05] NikolayUkleyko commented on #4237
@yoannawx , подсказала, что вышеприведенные проблемки возникают на рабочей БД при подключенных пользователях.

[2022-01-18 14:08] NikolayUkleyko commented on #4008
В целом данный функционал реализован успешно.
Есть отдельная тема, где обсуждается усовершенствование такого функционала https://github.com/GoldenSoftwareLtd/gedemin/issues/4039.
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-19 11:34] NikolayUkleyko opened #4239 "Бухгалтерия. Переход из выпадающего списка на карту счета с заполнение аналитики "Документ" и других"
Пожалуйста, предусмотрите возможность перехода из выпадающего списка на карту счета с заполнение аналитики **_Документ_**, **_Договор_** и других (где, для аналитики указан домен со ссылкой на **_GD_DOCUMENT_**).
Реализовать это можно на уровне сообщения **_Установить в карте счета текущее значение аналитики — Да/Нет/Отмена_**.
![image](https://user-images.githubusercontent.com/11497453/150121138-

[2022-01-19 14:01] ShlTanya commented on #3933
Есть 2 представления данных в этой форме: в виде таблицы и в виде дерева. Автоматически (по умолчанию) отображает в виде дерева.

[2022-01-19 14:09] ShlTanya commented on #4143
Чтобы точно решить проблему, надо пример и базу.

[2022-01-19 14:13] ShlTanya commented on #4199
Точно ли надо убрать отображение путей файлов? Обсудите данное предложение. Может кому-то так удобно.

[2022-01-19 14:16] ShlTanya commented on #4199
Окно так и называется: Список файлов для загрузки.. Считаю, что в данном случае, неправильно убрать отображение пути файла.

[2022-01-19 14:33] NikolayUkleyko commented on #4199
Путь к файлам указываем в основной форме, выше.
Какой смысл его повторять ?
Таня, можно сделать как опция: по умолчанию без отображения путей к файлам,
иначе, с отображением.

ср, 19 янв. 2022 г., 17:16 ShlTanya ***@***.***>:

[2022-01-19 14:34] NikolayUkleyko commented on #4143
Юрик, пожалуйста, посмотри.
Сформируй БД для наглядности.

ср, 19 янв. 2022 г., 17:09 ShlTanya ***@***.***>:

[2022-01-19 14:59] ShlTanya commented on #4234
Упорядочить по какому признаку.. по наименованию типа данных.. по принадлежности к типам. Дайте, пожалуйста, точный список желаемого.

[2022-01-19 15:01] #4224 closed, assigned to dmitranoid

[2022-01-19 15:03] gsbelarus commented on #4169
"Если пользователь действительно находится в состоянии простоя, то надо решить отображать ли их." -- надо отображать всех подключенных пользователей.

[2022-01-19 15:03] #4149 closed, assigned to MIchaelShoihet, ShlTanya

[2022-01-19 15:08] #4223 closed, assigned to dmitranoid

[2022-01-19 15:10] gsbelarus commented on #4208
@MIchaelShoihet

[2022-01-19 15:16] #4166 closed, assigned to MIchaelShoihet, ShlTanya

[2022-01-19 15:17] #3615 closed, assigned to zholnerovich

[2022-01-19 15:18] #4187 closed, assigned to ShlTanya

[2022-01-19 15:23] #2089 closed, assigned to gsbelarus

[2022-01-19 15:26] gsbelarus commented on #3920
"добавьте это в описание paramwindow, плз."

сделать это и можно закрывать. или кнопку Справка, которая будет вести на страницу wiki  с описанием.

[2022-01-19 15:27] MIchaelShoihet commented on #4208
Оно сейчас так и работает или я чего-то не понимаю?

[2022-01-19 15:28] #4008 closed, assigned to ShlTanya

[2022-01-19 15:28] #4171 closed, assigned to ShlTanya

[2022-01-19 15:31] #3519 closed, assigned to alexandra-gsoftware

[2022-01-19 15:32] #2249 closed, assigned to gsbelarus

[2022-01-19 15:34] #2939 closed, assigned to gsbelarus

[2022-01-19 15:34] #3129 closed, assigned to gsbelarus

[2022-01-19 15:34] #1587 closed, assigned to gsbelarus

[2022-01-19 15:35] #2766 closed, assigned to gsbelarus

[2022-01-19 15:36] #737 closed, assigned to gsbelarus

[2022-01-19 15:38] gsbelarus commented on #3962
@alexandra-gsoftware еще актуально?

[2022-01-19 15:41] #3069 closed, assigned to gsbelarus

[2022-01-20 08:11] NikolayUkleyko commented on #4199
@ShlTanya , да, точно или опционально.

[2022-01-20 08:12] NikolayUkleyko commented on #4234
@ShlTanya , по наименованию типа данных (по алфавиту) по возрастанию.

[2022-01-20 09:27] NikolayUkleyko commented on #3933
@ShlTanya , автоматически выбирается тип отображения данных согласно бизнес-класса соответствующего справочника или, как в Инспекторе объектов значение в параметре **_ViewType_** ?:
![image](https://user-images.githubusercontent.com/11497453/150310755-17c18195-f61f-4e50-80fa-c68aa3c861be.png)

[2022-01-20 09:39] NikolayUkleyko commented on #4208
Пожалуйста, @MIchaelShoihet:
![image](https://user-images.githubusercontent.com/11497453/150312740-5530a960-0103-4f4e-b089-6d835c09a399.png)

[2022-01-20 11:26] #4167 closed, assigned to MIchaelShoihet, hirurg-lybitel, ShlTanya

[2022-01-20 11:27] #4179 closed, assigned to ShlTanya

[2022-01-20 11:28] #4159 closed, assigned to ShlTanya

[2022-01-20 11:33] gsbelarus commented on #734
Закрою пока. Изменение длины потребует перетестирования и перепроверки всего существующего кода. Доберемся до ФБ4 или уже ФБ 5 и будем думать.

[2022-01-20 11:33] #734 closed, assigned to gsbelarus

[2022-01-20 11:33] gsbelarus commented on #714
Уже не актуально.

[2022-01-20 11:33] #714 closed, assigned to gsbelarus

[2022-01-20 11:34] #713 closed, assigned to gsbelarus

[2022-01-20 11:34] #25 closed, assigned to gsbelarus

[2022-01-20 11:35] #581 closed, assigned to gsbelarus

[2022-01-20 11:36] #2295 closed, assigned to gsbelarus

[2022-01-20 11:36] #2357 closed, assigned to gsbelarus

[2022-01-20 11:37] #2622 closed, assigned to gsbelarus

[2022-01-20 11:37] #2291 closed, assigned to gsbelarus

[2022-01-20 11:37] #2061 closed, assigned to gsbelarus

[2022-01-20 11:37] #1801 closed, assigned to gsbelarus

[2022-01-20 11:38] #2943 closed, assigned to gsbelarus

[2022-01-20 11:38] #2792 closed, assigned to gsbelarus

[2022-01-20 11:38] #2671 closed, assigned to gsbelarus

[2022-01-20 11:39] #2626 closed, assigned to gsbelarus

[2022-01-20 11:39] #2575 closed, assigned to gsbelarus

[2022-01-20 11:39] #2524 closed, assigned to gsbelarus

[2022-01-20 11:39] #2491 closed, assigned to gsbelarus

[2022-01-20 11:39] #2484 closed, assigned to gsbelarus

[2022-01-20 11:39] #2278 closed, assigned to gsbelarus

[2022-01-20 11:39] #2277 closed, assigned to gsbelarus

[2022-01-20 11:39] #2216 closed, assigned to gsbelarus

[2022-01-20 11:39] #1110 closed, assigned to gsbelarus

[2022-01-20 11:39] #1840 closed, assigned to gsbelarus

[2022-01-20 11:39] #1841 closed, assigned to gsbelarus

[2022-01-20 11:40] #1380 closed, assigned to gsbelarus

[2022-01-20 11:41] gsbelarus commented on #4046
У нас уже есть отдельная утилита чистки РУИДов.

[2022-01-20 11:41] #4046 closed, assigned to gsbelarus

[2022-01-20 11:44] gsbelarus commented on #3981
Два варианта:

0) оставить как есть
1) предупреждать всегда, если есть отмеченные

[2022-01-20 11:46] gsbelarus commented on #3993
надо так и сделать

[2022-01-20 11:48] #3657 closed, assigned to MIchaelShoihet

[2022-01-20 11:49] #4116 closed, assigned to nobody

[2022-01-20 11:50] #4114 closed, assigned to gsbelarus, MIchaelShoihet, ilonaand

[2022-01-20 11:52] #4144 closed, assigned to ShlTanya

[2022-01-20 11:54] #3548 closed, assigned to gsbelarus

[2022-01-20 13:06] NikolayUkleyko commented on #3981
Вариант с предупреждением хороший.

[2022-01-20 13:48] NikolayUkleyko commented on #4046
На сайте не нашел.

[2022-01-20 15:34] NikolayUkleyko commented on #3442
@ShlTanya , пожалуйста, предусмотри блокировку на ввод текста в параметре **Условие**.
Необходимо предусмотреть только выбор варианта из выпадающего списка:
![image](https://user-images.githubusercontent.com/11497453/150369924-2ff837ff-a2fa-45e5-8204-c5a8eab6e703.png)
![image](https://user-images.githubusercontent.com/11497453/150369947-5380a6fe-f343-4f7a-a0c8-e364055dd419.png)

[2022-01-20 15:39] gsbelarus commented on #3843
Это не правильно, чтобы разнотипные параметры имели одно имя. На момент парсинга текста мы не знаем ничего о типе, а дальше имена заменяются на позиционные параметры. Естественно, что будет ошибка.

[2022-01-20 15:39] #3843 closed, assigned to gsbelarus

[2022-01-20 15:41] gsbelarus commented on #3915
Более понятное сообщение об ошибке надо показывать.

[2022-01-21 13:18] NikolayUkleyko commented on #4238
Возможно раньше подобную доработку обсуждали.
Необходимо посмотреть, чтобы такие доработки не нарушили работоспособность грида в целом.
@ShlTanya

[2022-01-21 13:35] #1292 closed, assigned to gsbelarus

[2022-01-21 13:35] #1159 closed, assigned to gsbelarus

[2022-01-21 13:36] #2275 closed, assigned to gsbelarus

[2022-01-21 13:36] #2222 closed, assigned to gsbelarus

[2022-01-21 13:36] #2090 closed, assigned to gsbelarus

[2022-01-21 13:36] #1371 closed, assigned to gsbelarus

[2022-01-21 13:37] #1050 closed, assigned to gsbelarus

[2022-01-21 13:37] #1016 closed, assigned to gsbelarus

[2022-01-21 13:37] #935 closed, assigned to gsbelarus

[2022-01-21 13:38] #687 closed, assigned to gsbelarus

[2022-01-21 13:38] #2637 closed, assigned to gsbelarus

[2022-01-21 13:39] #211 closed, assigned to gsbelarus

[2022-01-21 14:06] NikolayUkleyko commented on #4146
Актуальна ли данная тема ?

[2022-01-21 14:09] NikolayUkleyko commented on #4063
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 14:13] NikolayUkleyko commented on #3938
Недавно с @yoannawx обсуждали данный вопрос.
Актуально.
@ShlTanya , пожалуйста, посмотри.

[2022-01-21 14:14] NikolayUkleyko commented on #3898
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 14:15] NikolayUkleyko commented on #3897
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 14:16] NikolayUkleyko commented on #3867
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 14:18] NikolayUkleyko commented on #3840
@ShlTanya , пожалуйста, посмотри.

[2022-01-21 14:20] NikolayUkleyko commented on #3830
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 14:21] NikolayUkleyko commented on #3829
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 14:22] NikolayUkleyko commented on #3707
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 14:29] NikolayUkleyko commented on #3606
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 14:32] NikolayUkleyko commented on #3669
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 14:35] #3591 closed, assigned to gsbelarus

[2022-01-21 14:36] NikolayUkleyko commented on #3578
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 14:37] NikolayUkleyko commented on #3572
Коллеги, если, на ваш взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2022-01-21 15:06] NikolayUkleyko commented on #2481
Close.

[2022-01-21 15:14] NikolayUkleyko commented on #2318
Close.

[2022-01-21 15:44] gsbelarus commented on #2481
я имею ввиду поставить метку Close:

![image](https://user-images.githubusercontent.com/5175764/150556302-5eda6504-a17a-4d73-a086-69649d6686d6.png)

[2022-01-23 13:00] ShlTanya commented on #4168
Распишите, пжст, ошибку более подробно. Какое условие задаете. В какой момент времени появляется ошибка. До или после окна с Условиями пользователя.

[2022-01-23 13:02] ShlTanya commented on #4215
Проверьте, есть ли сейчас эта ошибка.

[2022-01-23 13:10] ShlTanya commented on #3949
Проверила сохранение и установку настроек расширенного грида - работает. Можно мне точные настройки грида, при котором появляется ошибка.

[2022-01-23 14:09] gsbelarus commented on #4221
Установить ПИ невозможно без установки ПИ, от которого оно зависит. Тут все логично и правильно. Выбрал 12, вместе с зависимыми 48. Так во всех системах и в этом нет ничего страшного.

[2022-01-23 14:09] #4221 closed, assigned to nobody

[2022-01-23 14:18] gsbelarus commented on #4207
1. Не в onCreate а скорее в LoadSettingsAfterCreate. Был вроде у нас такой метод. После вызова inherited части.
2. При этом надо убрать присваивания в других местах. Например, в Action.OnUpdate.

Эту ситуацию надо задокументировать. Программно вряд ли мы просто решим, потому что такая логика зашита в компоненты делфи.

[2022-01-23 14:19] gsbelarus commented on #4207
@yoannawx @alexandra-gsoftware  обратите внимание! надо поправить на эталоне везде, где есть такие места.

[2022-01-23 14:21] gsbelarus commented on #3993
@ShlTanya гляньте. по идее в одну строчку исправление.

[2022-01-23 14:22] #2274 closed, assigned to gsbelarus

[2022-01-23 14:24] #1830 closed, assigned to gsbelarus

[2022-01-23 14:25] #3885 closed, assigned to MIchaelShoihet

[2022-01-23 14:26] #2562 closed, assigned to gsbelarus

[2022-01-23 14:26] #2481 closed, assigned to gsbelarus

[2022-01-23 14:26] #2151 closed, assigned to gsbelarus

[2022-01-23 14:27] #3197 closed, assigned to gsbelarus

[2022-01-23 14:27] #1712 closed, assigned to gsbelarus

[2022-01-23 14:28] #2477 closed, assigned to gsbelarus

[2022-01-23 14:29] #2486 closed, assigned to gsbelarus

[2022-01-23 14:29] #1924 closed, assigned to gsbelarus

[2022-01-23 14:30] #959 closed, assigned to gsbelarus

[2022-01-23 14:31] #1530 closed, assigned to gsbelarus

[2022-01-23 14:31] #1540 closed, assigned to gsbelarus

[2022-01-23 14:32] #420 closed, assigned to gsbelarus

[2022-01-23 14:32] #2303 closed, assigned to gsbelarus

[2022-01-23 14:34] #2588 closed, assigned to gsbelarus

[2022-01-23 14:36] #3927 closed, assigned to gsbelarus, ShlTanya

[2022-01-23 14:37] #3829 closed, assigned to gsbelarus

[2022-01-23 14:38] #3897 closed, assigned to nobody

[2022-01-23 14:38] #4063 closed, assigned to gsbelarus

[2022-01-23 14:46] gsbelarus commented on #3938
Если делать, то так:

1. Фильтры родителя видны в списке фильтров наследника.
2. Фильтры родителя можно применить к наследнику.
3. При попытке редактировать фильтр родителя из окна наследника выдается сообщение, что этот фильтр создан в окне родителя и менять его можно только там.
4. При включении в ПИ наследника автоматически должны подтягиваться ТОЛЬКО фильтры НАСЛЕДНИКА. Фильтры родителя не дол

[2022-01-23 14:48] gsbelarus commented on #4216
editorkey, creatorkey это просто ссылки на справочник контактов. IP никакой мы туда не впишем. Разве что в запись GD_JOURNAL, при включенном логировании, можно добавлять информацию (если она еще туда не добавляется).

[2022-01-23 14:50] #3957 closed, assigned to ShlTanya

[2022-01-24 08:39] NikolayUkleyko commented on #4221
@gsbelarus , благодарю за ожидаемый ответ.

[2022-01-24 09:55] NikolayUkleyko commented on #4215
Посмотрел в
**_Исследователь → Торговля → 01. Накладная на получение товара → 2-й клик на любом поле с выпадающим списком в шапке документа_**:
![image](https://user-images.githubusercontent.com/11497453/150760562-2a964036-c44e-40bb-89c6-cc10bf7a40f6.png)

[2022-01-24 09:57] NikolayUkleyko commented on #4215
@yoannawx , такая тема тоже интересна.

[2022-01-24 10:01] NikolayUkleyko commented on #3949
Посмотрел в
**_Исследователь → Основные средства → Графики лизинговых платежей → ОС. График лизинговых платежей → Позиция документа → Мастер установок → Закладка "Шаблоны" → Сохранить шаблон_**:
![image](https://user-images.githubusercontent.com/11497453/150761782-847dcadf-555c-4075-8010-99a7e12165d3.png)

[2022-01-24 10:55] NikolayUkleyko commented on #2481
Андрей Петрович, это понятно.
В разделе https://github.com/GoldenSoftwareLtd/gedemin/issues у меня нет прав на работу с тэгами.
Как для своих тем, так и нет.
Поэтому помечаю по техническим возможностям.

[2022-01-24 11:18] NikolayUkleyko commented on #3938
Достаточно хорошие варианты.

[2022-01-24 11:24] NikolayUkleyko commented on #4158
Могу предположить, что указанное время будет приоритетно.

[2022-01-24 11:31] NikolayUkleyko commented on #2055
Посмотрел на Эталонной БД в IBExpert:
![image](https://user-images.githubusercontent.com/11497453/150775352-ff076f51-c953-4138-bf91-e59f03384943.png)

[2022-01-24 11:40] NikolayUkleyko commented on #2912
Close.

[2022-01-24 11:43] #2912 closed, assigned to gsbelarus

[2022-01-24 11:44] #2055 closed, assigned to gsbelarus

[2022-01-24 11:46] NikolayUkleyko commented on #1261
Посмотрел.
Редактор шаблонов можно открыть несколько раз, но ошибки **_...violation_** нет.

[2022-01-24 12:03] NikolayUkleyko commented on #4168
@ShlTanya , пока не могу найти пример с ошибкой.

При сохранении фильтра.

[2022-01-24 12:08] #4158 closed, assigned to nobody

[2022-01-24 12:09] YRozmysl commented on #4056
Если вопрос трудозатратный, то можно и закрывать.

[2022-01-24 12:24] NikolayUkleyko commented on #3836
В ПИ есть отчет для отображения несоответствий полей аналитик в таблицах.
@gsbelarus , пожалуйста, закройте тему.

[2022-01-24 12:25] #3836 closed, assigned to alexandra-gsoftware

[2022-01-24 12:36] NikolayUkleyko commented on #1474
Close.

[2022-01-24 12:38] NikolayUkleyko commented on #1554
Close.

[2022-01-24 12:38] #1918 closed, assigned to gsbelarus

[2022-01-24 12:45] #1554 closed, assigned to gsbelarus

[2022-01-24 12:45] #1474 closed, assigned to gsbelarus

[2022-01-24 13:31] alexandra-gsoftware commented on #2402
Всё это уже сделано

[2022-01-24 13:31] #2402 closed, assigned to gsbelarus

[2022-01-25 05:13] ShlTanya commented on #4168
Данное окно появляется когда введено неверное имя поля. Ошибка вполне читаемая и править ничего не  надо.

[2022-01-25 08:29] NikolayUkleyko commented on #4168
@ShlTanya , хорошо.
Пожалуйста, приведи пример с неправильным и правильным именем поля.

[2022-01-25 11:24] gsbelarus commented on #3993
@hirurg-lybitel проверяй на бета версии экзешника. я поставил по умолчанию встраивать шрифты для PDF экспорта из FR4.

[2022-01-25 11:55] gsbelarus commented on #4215
Сделано. Надо обновить экзешник.

[2022-01-25 11:55] #4215 closed, assigned to gsbelarus

[2022-01-25 12:36] NikolayUkleyko commented on #4215
Проверено.
Работает корректно.
@gsbelarus , спасибо !

[2022-01-25 13:02] gsbelarus commented on #4169
Сделано.

@ShlTanya будьте внимательны. в паскале строки начинаются с 1.

[2022-01-25 13:02] #4169 closed, assigned to ShlTanya

[2022-01-25 15:56] YRozmysl commented on #4160
вопрос утратил актуальность

[2022-01-25 15:56] #4160 closed, assigned to ShlTanya

[2022-01-25 16:36] YRozmysl commented on #4176
Если тема не актуальна, то можно закрывать.

[2022-01-25 16:41] gsbelarus commented on #4176
Дойдем до ФБ4 (хотя думаю уже на пятый сразу будем ориентироваться) тогда и займемся.

[2022-01-25 16:41] #4176 closed, assigned to gsbelarus

[2022-01-26 05:49] ShlTanya commented on #3949
Исправлено

[2022-01-26 09:46] #3949 closed, assigned to ShlTanya

[2022-01-26 10:20] YRozmysl opened #4242 "ЗП. Аналитика сотрудник. Карта счета."
Есть проблема для  скрытия определенным бухгалтерам информации  по зарплате. Как можно программно, или иных методов ограничить доступ к просмотру проводок с аналитикой сотрудник. Если есть возможность, сделать для определенных групп пользователь. Это было бы идеальною. Проблема вполне реальная, а  местами и критичная.

[2022-01-26 10:32] gsbelarus commented on #4242
В принципе, в ac record есть дескрипторы безопасности.

[2022-01-26 10:36] YRozmysl commented on #4242
Как временное решение в плане счетов по сч.70 убрали аналитику сотрудник. Пока, как временное решение такое.

[2022-01-26 13:43] ShlTanya commented on #4168
![image](https://user-images.githubusercontent.com/24572314/151173671-52ed4a7b-a479-4cb1-a07b-e863290106ed.png)Надо проверить условие на корректность.

[2022-01-26 13:44] ShlTanya commented on #4168
Дайте, пжст, свой вариант условия.

[2022-01-26 14:10] ShlTanya commented on #4211
Исправлено

[2022-01-26 14:23] ShlTanya commented on #4170
Было исправлено

[2022-01-26 15:24] ShlTanya commented on #3981
Сделала предупреждение перед открытием формы. Посмотрите, достаточно ли.

[2022-01-26 16:16] #4211 closed, assigned to ShlTanya

[2022-01-26 16:17] #4170 closed, assigned to ShlTanya

[2022-01-26 17:37] ShlTanya commented on #4208
Исправлено. Сейчас при вызове Карты счетов из Журнал-ордера, Главной книги и Оборотной ведомости сразу активна основная таблица. При вызове Журнала хоз. операций из Карты счетов активна проводка.

[2022-01-27 09:05] NikolayUkleyko commented on #4168
@ShlTanya , посмотрю.
Необходимо поискать.

[2022-01-27 09:10] gsbelarus commented on #4191
Надо конкретный четкий пример. Вот документ. Вот сохраняется. Вот именно это не сохранилось.

[2022-01-27 09:31] NikolayUkleyko commented on #4191
@gsbelarus , пожалуйста, связанная тематика https://github.com/GoldenSoftwareLtd/gedemin/issues/3946.
Разработали новый документ (типовой), кнопку проводок, настроили грид проводок, типовые проводки и т.д.
После добавления в ПИ типового документа со связанными объектами следующий результат:

[2022-01-27 09:36] NikolayUkleyko commented on #4211
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-01-27 09:43] NikolayUkleyko commented on #3981
Проверено.
![image](https://user-images.githubusercontent.com/11497453/151332869-3b3187e4-d818-4d46-be38-66f7eac55bff.png)
@ShlTanya , пожалуйста, поправь следующее:

1. Слово **Внимание !** перемести в заголовок окна сообщения.
2. Для позиции документа не работает такая проверка (пример, **_Исследователь → Материальный склад → 01. Накладная на получение материалов, ОС, МБП_**).

[2022-01-27 09:55] gsbelarus commented on #3981
Это окно появляется до открытия самой формы. Поэтому в заголовке должно присутствовать название документа/справочника, к которому относится это окно.

Другое дело что лишняя тут путаница отмеченные/выбранные. У пользователя позникнет вопрос одно ли это и тоже.

[2022-01-27 10:00] NikolayUkleyko commented on #3981
Хорошо.
Тогда, порядок.
Оставляем, как есть.
При работе с документами, справочниками не забываем про отдельное добавление записей из позиции в отмеченные и их отображение.

[2022-01-27 10:06] NikolayUkleyko commented on #3949
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-01-27 10:14] NikolayUkleyko commented on #4208
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-01-27 10:14] #4208 closed, assigned to ShlTanya

[2022-01-27 10:32] ShlTanya commented on #3981
Доделаю. Не закрывайте.

[2022-01-27 10:43] NikolayUkleyko commented on #795
Актуальна ли данная тема ?

[2022-01-27 10:51] gsbelarus commented on #4200
Это только в специальном DEBUG экзешнике появляется. Доделал более информативное сообщение.

[2022-01-27 10:51] #4200 closed, assigned to gsbelarus

[2022-01-27 11:17] gsbelarus commented on #4218
Пустую строку не давать ввести или дальше не пропускать. Если надо именно null вести в БД, то человек должен  набрать null  в строке.

[2022-01-27 11:19] gsbelarus commented on #4219
а что такое "добавляем несуществующую запись"?

[2022-01-27 12:32] #795 closed, assigned to gsbelarus

[2022-01-27 12:37] #4138 closed, assigned to nobody

[2022-01-27 12:43] NikolayUkleyko commented on #4219
То есть, новую запись, которой точно нет в справочнике.

[2022-01-27 13:22] gsbelarus commented on #4081
Это еще актуально?

[2022-01-27 13:44] AliakseiDanilchyk commented on #4081
Да

[2022-01-27 14:23] NikolayUkleyko commented on #1315
Коллеги, пожалуйста, подскажите, актуальна ли данная тема ?

[2022-01-27 14:28] NikolayUkleyko commented on #4234
@gsbelarus , пожалуйста, подскажите один из вариантов:

1. Сортировка по наименованию по возрастанию.
2. Сортировка по типам данных.
3. Не сортировать. Оставить без доработок.

[2022-01-27 16:36] ShlTanya commented on #3981
Доработано

[2022-01-28 10:14] #3981 closed, assigned to ShlTanya

[2022-01-28 10:59] gsbelarus commented on #3772
Надо четко повторяемый пример.

[2022-01-28 11:16] NikolayUkleyko commented on #3981
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-01-28 11:29] NikolayUkleyko commented on #3772
Хорошо.
Попробуем смоделировать пример.

[2022-01-28 11:49] NikolayUkleyko commented on #1859
Посмотрел по документу **_Исследователь → Материальный склад → 04. Отпуск материалов покупателям_**.
Выбрав подразделение и сохраняя типовой документ программа отображает окно с сообщением об ошибке:
![image](https://user-images.githubusercontent.com/11497453/151541969-ebadec71-fd22-4e9d-bf8a-7cbf423f5d83.png)

[2022-01-31 13:59] NikolayUkleyko commented on #4174
@gsbelarus , пожалуйста, подскажите, на что же влияет размер утилиты **gdcc.exe**: сертификация касс и прочее ?

[2022-01-31 14:38] NikolayUkleyko commented on #4204
@gsbelarus , пожалуйста, подскажите, пригоден ли новейший **gedemin.exe** для БД Витебск МК ?

[2022-01-31 14:40] gsbelarus commented on #4204
Это не ко мне. @MIchaelShoihet пусть глянет зачем апгрейд пытается складское движение трогать.

[2022-01-31 15:01] #3905 closed, assigned to gsbelarus

[2022-02-01 06:33] ShlTanya commented on #4238
Выделила жирным шрифтом числа в строке, т.к. подножие таблицы использует установленное форматирование таблицы

[2022-02-01 08:00] gsbelarus commented on #4238
Не надо жирным! Обычно суммы в подножии итак не влазят в ширину колонки, а жирным они станут ещё шире.

Не трогаем этот вопрос и закрываем.

[2022-02-01 10:11] gsbelarus commented on #4238
Т.е. николай хотел только, чтобы числа записей, текущая запись и т.п. выводились с разделителем тысяч.

[2022-02-01 10:28] gsbelarus opened #4243 "Обновлять параметры отчета по мере ввода символов номера счета"
![image](https://user-images.githubusercontent.com/5175764/151951726-748b788d-a9ad-4493-be21-2a5b721321f7.png)

В журнале-ордере, карте-счета, анализе счета есть такая проблемка. Если в поле ввода счета вводит счет с клавиатуры (набором номера), то все зависимые от него поля (например, список признаков аналитического учета) обновятся только после ухода курсора с поля. Это очень неудобно.

Надо сде

[2022-02-01 10:38] NikolayUkleyko commented on #4238
Да, верно.
Форматирование для строки итого предусмотрено давно, а вот для подножия таблицы такого нет:
![image](https://user-images.githubusercontent.com/11497453/151953636-0d55e325-5c1f-41bf-8ba9-7e916e07c0e4.png)

[2022-02-01 10:46] NikolayUkleyko commented on #4243
Давно была выполнена похожая доработка @iamchrisep.
Выбрали вариант: _указали счет → нажали на кнопку **Enter** → перечень аналитики и другие параметры обновились_.

-----

Иногда бывает такое, что вводишь счет, например 10.10 и автоматически подставляется счет 10.10.1.
Счет не должен меняться на похожий (ранее выбранный, который есть в списке).
Раньше такую проблему тоже решали.

[2022-02-01 11:14] NikolayUkleyko opened #4244 "Бухгалтерия. Карта счета, Журнал хоз. операций. Добавить поле ”Дата создания проводки”"
**_Исследователь → Бухгалтерия → Карта счета, Журнал хоз. операций._**

Пожалуйста, подскажите, можно ли добавить поле **Дата создания проводки** (ENTRYCREATIONDATE) с отображением времени ?
Это удобно при анализе проводок по (существующим полям):

- дата документа (DOCUMENTDATE);
- дата изменения документа (EDITIONDATE);
- дата создания проводки (ENTRYCREATIONDATE).

Перепровели проводки по докум

[2022-02-01 12:59] #2610 closed, assigned to gsbelarus

[2022-02-01 13:56] alexandra-gsoftware commented on #2280
Мне кажется, отдельный механизм не нужен. Если осень надо, люди сами руками рисуют форму

[2022-02-01 13:56] #2280 closed, assigned to gsbelarus

[2022-02-01 14:12] alexandra-gsoftware commented on #711
Не могу повторить, видимо, исправили

[2022-02-01 14:12] #711 closed, assigned to gsbelarus

[2022-02-01 14:33] sunnycreature commented on #4157
Проверено. Все работает.

[2022-02-01 14:33] #4157 closed, assigned to ShlTanya

[2022-02-01 17:51] ShlTanya commented on #3442
Доработано пункты 1,3

[2022-02-01 17:52] ShlTanya commented on #4072
Пиктограммы приведены в порядок.

[2022-02-02 05:33] ShlTanya commented on #4039
Доработано: Вариант без наименований. Перетаскивание колонок. Снятие форматирования по всем колонкам. Реализован поиск.

[2022-02-02 10:00] #4051 closed, assigned to MIchaelShoihet

[2022-02-02 12:39] NikolayUkleyko commented on #2848
Сперва, лучше применять предопределенные фильтры и/или поиск при помощи бинокля, а затем выполнять автофильтрацию в гриде с данными.

-----

Функционал поиска при помощи бинокля существенно доработан и он теперь более удобный.

Close.

[2022-02-02 13:39] #547 closed, assigned to gsbelarus

[2022-02-02 14:00] #2848 closed, assigned to gsbelarus

[2022-02-02 14:43] gsbelarus commented on #4244
Пока работаем над 2.9.6. Эта версия не предусматривает изменения структуры БД.

[2022-02-02 14:50] NikolayUkleyko commented on #4244
Хорошо, @gsbelarus.
При этом точно не ясно, не повлияет ли добавление таких полей на работоспособность программы и БД.

[2022-02-02 14:50] #868 closed, assigned to gsbelarus

[2022-02-02 14:51] #834 closed, assigned to gsbelarus

[2022-02-02 14:54] #1543 closed, assigned to gsbelarus

[2022-02-02 14:55] #1428 closed, assigned to gsbelarus

[2022-02-02 14:57] #1341 closed, assigned to gsbelarus

[2022-02-02 14:57] #1296 closed, assigned to gsbelarus

[2022-02-02 14:58] #1233 closed, assigned to gsbelarus

[2022-02-02 15:06] #1139 closed, assigned to gsbelarus

[2022-02-02 15:06] #1075 closed, assigned to gsbelarus

[2022-02-02 15:10] #1074 closed, assigned to gsbelarus

[2022-02-03 07:15] ShlTanya commented on #4132
Проверьте, пжст, точно ли есть данная ошибка. Если есть, приложите скрин с настройками журнал-ордера.

[2022-02-03 09:10] NikolayUkleyko commented on #4132
@ShlTanya , посмотрел.
Ошибка на месте:
![image](https://user-images.githubusercontent.com/11497453/152312847-a35a4462-44bf-4b7f-862c-432ba3bb1c34.png)

Если, указать значение аналитики и пересохранить в конфигурацию, то на редактирование она открывается без ошибок.

[2022-02-03 09:30] NikolayUkleyko commented on #4039
Проверено.
Работает корректно.
@ShlTanya , спасибо !

Тему пока не закрываем, так как посмотрю еще некоторый функционал.

-----

@ShlTanya , пожалуйста, посмотри следующее:

[2022-02-03 09:46] NikolayUkleyko commented on #3442
Проверено.
Работает корректно.
@ShlTanya , спасибо !

-----

При нажатии на кнопку **Все** программа отображает сообщение об ошибке:
![image](https://user-images.githubusercontent.com/11497453/152318636-62b37bdf-4228-4c6c-88af-cb417469036f.png)

[2022-02-03 10:04] NikolayUkleyko commented on #4242
Смоделировал вариант настройки с настройкой прав доступа в таблицах **AC_ENTRY**, **AC_ENTRY_BALANCE** для поля **USR$GS_EMPLOYEE**.
Формирование бухгалтерских форм для пользователей выполняется без ограничений.

[2022-02-03 10:20] NikolayUkleyko commented on #4212
@ShlTanya , пожалуйста, поправь ссылку на справку для Журнала-ордера:
http://gsbelarus.com/gs/wiki/index.php/Журнал-ордер

[2022-02-03 10:23] NikolayUkleyko commented on #4155
@ShlTanya , пожалуйста, добавь кнопку **Справка** и переход на http://gsbelarus.com/gs/wiki/index.php/Объединение_записей.

[2022-02-03 10:44] NikolayUkleyko commented on #4238
По данной теме выполнена доработка **_version 2_**.
Пока не включена в **gedemin.exe**.

[2022-02-03 10:54] #2534 closed, assigned to gsbelarus

[2022-02-04 09:32] #3707 closed, assigned to nobody

[2022-02-04 09:35] alexandra-gsoftware commented on #3962
Всё равно все давно забили

[2022-02-04 09:36] #4035 closed, assigned to MIchaelShoihet, ilonaand

[2022-02-04 11:56] NikolayUkleyko commented on #4146
Close.

[2022-02-04 13:00] NikolayUkleyko commented on #4185
@gsbelarus , пожалуйста, подскажите, актуальна ли данная тема ?

[2022-02-04 13:01] #4185 closed, assigned to ShlTanya

[2022-02-04 13:35] ShlTanya commented on #4162
Исправлено

[2022-02-04 13:52] ShlTanya commented on #4039
Доработано

[2022-02-05 16:43] gsbelarus opened #4245 "Переоткрытия рабочего стола в процессе загрузки списка ПИ"
У пользователя в рабочем столе может быть сохранено десять и более открытых форм.

Если выбрать для загрузки несколько ПИ, то после каждого будет идти переподключение к БД и переоткрытие рабочего стола. Соответственно, каждый раз будут открываться все формы, сохраненные в рабочий стол.

Это неудобно, долго и не нужно.

По идее надо сделать так, чтобы рабочий стол загружался только после того как з

[2022-02-06 10:22] NikolayUkleyko commented on #4245
Да.
Это замечательная идея.
Можно ещё добавить деактивацию всех автозадач на время установки ПИ.

сб, 5 февр. 2022 г., 19:44 Andrej Kirejeŭ ***@***.***>:

[2022-02-08 08:54] NikolayUkleyko commented on #1251
Смоделировал похожую ситуацию.
Бизнес-класс подставляется в настройки грида согласно настроек поля и/или домена.
Можно создавать новые записи.

@gsbelarus , пожалуйста, закройте тему.

[2022-02-08 08:58] NikolayUkleyko commented on #4234
@gsbelarus , пожалуйста, посмотрите.
Необходимо закрыть тему.

[2022-02-08 09:06] NikolayUkleyko commented on #3773
Коллеги, пожалуйста, подскажите, актуальна ли данная тема ?

[2022-02-08 09:15] NikolayUkleyko commented on #1741
В случае изменения стоимости ТМЦ на сумму дополнительных расходов, то их необходимо включать в учетную стоимость ТМЦ.

[2022-02-08 09:16] NikolayUkleyko commented on #1232
Коллеги, пожалуйста, подскажите, актуальна ли данная тема ?

[2022-02-08 09:18] NikolayUkleyko commented on #905
Close.

[2022-02-08 09:19] NikolayUkleyko commented on #732
Close.

[2022-02-08 09:21] NikolayUkleyko commented on #338
После добавления нового типового складского документа необходимо закрыть → открыть программу.
Вариант с переподключением к БД не рассматривается.

Close.

[2022-02-08 12:15] NikolayUkleyko commented on #1948
Close.

[2022-02-08 13:04] NikolayUkleyko opened #4246 "Общие. Домены. Визуальные настройки"
**_Исследователь → Сервис → Атрибуты → Домены._**
![image](https://user-images.githubusercontent.com/11497453/152991566-a9824ced-6f32-4a9b-9767-f7028dec3ce3.png)

Достаточно интересный функционал.
Есть вопросы по его работе.

Смоделировал различные ситуации.
При указании значений параметров и обновлении всех полей изменений нет.

Только выравнивание работает, но специфически.
Указал выравнивание.

[2022-02-08 14:50] NikolayUkleyko commented on #1741
Close.

[2022-02-08 17:10] #905 closed, assigned to gsbelarus

[2022-02-08 17:11] #732 closed, assigned to gsbelarus

[2022-02-08 17:12] #1741 closed, assigned to gsbelarus

[2022-02-09 07:02] gsbelarus commented on #4246
это не трогаем.

[2022-02-09 07:04] gsbelarus commented on #4246
выравнивание сохраняется в настройках грида и берется только оттуда. отсюда оно возьмется только если это какой то грид без настроек, и только при первом его отображении.

[2022-02-09 07:04] #4246 closed, assigned to nobody

[2022-02-09 07:04] #1948 closed, assigned to gsbelarus

[2022-02-09 07:04] #338 closed, assigned to gsbelarus

[2022-02-09 08:52] NikolayUkleyko commented on #4246
Хорошо, @gsbelarus.
Интересная тема со своими особенностями.

[2022-02-09 09:05] NikolayUkleyko commented on #3780
Если, позже будет возможность, пожалуйста, предусмотрите более наглядный и удобный выбор бизнес-классов для **доменов** и для **полей таблиц**.

[2022-02-09 09:26] YRozmysl opened #4247 "Скопировать РУИД"
Очень удобная ф-ция скопировать id записи. Если возможно,  аналогичное скопировать руид, было очень удобно.
![Безымянный](https://user-images.githubusercontent.com/11507129/153165531-e7882493-9129-4650-9478-a5b61179d825.jpg)

[2022-02-09 13:51] NikolayUkleyko commented on #4247
Это здорово.
Пожалуйста, здесь же предусмотрите единое расположение такой команды.
В некоторых контекстных меню опция расположена по разному:
![image](https://user-images.githubusercontent.com/11497453/153213874-1362cc51-6fd8-450d-955b-ce064294a49d.png)

Предусмотрите отдельное подменю и всегда в нем отображайте такую команду.

[2022-02-09 13:53] NikolayUkleyko commented on #3776
Close.

[2022-02-09 14:10] #3776 closed, assigned to gsbelarus

[2022-02-09 16:40] ShlTanya commented on #3442
Пересмотрела форму. Что сделано:
1. Задание 4040 - Простые деревья отображаются в виде дерева.
2. Для интервального дерева была несогласованность вида между доступными и выбранными данными. Деревья отображались по-разному. Привела к виду выбранных данных (и данных, которые отображаются при поиске).
3. Добавлен перенос данных по нажатию на кнопку Пробел.
4. Добавлены кнопки полного раскрытия и закр

[2022-02-10 10:02] NikolayUkleyko commented on #3442
@ShlTanya , большое спасибо !
Проверяю.

[2022-02-10 10:04] NikolayUkleyko commented on #4040
@gsbelarus , пожалуйста, закройте данную тему.
Она перенесена сюда https://github.com/GoldenSoftwareLtd/gedemin/issues/3442.

[2022-02-10 10:24] NikolayUkleyko commented on #4039
@ShlTanya , спасибо !
Проверяю.
Замечательные доработки.

[2022-02-10 10:32] NikolayUkleyko commented on #4072
Рассматриваемая тема перенесена сюда https://github.com/GoldenSoftwareLtd/gedemin/issues/3442.

[2022-02-10 10:32] #4072 closed, assigned to ShlTanya

[2022-02-10 17:44] ShlTanya commented on #4218
Доработано

[2022-02-10 17:48] ShlTanya commented on #3881
Чтобы выполнить задание, надо знать список связанных параметров. Буду благодарна за предоставление данной информации.

[2022-02-10 18:26] ShlTanya commented on #1859
Исправлено

[2022-02-11 09:21] NikolayUkleyko commented on #1859
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

-----

По данной теме дополнительных доработок не было.
Просто устранена ошибка.

[2022-02-11 09:34] NikolayUkleyko commented on #1859
Close.

[2022-02-11 09:39] NikolayUkleyko commented on #3881
Параметры делаем неактивными при следующих сочетаниях:

1. В случае выбора галки по реквизиту **_Осуществлять контроль остатков_** доступными становятся два реквизита **_Контроль только на текущие остатки_** и **_Контроль остатков на конец месяца_**.
При этом, можно выбрать только один из них.

2. Для типовых документов категории **Документ с изменением свойств ТМЦ** (например, 04. Отпуск материал

[2022-02-11 13:12] yoannawx opened #4248 "Проблема загрузки из ПИ параметра хранилища типа D"
Создали в хранилище параметр:
![image](https://user-images.githubusercontent.com/11497358/153597100-4593921b-63c0-47f7-a936-db00c96fc8ad.png)
и добавили в ПИ.
![image](https://user-images.githubusercontent.com/11497358/153597347-32a38c95-1054-4a54-873a-25c362bba89a.png)
[test.zip](https://github.com/GoldenSoftwareLtd/gedemin/files/8048849/test.zip)

При установке ПИ на другую базу ошибка:
![image]

[2022-02-11 16:02] #1859 closed, assigned to gsbelarus

[2022-02-11 16:36] ShlTanya commented on #1315
Уточните, пожалуйста, кнопку доложить на форму Свойства объекта?

[2022-02-11 16:44] ShlTanya commented on #3881
п. 2 Какое поведение данного реквизита для других категорий?

[2022-02-11 16:56] ShlTanya commented on #4243
Параметры обновляются по нажатию кнопки Ввод. Надо делать по вводу значений?

[2022-02-11 17:10] gsbelarus commented on #4243
да. так удобнее будет.

[2022-02-15 10:50] NikolayUkleyko commented on #3881
Статус реквизита **_Движение без поиска остатков_** не зависит от реквизитов **_Контроль только на текущие остатки_** и **_Контроль остатков на конец месяца_**.

[2022-02-15 12:47] NikolayUkleyko commented on #4218
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-02-15 12:47] #4218 closed, assigned to ShlTanya

[2022-02-15 14:30] #4040 closed, assigned to dmitranoid, ShlTanya

[2022-02-16 12:36] NikolayUkleyko opened #4249 "Бухгалтерия. Журнал хоз. операций. Добавить поля ”Типовая проводка”, ”Наименование документа”."
**_Исследователь → Бухгалтерия → Журнал хоз. операций._**

Пожалуйста, добавьте следующие поля:

- Типовая проводка (TRRECORDNAME);
- Наименование документа (DOCUMENTNAME).

[2022-02-16 13:27] NikolayUkleyko opened #4250 "Бухгалтерия. Журнал хоз. операций. Добавить сообщение при дублировании нескольких выделенных записей"
**_Исследователь → Бухгалтерия → Журнал хоз. операций._**

Сейчас при редактировании нескольких выделенных записей программа отображает соответствующее сообщение:
![image](https://user-images.githubusercontent.com/11497453/154273553-4ba38cc2-80e6-4b0c-b6c7-83414a365316.png)

Пожалуйста, предусмотрите такое сообщение и для режима дублирования записей.
Только формулировку немного поправьте:
**Множес

[2022-02-16 13:43] NikolayUkleyko commented on #3442
Проверено.
Работает корректно.
@ShlTanya , спасибо !

По пункту **3** необходимо убрать автоматический переход на верхний уровень при поиске по записи.
Пример, таблица AC_ACCOUNT.
На таблице GD_CONTACT такого нет.

[2022-02-16 13:53] NikolayUkleyko commented on #4162
Проверено.
@ShlTanya , спасибо !
Работает по другому.
Теперь без кавычек аналогичное сообщение.

[2022-02-16 14:40] NikolayUkleyko opened #4251 "Бухгалтерия. Журнал-ордер. Очищается поле "Конфигурация" при активном реквизите "Запрашивать значение" (Q)"
**_Исследователь → Бухгалтерия → Журнал-ордер._**

1. Редактируем конфигурацию.
2. По одной из аналитик проставляем галку по реквизиту **Запрашивать значение**. Сохраняем конфигурацию.
3. Из Исследователя запускаем конфигурацию на формирование. В результате в реквизите **Конфигурация** не выбрана текущая конфигурация.

Пожалуйста, посмотрите, можно ли в данной ситуации корректно заполнять реквизит

[2022-02-16 15:00] NikolayUkleyko commented on #4219
По данному вопросу можно предполагать один из вариантов:

1. Выполнить приведенные доработки.
2. Не выполнять доработок и знать про кнопку **Tab** и **ручной клик мышкой** применительно к выпадающим спискам. Тогда рассматриваемую тему можно закрывать.

[2022-02-16 15:09] alexandra-gsoftware commented on #3578
Мне кажется, это уже поправили

[2022-02-16 15:09] #3578 closed, assigned to gsbelarus

[2022-02-16 15:11] NikolayUkleyko commented on #743
Коллеги, пожалуйста, подскажите, актуальна ли данная тема ?

[2022-02-16 15:12] alexandra-gsoftware commented on #1877
Сейчас можно подключать датаметы из формы, плюс есть пи для копирования полей и данных, тч неактуально

[2022-02-16 15:12] #1877 closed, assigned to gsbelarus

[2022-02-16 15:31] NikolayUkleyko commented on #1804
Коллеги, пожалуйста, подскажите, актуальна ли данная тема ?

[2022-02-16 15:32] NikolayUkleyko commented on #1251
Close.

[2022-02-16 15:45] alexandra-gsoftware commented on #2374
Неактуально

[2022-02-16 15:45] #2374 closed, assigned to gsbelarus

[2022-02-16 15:47] alexandra-gsoftware commented on #4198
Тогда уж любую завистмость проверять, а не только инклюды.

Но отчеты есть, тч вроде не проблема🤔

[2022-02-16 15:51] NikolayUkleyko commented on #4198
Все верно, Александра.

Какие варианты ?
:smiley:

[2022-02-17 05:48] #1251 closed, assigned to gsbelarus

[2022-02-17 05:48] #1804 closed, assigned to gsbelarus

[2022-02-17 05:56] #743 closed, assigned to gsbelarus

[2022-02-17 05:59] gsbelarus commented on #4250
лучше просто писать что не поддерживается и на этом все. никакого
редактирования последней записи. и объединения тоже. т.к. лишняя
возможность пользователю сделать что то не так.

ср, 16 лют 2022, 16:28 карыстальнік NikolayUkleyko ***@***.***>
напісаў:

[2022-02-17 09:33] NikolayUkleyko commented on #4250
Замечательно !
Так еще проще. :+1:

Тогда, сообщение будет следующим:
**Множественное дублирование записей не поддерживается.**

[2022-02-18 09:32] NikolayUkleyko commented on #2584
Подобный вопрос был с БД Витебск МК.
На офисе подключаешься к такой БД и ошибка.
Илона поправила и такой ошибки нет.

Коллеги, пожалуйста, подскажите, актуальна ли данная тема ?

[2022-02-18 09:35] NikolayUkleyko commented on #3701
Актуальный вопрос.
Помимо выполнения SQL-запроса, можно рассматривать ситуацию при выполнении расчета, формировании отчета и т.д.

[2022-02-20 19:32] #2584 closed, assigned to gsbelarus

[2022-02-21 15:26] NikolayUkleyko commented on #3992
На Волковыск МК (торговля) тема актуальна.
Можно предположить расчет общих итогов, суммируя данные по счетам и вычитая суммы по счетам с проставленной галкой по реквизиту **Запись отключена** (DISABLED).

@MIchaelShoihet , пожалуйста, подскажите, возможен ли такой вариант ?

[2022-02-21 18:04] ShlTanya commented on #4162
Так работает верно или нет?

[2022-02-22 09:16] gsbelarus commented on #4243
Немного не так. Я проверил с последними изменениями. Например, выбран счет 51 и для него отображается аналитика. Я хочу счет 62. Я в поле счета начинаю удалять символы бэкспейсом. Удаляю 1 и у меня остается 5. И аналитика меняется. А не должна, потому что нет счета "5".

Логика такая, если в поле введен номер счета который есть в справочнике, то мы меняем список аналитик, показываем там аналитики

[2022-02-22 09:32] gsbelarus commented on #4243
заодно сразу просьба поправить:

![image](https://user-images.githubusercontent.com/5175764/155103585-842fe645-3654-4049-ba3d-476a8b019338.png)

Увеличить в два раза высоту списка 1.
Слева и справ группы кнопок 2 промежутки сделать одинаковыми.

[2022-02-22 09:33] NikolayUkleyko commented on #4243
@gsbelarus , это замечательно !
Как будет работать такой функционал, если указать 2-а и более счета через запятую (с пробелами и без) ?

[2022-02-22 09:36] gsbelarus commented on #4243
так же как сейчас должен работать

[2022-02-22 09:43] gsbelarus commented on #4243
по мере ввода, смотрим если в строке есть запятые, разбиваем такую строку на составляющие, из них оставляем те, которые представляют собой правильные номера счетов и для них строим список аналитик. как он сейчас строится я не знаю. теоретически это должно быть пересечение аналитических признаков счетов в списке.

т.е. "62,51" -- берем аналитики 62-го и 51-го счетов
"62,5" -- берем аналитики 62-го

[2022-02-22 09:56] NikolayUkleyko commented on #4162
При такой настройке программа отображает сообщение об ошибке:
![image](https://user-images.githubusercontent.com/11497453/155107469-44bc9ddd-ff2b-4759-90b6-708af4a5fd1d.png)
![image](https://user-images.githubusercontent.com/11497453/155107488-1ebafc7b-c618-44b4-9005-b58d975b92ab.png)

Если, заполнить параметры следующим образом, то ошибок нет:
![image](https://user-images.githubusercontent.com/11

[2022-02-22 10:02] gsbelarus commented on #4162
![image](https://user-images.githubusercontent.com/5175764/155109125-ca0d03cf-373b-4145-8496-460191ea54a9.png)

ошибка осталась

[2022-02-22 10:04] gsbelarus commented on #4162
так как пользователь выбирает значение, как оно формируется и потом подставляется -- не должно кидать ошибок. с кавычками или без не важно. если пользователь выбрал аналитику и подставился руид в кавычках -- дальше программа не должна кидать ошибку. если приняли, что подставляем без кавычек, то дальше программа не должна кидать ошибок.

изначальная проблема в том, что одна кнопка программы формиру

[2022-02-22 10:05] gsbelarus commented on #4162
и заодно поправить выравнивание меток, а то они в разнобой идут:

![image](https://user-images.githubusercontent.com/5175764/155109715-b8bb05b2-5bc4-46f9-91f8-5f05d292adad.png)

[2022-02-22 10:06] gsbelarus commented on #4162
и тут кнопки убежали

![image](https://user-images.githubusercontent.com/5175764/155109850-39e43a77-ea1b-4288-bd9a-56aa13c5d94f.png)

[2022-02-22 10:07] gsbelarus commented on #4162
и еще важно, чтобы старый код продолжил работать без изменений. а то вы поправите сейчас с кавычек на безкавычек и старый код весь начнет кидать ошибки. будет катастрофа.

[2022-02-22 15:51] NikolayUkleyko commented on #4213
Есть краткий материал, в котором затрагивается данная тема http://gedemin.blogspot.com/2016/11/gdmnn-1.html.

-----

При появлении нового предполагаемого клиента очень вероятно, что бухгалтера будут спрашивать про такой очевидный функционал.

[2022-02-23 12:48] NikolayUkleyko commented on #3442
Дополнительно к существующему вопросу.
@ShlTanya , пожалуйста, предусмотри возможность отображения количества выбранных записей.

[2022-02-24 16:07] NikolayUkleyko commented on #3799
@ShlTanya , пожалуйста, посмотри.

[2022-02-24 16:14] NikolayUkleyko commented on #3956
@ShlTanya , пожалуйста, посмотри.

[2022-02-24 16:44] NikolayUkleyko commented on #4168
@ShlTanya , пожалуйста, посмотри следующее.

Сообщение об ошибке выводится при настройке фильтров для **форм остатков**.
При настройке фильтров для **документов** сообщения об ошибке нет.

Пример,
**Исследователь → Материальный склад → Отчеты по складу → Остатки по материалам и МБП.**
Можно посмотреть форму остатков для любого складского документа.

В настройках фильтра указываем следующее:

1. За

[2022-02-25 13:17] ShlTanya commented on #4162
Формы исправлены. Алгоритм обработки фильтра согласован с Михаилом Юрьевичем.

[2022-02-25 14:11] ShlTanya commented on #4243
Выполнено

[2022-02-28 08:32] NikolayUkleyko commented on #4243
Проверено.
@ShlTanya , спасибо !

@ShlTanya , пожалуйста, попробуй указать счет 10.01.
Получается, вводим 10 и при этом автоматически выделяются символы 10.
Далее необходимо указать точку и для этого мышкой кликаем в правой части.
После простановки точки автоматически подставляется похожий счет, который до этого уже был выбран.

@ShlTanya , пожалуйста, внеси правки, для удобного ввода счетов в ЖО

[2022-02-28 14:52] NikolayUkleyko commented on #4162
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-02-28 14:52] #4162 closed, assigned to dmitranoid, ShlTanya

[2022-03-01 04:23] ShlTanya commented on #4243
Т.к. это Combobox, который содержит список из ранее выбранных счетов, то при вводе символов, будет подставляться значение из списка. Изменить стандартное поведение компонента нет возможности.

[2022-03-01 05:43] ShlTanya commented on #4132
Исправлено. Ошибка возникала при отмеченной аналитики и не заполненном поле.

[2022-03-01 09:16] NikolayUkleyko opened #4252 "Общие. Свойства объекта. Добавить вызов по клавише ”F11”"
Если, не противоречит функционалу, пожалуйста, предусмотрите вызов свойств любого объекта по нажатию на клавишу **F11**.
Такое предусмотрено для выпадающего списка:

- http://gsbelarus.com/gs/wiki/index.php/Как_узнать_RUID_объекта%3F;
- http://gsbelarus.com/gs/wiki/index.php/Выпадающий_список.

[2022-03-01 11:45] gsbelarus commented on #4243
немного прихожу в отчаяние. т.к. написано одно, а сделано немного другое ((

выше:
`
Удаляю 1 и у меня остается 5. И аналитика меняется. А не должна, потому что нет счета "5".`

Т.е. по мере ввода, если в строке получился существующий номер счета, то обновляем списки аналитики значениями, которые соответствуют этому номеру счета.

ЕСЛИ ЖЕ, в процессе ввода строка не соответствует номеру счета суще

[2022-03-01 11:59] ShlTanya commented on #4243
В таком случае будет несоответствие между введённым счетом и аналитикой.. а если пользователь остановился на вводе. Вот например .. вы ввели счет 15 - отобразилась его аналитика.. стерли 5.. на экране мы видим (в вашем варианте) счет 1 и аналитика от 15. Именно поэтому я и делала обновление посимвольно.

[2022-03-01 12:02] NikolayUkleyko commented on #4243
Посмотрел.
Выявлено следующее.
Хорошо бы в новой версии **gedemin.exe** с текущей доработкой (Issue № 4243) делать _очистку списка до этого выбранных счетов_.
Можно вручную:
![image](https://user-images.githubusercontent.com/11497453/156165145-2d2030eb-822a-4aec-8805-3dc15440d4c2.png)

1. _Ctrl + Alt + E → поле **Счета**_.
2. _Items → TStrings_.
3. _Ctrl + A → Delete_.

Тогда, ввод счетов и автома

[2022-03-01 12:05] NikolayUkleyko commented on #4132
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-03-01 12:05] #4132 closed, assigned to ShlTanya

[2022-03-01 12:57] MIchaelShoihet commented on #4243
Тогда нет смысла в комбобоксе... оставить простой edit и все... Но иногда очень удобно просто мышкой выбрать, по которому ты обычно строишь журнал или карту... Надо  посмотреть какие есть варианты... Эта подстановка работает как-то странно, иногда не успеваешь набрать символ, она уже подставили, а иногда ничего не подставляет...

[2022-03-01 13:07] NikolayUkleyko commented on #4243
Да, так и есть.
Нет какого-то единого алгоритма.
Например, указываешь счет 10, а тут уже подставляется 10.01.

Как вариант, можно выполнить очистку записей в поле **Счета** (_Items → TStrings_).

[2022-03-01 13:22] NikolayUkleyko commented on #4232
Проверено.
Работает корректно.
@dmitranoid , спасибо !

По возможности посмотрите следующее:
1. При нажатии на кнопку добавления записей в группу и хорошо бы для удобства выбора 2-х и более записей предусмотреть **CheckBox**. Так реализовано при редактировании группы и выборе записей.
2. При удалении записи из группы немного поправить сообщение:
    **_Сама запись удалена не будет → Запись останет

[2022-03-01 16:22] gsbelarus commented on #4243
`на экране мы видим (в вашем варианте) счет 1`

в том то и дело, что счета "1" нет в плане счетов. Там есть счет "01". Это разные вещи. номера счетов это строки, а не числа. Перерисовка на каждое нажатие клавиши, как сейчас не нужна. Будет отвлекать и раздражать пользователя.

[2022-03-01 16:29] gsbelarus commented on #4243
`Как вариант, можно выполнить очистку записей в поле Счета (Items → TStrings).`

в чем тогда смысл списка последних счетов?

у меня работает нормально. в смысле подставляет по нажатию стрелки вниз, что и является поведением по умолчанию для выпадающего списка.

[2022-03-02 04:59] ShlTanya commented on #4243
Исправила

[2022-03-04 13:08] ShlTanya commented on #4192
Выполнены доработки

[2022-03-04 13:39] NikolayUkleyko opened #4253 "Бухгалтерия. Карта счета. Добавить сообщение при редактировании нескольких выделенных записей"
**_Исследователь → Бухгалтерия → Карта счета._**

Пожалуйста, предусмотрите сообщение при редактировании нескольких выделенных записей:
**Множественное редактирование записей не поддерживается.**

[2022-03-09 11:21] NikolayUkleyko commented on #4192
Проверено.
Работает корректно.
@ShlTanya , спасибо !

Пожалуйста, поправь следующее:

1. Переименовать всплывающую подсказку: _Журнал документов → Перейти в журнал документов_.
2. В контекстное меню добавить команду **Перейти в журнал документов**.
3. Для вышеприведенных пунктов предусмотреть горячие клавиши **Ctrl + J**.
4. При фильтрации данных при помощи **бинокля** и/или **автофильтра** предус

[2022-03-09 17:38] ShlTanya commented on #4194
Выполнено

[2022-03-09 17:38] ShlTanya commented on #4192
Доработано

[2022-03-10 08:58] NikolayUkleyko commented on #4192
Проверено.
Работает корректно.
Все пункты реализованы, кроме пункта 4.
Я так понимаю, что это затрагивает другие объекты платформы и усложняет реализацию.
Поэтому, доработку можно считать сделанной.
@ShlTanya ?

[2022-03-10 09:04] NikolayUkleyko commented on #4194
Проверено.
Работает корректно.
@ShlTanya , спасибо !

Можно ли предусмотреть такой функционал и для формы карточки (карточка по ТМЦ, карточка по холдингу...), открывающейся при переходе из любого складского документа и / или формы остатков ?

[2022-03-10 15:34] ShlTanya commented on #4194
Доработано

[2022-03-10 15:38] NikolayUkleyko opened #4254 "Общие. Бухгалтерия. Предусмотреть стандартный реквизит ”Не формировать проводки”"
Может есть смысл предусмотреть реквизит **Не формировать проводки (NOENTRY)** (тип **DBOOLEAN**) на уровне платформы.
Чтобы не добавлять его на каждой базе данных вручную и т.д.

[2022-03-10 15:48] NikolayUkleyko opened #4255 "Бухгалтерия. Оборотная ведомость. Переход на журнал-ордер. Уточнение по аналитикам"
**Исследователь → Бухгалтерия → Оборотная ведомость.**

1. При попытке перехода по счету, у которого не выбраны аналитические признаки на экране появляется следующее сообщение:
![image](https://user-images.githubusercontent.com/11497453/157698040-0ad799b3-be2f-489e-99f3-89dcb8d2e8ff.png)

Может быть в такой ситуации предусмотреть переход на журнал-ордер с выбранной аналитикой **Счета и субсчета**

[2022-03-11 05:51] ShlTanya commented on #4168
Данная ошибка возникает когда запрос содержит подзапрос(ы). В данном случае я могу только выдать предупреждение, что запрос содержит подзапросы. Проверить правильность введенного условия/фильтра невозможно.

[2022-03-11 06:10] gsbelarus commented on #4168
да. так и сделайте.

пт, 11 сак 2022, 08:51 карыстальнік ShlTanya ***@***.***>
напісаў:

[2022-03-11 07:09] ShlTanya commented on #4168
Выполнено

[2022-03-11 07:10] ShlTanya commented on #3456
Дайте мне, пожалуйста, точный пример использования данной и функции.

[2022-03-11 10:34] NikolayUkleyko commented on #4194
Проверено.
Работает корректно.
@ShlTanya , спасибо !

Пожалуйста, посмотри следующее:

1. В контекстное меню добавить команду **Перейти в журнал документов**.
2. При переходе на журнал документов на некоторых документах (например, _**01. Накладная на получение материалов, ОС, МБП**_) небольшое зависание.
То есть, форма журнала документов не модальная, а курсор по документам не переходит.

[2022-03-11 10:37] NikolayUkleyko opened #4256 "Бухгалтерия. Автоматические хоз. операции. Предусмотреть индикатор выполнения расчета"
_**Исследователь → Бухгалтерия → Автоматические хоз. операции.**_

Пожалуйста, предусмотрите индикатор при выполнении расчета.
Это не прогресс-бар и т.д.

[2022-03-11 10:39] NikolayUkleyko commented on #4192
По пункту 4 предусмотреть такой функционал нельзя.
Хорошо.
В целом доработка работает корректно.
Закрываем тему.
@ShlTanya , благодарю !

[2022-03-11 10:39] #4192 closed, assigned to ShlTanya

[2022-03-11 10:44] NikolayUkleyko opened #4257 "Общие. Бухгалтерия. Команда 'Перейти на проводку' и горячие клавиши"
Пожалуйста, предусмотрите для команды **_Перейти на проводку_** горячие клавиши **Ctrl + E**.

[2022-03-11 12:19] NikolayUkleyko opened #4258 "Бухгалтерия. Журнал-ордер. Ошибка при формировании с количественными показателями"
**Исследователь → Бухгалтерия → Журнал-ордер.**

1. При формировании формы с выбранными реквизитами **Расшифровка по дебету**, **Расшифровка по кредиту** на экране появляется окно с сообщение об ошибке:
![image](https://user-images.githubusercontent.com/11497453/157865368-34138257-16b1-4d3f-9d8f-859637fd4a09.png)

2. Поправьте сохранение значения по реквизиту **Корреспонденция с субсчетами**, когд

[2022-03-12 08:21] MIchaelShoihet opened #4259 "Процедура AC_L_Q для построения журнала-ордера"
Параметр ENTRYKEY DMASTERKEY - нот нулл... Но в запросе может передаться entrykey null в этом случает получаем ошибку... Надо измененить на DFOREIGNKEY. И проверить другие процедуры ...

[2022-03-14 06:16] ShlTanya commented on #4186
Исправлено

[2022-03-14 11:21] NikolayUkleyko commented on #4186
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

Пожалуйста, подскажи, что было неправильно ?

[2022-03-15 04:56] ShlTanya commented on #4239
1. Переход на карт-счет и выбор значения реализован в самом компоненте LookupComboBox, который знает только свои данные (например, только документ). Установить другие значения аналитик на форме карт-счета не вижу возможности. Есть ли смысл устанавливать в качестве аналитики уже ранее выбранное значение?
2. По подтверждению выбора не увидела проблем. При нажатии Да - идет заполнение поля аналитики

[2022-03-15 04:59] ShlTanya commented on #3975
Уточните, как вызывается данное окно.

[2022-03-15 05:05] NikolayUkleyko commented on #3975
Ctrl + Alt + M → кликаем мышкой по гриду позиции документа → Column editors.

вт, 15 мар. 2022 г., 8:00 ShlTanya ***@***.***>:

[2022-03-15 08:42] NikolayUkleyko commented on #4239
С @ShlTanya уточнили возникшие вопросы.
Закрываем тему.

[2022-03-15 08:42] #4239 closed, assigned to ShlTanya

[2022-03-15 08:43] #4186 closed, assigned to MIchaelShoihet, ShlTanya

[2022-03-15 14:11] NikolayUkleyko commented on #3992
На основании сформированных данных по форме с выбранным реквизитом **Включать субсчета в главный** в отчетах (_Оборотная ведомость (вертикальная), Оборотная ведомость (горизонтальная)_) итоги отображаются правильно.
@ShlTanya , пожалуйста, посмотри.

[2022-03-17 09:17] yoannawx opened #4260 "Проблема при выборе обязательных параметров для отчета или функции"
Если параметр для построения отчета или выполнения функции является обязательным для заполнения, но не заполнен пользователем, выдается предупреждение:
![image](https://user-images.githubusercontent.com/11497358/158776877-6766f4ba-4481-46d4-b5a6-b7e6c7454ea6.png)
После нажатия ОК в данном окне продолжить работу с вводом параметров невозможно. Только если нажать Esc и вызвать отчет (функцию) еще ра

[2022-03-17 13:09] NikolayUkleyko opened #4261 "Общие. Типовые документы. Нумерация. Возможность указания символов с учетом длины номера"
Пожалуйста, предусмотрите возможность указания произвольных символов вначале номера с учетом длины номера.
То есть, автоматическое добавление нулей вначале.
![image](https://user-images.githubusercontent.com/11497453/158815005-419ac8e1-f233-4b5e-a843-6291fd0bdddf.png)

[2022-03-18 12:31] ShlTanya commented on #3992
Решить данную проблему методами компонента Grid не вижу возможности. Надо понимать, что внизу отображается просто сумма значений.

[2022-03-18 12:32] NikolayUkleyko commented on #3992
То есть, выполняется суммирование значений ячеек по вертикали.
@ShlTanya , так ли ?

[2022-03-18 12:34] ShlTanya commented on #3992
да

[2022-03-18 12:51] NikolayUkleyko opened #4262 "Общие. Ошибка при поиске в базе данных с выбранной опцией "Поиск по ИД или RUID""
1. _Типовые документы → 01. Накладная на получение материалов, ОС, МБП → Свойства → копируем ID или RUID_.
![image](https://user-images.githubusercontent.com/11497453/159005343-cb56f550-1bb4-47b7-808b-68faea489d15.png)
![image](https://user-images.githubusercontent.com/11497453/159005377-73ae9f07-ec34-4725-a1c8-cdcc5a6007df.png)

-----

2. _Редактор скрипт-объектов → Поиск в базе данных → Выбрать

[2022-03-18 12:57] NikolayUkleyko commented on #3992
@ShlTanya , понятно.
Пожалуйста, подскажи, вариант, где из общих итогов исключаются (не учитываются) суммы по счетам с выбранным реквизитом **Запись отключена (DISABLED)** нельзя реализовать ?

[2022-03-21 08:53] NikolayUkleyko commented on #4258
Текущая тема рассматривается здесь https://github.com/GoldenSoftwareLtd/gedemin/issues/4259.

[2022-03-21 08:53] #4258 closed, assigned to nobody

[2022-03-23 06:33] ShlTanya commented on #4151
Доработано

[2022-03-23 07:25] ShlTanya commented on #4262
Данная функция используется для поиска функций по их Id. Данная ошибка в показанном примере верная.

[2022-03-23 11:44] NikolayUkleyko commented on #4262
Поиск функций по RUID выполняется правильно.
Поиск функций по ID не совсем получается.

Может есть смысл переименовать опцию **_Поиск по ИД или RUID_** → **_Поиск функции по ID или RUID_**.
@ShlTanya ?

[2022-03-25 10:39] NikolayUkleyko commented on #4151
Проверено.
Не работает.

[2022-03-31 06:23] ShlTanya commented on #4151
Что именно не работает

[2022-03-31 07:10] ShlTanya commented on #4262
Поиск работает и по Id и по RUID корректно. Смену названия опции обсудите.

[2022-03-31 07:31] gsbelarus commented on #4262
я бы поменял, чтобы не возникало вопросов. даже так:

*Поиск функции по её ID или RUID*

On Thu, Mar 31, 2022 at 10:10 AM ShlTanya ***@***.***> wrote:

[2022-03-31 08:11] ShlTanya commented on #4194
1. Выполнено.
2. Такое поведение, когда из самой формы вызывается карта счетов.. а из нее уже Журнал документов для такого же типа.

[2022-03-31 08:20] gsbelarus opened #4263 "Обязательные поля не дают ввести параметры SMTP сервера"
Столкнулись с тем, что невозможно организовать отсылку почты встроенными средствами Гедымина из-за того, что требуется заполнение в учетной записи всех полей. В то время как через объект CDO.Message из макроса отсылку можно провести с этой же учетной записи со следующими параметрами:

[2022-03-31 08:21] ShlTanya commented on #4262
Исправлено

[2022-03-31 08:22] NikolayUkleyko commented on #4151
В конструкторе функций пробую выполнить поиск с регулярными выражениями
функции MatInv_GetVatType:
mat%type.
Не работает.

чт, 31 мар. 2022 г., 9:23 ShlTanya ***@***.***>:

[2022-03-31 08:26] gsbelarus commented on #4151
% это не регулярные выражения.

http://gsbelarus.com/gs/wiki/index.php/%D0%A0%D0%B5%D0%B3%D1%83%D0%BB%D1%8F%D1%80%D0%BD%D1%8B%D0%B5_%D0%B2%D1%8B%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F

On Thu, Mar 31, 2022 at 11:22 AM NikolayUkleyko ***@***.***>
wrote:

[2022-03-31 09:44] ShlTanya commented on #4260
Исправлено

[2022-03-31 11:05] NikolayUkleyko commented on #4151
Хорошо.
Пожалуйста, просто предусмотрите подобный поиск:
![image](https://user-images.githubusercontent.com/11497453/161041309-c2903e87-90e3-4e5f-9332-077a70244883.png)

[2022-03-31 11:15] NikolayUkleyko commented on #4259
@ShlTanya , пожалуйста, подскажи, есть ли новости по данной теме ?
На Гомельобоях поставили gedemin.exe предыдущей версии, в которой корректно работает такой функционал.

[2022-03-31 11:27] ShlTanya commented on #4151
А регулярные выражения уже убрать?

[2022-03-31 11:34] NikolayUkleyko commented on #3763
@ShlTanya , пожалуйста, хотя бы такое предусмотри.

[2022-03-31 11:37] NikolayUkleyko commented on #4151
Как выяснилось, можно убрать.

[2022-03-31 11:43] ShlTanya commented on #4151
знак % используется в поиске в запросе с Like.. построение этой формы построено по-другому принципу. Точно ли надо переделывать весь алгоритм формирования.

[2022-03-31 11:45] gsbelarus commented on #4151
не надо

On Thu, Mar 31, 2022 at 2:43 PM ShlTanya ***@***.***> wrote:

[2022-03-31 11:46] gsbelarus commented on #4151
там поддерживаются регулярные выражения которые в сотни раз мощней простых
шаблонов SQL

On Thu, Mar 31, 2022 at 2:44 PM AK ***@***.***> wrote:

[2022-03-31 11:47] gsbelarus commented on #4151
конкретно этот пример:

mat%type

соответствует регулярное выражение:

mat.*type

[2022-03-31 14:15] NikolayUkleyko commented on #4232
По данной теме были выполнены доработки.
Выше изложены предложения.
Внесите правки или закройте тему.

[2022-03-31 14:16] NikolayUkleyko commented on #4216
Внесите правки или закройте тему.

[2022-03-31 14:17] NikolayUkleyko commented on #3881
Внесите правки или закройте тему.

[2022-03-31 14:18] NikolayUkleyko commented on #3442
По данной теме были выполнены доработки.
Выше изложены предложения.
Внесите правки или закройте тему.

[2022-03-31 14:18] NikolayUkleyko commented on #4238
Внесите правки или закройте тему.

[2022-04-01 08:25] ShlTanya commented on #3442
Добавлено количество выбранных записей

[2022-04-01 08:32] NikolayUkleyko commented on #3442
Пример, таблица AC_ACCOUNT.
На таблице GD_CONTACT такого нет._

@ShlTanya , как быть с таким ?

[2022-04-01 08:49] ShlTanya commented on #3442
Я немного не понимаю.. про переход на верхний уровень при поиске записи. Можно точнее алгоритм действий узнать.

[2022-04-01 09:02] NikolayUkleyko commented on #3442
Пример,
_Исследователь → Материальный склад → Отчеты по складу → Оборотная ведомость (счета и субсчета, цена учета)._

1. Параметр **Счета**. В строке поиска (Наименование) указываем счет **"10."** и нажимаем кнопку **Поиск**.
2. При помощи пробела выбираем необходимые счета. При выборе мышкой работает корректно.
3. Курсор не остается на выбранной записи, а автоматические переходит на самый верхни

[2022-04-01 09:26] ShlTanya commented on #3442
Открыла выбор из множества по счетам. Указала поиск. Из доступных записей делаю выбор (и двойным щелчком мыши и кнопкой Пробел). Курсор остается на выбранной записи в окне Доступные записи.

[2022-04-01 11:15] NikolayUkleyko commented on #3442
Пока данный вопрос неактуален.
@ShlTanya , большое спасибо !

[2022-04-01 11:59] ShlTanya commented on #3975
Сейчас данное окно (при редактировании колонок грида из редактора форм) выглядит так:
![Снимок](https://user-images.githubusercontent.com/24572314/161258981-aa57f2de-54e7-4365-a0bb-83d8c1191c89.JPG)

[2022-04-01 12:12] ShlTanya commented on #3881
п.2.
1. Документ с изменением свойств ТМЦ - это документ с выставленными признаками Разрешить изменять признаки сущ. карточки и/или Разрешить добавлять признаки сущ. карточки?
2. Не нашла реквизит Движение без поиска остатков.

[2022-04-01 12:45] NikolayUkleyko commented on #3975
@ShlTanya , пожалуйста, обрати внимание на две похожие команды и их свойства.
В ColumnEditors можно выполнить настройки look-up, в Columns — нет.
При этом в ColumnEditors и в Columns разное количество записей.
То есть, это не одно и тоже.
![image](https://user-images.githubusercontent.com/11497453/161264577-01764a3e-e228-4b95-b182-fdc07971b802.png)
![image](https://user-images.githubusercontent.co

[2022-04-01 12:52] NikolayUkleyko commented on #3881
1. Нет. Это указанное значение реквизита **Шаблон документа**. Потом, его нельзя менять.
![image](https://user-images.githubusercontent.com/11497453/161266818-c13c69ea-9c57-4fb2-aa2b-71adb0370f10.png)
2. Достаточно снять галку с реквизита **Осуществлять контроль остатков** и реквизит **Движение без поиска остатков** отобразится.

[2022-04-01 12:57] NikolayUkleyko commented on #4256
Можно даже из таких картинок:
![image](https://user-images.githubusercontent.com/11497453/161267877-915a4cda-ecc9-426f-85c9-4b8ef97e6a01.png)

При выполнении расчетов бухгалтера часто спрашивают не зависла ли программа.

[2022-04-01 13:00] MIchaelShoihet commented on #3881
Если Осуществлять контроль остатков стоит - то доступны галки Контроль только на текущие остатки и Контроль остатков на конец месяца. При этом они обе могут быть не установлены, а установлена может быть только одна. Осуществлять контроль остатков не стоит - эти 2 галки не доступны должны быть.
Остальное не важно.

[2022-04-01 13:01] ShlTanya commented on #3881
Спасибо

[2022-04-01 13:03] NikolayUkleyko commented on #4254
Как вариант, решение на уровне ПИ, через добавление в **GD_DOCUMENT** соответствующего поля ?

[2022-04-01 13:05] NikolayUkleyko commented on #4199
@ShlTanya , по данной теме вносим доработки или закрываем ее.

[2022-04-01 13:06] MIchaelShoihet commented on #4256
Вряд-ли в общем случает это возможно... Это же обычный макрос, просто с интерфейсом для облегченного создания...

[2022-04-01 13:08] ShlTanya commented on #4199
Закрываем. Убирать отображение файлов в данном случае неправильно.

[2022-04-01 13:08] NikolayUkleyko commented on #4256
Хотя бы просто часики или подобное.
Не прогресс-бар и прочее.

[2022-04-01 13:13] NikolayUkleyko commented on #3799
@ShlTanya , пожалуйста, хотя бы это

Как вариант, через сочетание клавиш Ctrl + F._

можно реализовать ?

[2022-04-01 13:13] gsbelarus commented on #4256
а у нас когда отчет строится есть же окно с летающими листиками. его и
использовать.

On Fri, Apr 1, 2022 at 4:09 PM NikolayUkleyko ***@***.***>
wrote:

[2022-04-01 13:20] NikolayUkleyko commented on #4256
Да, это отличный вариант.
Еще есть вариант пиктограммки **Часики+SQL**, отображающейся при формировании бухгалтерских форм (Журнал-ордер, Карта счета и т.д.).

[2022-04-01 13:23] NikolayUkleyko commented on #4199
@ShlTanya , это понятно.
Пожалуйста, что, ты, думаешь, про следующее:

[2022-04-01 13:27] NikolayUkleyko commented on #3956
@ShlTanya , пожалуйста, посмотри здесь.

[2022-04-01 13:30] NikolayUkleyko commented on #4252
@ShlTanya , небольшая правка.

[2022-04-03 11:15] #4168 closed, assigned to ShlTanya

[2022-04-03 11:20] #4262 closed, assigned to ShlTanya

[2022-04-03 11:21] #4260 closed, assigned to dmitranoid, ShlTanya

[2022-04-03 11:21] gsbelarus commented on #4263
@yoannawx должна проверить

[2022-04-03 11:23] #3442 closed, assigned to gsbelarus

[2022-04-04 08:29] NikolayUkleyko commented on #4262
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-04-04 12:17] NikolayUkleyko commented on #4168
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-04-05 10:39] NikolayUkleyko commented on #4194
Проверено.
1 — в контекстном меню необходимо поправить наименование (как сделано в карте счета) _Журнал документов → Перейти в журнал документов_.
2 — необходимо уточнение.
Смоделировал переход из карты счета в журнал документов **_01. Накладная на получение материалов, ОС, МБП_** — зависаний нет.

[2022-04-06 13:45] NikolayUkleyko commented on #3933
@ShlTanya , пожалуйста, подскажи и тему закроем.

[2022-04-11 06:28] MIchaelShoihet opened #4264 "Редактирование сотрудника"
При редактировании сотрудника новым exe вызывается окно редактирования физ.лица. Редактирование напрямую делается из раздела Подразделения в ветки справочники. Добавление идет окно Добавление сотрудника. Сохраняешь и на редактирование вызывается окно редактирования физ.лица.

[2022-04-11 07:12] MIchaelShoihet opened #4265 "Параметр Множество ссылок"
В старом exe выбрано 841 подразделение... В новом при изменении данного параметра выдается ошибка. В старом все работает нормально... Желательно что бы записи отображались только те, которые попадают под условие, сейчас если я установил ограничение на подразделение то отображается еще и сама организация и папка в которую она входит, и я так подозреваю, что скорость вывода списка из-за этого стала

[2022-04-11 08:47] gsbelarus commented on #4265
Запрос надо погонять в окне SQL редактора или в IBExpert. Посмотреть план. Нет ли там NATURAL scan. Если будут вопросы с оптимизацией запроса, можно сюда писать -- будем искать варианты.

[2022-04-11 10:00] gsbelarus commented on #4259
Поправлено на новейшем экзешнике.

Но, надо на базе выполнить:
[code]
и еще раз подключиться чтобы прошел апдейт.

[2022-04-11 10:06] gsbelarus commented on #4259
хорошо бы увеличить номер версии, чтобы у всех прошел апгрейд. но не хотим сейчас бро трогать. в будущий апгрейд (любой) можно перенести обновление хранимых процедур из  procedure Modify_StoredProc_ID64(IBDB: TIBDatabase; Log: TModifyLog);

[2022-04-11 12:37] gsbelarus commented on #4264
сделано

[2022-04-11 12:37] #4264 closed, assigned to gsbelarus

[2022-04-12 14:44] NikolayUkleyko opened #4266 "Бухгалтерия. Переход на новый месяц. Доработки"
_**Исследователь → Бухгалтерия → Переход на новый месяц.**_

Предлагаемые доработки существующего функционала:

1. **Не формировать обратные проводки** для проводок отраженных с датой < даты перехода на новый месяц.
2. При попытке добавления, изменения и удаления проводок с датой < даты перехода на новый месяц **выводить следующее сообщение**:
[code]

Далее, нажатие на кнопку Ok и выход.

[2022-04-15 08:37] MIchaelShoihet opened #4267 "Ошибка в Типовой проводке"
При формировании типовой проводки есть скрипт инициализации. Сейчас код который там написан в окончательный скрипт не попадает.
Желательно что бы этот код попадал в самое начало скрипта.
Окно инициализации
![изображение](https://user-images.githubusercontent.com/11498750/163547149-6f201ec3-d668-40b9-b211-fa5559716001.png)
Скрипт
![изображение](https://user-images.githubusercontent.com/11498750/163

[2022-04-16 13:08] MIchaelShoihet opened #4268 "Автоматические операции. Таблица AC_AUTOENTRY"
При выполнении автоматической операции в таблицу AC_AUTOENTRY вносятся данные и по дебету созаданной проводки и по кредиту. На самом деле достаточно одной записи, потому что удаление затем идет по documentkey который и в дебете и кредите один и тот же. Плюс не надо заполнять данные по дебете и кредиту... Нам данная таблица нужна только для того что бы перед повторным выполнением автоматической опе

[2022-04-16 13:47] MIchaelShoihet commented on #4268
Да и если стоит галка не удалять записи предыдущих расчетов, то и добавлять в эту таблицу ничего не надо.

[2022-04-16 15:56] MIchaelShoihet commented on #4268
Я сам это сделаю. Сразу протестирую

[2022-04-17 07:51] MIchaelShoihet opened #4269 "Окно подключенных пользователей"
![изображение](https://user-images.githubusercontent.com/11498750/163705640-1a8327ba-987e-4e86-809f-1e4d92fcb602.png)
При попытке сортировки по последней колонке выдается ошибка
![изображение](https://user-images.githubusercontent.com/11498750/163705663-0740be41-54ec-4cac-83ff-5e2a01fc86b7.png)
Что бы не листать весь список, хочется видеть сразу самую старую транзанкцию...

[2022-04-17 08:58] #4238 closed, assigned to ShlTanya

[2022-04-18 08:32] NikolayUkleyko commented on #4238
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-04-18 11:57] ShlTanya commented on #4269
Исправлено

[2022-04-18 12:32] ShlTanya commented on #4267
Исправлено

[2022-04-18 14:47] NikolayUkleyko commented on #4039
Проверено.
Работает корректно.
@ShlTanya , спасибо ! :trophy:

[2022-04-18 14:47] #4039 closed, assigned to ShlTanya

[2022-04-18 15:13] NikolayUkleyko commented on #4196
Проверено.
Работает корректно.
@gsbelarus , спасибо !

[2022-04-18 15:13] #4196 closed, assigned to dmitranoid

[2022-04-18 15:37] NikolayUkleyko opened #4270 "Общие. Мастер установок. Хранение формата колонки при неактивном параметре"
_**Мастер установок → Колонки → Свойства колонки → Формат.**_

Указали вариант формата, **сняли → установили** галку на реквизите **Формат**, вариант формата не сохранен.
Пожалуйста, предусмотрите хранение указанного варианта формата:
![image](https://user-images.githubusercontent.com/11497453/163832697-32b84b0f-3552-4f29-abf9-ecca55a00a07.png)

[2022-04-18 17:26] #4146 closed, assigned to nobody

[2022-04-18 17:26] alexandra-gsoftware commented on #4146
Раз уже не актуально, закрываю

[2022-04-20 14:00] #4268 closed, assigned to MIchaelShoihet

[2022-04-20 14:08] MIchaelShoihet opened #4271 "Ввод счета в ЖО, карта-счета"
Такая тема уже была. Сейчас при вводе счета сразу идет поиск и настройка доступных аналитик, что приводит к паузе после ввода каждого символа, из-за чего срабатывает стандартная функциональность ComboBox который пытается найти и подставить счет из списка, что представляет большое неудобство. На данный момент я бы отказался от поиска и настройки и оставил, как было раньше ввели счет ушли с этого по

[2022-04-20 14:17] NikolayUkleyko commented on #4271
Пожалуйста, исходная тема https://github.com/GoldenSoftwareLtd/gedemin/issues/4243.

[2022-04-20 14:21] gsbelarus commented on #4243
Переоткрываю. Похоже надо вернуть в исходное состояние.

[2022-04-20 14:42] NikolayUkleyko commented on #4271
Это еще более ранняя тема https://github.com/GoldenSoftwareLtd/gedemin/issues/3766 по рассматриваемой доработке.

[2022-04-21 11:08] NikolayUkleyko commented on #4259
Проверено.
Работает корректно.
Спасибо !

[2022-04-27 08:59] NikolayUkleyko commented on #4230
Посмотрел на актуальном **gedemin.exe** — правок для данной темы нет.
Наверное это неактуально. :man_shrugging:

[2022-04-27 14:42] alexandra-gsoftware commented on #3572
Вроде исправлено это

[2022-04-27 14:42] #3572 closed, assigned to gsbelarus

[2022-04-27 14:55] #2029 closed, assigned to gsbelarus

[2022-04-27 16:01] alexandra-gsoftware commented on #3784
Надо кому-нибудь?

[2022-04-27 16:02] alexandra-gsoftware commented on #3788
Будем делать?

[2022-04-28 09:04] MIchaelShoihet commented on #3784
На самом деле проводка и есть такой документ. На другие случае имеет смысл создавать специализированные документы... Я думаю не надо что-то еще...

[2022-04-28 09:05] MIchaelShoihet commented on #3788
Думаю нет

[2022-04-28 10:55] NikolayUkleyko commented on #3788
Тогда, пожалуйста, закрывайте тему.

[2022-04-28 10:58] NikolayUkleyko commented on #3784
Если, достаточно существующего функционала и нет необходимости в новом дополнительном функционале, тогда, пожалуйста, закрывайте тему.

[2022-04-28 11:40] #3784 closed, assigned to MIchaelShoihet

[2022-04-29 15:14] NikolayUkleyko commented on #4267
@MIchaelShoihet , пожалуйста, здесь посмотрите, верно ли.

[2022-05-13 13:35] gsbelarus opened #4272 "присвоение asinteger строковому параметру"
Обнаружилась проблема на ВБПФ.
Не знаю был это баг или фича, но на старых экзешниках такой запрос для отчетов выполнялся и выдавал данные:

[code]

В поле TAXID с доменом DTEXT20 передаем параметр с типом INT.
На новом exe запрос после выполнения пустой (q.EoF = True).

[2022-05-16 13:25] NikolayUkleyko commented on #4195
При разработке документов часто ли применяются следующие поля из таблицы GD_DOCUMENT:
- SUMNCU;
- SUMCURR;
- SUMEQ;
- USR$EQRATE.

По хорошему имеет смысл добавлять отдельные поля (USR$) с доменом DCURRENCY.
Может есть смысл убрать вышеприведенные поля ?

[2022-05-18 14:27] gsbelarus opened #4273 "Можно зациклить ветку в исследователе"
В окошке редактирования элемента исследователя можно выбрать в поле **Входит в папку** вышележащий по дереву элемент и зациклить ветвь:

![image](https://user-images.githubusercontent.com/5175764/169065292-1c94c503-6431-498a-b61e-ead8e61acc91.png)

Надо проверку добавить.

[2022-05-18 14:31] gsbelarus commented on #4273
В справочнике товарных групп, к примеру, такая проверка есть.

[2022-05-26 08:42] NikolayUkleyko commented on #4252
Пожалуйста, хотя бы такую небольшую доработку реализуйте.

[2022-05-30 15:43] NikolayUkleyko commented on #4222
@dmitranoid, @ShlTanya , пожалуйста, подскажите, есть ли новости ?

[2022-06-16 11:36] NikolayUkleyko commented on #4271
Возможно пользователи забыли про такой функционал.
Я подключался на рабочую БД ВПБФ — в ЖО в параметрах счета скачут.

[2022-06-16 11:38] NikolayUkleyko commented on #4265
_> На базе с большим количеством контактов работать почти не возможно..._

Возможно пользователи забыли про такой функционал.

[2022-06-16 11:45] MIchaelShoihet commented on #4265
Исправлено. Заодно отчет оптимизирован

[2022-06-16 11:45] #4265 closed, assigned to ShlTanya

[2022-06-16 12:14] NikolayUkleyko opened #4274 "Бухгалтерия. Ахо. Неверно работает параметр "Не удалять результаты предыдущих расчетов""
**Исследователь → Бухгалтерия → Автоматические хоз. операции.**

Выполняем исходный расчет по Ахо с выбранным параметром **Не удалять результаты предыдущих расчетов** — пустой результат.
Последующий запуск Ахо за аналогичный период также приводит к пустому результату.

Выполняем исходный расчет по Ахо без выбранного параметра **Не удалять результаты предыдущих расчетов** — результат с данными.
Пос

[2022-06-16 12:21] NikolayUkleyko commented on #4265
@MIchaelShoihet , пожалуйста, уточните — правки в актуальном .exe (http://gsbelarus.com/pw/downloads/gedemin-beta/gedemin-noid64/) ?

[2022-06-16 12:25] MIchaelShoihet commented on #4274
Проблема не в этом. Проблема в том что скрипт финализации формируется только один раз и потом не перфомировывается (так это скрипт и в него могут быть внесены изменения) а в нем сейчас сохранилась старая строка для отображения проводок
usrg_gdcAcctEntryRegister1.ExtraConditions.Add("z.delayed = 1 AND r.id IN (SELECT entrykey FROM ac_autoentry WHERE trrecordkey = :trrecordkey)"), которая предполага

[2022-06-16 12:58] NikolayUkleyko commented on #4274
Да, теперь работает верно.
@MIchaelShoihet , большое спасибо !

[2022-06-16 12:58] #4274 closed, assigned to nobody

[2022-07-13 09:17] YRozmysl opened #4275 "ПИ. Отключать галочки с остановками при ошибке во время загрузки ПИ"
При установке ПИ на базу СлМК не устанавливается Пи  Зарплата-Данные, причем нет ошибок, а rollback, Что это может быть и с чем связано?
На других базах ничего такого не наблюдается с этим ПИ, устанавливается.

![data](https://user-images.githubusercontent.com/11507129/178697961-88bb18b6-46c1-4206-a1e8-310c31390a68.jpg)

[2022-07-13 09:22] gsbelarus commented on #4275
похоже есть ошибка, но она гасится. надо через делфи сделать. и посмотреть. @MIchaelShoihet

[2022-07-13 15:28] YRozmysl commented on #4275
разобрались, на этой базе в опциях не стояла галка в параметрах, а грузились данные и был перекрыт метод, потому и подавлялась ошибка.

![ошибка](https://user-images.githubusercontent.com/11507129/178772096-d10d272d-b1b9-479a-a15e-466db8548c7f.jpg)

[2022-07-13 19:28] gsbelarus commented on #4275
Имеет смысл подумать надо ли эти параметры применять при загрузке ПИ. Я думаю, что нет. У нас же внутри вроде есть глобальный флаг, что мы в процессе загрузки?

[2022-07-14 07:59] NikolayUkleyko commented on #4252
Часто просматриваю свойства объектов.
@gsbelarus , пожалуйста, предусмотрите такую возможность.

[2022-07-19 11:24] NikolayUkleyko opened #4276 "Общие. В таблицу MON$DATABASE добавить поле с датой создания архива базы данных"
В таблице MON$DATABASE предусмотрено поле MON$CREATION_DATE, отображающее дату и время восстановления из архива файла базы данных.
@gsbelarus , пожалуйста, подскажите, можно ли предусмотреть поле, например, MON$BACKUP_DATE, отображающее дату и время формирования архива файла базы данных ?
Смотрел и такой информации не нашел.
Возможно такая информация хранится в других таблицах ?

[2022-08-02 09:19] NikolayUkleyko commented on #4194
Проверено.
1 — не поправлено.
2 — зависание есть.

[2022-08-02 09:25] NikolayUkleyko commented on #4151
Проверено.
Работает.
Спасибо.

[2022-08-02 09:25] #4151 closed, assigned to ShlTanya

[2022-08-03 09:34] YRozmysl opened #4277 "Склонение ФИО"
В FastReport4 есть ф-ция GETFIOCASE (фамилия, имя, отчество, пол, падеж) и в случае, когда у человека нет отчества кидается ошибка.  На самом деле есть случаи, когда по паспорту нет отчества. Реально ли доработать эту ф-цию?

[2022-08-03 10:53] gsbelarus commented on #4277
да. сегодня сделаю.

ср, 3 жні 2022, 11:34 карыстальнік Yury Rozmysl ***@***.***>
напісаў:

[2022-08-03 15:14] #3956 closed, assigned to nobody

[2022-08-03 15:19] #4242 closed, assigned to nobody

[2022-08-03 15:22] #4276 closed, assigned to gsbelarus

[2022-08-03 15:28] #3799 closed, assigned to nobody

[2022-08-03 21:14] gsbelarus commented on #4277
проверить на новейшем экзешнике.

[2022-08-03 21:18] gsbelarus commented on #4276
Все таблицы мониторинга тут описаны. Мы туда не можем вмешаться.

https://firebirdsql.org/file/documentation/chunk/en/refdocs/fblangref30/fblangref30-appx05-montables.html

[2022-08-03 21:32] YRozmysl commented on #4277
теперь всегда отчество обрубается, есть оно или нет. А надо если есть, то как и было, а если отчества нет, то склонять имя и фамилия.
[GETFIOCASE(<LINE."EMPLF">,<LINE."EMPLI">,<LINE."EMPLO">,<LINE."EMPLSEX">,3)] <LINE."EMPLO"> может быть пустым

[2022-08-03 21:47] gsbelarus commented on #4277
а теперь?

[2022-08-03 21:58] YRozmysl commented on #4277
теперь все ок

[2022-08-03 21:58] #4277 closed, assigned to gsbelarus

[2022-08-04 10:08] #4216 closed, assigned to gsbelarus

[2022-08-04 10:08] #4145 closed, assigned to ShlTanya

[2022-08-04 10:48] gsbelarus commented on #3763
@NikolayUkleyko проверяй

[2022-08-04 12:21] NikolayUkleyko commented on #3763
Проверено.
Работает корректно.
@gsbelarus , большое спасибо !

[2022-08-04 12:21] #3763 closed, assigned to gsbelarus

[2022-08-04 12:51] #4056 closed, assigned to gsbelarus

[2022-08-05 08:43] NikolayUkleyko commented on #3763
Данные на всех закладках отлично масштабированы.
При возможности можно увеличить окно с запросом на закладке **Запрос**:
![image](https://user-images.githubusercontent.com/11497453/183040316-30ffa3c0-92fc-4689-9d22-f8d4404e8c1b.png)

[2022-08-05 09:50] YRozmysl opened #4278 "GDCC. Доработки по фильтрации данных"
Если во вкладке **Просмотр** выбрать **Лог**, то в поле **источник** можно сделать выбор и отфильтровать, либо воспользоваться **Фильтром**. Однако, если выбрать **Профайлер**, то фильтр не работает и **Источник**.

1.Лог

![11111](https://user-images.githubusercontent.com/11507129/183051927-407a1ffb-020e-4362-9b5f-c33226a487b6.jpg)

2. Профайлер

![profiler](https://user-images.githubusercontent.

[2022-08-07 08:39] gsbelarus commented on #4278
Да, это не доделка. Дойдут руки -- сделаем.

[2022-08-08 07:49] NikolayUkleyko commented on #4252
Проверено.
Работает корректно.
@gsbelarus , большое спасибо !

[2022-08-08 07:57] NikolayUkleyko commented on #4222
Проверено.
Если, в наименовании встречаются пробелы и другие символы, то каждое слово переносится на новую строку:
![image](https://user-images.githubusercontent.com/11497453/183368414-8fffa5f6-fe75-47a8-8d65-f2bd22fdc0fd.png)

Не все ПИ названы по единому стандарту без пробелов с нижним подчеркиванием.
Как вариант, можно ориентироваться на дату изменения файла ПИ для переноса на новую строку.

[2022-08-08 08:09] NikolayUkleyko commented on #4199
Уточним:

Путь указывается в основной форме синхронизации ПИ.
Сейчас для каждого файла в целом повторяется путь к папке с ПИ.
Необходимо предусмотреть наглядное отображение только выбранных ПИ.

Хорошо бы отображать перечень выбранных ПИ отсортированными по возрастанию.
Может быть здесь есть идея отображения ПИ в порядке их выбора.

При работе с набором ПИ это очень актуально.

[2022-08-08 14:43] NikolayUkleyko commented on #4252
Если, к записи не предусмотрен стандартный вызов свойств, то необходимо это учесть при просмотре свойств при помощи кнопки **F11** иначе программа отображает окно с сообщением об ошибке:
![image](https://user-images.githubusercontent.com/11497453/183444552-59f4ef68-e3a8-40b8-b1a8-16e5fb907465.png)

[2022-08-08 14:51] gsbelarus commented on #4252
Это в какой таблице?

[2022-08-09 08:29] NikolayUkleyko commented on #4252
MON$TRANSACTIONS.
Ряд системных таблиц с префиксом "MON$".

[2022-08-09 11:51] NikolayUkleyko commented on #4222
Проверено.
![image](https://user-images.githubusercontent.com/11497453/183640065-8f254df7-c7a7-473f-a6ef-cb3ab9655da1.png)
Сейчас наименования ПИ отображаются верно.
@gsbelarus , благодарю !

[2022-08-11 08:38] NikolayUkleyko opened #4279 "Общие. Хранилище. Сделать более крупную строку поиска"
**_Сервис → Хранилище → Поиск:_**

![image](https://user-images.githubusercontent.com/11497453/184095056-6ab4f55a-f392-45ec-b7d0-235ee5c0352c.png)

Пожалуйста, предусмотрите более вместительную и наглядную строку поиска.

[2022-08-11 09:17] MIchaelShoihet opened #4280 "Слетают права доступа после загрузки ПИ/настроек"
На бройлерах очень жалуются, что после каких-то действий (предполагают загрузку настроек или ПИ) слетают права доступа на отдельные ветки. При этом визуально они остаются, но не действуют, т.е. надо удалить нужную группу, сохранить и потом опять добавить

[2022-08-11 09:24] NikolayUkleyko commented on #4280
Могу предположить, такое подобное было на Витебск Мк, ГомельДреве.

чт, 11 авг. 2022 г., 12:17 MIchaelShoihet ***@***.***>:

[2022-08-11 09:29] gsbelarus commented on #4280
надо попробовать смоделировать, повторить у нас на офисе. для начала точно установить на какие ветки слетают и какие точно группы им приходится переназначать.

[2022-08-11 09:30] gsbelarus commented on #4280
И еще точно установить речь идет о ПИ или настройках.

[2022-08-13 19:12] #4269 closed, assigned to MIchaelShoihet, ShlTanya

[2022-08-13 19:15] gsbelarus commented on #4272
Наверное потому что теперь AsInteger стал передавать float числа. Но, вообще, не правильно  со строковым полем работать как с целочисленным.

[2022-08-15 16:30] NikolayUkleyko opened #4281 "Общие. Инспектор объектов. Увеличить диалоговое окно поиска объектов"
**_Ctrl + Alt + M → Инспектор объектов → Поиск:_**

![image](https://user-images.githubusercontent.com/11497453/184675517-37e6a6bd-2f33-425a-b261-33da6fcc7a34.png)

Пожалуйста, предусмотрите более вместительную строку поиска и окно результата поиска.

[2022-08-15 16:37] NikolayUkleyko opened #4282 "Общие. Таблицы. При последовательном добавлении полей не работает кнопка ”Новый”"
При добавлении в таблицу поля при помощи кнопки **Новый** после нажатия на кнопку **_OK_** добавляется только одной предыдущее поле.
В результате при добавлении ряда полей они не сохраняются.
Пожалуйста, сделайте неактивной или скройте кнопку **Новый**.

[2022-08-15 16:53] NikolayUkleyko opened #4283 "Общие. Таблицы. Предусмотреть ограничение наименования поля с учетом добавления префикса ”USR$”"
При добавлении полей можно указать наименование в 32 символа.
После нажатия на кнопку **_OK_** добавляется префикс **USR$** и крайние 4-е символа не сохраняются.
При добавлении большого количества полей что-то можно просмотреть и название поля будет сокращенное.
Пожалуйста, предусмотрите ограничение наименования поля при вводе с учетом добавления префикса.

[2022-08-16 16:28] NikolayUkleyko opened #4284 "Общие. Формы. При сворачивании окна настройки хранилища выполняется ее закрытие"
**_Сервис → Хранилище._**

При сворачивании окна настройки хранилища выполняется ее закрытие.
Были открыто несколько окон настройки хранилища, введены параметры поиска, после сворачивания они закрылись.
Пожалуйста, подскажите можно ли поправить ?

[2022-08-18 07:54] yoannawx opened #4285 "Настройки ЭТТН не добавляются в ПИ"
При добавлении настроек ЭТТН в пространство имен - ошибка

![image](https://user-images.githubusercontent.com/11497358/185340484-dd504da9-f2df-44a2-b710-4345a72fb4be.png)

![image](https://user-images.githubusercontent.com/11497358/185341539-c07c5ed3-01ea-4df5-a74b-8dd12371c90a.png)

[2022-08-18 08:20] YRozmysl opened #4286 "загрузка ПИ. Неизвестное имя."
Делалась разработка на клиентской базе для табеля мастера. Все работает там, проблем нет. Я решил перенести эту доработку в гит. Сформировал настройку ПИ, которую загрузил на  чистую эталонную базу с уже установленной  настройкой по ЗПиОк.
При загрузке ПИ ошибок не было. Однако при добавлении документа табеля мастера вот такая ошибка. С чем это связано и куда тут надо копать, что искать?
![Screens

[2022-08-18 08:22] NikolayUkleyko commented on #4286
Предполагаемо вопрос по хранилищу (гридам).
@YRozmysl , проверяй <ins>тщательно</ins> по данному документу все ли объекты хранилища (Administrator) добавлены в ПИ.

[2022-08-18 11:34] YRozmysl commented on #4286
По итогу, каких-то  поисков и  переформированию  Пи  все равно пришел к тому же.

![Screenshot 2022-08-18 143240](https://user-images.githubusercontent.com/11507129/185385282-8cfedcda-62e7-4649-8620-b7e08600bd5f.png)

[2022-08-18 11:41] NikolayUkleyko commented on #4285
Решение вопроса:
1. В таблице **AT_OBJECT** поле **OBJECTNAME** является обязательным для заполнения.
2. При просмотре свойств добавляемой записи в таблице **USR$ETTN_TTN_IN_SETTINGS** следует обратить внимание на отсутствие наименования в реквизите **Наименование**:
![image](https://user-images.githubusercontent.com/11497453/185385375-2cceaf54-ceef-4f89-b9ed-52e5d4c29240.png)
3. В таблицу добавля

[2022-08-18 12:10] alexandra-gsoftware commented on #4285
Это да, но по-хорошему экзе должен был сам дать имя этой штуке. Загнать в имя ид, если ничего похожего на имя нет...

[2022-08-18 12:13] gsbelarus commented on #4286
а можешь кнопку details нажать и раскрыть стек вызовов?

чц, 18 жні 2022, 13:34 карыстальнік Yury Rozmysl ***@***.***>
напісаў:

[2022-08-18 12:14] YRozmysl commented on #4286
Call stack:
:009ABB9F [gedemin.exe] TgdScriptFactory::ExecuteFunctionEx (gd_ScriptFactory.pas, line 536)
:7724CA42 [KERNELBASE.dll]
Recursive call (3 times):
:009ABB9F [gedemin.exe] TgdScriptFactory::ExecuteFunctionEx (gd_ScriptFactory.pas, line 536)
:009AC33E [gedemin.exe] TgdScriptFactory::ExecuteFunction (gd_ScriptFactory.pas, line 664)
:00653AF4 [gedemin.exe] TMethodControl::ExecuteMethodNew (

[2022-08-18 12:55] NikolayUkleyko commented on #4285
_> Это да, но по-хорошему экзе должен был сам дать имя этой штуке. Загнать в имя ид, если ничего похожего на имя нет..._

Да, Александра, как вариант.

[2022-08-18 13:26] alexandra-gsoftware commented on #4286
может, тупо база повреждена как раз в том месте, где хранилище формы лежит?

[2022-08-18 13:27] alexandra-gsoftware commented on #4286
@YRozmysl можешь скинуть пи это?

[2022-08-18 13:27] YRozmysl commented on #4286
снималось с бройлеров и пыталось перенестись на эталон.

[2022-08-18 13:30] YRozmysl commented on #4286
лови в телеге

[2022-08-18 15:32] gsbelarus commented on #4286
ясно. это ошибка при вызове какой то скрипт функции. но все равно должно
более понятно выводиться.

чц, 18 жні 2022, 15:30 карыстальнік Yury Rozmysl ***@***.***>
напісаў:

[2022-08-18 15:46] alexandra-gsoftware commented on #4286
разобралісь. на базе бро у одного із документов другой руід.

[2022-08-18 18:41] gsbelarus commented on #4286
Все равно сообщение должно быть более понятное.

[2022-08-19 00:57] gsbelarus commented on #4285
посмотрим. вроде так и должен был, если нет текстового поля. скорее всего
там руид должен был быть, но потом начали борьбу с лишними руидами и
наверное выкинули.

чц, 18 жні 2022, 14:55 карыстальнік NikolayUkleyko ***@***.***>
напісаў:

[2022-08-19 08:17] NikolayUkleyko commented on #4285
С РУИДами понятно.
Тогда, добавлять ID, название таблицы.

[2022-08-22 07:08] AliakseiDanilchyk opened #4287 "Функция SUMCURRSTR2 возвращает результат в нижнем регистре"
Например, в справочнике валют указано "долларов США", а функция возвращает результат "долларов сша".

[2022-08-22 16:10] NikolayUkleyko commented on #4199
Дополнительно предусмотрите при открытии формы синхронизации ПИ по умолчанию проставленную галку по реквизиту **Скрыть каталоги**.

[2022-08-23 08:51] NikolayUkleyko commented on #4234
@MIchaelShoihet , пожалуйста, подскажите, какой вариант выбрали ?

[2022-08-23 13:21] MIchaelShoihet commented on #4280
Исправлено. Проблема была не в ПИ и настройках. А в самом исследователе. При изменении (либо просто переприсвоении) парента права брались из этой ветки, а в нашей идеологии это не правильно. Обычно возникало при редактировании типового документа, он менял ветку включая и парент.

[2022-08-23 13:23] MIchaelShoihet commented on #4271
Здесь надо поэксперементировать... Дело в том, что это стандартное поведение ComboBox. При наборе когда возникает пауза он подставляет последнее значение из списка. Когда после набора не было поиска аналитик, паузы не возникало, а сейчас с поиском возникает, вот он успевает подумать что надо искать.

[2022-08-23 13:26] NikolayUkleyko commented on #4271
Самое оптимальный вариант — ввели счет(а) и нажатие кнопки **Enter**.

[2022-08-24 09:06] NikolayUkleyko commented on #4190
Функция **DebibValue** почти не используется.
Если, возникнет ошибка, то можно поправить в конструкторе функций.

[2022-08-24 12:01] NikolayUkleyko commented on #4252
При просмотре методов документов выяснилось следующее.
При нажатии клавиши F11 на **позиции** документа открываются свойства записи **шапки** документа, а должны были открыться по позиции документа.
Если, сперва выполнить просмотр свойств записи позиции документа через <ins>контекстное меню</ins> и выбор команды **Свойства записи**, и далее вызывать свойства записи через F11, тогда работает верно.

[2022-08-24 13:05] NikolayUkleyko commented on #4266
Я, так, понимаю, что для этого достаточно в таблице **AC_ENTRY** отключить триггер **AC_ENTRY_DO_BALANCE**.
Верно ли, @MIchaelShoihet ?

[2022-08-26 10:19] DonPhantom000 commented on #4287
Сделано

[2022-08-26 10:20] DonPhantom000 commented on #4282
Сделано

[2022-08-26 10:21] DonPhantom000 commented on #4284
Сделано

[2022-08-26 10:21] DonPhantom000 commented on #4248
Сделано

[2022-08-26 10:23] DonPhantom000 commented on #4226
Сделано

[2022-08-26 10:23] DonPhantom000 commented on #4273
Сделано

[2022-08-26 10:28] DonPhantom000 commented on #4271
При вводе текста в поле сделали задержку на 1 секунду с последнего нажатия, и только по прошествии этого времени данные обновляются. При нажатии Enter, переключении стрелками или мышью - всё как и раньше, т.е. обновляются немедленно. Хорошо бы вынести задержку в параметр, чтобы можно было её настраивать

[2022-08-26 11:36] NikolayUkleyko commented on #4271
Это будет замечательная настройка. :+1:
Я понимаю, что можно будет задать большое значение такого параметра и будет, как, прежде без динамического обновления перечня аналитик.
Так ли ?

[2022-08-26 12:02] NikolayUkleyko commented on #3908
@DonPhantom000 , пожалуйста, посмотри.

[2022-08-26 12:07] NikolayUkleyko commented on #3665
Если, так не реализовать, то расположить колонку **Дата документа** в начале всех колонок слева.

@DonPhantom000 , пожалуйста, посмотри.

[2022-08-26 12:11] NikolayUkleyko commented on #4251
@DonPhantom000 , пожалуйста, посмотри.

[2022-08-26 12:16] NikolayUkleyko commented on #4233
Здесь еще есть некоторая задержка при переходе с блока на блок.
@DonPhantom000 , пожалуйста, посмотри.

[2022-08-26 12:32] NikolayUkleyko commented on #4199
@DonPhantom000 , пожалуйста, посмотри.

[2022-08-26 12:58] NikolayUkleyko commented on #3960
Пожалуйста, на странице с документацией http://gsbelarus.com/gs/wiki/index.php/Выпадающий_список указано, что это кнопка копирования записей:
![image](https://user-images.githubusercontent.com/11497453/186908616-462e5ef2-6483-495a-942d-28625438a20f.png)

@DonPhantom000 , пожалуйста, посмотри.

[2022-08-26 13:02] NikolayUkleyko commented on #3975
@DonPhantom000 , пожалуйста, посмотри.

[2022-08-26 13:10] NikolayUkleyko opened #4288 "Общие. Добавление в отмеченные. Некорректное добавление записей"
Не первый раз наблюдаю, что при добавлении в отмеченные добавляются лишние записи.

[2022-08-26 13:11] NikolayUkleyko commented on #4288
@DonPhantom000 , пожалуйста, посмотри.

[2022-08-26 13:15] NikolayUkleyko commented on #4194
@DonPhantom000 , пожалуйста, посмотри.

[2022-08-26 14:56] DonPhantom000 commented on #3975
Изменен редактор для списка колонок на такой формат:
№ - Описание поля - ИМЯ_ПОЛЯ

![image](https://user-images.githubusercontent.com/111727555/186933441-d7d91311-a9e6-47de-9756-7e5a08ea3f12.png)

Поиск строки по нажатию ENTER будет работать и для других списков

[2022-08-26 15:27] DonPhantom000 commented on #4250
При попытке сделать это будет выведено сообщение

![image](https://user-images.githubusercontent.com/111727555/186939789-53656768-d02e-41a0-b404-260753a65719.png)

без альтернатив

[2022-08-26 15:30] NikolayUkleyko opened #4289 "Типовые документы. Недоработки по функционалу создания копии документа"
_Типовые документы → Полная копия документа._

![image](https://user-images.githubusercontent.com/11497453/186939187-5f5c5690-7d88-469c-8229-0105fd7b070a.png)

Создал копию складского документа.

1. Не скопировались настройки типового документа.
2. Не скопировались настройки хранилища документа.
3. Ошибки при добавлении записи по документу.

[2022-08-28 07:39] gsbelarus commented on #4288
нужен конкретный пример

[2022-08-28 07:54] gsbelarus commented on #4199
не трогать сортировку! файлы должны быть отсортированы в порядке зависимости и именно в таком порядке они будут грузиться. важно чтобы разработчик видел этот порядок.

[2022-08-28 07:56] gsbelarus commented on #4233
делалось это когда то под маленькие экраны. теперь можно сходу ширину левой
части и всех блоков раща в полтора увеличивать.

пт, 26 жні 2022, 14:16 карыстальнік NikolayUkleyko ***@***.***>
напісаў:

[2022-08-28 08:22] gsbelarus commented on #4271
не надо лишних параметров. увеличили задержку, проверили, если устраивает,
то так оставляем. никаких доп настроек делать не надо.

пт, 26 жні 2022, 13:36 карыстальнік NikolayUkleyko ***@***.***>
напісаў:

[2022-08-29 07:42] NikolayUkleyko commented on #4199
По сортировке хорошо, понятно.
По данной теме есть еще ряд других пожеланий.

[2022-08-29 07:56] NikolayUkleyko commented on #4288
Пример, задача добавить в отмеченные следующие ПИ:

- Мат_склад - отчеты;
- Рублевые банковские документы 10;
- Рублевые банковские документы 20.

При их поиске через **бинокль** и последующем добавлении в отмеченные добавляются лишние ПИ.
При их поиске через автофильтр и/или горячие клавиши **Ctrl+F** в отмеченные лишние ПИ не добавляются.

[2022-08-29 08:00] NikolayUkleyko commented on #3975
@DonPhantom000 , пожалуйста, уточни, вышеприведенное актуально для команды **ColumnEditors** в Инспекторе объектов.
Так ли ?

[2022-08-29 08:56] DonPhantom000 commented on #4253
Выполнено
![image](https://user-images.githubusercontent.com/111727555/187163791-be1b1b9e-33cd-4946-9228-ff42e7558194.png)

[2022-08-29 09:02] DonPhantom000 commented on #3908
Теперь сохраняется

[2022-08-29 10:52] supportkkc opened #4290 "Ошибка при редактировании столов в программе POSitive Check v2.9"
Скачал menufront_portable 29.08.2022, обнаружил ошибку при редактировании столиков в Карта Зала, ошибка появляется, когда я пытаюсь изменить больше чем один стол. Нажимаю сохранить, выхожу из редактора и захожу заново, так для каждого отдельного стола.

![image](https://user-images.githubusercontent.com/20512230/187185246-7a7b47a5-20fa-4d90-8228-9629b540bac0.png)
![image](https://user-images.githu

[2022-08-29 11:12] supportkkc opened #4291 "Некорректное отображение товара на дисплее покупателя в ПО POSitive Cash"
Скачивал установщик POSitive Cash 24.08.2022 и устанавливал у клиента.
Дисплей покупателя ATOL PD 2800 USB (Virtual COM Mode) https://clck.ru/vtQSF
Дисплей имеет две строки, но товар отображается только в одной.
При этом Итоговая сумма чека и "Добро Пожаловать!" используют две строки.

![image](https://user-images.githubusercontent.com/20512230/187188193-903faba2-0699-47a2-9ad6-1b8d2f93f12a.png)
!

[2022-08-29 11:14] supportkkc opened #4292 "Некорректная работа Денежного ящика"
POSitive Cash работа с денежным ящиком, проблема в том, что он открывается при нажатии на кнопку F6, так во всех новых версиях, может быть и в старых, не знаю. Из-за того, что он открывается при вызове окна оплат, нет смысла в настройке открытия денежного ящика, для каждого отдельного типа оплат. То есть мне надо, чтобы он открывался только при расчете Наличными, я это настраиваю дескрипторами в Ф

[2022-08-29 11:17] NikolayUkleyko commented on #4191
Перенесено в https://github.com/GoldenSoftwareLtd/gedemin/issues/3946.

[2022-08-29 11:18] NikolayUkleyko commented on #3946
#4191
Пожалуйста, подобная тема.

[2022-08-29 13:45] NikolayUkleyko opened #4293 "Отчеты. Макросы. Предусмотреть цветовое выделение записей не отображаемых в меню"
_Редактор скрипт-объектов → Макросы, Отчеты._

1. Для удобства и быстроты систематизации отчетов, макросов, пожалуйста, предусмотрите цветовое выделение записей не отображаемых в меню:
![image](https://user-images.githubusercontent.com/11497453/187214679-4472ad4d-2699-4dfe-80a7-135e5e2473cf.png)

Для записей, не отображаемых в меню предусмотреть синий цвет шрифта или другие варианты.

-----

2. Хо

[2022-08-29 14:52] YRozmysl opened #4294 "визуальные настройки в диалоговой форме документов (кнопки)"
На последнем exe в диалоговых формах документов вот так
![Безымянный](https://user-images.githubusercontent.com/11507129/187230128-688f8b3a-cf62-45e5-90f7-35d3e3fc6723.jpg)

[2022-08-29 14:54] YRozmysl commented on #3332
Эту тему можно закрыть, тут устаревшая информация, едва ли она будет полезна сейчас

[2022-08-29 15:00] YRozmysl commented on #4294
на версии exe **2.9,5.12253** еще было все ок

[2022-08-29 15:04] gsbelarus commented on #4294
это кто-то преобразовал dfm в utf 8. я видел несколько таких. теперь только отлавливать и из старых комитов выковыривать. опять-таки следствие проблемы когда 80 файлов идут в один пул реквест и трудно понять что есть что.

[2022-08-30 08:13] NikolayUkleyko opened #4295 "Общие. Новый gedemin.exe в Исследователь к пиктограммкам добавляет лишние символы"
_Исследователь._

![image](https://user-images.githubusercontent.com/11497453/187385185-fbf34c0f-0852-4212-a807-0fc488215c1b.png)

Раньше такого не было.
@gsbelarus , пожалуйста, поправьте.

[2022-08-30 08:13] DonPhantom000 commented on #4199
Полные пути из списка файлов убраны.
Флажок "Скрыть каталоги" выставлен по умолчанию.
Отменено автоматическое проставление кнопки >>
Заблокированы пункты меню с выпадающими списками при отсутствии в них доступных команд
![image](https://user-images.githubusercontent.com/111727555/187385534-cbed6bcd-2e81-485b-8f39-92c4e0ffe112.png)

[2022-08-30 08:15] NikolayUkleyko commented on #4199
@DonPhantom000 , замечательно !
Посмотрим в работе.

[2022-08-30 09:35] gsbelarus commented on #4199
пожалуйста. каждое изменение по ПИ приведет к тому, что что-то рухнет. не смешивайте все в кучу. если и трогать ПИ то только ПО ОДНОМУ мелкому шагу за раз. Иначе будет пустая работа, которую потом выкинуть в мусорку. Многие списки файлов используются и на экране и внутренне. Нельзя менять в них порядок или убирать пути.

[2022-08-30 09:35] gsbelarus commented on #4199
Многие замечания тут субъективны. Я например нормально отношусь к пути в имени файла. Мне не надо убирать.

[2022-08-30 09:50] gsbelarus commented on #3993
@hirurg-lybitel проверил? закрываем?

[2022-08-30 09:59] gsbelarus commented on #3920
Добавлено:

http://gsbelarus.com/gs/wiki/index.php/GetNewParamWindow

[2022-08-30 10:00] gsbelarus commented on #3456
@alexandra-gsoftware киньте пример сюда

[2022-08-30 10:10] gsbelarus commented on #4271
надо перепроверить. и возможно вообще отказаться от таймера. оставить только ENTER. но, в чем смысл таймера, что если только ENTER оставлять, то при вводе счета висит аналитика ПРЕЖНЕГО счета. Это сбивает с толку. И в общем-то на экране выглядит как ошибка. Счет один, аналитика не его...

[2022-08-30 10:50] NikolayUkleyko opened #4296 "Бухгалтерия. Карта счета и другие. После обновления gedemin.exe появились вопросы по формам"
_Исследователь → Бухгалтерия → Журнал-ордер, Карта счета, Оборотная ведомость, Анализ счета, Главная книга._

![image](https://user-images.githubusercontent.com/11497453/187417749-450456ed-29e6-4fc1-acc8-ad692c19f037.png)

Высвеченные кнопки.
Проведите курсором.
![image](https://user-images.githubusercontent.com/11497453/187417843-36bd53df-d114-464b-8e7a-620968827868.png)

Позже это пропадает.
Ран

[2022-08-30 11:00] NikolayUkleyko commented on #4284
Проверено.
Работает корректно.
@DonPhantom000 , спасибо ! :trophy:

[2022-08-30 11:14] NikolayUkleyko commented on #4250
Проверено.
Работает корректно.
@DonPhantom000 , спасибо ! :trophy:

[2022-08-30 11:49] DonPhantom000 commented on #4155
Кнопка добавлена

[2022-08-30 13:48] NikolayUkleyko commented on #3975
Проверено.
Сейчас это сделано для команды **Columns**, а не для **ColumnEditors**.
При возможности необходимо реализовать детальное отображение имен полей для команды **ColumnEditors**.

[2022-08-30 14:34] NikolayUkleyko commented on #4296
Пожалуйста, поправьте здесь.

[2022-08-30 15:04] gsbelarus commented on #4296
что пропадает? что не так? из написанного не понятно

[2022-08-30 15:49] gsbelarus opened #4297 "Возврат к исходникам от 22 августа 2022 года."
я не могу распутать баги, которые полезли у коли.

1) состояние исходников в мастере я вернул на 22 августа 2022 года
2) текущее состояние мастера зафиксировано в ветке 30_08_2022
3) самые последние изменения в ветке Issue4199
4) все закрытые issue начиная с 22 августа я открыл заново

что теперь:

1) павел должен аккуратно ПО ОДНОМУ перенести все изменения в мастер.
2) для этого следует выгрузить

[2022-08-30 17:24] #4267 closed, assigned to ShlTanya

[2022-08-30 17:29] gsbelarus commented on #4286
В исходниках гедымина такого сообщения нет. Значит это что-то в макросах.

[2022-08-30 17:29] #4286 closed, assigned to DonPhantom000

[2022-08-30 17:30] gsbelarus commented on #4294
Должно исправиться с возвратом к старым исходникам.

[2022-08-30 17:30] #4294 closed, assigned to MIchaelShoihet, DonPhantom000

[2022-08-30 17:38] gsbelarus commented on #4287
преобразования выполняются в модуле gd_convert в функции UpdateCache. Там все строки в нижний регистр приводятся.

есть вариант убрать приведение, тогда будет браться ровно так, как записано в справочнике. кому надо маленькими буквами, получит маленькими, кому большими -- введет в справочник большими.

но, этот вариант затронет всех существующих клиентов. Им надо будет пойти в справочник и откорре

[2022-08-30 20:50] YRozmysl opened #4298 "обновление exe и дата файла"
При обновлении exe билд видно, что поменялся на актуальный, а дата файла осталась прежней. так и должно быть? При автоматическом обновлении, что происходит с прежним файлом?

![555](https://user-images.githubusercontent.com/11507129/187540148-aa998fee-7f3c-4349-aa53-b22762c550d1.jpg)

[2022-08-31 04:47] gsbelarus commented on #4298
да. странно. но номер версии ок. надо посмотреть какая дата на s5. может на сераерн часы неправильно идут.

[2022-08-31 06:19] YRozmysl commented on #4298
так получается только если автоматически  обновляется, а если принудительно скачать файл с сайта и руками заменить его, то дата правильная. Может это в винде у меня что-то.

[2022-08-31 06:20] AliakseiDanilchyk commented on #4287
Я считаю, надо убрать приведение. Печатать как в справочнике. В стандартных ПИ у нас наименования валют в родительном падеже внесены с маленькой буквы, а именительный - с большой.
А доллар США в этом ПИ у нас вообще обозвали "американских долларов"/"американских доллара"

[2022-08-31 06:36] YRozmysl commented on #4298
странная какая-то хронология.

![Screenshot 2022-08-31 093433](https://user-images.githubusercontent.com/11507129/187610097-9ebaf4d1-4de3-4214-989c-5f8df174f1a5.png)

[2022-08-31 06:49] gsbelarus commented on #4298
мы даты файла нигде не устанавливаем. это все ОС шалит.

[2022-08-31 06:49] #4298 closed, assigned to gsbelarus

[2022-08-31 06:51] gsbelarus commented on #4293
сортировка будет сложно. цвет проще. но, самое простое это для невидимых отчетоы/макросов другую пиктограммку выводить. не желтую, а, например, серую.

[2022-08-31 07:15] gsbelarus commented on #4282
я бы не кнопку скрывал, а разобрался почему не работает. Потому что в стандартном варианте Новый как раз внутри себя и вызывает Ок и потом создает новую запись. Т.е. все должно работать как и при кнопке Ок.

[2022-08-31 07:17] gsbelarus commented on #4281
Окно смело можно делать раза в полтора шире и в два выше.

[2022-08-31 07:46] AliakseiDanilchyk opened #4299 "Ограничение максимальной ширины главного окна"
У нас для формы frmGedeminMain установлено ограничение максимальной ширины 2000. На 5K мониторе уже не разворачивается на всю ширину экрана.

[2022-08-31 08:33] NikolayUkleyko commented on #4296
_> что пропадает? что не так? из написанного не понятно_

1. При первом открытии форм в правой части на панели инструментов темная полоса.
2. На панели инструментов значки неактивные, бесцветные.
Достаточно провести курсором, чтобы значки деактивировались.

[2022-08-31 08:38] NikolayUkleyko commented on #4005
Это очень удобно при добавлении новой колонки, последующем ее отображении и переход на нее.
В других ситуациях тоже будет не лишним.

Здесь предполагается предусмотреть поиск колонок в гриде помимо существующего поиска колонок в Мастере установок.
Возможно, это и не надо.

[2022-08-31 08:46] NikolayUkleyko commented on #4293
_> сортировка будет сложно. цвет проще. но, самое простое это для невидимых отчетоы/макросов другую пиктограммку выводить. не желтую, а, например, серую._

Хорошо.
Пожалуйста, просто выводите черно-белую пиктограммку для неактивных отчетов и макросов.

[2022-08-31 08:52] NikolayUkleyko commented on #4287
Добавить новое поле для хранения наименований валют в оговариваемом здесь формате.
Существующие отчеты и прочее не поменяются.
В новых отчетах и других объектах выполнить соответствующую настройку согласно нового реквизита без приведения строк в нижний регистр.
Возможно возникнет необходимость добавить новую функцию **SUMCURRSTR3**.

[2022-08-31 09:00] gsbelarus commented on #4287
будем брать как есть в справочнике и все. люди зайдут поменяют где надо

On Wed, Aug 31, 2022 at 10:59 AM AK ***@***.***> wrote:

[2022-08-31 09:41] #4155 closed, assigned to DonPhantom000

[2022-08-31 09:52] gsbelarus commented on #4299
Поставил 8000. На какое-то время хватит.

[2022-08-31 09:52] #4299 closed, assigned to gsbelarus

[2022-08-31 10:11] yoannawx commented on #4285
1. Позиция настройки входящих эттн добавилась корректно (Настройки входящих ТТН, РУИД: 151877374_623967871)

![image](https://user-images.githubusercontent.com/11497358/187648423-08ffe35d-c28f-48ee-a6b3-25edfb4cf70f.png)

но при этом не подтянулись зависимости (как минимум, ПИ: Электронный документооборот.Настройки входящих ЭТТН, в которое входит subtype USR$ETTN_TTN_IN_SETTINGS)

![image](https:/

[2022-08-31 15:04] #4284 closed, assigned to DonPhantom000

[2022-08-31 15:06] #4280 closed, assigned to MIchaelShoihet

[2022-08-31 15:22] gsbelarus commented on #4285
Добавьте туда поле с наименованием USR$NAME. Приходится выдумывать имя объекта из имени класса и прочей ерунды.

[2022-08-31 15:24] gsbelarus commented on #4285
"Позиция настройки исходящих эттн добавилась со странным наименованием" -- это не странное наименование. Так как наименования нет, система начинает искать хоть какое текстовое поле и находит вот с таким значением. Ничего нельзя сделать пока не будет в таблице нормального поля с именем записи.

[2022-08-31 15:24] gsbelarus commented on #4285
а насчет механизма зависимостей, его никто не трогал. проверьте еще раз.

[2022-08-31 15:27] #3920 closed, assigned to ShlTanya

[2022-08-31 15:29] yoannawx commented on #4248
![image](https://user-images.githubusercontent.com/11497358/187718011-4f3e3499-db26-4e5d-9096-e16c4222a01e.png)

та же ошибка

[2022-08-31 15:30] gsbelarus commented on #3915
Для объектов, которые идут в ПИ желательно наличие поля с именем. Обязательно заполненного.

[2022-08-31 15:30] gsbelarus commented on #3915
@alexandra-gsoftware проверьте на новейшем экзешнике.

[2022-08-31 15:42] NikolayUkleyko commented on #4285
_> Добавьте туда поле с наименованием USR$NAME. Приходится выдумывать имя объекта из имени класса и прочей ерунды._

Про такой вариант я Жанне говорил.
Наличие поля типа **NAME** логично.
Может быть использовано для хранения наименования или описания к таблице (справочнику).

[2022-08-31 15:47] NikolayUkleyko commented on #3915
Важное заполнять поля типа **NAME**.

[2022-08-31 15:59] hirurg-lybitel commented on #3993
да, норм

[2022-08-31 15:59] #3993 closed, assigned to dmitranoid, ShlTanya

[2022-08-31 16:07] gsbelarus commented on #4248
проверьте у вас точно обновился экзешник? я вижу в исходниках исправление прошло.

[2022-08-31 16:08] gsbelarus commented on #4248
FILEVERSION 2, 5, 0, 142

[2022-09-01 06:22] yoannawx commented on #4248
![image](https://user-images.githubusercontent.com/11497358/187845683-c5d7e60a-e5a0-4802-8f23-b0e2bc8ced52.png)

[2022-09-01 06:24] gsbelarus commented on #4248
это старый экзешник

newest gedemin.exe version 12273...

а тут билд 12266

обновите

[2022-09-01 06:24] #4248 closed, assigned to DonPhantom000

[2022-09-01 06:30] yoannawx commented on #4248
отработало автообновление. все то же самое

![image](https://user-images.githubusercontent.com/11497358/187847069-34cc695a-c690-4eb6-8d2e-3f539c41f417.png)

вручную скачать и обновить?

[2022-09-01 06:32] gsbelarus commented on #4248
вручную скачайте

On Thu, Sep 1, 2022 at 8:30 AM yoannawx ***@***.***> wrote:

[2022-09-01 06:40] yoannawx commented on #4248
все ок.

[2022-09-01 12:26] #4250 closed, assigned to DonPhantom000

[2022-09-01 18:18] YRozmysl opened #4300 "пропала пиктограмма"
было:
![Screenshot 2022-09-01 211621 old](https://user-images.githubusercontent.com/11507129/187985002-1f267e32-d66c-4206-a29c-f2b7cd3fad7e.png)

стало:
![Screenshot 2022-09-01 211514](https://user-images.githubusercontent.com/11507129/187985055-73d21bc7-ad93-4247-9c01-04e576f3ccc7.png)

[2022-09-01 18:56] #4300 closed, assigned to gsbelarus

[2022-09-02 06:42] DonPhantom000 commented on #4281
Увеличено. Может сделать его растяжимым?

[2022-09-02 08:36] #4123 closed, assigned to gsbelarus, ShlTanya

[2022-09-02 19:43] #4297 closed, assigned to DonPhantom000

[2022-09-04 06:09] #4232 closed, assigned to dmitranoid, ShlTanya

[2022-09-04 09:18] #3332 closed, assigned to gsbelarus

[2022-09-05 14:30] #4296 closed, assigned to DonPhantom000

[2022-09-05 14:31] #4295 closed, assigned to DonPhantom000

[2022-09-13 12:56] #4279 closed, assigned to Polfath

[2022-09-14 13:09] #3908 closed, assigned to DonPhantom000

[2022-09-21 09:29] #4226 closed, assigned to DonPhantom000

[2022-09-22 11:20] #4175 closed, assigned to DonPhantom000

[2022-09-22 12:55] #4281 closed, assigned to DonPhantom000

[2022-09-23 12:38] #3933 closed, assigned to ShlTanya

[2022-09-23 12:38] #3830 closed, assigned to Polfath

[2022-09-23 14:33] #4288 closed, assigned to Polfath

[2022-09-23 15:09] #1261 closed, assigned to gsbelarus

[2022-09-26 14:22] #3881 closed, assigned to MIchaelShoihet, ShlTanya

[2022-09-28 08:43] #4253 closed, assigned to DonPhantom000

[2022-09-28 11:05] #4234 closed, assigned to dmitranoid

[2022-09-29 09:04] #4257 closed, assigned to nobody

[2022-10-06 08:55] #4005 closed, assigned to nobody

[2022-10-06 11:11] #3665 closed, assigned to gsbelarus

[2022-10-06 11:48] #4110 closed, assigned to nobody

[2022-10-11 15:39] #4251 closed, assigned to nobody

[2022-10-12 08:27] #4233 closed, assigned to Polfath

[2022-10-17 15:51] #4231 closed, assigned to gsbelarus

[2022-10-18 12:35] #4255 closed, assigned to Polfath

[2022-10-19 10:54] #4291 closed, assigned to hirurg-lybitel

[2022-10-20 14:49] #4292 closed, assigned to hirurg-lybitel

[2022-10-20 14:49] #4290 closed, assigned to hirurg-lybitel

[2022-10-21 15:24] #3960 closed, assigned to nobody

[2022-10-25 11:21] #3697 closed, assigned to nobody

[2022-11-01 16:05] #3673 closed, assigned to ShlTanya

[2022-11-02 08:12] #4191 closed, assigned to ShlTanya, TechAnton

[2022-11-08 10:46] #4194 closed, assigned to dmitranoid

[2022-11-08 11:07] #3975 closed, assigned to DonPhantom000

[2022-11-08 11:40] #4243 closed, assigned to ShlTanya

[2022-11-08 12:44] #4287 closed, assigned to Polfath

[2022-11-10 10:59] #1315 closed, assigned to gsbelarus

[2022-11-10 11:48] #4270 closed, assigned to nobody

[2022-11-14 11:14] #3938 closed, assigned to Polfath

[2022-11-16 07:21] #4219 closed, assigned to ShlTanya

[2022-11-17 12:37] #4190 closed, assigned to Polfath

[2022-11-23 11:16] #4285 closed, assigned to gsbelarus

[2022-11-23 15:15] #4271 closed, assigned to ShlTanya, DonPhantom000