[2016-02-16 18:32] zholnerovich commented on #3631
Это наверное можно закрывать

[2016-02-16 18:33] zholnerovich commented on #3627
И тут если все устраивает, то можно закрывать

[2016-02-17 07:22] NikolayUkleyko opened #3736 "DOCUMENTTYPEKEY на gedemin.exe от 16.02.2016 г."
При подключении к любой БД программа отображает окно с сообщением об ошибке:
![1](https://cloud.githubusercontent.com/assets/11497453/13102469/d7e58e92-d55f-11e5-95bf-e47f8833e364.png)

  При попытке формирования Журнала-ордера программа отображает окно с сообщением об ошибке:
![2](https://cloud.githubusercontent.com/assets/11497453/13102470/d8b0607c-d55f-11e5-9149-1fb656a459aa.png)

  Пожалуйста,

[2016-02-17 07:41] NikolayUkleyko commented on #3727
Хорошо бы еще создать и конструктор отчетов. Отчеты бухгалтерии имеют существенный недостаток в том, что в них данные статичны. Подобные конструкторы пересчетов и отчетов есть у конкурентов.

[2016-02-17 08:05] YRozmysl commented on #3658
Вроде со всем разобрались и логика понятна.

Есть еще и 3 ситуация: если у объекта в базе данных текущая editiondate(CURR_MODIFIED) = ИСХОДНОЙ ДАТЕ(MODIFIED), но дата в файле < чем ИСХОДНАЯ ДАТА(MODIFIED).

Спрашивается, как могла возникнуть вот такая ситуация? Скорее всего, тут был один из 2 вариантов.

1.Мы установили первый раз на базу ПИ. В момент установки CURR_MODIFIED = MODIFIED = 01-01-201

[2016-02-17 09:44] NikolayUkleyko commented on #3494
**_Исследователь > Материальный склад > 04. Отпуск материалов покупателям**_.

  По нему выполнены следующие настройки:
![1](https://cloud.githubusercontent.com/assets/11497453/13105211/fb30e32a-d572-11e5-88f9-163994cfec21.png)

![2](https://cloud.githubusercontent.com/assets/11497453/13105214/ff449d26-d572-11e5-996d-8961c9218bfa.png)

  Программа по-прежнему отображает следующее окно с сообщением

[2016-02-17 09:48] NikolayUkleyko commented on #3444
Пожалуйста, в формы **Журнал-ордер** и **Оборотная ведомость** добавьте отображение данных (A, P, B) из поля ACCOUNTTYPE.

[2016-02-17 09:53] MIchaelShoihet commented on #3444
Зачем ?

[2016-02-17 09:54] MIchaelShoihet commented on #3444
Какой пользователь будет их открывать и смотреть? Если делать то именно выделение цветом типов счетов...

[2016-02-17 09:57] MIchaelShoihet commented on #3673
Решили пока от этой идее отказаться.

[2016-02-17 09:58] NikolayUkleyko commented on #3483
Да, программа при сохранении документа выполняет проверку на равенство содержания драгоценных металлов между расходной и приходной частями документ и при необходимости выводит соответствующее сообщение:
![1](https://cloud.githubusercontent.com/assets/11497453/13105761/d1f0011e-d575-11e5-84ce-d263e011236b.png)

  Надо определится, что существующего функционала достаточно или нет. У кого какие есть

[2016-02-17 10:00] MIchaelShoihet commented on #3444
Хотя возможно да, сейчас есть сохраненные формы и они накроются на стандартное выделение. Да лучше просто добавить тип счета в запросы и в ПИ настроить грид Оборотной ведомости в соответствии с этим.

[2016-02-17 10:03] NikolayUkleyko commented on #3504
Пожалуйста, закройте данную тему.

[2016-02-17 10:08] #3504 closed, assigned to gsbelarus

[2016-02-17 10:20] NikolayUkleyko commented on #3631
Проверено.
  Работает корректно.
  Большое спасибо, Паша !
:trophy:

[2016-02-17 10:20] #3631 closed, assigned to zholnerovich

[2016-02-17 10:39] gsbelarus commented on #3494
В данном случае надо прописывать **TgdcBaseContact**.

[2016-02-17 10:40] gsbelarus commented on #3494
Указывать TgdcDepartment -- это ошибка, так как записи с contacttype = 2 -- это люди, а не подразделения.

[2016-02-17 10:43] MIchaelShoihet commented on #3483
Сообщение наверное должно быть информационным. Потому что возможна ситуация, когда в частях драг металлы не учитывали, а сейчас собрали и решили учитывать... Кнопку сделать активной только если вверху одно наименование.

[2016-02-17 10:45] NikolayUkleyko commented on #3494
Я понимаю.
  Так реализовано на эталоне и сохранено в ПИ.

[2016-02-17 11:10] NikolayUkleyko commented on #3444
Михаил Юрьевич, имеете в виду отчеты или непосредственно грид формы ?

[2016-02-17 11:12] NikolayUkleyko commented on #3514
В ПИ **_Кассовые документы 10**_ есть отчет **Журнал регистрации приходых и расходных кассовых ордеров**.
  Если, ни у кого нет вопрос, пожалуйста, закройте данную тему.

[2016-02-17 11:14] #3514 closed, assigned to gsbelarus

[2016-02-17 11:15] MIchaelShoihet commented on #3444
Я имею ввиду грид формы, отчет мне кажется менее принципиально

[2016-02-17 13:18] NikolayUkleyko commented on #3444
Я тоже о гриде. Я не представляю, как это будет реализовано ?

[2016-02-17 13:52] NikolayUkleyko commented on #3558
По данной теме выполнена большая работа. План счетов сохранен в ПИ. При этом часть счетов, где **ID < 147000000**, генерируемых скриптами соответственно в ПИ не хранится.
  Если, ни у кого нет вопросов по данной теме, пожалуйста, закройте здесь.

[2016-02-17 14:00] alexandra-gsoftware commented on #3558
они все хранятся, даже со стандартными ид, но вопрос все равно можно закрыть.

[2016-02-17 14:00] #3558 closed, assigned to alexandra-gsoftware

[2016-02-17 14:20] NikolayUkleyko commented on #3558
Например, 02 (Счет)
Не входит в ПИ

[2016-02-17 14:23] alexandra-gsoftware commented on #3558
входит в пи бухгалтерские счета

[2016-02-17 14:23] alexandra-gsoftware commented on #3558
если б не входил - не переносились бы аналитики

[2016-02-17 16:14] #3736 closed, assigned to gsbelarus

[2016-02-17 16:16] gsbelarus opened #3737 "Время для объектов записывать строго в GMT"
Сейчас пишется с часовым поясом и если у человека на компьютере неверный часовой пояс, то будет показывать разное время, хотя оно на самом деле одинаковое.

[2016-02-17 16:19] gsbelarus commented on #3667
Если задан, то пытается сопоставить по штрих-коду, если штрих-код не заполнен, то по имени.

Два одноименных товара в БД это огромное зло.

[2016-02-18 06:40] NikolayUkleyko commented on #3558
Интересная ситуация получается.
  Если, по счету 02 в контекстном меню выбрать команду **_Пространство имен...**_, то видим, что данный счет не входит в ПИ. Если, же посмотреть непосредственно ПИ **Бухгалтерские счета**, то счет 02 присутствует. Как это понимать ?
  Еще вопрос. При генерировании БД **Комплексная автоматизация** все счета загружаются из ПИ **Бухгалтерские счета** или часть счетов п

[2016-02-18 07:03] NikolayUkleyko commented on #3720
**c**. Окно выбора функций по размерам мало.
![3](https://cloud.githubusercontent.com/assets/11497453/13136001/b8005266-d626-11e5-8c2e-98cb84503f16.png)

  Пожалуйста, увеличьте его так, как и увеличили окно выбора переменных.

[2016-02-18 07:07] NikolayUkleyko commented on #3536
Проверено.
  Работает корректно.

[2016-02-18 07:44] NikolayUkleyko opened #3738 "Грид. Автофильтр. Добавить возможность прокрутки списка значений скроллом мышки"
Пожалуйста, в автофильтр добавьте возможность прокрутки списка значений **скроллом мышки**. Окно значений автофильтра мало. Не удобно прокручивать панель. При этом на **большом объеме данных** имеет место притормаживание. Один раз выбрал не то значение, потом надо снова перевыбирать другое.

![1](https://cloud.githubusercontent.com/assets/11497453/13136619/2586efa2-d62c-11e5-9bee-2f29b29c66a9.png)

[2016-02-18 08:00] gsbelarus commented on #3558
Эталон комплит.
Иду в справочник счетов.
Счет 02 -- правая кнопка - ПИ.
Вверху диалогового окна надпись:

[2016-02-18 08:12] NikolayUkleyko opened #3739 "Бухгалтерия. Журнал-ордер и Карта счета. Формат отображение дат (Q)"
**_Исследователь / Бухгалтерия / Журнал-ордер, Карта счета_.**

Давайте посмотрим, как в **Журнале-ордере** в гриде выводятся даты:
![1](https://cloud.githubusercontent.com/assets/11497453/13136970/e9c1b59e-d62e-11e5-8bea-bfbfe663c443.png)

Теперь, аналогичное в **Карте счета**:
![2](https://cloud.githubusercontent.com/assets/11497453/13136985/fbbda5dc-d62e-11e5-9e2d-302bd6016929.png)

Давайте пос

[2016-02-18 08:16] gsbelarus commented on #3739
Привычный формат из повседневной жизни это **дд.мм.гг**, но в журнале ордере идет группировка и сортировка записей по дате. В этом случае гораздо удобнее видеть даты как **гггг-мм-дд**.

[2016-02-18 08:36] NikolayUkleyko commented on #3739
Я согласен.
Я помню, Вас, давно просили в списке значений автофильтра сделать по-умолчанию сортировку **по убыванию**, Вы, сказали, что не стоит.
Мы согласились.
Не просим об этом.
Но, надо прийти к одному формату отображения дат при прочих равных условиях.
Возможно это или нет ?

[2016-02-18 10:26] NikolayUkleyko commented on #3502
Проверено на 14-и цифрах.
  Работает корректно.
  Если, ни у кого нет вопросов по данной теме, пожалуйста закройте здесь.

[2016-02-18 10:37] #3502 closed, assigned to gsbelarus

[2016-02-18 13:12] alexandra-gsoftware commented on #3558
Один и тот же ехе. Две разные базы. На обеих в AT_OBJECT этот счет есть, т.е. он входит в ПИ Бухгалтерские счета. Сравнение с ПИ Бухгалтерские счета на обеих базах не показывает различий.

Однако на тестовой базе Николая в окне Свойства, или в окне добавления в ПИ Гедымин показывает, что счет не входит никуда.

У этого счета стандартный РУИД (ДБИД = 17). Он не входит ни в какие ПИ кроме Бухгалтерс

[2016-02-18 13:17] gsbelarus commented on #3558
Киньте ссылку на БД

[2016-02-18 18:57] hirurg-lybitel opened #3740 "АЙ-ай-ай. Кнопка убежала..."
![image](https://cloud.githubusercontent.com/assets/11502258/13154486/39236d02-d68a-11e5-87c9-ea64589ae6cf.png)

[2016-02-19 08:25] NikolayUkleyko opened #3741 "Бухгалтерия. На gedemin.exe от 18.02.2016 г. недоступны отчеты по бухгалтерским формам"
После обновления gedemin.exe (Дата файла = 18.02.2016, Версия файла = 2.9.2.8541) стали недоступны отчеты по бухгалтерским формам. Отчеты реально существуют в редакторе скрипт-объектов.
  Пожалуйста, исправьте.

[2016-02-19 08:40] NikolayUkleyko opened #3742 "Общие. Поиск по биноклю. Доработки"
**a**.  Инструментов поиска и фильтрации в программе много.
Одним из удобных инструментов является поиск при помощи **Бинокля (Ctrl+S)**.
При первом использовании бинокля и/или для поиска требуемого поля необходимо нажать на кнопку **Все поля**.
Программа отобразит много-много полей.
Приходится при помощи ползунка прокручивать список полей.
Не совсем удобно при наличии большого перечня полей.
Можн

[2016-02-19 08:46] NikolayUkleyko opened #3743 "Выпадающий список. Запретить прокрутку значений скроллом мышки (Q)"
Пожалуйста, в выпадающих полях запретите прокрутку значений списка скроллом мышки. Пользователь может случайно выбрать другое значение. Это может быть и в документах (в шапке документа выбор счета, клиента и т. д.), и в бухгалтерских формах (выбор конкретных значений аналитики) и т. д.
  Пожалуйста, изложите свои точки зрения на данную тему ?

[2016-02-19 08:50] gsbelarus commented on #3741
@zholnerovich я не совсем понимаю этот код в gd_reportmenu.pas:

[code]

Речь же идет о меню отчетов. Причем тут макросы?

Срочно надо поправить.

[2016-02-19 08:56] gsbelarus commented on #3743
А как запретить? Это стандартное поведение Windows. Курсор установлен в поле и естественно что поле обрабатывает ввод.

Точно также ты поставь в Excel курсор на клетку и введи какую-нибудь букву. Старое значение сотрется -- новое введется. Так и тут.

[2016-02-19 09:18] NikolayUkleyko commented on #3743
Если, стандартно как в Windows, тогда не вносите правки.
  Я просто предложил.

[2016-02-19 09:28] AliakseiDanilchyk commented on #3743
Стандартное поведение - это когда прокрутка меняет значение при раскрытом списке. У нас местами значения меняются и при свернутом списке. Например, список рабочих столов на главном окне. В списке аналитик журнала-ордера прокрутка меняет значение ранее выбранной аналитики на пустое.

[2016-02-19 09:36] gsbelarus commented on #3743
Нет. проверь на любом диалоговом окне, например в Microsoft Office, список закрыт, но скролмышки будет его прокручивать.

[2016-02-19 09:37] AliakseiDanilchyk commented on #3743
На списках сделанных через TComboBox такое поведение

[2016-02-19 10:09] NikolayUkleyko commented on #3743
Так и есть.

[2016-02-22 09:35] NikolayUkleyko opened #3744 "Грид. Добавить возможность копирования сумм из итоговой строки"
Пожалуйста, предусмотрите возможность копирования сумм из итоговой строки. На практике это **крайне необходимо** для анализа данных из разных форм, отчетов и т. д. (копирование в Excel и выявление расхождений). При этом копирование должно корректно работать и по составным полям.

[2016-02-22 14:27] alexandra-gsoftware commented on #3741
из Пространства имен тоже отчеты исчезли. Щелчок по молнии перекидывает в APPLICATION. Сделайте что-нибудь!!

[2016-02-22 14:51] alexandra-gsoftware commented on #3741
воот, сейчас в форме ПИ все ок с отчетами. Спасибо.

[2016-02-22 15:03] #3741 closed, assigned to zholnerovich

[2016-02-22 15:11] NikolayUkleyko opened #3745 "Грид. Добавить возможность отображения выборочных итогов по составным полям"
Пожалуйста, предусмотрите возможность отображения выборочных итогов по **составным полям**.
В мастере установок при расширенном отображении можно указать, по какой колонке выводить итоги, а по какой - нет.
На практике итоги выводятся по всем полям, независимо от выбранных.

[2016-02-22 15:21] NikolayUkleyko opened #3746 "Бухгалтерия. Произвольное отображение ###### в итоговых строках (Q)"
**_Исследователь / Бухгалтерия / Журнал-ордер, Оборотная ведомость, Карта счета, Главная книга, Анализ счета_.**

При формировании вышеприведенных форм в итоговых строках произвольно отображаются не суммы, а **######**.
При повторном обновлении формы итоги отображаются корректно.
Пожалуйста, устраните данную **_напрягающую_** недоработку.
Программа должна работать четко и надежно по одному клику.

[2016-02-22 17:19] alexandra-gsoftware commented on #3671
на последнем ехе приказ грузится

[2016-02-22 17:19] #3671 closed, assigned to gsbelarus

[2016-02-23 10:11] NikolayUkleyko opened #3747 "Запретить выполнение автозадач при установке ПИ / настроек"
Пожалуйста, запретите выполнение автозадач при установке ПИ / настроек. При установке ПИ в некоторых случаях требуется **перезагрузка программы**. При этом есть автозадачи, запускаемые при перезагрузке программы. В результате, установка ПИ откладывается на время выполнения той или иной автозадачи.

[2016-02-23 10:39] gsbelarus commented on #3747
Это автоматическая перезагрузка или ты сам вручную ее делаешь?

[2016-02-23 11:00] NikolayUkleyko commented on #3747
Автоматическая перезагрузка.
  Такое точно имеет место при работе с **настройками**. Настройки никто не отменял, так как при помощи данного механизма на базы данных крупных клиентов выполняется установка доработок.

[2016-02-23 14:00] NikolayUkleyko commented on #3691
Проверено.
  Работает корректно.
  Большое спасибо !
:trophy:

[2016-02-23 14:00] #3691 closed, assigned to MIchaelShoihet

[2016-02-23 14:05] NikolayUkleyko commented on #3635
Проверено.
  Работает корректно.
  Большое спасибо !
:trophy:

[2016-02-23 14:05] #3635 closed, assigned to zholnerovich

[2016-02-23 14:07] NikolayUkleyko commented on #3627
Проверено.
  Работает корректно.
  Большое спасибо !
:trophy:

[2016-02-23 14:07] #3627 closed, assigned to zholnerovich

[2016-02-23 14:19] NikolayUkleyko commented on #3720
Проверено.
  Работает корректно.
  Большое спасибо !
:trophy:

[2016-02-23 14:19] #3720 closed, assigned to zholnerovich

[2016-02-24 11:57] gsbelarus commented on #3747
Для ПИ теперь точно ни при каких условиях не будут дергаться автозадачи. Для настроек править нет возможности. Код слишком устарел. У большинства даже больших клиентов уже обновили экзешники. Если есть что-то, что невозможно перенести с помощью ПИ (по сравнению с настройками), то надо писать -- исправим.

PS: Настройки более опасный механизм. Особенно для крупных клиентов, так как переносят все со

[2016-02-24 11:57] #3747 closed, assigned to gsbelarus

[2016-02-24 13:38] alexandra-gsoftware opened #3748 "Свойства -> методы класса vs Наследование"
Для наследованных док-тов TgdcUserDocument и TgdcUserDocumentLine не находится веточка методов по кнопке **Методы класса**. Хотя сама ветка есть, и даже есть методы. Исправьте плз, бесит.

[2016-02-24 14:03] NikolayUkleyko commented on #3747
Спасибо и за это.

[2016-02-24 14:15] NikolayUkleyko opened #3749 "Информация о БД. Доработки"
Предлагаю следующее:

1. На панель инструментов программы в место, где отображается путь к БД добавить отображение **названия текущей БД**.

2. В список БД добавить поле **Дата и время предыдущего подключения**.
Это будет не лишним при работе с несколькими тестовыми БД.

3. В диалоговое окно реквизитов БД добавить вкладки **Основное** и **Справка**:

    **а**. На вкладку **Основное** перенести ре

[2016-02-24 15:12] NikolayUkleyko commented on #3748
@alexandra-gsoftware слабо сказано - **бесит**.

[2016-02-24 15:29] NikolayUkleyko commented on #3602
Проверено.
  Работает корректно.
:trophy:

[2016-02-24 15:38] gsbelarus commented on #3749
Под Админом будет путь, под не админом -- название БД. Копирование в буфер из списка добавлено. Вставка из буфера с разбором полного имени БД на составляющие добавлена в диалоговое окно регистрации новой бд.

[2016-02-24 15:43] NikolayUkleyko opened #3750 "ПИ. Предусмотреть групповую пометку ПИ, выбранных при помощи клавиши Ctrl (Q)"
Пожалуйста, предусмотрите возможность **групповой пометки ПИ**, выбранных при помощи клавиши **Ctrl**. Сейчас, приходится по каждому ПИ делать пометку, выбранным при помощи кнопки **Ctrl**. Это крайне неудобно.

[2016-02-24 16:32] #3745 closed, assigned to gsbelarus

[2016-02-24 16:33] hirurg-lybitel opened #3751 "ПИ. Упрощение добавления нового объекта в ПИ"
Хотелось бы, чтобы при добавлении нового объекта(т.е. объект до сего момента не входит ни в какие ПИ) в ПИ по умолчанию активизировался пункт "Добавить". Учитывая, что всё равно другие пункты недоступны, это кажется вполне логичным.

P.S. Меньше действий совершаем - меньше времени тратим.

[2016-02-24 17:22] alexandra-gsoftware opened #3752 "Юзерский документ: Шапка не постится при добавлении позиции."
Может, так и задумано, но мне кажется, что раньше шапка постилась сама, если сделать Edit \ Insert позиции?

[2016-02-24 17:37] MIchaelShoihet commented on #3752
Шапке пост делается только перед Insert, перед Edit он никогда не делался. Притом пост шапке делается только в случае если она находится в состоянии вставки. Для складского документа Post шапке делает в любом случае, т.к. принципиально для формирования складского движения.

[2016-02-24 17:41] alexandra-gsoftware commented on #3752
да, шапка постится при добавлении позиции, если состояние было инсерт. Спасибо

[2016-02-24 17:41] #3752 closed, assigned to gsbelarus

[2016-02-25 06:39] NikolayUkleyko commented on #3745
Проверено.
  Работает корректно.
  Большое спасибо !
:trophy:

[2016-02-26 09:29] NikolayUkleyko opened #3753 "Бухгалтерия. Автоматическая и ручная проводка. Карта счета. Отображение наименований в поле 'Типовая проводка' (E/V)"
**Исследователь > Бухгалтерия > Карта счета**.

Сейчас проводки, созданные **вручную** в Журнале хоз. операций и проводки, созданные при помощи **автоматических хоз. операций** в колонке **Типовая проводка** отображаются **одинаково**, как - **Произвольная проводка**. Не совсем это корректно. Так как, при анализе данных не понятно какая проводка действительно ручная, а какая не ручная.

Предлагаю

[2016-02-27 17:48] gsbelarus opened #3754 "Тестирование gdcc"
1. Файл отсутствует
2. Присутствует посторонний экзешник с таким же именем
3. Файл присутствует, но версия нам не подходит
4. Принудительно завершен клиент
5. Принудительно завершен сервер
6. Таймаут на клиенте
7. Таймаут на сервере
8. Передаются не данные в формате, который не ожидает клиент
9. Клиент в бесконечном ожидании данных от сервера
10. Занят порт сервера
11. Приложение выполняется в тер

[2016-02-28 18:15] hirurg-lybitel opened #3755 "Окно "Вычислить""
Раньше было явно лучше.

По умолчанию:
![image](https://cloud.githubusercontent.com/assets/11502258/13380952/123ee300-de60-11e5-843e-50deab3d8403.png)

Уменьшаем:
![image](https://cloud.githubusercontent.com/assets/11502258/13380961/3d70fe82-de60-11e5-9f84-f2a5a0fe38d8.png)

Увеличиваем:
![image](https://cloud.githubusercontent.com/assets/11502258/13380966/493d1e30-de60-11e5-84c8-0bdc4c61d830.png)

[2016-02-28 19:56] stasgm opened #3756 "Отчёты из ПИ "GS.Пространство имен.Отчеты" не отображаются в форме "Пространство имен""
Вот теперь так:
![image](https://cloud.githubusercontent.com/assets/8355925/13381475/2298fa66-de6e-11e5-9cb4-41f6e51441f7.png)

![image](https://cloud.githubusercontent.com/assets/8355925/13381479/3231232c-de6e-11e5-9fb3-354f0f9d5ec1.png)

[2016-02-29 06:51] NikolayUkleyko commented on #3756
Стас, обнови gedemin.exe.

[2016-02-29 07:27] NikolayUkleyko opened #3757 "Бухгалтерия. Журнал-ордер. Доступность реквизита 'Корреспонденция с субсчетами' (Q)"
**Исследователь / Бухгалтерия / Журнал-ордер**.

Для удобства работы и не заведения пользователей в заблуждение предлагаю реквизит **Корреспонденция с субсчетами** делать **доступным** только в том случае, если хотя бы один и/или два реквизита **Расшифровка по дебету**, **Расшифровка по кредиту** были выбраны.
В противном случае, реквизит **Корреспонденция с субсчетами** должен быть недоступным.
Н

[2016-02-29 08:10] NikolayUkleyko opened #3758 "Грид. Слетает автофильтр в случае открытия записи на редактирование"
При выборе значения в автофильтре и открытии/закрытии записи на редактировании автофильтр становится неактивным.
Не удобно, так как, приходиться каждый раз выбирать значения в автофильтре.
Пожалуйста, предусмотрите возможность.

[2016-02-29 08:15] NikolayUkleyko opened #3759 "Грид. При переходе по записям в шапке слетает сортировка значений в позиции"
В случае, когда **в позиции грида** выполнена сортировка записей по клику по колонке, то **при переходе по записям в шапке** слетает **сортировка в позиции**.
Не удобно, так как каждый раз приходится кликать по колонке и/или сортировать данные в колонке при помощи предопределенных фильтров.
Пожалуйста, предусмотрите возможность.

[2016-02-29 08:28] NikolayUkleyko opened #3760 "Период дат. Нельзя выбрать неограниченный период"
Как сформировать форму, отчет и т. д. за неограниченный период времени ? Для анализа данных за неограниченный период. Затем, в выявленном периоде выполнять дальнейшие работы с данными.
  В компоненте **TgsPeriodEdit** нельзя выбрать неограниченный период времени. Пустым оставить данный компонент программа не позволяет, так как, вставляет текущий день.
  В тоже время, возможность выбора неограничен

[2016-02-29 09:35] NikolayUkleyko opened #3761 "Бухгалтерия. Журнал хоз. операций. В диалоговую форму добавить кнопку 'Дубликат'"
**Исследователь > Бухгалтерия > Журнал хоз. операций**.

  Пожалуйста, предусмотрите в диалоговой форме по сторонам **Дебет**, **Кредит** кнопку **Дубликат**. Это будет удобно при добавлении аналогичных записей по одной из сторон.

[2016-02-29 09:59] NikolayUkleyko opened #3762 "Мастер установок. Предусмотреть горячие клавиши для 'Свойства закладки / Заглавие колонки' (Q)"
**a**.  Пожалуйста, в мастере установок на закладке **Свойства закладки** в поле **Заглавие колонки** предусмотрите горячие клавиши для:
- копирования (Ctrl+C);
- вставки (Ctrl+V);
- вырезания данных (Ctrl+X);
- отмены предыдущего действия (Ctrl+Z).

  Так, будет удобнее.

**b**.  Пожалуйста, предусмотрите, чтобы в поле **Заглавие колонки** корректно конвертировались данные с одного языка на друго

[2016-02-29 10:27] stasgm commented on #3756
Это проблема  была на exe, которую скачивал днём в всокр. Обновлю сейчас снова и попробую.

[2016-02-29 10:29] #3756 closed, assigned to gsbelarus

[2016-02-29 10:30] alexandra-gsoftware commented on #3756
это еще на той неделе поправили. может, опять поломали??

[2016-02-29 11:09] stasgm commented on #3756
Проверил. Работает.

[2016-03-01 06:46] #3755 closed, assigned to gsbelarus

[2016-03-01 06:47] #3751 closed, assigned to gsbelarus

[2016-03-01 07:13] NikolayUkleyko commented on #3462
Рассматриваемая тема перенесена сюда https://github.com/GoldenSoftwareLtd/gedemin/issues/3758
  Это касается не только документа **Банковская выписка**, но и всех остальных.
  Здесь можно закрыть.

[2016-03-01 07:15] #3462 closed, assigned to gsbelarus

[2016-03-01 07:19] NikolayUkleyko commented on #3390
Пожалуйста, закройте данную тему.

[2016-03-01 07:22] #3390 closed, assigned to gsbelarus

[2016-03-01 07:36] NikolayUkleyko commented on #2839
Приведу простой пример актуальности данной темы.
Подсистема ЗП и ОК. Формирование бухгалтерских проводок по счету **_76.02 (Расчеты по имущественному и личному страхованию)_**.
В типовой проводке по счету 76.02 по аналитике **Клиент** задается конкретное значение (Белгосстрах...области...району).
Со временем с определенной даты может быть выбрана совершенно другая организация.
Для того, чтобы в ти

[2016-03-01 07:43] NikolayUkleyko commented on #3458
@MIchaelShoihet , пожалуйста, подскажите по данной теме. При необходимости внесите коррективы.

[2016-03-01 07:50] NikolayUkleyko commented on #2464
Пожалуйста, закройте данную тему.

[2016-03-01 07:59] #2464 closed, assigned to gsbelarus

[2016-03-01 08:09] NikolayUkleyko commented on #1830
В документ возврата товаров в признаки существующей карточки добавляем признак **ставка НДС отпуска (USR$INV_SELLNDS)**. Настраиваем типовые проводки согласно данной ставки. Так реализовано на эталонной БД и скинуто в ПИ.

  По поводу @kovli.gs

  Спорный момент. Зачем так усложнять ? Есть же признаки существующей карточки.

[2016-03-01 08:25] NikolayUkleyko commented on #1688
Для корректности работы сперва указываем знак, а потом вводим число. Все равно при переходе на следующую строку или ячейку скидывается знак. Но, если использовать клавишу **Tab**, то знак сохраняется.

[2016-03-01 08:45] NikolayUkleyko commented on #1188
Скажите, пожалуйста, актуальна ли еще данная тема ?

[2016-03-01 08:46] #1188 closed, assigned to gsbelarus

[2016-03-01 08:48] NikolayUkleyko commented on #1251
Предположительно данная проблема устранена.
  Какие будут предложения ?

[2016-03-01 09:06] NikolayUkleyko commented on #1051
Есть такая проблема, когда из Excel скопировав значение с **разрядами** пытаешься его вставить в ячейку Гедымина - программа отображает окно с сообщением об ошибке:

![1](https://cloud.githubusercontent.com/assets/11497453/13422415/bd2aebba-dfa5-11e5-9291-f65513d79b01.png)

  Это вызывает неудобства.
  Пожалуйста, предусмотрите такую возможность.

[2016-03-01 09:08] gsbelarus commented on #1051
В ячейку или в калькулятор?

[2016-03-01 09:09] NikolayUkleyko commented on #908
@MIchaelShoihet , пожалуйста, подскажите, это еще актуально ?

[2016-03-01 09:11] #908 closed, assigned to gsbelarus

[2016-03-01 09:19] NikolayUkleyko commented on #1046
Пожалуйста, подскажите, актуальна ли данная тема ?
  Если, нет - закройте данную тему.

[2016-03-01 09:21] NikolayUkleyko commented on #1051
В ячейку.

[2016-03-01 09:23] gsbelarus commented on #1051
Для ячейки сделано.

Остальное можно закрывать?

[2016-03-01 09:23] NikolayUkleyko commented on #1043
С @MIchaelShoihet мы данную тему обсуждали. Сейчас сумма входящего НДС в документах **ОС. Акт ввода** не рассматривается. Соответственно к зачету не берется.

[2016-03-01 09:24] #1046 closed, assigned to gsbelarus

[2016-03-01 09:30] NikolayUkleyko commented on #1051
В режиме калькулятора при вводе значение пропадает и ставится 0. Ошибки при этом нет.

[2016-03-01 09:37] NikolayUkleyko commented on #1016
Скажите, пожалуйста, данная тема это есть продолжение в http://gsbelarus.com/gs/wiki/index.php/Сохранение_параметров_грида ?

[2016-03-01 09:42] NikolayUkleyko commented on #1009
Скажите, пожалуйста, по данной теме все реализовано ?

[2016-03-01 09:47] NikolayUkleyko commented on #984
Сейчас на эталоне и в ПИ в платежном поручении в поле **Типовая операция** можно выбрать все операции из ветки **Банк** и если они по документу **Банковская выписка**.
  Если, этого достаточно, пожалуйста, закройте данную тему.

[2016-03-01 09:55] NikolayUkleyko commented on #687
Как вариант, существует ПИ **GS.Безопасность.Разграничение прав пользователя**.
Описание смотрите здесь http://gsbelarus.com/pw/articles/post/global-filter/.

[2016-03-01 09:57] NikolayUkleyko commented on #713
Пожалуйста, подскажите, актуальна ли данная тема ?

[2016-03-01 10:00] NikolayUkleyko commented on #734
Можно предположить, что при переходе на СУБД **Firebird 3.0** это будет реализовано ?

[2016-03-01 10:08] NikolayUkleyko commented on #825
В форме выбора остатков ТМЦ, ОС и т. д. в поле **Выбрать** помимо указания галки (выбор всех остатков) предусмотрен ввод **требуемого количества**.
  Если, ни у кого нет вопросов, пожалуйста, закройте данную тему.

[2016-03-01 10:08] #1009 closed, assigned to gsbelarus

[2016-03-01 10:10] NikolayUkleyko commented on #835
Не вижу смысла в данном функционале.
  Возможно, у кого-то есть предложения ?

[2016-03-01 10:11] NikolayUkleyko commented on #856
Скажите, пожалуйста, а сейчас как работает ? Не к форме ?

[2016-03-01 10:19] #856 closed, assigned to gsbelarus

[2016-03-01 10:20] #835 closed, assigned to gsbelarus

[2016-03-01 10:20] #825 closed, assigned to gsbelarus

[2016-03-01 10:21] NikolayUkleyko commented on #614
Добавив признак **Дата поступления**, то в форме выбора остатков ТМЦ позиции с одной ценой будут разбиты на n-е число строк согласно даты поступления. Это усложнит и замедлит работу пользователя и БД.
  Предположительно, под датой поступления имеется в виду не дата непосредственного **_поступления на склад предприятия**_ (документ **01. Накладная на получение материалов, ОС, МБП**), а дата **_пере

[2016-03-01 10:32] NikolayUkleyko commented on #420
Все это хорошо.
Идея хранение корректных проводок имеет место у конкурентов.
Это на уровне простых проводок.
В Гедымине предусмотрена действительно гибкая настройка сложных типовых проводок.
Как у конкурентов - не известно.
Каждая новая проверка, запрет и т. д. имеют свой предел.
В итоге часть проверок, запретов снимается для удобства работы пользователей с программой.
Это моя точка зрения.

[2016-03-01 10:44] NikolayUkleyko opened #3763 "Мастер установок. Увеличить размер формы по умолчанию"
**a**.  Пожалуйста, увеличьте размер формы Мастера установок по умолчанию.

**b**.  Предусмотрите, чтобы по умолчанию ширина колонок **Колонка** и **Поле таблицы** были на максимальную ширину соответствующих значений.

  Сейчас приходится **каждый раз** увеличивать размер формы мастера установок и делать больше ширину колонок **Колонка** и **Поле таблицы**.
  Это крайне неудобно.

![1](https://clo

[2016-03-01 10:45] gsbelarus commented on #3763
Скоро будет другая система настроек в принципе.

[2016-03-01 10:47] NikolayUkleyko commented on #3763
Мастер установок сменится иным механизмом визуальных настроек ?
  "Скоро" может затянутся на несколько месяцев, лет.
  Мастер установок проверенное временем решение. Если, не сложно, то поправьте.

[2016-03-01 10:50] gsbelarus commented on #3763
@zholnerovich обещает, что скоро

[2016-03-01 10:59] NikolayUkleyko opened #3764 "ПИ. Предусмотреть горячие клавиши для выполнения/снятия пометки файлов"
Пожалуйста, предусмотрите горячую клавишу для выполнения пометки файлов:
- **Ins** - для пометки только текущего файла;
- **Ins + A** - для пометки текущего файла и всех зависимых;
- **Shift + A** - для снятия пометки со всех файлов.

  Сейчас приходится каждый раз обращаться на панель инструментов и выбирать соответствующую команду. Случайно можно выбрать не ту команду. Потом отмена. Это требует

[2016-03-01 11:14] MIchaelShoihet commented on #614
Если бы он был бы так необходим его бы уже добавили :)

[2016-03-01 11:14] #614 closed, assigned to gsbelarus

[2016-03-01 11:39] NikolayUkleyko opened #3765 "Бухгалтерия. В грид типовой проводки добавить локализованные наименования полей"
**Исследователь > Бухгалтерия >Типовые хоз. операции**.

  Пожалуйста, в грид типовой проводки добавьте **локализованное** наименование документа.
  Сейчас для просмотра документа приходится каждый раз открывать на редактированию типовую проводку. Не удобно.

[2016-03-01 11:49] MIchaelShoihet commented on #3765
Да это полезно.

[2016-03-01 13:03] alexandra-gsoftware commented on #1660
уже неактуально

[2016-03-01 13:03] #1660 closed, assigned to gsbelarus

[2016-03-01 20:21] alexandra-gsoftware commented on #3760
хм, я бы ввела 1900-2100 гг, например, и все построится за неограниченный период.

[2016-03-02 11:25] arthur-latunov commented on #3764
**Shift + A** - для снятия пометки со всех файлов => **Ctrl+A, Shift+Del**

[2016-03-02 11:37] arthur-latunov commented on #3764
"Сейчас приходится каждый раз **обращаться на панель инструментов** и выбирать соответствующую команду." **Есть ещё и правый клик мыша.**

[2016-03-02 11:50] alexandra-gsoftware commented on #3764
а я бы попросила еще убрать из всплывающего меню на гриде пункт "снять пометку со всех записей". когда-то давно ее не было, золотые были времена. или пусть оно хотя бы спрашивает перед тем, как выполниться.

[2016-03-03 08:00] NikolayUkleyko commented on #3760
Возможен и такой вариант.
  На практике встречаются ситуации, когда хозяйственная операция была **_случайно (ошибочно)**_ отражена некорректной датой. То есть, < 1900 или > 2100 гг. Сейчас приходится подбирать временной период. Для выявления некорректно введенных данных не мешал бы реквизит **Неограниченный период**.
  Это моя точка зрения.
  Решайте.

[2016-03-03 08:13] NikolayUkleyko commented on #3764
@arthur-latunov

  Несколько действия. Усложняет процесс. При выполнении всего одной комбинации клавиш будет гораздо удобнее.

  По удобству проигрывает горячим клавишам. Необходимо время на поиск нужной команды в контекстном меню. Можно промахнуться и опять повтор.

@alexandra-gsoftware

  Тебе не нравится наличие команды **Снять отметку со всех записей** в контекстном меню ?

![1](https://cloud.

[2016-03-03 08:16] MIchaelShoihet commented on #3760
Может быть. Но я считаю что его необходимость достаточна мала, поэтому предлагаю закрыть тему.

[2016-03-03 08:16] #3760 closed, assigned to nobody

[2016-03-03 08:49] NikolayUkleyko commented on #3346
Выполнены доработки и сохранены в ПИ.
  Проверено.
  Работает корректно.
  Пожалуйста, закройте данную тему.

[2016-03-03 08:53] NikolayUkleyko commented on #251
Скажите, пожалуйста, актуальна ли данная тема ?

[2016-03-03 09:13] NikolayUkleyko opened #3766 "Бухгалтерия. Журнал-ордер, Карта счета, Анализ счета. Выбор счетов"
**_Исследователь / Бухгалтерия / Журнал-ордер, Карта счета, Анализ счета_**.

**a**.  При вводе счета в поле **Счета** (TComboBox) автоматически подставляется близкий счет из уже выбранных до текущего момента счетов.
Не совсем удобно.
Пример. Требуется сформировать форму по 10-у счету с проставленной галкой по реквизиту **Включать субсчета**.
Введя 10, автоматически будет выбран счет 10.01.
Зачем

[2016-03-03 09:24] NikolayUkleyko commented on #3765
Еще хорошо бы оперативно видеть значения из полей:
- План счетов (при использовании нескольких планов счетов будет удобно);
- Функция.

[2016-03-03 09:44] NikolayUkleyko opened #3767 "Сохранение/разворачивание структуры БД"
Реально ли реализовать возможность сохранения всей структуры БД (метаданные, функции и т. д.) с дальнейшей возможностью создания новой чистой БД с существующей структурой ? Далее в новую чистую БД будут переброшены остатки (склад, бухгалтерия и т. д.).
  Такой функционал будет использоваться в следующих  случаях:
1. Учет в БД велся без контроля вводимых данных на корректность. Для того, чтобы не з

[2016-03-03 11:41] alexandra-gsoftware commented on #3767
думаю, реально

[2016-03-03 11:44] alexandra-gsoftware commented on #3764
я постоянно промахиваюсь, они ведь рядом(
Предупреждение - тоже ок.

[2016-03-03 11:49] gsbelarus commented on #3767
Я же уже отвечал на подобный вопрос. тут проще не сохранение структуры, а сделать удаление ВСЕХ проводок, ВСЕХ документов, ВСЕГО складского дв. Вот тебе готовая бд с функционалом и справочниками. если это актуально, то сделаем быстро.

[2016-03-03 12:05] NikolayUkleyko commented on #3767
@alexandra-gsoftware рассмотрю твой вариант.

@gsbelarus Это актуально. Рассмотрю и этот вариант. Как вариант, через командную строку.

  Потом со временем определимся какому варианту отдать предпочтение.

[2016-03-03 12:15] MIchaelShoihet commented on #3767
Процедура наверняка полезная, но вместо сжатия данных ее использовать нельзя будет. Никто из больших предприятий не хочет начинать с нуля... Хотя бы предыдущий год все хотят видеть и проводить с ним сравнения, опять же зарплата нужна...

[2016-03-03 13:46] NikolayUkleyko commented on #3767
Не спорю. Как вариант, временно обращаться к старой БД. Ведь, любое предприятие начинало с 0.

[2016-03-04 10:07] NikolayUkleyko opened #3768 "Бухгалтерия. Конструктор функций. Отображение списка полей документа в редакторе выражений (Q)"
**Исследователь / Бухгалтерия / Типовые хоз. операции, Автоматические хоз. операции, Настройка функций**.

Сейчас, в конструкторе функций в редакторе выражений при нажатии на кнопку **Добавить поле документа** и выборе соответствующего раздела (например, Числовые) на экране отображается огромный список полей.
При этом список начинается с самого верхнего края экрана и заканчивается в самом нижнем к

[2016-03-04 15:23] NikolayUkleyko opened #3769 "Бухгалтерия. Конструктор функций. Контрастное контуры выделенного блока"
**_Исследователь > Бухгалтерия > Типовые хоз. операции, Автоматические хоз. операции, Настройка функций**_.

  Сейчас, в конструкторе функций при работе с большим количеством блоков не всегда четко и понятно, в какой блок входит тот и или иной блок (например, **if**). Крайне не удобно.
  Предлагаю по выделенному блоку предусмотреть возможность отображения контуров блока **более жирной и четкой лин

[2016-03-05 09:17] NikolayUkleyko opened #3770 "Исправить версию и год в заставке при загрузке программы и свойствах программы"
Пожалуйста, исправьте **_версию**_ и **_год**_ в заставке при загрузке программы и свойствах
программы:

![1](https://cloud.githubusercontent.com/assets/11497453/13546850/de51a580-e2cb-11e5-9ed2-8903d570993e.png)

![2](https://cloud.githubusercontent.com/assets/11497453/13546851/e41e1836-e2cb-11e5-90b1-907ea2dd5b08.png)

  Я так, понимаю, что должна быть версия **2.9** и год **1994-2016** ???

[2016-03-09 09:49] NikolayUkleyko opened #3771 "Редактор экранных форм. Добавить возможность поиска"
Пожалуйста, предусмотрите возможность поиска (контекстное меню и/или кнопка на панели инструментов). Сейчас крайне неудобно просматривать перечень всех форм.

![1](https://cloud.githubusercontent.com/assets/11497453/13631401/85d1df2e-e5f5-11e5-9e25-79bd2316fe82.png)

[2016-03-09 10:23] NikolayUkleyko opened #3772 "Отменяются некоторые фильтры после установки ПИ"
Сейчас при установке ПИ отменяются некоторые ранее выбранные фильтры.
Это крайне неудобно заново проставлять фильтры.
Пожалуйста, устраните данный вопрос.

[2016-03-10 14:05] gsbelarus opened #3773 "Дублирование в сложных справочниках"
Для справочника, созданного на базе 2-х таблиц: шапки и позиции, при дублировании не дублируются позиции. Раньше дублировались.

Похоже, это связано с тем что мы запретили дублирование позиций, чтобы предупредить такие опасные случаи, когда дублирование папки в справочнике контактов приводило к задвоению контактов.

[2016-03-10 21:11] YRozmysl opened #3774 "Обновление ПИ vs RDB$FIELD_POSITION"
Пример, есть база, которая прошла модифай последним exe, на которой потом обновляется зарплата через пакет, разумеется, что без галки перезаписывать все поверх.
Начинаются грузится метаданные, где при загрузке постоянно постоянно выскакивает окно "конфликт изменения данных объекта" , в котором видно, что после модифая поменялось во многих метаданных  RDB$FIELD_POSITION, было раньше, например, 4 ,

[2016-03-10 21:42] gsbelarus commented on #3774
Модифай не причем тут. Завтра вернусь со слуцка -- сделаю новый экзешник. Этим экзешником никому ничего не грузи.

[2016-03-11 10:39] NikolayUkleyko commented on #3774
Все одно и тоже. Танцы с бубнами.
  Ставим галку **Всегда перезаписывать** и нет никаких окон сравнения и прочее. С такими окна установка ПИ превращается в извращение. Сравнение затянется на часы, сутки...

[2016-03-11 12:16] alexandra-gsoftware commented on #3774
галка - это хорошо, я ее сама вчера использовала против field_position. Но т.к. наши пи идут большими блоками (например, ок-макросы), велика вероятность, что разные люди их одновременно поменяют в разных местах. Объединить их можно только без галки(

[2016-03-11 12:57] alexandra-gsoftware opened #3775 "поле Quantity в проводках по складским док-там"
[L.QUANTITY] конвертируется в gdcDocument.FieldByName("QUANTITY").Value. Но разве Количество не может быть пустым?

[2016-03-11 12:59] alexandra-gsoftware commented on #3775
да и не только оно... from и to признаки типа dcurrency тоже.

[2016-03-11 13:55] alexandra-gsoftware opened #3776 "Документа нет, а запись в GD_DOCUMENT есть"
Пока возилась с демобазой, видела штук сорок таких. Типы документов разные, есть складские и пользовательские, но только шапки (может, просто повезло и позиции не попались). Демоданные вносились не последним ехе, но я не помню, чтобы в последнее время такая проблема всплывала. Такое случалось и раньше, но сорок документов на практически пустой базе - это много. Кто-нибудь сталкивался?

[2016-03-11 15:01] gsbelarus opened #3777 "gd_aiu_companyaccount"
Пока придется отключить данный триггер так как у людей ошибки при автоматическом импорте выписки. Возможно стоит не блокировать, а переименовывать дублирующиеся счета.

[code]

[2016-03-11 15:18] NikolayUkleyko commented on #3613
Как вариант, удалять действительно пустое значение присвоенное аналитике **Документ**.

[2016-03-11 15:36] alexandra-gsoftware opened #3778 "по логу загрузки ПИ невозможно определить, где ошибка."
Вот это кусочек лога загрузки из ПИ
18:06:07  Объект (TgdcTableToTable) не будет изменен. Дата в файле <=  дате и времени изменения объекта в БД.
18:06:07  Объект (TgdcTableField) не будет изменен. Дата в файле <=  дате и времени изменения объекта в БД.
18:06:07  Объект (TgdcTableField) не будет изменен. Дата в файле <=  дате и времени изменения объекта в БД.
18:06:07  Объект (TgdcTableField) не б

[2016-03-11 18:35] YRozmysl commented on #3774
Какой еще галкой NikolayUkleyko?? ты себе представляешь, как по итогу все станет? чтобы не быть голословным, ты просто обнови с такой галкой на базе мясокомбината ОС, склад, реализацию. А установка без перезаписывания именно дает возможность  увидеть  изменения, которые есть на любой базе, где же установлено ранее было ПИ и далее уже идет "профилактическое обновление", назовем  эту процедуру так.

[2016-03-11 18:56] YRozmysl commented on #3774
@gsbelarus последний exe (Дата файла = 11.03.2016 Версия файла = 2.9.2.8569) решил проблему.  Спасибо.

[2016-03-14 08:36] NikolayUkleyko commented on #3613
Еще один наиболее верный вариант.
  В Журнале хоз. операций поле **Номер** сделать обязательным для заполнения через **CreateFields**, а не физически в структуре БД. БД с существующими записями без введенного номера разархивируются без проблем. Да и будет порядок при работе с такими данными. Пользователи увидят соответствующее сообщение и поймут что не так.
  Ведь в таблице **GD_DOCUMENT** поля **

[2016-03-14 08:46] NikolayUkleyko commented on #3777
Как вариант, можно предусмотреть чистку справочника банковских счетов на уровне **_Modify**_ или через **_командную строку**_. По аналогии, как со справочником **План счетов**.

[2016-03-14 09:01] gsbelarus commented on #3777
Можно и так. но, там проблема может быть в том, что сам импорт из банк клиента двоит счета. Строгий запрет приведет к тому, что остановится импорт. Если бы он был с самого начала, то ошибку бы вычислили сразу.

[2016-03-14 09:32] NikolayUkleyko commented on #3774
@YRozmysl все это известно. В каждой ситуации есть свои особенности.

[2016-03-14 09:48] gsbelarus commented on #3775
Новейший экзешник взять (только не один файл, а весь архив). И опять придется переоткрыть/пересохранить все ТХО/ТП. (Пусть Карпуку икается за то, что он сделал это окно не в MVC).

[2016-03-14 09:54] alexandra-gsoftware commented on #3775
Николай, я имела в виду, что эти поля могут быть пустыми, но в проводках обрабатываются так, будто бы не могут

[2016-03-14 10:03] #3774 closed, assigned to nobody

[2016-03-14 10:16] NikolayUkleyko opened #3779 "ПИ. В окне сравнений предусмотреть группировку по типам объектов"
На БД установили ПИ. Ввели данные в документы. **Настроили гриды**. Никаких изменений (специальных доработок) в структуре БД не выполнялось. Все работает корректно.
  Решили обновить ПИ. При установке ПИ на такую БД появляется окно сравнений. При этом, в окне сравнений отображаются отличия по гридам. Таких отличий появляется много-много. Выбираем **_не затирать**_ настройки в БД. Многократное щелк

[2016-03-14 13:41] NikolayUkleyko opened #3780 "Тип поля. Предусмотреть более наглядное окно выбора бизнес-класса"
Пожалуйста, в доменах предусмотрите более **наглядное** окно выбора бизнес-класса.

  Сейчас сделано так:
![1](https://cloud.githubusercontent.com/assets/11497453/13746200/56c1a25c-ea03-11e5-8a15-142d997d40ec.png)

  Надо сделать так, как сделано во многих местах программы:
![2](https://cloud.githubusercontent.com/assets/11497453/13746218/659fe0b8-ea03-11e5-9279-077732d563ab.png)

[2016-03-14 14:14] alexandra-gsoftware commented on #3775
все тп или только по позициях складских док-тов?

[2016-03-14 14:22] NikolayUkleyko opened #3781 "Режим ”Редактирование в таблице” (замочек). При его активации курсор автоматически переходит в 1-ю колонку"
При работе с гридом с большим количеством колонок возникает необходимость использования режима **Редактирование в таблице** (замочек) для копирования значения из той или иной ячейки.
Пример. Указал курсор на 25-ю колонку > На панели инструментов нажал на кнопку **Редактирование в таблице** (замочек).
При этом курсор автоматически переходит на 1-ю колонку.
Затем, снова требуется прокрутить грид и п

[2016-03-14 14:29] NikolayUkleyko commented on #1051
**_Скопировал значение ячейки > Вставил в ячейку > Кнопка Tab или курсор вниз, или Enter**_ и программа отображает следующее окно с сообщением об ошибке:
![2](https://cloud.githubusercontent.com/assets/11497453/13747599/155e0be6-ea0a-11e5-90b4-dc35dc6dd193.png)

[2016-03-14 14:58] alexandra-gsoftware opened #3782 "Добавление в ПИ нескольких записей одновременно"
При выделении нескольких записей в гриде и добавлении их в ПИ сделайте прогресс бар, плз.

[2016-03-14 17:13] gsbelarus commented on #3775
нет. то что я менял не помогло. @MIchaelShoihet  нужен пример и нужно искать где это формируется.

[2016-03-14 17:31] alexandra-gsoftware opened #3783 "загрузка из пи vs gdcc.exe"
добавьте pls сохранение лога в текстовый файл

[2016-03-14 17:43] alexandra-gsoftware commented on #3775
если поле участвует в сравнении или расчетах или присвоении переменной, то оно должно быть AsCurrency. Value - только когда присваиваем аналитику типа DCURRENCY (если такие вдруг есть, потому что на эталоне нет), или когда оно (поле) проверяется ф-ей IsNull()

[2016-03-14 17:44] alexandra-gsoftware commented on #3775
@ilonaand , а ты что скажешь?

[2016-03-14 17:48] alexandra-gsoftware commented on #3775
Илона согласна:)

[2016-03-14 18:00] alexandra-gsoftware opened #3784 "Ручные проводки"
А если сделать на уровне платформы документ, который будет создавать ручные проводки (тогда они перестанут быть ручными)?

[2016-03-14 18:24] alexandra-gsoftware opened #3785 "позиции складских документов в ПИ"
Сделайте плз, чтобы не сохранялось значение поля REMAINS. Смысловой нагрузки не несет, раздражает.

[2016-03-14 18:59] alexandra-gsoftware commented on #3775
вот кстати при перекомпиляции от 01.03.2016 строка выглядит так:
      gdcEntry.FieldByName("creditncu").AsCurrency = gdcDocument.FieldByName("OUTQUANTITY").AsCurrency \* gdcDocument.FieldByName("FROM_USR$INV_COSTACCNCU").AsCurrency

(это очень даже правильно)

А сегодня - вот так:
      gdcEntry.FieldByName("creditncu").AsCurrency = gdcDocument.FieldByName("OUTQUANTITY").Value \* gdcDocument.Fiel

[2016-03-14 19:36] #1051 closed, assigned to gsbelarus

[2016-03-14 19:38] gsbelarus commented on #1051
Я конечно сделаю, но тут какая то фигня. Ты же вставляешь не число а какую-то строку, начинающуюся с кавычки.

[2016-03-14 20:09] alexandra-gsoftware commented on #3783
Еще такое. Gdcc 6 мин назад заявил, что ПИ загрузилось, а база висит. Уж не знаю, что она делает, at_p_sync выполняет или еще что, но в окне этого не видно(

[2016-03-14 20:35] alexandra-gsoftware commented on #3785
ремэйнз по-прежнему на месте.

[2016-03-14 20:46] alexandra-gsoftware opened #3786 "Поля-ссылки, добавленные через SelectClause vs ПИ"
в объекте TgdcTaxResult в SQL-запросе есть строка

T.ID AS IDTAX

(это стандартный запрос).
В новой книге покупок есть
  BDT.ID AS BUYDOCTYPEKEY,
  PDT.ID AS PAYDOCTYPEKEY,
(добавлено через SelectClause).

Можно ли такие поля-ссылки заменять на РУИДы или вообще не сохранять в ПИ?

[2016-03-14 22:49] alexandra-gsoftware commented on #3785
хотя нет, все ок.

[2016-03-14 22:49] #3785 closed, assigned to MIchaelShoihet

[2016-03-15 00:13] alexandra-gsoftware opened #3787 "Загрузка позиций выписки из пи"
иногда суммы в валюте почему-то обнуляются

[2016-03-15 03:27] alexandra-gsoftware commented on #3783
а теперь окно загрузки пи выглядит вот так:
![gdcc](https://cloud.githubusercontent.com/assets/11487200/13766901/ecb823f8-ea76-11e5-99f6-462582b571d0.jpg)

[2016-03-15 08:19] NikolayUkleyko commented on #3784
Да, они будут приручены, как когда-то давно одомашнили животных :cat2: :dog2: :-)
  Создание такого универсального документа кажется простым на первый взгляд, но не просто для начала его разработки.

[2016-03-15 08:26] NikolayUkleyko commented on #1051
Кавычки отсутствуют. В Excele по копируемой ячейке указано **_Формат ячеек > Числовой > Разделитель групп разрядов**_.

[2016-03-15 09:51] NikolayUkleyko commented on #3775
@alexandra-gsoftware вопрос, если такие изменения (Value > AsCurrency), то как оно вообще работало корректно до сих пор ?

[2016-03-15 10:17] ilonaand commented on #3784
Оно и на первый взгляд кажется не простым. Особенно для сложных проводок. 50 процентов ошибок - от ручных проводок

[2016-03-15 10:21] NikolayUkleyko commented on #3784
Особенно когда, пользователи **не заполняют** соответствующую аналитику.

[2016-03-15 11:12] alexandra-gsoftware commented on #3775
оно не так давно поломалось. еще 1го марта были карренси.

[2016-03-15 12:37] alexandra-gsoftware commented on #3783
подвисание окна возможно связано с тем, что ранее были проблемы с сетью. К базе пришлось переподключаться, и, когда после этого запустилась синхронизация с пи, окно уже висело намертво

[2016-03-15 15:33] gsbelarus commented on #3786
Взять последний экзешник. Пересохранить ПИ с такими полями. Проверить.

[2016-03-15 15:33] #3786 closed, assigned to gsbelarus

[2016-03-15 15:46] gsbelarus commented on #3787
При загрузке из ПИ??

[2016-03-15 16:03] gsbelarus opened #3788 "Сохранение ручной проводки в ПИ"
По сути, надо сделать б/класс для проводки. Возможно, придется в gd_classlist подправить вручную, чтобы этот класс брался, а не другие. Сейчас на таблицы AC_ENTRY, AC_RECORD  какие только классы не подхватываются.

[2016-03-15 16:23] alexandra-gsoftware commented on #3788
Как показал опыт, она должна состоять из
1)TgdcDocument
2)TgdcAcctComplexRecord (AC_RECORD)
3)TgdcAcctEntryLine (AC_ENTRY, несколько штук)
идущих подряд. Тогда грузится.

[2016-03-15 17:22] alexandra-gsoftware commented on #3787
у нас тут ручные проводки грузятся из ПИ, а вас удивляют позиции выписки))

[2016-03-15 18:06] alexandra-gsoftware commented on #3787
кстати, было всего 4 таких, только с валютным кредитом, и при повторной загрузке они успешно загрузились. Сейчас еще раз попробую собрать базу с нуля, может, все хорошо будет

[2016-03-15 19:16] alexandra-gsoftware commented on #3783
стало намного лучше!
добавьте плз в фильтр запоминание нескольких предыдущих значений

[2016-03-15 20:39] alexandra-gsoftware opened #3789 "В базе данных не найден объект в конце загрузки списка ПИ"
После установки демоданных (или, скорее всего, просто после установки большого ПИ), Гедымин повисает. GDCC.exe говорит "Закончена загрузка: Демобаза", и больше ничего, а база висит. Через 25 мин(!) появляется сообщение:
![ns4](https://cloud.githubusercontent.com/assets/11487200/13793055/140f007c-eb06-11e5-903c-b8c6351415d0.JPG)
Нажимаем ОК. База продолжает висеть. Еще через 5 мин мое терпение зака

[2016-03-16 02:09] alexandra-gsoftware commented on #3789
поставила еще раз, подождала дольше. База висит, пока не закроешь gdcc, и еще 5-7 мин после этого. Кстати, документ с РУИДом 147161744_467086792 вполне существует. после загрузки

[2016-03-16 08:39] gsbelarus commented on #3789
Ничего не висит. Идет работа.

В процессе загрузки ПИ могут меняться данные -- в методах, в скрипах, в триггерах. Чтобы на будущее понять, поменялось что-то относительно файла на диске или нет, надо пересчитать MD5. Сделать это можно только пересохранив ПИ в поток в памяти компьютера, посчитать по нему MD5 и записать в таблицу at_namespace. Для демо базы, сами понимаете, процесс не быстрый.

Можно

[2016-03-16 08:41] gsbelarus commented on #3789
Пока переоткрою, потому что первое окно "В базе данных не найден объект" совсем из другой оперы.

[2016-03-16 10:32] alexandra-gsoftware commented on #3789
да, да. Посмотрела б я на вас, когда работы по новой базе выше крыши, а она висит час, и непонятно, почему

[2016-03-16 11:22] gsbelarus commented on #3789
Вот в чем проблема. Таблица USR$WG_TBLCHARGE джоинится на GD_DOCUMENT,
причем в загружаемом документе COMPANYKEY=650001 а рабочая организация
у нас другая -- та которая создана при подключении к БД.

Внутри объекта есть такой код:

[code]

Естественно, что он ничего не находит. О чем и предупреждает.

Похоже, аналогичная проблема с USR$WG_SOCINSURANCEINFO, USR$WG_CHREGADDINFO

Вопрос, почему в ПИ

[2016-03-16 12:15] alexandra-gsoftware commented on #3789
действительно, ведь наверняка было точное тз, где сказано "создать новую рабочую организацию".  На исходной базе поменяю ей руид и пересохраню всё

[2016-03-16 12:57] alexandra-gsoftware commented on #3789
но даже если я поменяю руид компании, проблема с TgdcAttrUserDefinedUSR_WG_TBLCHARGEGETWHERECLAUSE не решится

[2016-03-16 12:58] alexandra-gsoftware commented on #3789
по идее, если мы будем ставить пи куда-то, где установлен фильтр, тоже будет такое сообщение? И почему только по 1 объекту, если их несколько сотен?

[2016-03-16 13:23] gsbelarus commented on #3789
Ну я же не буду несколько сотен в гіт кідать.

[2016-03-16 13:25] alexandra-gsoftware commented on #3789
так я только одно сообщение видела когда ставила

[2016-03-16 13:32] gsbelarus commented on #3789
это у вас был сокращенный режим

[2016-03-16 19:56] #3783 closed, assigned to gsbelarus

[2016-03-16 20:00] gsbelarus opened #3790 "Доработки по gdcc"
1. В отображении элементов профилирования сделать сортировку при клике по заглавию колонки. Вы же понимаете, что сортировать надо не listview, а ваш список объектов и потом invalidate делать listview. Причем с сохранением позиции выделенной (подсказка, через ее ИД).
2. Там же -- фильтрация.
3. Там же -- заполнять правую панель.
4. Там же -- статус бар корректно заполнять.
5. Добавить колонку общее

[2016-03-16 21:11] YRozmysl commented on #3783
проблема с зависанием осталась. Повторить можно, выбрав пакет ЗПиОК  - это 26 ПИ и установить на базу, на которой уже ранее были установлены ПИ. Есть и база для примера, надо - могу повторить.

[2016-03-16 21:37] alexandra-gsoftware commented on #3783
сделайте опциональным это зависание. Не знаю, что он с чем сверяет, но при синхронизации с каталогом пи помечено >>, а сравнение с файлом показывает 0 отличий

[2016-03-17 12:26] YRozmysl commented on #3332
И снова, здравствуйте. Надо решать вопрос со скоростью расчета итогового. Постоянно стоит этот вопрос на больших предприятиях,где и стоит зп,  люди спрашивали сначала постоянно, а потом просто смирились, но это в корне неправильно. Так и теперь тоже самое на БМКК, просто будем иметь "бледный вид".

[2016-03-17 12:56] alexandra-gsoftware commented on #3332
т.е. тормозит там, где не ведутся всяческие "сборные" бригадные, а много однодневных?

[2016-03-17 13:03] YRozmysl commented on #3332
однодневных  порядка 1 тыс ежемесячно

[2016-03-17 13:05] alexandra-gsoftware commented on #3332
а если есть и однодневные, и сборные, и зп считается только по сборным, тогда тормозит?

[2016-03-17 13:08] YRozmysl commented on #3332
просто сборный наряд - это тоже такой наряд, весьма специфический,  по своей сути, давно еще, мы просто собирали  их, но там это делалось совершенно из за других соображения, тогда это делалось  не для того, чтобы увеличить скорость. На ММК, например, этого не делают.

[2016-03-17 13:12] alexandra-gsoftware commented on #3332
нет, мне просто интересно: скорость увеличится, если вести сборные наряды и считать только по ним, или нет? Или их просто уже нигде не ведут?

[2016-03-17 13:14] YRozmysl commented on #3332
но по итогу, получилось, что скорость такого ведения зарплаты со сборными нарядами выше чем с однодневными нарядами. Но, просто, намеренно, собирать сборный наряд, для того, чтобы увеличить скорость не верно, и самое главное, бухгалтер не должен собирать наряд, для того, чтобы увелсить скорость

[2016-03-17 13:15] YRozmysl commented on #3332
такое ведение есть на бро и гмк, более нигде. Пока по крайней мере не возникало такой необходимости.

[2016-03-17 13:22] alexandra-gsoftware commented on #3332
нене, я не предлагаю их собирать. Я обдумываю проблему

[2016-03-17 14:24] alexandra-gsoftware commented on #3787
Поняли, в каком случае грузится неверно

Если позиция в валюте (Rate заполнен) идет в ПИ сразу после позиции в бел.руб (Rate IS NULL), то она загружается с пустыми (NULL) суммами в валюте.

Если позиция в валюте идет сразу после позиции в другой валюте (с другим курсом), то она грузится хорошо, с правильным курсом (обратите внимание на 4ю позицию на рисунке, она загрузилась идеально).

![bsl](http

[2016-03-17 14:37] alexandra-gsoftware commented on #3332
Я думаю, что проблема связана с журналом начислений (это пользовательский документ без позиций). Он заполняется при расчете как бизнес-объект (а не запросами, как другие вспомогательные таблицы), чтобы создались проводки. По человеку на один бригадный порядка 15 записей может идти... А бригадных - один на рабочий день (или иногда два) на каждого сотрудника. У журнала этого сабсет "ByID", чтобы не

[2016-03-17 14:42] YRozmysl commented on #3332
А еще из бригадного может браться, например, не только сдельный заработок, а  вредность,  ночные  и т.д. и т.п и тогда получается 15X2, 15X3 ...

[2016-03-17 14:49] alexandra-gsoftware commented on #3332
я с ночными считала. 15 (разных начислений на один бригадный) \* 25 (бригадных по человеку в месяц) \* 2500 (человек на предприятии), как-то так

[2016-03-17 14:51] YRozmysl commented on #3332
ааа, ну теоретически так

[2016-03-17 15:13] gsbelarus commented on #3332
У нас практически готов профайлер. Завтра будет презентация. Начать надо с того, что на сервере у нас запустить полный расчет с профайлером и посмотреть собранную статистику.

(главное чтобы в это время этот сервер никто не дергал)

Правило парето подсказывает нам, что 20% кода/запросов занимают 80% времени. Выделим ключевые по производительности моменты и оптимизируем их.

Если эффект будет недос

[2016-03-18 11:03] arthur-latunov commented on #3332
@alexandra-gsoftware однозначно тормозит `call wg_EmployeeCharge.AddChargeReg(...)`, проверено

[2016-03-18 11:49] alexandra-gsoftware commented on #3332
спасибо @arthur-latunov, я так и думала. Но что с этим делать - вопрос(

[2016-03-18 15:08] alexandra-gsoftware commented on #3775
нужно перекомпилировать проводки? Или все вернулось на версию 01.03.2016?

[2016-03-18 15:11] NikolayUkleyko opened #3791 "Бухгалтерия. План счетов. В разделы добавить реквизит 'Запись отключена'"
**_Исследователь > Бухгалтерия > План счетов**_.

  Пожалуйста, в разделы плана счетов добавьте реквизит **Запись отключена**. Для того, чтобы в определенных местах программы **_не отображать**_ отключенные (неиспользуемые, ошибочные и прочие) разделы плана счетов.

![1](https://cloud.githubusercontent.com/assets/11497453/13882031/a979bbea-ed34-11e5-8efb-011d39b40722.png)

[2016-03-18 15:14] gsbelarus commented on #3775
желательно перекомпилировать

[2016-03-18 15:17] NikolayUkleyko opened #3792 "Древовидные справочники. Некорректный поиск через комбинацию клавиш 'Ctrl+F'"
На практике в древовидных справочниках выявлен некорректный поиск при помощи клавиш **Ctrl+F**. Пишет, что значение не найдено. Выявлено в справочнике подразделений, клиентов, типовых хоз. операций и. т. д. Потом вручную находишь требуемое значение.
  Пожалуйста, исправьте.

[2016-03-18 15:54] NikolayUkleyko opened #3793 "Позиция документа. Не работают вручную заданные параметры в TgsIBColumnEditors"
В позиции документа в **TgsIBColumnEditors** задаем сортировку по возрастанию. При сохранение и переоткрытии документа сортировка слетает. Приходится заниматься писаниной в скриптах ради такой мелочи, предусмотренной в параметрах объектов.
  Такое замечено в складских документах. Возможно и в других местах программы.
  Пожалуйста, предусмотрите такую возможность.

![1](https://cloud.githubusercont

[2016-03-18 15:56] alexandra-gsoftware commented on #3793
Я думаю, это связано с тем, что поле у тебя - признак складского документа. С ними, насколько я помню, все сложно.

[2016-03-18 16:30] NikolayUkleyko opened #3794 "Бухгалтерия. Создать новую форму Журнала-ордера (расширенный)"
**_Исследователь / Бухгалтерия._**

Пожалуйста, предусмотрите новую дополнительную форму **Журнала-ордера (расширенный)** с дополнительными параметрами по второй стороне.
Такое частично реализовано в формах **Анализ счета** и **Карта счета** в блоках **_Корреспондентский счет_**.
По сути в новом Журнале-ордере будет 2-е панели инструментов для ввода параметров.
Тогда, можно будет формировать гораз

[2016-03-18 16:32] NikolayUkleyko commented on #3793
@alexandra-gsoftware да, есть и такое. Необходимо "научить" грид вести себя согласно заданных параметров.

[2016-03-21 14:31] alexandra-gsoftware commented on #3789
сообщение пропало.

[2016-03-21 14:31] #3789 closed, assigned to gsbelarus

[2016-03-21 14:33] alexandra-gsoftware commented on #3787
если первой позицией в пи идет валютная выписка (т.е. перед ней нет рублевых выписок), то тоже грузится с пустыми суммами в валюте.

[2016-03-21 14:36] alexandra-gsoftware commented on #3775
с типом currency сейчас все хорошо, но появилось зато вот такое:

If gdcDocumentHeader.FieldByName("USR$CHECKSALE").Value = 1 Then

а раньше оно выглядело как

If gdcDocumentHeader.FieldByName("USR$CHECKSALE").AsInteger = 1 Then

Старый вариант лучше.

[2016-03-21 14:56] alexandra-gsoftware commented on #3775
Встречается в следующих местах:
AutoEntryScript147080154_23783130_line (Торговля - метаданные)
AutoEntryScript147235098_597341771_line (Учет в автопарке - Метаданные)
Sub_1_147037889_81366384 (Проводки материального склада)
Sub_1_147092182_106202483 (Торговля - метаданные)
Sub_2_147080295_23783130 ( Торговля - метаданные)
TrEntryScript147237413_597341771 (Учет в автопарке - ТХО)
TrEntryScript14727

[2016-03-23 10:18] NikolayUkleyko opened #3795 "ПИ. Количество файлов в окне синхронизации пространств имен"
В окне синхронизации пространств имен выявлено несоответствие в части количества файлов:
в строке **Выбрано для загрузки файлов** и в окне **Список файлов для загрузки**.

![1](https://cloud.githubusercontent.com/assets/11497453/13982113/2eb37450-f0f9-11e5-93c2-bc962fc37574.png)

  Выбрано 4-е файла, а программа показывает, что выбрано 8-м файлов.
  Так и должно быть ?
  Если, нет, пожалуйста, уст

[2016-03-23 13:30] MIchaelShoihet commented on #3794
Нет такие вещи нельзя реализовывать настройками. И я не понял, для чего нужна вторая панель. Надо более подробно. Плюс подумать насколько это точно важно -  ведь такие изменения нужно будет потом протестировать во всех комбинациях...

[2016-03-23 14:13] NikolayUkleyko commented on #3794
Пример № 1. Сформировать Журнал-ордер по 18-м счетам по аналитике **Статья затрат**.
При этом в качестве корреспондирующих счетов выводить только выбранные счета: 18..., 60... и 68.... При этом по 18-у счету нужен только оборот Дт 18... - Кт 60...

----

Пример № 2. Сформировать Журнал-ордер по 70-у счету по аналитике **Счет и субсчета**.
При этом в качестве корреспондирующих счетов выводить тольк

[2016-03-23 14:33] alexandra-gsoftware commented on #3734
дошло уже вот до чего! Ужас!
![ns6](https://cloud.githubusercontent.com/assets/11487200/13988498/4c4f74cc-f11d-11e5-959d-6523fd0d3376.JPG)

[2016-03-23 14:48] alexandra-gsoftware opened #3796 "сравнение пи с каталогом говорит нам, что ">>", а на самом деле должно быть "?""
версия на базе больше версии в файле.
Но в файле есть эдишндейты больше, чем на базе.

[2016-03-24 13:49] NikolayUkleyko opened #3797 "Отчеты. Доработки (Q)"
На практике по отчетам не всегда очевидны следующие признаки:

**1**. **_С какой даты действует тот или иной отчет**_.
  Каждый новый отчет содержит слово **новый**. Потом появляется еще более новый отчет и тогда будет **новый-новый**. Встречается и ручное дописывание года в конце наименования отчета. Это не вариант обозначения хронологического статуса отчета.
  Предлагаю добавить **_не обязательн

[2016-03-25 10:41] NikolayUkleyko opened #3798 "Бухгалтерия. Журнал-ордер. Информационное сообщение"
**_Исследователь > Бухгалтерия > Журнал-ордер**_.

  Пожалуйста, подскажите, в каком случае при формировании формы программа выдает следующее сообщение:
![1](https://cloud.githubusercontent.com/assets/11497453/14042811/93ab0fda-f28e-11e5-8a27-814c1f0293e1.png)

  Какой заложен лимит/предел на количество выбранных аналитических признаков и количественных показателей ? По какому алгоритму выполняетс

[2016-03-28 16:16] NikolayUkleyko commented on #3793
Оно некорректно работает **не только** в отношении складских признаков.

[2016-03-28 18:16] MIchaelShoihet commented on #3793
Это только в складских документах. Дело в том что грид там создается в коде, к сожалению этого уже переделать нельзя, поэтому вся настройка грида осуществляется только через скрипты.

[2016-03-28 20:03] alexandra-gsoftware commented on #3793
так закройте наверно это исъю.

[2016-03-29 06:34] NikolayUkleyko commented on #3793
Вот и решили.
  Закрываем ?

[2016-03-29 07:48] MIchaelShoihet commented on #3793
Да

[2016-03-29 07:48] #3793 closed, assigned to gsbelarus

[2016-04-01 11:59] NikolayUkleyko opened #3799 "Фильтры. Доработки по настройке (Q)"
Пожалуйста, предусмотрите следующие возможности по настройке фильтров:

**1**. Сортировка перечня полей на наименованию.
Если, выбрано локализованное, то по локализованному.
Если, оригинальное, то по оригинальному.

**2**. Увеличение списка выбора полей.
Сделать его для работы более удобным.
Увеличить шрифт до 9.
Сейчас крутишь скролл мышки и список перескакивает с позиции на позицию.

**3**. Поис

[2016-04-04 09:12] NikolayUkleyko opened #3800 "Обновление статистики индексов и окно выполнения"
**_База данных > Обновление статистики индексов...**_.

![1](https://cloud.githubusercontent.com/assets/11497453/14243460/60287616-fa5e-11e5-8a16-6510dfbd5f9d.png)

Сейчас, в Гедымине при выполнении обновления статистики индексов не отображается окно выполнения. Неудобно и непонятно, что делается и результат. Раньше окно выполнения было.
Пожалуйста, предусмотрите.

[2016-04-04 14:26] NikolayUkleyko commented on #3800
Выяснил.
Сейчас все логи отображается в GDCC.

[2016-04-04 14:36] NikolayUkleyko opened #3801 "GDCC. Доработки"
**1**. Выявлено, что при просмотре лога и активной опции **Обновлять автоматически лог** полностью автоматически лог не обновляется. Для полного обновления лога требуется нажать кнопку **Обновить**. Противоречивая ситуация.

**2**. В трее при 2-й клике по пиктрограммке окно программы не раскрывается. Было бы кстати. Сейчас необходимо обязательно в контекстном меню выбрать **Показать GDCC**. Не сов

[2016-04-04 15:03] gsbelarus commented on #3800
Кроме лога надо сделать, чтобы бежало окошко с процентами.

[2016-04-04 15:06] NikolayUkleyko commented on #3800
С отображением % будет замечательно.

[2016-04-04 16:01] NikolayUkleyko opened #3802 "Таблицы. Вычисляемые поля"
Пожалуйста, подскажите, работает ли данный функционал ?
Если, да, пожалуйста, изложите как его использовать.

![1](https://cloud.githubusercontent.com/assets/11497453/14254233/7fb2e9ce-fa97-11e5-9bd6-76e0306a3419.png)

[2016-04-04 16:14] alexandra-gsoftware commented on #3802
Если текущее поле является результатом вычисления (в котором обычно участвуют другие поля)
Например, USR$WG_BRIGADEORDERLINE.USR$ALLSUM

Но вычисляемые поля в любом случае лучше не использовать. Потому что поменять им формулу расчета куда сложнее, чем поменять код триггера или метода

[2016-04-04 16:55] gsbelarus commented on #3802
Зато они не хранятся в БД.

[2016-04-04 16:56] gsbelarus opened #3803 "Нельзя создать наследника бизнес-класса Человек"
Проверить.

[2016-04-04 16:57] alexandra-gsoftware commented on #3802
SelectClause рулит!
Но если вы сделаете простое редактирование таких полей и доменов, и чтоб переносилось через пи...)

[2016-04-05 07:20] NikolayUkleyko commented on #3802
Я предполагал, что есть механизм задания алгоритма пересчета того или иного поля гораздо проще: по формуле. То есть, не на уровне программиста, а на уровне пользователя. Сейчас в нашей программе поменяешь один алгоритм, как придется менять другой и все связанное. Что не есть хорошо. Все это приводит к танцам с бубном.
Надежна та конструкция, которая проста. У нас конструкция очень не проста.

Нель

[2016-04-05 07:49] NikolayUkleyko commented on #3801
**3**. Пожалуйста, предусмотрите отображение итогов по совокупности процессов. Например, сколько всего времени потребовалось на загрузку платформы и подключение к БД. Сейчас итоги выводятся по каждому процессу по горизонтали.

![1](https://cloud.githubusercontent.com/assets/11497453/14274698/94b64bca-fb1b-11e5-9df7-568df30d7285.png)

[2016-04-05 07:51] NikolayUkleyko commented on #3801
**4**. При очередном запуске GDCC не сохраняется реквизит **Обновлять лог автоматически**.

[2016-04-05 08:08] NikolayUkleyko opened #3804 "Бухгалтерия. Журнал хоз. операций. Предусмотреть множественное редактирование записей"
**Исследователь / Бухгалтерия / Журнал хоз. операций**.

Пожалуйста, предусмотрите корректное редактирование записей при множественном выделении. Пример, выделил 100 записей > вызвал их на редактирование > изменил реквизит (например, счет, подразделение и т. д.) > нажал на кнопку OK. В результате внесенное изменение будет только по той записи, на которой был указан курсор. Остальные 99 записей не

[2016-04-05 08:12] MIchaelShoihet commented on #3804
В Журнале хоз операций множественное редактирование не работает и пока не планируется (есть техническая сложность). Сделаем предупреждение.

[2016-04-05 08:15] NikolayUkleyko commented on #3804
Жаль. Пусть, хоть будет предупреждение.

[2016-04-05 09:08] NikolayUkleyko opened #3805 "Бухгалтерия. Сообщение при попытке перехода в Журнал хоз. операций"
**_Исследователь / Бухгалтерия / Карта счета, Журнал хоз. операций_**.

Если, в Журнале хоз. операций выбран фильтр, то при попытке перехода на соответствующую запись из Карты счета программа выдает соответствующее сообщение:

![1](https://cloud.githubusercontent.com/assets/11497453/14276110/4f21eb00-fb25-11e5-941c-84b174d4e0be.png)

Однако, в любом документе на панели инструментов есть кнопка **П

[2016-04-05 10:59] alexandra-gsoftware commented on #3802
не знаю, что ты имеешь в виду под формулой, но с вычисляемыми полями это не связано.

[2016-04-05 16:17] gsbelarus opened #3806 "Удаляется запись. А не должна."
По мойму это уже исправляли то туда, то сюда по нескольку раз. Сейчас в простом справочнике если дублировать запись, затем в диалоге нажать Новый, затем отмена, то сдублированная запись пропадет. Хотя, по идее, кнопка Новый соответствует Сохранению текущей записи. Т.е. должна остаться.

[2016-04-05 16:24] gsbelarus commented on #3801
1. В смысле лог не обновляется? Отлично обновляется. Только лог, а не профайлер. Профайлер и не будет обновляться. Так сделано специально, что только по нажатию на кнопку.
2. Если получится -- сделаем.
3. Для этого -- выгрузка в эксел и там любой анализ. Изначально лог -- это маленькая невесомая программка. Если мы начнем сюда тянуть функционал эксела, то только этим и будем заниматься.
4. И не до

[2016-04-05 16:27] gsbelarus commented on #3801
И перед тем, как просить, загляните в лог операционной системы и задайтесь вопросом, почему 16 000 программистов Microsoft сделали так и не стали делать так. Был для этого резон. Так же и у нас он есть.

[2016-04-05 16:27] #3801 closed, assigned to gsbelarus

[2016-04-06 09:27] NikolayUkleyko opened #3807 "Редактор скрипт-объектов. Отчеты. Съезжает форма параметров (Q)"
**_Редактор скрипт-объектов > Отчеты**_.
При изменении размеров формы параметров она съезжает.

![1](https://cloud.githubusercontent.com/assets/11497453/14311955/ba644b92-fbf2-11e5-94ae-2b65a33a9edb.png)

Невозможно работать. Пожалуйста, устраните недоработку.

[2016-04-06 16:28] NikolayUkleyko opened #3808 "Береза МКК. Банковская выписка. Недоступны отчеты"
**_Исследователь > Банк > Банковская выписка или Выписки по р/с**_.

На новейшем gedemin.exe по данному документу недоступны отчеты. Копирование и вставка не помогает. На эталоне с этим порядок.

Пожалуйста, предусмотрите возможность.

[2016-04-11 10:26] NikolayUkleyko commented on #3613
Сегодня очередной раз столкнулись с подобной ситуацией.

[2016-04-11 10:37] MIchaelShoihet commented on #3613
Поле номер в ЖХО - это и есть поле номер в GD_DOCUMENT и оно обязательное, просто если оно осталось пустым, то Гедемин его заполняет пробелом. Можно обязать вводить номер ... Проблему полностью не решит... но будет правильней.

[2016-04-11 10:41] NikolayUkleyko commented on #3613
Да, согласен.

[code]

Желательно предусмотреть такое в gedemin.exe.

[2016-04-11 11:23] gsbelarus commented on #3808
А они есть в базе? Что значит недоступны?

[2016-04-11 11:30] MIchaelShoihet commented on #3808
Печать выписки, Разноска выписки, Распределение картотеки по очередности платежа.

[2016-04-11 11:42] gsbelarus commented on #3808
Надо создать отчет в этом окне, посмотреть какое значение reportgroupkey он получит и присвоить это значение через SQL UPDATE "пропавшим" отчетам.

[2016-04-11 11:45] #3791 closed, assigned to gsbelarus

[2016-04-11 11:50] #3800 closed, assigned to iamchrisep

[2016-04-11 16:25] gsbelarus commented on #3803
Сделана возможность наследования для класса TgdcContact. @stasgm

[2016-04-11 16:25] #3803 closed, assigned to gsbelarus

[2016-04-12 07:20] NikolayUkleyko commented on #3791
Проверил.
При простановке галки по реквизиту **Отключен** программа выдает окно с сообщением об ошибке:

![2](https://cloud.githubusercontent.com/assets/11497453/14452520/dfe1e538-0097-11e6-8817-ef7dbdfd1a6c.png)

В свойствах ValueChecked и ValueUncheked вместо False и True скорее всего надо 1 и 0, соответственно.

[2016-04-12 08:14] PiuPauTralala commented on #3808
Сделано.

[2016-04-12 08:47] gsbelarus commented on #3803
@stasgm обнови экзешник. Наследуй сотрудника от таблицы GD_EMPLOYEE.

[2016-04-12 14:28] stasgm commented on #3803
@gsbelarus Проверил, работает. А если нужен наследник для TgdcDepartment, то как поступить?

[2016-04-13 12:26] stasgm opened #3809 "Не стартует gcc при запуске гедымина с параметрами"
Может и не должен, но констатирую факт, что если в ярлыке указаны параметры подключения gedemin control center не запускается автоматически.

[2016-04-14 13:23] NikolayUkleyko commented on #3808
Проверено.
Работает корректно.
Спасибо !

[2016-04-14 13:23] #3808 closed, assigned to nobody

[2016-04-14 13:33] NikolayUkleyko opened #3810 "Бухгалтерия. Конструктор функций. Ошибка сохраняется в запросе, а в блоках не видна"
**_Исследователь / Бухгалтерия / Типовые хоз. операции, Автоматические хоз. операции, Отчеты бухгалтерии, Настройка функций_**.

Не первый раз выявлено.
При многократной ошибке в конструкторе функций сохраняется ошибка.
В блоках ошибки нет.
Помогает только удаление блоков, отвечающих за непосредственное формирование бухгалтерских проводок и заново их ручное создание.

Пожалуйста, устраните недораб

[2016-04-14 17:45] PiuPauTralala opened #3811 "Не присваивается значение Variables"
В документе Материальный склад. 11. Возврат с доработки (переработки) при изменениие приходного колличества на поле "USR$ADDSUMNCU" перестает корректно работать присвоение значения вариэйблу. От этого весь механизм пересчетов летит в тартарары.

[2016-04-15 05:52] gsbelarus commented on #3811
? Какому вариэйблу. Код надо показать, то ничего не понятно.

[2016-04-15 10:03] gsbelarus commented on #3811
1. Обновить экзешник и gdcc.exe
2. Запустить проблемный код
3. В логе (источник debug) смотреть записи о присвоении значения переменной
4. При необходимости поставить точки останова на присвоении и посмотреть когда, откуда, что вызывается и какие значения присваиваются

[2016-04-15 10:03] #3811 closed, assigned to gsbelarus

[2016-04-15 15:33] NikolayUkleyko opened #3812 "Бухгалтерия. Разное содержание в конструкторе функций и в тексте функции в редакторе скрипт-объектов"
**_Исследователь > Бухгалтерия > Типовые хоз. операции, Автоматические хоз. операции, Отчеты бухгалтерии, Настройка функций**_.

Не первый раз выявлено. При редактировании текста функции из редактора-скрипт объектов (обновлении из ПИ), внесенные изменения, не видны в конструкторе функций: как в блоках, так и в тексте. Возникают проблемы. Поэтому, необходимо предусмотреть следующее:
1. При возникно

[2016-04-15 16:25] YRozmysl commented on #3812
Да, недавно столкнулся с вышеописанным. Как оно получилось это уже второй вопрос, но такие вещи очень непросто выявить. Чаще всего это может заметить только конечный пользователь.

[2016-04-16 10:00] PiuPauTralala commented on #3811
Нет такого источника, exe 2.9.2.8622.

[2016-04-16 10:04] gsbelarus commented on #3811
Значит просто поставьте брейкпоинты в коде. Где то еще у вас присваивается. Или вы разные имена проверяете.

[2016-04-16 10:14] gsbelarus commented on #3811
И должна быть включена отладка в редакторе со.

[2016-04-16 10:27] hirurg-lybitel opened #3813 "Прогресс бар в gdcc"
Если запустить gdcc после подключения к базе, то в нём не будет активного подключения, а значит и форма прогресса не отобразится при попытке её использовать.
Надо бы как-то через метод устанавливать подключение в gdcc

[2016-04-16 14:45] gsbelarus commented on #3813
А зачем ее запускать после, если она автоматом запускается при старте гедымина?

[2016-04-16 14:52] hirurg-lybitel commented on #3813
Если есть возможность закрыть gdcc при активном подключении к базе данных, то должна быть и обработка этого случая.

[2016-04-18 06:31] YRozmysl commented on #3658
Выявился следующий момент при обновлении ПИ.
Пример, есть OBJECTCLASS (TgdcAcctTransactionEntry) у которого MODIFIED(01.01.2000)  и
 CURR_MODIFIED(02.12.2014 12:59:15)  По этим датам видно, что этот объект изменялся в базе.
Далее загружается ПИ из файла в котором этот объект имеет дату 21.03.2016 16:51:51.
При загрузке у нас есть предупреждение о конфликте, все как и положено, в соответствии с
выш

[2016-04-18 07:02] NikolayUkleyko commented on #3812
Помимо добавления в ПИ типовой хоз. операции и типовой проводки отдельно в ПИ добавляется еще и **функция типовой проводки из редактора скрипт-объектов**.

При изменении функции типовой проводки из редактора скрипт-объектов и закрытии редактора скрипт-объектов при формировании проводок срабатывает текст функции из редактора скрипт-объектов, а не из конструктора функций. Тексты функций разные.

При

[2016-04-18 07:15] gsbelarus commented on #3812
**При изменении функции типовой проводки из редактора скрипт-объектов** функцию типовой проводки НЕЛЬЗЯ менятьв редакторе скрипт-объектов. Только через конструктор функций.

[2016-04-18 07:16] gsbelarus commented on #3813
Я уберу команду закрыть. Не хочется утяжелять лог. Его задача логировать и не загружать процессор. Лишнюю проверку еще делать не хочется.

[2016-04-18 07:17] NikolayUkleyko commented on #3812
Это самом собой разумеется.
На практике встречаются вышеприведенные ситуации.

[2016-04-18 07:28] gsbelarus commented on #3658
Да, тут надо что-то делать:
1. Или не трогать даты и тогда при каждом очередном обновлении будет задавать вопрос.
2. Или установить даты как в файле и тогда не будет спрашивать. Будет считать, что объекты идентичные, хотя это не так и будет видно на сравнении ПИ с файлом.

Первый вариант наверное правильнее.

[2016-04-18 07:36] YRozmysl commented on #3658
Тут надо, видимо, попробовать тот и тот вариант. Просто если использовать 1 вариант, то у нас со временем при обновлении будет увеличится таких вот конфликтных записей, хоть это и не так страшно, так как мы сможем все различия видеть.
А во втором варианте, у нас будет все выравниваться по датам и будем с каждым разом будет меньше конфликтных ситуаций. Но, тут  действительно при равнении, будет вид

[2016-04-18 09:09] hirurg-lybitel commented on #3813
Тогда надо решить вопрос с бесконечно растущим количеством закладок. Через неделю работы будет невозможно ничего проанализировать в gdcc.

[2016-04-18 10:45] NikolayUkleyko opened #3814 "Бухгалтерия. Журнал-ордер. Ошибка при редактировании и сохранении конфигурации"
**_Исследователь > Бухгалтерия > Журнал-ордер**_.

При сохранении и редактировании конфигурации в случае дублирующихся значений по одной аналитике программа выдает окна с сообщениями об ошибке:

![1](https://cloud.githubusercontent.com/assets/11497453/14601513/12f154a4-056b-11e6-84ea-7d963897a103.png)
![2](https://cloud.githubusercontent.com/assets/11497453/14601515/15e170d6-056b-11e6-9af7-8957b5c

[2016-04-19 09:40] NikolayUkleyko commented on #3813
Меня тоже бесит

@hirurg-lybitel , ответ будет просто: 16 000 программистов из Microsoft...

[2016-04-19 14:06] NikolayUkleyko opened #3815 "Бухгалтерия. Переход из Журнала-ордера на пустую Карту счета"
**_Исследователь > Бухгалтерия > Журнал-ордер, Карта счета**_.

При формировании Журнала-ордера согласно параметров, указанных в рис. 1

![1](https://cloud.githubusercontent.com/assets/11497453/14641935/1bd6fbdc-0651-11e6-9725-f7df9027d472.png)

, получаем пустую Карту счета (рис. 2).

![2](https://cloud.githubusercontent.com/assets/11497453/14641946/2826b512-0651-11e6-85d3-c86710f7c260.png)

Тако

[2016-04-19 14:20] NikolayUkleyko opened #3816 "Бухгалтерия. Переход из Анализа счета в Карту счета по кредитовому обороту"
**_Исследователь > Бухгалтерия > Анализ счета, Карта счета**_.

При переходе из Анализа счета в Карту счета по **кредитовому обороту** (рис. 1)

![1](https://cloud.githubusercontent.com/assets/11497453/14642308/aa61502c-0652-11e6-9dd1-b3d3b19c3ccd.png)

программа формирует расшифровку по **дебетовому обороту** (рис. 2.).

![2](https://cloud.githubusercontent.com/assets/11497453/14642332/be5b7706-0

[2016-04-20 10:13] NikolayUkleyko commented on #3792
Достал такой бесполезный поиск:

![1](https://cloud.githubusercontent.com/assets/11497453/14671263/8a0b2c24-06f9-11e6-8486-8856ddb860d8.png)

![2](https://cloud.githubusercontent.com/assets/11497453/14671266/8edc809a-06f9-11e6-8a4a-057b31aba958.png)

[2016-04-20 16:21] NikolayUkleyko commented on #3810
@stasgm помню ты говорил, что сталкивался с подобной ситуацией. Так ли ?

[2016-04-21 08:04] NikolayUkleyko opened #3817 "Бухгалтерия. Не сразу формируется проводка по шапке, если есть еще и проводка по позиции"
**_Исследователь / Бухгалтерия / Типовые хоз. операции_.**

Если, по документу настроено формирование проводки и по шапке, и по позиции документа, то при сохранении документа сразу формируется только проводка по позиции, а по шапке - нет.
В данном случае для формирования проводки по шапке необходимо **_перепровести запись по документу_**.
Все вызывает **большие вопросы со стороны пользователей**.

[2016-04-21 08:12] MIchaelShoihet commented on #3817
На самом деле не правда. Такая ситуация возможно только в случае, если проводки по шапке зависят от позиции и есть проводки по позиции. При редактировании документа в диалоговом окне если проводка установлена только по шапке, то при сохранении документа, проводка формируется заново, но если есть проводки по позициям то такого пересохранения не вызывается, что бы не сохранение документа не вызывало

[2016-04-22 09:34] NikolayUkleyko commented on #3815
Как будто никто не работает с данным функционалом ?

[2016-04-22 09:37] MIchaelShoihet commented on #3815
Будет исправлено.

[2016-04-22 09:39] NikolayUkleyko commented on #3815
@MIchaelShoihet , заранее спасибо ! На самом деле сейчас сложнее анализировать данные.

[2016-04-22 09:41] NikolayUkleyko commented on #3816
@MIchaelShoihet , пожалуйста, здесь посмотрите.

[2016-04-22 14:20] MIchaelShoihet commented on #3816
Исправлено. Проверяйте в ближайших exe.

[2016-04-22 14:20] MIchaelShoihet commented on #3815
Исправлено. Проверяйте в ближайших exe.

[2016-04-25 12:58] NikolayUkleyko commented on #3767
Большой объем данных не кстати при проведении деноминации и других мероприятий. Так как, требуется гораздо больше времени и вычислительной мощности сервера на выполнение той или иной операции.

Я считаю, самый корректный вариант с сохранением/разворачиванием структуры БД с последующим переносом остатков.

[2016-04-26 09:22] NikolayUkleyko commented on #3815
Проверено.
Работает корректно.
Спасибо !

[2016-04-26 09:22] #3815 closed, assigned to MIchaelShoihet

[2016-04-26 09:23] NikolayUkleyko commented on #3816
Проверено.
Работает корректно.
Спасибо !

[2016-04-26 09:23] #3816 closed, assigned to MIchaelShoihet

[2016-04-28 12:35] NikolayUkleyko opened #3818 "Бизнес-классы. Предусмотреть поиск по регулярным выражениям (Q)"
Для удобства работы с бизнес-классами, пожалуйста, предусмотрите поиск по регулярным выражениям.

![1](https://cloud.githubusercontent.com/assets/11497453/14885895/aaaf2af8-0d56-11e6-8a6e-e56679e6e0c1.png)

![2](https://cloud.githubusercontent.com/assets/11497453/14885898/aec242c4-0d56-11e6-864c-699f35c13f32.png)

[2016-04-28 12:43] NikolayUkleyko commented on #3814
Как вариант, при выборе уже выбранного значения аналитики выдавать сообщение типа **Нельзя выбрать дублирующееся значение аналитики** и запрещать выбор.

@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2016-04-29 09:44] MIchaelShoihet commented on #3792
Данный поиск не обрабатывает знак % как и другие любые знаки подстановки. Это простой поиск перебором по подстроке и все. Нельзя от всего требовать всего. Есть какие-то ограничения и возможности.

[2016-04-29 09:46] MIchaelShoihet commented on #3792
Этот поиск так работает во всех местах и в гриде то же.

[2016-04-29 09:49] MIchaelShoihet commented on #3814
Сделано так: при вводе в конфигурацию дублирующего значения программа будет выдавать предупреждение о том что оно не будет сохранено с возможностью остаться в диалоге и изменить его (возможно просто по ошибке указано то же значение). Проверять на ближайших exe.

[2016-04-29 09:52] NikolayUkleyko commented on #3792
@MIchaelShoihet , благодарю за комментарий.
Закрываем тему.

[2016-04-29 09:52] #3792 closed, assigned to gsbelarus

[2016-04-29 11:20] NikolayUkleyko commented on #3753
Очередной раз столкнулся с вышеизложенной проблемой.
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2016-04-29 11:37] MIchaelShoihet commented on #3753
На самом деле это просто ошибка формирования Автоматической операции. Надо исправить и сделать, что бы в автоматическую проводку подставлялась название типовой проводки из автоматической операции. И это я сделаю.

[2016-04-29 11:53] MIchaelShoihet commented on #3753
Я конечно подправил и теперь автоматическая операция будет подставлять правильную типовую проводку. Но надо зайти и пересохранить все используемые автоматические операции... Но и старые результаты так уже и останутся с Произвольной проводкой.

[2016-04-29 11:53] MIchaelShoihet commented on #3753
Все это появится в ближайшем exe.

[2016-04-29 15:06] NikolayUkleyko commented on #3805
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2016-04-29 15:07] NikolayUkleyko commented on #3798
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2016-04-29 15:08] NikolayUkleyko commented on #3766
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2016-04-29 15:10] NikolayUkleyko commented on #3761
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2016-04-29 15:10] NikolayUkleyko commented on #3757
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2016-04-29 15:14] NikolayUkleyko commented on #3665
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2016-05-02 09:51] MIchaelShoihet commented on #3798
Ограничение наложено на размер получаемого запроса. Сколько это уровней аналитики, точно сказать нельзя. Но если оно появляется, значит сформировать такой журнал не возможно и надо уменьшать количество уровней аналитики.

[2016-05-02 09:51] #3798 closed, assigned to nobody

[2016-05-02 15:06] #3813 closed, assigned to gsbelarus

[2016-05-03 09:47] NikolayUkleyko commented on #3814
Проверено.
Работает корректно.
Спасибо !

[2016-05-03 09:47] #3814 closed, assigned to iamchrisep

[2016-05-03 09:54] MIchaelShoihet commented on #3757
Исправлено. Проверяйте.

[2016-05-03 09:54] MIchaelShoihet commented on #3766
Подстановка убрана. Она меня то же раздражала, но руки не доходили убрать. Проверяйте.

[2016-05-03 09:58] NikolayUkleyko commented on #3757
Проверено.
Работает корректно.
Спасибо !

[2016-05-03 10:06] NikolayUkleyko commented on #3766
Сейчас счета автоматически не подставляются. Это прекрасно.

Но, введя счет в поле **Счета** (TComboBox) автоматически не обновляется перечень доступных аналитических признаков. Сейчас, для обновления перечня доступных аналитических признаков необходимо кликнуть мышкой по блоку аналитик. Это плохо.

@MIchaelShoihet , пожалуйста, посмотрите.

[2016-05-03 10:13] NikolayUkleyko commented on #3613
Если, будем использовать **CreateFields**, и других изменений в gedemin.exe не предполагается, пожалуйста, закройте тему.

[2016-05-03 10:14] gsbelarus commented on #3613
Так в исходниках гедымина надо что-то менять?

[2016-05-03 10:24] MIchaelShoihet commented on #3613
Я сделаю поле номер обязательным при вводе проводки.

[2016-05-03 10:27] #3728 closed, assigned to MIchaelShoihet

[2016-05-03 10:30] gsbelarus commented on #3633
Насколько я помню Закрыть дерево -- закрывает текущую ветку дерева, а не все дерево вообще. Но. надо проверить посмотреть как в других деревьях работает и в операционной системе.

[2016-05-03 10:38] AliakseiDanilchyk commented on #3633
Часто пользуюсь командой "Закрыть дерево" в исследователе. Закрываются все ветки.

[2016-05-03 10:40] gsbelarus commented on #3633
Тогда надо делать, чтобы закрывались все.

[2016-05-03 10:44] AliakseiDanilchyk commented on #3633
Сейчас проверил Справочник показателей, там тоже закрываются все ветки по команде.

[2016-05-03 12:54] NikolayUkleyko commented on #3633
Я автор доработки по закрытию деревьев в выпадающем списке.
Ставилась задача, чтобы **закрывать все деревья**, а не ветви.
Давно Евгений Бриль это технически реализовал.
В ходе работы были выявлены недоработки.

[2016-05-04 10:01] NikolayUkleyko opened #3819 "Конструктор функций. Не все выделенные блоки перетаскиваются"
**_Исследователь > Бухгалтерия > Типовые хоз. операции, Автоматические хоз. операции, Настройка функций**_.

При выделении 2-х и более блоков перетаскивается только 1-й блок, остальные остаются на месте. Это происходит из-за того, что после выделения блоков и клика с последующим перетаскиванием одного из блоков, выделение с остальных блоков снимается. Такого не должно быть.

Пожалуйста, исправьте.

[2016-05-04 17:07] stasgm opened #3820 "Снова пропал автозапуск gcc при указании параметров подключения к базе в gedemin.exe"
Снова пропал автозапуск gcc при явном указании параметров подключения (например в ярлыке прописаны параметры подключения)

[2016-05-05 08:16] NikolayUkleyko opened #3821 "Грид. Складские документы. Не стабильно работает форматирование"
**_Исследователь / Материальный склад / 07. Списание материалов_.**

В диалоговой форме в гриде в поле **Количество (QUANTITY)** указали формат **#,####0.0000**. При изменении значения в данной колонке тут же **_произвольно**_ меняется формат отображаемых данных, то с 2-я знаками, то с 4-я знаками после запятой. Пользователи в недоумении.
При этом, вернув настройки форматирования к  #,##0.00, как

[2016-05-05 09:10] NikolayUkleyko commented on #3821
Жанна, подтвердит.
Кстати, это для Атланта, а не для меня.

[2016-05-05 09:24] gsbelarus commented on #3820
Проверяю -- работает. Надо повторить, чтобы разобраться. Там случаем программа не из сетевой папки запускается?

[2016-05-05 09:25] gsbelarus commented on #3820
И полный текст командной строки приведи. может там еще какие ключи указаны.

[2016-05-05 09:46] MIchaelShoihet commented on #3821
Настройка грида должна быть одинаковая в форме просмотра и в диалоговом окне, тогда должно быть все хорошо.

[2016-05-05 21:19] alexandra-gsoftware opened #3822 "невозможно выйти из системы, пока не закрыт gdcc"
А закрыть его можно только из диспетчера задач

[2016-05-06 08:07] NikolayUkleyko commented on #3821
Я предпочитаю настраивать грид снаружи и внутри документа 1 к 1. Подобный вопрос может возникнуть у любого специалиста и у любого пользователя. Что приводит в заблуждение.
Не знаю, является ли это недоработкой или нет.
По вашему, @MIchaelShoihet , @gsbelarus, усмотрению закройте данную тему.

[2016-05-06 08:10] NikolayUkleyko commented on #3773
Не помню в каком справочнике, но подобное имело место.
Возникло при смене gedemin.exe на новую версию.

[2016-05-06 08:14] MIchaelShoihet commented on #3773
Может вынести разрешение на уровень какого-то флага, который настройщик мог бы установить в БО. По умолчанию сделать его False запрещающий копировать.

[2016-05-06 08:20] NikolayUkleyko commented on #3773
Было бы хорошо.

[2016-05-06 09:15] NikolayUkleyko commented on #3571
@MIchaelShoihet , пожалуйста, изложите Вашу точку зрения.

[2016-05-06 11:22] NikolayUkleyko commented on #3526
Проверено.
Работает корректно.
Спасибо !
Пожалуйста, закройте данную тему.

[2016-05-06 12:42] stasgm commented on #3820
Например
"c:\Program Files (x86)\Golden Software\Gedemin\gedemin.exe" /sn "localhost:f:\Work\Bases\Atlant\SERVER.FDB" /user Administrator /password Administrator

[2016-05-06 12:47] MIchaelShoihet commented on #3571
Исправлено. Смотреть в ближайших exe

[2016-05-06 13:37] #3820 closed, assigned to gsbelarus

[2016-05-06 16:23] #3526 closed, assigned to gsbelarus

[2016-05-07 12:33] hirurg-lybitel commented on #3822
А разве "Файл - Выйти" не работает?

[2016-05-07 12:35] alexandra-gsoftware commented on #3822
когда я это  увидела, опции выйти не было (раньше была)

[2016-05-09 10:06] gsbelarus commented on #3822
Не могу повторить. Выходити так и эдак.

[2016-05-11 06:40] #3809 closed, assigned to gsbelarus

[2016-05-11 06:40] gsbelarus commented on #3822
Словил такой случай. Почему такое происходит пока не понятно.

[2016-05-11 07:04] gsbelarus commented on #3822
Надо проверить вариант, когда gdcc запускается из бат файла до гедымина. На сервере такая ситуация и похоже не дает потом перегружать комп.

[2016-05-11 10:30] gsbelarus opened #3823 "Автоматом сформировать корректирующие проводки"
Я бы добавил в утилиту такой функционал:
1. Указываем деноминированную и неденоминированную БД.
2. Утилита подсчитывет конечное сальдо в неденоминированной БД, в разрезе аналитик, и формирует корректирующие проводки в деноминированной.

Аналогично можно сделать для складских остатков.

@MIchaelShoihet

[2016-05-11 14:39] NikolayUkleyko commented on #3823
@gsbelarus что имеете в виду под

то есть, какие именно проводки ?

[2016-05-11 14:46] gsbelarus commented on #3823
Хотя бы со счетом 00. Чтобы остатки сходились.

[2016-05-11 15:05] NikolayUkleyko opened #3824 "Бухгалтерия. Конструктор функций. При нажатии Space или Enter выход из редактор выражений"
**_Исследователь > Бухгалтерия > Типовые хоз. операции, Автоматические хоз. операции, Отчеты бухгалтерии, Настройка функций**_.

При переходе в режим редактора выражений при попытке написания выражения и нажатия клавиши **Space** или **Enter** программа выходит из редактора выражений. Это происходит из-за того, что при переходе в режим редактора выражений курсор не проставлен в редакторе выражений

[2016-05-11 15:10] NikolayUkleyko commented on #3823
На практике складские и бухгалтерские остатки не сходятся в следующих случаях:
1. На копейки из-за округлений.
2. На значительные суммы, из-за того, что учет не ведется должным образом. Здесь пользователи ведут:
- только складской или бухгалтерский учет. Не преследуют цель синхронизации остатков.
- и складской или бухгалтерский учет. Преследуют цель синхронизации остатков.

Функционал корректировк

[2016-05-11 15:26] gsbelarus commented on #3823
Речь не о схождении складских и бухг данных. Речь о том, чтобы сходились числа до деноминации и после.

Например,  в старой базе по счету Х, по аналитике А были три проводки в Дебет:

23.12
10.46
12.18

В сумме, дебетовый остаток:

45.76 -- округленно 46 руб.

После деноминированиябудет:

0.0023
0.0010
0.0012

В сумме -- 0.0045.

Задача добавить проводкой с забалансовым счетом 0.0001

Чтобы, если

[2016-05-13 09:40] gsbelarus opened #3825 "dnmn.exe"
Утилита должна:
1. Проверить тип dcurrency и если у него не 4 знака, а меньше -- скорректировать.
2. В процессе деноминации проверять у таблицы поля (подлежайшие деноминации) и если у них целочисленный домен или тип с менее чем 4-мя знаками после запятой, то корректировать.
3. Проверять и менять домен для полей с курсами валют.
4. По завершении процесса обнулять DBID.

[2016-05-17 06:35] NikolayUkleyko commented on #3824
Сейчас при попытке перехода в режим редактора выражений (кнопка **Вставить**) программа выдает окно с сообщением об ошибке:

![1](https://cloud.githubusercontent.com/assets/11497453/15313166/30d7f4e2-1c12-11e6-9bc7-5856a70d112c.png)

Пожалуйста, оперативно устраните недоработку.

[2016-05-17 06:40] NikolayUkleyko commented on #3819
Вышеприведенный баг устранен, но выявлен другой баг.

[2016-05-17 06:43] NikolayUkleyko commented on #3805
По данной теме доработок не обнаружил.

[2016-05-17 06:45] NikolayUkleyko commented on #3732
По данной теме доработок не обнаружил.

[2016-05-17 06:47] NikolayUkleyko commented on #3677
По данной теме доработок не обнаружено.

[2016-05-17 07:24] NikolayUkleyko commented on #3633
Все пункты кроме 3-го по данной теме в разработке.

По 3-у пункту.
В выпадающем списке при нажатии на панели инструментов на кнопку **Закрыть дерево...** выбираем верхнего родителя, но по факту выбирается промежуточный родитель.
Подобное уже встречалось в других формах.

[2016-05-17 07:25] #3824 closed, assigned to iamchrisep

[2016-05-18 10:02] iamchrisep commented on #3825
1, 2, 3. Просто скорректировать тип не получается. Выдержка из руководства Firebird:
Не допустимы любые изменения типа, которые могут привести к потере данных. Например, количество символов в новом типе для столбца не может быть меньше, чем было установлено ранее.
Действительно, если домен DCURRENCY у нас DECIMAL(15,2), то изменить его на DECIMAL(15,4) невозможно. Или же если поле в таблице имеет

[2016-05-18 10:06] MIchaelShoihet commented on #3825
Всегда есть решение. Добавляется temp поле туда переносятся данные из изменяемого поля, изменяемое поле удаляется, создается заново с новым типом и туда переносятся данные из tmp поля, которое потом удаляется. Слов много но на самом деле получается 6 запросов достаточно простых.

[2016-05-18 10:09] iamchrisep commented on #3825
Да, тогда, может, еще проще - просто tmp-поле переименовать?

[2016-05-18 10:13] gsbelarus commented on #3825
А можно переименовывать?

[2016-05-18 10:16] iamchrisep commented on #3825
Судя по руководству - да, существующие столбцы можно переименовывать. Но есть на это ограничения:

Ключевое слово TO переименовывает существующий столбец. Новое имя столбца не должно присутствовать в таблице.
Невозможно  изменение  имени  столбца,  если  этот  столбец  включён  в  какое-либо ограничение — первичный или уникальный ключ, внешний ключ, ограничение столбца или проверочное ограничение

[2016-05-18 10:21] MIchaelShoihet commented on #3825
Тогда переименовывайте. Я думаю что те же ограничения есть и у удаления поля.

[2016-05-18 10:21] gsbelarus commented on #3825
Если вы не сможете переименовать, то удалить и подавно не сможете.

Давайте вернемся к началу:
1. Домен dcurrency у вас получилось поменять? Что с существующими полями будет вы протестировали? На граничных значениях?

Протестировали, значит взяли бд. сделали там dcurrency(15,2). Сделали таблицу с полем с этим доменом. Ввели значения: 10, 10.1, 10.01, 10.001. С помощью INSERT INTO.

Прогнали утилит

[2016-05-18 10:43] iamchrisep commented on #3825
1. Домен поменять не получается. Как проверяла: взяла БД с DCURRENCY DECIMAL(15,4), сделала ALTER DOMAIN DCURRENCY TYPE DECIMAL(15,2) - прошло, следом ALTER DOMAIN DCURRENCY TYPE DECIMAL(15,4) - ошибка
   Неудачное обновление метаданных:; New scale specified for column DCURRENCY must be at most 2
   GDSCode = 335544351

[2016-05-18 10:46] gsbelarus commented on #3825
Так почему вы говорите что все сделано. Это же ключевой момент. Фактически НИЧЕГО не работает.

[2016-05-18 11:07] gsbelarus commented on #3825
Получается так:
1. Перед деноминированием надо перевести типы полей в нужную точность.
2. Для этого проверяем заданный список полей и смотрим какая у каждого ФИЗИЧЕСКАЯ ТОЧНОСТЬ. Неважно какой у этого поля домен. Поля, которые не подходят по точности (какую мы приняли? 4 знака после запятой?) попадают в специальный список.
3. Обрабатываем этот список. А именно: 1) группируем поля по таблицам 2) дл

[2016-05-18 12:45] alexandra-gsoftware commented on #3825
А почему бы не сделать это через апдейт системных таблиц? Все будет хорошо, если в поле (15,2) нет значений, которые не влезли бы в (15,4). А это можно предварительно проверить (программка Кристины, которая собирает статистику по числовым полям, определяет в том числе максимальное и минимальное значение каждого поля)

[2016-05-18 12:52] iamchrisep commented on #3825
3.4) Я так понимаю, что корректировку через перенос во временное поле будем проводить только для тех полей, которые есть в списке. В таком случае, что делать, если домен DCURRENCY используется в тех полях, которые в этом списке не указаны? Делать дополнительную проверку на присутствие таких полей в базе и корректировать их аналогично, путем переноса через временное поле?
И еще, из руководства:
Опе

[2016-05-18 12:56] MIchaelShoihet commented on #3825
Я выверку еще до конца не закончил. Так что возможны ошибки.

[2016-05-18 12:59] MIchaelShoihet commented on #3825
Вообще надо провести простой анализ на сколько много есть полей которые имеют тип с плохой точностью. На какой базе DCURRENCY 15, 2  - есть разве такие базы? Может просто если тип DCURRENCY 15, 2 то не проводить деноминацию. И если встретились поля с плохой точностью (не DCURRENCY) то эти поля сохранять и не деноминировать?

[2016-05-18 13:03] iamchrisep commented on #3825
Если поля с плохой точностью не деноминировать, то их можно просто изначально не включать в список полей, который будет в утилите.

[2016-05-18 13:10] MIchaelShoihet commented on #3825
Может быть ситуация, когда одно и то же поле имеет на разных базах разную размерность. А второй попробуйте проверить у всех 2000 полей для деноминации их размерность. То что можно проверить программно, лучше так и проверить. Плюс мы можем сказать пользователю какие поля не деноминированы, что бы их можно было в ручную обработать.

[2016-05-18 13:13] iamchrisep commented on #3825
Да, согласна, да и пользователь может добавить в список свои поля, а они тоже могут быть с неподходящей точностью

[2016-05-18 19:39] alexandra-gsoftware opened #3826 "Слишком много вкладок в редакторе скрипт-объектов"
Появляется вот такая ошибка:
frmGedeminProperty. EWin32Error: Win32 Error.  Code: 1158.
Текущий процесс использовал все системные разрешения по управлению объектами диспетчера окон
После этого все кнопки, меню и тд перестают работать. Может, можно как-то отслеживать эту ситуацию и не давать открывать новые вкладки?

[2016-05-18 19:52] gsbelarus commented on #3826
А сколько вкладок вы открыли?

[2016-05-18 20:02] gsbelarus commented on #3826
Эту ситуацию можно повторить?

[2016-05-18 20:31] alexandra-gsoftware commented on #3826
много)). Можем завтра попробовать

[2016-05-18 20:34] alexandra-gsoftware opened #3827 "Поиск в редакторе скрипт-объектов"
Ищу слово "Round" в тексте по полному совпадению. Ф-я wg_RoundSum не находится, хотя в ней есть строка:

wg_RoundSum = **Round**((Sum + Delta) / RoundValue) \* RoundValue

(можно увидеть на эталоне)

[2016-05-18 20:49] alexandra-gsoftware commented on #3827
Еще странность. Если делать поиск в имени и искать по имени ф-и отчета, то ничего не найдется - нужен поиск в тексте.

[2016-05-18 21:09] gsbelarus commented on #3825
Когда запускается процесс Деноминирования, то сначала проверяются заданные поля на точность. Если есть хоть одно неправильное, то исправляем типы:
1. Проверяем и правим, если надо, dcurrency
2. Все денежные поля, у которых неправильный тип, не 4 знака после запятой, переводим на dcurrency.

После этого сообщаем пользователю, что он ОБЯЗАТЕЛЬНО должен провести бэкап-ресторе и только потом снова зап

[2016-05-21 03:31] hirurg-lybitel opened #3828 "Прогресс бар"
Думаю, хорошим развитием текущего прогресс бара было бы наличие возможности установить некой свойство статичности. То есть мы заранее не знаем кол-во  возможный позиций, но процесс предстоит долгий, например, череда небольших sql-запросов (каждый по 30 сек).

[2016-05-22 20:30] gsbelarus commented on #3826
Скорее всего в коде надо проставить лимит на открытые вкладки. Штук 20 должно хватить нормальным людям.

[2016-05-23 07:52] gsbelarus opened #3829 "У компьютера нет сетевой карты"
При запуске гедымина, при WEB CLIENT Active = 1, кидает ошибку с WinSocket. Дальше работает нормально.

Надо как-то повторить, чтобы определить где именно ошибка происходит в коде.

@stasgm

[2016-05-23 14:17] NikolayUkleyko commented on #3773
При наличии параметра (флага) будет удобно разрабатывать различные справочники со своими правилами копирования записей.

[2016-05-23 17:06] stasgm commented on #3829
Проверено, что и с [WEB CLIENT] Active = 0 продолжает кидать ошибку винсокета

[2016-05-23 17:13] gsbelarus commented on #3829
В окне О Программе что показывает в секции Компьютер? MAC адреса там есть?

[2016-05-23 17:19] gsbelarus commented on #3829
Возьми с сайта экзешник с отладочной информацией и как выскочит ошибка -- скинь мне стек вызовов.

[2016-05-24 15:58] #3822 closed, assigned to gsbelarus

[2016-05-25 00:12] alexandra-gsoftware opened #3830 "исчезают данные из database.ini"
Работаю с сервером. Сервер отваливается. Из ини-файла исчезает путь к текущей базе и еще несколько путей

[2016-05-25 05:04] gsbelarus commented on #3830
Ini файл на сервере?

[2016-05-25 09:01] alexandra-gsoftware commented on #3830
Нет, локально. Причем гедымин каждый раз чуть-чуть подвисает при выборе новой базы на считывании сохраненного пароля. windows 10.

[2016-05-25 13:48] #3778 closed, assigned to gsbelarus

[2016-05-26 09:42] iamchrisep opened #3831 "Бухгалтерия. Закрытие месяца. Переход на новый месяц. Аналитики присутствуют в AC_ACCOUNT, но не в AC_ENTRY и AC_ENTRY_BALANCE"
После установки нескольких ПИ (Показатели, Книга покупок и пр.) на чистую БД при попытке перехода на новый месяц возникает ошибка SQL-запроса в момент расчета бухгалтерских остатков в связи с присутствием некоторых аналитик в таблице AC_ACCOUNT и их же отсутсвием в таблицах AC_ENTRY и AC_ENTRY_BALANCE.

[2016-05-26 13:33] alexandra-gsoftware commented on #3831
Все понятно.
Аналитики в счетах лежат вместе в ПИ "Аналитики в счетах". Поля в AC_ENTRY входят каждое в свое ПИ, а поля в AC_ENTRY_BALANCE создаются автоматически при добавлении поей в AC_ENTRY (но весь этот механизм входит в мат. склад!). Допустим, я перенесу создание полей в AC_ENTRY_BALANCE в общие данные, но что делать с AC_ENTRY?

@MIchaelShoihet , что скажете?

[2016-05-26 14:42] gsbelarus commented on #3546
Когда именно ругается? Это общий механизм для использования значения поля из выборки, а оно может быть NULL, чего не пепередашь через asCurrency.

Может имеет смысл в окно Выбор переменной добавить еще переключатели типов что бы программист сам мог указать AsCurrency, AsString, AsDateTime, AsFloat или Value.

Но, это спорный момент.

[2016-05-26 14:51] iamchrisep commented on #3633
Сделано

[2016-05-26 14:52] iamchrisep commented on #3677
Сделано

[2016-05-26 14:54] iamchrisep commented on #3571
Доработано. Добавлено корректное отображение сумм в эквиваленте при установленом флаге "Корреспонденция с субсчетами" и отображение сумм в валюте и эквиваленте при снятом флаге.

[2016-05-26 14:55] iamchrisep commented on #3732
Сделано

[2016-05-26 14:55] iamchrisep commented on #3748
Сделано

[2016-05-26 14:55] iamchrisep commented on #3805
Сделано

[2016-05-27 07:15] NikolayUkleyko commented on #3805
Проверено.
Работает корректно.
Спасибо !

[2016-05-27 07:15] #3805 closed, assigned to nobody

[2016-05-27 07:16] NikolayUkleyko commented on #3571
Проверено.
Работает корректно.
Спасибо !

Пожалуйста, закройте тему.

[2016-05-27 07:20] #3571 closed, assigned to gsbelarus

[2016-05-27 08:41] NikolayUkleyko opened #3832 "Бухгалтерия. Главная книга. Переход по дате в Журнал-ордер и Карту счета"
**Исследователь > Бухгалтерия > Главная книга, Журнал-ордер, Карта счета**.

Сфомировали Главную книгу за **конкретный день** > выполняем переход в Журнал-ордер и/или карту счета. При этом переход в такие формы будет **не за день**, указанный в параметрах Главной книги, а **за целый месяц**. Это усложняет анализ и исправление данных.

@MIchaelShoihet , скажите, пожалуйста, так задумано или нет ?

[2016-05-27 08:47] MIchaelShoihet commented on #3832
Нет думаю так не было задумано. Надо исправить

[2016-05-27 11:22] NikolayUkleyko opened #3833 "Бухгалтерия. Оборотная ведомость. Форматирование в итоговых строках"
**_Исследователь / Бухгалтерия / Оборотная ведомость_**.

Пожалуйста, предусмотрите форматирование (разряды) в итоговых строк для всех показателей (валюта, эквивалент). Сейчас с форматированием выводятся только итоги по сумма в национальной валюте.

[2016-05-27 11:30] gsbelarus commented on #3833
Форматирование итого берется из форматирования колонки соответствующей.

[2016-05-27 11:51] NikolayUkleyko commented on #3833
Само собой разумеется.

Не все так просто. В бухгалтерских формах настройка форматирования не помогает. Впечатление, что все зашито в gedemin.exe. Пожалуйста, несколько скриншотов:

![1](https://cloud.githubusercontent.com/assets/11497453/15607262/38660f7c-241a-11e6-9dfd-b99e600cec51.png)

![2](https://cloud.githubusercontent.com/assets/11497453/15607265/3f450992-241a-11e6-80c9-d8ba70d5ec0e.png)

[2016-05-27 12:41] NikolayUkleyko opened #3834 "Бухгалтерия. Очень длительный переход на проводку из документа"
При работе с большими базами данных кнопка **Переход на проводку** бесполезна, так как переход на проводку в Журнал хозяйственных операций затягивается на очень длительно время и появляется окно с таймером. Это изрядно напрягает и нас и пользователей.

@gsbelarus , скажите, пожалуйста, можно ли усовершенствовать данный функционал ?

[2016-05-27 13:59] alexandra-gsoftware commented on #3808
То же самое теперь с отчетами в форме просмотра ПИ. Последние недели, если их ставить на чистую базу, то они отображались только после переоткрытия гедымина. Теперь @YRozmysl заметил, что и после переоткрытия они не появляются (а в редакторе скрипт-объектов они видны)

[2016-05-27 14:47] NikolayUkleyko commented on #3834
@MIchaelShoihet , скажите, пожалуйста, что Вы думаете по данной теме ?

[2016-05-27 14:53] MIchaelShoihet commented on #3834
Можно сделать, наверное. Я посмотрю

[2016-05-30 12:52] NikolayUkleyko commented on #3766
Можно ли при нынешнем функционале Журнала-ордера, при заполнении реквизита **Счет** автоматически обновлять перечень доступных аналитик по указанным счетам ?

Сейчас, после ввода счета и переходе к блокам аналитик они автоматически перестраиваются, что приводит к сбиванию перечня аналитик и в отдельных случаях, к формированию Журнала-ордера по не соответствующим аналитическим признакам.

Сейчас, д

[2016-05-30 12:59] NikolayUkleyko commented on #3794
Очередной раз убеждаюсь в актуальности данной темы.

Простая ситуация, Дт 44  (аналитика **Подразделение**) - Кт 60.03.
Бухгалтеру не нужны колонки (сальдо).
Необходимо видеть только кредитовый оборот по счету 60.03 с итогами по подразделениям.
Было бы достаточно сохранить в конфигурацию и распечатать, а вот и нет.
Приходится каждый раз при формировании Журнала-ордера скрывать ненужные колонки.

В

[2016-06-03 08:27] iamchrisep commented on #3740
Сделано

[2016-06-03 08:27] iamchrisep commented on #3827
Сделано

[2016-06-03 08:27] gsbelarus commented on #3830
Мистика.

[2016-06-03 08:27] iamchrisep commented on #3579
Сделано

[2016-06-03 08:28] iamchrisep commented on #3832
Сделано

[2016-06-03 08:28] iamchrisep commented on #3542
Сделано

[2016-06-03 08:29] iamchrisep commented on #3766
Сделано. Теперь аналитики будут втоматически обновляться при выборе счета из выпадающего списка, из дерева, а при вводе с клавиатуры нужно просто нажать Enter после ввода

[2016-06-03 08:34] #3540 closed, assigned to gsbelarus

[2016-06-03 08:35] #3542 closed, assigned to iamchrisep

[2016-06-03 09:09] alexandra-gsoftware commented on #3830
Жанна тоже такое видела. Похоже, исчезает новый добавленный путь и пути, находящиеся рядом с ним.

[2016-06-03 13:45] alexandra-gsoftware opened #3835 "Деноминация - временный период. Утилита деноминации."
Во всех пи (например, при печати ТТН) временный период определяется так:
Если дата меньше 01.07.2016 - НЕ временный период
Если дата НЕ меньше 01.07.2016, временный период определяется по галочке в хранилище  "Была деноминация" **GLOBAL\Options\dnmn**.
Временный период длится, если галочки нет вообще, либо она ложь.
Значит, **утилита в конце должна обновлять\создавать эту галочку, и присваивать ей

[2016-06-03 14:39] hirurg-lybitel commented on #3740
О! Молодчина)

[2016-06-03 14:39] #3740 closed, assigned to gsbelarus

[2016-06-08 08:36] iamchrisep opened #3836 "Утилита деноминации. Ошибка из-за разницы в полях AC_ACCOUNT и AC_ENTRY"
При установленной галке "Сохранить сальдо по бухгалтерским счетам до деноминации на 30.06" на моменте расчета сальдо возникает ошибка вследствие разницы между структурами таблиц AC_ACCOUNT и AC_ENTRY. Возникает это, по всей видимости, из-за криво установленных ПИ. Что-то похожее было в этой ситуации:
https://github.com/GoldenSoftwareLtd/gedemin/issues/3831

[2016-06-08 08:40] gsbelarus commented on #3836
Это относится к gedemin-apps, а не к gedemin. И потом, почему криво? Просто так сделаны ПИ.

[2016-06-08 08:42] gsbelarus commented on #3836
Четко пишите:

1) взят эталон с сайта
2) установлены такие-то ПИ (какие???)
3) после этого несоответствие полей аналитик в таких-то таблицах.

[2016-06-09 08:03] NikolayUkleyko commented on #3832
Проверено.
Переход по дате работает корректно.

Необходимо предусмотреть **синхронизацию параметров** (**Расшифровка по дебету**, **Расшифровка по кредиту**) при переходе из Главной книги в Журнал-ордер.

[2016-06-09 08:21] NikolayUkleyko commented on #3579
Проверено.
Работает корректно.
Спасибо !

@gsbelarus , пожалуйста, закройте тему.

[2016-06-09 08:23] #3579 closed, assigned to iamchrisep

[2016-06-09 08:30] NikolayUkleyko commented on #3766
Проверено.
Работает корректно.
@iamchrisep , спасибо !

[2016-06-13 13:51] gsbelarus opened #3837 "Счет готовой продукции, проводки по которому не надо деноминировать"
ALIAS = ГП
RUID = 147170231_1234867257

Могилевский МК
# ID = 510549335

Витебский МК
# ID = 463189879

Бройлеры
# ID = 204251685

Березовский МКК
# ID = 412249115

Белкалий
ID = 148253567

[2016-06-17 07:00] NikolayUkleyko opened #3838 "Бухгалтерия. Журнал хоз. операций. Чрезвычайно длительное открывание при активном фильтре"
**_Исследователь > Бухгалтерия > Журнал хоз. операций**_.

При этом **Параметры > Опции > Всегда запрашивать параметры для текущего фильтра и предупреждать о фильтрации данных**. Это **обязательное** условие для того, чтобы программа при подключении к БД не задавала вопросов о параметрах уже выбранных фильтров.

Из Исследователя вызываем Журнал хоз. операций с **активным фильтром**. Процесс открыв

[2016-06-17 07:01] NikolayUkleyko commented on #3837
@gsbelarus , пожалуйста, уточните в чем же суть ?

[2016-06-17 07:05] NikolayUkleyko opened #3839 "Бухгалтерия. Оборотная ведомость. Не подсчитываются итоги по выбранным строкам"
**_Исследователь > Бухгалтерия > Оборотная ведомость**_.

Пропал подсчет итогов по выбранным строкам.
Пожалуйста, оперативно устраните недоработку.

[2016-06-17 10:25] alexandra-gsoftware commented on #3838
а что за фильтр?

[2016-06-17 11:20] MIchaelShoihet commented on #3838
Журнал хозяйственных операций - только для экстренных случаев. Не надо приучать пользователей в нем работать. И потом если стоит нормальный фильтр за день - максимум за неделю даже на ВМК и Бройлерах журнал работает нормально. Еще раз - давайте решать вопросы по которым бухгалтер идет и делает ручные проводки, которые не возможно контролировать... которые потом вылазят , потом в других подсистемах

[2016-06-20 07:02] YRozmysl commented on #3658
Есть какие-нибудь подвижки по вопросу? Просто совсем скоро в связи с деноминацией на всех мелких и средних  клиентах будет обновляться ПИ пакетно. И этот вопрос всплывет в любом случае.

[2016-06-20 09:48] gsbelarus commented on #3658
Вариант 2 не пройдет. После загрузки ПИ пересчитывается контрольная сумма и если она отличается, то у файла уже будет статус не ==, а >>.

Попробую сейчас первый вариант сделать.

Тут вопрос в несколько другом. Из ПИ должна собираться база 1 в 1. Так же как из исходников на паскале компилируется всегда один и тот же гедымин. В данном случае, правильная организация должна выглядеть так:
1. Общая дл

[2016-06-20 11:06] YRozmysl commented on #3658
ОК, можно и первый вариант сделать, хуже точно не будет.
 Тут понятно, что в идеале не надо править на клиентской базе стандартные вещи, которые общие для всех клиентов. Но на практике бывает, редко но бывает, когда правится стандартная вещь, например, ф-ция, которая рассчитывает пенсионный и которая одновременно делает записи  в один документ, и вот этот уже документ может содержать разную структ

[2016-06-20 11:07] gsbelarus commented on #3658
Все равно как только выявляется такая вещь, надо ее оформлять в отдельное пи.

[2016-06-20 11:12] YRozmysl commented on #3658
Да, теперь так  и делается, по мере выявления таких вот ситуаций.  Дорабатывается, по возможности, до гибкой  настройки таких вот моментов  в рамках существующего ПИ, либо выделяется в отдельное.

[2016-06-20 11:21] gsbelarus commented on #3658
По первому варианту сделано.

[2016-06-20 11:21] #3658 closed, assigned to gsbelarus

[2016-06-20 12:02] gsbelarus opened #3840 "Атрибут ЕЖЕГОДНО для автозадач"
Сделать.

[2016-06-21 12:41] alexandra-gsoftware commented on #3835
А сделайте чтобы в скриптах формирования чистого эталона эта галочка сразу была true - для новых клиентов

[2016-06-21 12:51] gsbelarus commented on #3835
Так просто добавьте эту галку в ПИ.

[2016-06-21 13:06] alexandra-gsoftware commented on #3835
Она и так там есть. Но нужно разделять обновление для старых клиентов и для новых. У старых она должна быть фолс по умолчанию, у новых - тру. Поэтому я удалю ее из пи, а вы добавьте в чистый эталон

[2016-06-22 08:20] gsbelarus opened #3841 "Деноминация кассовых ордеров"
Может деноминировать их в утилите отдельным запросом? Только записи с ИД валюты белорусского рубля?

[2016-06-22 12:02] YRozmysl opened #3842 ""Сравнение содержимого""
При сравнении текста процедуры в базе с текстом процедуры в файле в окне "Сравнение содержимого" неверно отображается.

![44444](https://cloud.githubusercontent.com/assets/11507129/16265851/53403d52-388a-11e6-8ff7-111a1a71abcf.jpg)

Но, на самом деле в базе текст процедуры имеет вид:

LEFT JOIN USR$WG_P_EMPLTAXSTATE(reg.USR$EMPLKEY, t.USR$DATEEND) TaxState ON 1 = 1
    LEFT JOIN USR$WG_TAXATION ta

[2016-06-22 12:41] YRozmysl commented on #3842
Сбросил на почту  путь к базе, где можно увидеть проблему

[2016-06-22 18:49] #3842 closed, assigned to gsbelarus

[2016-06-23 07:50] NikolayUkleyko commented on #3613
Возвращаемся к первому пункту.

Пример.
Отключаем все фильтры. В **_автофильтре выбираем счет 41.02**_. Добавляем запись (сложную проводку):
Дт 41.02 = 5 000  - Кт 42.01 = 3 000
                               Кт 42.02 = 2 000

При сохранении и/или редактировании записи программа выдает вышеприведенное окно с сообщением об ошибке. Повторюсь, запись сохраняется, но это вызывает вопросы. @MIchaelShoi

[2016-07-01 11:33] gsbelarus opened #3843 "Одноименные параметры разных типов"
Вот такой запрос. В нем 14 параметров, часть имеют тип строка, часть блоб. Но все с одним именем. Запрос выполняется в окне SQL редактора, но кидает ошибку при выполнении из отчетов.

[code]

[2016-07-01 12:47] alexandra-gsoftware commented on #3843
Причем перестал работать вчера. Раньше работал... Отрубить юнионы по gd_function - работает.

[2016-07-01 12:58] NikolayUkleyko opened #3844 "Out of memory на новейшем gedemin.exe"
С Гомельобоев жалуются на следующие часто возникающие ошибки:

![image](https://cloud.githubusercontent.com/assets/11497453/16522121/5aba1474-3fa4-11e6-980e-e683e319941f.png)

![image](https://cloud.githubusercontent.com/assets/11497453/16522126/62a6ff62-3fa4-11e6-99e3-47ea52cffc4c.png)

Подобные ошибки возникают при различных режимах работы: работа с документами, формирование отчетов и форм и т.

[2016-07-01 13:00] gsbelarus commented on #3844
Надо ставить экзе с отладочной информацией и скинуть сюда стек вызовов когда выскочит ошибка.

[2016-07-01 13:13] NikolayUkleyko commented on #3844
Есть и еще одна давно замеченная ошибка и на Береза МКК

![image](https://cloud.githubusercontent.com/assets/11497453/16522471/a7b92100-3fa6-11e6-97ad-e2b869047a50.png)

Данная ошибка мешает переподключиться к БД при установке ПИ, настроек. Приходится снимать процесс и заново подключаться к БД. При этом обновления становятся полностью.

[2016-07-01 13:16] alexandra-gsoftware commented on #3844
последняя и у меня бывает (после этого умирает control center)

[2016-07-01 13:28] gsbelarus commented on #3844
на новейшем экзе не должно быть. но надо посмотреть.

[2016-07-01 19:24] gsbelarus opened #3845 "Неправильные счета в БД"
Я нахожу на базах некорректные счета. например, есть счет 18, субсчет 18.01. И 18.01.02, но последний помечен не как субсчет, а как счет и parent у него напрямую 18, а не 18.01.

Стоит ли апгрейдом поправить такие счета? Т.е. указать правильно их тип и правильно присвоить parent?

Если не сделать этого, то возможны ошибки при загрузке ПИ, как, например у найттрампа.

Какие тут могут бытьподводные

[2016-07-01 21:02] alexandra-gsoftware commented on #3845
мне кажется, вы это уже правили, но этот апдейт затерялся в веках. Я думаю, надо править, да

[2016-07-04 06:34] ilonaand commented on #3844
Последняя ошибка на новейшем экзе на Могилеве, но не на всех компьютерах. Не дает подключиться к базе при удаленном подключении - склад-магазин не может работать, мы не можем подключиться к базе. Надо очень срочно посмотреть

[2016-07-04 07:00] YRozmysl commented on #3844
На exe (Дата файла = 04.07.2016 Версия файла         = 2.9.2.8739) к локальной базе ммк подключается, возможно есть смысл заменить его.

[2016-07-04 07:02] YRozmysl commented on #3844
На могилеве стоит exe от 01.07.2016

[2016-07-04 07:08] ilonaand commented on #3844
Да, вчера скачивал и ставил. Там работает при локальном подключении похоже у всех, во всякос случае пока никто не жаловался, и на удаленке по одному ай-пи. По остальным ай-пи не работает, начинает грузить гедемин, выкидывает эту ошибку и вылетает. Иногда кидает ошибку что file contains no version information. Может, и есть смысл заменить на сегодняшний

[2016-07-04 12:40] NikolayUkleyko commented on #3425
Необходимо реализовать следующий механизм.
  В параметрах рабочей организации выбрать несколько счетов и один из них сделать активным. При формировании бухгалтерских отчетов предусмотреть возможность выбора счетов из **всех планов счетов, включая и активный**.

Алексей, так ли ? Пожалуйста, подскажи, в каких случаях это будет применимо ?

[2016-07-04 14:58] NikolayUkleyko commented on #3845
Я бы лихо автоматом не менял входимость счетов. Лучше пройти и поправить требуемые счета через **_Свойства > Данные: Parent, Accountype**_.

[2016-07-04 16:23] alexandra-gsoftware commented on #3844
Вот опять Connection Refused, и Control Center молча отваливается.

[2016-07-07 12:37] NikolayUkleyko opened #3846 "Бухгалтерия. Формы, параметры и очистка поля 'Конфигурация'"
**Исследователь > Бухгалтерия > Анализ счета, Главная книга, Карта счета, Оборотная ведомость**.

Формируем формы по соответствующим конфигурациям. Не очищая поле конфигурация от выбранной конфигурации, на панели инструментов изменяем параметры формирования. **При этом не очищается поле конфигурация от выбранной конфигурации. Должно очищаться**. Так реализовано в форме **Журнал-ордер**.

@MIchaelS

[2016-07-07 12:42] NikolayUkleyko opened #3847 "Бухгалтерия. В форме конфигурации по умолчанию выбрана последняя закладка"
**_Исследователь > Бухгалтерия > Журнал-ордер, Анализ счета, Главная книга, Карта счета, Оборотная ведомость**_.

При добавлении и/или редактировании конфигурации **_по умолчанию на форме конфигурации отображается последняя закладка. Такого быть не должно**_. Должна быть исходная, первая закладка.

[2016-07-07 12:48] NikolayUkleyko commented on #3838
Спасибо !

[2016-07-07 12:48] #3838 closed, assigned to nobody

[2016-07-07 12:53] NikolayUkleyko commented on #3839
Проверено.
Работает корректно.
Спасибо !

[2016-07-07 12:53] #3839 closed, assigned to nobody

[2016-07-07 12:53] NikolayUkleyko commented on #3833
Проверено.
Работает корректно.
Спасибо !

[2016-07-07 12:53] #3833 closed, assigned to nobody

[2016-07-07 12:58] NikolayUkleyko commented on #3832
@iamchrisep , пожалуйста, посмотри вопрос по **синхронизации параметров**.

[2016-07-07 13:02] NikolayUkleyko commented on #3794
По-хорошему не мешало бы сделать **новую** более гибкую форму Журнала-ордера (в перспективе может и Карту счета и т. д.).
С возможностью выбора конкретных параметров (переменных) по оси X и оси Y.

[2016-07-07 13:29] NikolayUkleyko opened #3848 "Бухгалтерия. Журнал-ордер и значение аналитики 'Дата проводки'"
**_Исследователь > Бухгалтерия > Журнал-ордер**_.

Формируем Журнал-ордер за **июль 2016 г.** согласно следующих параметров:

![1](https://cloud.githubusercontent.com/assets/11497453/16654300/c8d889a0-445d-11e6-85bf-a711e81c3831.png)

Получаем:

![2](https://cloud.githubusercontent.com/assets/11497453/16654301/ccc3ea50-445d-11e6-818a-8f67cba3e6fa.png)

У меня давно возник вопрос. Если, дата провод

[2016-07-07 17:28] alexandra-gsoftware opened #3849 "не работает sumfullrubstr в шаблонах на старом fr..."
... а может, и в новом fr тоже.
Проблема появляется в ехе, который сейчас выложен на сайте, для сумм с дробной частью, где дробная часть больше 0.5
Например,
S = 49 230 576.6
SUMFULLRUBSTR(ROUND( S \* 100) / 100) ->
сорок девять миллионов двести тридцать тысяч пятьсот семьдесят **семь целых** шесть **десятых** рублей шестьдесят копеек

SUMFULLRUBSTR(ROUND( S \* 100, 2) / 100) ->
сорок девять милли

[2016-07-07 19:05] testkkc opened #3850 "Ошибка при попытке сменить тип платежа PositiveCheck"
Ошибка при попытке сменить тип платежа PositiveCheck
![pay](https://cloud.githubusercontent.com/assets/20344214/16666088/cc851b78-448e-11e6-9583-bdd695d6d297.jpg)

[2016-07-07 19:14] alexandra-gsoftware commented on #3849
Все оказалось куда сложнее. Создаем отчет, набор данных с одним полем и одной записью, значение S = 49 230 576.6
1. Выводим SUMFULLRUBSTR(S), получаем вот такое:
   ![1](https://cloud.githubusercontent.com/assets/11487200/16666241/6e539b0a-448f-11e6-96b2-799b3af1b550.png)
   Как видите, рублевая часть округлена (там 7 вместо 6), но в остальном все хорошо.
2. Строим отчет еще один раз - ничего не п

[2016-07-08 11:04] gsbelarus commented on #3849
Первым делом проверьте настройки валюты в справочнике валют. И перегрузите экзешник.

Если трогаете отчет -- используйте новую функцию. Документация в вики.

[2016-07-08 11:04] gsbelarus commented on #3849
Не используйте старые функции. Вместо них есть одна новая на все случаи.

[2016-07-08 11:09] gsbelarus commented on #3849
Gd_convert.getnumeral -- это функция которая делает преобразование в строку.

[2016-07-08 11:10] alexandra-gsoftware commented on #3849
все старые отчеты, использующие эти 2 функции, показывают неверные данные на новом ехе. На старом все ок.

[2016-07-08 11:11] gsbelarus commented on #3849
И пожалуйста, используйте новые функции. Они создавались, чтобы избавиться от этого бреда
SUMFULLRUBSTR(ROUND( S \* 100) / 100)

[2016-07-08 11:22] gsbelarus commented on #3849
Подскажите кристине, что в gd_convert в функциях getfullrubstr и проч надо закоментировать код и подставить вызов getcurrnumeral с соответствующей маской.

Потом надо на индию перенести эти изм и м.ю. знает как на сайте обновить экзешник.

[2016-07-08 11:22] gsbelarus commented on #3849
Док по getcurrnumeral в вики

[2016-07-08 11:23] gsbelarus commented on #3849
Или просто @Michaelshoihet попросите.

[2016-07-08 11:59] NikolayUkleyko opened #3851 "Бухгалтерия. Некорректный Журнал-ордер по количественным показателям"
**_Исследователь / Бухгалтерия / Журнал-ордер_.**

Формируем Журнал-ордер по следующим параметрам:

![1](https://cloud.githubusercontent.com/assets/11497453/16686494/30b5e208-451b-11e6-8512-4f420295cd0b.png)

Получаем:

![2](https://cloud.githubusercontent.com/assets/11497453/16686547/7f91bf14-451b-11e6-9b7d-48817f8d4765.png)

Не должно быть **_пустых строк**_ при формировании Журнала-ордера по ко

[2016-07-08 12:28] alexandra-gsoftware commented on #3849
и сделайте кто-нибудь плз ф-ю сохранения шаблона старого фр в формате xml в поток, если поиска принципиально не будет

[2016-07-08 12:35] gsbelarus commented on #3849
В старом фр по мойму нет сохр шаблона в xml
On Jul 8, 2016 15:28, "alexandra-gsoftware" notifications@github.com
wrote:

[2016-07-08 12:53] alexandra-gsoftware commented on #3849
есть. Если кто-то сделает ф-ю выгрузки в поток в этом формате, то я сделаю поиск.
![4](https://cloud.githubusercontent.com/assets/11487200/16687927/1a61935e-4524-11e6-990a-607b0f55e92b.png)

[2016-07-08 15:40] stasgm commented on #3850
Исправлено. Будет в следующем релизе или качать из гитхаба

[2016-07-10 18:40] YRozmysl commented on #3332
Ситуация становится уже такой, что бухгалтера предприятий просят запустить пересчет вечером, чтобы утром увидеть пересчитанный месяц. Причем на том же БМКК, где есть сборные наряды из однодневных (если бы рассчитывали без сборных..я лучше вообще промолчу) расчет идет 2  часа.  Ведь уже есть и профайлер, может уже наконец-то что-то попробуем сделать?

[2016-07-10 18:53] MIchaelShoihet commented on #3332
Профайлер есть. Запустили пересчет. Сохранили файл из профайлера. Можно анализировать.

[2016-07-10 18:54] MIchaelShoihet commented on #3332
Желательно именно на большой базе, на хорошем сервере. Что бы увидеть реальные задержки.

[2016-07-11 04:48] YRozmysl commented on #3332
Буду сбрасывать сюда логи профайлов с разных больших баз, где запускается профайлер.
 **ГМК**. Среди баз больших предприятий - самый относительно быстрый расчет.
   Выделен отдельный сервер. Установлены SSD. Кроме зп и путевых там нет ничего.  Количество пользователей 20-25. Пересчет запускался, когда пользователей не было.
   **Характеристики сервера:**
 Название компьютера  = GGEDEMIN
 IP адрес

[2016-07-11 04:50] YRozmysl commented on #3332
[profile_GMK.zip](https://github.com/GoldenSoftwareLtd/gedemin/files/356457/profile_GMK.zip)

[2016-07-11 10:11] NikolayUkleyko commented on #3851
Текст SQL-запроса для корректного формирования Журнала-ордера по аналитике **Товар** в разрезе количественных показателей с существующими значениями и нет:

[code]

Предположительно такие изменения необходимо внести и в остальные бухгалтерские формы: Карта счета, Анализ счета, Главная книга.

[2016-07-11 10:18] NikolayUkleyko commented on #3848
Есть ситуации, когда создается аналитика на основании домена **DDATE** и/или **DDOCUMENTDATE**. При формировании Журнала-ордера в разрезе такой аналитики будут отображены пустые строки при отсутствии оборотов, копеек и значений по прочим аналитикам.
Как вариант, можно предусмотреть в параметрах реквизит **Скрыть пустые строки типа 'Дата'**.

[2016-07-11 10:20] NikolayUkleyko commented on #3759
@iamchrisep , пожалуйста, посмотри.

[2016-07-11 14:20] NikolayUkleyko opened #3852 "Бухгалтерия. Не сохраняются настройки грида в окне выбора конкретного документа"
**Исследователь / Бухгалтерия / Журнал хоз. операций**.

В окне выбора конкретного документа не сохраняются настройки грида.
Около 1-2-х лет назад я инициировал рассматриваемую проблему. По итогу - ничего.
Это снова весьма актуально.
Пожалуйста, устраните недоработку.

![1](https://cloud.githubusercontent.com/assets/11497453/16733921/324edb1a-478c-11e6-8974-5d93de20337c.png)

[2016-07-11 14:26] NikolayUkleyko opened #3853 "Выбор плана счетов в параметрах бухгалтерских отчетов (Q)"
Сейчас бухгалтерские отчеты строятся только по счетам активного плана счетов организации.
Надо добавить возможность выбора плана счетов в параметрах бухгалтерских отчетов.

Тему про использование дополнительных планов счетов по одной организации я уже поднимал.
http://code.google.com/p/gedemin/issues/detail?id=2731&can=1&q=nikolayukleyko&colspec=ID%20Opened%20Closed%20Type%20Status%20Priority%20Re

[2016-07-11 14:27] NikolayUkleyko commented on #3425
@gsbelarus , пожалуйста, закройте тему.

[2016-07-14 13:07] MIchaelShoihet opened #3854 "Выбор аналитики в ЖХО"
Лукап для выбора договора - обрабатывается как обычный документ, хотя на поле настроено визуальное отображение привязывающего его именно  к документу договор. В старых exe это ограничение работало, сейчас нет. Надо посмотреть. Срочно.

[2016-07-15 08:15] testkkc opened #3855 "Пароль на кнопку закрыть"
Пароль на кнопку закрыть (можно закрыть программу, случайно нажав на кнопку, м.б. есть возможность установить проверку паролем действия - не нашел).

Другие вопросы перенесены сюда:

https://github.com/gsbelarus/check-and-cash/issues

[2016-07-15 13:46] gsbelarus commented on #3332
4 гб памяти на сервере это не смешно. Для начала надо увеличить память. До
32 гб хотя бы. И не указывайте свободную память. Сто раз это обсуждалось.
Цифры из таск менеджера ни о чем не говорят.

В остальном, надо брать лог и смотреть в первую очередь запросы.
On Jul 10, 2016 21:40, "Yury Rozmysl" notifications@github.com wrote:

[2016-07-15 13:50] YRozmysl commented on #3332
Конечно не смешно. На березе 64 гб и в 2 раза дольше расчет.

15 июля 2016 г., 16:46 пользователь Andrej Kirejeŭ <notifications@github.com

[2016-07-15 14:02] NikolayUkleyko commented on #3332
Неужели на Витебск БПФ шустро выполняется расчет ?

[2016-07-15 14:44] YRozmysl commented on #3332
Часа 4 точно,  в след расчет будет и от их профайл для сравнения.

[2016-07-15 14:44] MIchaelShoihet commented on #3332
Оно нигде быстро не работает... И конечно с этим надо разбираться. При этом естественно, что на более мощном железе, правильно настроенном, расчет будет идти быстрее

[2016-07-18 07:02] NikolayUkleyko commented on #3854
Я так понимаю, что речь не идет о том, чтобы в Журнале хоз. операций в выпадающем списке отображались актуальные договора строго по клиенту ?

[2016-07-18 07:06] MIchaelShoihet commented on #3854
Нет. Об этом речь не идет, в журнале хоз операций это не осуществимо. Речь идет о том, что в поле договора отображались только договора, а не все документы системы.

[2016-07-18 07:09] NikolayUkleyko commented on #3854
@MIchaelShoihet , ок. Но у нас есть волшебная комбинация **Ctrl+D**.

[2016-07-18 10:51] NikolayUkleyko commented on #3851
@gsbelarus , пожалуйста, обновите gedemin.exe, учитывая вышеприведенное. На форуме ожидает человек.

[2016-07-19 08:59] gsbelarus commented on #3855
Зато как этот вопрос будет раздражать 99% остальных пользователей.

[2016-07-19 11:15] #3850 closed, assigned to stasgm

[2016-07-19 12:40] testkkc commented on #3855
Пользователь утверждает, что часто случайно нажимает на эту кнопку, в результате программа закрывается. Если она установлена как оболочка, приходится каждый раз перезагружать комп. Если не пароль, то можно хотя бы переспрашивать - да/нет.

[2016-07-19 16:29] stasgm commented on #3855
Вот так настраивается запрос пароля
![image](https://cloud.githubusercontent.com/assets/8355925/16957890/f6386356-4de6-11e6-9fab-778010110213.png)
Я добавлю ещё вопрос к операции"Закрыть программу?"

[2016-07-19 17:43] #3827 closed, assigned to iamchrisep

[2016-07-21 10:25] #3825 closed, assigned to iamchrisep

[2016-07-21 12:01] NikolayUkleyko opened #3856 "Предопределенные фильтры. Предусмотреть обработку регулярных выражений"
Пожалуйста, в предопределенных фильтрах предусмотрите обработку регулярных выражений.

![1](https://cloud.githubusercontent.com/assets/11497453/17021938/e5d2d500-4f53-11e6-8fa3-4dcb21e0cf8c.png)

[2016-07-21 13:57] NikolayUkleyko commented on #3847
Проверено.
Работает корректно.
Спасибо !

[2016-07-21 13:57] #3847 closed, assigned to iamchrisep

[2016-07-21 14:02] NikolayUkleyko commented on #3738
Проверено.
Работает корректно.
Спасибо !

[2016-07-21 14:02] #3738 closed, assigned to nobody

[2016-07-22 10:16] NikolayUkleyko commented on #3832
Доработок не выявлено.

[2016-07-22 10:17] NikolayUkleyko commented on #3846
Доработок не выявлено.

[2016-07-22 10:18] NikolayUkleyko commented on #3781
Доработок не выявлено.

[2016-07-22 10:22] NikolayUkleyko commented on #3819
Проверено.
Удалено залипание при поочередном клике по блокам.
Но ! Сейчас при выборе нескольких блоков через **Shift** и/или **Ctrl**, отпускании клавиш и попытке перетаскивания выделенных блоков автоматически активным остается только блок, по которому выполняется перетаскивание. То есть, остальные блоки становятся неактивными.
Пожалуйста, устраните недоработку.

[2016-07-22 10:34] NikolayUkleyko commented on #3677
Проверено.
Работает корректно.
@iamchrisep , спасибо !
:trophy:

[2016-07-22 10:34] #3677 closed, assigned to iamchrisep

[2016-07-22 10:34] NikolayUkleyko commented on #3732
Доработок не выявлено.

[2016-07-28 14:07] MIchaelShoihet opened #3857 "Некорректная работа банковской выписки с курсом валюты"
Сейчас курс российского рубля 6 знаков после запятой. Надо что бы выписка это поддерживала. Проверить пересчет из валюты в рубли. Округлять рубли до кол-во знаков указанных в настройках белорусского рубля. Вообще убрать расчет валюты от рублей.

[2016-07-28 14:08] gsbelarus commented on #3857
Поскольку это в экзешнике сделано, то после проверки и исправления надо написать тест.

[2016-07-28 23:03] MIchaelShoihet opened #3858 "Журнал хоз операций"
Курс валют подставляется только 4 знака - надо 6. При установленной галке округлять, округлять до столько знаков, сколько установлено в настройках бел рубля в справочнике валют. Пересчеты из рублей в валюту и обратно - проверить.

[2016-08-01 17:12] NikolayUkleyko opened #3859 "Функция SUMCURRSTR2. Отображение разделителя"
Сейчас функция SUMCURRSTR2 работает следующим образом.
Прописали: [SUMCURRSTR2(200010, [NEWPAYMENT."USR$BN_SUMNCU"], true)].
Получили:
![2](https://cloud.githubusercontent.com/assets/11497453/17302144/81a23caa-5823-11e6-8a2f-b96d854ebd93.png)

На практике необходимо в отчетах получать **_сумму рублей в текстовой интерпретации, потом разделитель (точка или запятая), потом сумма копеек в цифровой ин

[2016-08-01 17:22] gsbelarus commented on #3859
Эту функции дорабатывать не будем. Есть GetCurrNumeral она позволяет выполнить вышеуказанную задачу.

[2016-08-01 17:24] #3859 closed, assigned to nobody

[2016-08-04 10:35] gsbelarus opened #3860 "Как хранить курсы валют"
Есть такая идея, как остаться в пределах типа **Currency**. Что, если все курсы в базе данных (в таблице курсов, в полях в документов и т.п.) мы будем указывать не за 1, а за 10 000 (можно и за 1000 или за 100, но 10 000 чисто визуально возвращает нас к цифрам до деноминации).

Т.е. курс бел рублей за доллар будет в базе храниться как 20 000, а не 2.

`20 000 BYN = 10 000 USD.
`

Курс долларов за

[2016-08-04 11:56] alexandra-gsoftware commented on #3860
у нас много полей, хранящих курс. Собственно, со станlдартными курсами из gd_currate код уже поправлен. Как быть с остальными полями?

[2016-08-04 12:25] gsbelarus commented on #3860
Какой код поправлен? Перешли с точного currency на double? Где число это
степень e? И дальше что? При любом делении будут лезть малые величины,
малые расхождения.

Тут суть в том, чтобы сохранить тип currency.

On Aug 4, 2016 2:56 PM, "alexandra-gsoftware" notifications@github.com
wrote:

[2016-08-04 12:32] gsbelarus commented on #3860
У нас использовался double в секрете анжелики. И это был ад адов. Для фин величин ТОЛЬКО currency (в БД numeric) иначе вы концов в программе не сведете никогда. Итак нареканий к нам выше крыши, а когда отчеты не будут идти с проводками, а проводки с документами....

[2016-08-04 13:02] alexandra-gsoftware commented on #3860
variant, а не double +проверки на нулл

[2016-08-04 13:18] gsbelarus commented on #3860
Variant внутри содержит double с теми же последствиями. И огребете вы с
такой заменой в будущем по самые помидоры.

On Aug 4, 2016 4:02 PM, "alexandra-gsoftware" notifications@github.com
wrote:

[2016-08-04 13:32] alexandra-gsoftware commented on #3860
откуда такие сведения?

[2016-08-04 13:49] gsbelarus commented on #3860
Какие?

On Aug 4, 2016 4:32 PM, "alexandra-gsoftware" notifications@github.com
wrote:

[2016-08-04 13:52] gsbelarus commented on #3860
For example, if you store values with decimal fractions in a Variant
variable, Visual Basic always uses the Double internal representation. If
you know that your application does not need the high accuracy (and slower
speed) that a Double value supplies, you can speed your calculations by
converting the values to Single, or even to Currency:

https://msdn.microsoft.com/en-us/library/aa261347(v=vs.

[2016-08-04 15:41] gsbelarus commented on #3860
Value = Variant = Double

PS: проблем будет меньше, чем в свое время с Секретом, так как в БД хранится как нумерик. Но, они будут (

[2016-08-04 15:47] alexandra-gsoftware commented on #3860
c 6 знаками после запятой не вылазят проблемы с дабл. А вот если 10 знаков - то да.

[2016-08-04 16:01] gsbelarus commented on #3860
Да дело все в том, что CCur дает **ЧЕТЫРЕ** знака после запятой, которых нам не хватает.

[2016-08-04 16:11] gsbelarus commented on #3860
Я хочу вас всех дико расстроить. Сколько будет сто раз просумировать 0.1? Должно быть 10, правильно?

Теперь выполните вот этот элементарный код:

[code]

Получили результат? Удивились?

Вот это тот ад который начнется в самом скором времени, если мы не вернем
все назад к типу Currency и не придумаем что делать с малыми величинами курсов.

[2016-08-04 16:14] gsbelarus commented on #3860
Приведенный выше пример можно вылечить только приведением к **Currency**:

[code]

Теперь получим правильный результат.

[2016-08-04 16:20] gsbelarus commented on #3860
Я бы сейчас вернул назад использование **AsCurrency** где менялось на **AsVariant** или **Value**.

И подумал бы как решить проблему. Иначе мы в такие дебри залезем из которых будем долго-долго выбираться.

Тип **DOUBLE** никаким концом не предназначен для выполнения финансовых и складских расчетов.

https://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html

[2016-08-05 07:58] NikolayUkleyko opened #3861 "Предопределенный фильтр + автофильтр = ошибка"
Сейчас на всех документах при сочетании предопределенного фильтра и автофильтра программа отображает окно с сообщением об ошибке:

![1](https://cloud.githubusercontent.com/assets/11497453/17430081/02c95bc2-5afb-11e6-8fe0-f4e180250c2e.png)

Нажав на клавишу **ОК**, в автофильтре не будет никаких значений:

![2](https://cloud.githubusercontent.com/assets/11497453/17430158/50039c04-5afb-11e6-86e6-0da

[2016-08-05 13:54] iamchrisep commented on #3617
https://github.com/GoldenSoftwareLtd/gedemin/issues/3852

[2016-08-05 13:54] #3617 closed, assigned to nobody

[2016-08-05 14:14] alexandra-gsoftware commented on #3748
Работает, спасибо!

[2016-08-05 14:14] #3748 closed, assigned to iamchrisep

[2016-08-07 06:16] hjamesgs opened #3862 "ЭСЧФ. Вопросы"
1. При передаче на сайт xml файла, необходимо начинать нумерацию позиций в документе с  "0". (В самом xml файле нумерация позиций начинается с 1... , а при передаче на сайте уже с №2. Если сохранить с сайта ЭСЧФ, созданную вручную, то там номер позиции начинается с "0")
2. Заполнение реквизитов Грузополучатель Грузоотправитель необходимо только для Накладных. Для Актов выполненных работ эти реквиз

[2016-08-08 12:34] NikolayUkleyko commented on #3861
@gsbelarus , спасибо, решили.

[2016-08-08 12:34] #3861 closed, assigned to nobody

[2016-08-10 09:10] igor6003 commented on #3857
Может лучше убрать из экзешника и пересчет из валюты в рубли и вынести это в
DoFieldChange, тем более что теперь есть функция GS.MulDiv для правильного округления.

[2016-08-10 12:51] NikolayUkleyko opened #3863 "Типовые документы. Ошибка при конвертации"
При выполнении конвертации типовых документов на экране отображается окно с сообщением
 об ошибке

![image](https://cloud.githubusercontent.com/assets/11497453/17553986/6b6cd6f8-5f11-11e6-83c5-fe593fa4b176.png)

Пожалуйста, подскажите, как устранить проблему ?

[2016-08-10 17:18] NikolayUkleyko commented on #3862
Эрюжев Саша сказал, что данные вопросы решены.
@gsbelarus , пожалуйста, закройте тему.

[2016-08-10 18:11] hjamesgs commented on #3862
К сожалению портал не работал, не было возможности проверить.

[2016-08-11 14:11] NikolayUkleyko commented on #3863
@alexandra-gsoftware меня направила к @gsbelarus .
Пожалуйста, подскажите, как решить проблему ?
Бухгалтера желают отражать движение ОС за июЛь 2016 г.

[2016-08-11 14:17] gsbelarus commented on #3863
А что за конвертация?

[2016-08-11 14:18] gsbelarus commented on #3863
И не надо выкладывать пароли клиентов на всеобщее обозрение в интернет. Это же открытй репозиторий.

[2016-08-11 14:30] NikolayUkleyko commented on #3863
gedemin.exe /cdo

Я, Вам, писал письмо с аналогичным содержанием.

[2016-08-11 16:55] YRozmysl opened #3864 "Профайлер"
Неплохо было бы еще видеть в профайлере и subtype  документа в котором вызывается метод

![default](https://cloud.githubusercontent.com/assets/11507129/17597201/80f03d02-5ffd-11e6-864d-78082007b60f.jpg)

[2016-08-12 17:54] NikolayUkleyko commented on #3864
Еще. Не мешало бы закрывать в профайлере коннект в списке коннектов, если соответствующая база данных была отключена. Получается, что пока не закроешь профайлер список коннектов не очистится. Таким образом, собираются уже ненужные коннекты, что при анализе весьма неудобно.

[2016-08-14 11:19] gsbelarus commented on #3864
Специально так делалось, чтобы можно было провести анализ/сравнение и после закрытия программы. Введено ограничение на количество вкладок со статистикой и логом -- 10.

[2016-08-15 14:12] alexandra-gsoftware commented on #3863
и к чему пришли?

[2016-08-15 15:33] NikolayUkleyko commented on #3863
Пока ничего.

[2016-08-19 12:51] testkkc opened #3865 "POSitive Check - при попытке сделать возврат аванса ( в окне бронирования) в нефискальном режиме ошибка."
При попытке сделать возврат аванса ( в окне бронирования) в нефискальном режиме ошибка. - "Не установлен фискальный регистратор, система находится в нефискальном режиме."
Можно ли сделать некое подобие виртуального фискального регистратора, чтобы все функции (нефискальные) фискального регистратора выполнял чековый принтер и этот режим можно было бы явно установить? Чтобы "Самурай без меча подобен

[2016-08-19 12:53] testkkc opened #3866 "POSitive Cash - при печати X, Z-отчетов на чеке вместо Кассир - Иван Иванов, печатается Кассир - кассир."
POSitive Cash - при печати X, Z-отчетов на чеке вместо Кассир - Иван Иванов, печатается Кассир - кассир. При этом на фискальных чеках оплаты данные кассира печатаются правильно.

[2016-08-19 13:02] gsbelarus commented on #3866
Этот репозиторий для ЯДРА платформы. Касса и ресторанный фронт в другом репозитории.

Перенесено:

https://github.com/gsbelarus/check-and-cash/issues/32

[2016-08-19 13:02] #3866 closed, assigned to nobody

[2016-08-19 13:03] gsbelarus commented on #3865
Перенесено:

https://github.com/gsbelarus/check-and-cash/issues/33

[2016-08-19 13:03] #3865 closed, assigned to nobody

[2016-08-19 13:08] testkkc commented on #3866
Извиняюсь, не знал структуры.

From: Andrej Kirejeŭ [mailto:notifications@github.com]
Sent: Friday, August 19, 2016 4:02 PM
To: GoldenSoftwareLtd/gedemin
Cc: testkkc; Author
Subject: Re: [GoldenSoftwareLtd/gedemin] POSitive Cash - при печати X, Z-отчетов на чеке вместо Кассир - Иван Иванов, печатается Кассир - кассир. (#3866)

Этот репозиторий для ЯДРА платформы. Касса и ресторанный фронт в другом

[2016-08-22 16:06] gsbelarus opened #3867 "Выполнение автозадач из второй копии Гедымина, запущенной из командной строки"
Проверить. Два Гедымина запускаются через командную строку. Будут ли во втором отрабатывать назначенные задания?

[2016-08-22 17:17] NikolayUkleyko opened #3868 "Предопределенные фильтры. Отображение введенных параметров"
Сейчас при работе с документами и активном предопределенном фильтре **не видно с какими параметрами он задействован**. При наведении на активный фильтр видны данные по настройке фильтра без отображения параметров.

![1](https://cloud.githubusercontent.com/assets/11497453/17863826/0e7fd0ca-68a4-11e6-8d93-c2cc6cd559c8.png)

На практике такой информации мало. Приходится по уже отфильтрованным данным

[2016-08-22 17:25] NikolayUkleyko commented on #3844
На **Береза МКК** по-прежнему такая ошибка:

![image](https://cloud.githubusercontent.com/assets/11497453/16522471/a7b92100-3fa6-11e6-97ad-e2b869047a50.png)

Смена gedemin.exe ничего не меняет.

[2016-08-23 08:32] iamchrisep commented on #3867
@MIchaelShoihet подскажите, пожалуйста, как именно это происходит? Запускается копия Гедымина, отрабатывают автозадачи, а далее: он завершает свою работу прежде чем запускается вторая копия или продолжает висеть? Может быть, есть еще нюансы?

[2016-08-23 08:36] gsbelarus commented on #3867
@iamchrisep, пишите подробнее, чтобы вам могли однозначно ответить.
1. Как запускается Гедымин? Планировщиком операционной системы, по расписанию?
2. Если да, то с какими параметрами командной строки? И какая периодичность расписания?
3. Используется ли параметр командной строки /exit, т.е. Гедымин запускается, отрабатывают автозадачи, назначенные на старт системы, и Гедымин выгружается. Или Гедым

[2016-08-23 10:12] MIchaelShoihet commented on #3867
Подключение идет в момент загрузки Windows планировщиком, каждая копия запускается под отдельным пользователем Windows с разными пользователями Гедемина. Получается, что кто первый, тот работает в штатном режиме, второй какой-то не догруженный (слова админа), как минимум назначенные задачи не работают

[2016-08-23 10:35] gsbelarus commented on #3867
Теперь понятно. Тестить надо на сервере. Для точного моделирования ситуации
с загрузкой в разных (параллельных) сессиях.

On Aug 23, 2016 13:12, "MIchaelShoihet" notifications@github.com wrote:

[2016-08-26 16:46] #3863 closed, assigned to gsbelarus

[2016-08-29 14:53] NikolayUkleyko commented on #3863
Проверено.
Работает корректно.
Спасибо !

[2016-09-08 14:48] NikolayUkleyko commented on #3819
Проверено.
Работает корректно.
@iamchrisep , спасибо !

[2016-09-08 14:48] #3819 closed, assigned to iamchrisep

[2016-09-08 15:04] #3812 closed, assigned to nobody

[2016-09-09 08:25] MIchaelShoihet opened #3869 "GRANT ALTER ANY SEQUENCE TO STARTUSER"
Под FB3.0 у STARTUSER нет прав на изменение генератора (когда необходимо присвоить начальное значение). Надо в эталон включить эти права. GRANT ALTER ANY SEQUENCE TO STARTUSER - дает право на изменения всех генераторов.

[2016-09-09 09:27] NikolayUkleyko commented on #3769
Проверено.
Работает корректно.
@iamchrisep , спасибо !

[2016-09-09 09:27] #3769 closed, assigned to nobody

[2016-09-09 09:35] NikolayUkleyko commented on #3763
@gsbelarus , скажите, пожалуйста, новости можно ожидать ?

[2016-09-13 13:57] #3613 closed, assigned to MIchaelShoihet

[2016-09-13 14:03] NikolayUkleyko commented on #3527
Тема продолжена в https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/89

@gsbelarus , пожалуйста, закройте тему.

[2016-09-14 14:02] NikolayUkleyko commented on #3765
Пожалуйста, еще добавьте локализованное отображение поля **Типовая опер.**.

[2016-09-14 14:07] #3726 closed, assigned to nobody

[2016-09-14 15:11] NikolayUkleyko commented on #3749
По пунктам 1 и 4 все прекрасно работает. Спасибо !
@gsbelarus, скажите, пожалуйста, что по поводу пунктов 2 и 3 ?

[2016-09-14 16:14] NikolayUkleyko opened #3870 "Бухгалтерия. Форма 'Карта счета'. Доработка в части корреспондирующих аналитик"
**Исследователь / Бухгалтерия / Карта счета**.

Для реквизита **Счет** предусмотрен блок **Аналитика** для ввода аналитических признаков.
![1](https://cloud.githubusercontent.com/assets/11497453/18520049/d55427d4-7aae-11e6-98c1-1f196a6f570f.png)

Пожалуйста, предусмотрите аналогичный отдельный блок для ввода аналитических признаков по счету в блоке **Корреспондентский счет**.

[2016-09-15 14:13] NikolayUkleyko commented on #3870
Тем более, в карте счета **_отображаются_** значения по аналитикам корреспондирующих счетов. Это очень удобно при работе с конфигурациями.

[2016-09-15 14:41] NikolayUkleyko commented on #3870
На больших БД выявлено следующее.
Если, в блоке **Корреспонденсткий счет** в реквизите **Корр. счета** указать счет, например, 18.03.01, и не вводить счетов в реквизите **Счет**, то  программа начинает "задумываться" и появляется счетчик. При обратной ситуации, программа формирует карту счета значительно быстрее.
Неужели такая разница в скорости формирования формы возникает из-за того, что в блоке

[2016-09-15 14:49] MIchaelShoihet commented on #3870
Разница в сути. Счет вверху является основным ограничением, а внизу дополнительным, не влияющим на план построения запроса.

[2016-09-19 13:43] YRozmysl opened #3871 "Проводки vs вычисляемые поля"
При создании типовых операций, в случае, если поля вычисляемые, то  генерируется и присваивается ему тип AsInteger, хотя по-идее, наверное, нужно AsCurrency. Или я ошибаюсь?

[2016-09-20 09:52] NikolayUkleyko commented on #3871
Значение из SQL-запроса ?

[2016-09-20 09:55] YRozmysl commented on #3871
Поле имеет домен, в котором в свою очередь  и вычисляется выражение на SQL

[2016-09-20 09:56] YRozmysl commented on #3871
В зарплате, например, это таблица USR$WG_BRIGADEORDERLINE  и в нем поле USR$ALLSUM имеет такую структуру

[2016-09-20 10:04] NikolayUkleyko commented on #3871
В таком случае можно создать SQL-запрос и в нем попробовать присвоить тип AsCurrency.

[2016-09-20 10:11] YRozmysl commented on #3871
локально я это уже все решил.  Это вопрос общей обработки таких полей в любых типовых проводках проводках. Ведь такое поле может же быть не 1-2 в базе

[2016-09-21 09:39] NikolayUkleyko commented on #3858
Если, в диалоге ЖХО зайти в дизайнер и исправить DecDigits на 6, то всё ОК. Cтоит только переоткрыть диалог и оно опять 4.

[2016-09-21 09:46] MIchaelShoihet commented on #3858
Это уже исправлено еще в августовском exe (где-то от 20 числа). И Ctrl_E  в ЖХО не имеет смысла нажимать, там все контролы не хранятся, а создаются.

[2016-09-21 10:04] NikolayUkleyko commented on #3858
Проверил.
Нельзя в поле **Курс** ввести больше 4-х знаков после запятой.

[2016-09-21 10:09] MIchaelShoihet commented on #3858
В ручную может быть, это наверное пропустил. Но автоматически все подставляется.

[2016-09-21 14:12] NikolayUkleyko opened #3872 "Кнопка 'Закрыть все окна'. Предусмотреть горячие клавиши"
На практике встречаются ситуации, когда при подключении к БД по-умолчанию формы закрывают доступ к главной панели программы. Приходится вручную закрывать каждую форму и по итогу нажать на кнопку **Закрыть все окна**. Это не удобно. На каждой БД под разными пользователями свои настройки рабочего стола Гедымина.

@gsbelarus , пожалуйста, предусмотрите горячие клавиши для команды **Закрыть все окна**

[2016-09-29 13:35] iamchrisep commented on #3856
В запросе с параметром для поиска вхождения используется оператор CONTAINING, а не LIKE, поэтому символы, используемые в регулярных выражениях, расцениваются как подстрока. Использование регулярных выражений с этим оператором невозможно. Править это не имеет смысла. Например, непонятно, что пользователь хотел найти, введя такой параметр: 50% - то ли значения, начинающееся на 50, то ли значения, со

[2016-09-29 13:52] NikolayUkleyko commented on #3856
Взвесив все, оставили как есть.
Спасибо !

[2016-09-29 13:52] #3856 closed, assigned to nobody

[2016-09-29 13:56] NikolayUkleyko commented on #3851
Проверено.
Работает корректно.
@iamchrisep , спасибо ! :trophy:

[2016-09-29 13:56] #3851 closed, assigned to MIchaelShoihet

[2016-09-30 15:28] alexandra-gsoftware opened #3874 "Блокировка периода: удаление проводки"
В триггере before_delete (для блокировки периода) на ac_entry есть такой запрос:
    SELECT d.documenttypekey
    FROM gd_document d
      JOIN ac_record r ON r.documentkey = d.id
    WHERE
      r.id = OLD.recordkey
    INTO
      :DT;
Он возвращает нулл. Видимо, из-за каскадного удаления.... Не знаю, как лучше это обойти.

[2016-10-03 09:18] NikolayUkleyko opened #3875 "Контекстное меню. Команда 'Закрыть дерево'. Добавить горячие клавиши"
Пожалуйста, для контекстного меню и команды **Закрыть дерево** предусмотрите горячие клавиши. Так будет удобнее, чем мышкой вызывать контекстное меню и искать требуемую команду.

[2016-10-03 09:24] NikolayUkleyko commented on #3874
@alexandra-gsoftware , пожалуйста, уточни вопрос, приведя практическую ситуацию.

[2016-10-04 15:44] NikolayUkleyko commented on #3744
Проверено.
При копировании итогов из форм складских остатков или из бухгалтерских форм и при последующей вставке в Excel добавляются нелокализованные наименования колонок. Однако, при работе с формами документов - переносятся локализованные наименования колонок.
@iamchrisep , пожалуйста, поправь.

[2016-10-04 15:49] gsbelarus commented on #3744
Это не так просто исправить. При сложной настройке в одной клетке может быть несколько итоговых значений и не так легко установить какое к какой колонке относится.

[2016-10-04 15:49] gsbelarus commented on #3744
Я бы не тратил пока время. Работает правильно.

[2016-10-04 15:56] NikolayUkleyko commented on #3744
Ладно-ладно. Я просто выявил такое и спросил.

[2016-10-05 14:11] NikolayUkleyko commented on #3744
Проверено.
@iamchrisep , спасибо !
:trophy:

[2016-10-05 14:11] #3744 closed, assigned to nobody

[2016-10-05 14:15] NikolayUkleyko commented on #3872
@iamchrisep , пожалуйста, укажи соответствие горячих клавиш выполняемым командам ?

[2016-10-05 14:22] iamchrisep commented on #3872
Свернуть форму просмотра - Ctrl+F3
Свернуть все формы просмотра - Shift+Ctrl+F3
Закрыть форму просмотра - Ctrl+F4
Закрыть все формы просмотра - Shift+Ctrl+F4

[2016-10-05 14:49] NikolayUkleyko commented on #3872
Проверено.
Работает корректно.
@iamchrisep , спасибо !
:trophy:

[2016-10-05 14:49] #3872 closed, assigned to iamchrisep

[2016-10-05 14:52] NikolayUkleyko commented on #3628
Проверено.
Работает корректно.
@iamchrisep , спасибо !
:trophy:

[2016-10-05 14:52] #3628 closed, assigned to nobody

[2016-10-05 15:06] NikolayUkleyko commented on #3764
Проверено.
Работает корректно.
@iamchrisep , спасибо !
:trophy:

[2016-10-05 15:06] #3764 closed, assigned to nobody

[2016-10-05 15:08] NikolayUkleyko commented on #3848
Проверено.
Работает корректно.
@iamchrisep , спасибо !
:trophy:

[2016-10-05 15:08] #3848 closed, assigned to nobody

[2016-10-06 12:54] NikolayUkleyko commented on #3544
Проверено.
Работает корректно.
@iamchrisep , спасибо !
:trophy:

@gsbelarus , пожалуйста, закройте тему.

[2016-10-10 09:14] gsbelarus opened #3876 "Автообновление gdcc"
Проверить будет ли обновляться gdcc через автообновление. А то есть такое подозрение, что поскольку он остается висеть активным, то файл его не будет перезаписан.

[2016-10-10 13:26] alexandra-gsoftware commented on #3876
у меня он от 31.05.2016

[2016-10-11 07:59] NikolayUkleyko opened #3877 "Бухгалтерия. Журнал-ордер. Ошибка при формировании по аналитике 'Месяц'"
**_Исследователь / Бухгалтерия / Журнал-ордер**_.

При формировании формы по любым счетам и параметрам, но по аналитике **Месяц** программа выдает окно с сообщением об ошибке:

![1](https://cloud.githubusercontent.com/assets/11497453/19262678/01e23e56-8fa1-11e6-9a25-29e1ecde84cb.png)

при нажатии на кнопку **OK**, получаем

![2](https://cloud.githubusercontent.com/assets/11497453/19262744/563dfaf8

[2016-10-11 08:32] #3862 closed, assigned to nobody

[2016-10-12 07:38] NikolayUkleyko opened #3878 "Справочники. В справочник единиц измерения добавить поле 'К-во десятичных знаков' (Q)"
Перенесено из https://github.com/GoldenSoftwareLtd/gedemin-apps/issues/221

[2016-10-12 08:39] NikolayUkleyko opened #3879 "Грид. В таблице для полей-ссылок предусмотреть прокрутку списка значений скроллом мышки (Q)"
Пожалуйста, в таблице (гриде) для полей-ссылок предусмотрите прокрутку списка значений скроллом мышки.
Это распространяется на древовидные справочники и обычные списки.

![1](https://cloud.githubusercontent.com/assets/11497453/19303203/6bc48c1e-9070-11e6-9839-d2bd8b72b99c.png)

![2](https://cloud.githubusercontent.com/assets/11497453/19303207/6f2c0b20-9070-11e6-9956-d074afd549ce.png)

![3](https:/

[2016-10-18 10:58] NikolayUkleyko commented on #3877
Проверено.
Работает корректно.
Спасибо !

[2016-10-18 10:58] #3877 closed, assigned to iamchrisep

[2016-10-21 16:13] NikolayUkleyko opened #3880 "Глобальный прогресс-бар. Добавить формат для отображаемых записей"
Пожалуйста, для большей наглядности прогресс-бара добавьте формат для отображаемых записей.

![1](https://cloud.githubusercontent.com/assets/11497453/19605365/4385e00a-97c2-11e6-80cf-40a11a96ae4d.png)

[2016-10-26 12:40] NikolayUkleyko opened #3881 "Типовой документ. Складской документ. Справочники. Доступность реквизитов"
**Типовой документ / Складской документ / Справочники. Доработки**.

Пожалуйста, предусмотрите автоматический запрет выбора галок по противоречащим параметрам.
То есть, при выборе одного параметра сделать **недоступным для заполнения** другой связанный параметр.
Например, некорректен одновременный выбор галок по реквизитам **Осуществлять контроль остатков**, **Контроль только на текущие остатки**,

[2016-10-26 15:19] NikolayUkleyko opened #3882 "Бухгалтерия. Журнал-ордер. Добавить реквизит 'Включать субсчета в главный'"
**Исследователь / Бухгалтерия / Журнал-ордер**.

Пожалуйста, предусмотрите реквизит **Включать субсчета в главный**. Подобное реализовано в **Оборотной ведомости**.
##
## ![1](https://cloud.githubusercontent.com/assets/11497453/19731830/6294fbb4-9ba7-11e6-92df-f6afc9c9743b.png)
## ![2](https://cloud.githubusercontent.com/assets/11497453/19731842/6a261b6a-9ba7-11e6-925f-6d2fd9bf10f4.png)

В отличие

[2016-10-26 15:30] NikolayUkleyko opened #3883 "Глобальный прогресс-бар. Подготовка данных для расчета"
На больших объемах данных при запуске расчета окно глобального прогресс-бара отображается не сразу. Спустя минут 5-10, программа отображает данное окно с ходом пошагового выполнения расчетов.
**Так не должно быть. Не понятно, работает ли программа или нет**. Как предполагается, в момент от начала расчета до появления окна с выполнением расчета программа выполняет подготовку данных. Поэтому, предла

[2016-10-27 15:21] MIchaelShoihet commented on #3881
Сделаем

[2016-10-28 14:10] NikolayUkleyko opened #3884 "Создать глобальную форма ошибок (error list)"
Существующая форма не совсем информативна. Порой она отображается пустой. Поиск ошибок значительно затрудняется.
##
## ![1](https://cloud.githubusercontent.com/assets/11497453/19809111/7a6eb0d8-9d30-11e6-9f64-d46b54ab4ed9.png)

Предлагается, по аналогии глобального прогресс-бара добавить **глобальную форму отображения ошибок**. Перечень предполагаемых достоинств новой глобальной формы ошибок:

**1

[2016-11-03 15:12] AliakseiDanilchyk opened #3885 "Обнуление признаков в складском документе"
Если в обычном складском документе (например, Накладная на получение) выбрать признак существующей карточки, то сбросятся все признаки новой карточки.
Если такой документ не должен работать с FROM признаками, то надо сделать невозможным их выбор.

[2016-11-04 06:29] MIchaelShoihet commented on #3885
Простой складской документ, может работать либо только с существующими карточками либо с новыми. Поэтому при выборе одного из вида, сбрасывается другой.

[2016-11-04 06:49] AliakseiDanilchyk commented on #3885
Это понятно. Здесь ситуация была такая. Клиент пожаловался, что у него при заполнении позиций документа выскакивает ошибка об отсутствии FROM поля.  Я без задней мысли посоветовал добавить этот признак в настройках сладского документа. После чего все стало намного хуже, потому что это была приходная накладная, и в ней какая-то ошибка в коде.
Как минимум предупреждение о последствиях таких действий

[2016-11-04 07:43] NikolayUkleyko commented on #3885
@MIchaelShoihet , что подразумевается под этим ?

Приведенное здесь было давно и никто не обращал на это внимания или этот новый вопрос ?

[2016-11-04 08:11] MIchaelShoihet commented on #3885
Складские документы бывают 4 типов - простой складской (используется только для прихода нового ТМЦ либо для перемещения без изменения св-в, Документ изменения св-в - используется для перемещения с изменением св-в, Документ трансформации, Инвентаризационный документ). Так вот в простом складском документе - если он используется для прихода, то только новый признаки, если для перемещения - то только

[2016-11-04 10:47] YRozmysl opened #3886 "сИН"

[2016-11-04 10:51] YRozmysl opened #3887 "Долгая синхронизация ПИ"
Пришлось мне как-то поставить настройку через ПИ, на базе бро. Как известно, перед установкой проходит синхронизация.  По итогу этот процесс занял более полутора часа.  Может так и должно быть, или что-то можно оптимизировать. Дольше всего выполнялся вот этот запрос
![111](https://cloud.githubusercontent.com/assets/11507129/20003123/b86fcbfa-a295-11e6-967e-6cc3e6c02a17.jpg)

[2016-11-04 12:26] NikolayUkleyko commented on #3885
Абсолютно согласен. Само собой разумеется.

[2016-11-09 15:10] NikolayUkleyko opened #3888 "SQL-редактор/Таблицы. Предусмотреть поиск"
Пожалуйста, в SQL-редакторе предусмотрите возможность поиска для таблиц, как это предусмотрено для бизнес-классов. Поиск должен быть с учетом регулярных выражений.

**Таблицы**
![1](https://cloud.githubusercontent.com/assets/11497453/20142658/bf531200-a6a6-11e6-92ee-fd05889ed5c8.png)

---

**Бизнес-классы**
![2](https://cloud.githubusercontent.com/assets/11497453/20142670/cba1a30a-a6a6-11e6-958d-7

[2016-11-10 10:56] NikolayUkleyko opened #3889 "Редактор скрипт-объектов. Пропадает полоса прокрутки"
Уже не первый раз замечено, что в Редактор скрипт-объектов пропадает полоса прокрутки. Это уже чрезмерно многих напрягает.

![1](https://cloud.githubusercontent.com/assets/11497453/20174101/5b661d76-a74d-11e6-9e7d-e736dffa42c6.png)

Пожалуйста, исправьте.

[2016-11-11 12:49] NikolayUkleyko opened #3890 "БМКК. Торговля. Не работает глобальная блокировка периода"
***Исследователь / Торговля / Все документы***.

Не работает глобальная блокировка периода.

![1](https://cloud.githubusercontent.com/assets/11497453/20215598/5ea536e6-a826-11e6-9aac-4d641d63da68.png)

[2016-11-11 12:56] NikolayUkleyko opened #3891 "Сморгонь КХП. Не работают исключения по документу в глобальной блокировке периода (Q)"
Не работают исключения по документу в глобальной блокировке периода.

![1](https://cloud.githubusercontent.com/assets/11497453/20215734/59d53c28-a827-11e6-9fbe-16ddf60be297.png)

[2016-11-18 09:40] gsbelarus opened #3892 "Назойливое сообщение"
Если на компьютере нет подключения к интернету, то  говорят что в заголовке гедымина будет бесконечно вертеться сообщение о невозможности установить связь с сервером

[2016-11-18 12:46] NikolayUkleyko commented on #3875
Добавлено сочетание клавиш **Ctrl + Q**.

##

Проверено.
Работает корректно.
@iamchrisep , спасибо ! :trophy:

[2016-11-18 12:46] #3875 closed, assigned to nobody

[2016-11-25 14:26] NikolayUkleyko opened #3893 "Витебск МК. ЭСЧФ. Ручная разноска ЭСЧФ. Invalid parent subtype"
***Исследователь / ЭСЧФ / 6. Ручная разноска ЭСЧФ***.

При попытке установки ПИ (настройки) с типовым документом, таблицей и т. д. программа выдает окно с ошибкой и, нажав на кнопку **OK** закрывается:

![1](https://cloud.githubusercontent.com/assets/11497453/20627773/4831b7c8-b333-11e6-9aa3-05ca89751b80.png)

При следующих попытках подключения к БД программа снова выдает аналогичное окно и закрыв

[2016-11-28 07:59] NikolayUkleyko commented on #3893
Я уже ничему не удивляюсь.

[2016-11-29 05:15] alexandra-gsoftware commented on #3893
от себя добавлю: документ юзерский, только шапка, веточка в документтайпах, куда он входит, на базе уже есть. Остальное (таблица, типовой док, события, хранилище) вместе находятся в пи / настройке . На копии базы, что есть у нас, все хорошо  ставится.

[2016-11-29 07:58] gsbelarus commented on #3893
Тут не надо удивляться. Или поставить им новейший экзешник, или (если не поможет) то взять их БД, на которой вылазит ошибка и посмотреть из-под отладчика.

[2016-11-29 08:56] gsbelarus commented on #3893
Отсутствует класс. Как программа может работать? Например, если в исходниках Делфи не будет класса, который где-то используется, то такие исходники вообще не откомпилируются.

База где? чтобы посмотреть.

И еще вариант, в ПИ все что надо включено? А то может наследника включили, а родительский класс забыли.

[2016-11-29 09:57] alexandra-gsoftware commented on #3893
там обычный юзерский документ, его таблички, события и хранилище. На другие бд ставится.

[2016-11-29 11:49] gsbelarus commented on #3893
Тогда точно нужна дефективная база.

[2016-11-29 12:45] NikolayUkleyko commented on #3893
Удаленно рабочая БД.

[2016-11-29 12:54] gsbelarus commented on #3893
Удаленно не поможет. BK=> RAR => FTP.

[2016-11-29 13:16] NikolayUkleyko commented on #3893
Заявка отправлена.

[2016-11-29 13:38] NikolayUkleyko opened #3894 "Общие таблицы/локальные таблицы в БД"
В свое время **Гедымин** создавался с оглядкой на существующие системы и со взгядом на будущее. Предположительно, поэтому и были предусмотрены общие таблицы такие, как: AC_ENTRY, AC_RECORD, GD_DOCUMENT, INV_CARD и другие. До сих пор такие таблицы используются по их назначению.
  В случае ухода от общих таблиц и соответственно их использования в сторону локальных таблиц напрашивается вопрос, на ско

[2016-11-30 11:34] YRozmysl opened #3895 "Падение производительности при выполнении запроса в FB 3.0"
При пересчете в итоговом начислениии  ОЧЕНЬ долго выполняется запрос
В 3.0
![3_0](https://cloud.githubusercontent.com/assets/11507129/20750892/14b838b0-b70a-11e6-98b6-b53d3766930a.jpg)

В 2_5
![2_5](https://cloud.githubusercontent.com/assets/11507129/20750899/1bdc21b0-b70a-11e6-9fa6-4b904a49a334.jpg)

 SELECT doc.documentdate, card.*  FROM usr$wg_taxation card  JOIN USR$WG_P_EMPLTAXSTATE(:emplkey,

[2016-11-30 11:53] gsbelarus commented on #3895
Надо сравнить план и статистику в 2.5 и 3.0.

[2016-11-30 14:13] YRozmysl commented on #3895
ФБ 2.5
![plan_2_5](https://cloud.githubusercontent.com/assets/11507129/20755475/31e9b358-b720-11e6-8b04-2040442db319.jpg)
![stat_2_5](https://cloud.githubusercontent.com/assets/11507129/20755481/36f848c8-b720-11e6-8e85-1ee5ae4d1eda.jpg)
ФБ 3.0
![plan_3_0](https://cloud.githubusercontent.com/assets/11507129/20755493/40268f7c-b720-11e6-836a-8389a59506ea.jpg)
![stat_3_0](https://cloud.githubuserconte

[2016-12-01 09:32] NikolayUkleyko commented on #3890
Бухгалтера по торговле уже **не первый раз** интересуются данным вопросом. Актуальность вопроса повышается немалым количеством бухгалтеров по торговле. Вследствие неразбериха, кто да что.
Сверив данные и выполнив печать, спустя непродолжительное время (1-2 дня) выявляются расхождения. Данные расхождения, предположительно, получаются из-за ***лишнего*** перепроведения проводок по документам (того х

[2016-12-01 09:42] gs7600300 commented on #3890
**Проблема актуальна** на Сморгонском КХП.

[2016-12-01 09:47] MIchaelShoihet commented on #3890
На БМКК кто-то закомментировал все триггера блокировки. Причем закомментированы в IBExpert.

[2016-12-01 14:52] gsbelarus commented on #3895
Подождем, что скажут мудрые люди:

http://www.sql.ru/forum/1240993-a/neoptimalnyy-plan-v-fb-3-po-sravneniu-s-fb-2-5

[2016-12-01 16:15] gsbelarus commented on #3895
Пока они там у себя будут разбираться, мы можем внести маленькое исправление, которое решит проблему -- + 0 для отключения индекса:

[code]

[2016-12-02 07:49] YRozmysl commented on #3895
Да, отключение помогло, проверено.

[2016-12-05 09:49] NikolayUkleyko commented on #3894
Вопрос можно сформулировать иначе: зачем было изначально брать за основу общие таблицы, чтобы сейчас от них отказаться ?

[2016-12-15 09:22] gsbelarus commented on #3895
Будем ждать резолюции разработчиков:

http://tracker.firebirdsql.org/browse/CORE-5421

[2016-12-19 08:21] NikolayUkleyko opened #3896 "Бухгалтерия. Журнал-ордер. Отображение нулевых данных по валюте и эквиваленту"
**Исследователь / Бухгалтерия / Журнал-ордер**.

За месяц (10.2016 г.) сальдо по валюте ***закрыто в 0***, а по национальной валюте (белорусский рубль) сальдо ***не закрыто в 0***.
За месяц (11.2016 г.) формируем форму только ***по валюте***.
При этом форма отображает строку по валюте ***с нулевым сальдо и с нулевыми оборотами***.
Не логично получается.
Намеренно формируем форму только по валюте б

[2016-12-20 08:45] MIchaelShoihet opened #3897 "Автозадача перестает выполняться при переходе на новые сутки"
Редко, но бывает, что автозадача перестает выполняться в районе 12 часов ночи. (чуть раньше или чуть позже). Автозадача выполняется с частотой 3 минуты.

[2016-12-21 13:24] NikolayUkleyko commented on #3896
Аналогично проверил ситуацию, когда по национальной сальдо валюте закрыто, но есть сальдо в валюте и/или в эквиваленте.
В результате Журнал-ордер формируется без отображения нулевой строки по национальной валюте.
На мой взгляд это правильно.

Надо предусмотреть проверку согласно писаний в первом посте.

@MIchaelShoihet , пожалуйста, изложите, Вашу, точку зрения.

[2016-12-21 15:48] gsbelarus opened #3898 "Автозадача перестает выполняться после перехода компьютера в режим сна"
Ещё автозадачи перестают работать после режима сна. Т.е. компютер работает - работают автозадачи, отправляем в сон - компьютер спит, автозадачи не выполняются; компьютер разбудили - работает, а автозадачи нет, нужна перезагрузка платформы.

[2016-12-21 15:49] gsbelarus commented on #3898
Сначала надо повторить. Я бы сделал автозадачу, которая пишет в файл каждые 5 сек. (Взять текстовый файл и дописывать туда каждый раз строку с увеличивающимся номером). Затем перевел комп в режим сна, затем назад и посмотрел бы что происходит. Если действительно прекращается, то разбираться.

[2016-12-22 11:43] #3892 closed, assigned to gsbelarus

[2016-12-23 05:43] kovli commented on #3860
А может не изобретать велосипед? Посмотрите как установлены курсы на сайте НБРБ. Там, помимо курса, указан коэффициент - за сколько. Сам курс указан с 4-мя знаками после запятой. То, что нам и нужно. Полностью вписываемся в Currency.  А коэффициент (множитель) - указывает за какое количество валюты установлен курс. За 1, 10, 100 и т.д.  Давайте и мы добавим в наш справочник валют этот коэффициент-

[2016-12-23 05:45] kovli commented on #3860
В дополнение к предыдущему посту. С коэффициентом  (множителем) и курсы валют с сайте загружать легче. Ничего не нужно пересчитывать. Закгрузил коэффициент и курс на дату. И все.

[2016-12-23 09:35] gsbelarus commented on #3860
я бы добавил два поля amount и value. с пересчетом на триггере. если задан коэфф, то value = amount * coeff. Если value не задан, то берем 1. Если задан value и amount, то наоборот -- высчитываем коэф от них.

Это сохранит весь действующий код в неизменном виде.

Новый код уже можно писать исходят из этих двух полей.

и как предлагается выше, можно на уровне платформы ввести функцию получения курс

[2016-12-23 10:04] kovli commented on #3860
На эту функцию можно возложить и расчет кросс-курса входной валюты относительно выходой (6-й параметр - CrossRate). Например, сегодня 22.12.2016, курс USD = 1,9577. Если я обратился к этой функции и задал в качестве CurrKeyIn (входная валюта) = 200020 (USD), а в качестве выходной валюты CurrKeyOut = 200010 (бел.рубль), то CrossRate д.б. равно 1,9577.  Если CurrKeyIn (входная валюта) = 200050 (RUB

[2016-12-23 10:04] MIchaelShoihet commented on #3896
Да надо будет поправить.

[2016-12-23 10:07] gsbelarus commented on #3860
Да (про поля). Существующие оставляем и их логику не меняем. Тогда ничего не сломается. А функция (и все остальные желающие) могут начинать работать с новыми полями.

[2016-12-23 14:59] NikolayUkleyko commented on #3890
Проверено.
Работает корректно.
@MIchaelShoihet , спасибо !

[2016-12-23 14:59] #3890 closed, assigned to nobody

[2016-12-26 14:56] NikolayUkleyko opened #3899 "ПИ. Окно синхронизации. Добавить реквизит 'Отобразить только корневые файлы'"
Пожалуйста, предусмотрите в *форме синхронизации ПИ* реквизит **Отобразить только корневые файлы**. Пример, ПИ из папки Бухгалтерия, Склад. В данные папки входит перечень папок и **перечень файлов** не входящих в какие либо папки. Из перечня только корневых файлов необходимо выбрать требуемые. Таким образом, при установке ПИ добавится удобство работы с формой и минимизируется выбор лишних ПИ.

[2017-01-02 08:00] NikolayUkleyko commented on #3858
Проверено.
Работает корректно.
@MIchaelShoihet , спасибо !

Пожалуйста, закройте данную тему.

[2017-01-02 08:04] NikolayUkleyko commented on #3854
Проверено.
Работает корректно.
@MIchaelShoihet , спасибо !

Пожалуйста, закройте данную тему.

[2017-01-02 08:12] NikolayUkleyko commented on #3846
Проверено.
Работает корректно.
@iamchrisep , спасибо ! :trophy:

[2017-01-02 08:12] #3846 closed, assigned to nobody

[2017-01-02 08:27] NikolayUkleyko commented on #3832
Проверено.
Работает корректно.
@iamchrisep  , спасибо ! :trophy:

[2017-01-02 08:27] #3832 closed, assigned to nobody

[2017-01-02 08:39] NikolayUkleyko commented on #3765
Проверено.
Работает корректно.
@iamchrisep , спасибо ! :trophy:

[2017-01-02 08:39] #3765 closed, assigned to nobody

[2017-01-02 08:49] NikolayUkleyko commented on #3761
Проверено.
Работает корректно.
@iamchrisep , спасибо ! :trophy:

[2017-01-02 08:49] #3761 closed, assigned to nobody

[2017-01-02 13:38] NikolayUkleyko commented on #3305
@gsbelarus , пожалуйста, закройте тему.

[2017-01-02 13:45] NikolayUkleyko commented on #2991
@gsbelarus , пожалуйста, закройте тему.

[2017-01-02 13:46] NikolayUkleyko commented on #2947
@gsbelarus , пожалуйста, закройте тему.

[2017-01-02 13:49] NikolayUkleyko commented on #2405
@gsbelarus , пожалуйста, закройте тему.

[2017-01-02 14:02] NikolayUkleyko commented on #1006
@gsbelarus , пожалуйста, закройте тему.

[2017-01-02 14:03] NikolayUkleyko commented on #984
@gsbelarus , пожалуйста, закройте тему.

[2017-01-02 14:04] NikolayUkleyko commented on #1043
@gsbelarus , пожалуйста, закройте тему.

[2017-01-02 14:16] NikolayUkleyko commented on #400
@gsbelarus , пожалуйста, закройте тему.

[2017-01-02 15:25] NikolayUkleyko opened #3900 "Бухгалтерия. Журнал хоз. операций. В диалоговой форме неактивна кнопка 'Удалить'"
**Исследователь / Бухгалтерия / Журнал хоз. операций**.

В диалоговой форме при работе со сложными проводками неактивна кнопка **Удалить**. При этом, горячие клавиши здесь не предусмотрены. Вроде бы, раньше эта кнопка была доступна. @MIchaelShoihet , скажите, пожалуйста, так, задумано или нет ?

[2017-01-03 09:48] #400 closed, assigned to alexandra-gsoftware

[2017-01-03 09:49] #1043 closed, assigned to gsbelarus

[2017-01-03 09:49] #984 closed, assigned to gsbelarus

[2017-01-03 09:49] #1006 closed, assigned to gsbelarus

[2017-01-03 09:49] #2405 closed, assigned to gsbelarus

[2017-01-03 09:49] #2947 closed, assigned to gsbelarus

[2017-01-03 09:49] #2991 closed, assigned to gsbelarus

[2017-01-03 12:52] #3858 closed, assigned to MIchaelShoihet

[2017-01-03 12:52] #3854 closed, assigned to MIchaelShoihet

[2017-01-04 15:41] NikolayUkleyko commented on #3886
Данная тема ошибочно создана.
@gsbelarus , пожалуйста, закройте тему.

[2017-01-04 15:59] NikolayUkleyko commented on #3841
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-01-04 16:00] NikolayUkleyko commented on #3837
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-01-04 16:00] alexandra-gsoftware commented on #3841
неактуально.

[2017-01-04 16:00] #3841 closed, assigned to MIchaelShoihet

[2017-01-04 16:01] NikolayUkleyko commented on #3835
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-01-04 16:02] NikolayUkleyko commented on #3823
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-01-04 16:02] NikolayUkleyko commented on #3831
Коллеги, если, на ,ваш, взгляд данная тема уже неактуальна, пожалуйста, закройте ее.

[2017-01-04 19:12] #3823 closed, assigned to nobody

[2017-01-04 19:13] #3837 closed, assigned to MIchaelShoihet

[2017-01-05 15:06] #3612 closed, assigned to MIchaelShoihet

[2017-01-05 15:27] NikolayUkleyko commented on #3878
В справочник единиц измерения параметр добавлен. Это хорошо.
![1](https://cloud.githubusercontent.com/assets/11497453/21685788/fad81060-d373-11e6-8fca-7d51627beab0.png)

----

Однако, в Журнале-ордере при выборе определенного количественного показателя динамически не заполняется реквизит **Количество знаков после запятой**. Это не хорошо.
![2](https://cloud.githubusercontent.com/assets/11497453/21

[2017-01-07 15:00] gsbelarus opened #3901 "В GD_CONTACT добавить широту и долготу для указания координат объекта"
Соответственно и домены создать под это дело.

[2017-01-08 08:14] ShlTanya commented on #3898
Не удалось воспроизвести такую ситуацию. Была создана задача, которая пишет в файл время выполнения. Пробовала разные ситуации: вводила в сон вручную, компьютер сам переходил в режим сна, ставила отключение жестких дисков.. После пробуждения задача всегда стартовала и отрабатывала дальше.
Для дальнейшей локализации проблемы необходимо узнать точные параметры задачи, которая ведет себя некорректно.

[2017-01-08 11:51] gsbelarus commented on #3898
Я пока переоткрою. Надо узнать у людей, которые с этим сталкивались непосредственно.

@MIchaelShoihet

[2017-01-08 12:09] #3886 closed, assigned to nobody

[2017-01-08 12:23] gsbelarus commented on #3893
Есть база посмотреть этот момент?

[2017-01-08 13:43] gsbelarus commented on #3894
Пока никто ни от чего не отказывается. Идут эксперименты. У общих таблиц есть плюсы и минусы. 20 лет назад не было ех возможностей SQL (cte, window functions) которые бы позволяли сводить разрозненные таблицы в единое целое.

[2017-01-08 13:43] #3894 closed, assigned to nobody

[2017-01-08 13:44] gsbelarus commented on #3891
Надо сравнить триггеры блокировки с эталонными. Может там какая очень старая версия бд.

[2017-01-08 13:46] gsbelarus commented on #3883
Это не к гедымину, а к разработчику конкретного решения. Пусть он вызывает прогресс бар с самого начала процесса. Как я понимаю такая ситуация возникает когда сначала запускается SQL запрос, а потом уже обрабатываются его выборка.

[2017-01-08 13:46] #3883 closed, assigned to nobody

[2017-01-08 13:52] gsbelarus commented on #3880
Не всегда один шаг равен одному )) Для неравномерных процессов будет разное количество и тогда некорректно писать **Обработка позиции 1157**.

[2017-01-08 13:52] #3880 closed, assigned to nobody

[2017-01-08 13:53] gsbelarus commented on #3878
А если выбраны несколько количественных показателей и у каждого разное кол-во дес знаков?

[2017-01-08 14:09] gsbelarus commented on #3895
В новой версии ФБ должно быть уже исправлено. Надо будет проверить.

[2017-01-08 15:45] ShlTanya commented on #3888
В SQL-редакторе уже реализована возможность поиска для таблиц (без учета регулярных выражений)
![tbl](https://cloud.githubusercontent.com/assets/24572314/21751115/a37d1d22-d5d2-11e6-8566-2596afa794ee.jpg)

[2017-01-08 15:49] gsbelarus commented on #3888
Отлично. Значит уже было сделано. Закрываем.

[2017-01-08 15:49] #3888 closed, assigned to ShlTanya

[2017-01-08 19:34] hirurg-lybitel commented on #3898
@gsbelarus это не на "Мир кубиков" случаем?

[2017-01-08 20:13] gsbelarus commented on #3898
Я не знаю. А что у них?

[2017-01-08 20:24] hirurg-lybitel commented on #3898
Формулировка последствий похожая, но предпосылки другие.
Там вопрос не к программе

[2017-01-09 09:09] NikolayUkleyko commented on #3878
Я про это писал:

Тогда, не заполнять данный реквизит.

[2017-01-09 09:14] NikolayUkleyko commented on #3888
@gsbelarus , не забыть закинуть данные изменения в gedemin.exe на сайте.

[2017-01-09 09:20] PiuPauTralala commented on #3880
Я так понимаю, что просят возможность писать "1 156 из 3 009" вместо "1156 из 3009".
Если нижний подстрочник пишет сам программист, и можно использовать FormatNumber, то верхняя строчка вне власти.

[2017-01-09 09:37] gsbelarus commented on #3880
Это сделано уже давно.

[2017-01-09 09:42] PiuPauTralala commented on #3898
Нет, это не "Мир Кубиков". А к чему там вопрос?

[2017-01-09 09:48] gsbelarus commented on #3898
В любом случае, человек проверял, у него не повторяется. У нас на офисе на
серверах настроены автозадачи. Сервера не перегружаются по 3-4 недели и
тоже нет проблем с переходом на новые сутки. Так что надо искать в другом
месте. Гедымин тут не причем.

On Mon, Jan 9, 2017 at 12:42 PM, M.Burakina <notifications@github.com>
wrote:

[2017-01-09 09:55] NikolayUkleyko commented on #3893
@gsbelarus , БД достигли больших размеров. Удаленно на сервере сделают тестовые версии БД.

[2017-01-09 11:02] #3869 closed, assigned to gsbelarus

[2017-01-09 14:34] NikolayUkleyko opened #3902 "Бухгалтерия. Журнал хоз. операций. Сторнировать проводку. Мелкие правки"
**Исследователь / Бухгалтерия / Журнал хоз. операций**.

----

**1.**

![2017-01-09_171353](https://cloud.githubusercontent.com/assets/11497453/21769629/c11ad55e-d690-11e6-9f83-7338c3731650.png)

![2017-01-09_171805](https://cloud.githubusercontent.com/assets/11497453/21769630/c1269f9c-d690-11e6-985d-f8e9fae1f1f1.png)

В параметре **Привязать к типовой операции** предусмотреть сортировку по возрас

[2017-01-09 14:37] NikolayUkleyko commented on #3882
Обсуждали с коллегами - пришли к выводу не делать доработок по данной теме.

[2017-01-09 14:37] #3882 closed, assigned to nobody

[2017-01-09 14:57] NikolayUkleyko commented on #3753
Проверено.
Есть вопросы.

По вновь созданным автоматическим хоз. операциям в карте счета в поле **Типовая проводка**   значения отображаются **корректно**.

Попробовал на примере, автоматических хоз. операций **Формирование нулевого сальдо по выбранным счетам**: пересохранял автоматическую хоз. операцию, делал копию и т. д.
В карте счета в поле **Типовая проводка** значения отображаются **некоррек

[2017-01-09 16:07] #3901 closed, assigned to gsbelarus

[2017-01-09 16:24] gsbelarus commented on #3642
@alexandra-gsoftware это еще актуально?

[2017-01-09 16:25] gsbelarus commented on #2968
@stasgm это надо кому еще?

[2017-01-09 16:41] #3544 closed, assigned to gsbelarus

[2017-01-09 16:43] #654 closed, assigned to gsbelarus

[2017-01-09 16:43] #776 closed, assigned to gsbelarus

[2017-01-09 16:44] #3305 closed, assigned to gsbelarus

[2017-01-09 16:44] #3346 closed, assigned to gsbelarus

[2017-01-09 16:44] #3425 closed, assigned to nobody

[2017-01-09 16:45] #3429 closed, assigned to gsbelarus

[2017-01-09 16:45] #3468 closed, assigned to gsbelarus

[2017-01-09 16:45] #3527 closed, assigned to gsbelarus

[2017-01-09 16:45] #3831 closed, assigned to MIchaelShoihet

[2017-01-09 16:46] #3835 closed, assigned to gsbelarus

[2017-01-09 16:46] alexandra-gsoftware commented on #3642
вроде уже работает

[2017-01-09 16:46] #3642 closed, assigned to gsbelarus

[2017-01-09 16:54] gsbelarus commented on #3723
Еще актуален этот вопрос?

[2017-01-09 17:34] ShlTanya commented on #3795
Проверено. Работает корректно.
![2](https://cloud.githubusercontent.com/assets/24572314/21776314/f56621f0-d6aa-11e6-9696-7e9182ade310.jpg)

[2017-01-09 17:40] gsbelarus commented on #3871
Вычисляемое поле может любой тип иметь. например дата или строка.

Тут два варианта решения проблемы. Можно просто **Value** использовать. Можно смотреть на тип в системных таблицах и нужное подставлять. **Value** может и лучше. А может и не лучше. В зависимости от того, что мы хотим с NULL делать.

Посмотреть, сможем ли мы тип поднять из системных таблиц.

[2017-01-09 18:37] stasgm commented on #3273
Наверное, сделали)

[2017-01-09 18:37] #3273 closed, assigned to gsbelarus

[2017-01-09 19:17] stasgm commented on #2968
Никто не отозвался. Не актуально.

[2017-01-09 19:17] #2968 closed, assigned to gsbelarus

[2017-01-09 19:19] stasgm commented on #3257
Неактуально.

[2017-01-09 19:19] #3257 closed, assigned to gsbelarus

[2017-01-09 19:20] stasgm commented on #3239
Было сделано

[2017-01-09 19:20] #3239 closed, assigned to gsbelarus

[2017-01-09 19:20] stasgm commented on #3238
Неактуально.

[2017-01-09 19:20] #3238 closed, assigned to gsbelarus

[2017-01-09 19:21] stasgm commented on #3237
Неактуально.

[2017-01-09 19:21] #3237 closed, assigned to gsbelarus

[2017-01-09 19:21] stasgm commented on #3213
Было сделано

[2017-01-09 19:21] #3213 closed, assigned to gsbelarus

[2017-01-09 19:24] stasgm commented on #3211
Неактуально.

[2017-01-09 19:24] #3211 closed, assigned to gsbelarus

[2017-01-09 19:24] stasgm commented on #3208
Было сделано

[2017-01-09 19:24] #3208 closed, assigned to gsbelarus

[2017-01-09 19:24] stasgm commented on #3205
Было сделано

[2017-01-09 19:24] #3205 closed, assigned to gsbelarus

[2017-01-09 19:25] stasgm commented on #3141
Было сделано

[2017-01-09 19:25] #3141 closed, assigned to gsbelarus

[2017-01-09 19:29] stasgm commented on #3025
Это вопросы из старой версии. Почти всё сделано в новой.

[2017-01-09 19:29] #3025 closed, assigned to gsbelarus

[2017-01-09 19:30] stasgm commented on #2985
Неактуально.

[2017-01-09 19:30] #2985 closed, assigned to gsbelarus

[2017-01-09 19:30] stasgm commented on #2984
Было сделано.

[2017-01-09 19:30] #2984 closed, assigned to gsbelarus

[2017-01-09 19:31] stasgm commented on #2983
Всё сделано кроме пункта 3, который пока не особо актуален.

[2017-01-09 19:31] #2983 closed, assigned to gsbelarus

[2017-01-09 19:31] stasgm commented on #2972
Было сделано.

[2017-01-09 19:31] #2972 closed, assigned to gsbelarus

[2017-01-09 19:33] stasgm commented on #2187
За 7 лет с момента создания задачи проблема возникает очень редко. По техническим причинам.

[2017-01-09 19:33] #2187 closed, assigned to gsbelarus

[2017-01-10 10:12] NikolayUkleyko commented on #3425
Немного погодя к данной теме еще вернемся.

[2017-01-10 10:19] NikolayUkleyko commented on #776
По поводу привязки нескольких банковских счетов к одному **сотруднику** понятно (сам еще не проверял).

По поводу привязки нескольких банковских счетов к одному **физическому лицу** непонятно.

[2017-01-10 10:51] NikolayUkleyko commented on #3899
Проверено.
Работает некорректно.

1. Для наглядности рассмотрим папку **Name_space_new\gedemin-apps\Склад**.
Выполнили сравнение с файлами по умолчанию. То есть, без выбора галки по реквизиту **Скрыть каталоги**:

![2017-01-10_133339](https://cloud.githubusercontent.com/assets/11497453/21803290/8416c442-d73a-11e6-9122-ab0c0133a56d.png)

----

2. По реквизиту **Скрыть каталоги** проставили галку:

[2017-01-10 10:55] gsbelarus commented on #3899
Так работает или нет? Закрывать?

[2017-01-10 10:58] NikolayUkleyko commented on #3723
Данный вопрос актуален.

Проверено.
Работает корректно.
@gsbelarus , спасибо !

[2017-01-10 10:58] #3723 closed, assigned to gsbelarus

[2017-01-10 11:04] NikolayUkleyko commented on #3795
Проверено.
Работает некорректно.

Для наглядности рассматривал **Name_space_new\gedemin-apps\Склад**:

![2017-01-10_140242](https://cloud.githubusercontent.com/assets/11497453/21803968/aa1f3964-d73d-11e6-9a56-cc09c0fc4877.png)

[2017-01-10 11:05] NikolayUkleyko commented on #3899
Не работает.
Не закрывать.

[2017-01-10 11:09] NikolayUkleyko commented on #3871
Было бы хорошо.

[2017-01-10 11:11] gsbelarus commented on #3795
А точно последний экзешник?

[2017-01-10 11:13] NikolayUkleyko commented on #3795
Вот-вот горячий с сайта )

Дата файла           = 09.01.2017
Версия файла         = 2.9.3.8944

[2017-01-10 11:37] PiuPauTralala commented on #3795
В примерах Николая 8 строчек и отображает как 8 ПИ(фактически 4 ПИ), во втором строчек 4, и пишет 4 ПИ(фактически 2 ПИ).
В примере Татьяны 5 строчек и 5 ПИ.
Выходит кол-во ПИ считается построчно? 1 строка = 1 ПИ?

[2017-01-10 11:39] gsbelarus commented on #3795
Там скорее всего выводится от мемо Lines.Count а их становится больше из-за переносов строки. Надо брать наверное от изначального списка.

[2017-01-10 12:11] #3893 closed, assigned to nobody

[2017-01-10 12:12] NikolayUkleyko commented on #3795
Могу предположить, что такое расхождение еще может быть из-за связанных (зависимых) файлов ПИ.

[2017-01-10 12:28] alexandra-gsoftware commented on #3893
так а что, поправили?

[2017-01-10 12:31] NikolayUkleyko commented on #3893
Коллеги, не будем ссориться.

[2017-01-10 13:13] ShlTanya commented on #3899
На данной форме добавлено 2 галки:
1 - Подкат. (возле параметра Сущ.) - в выключенном состоянии отображает только корневые файлы (то, что Вы хотели)
2 - Скрыть каталоги - это фильтр, который отображает/скрывает строки с наименованием только каталогов в выборке.

[2017-01-10 13:46] YRozmysl commented on #3895
У нас на vkl версия FB 3.0 обновленная?

[2017-01-10 13:49] gsbelarus commented on #3895
Еще нет. Вечером обновлю. Завтра можно будет проверить.

[2017-01-10 14:22] NikolayUkleyko commented on #3899
Из-за сильно сокращенных названий реквизитов не сразу заметил данный реквизит.
Пожалуйста, перенесите все реквизиты типа Boolean на одну панель и предусмотрите не сокращенные названия таких реквизитов.

Проверено.
Работает корректно.

Проверено.
Работает корректно.

@ShlTanya , спасибо ! :trophy:

[2017-01-10 14:27] gsbelarus commented on #3899
не надо никуда ничего переносить. экономим место на экране. там хинты всплывающие содержат подробную информацию.

[2017-01-10 14:27] #3899 closed, assigned to ShlTanya

[2017-01-10 14:44] NikolayUkleyko commented on #3899
OK !

[2017-01-10 19:05] MAliaksandr opened #3903 "Отчеты по торговому складу. Платежный календарь."
В отчетах по торговому складу есть отличная форма **"Платежный календарь"**. Буквально на днях столкнулся с недовольством клиента:
**1. Не суммируются колонки.**(данная проблема решаема через переделывания TClienDataSet на TIBDataset)
**2. Отсутствуют какие-либо печатные формы**
3. И самое интересное. **"Почему он не показывает по каким накладным проходили оплаты?"**

Поковыряв саму форму, было оп

[2017-01-10 19:31] gsbelarus commented on #3903
Это не оно?

http://gsbelarus.com/pw/articles/post/platezhnyi-kalendar-upravlencheskii-uchet-na-platforme-gedymin/

Внизу там и ссылка на документацию.

[2017-01-10 19:51] MAliaksandr commented on #3903
Похоже на то, что оно самое. За исключением функционала. Видно он куда-то затерялся. Гляньте эталон. Или я чего-то не вижу?

[2017-01-10 20:14] MIchaelShoihet commented on #3903
Это отдельная настройка, которая разрабатывалась для бройлеров, но ей так и не пользовались. Та что идет в стандарте, она примитивна и идет как бонус... В любом случае полноценный платёжный календарь это отдельная задача, причем в общем случае достаточно сложная.

[2017-01-10 20:19] MIchaelShoihet commented on #3903
Даже нет, то что описано это экспериментальная версия для других клиентов... То же не стали пользоваться. Я работаю над одной из версий плат.календаря но в очередной раз вижу, что в общем виде достаточно сложная задача. Предварительную версию могу показать при случае.

[2017-01-10 20:29] MAliaksandr commented on #3903
Отлично! И все таки с тем что есть надо либо что-то сделать(в виде мелких доделок:итогов,отчетов), либо убрать вообще, чтобы не ломать психику клиентов)

[2017-01-10 20:32] MIchaelShoihet commented on #3903
Мелкие доделки делать не имеет смысл. Лучше тогда убрать.

[2017-01-10 20:35] MAliaksandr commented on #3903
Тогда убираем с эталона и снимаем вопрос до релиза адекватного календаря

[2017-01-10 20:37] MIchaelShoihet commented on #3903
Но полноценный платёжный календарь будет работать по хорошему только на комплексной автоматизации.

[2017-01-11 02:17] gsbelarus commented on #3903
Я переоткрою, пока не будет решено.

[2017-01-11 08:17] #3795 closed, assigned to ShlTanya

[2017-01-11 08:22] NikolayUkleyko commented on #3899
Жаль, что перенос слов здесь не предусмотрен.

[2017-01-11 08:26] gsbelarus opened #3904 "Не синхронизируется номер документа между позициями и шапкой"
@kovli пишет:

Столкнулся с интересной ситуацией. Клиент строит карточку движения по позиции складского документа и в карточке в качестве номера документа видит Мядель. Стали смотреть этот документ, оказалось в шапке номер один, а в позициях - другой. Но есть же триггер **GD_AU_DOCUMENT**, который, собственно и приводит в соответствие ряд полей шапки и позиций, в том числе и номер документа. Т.е.

[2017-01-11 08:27] NikolayUkleyko commented on #3904
Сталкивался. Такое видел редко и особенно на винтажных БД (Береза МКК).

Абсолютно с Вами согласен. Нездоровая ситуация.

Чего у нас только нет.

[2017-01-11 10:49] NikolayUkleyko commented on #3891
Аналогичная ситуация есть и на Гомельобоях.
Вопрос: **где-нибудь вообще работает исключение по типовым документам в глобальной блокировке периода ?**

[2017-01-11 10:53] MIchaelShoihet commented on #3891
Везде работает.

[2017-01-11 10:54] gsbelarus commented on #3891
Где не работает -- проверьте все триггеры блокировки. Или отключены они, или повреждены.

[2017-01-11 12:41] alexandra-gsoftware commented on #3903
я выкидываю существующую версию из КА

[2017-01-11 12:43] MIchaelShoihet commented on #3903
да

[2017-01-11 13:01] alexandra-gsoftware commented on #3904
мне кажется, этот триггер меняет номер у позиций при изменении номера в шапке. А потом можно спокойно поменять номер в позиции.

[2017-01-11 13:14] alexandra-gsoftware commented on #3904
да, проверила, так и есть, так всегда было....

[2017-01-11 13:20] gsbelarus commented on #3903
конечно. ломать не строить.

On Wed, Jan 11, 2017 at 3:43 PM, MIchaelShoihet <notifications@github.com>
wrote:

[2017-01-11 13:22] alexandra-gsoftware commented on #3903
ну не скажите. Сломать так, чтобы остальное не сломалось, достаточно сложно...)

[2017-01-11 13:52] NikolayUkleyko commented on #3891
Проверил на эталоне.
Не работает исключение по типовым документам в глобальной блокировке периода.

Я давно выявил данную проблему. Никому не интересно.